<div class=" ">
  <div class="d-flex align-items-center">
    <div class="mr-auto m--padding-20">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Faculty
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/staff" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/config" class="m-nav__link">
            <span class="m-nav__link-text">
              Configuration
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/config/faculty" class="m-nav__link">
            <span class="m-nav__link-text">
              Faculties
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
            <span class="m-nav__link-text">
              {{ faculty?.name}}
            </span>
        </li>
      </ul>
    </div>

  </div>
</div>

<div id="createDepartmentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Department</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="name" class="col-3 col-form-label">
                <span class="styleStar">*</span>Name
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="name" type="text" id="name">
                <small
                  class="m--font-danger"
                  *ngIf="createForm.get('name').touched && createForm.get('name').invalid">
                  Name is Required
                </small>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="code" class="col-3 col-form-label">
                <span class="styleStar">*</span>Code
              </label>
              <div class="col-9">
                <input class="form-control m-input" maxlength="3" formControlName="code" type="text" id="code">
                <div *ngIf="createForm.get('code').dirty || createForm.get('code').touched">
                  <small class="m--font-danger" *ngIf="createForm.get('code').hasError('required')">Code is Required
                  </small>
                  <small class="m--font-danger"
                         *ngIf="createForm.get('code').hasError('minlength') || createForm.get('code').hasError('maxlength')">
                    Code should be exactly 3 letters
                  </small>
                </div>
                <!--<div style="color: red; font-size: 11px">Only 3 Letter Word is Required</div>-->

                <!--<small class="m&#45;&#45;font-danger">Maximum of three(3) letters</small>-->
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="createDepartmentFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal" [disabled]="feedBack.submitStatus || createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>
<!--


                                |||||||||||||||     BREAK IN TRANSMISSION     ||||||||||||||||||||||||




-->

<!--Update Modal -->
<div id="openModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modal_title }}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="department-name" class="col-3 col-form-label">
                <span class="styleStar">*</span>Name
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="name" type="text" id="department-name">
                <small class="m--font-danger" *ngIf="createForm.get('name').invalid && createForm.get('name').touched">
                  Name is Required
                </small>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="department-code" class="col-3 col-form-label">
                <span class="styleStar">*</span>Code
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="code" type="text"id="department-code">
                <div *ngIf="createForm.get('code').dirty || createForm.get('code').touched">
                  <small class="m--font-danger" *ngIf="createForm.get('code').hasError('required')">Code is Required</small>
                  <small class="m--font-danger"
                         *ngIf="createForm.get('code').hasError('minlength') || createForm.get('code').hasError('maxlength')">
                    Code should be exactly 3 letters
                  </small>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="!feedBack.showUpdateButton" (click)="createDepartmentFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal" [disabled]="feedBack.submitStatus || createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack?.submitStatus"></i>
        </button>
        <button type="button" *ngIf="feedBack?.showUpdateButton" (click)="updateDepartmentFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="feedBack.submitStatus || createForm.invalid">
          Update <i *ngIf="feedBack?.submitStatus"> class="m-loader m-loader--right m-loader--brand" ></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>
<!--Update Modal -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="row">
      <table class="table table-bordered col-4">
        <tr>
          <td>Name</td>
          <td>{{faculty?.name}}</td>
        </tr>
        <tr>
          <td>Code</td>
          <td>{{faculty?.code}}</td>
        </tr>
        <tr>
          <td>Current Dean</td>
          <td>{{faculty?.current_dean?.fullname}}</td>
        </tr>
      </table>
      <div class="col-3"></div>
      <div class="col-5 vertical">
        <form class="form-group row" *ngIf="iAmPermitted('school.profile.dean.add')">
          <div class="col-7">
            <select class="form-control" #dean_id>
              <option value="" disabled>Select Dean</option>
              <option *ngFor="let staff of facultyStaff" value="{{staff?.id}}">{{staff?.fullname}}</option>
            </select>
          </div>
          <div class="col-5">
            <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                    (click)="setDean(dean_id.value)">
              Change Dean &nbsp;&nbsp;
              <i *ngIf="feedBack.setDean" class="m-loader m-loader--brand"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="m-portlet__body row">
    <div class="col-sm-8 border-right my-3">
      <h5 class="m-portlet__head-text">
        Departments
        <button class="btn btn-accent m-btn--pill float-right mb-4" (click)="openCreateModal()" *ngIf="iAmPermitted('school.department.create')">
          <i class="la la-plus"></i>
          Department
        </button>
      </h5>
      <table
        class="table m-table m-table--head-separator-primary table-hover table-striped table-bordered small-margin">
        <thead class="thead-color">
        <tr>
          <th title="Serial Number">#</th>
          <th title="Name">Name</th>
          <th title="Code">Code</th>
          <th title="Created Date">Created Date</th>
          <th title="Action" class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="feedBack?.loading">
          <td colspan="6" *ngIf="feedBack?.loading" class="text-center">
            Loading data &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i>
          </td>
          <td class="text-center" colspan="6" *ngIf="!feedBack?.loading && faculty?.departments === 0">
            No Content Found
          </td>
        </tr>
        <tr *ngFor="let department of faculty?.departments; let i = index">
          <td scope="row">{{i + 1}}</td>
          <td><a class="m-link m-link--focus m-login__account-link"
                 [routerLink]="['/staff/config/department',department?.id]">{{department?.name}}</a></td>
          <td>{{department?.code}}</td>
          <td>{{department?.created_at | date}}</td>
          <td data-field="Type" class="m-datatable__cell">
            <a class="dropdown-item" (click)="onEdit(department)" *ngIf="iAmPermitted('school.department.update')">
              <i class="la la-edit"></i>
              Edit
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4 my-3">
      <div *ngIf="iAmPermitted('school.profile.dean.list')">
        <h5 class="m-portlet__head-text">Deans</h5>
        <div class="m--margin-20"></div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let dean of facultyDeans">
            {{dean?.staff?.fullname}}
            <span class="m-badge m-badge--warning m-badge--wide float-right" *ngIf="dean?.status == 2">Acting</span>
            <span class="m-badge m-badge--accent m-badge--wide float-right" *ngIf="dean?.status == 1">Current</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
