<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{viewedGroup?.name|titlecase}}
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#m_tabs_1_1">
          Information
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">
          Tasks
        </a>
        <div class="dropdown-menu" x-placement="bottom-start"
             style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
          <a class="dropdown-item" data-toggle="tab" href="#m_tabs_1_2">
            Permissions
          </a>
          <a class="dropdown-item" data-toggle="tab" href="#m_tabs_1_2">
            Authorizations
          </a>
        </div>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="m_tabs_1_1" role="tabpanel">
        <div class="row">
          <div class="col-md-4">
            <p>
              <b>Name:</b> {{viewedGroup?.name}}
            </p>
            <p>
              <b>Role:</b> {{viewedGroup?.role?.split('_').join(' ')}}
            </p>
            <p>
              <b>Date Created:</b> {{viewedGroup?.created_at|date:'medium'}}
            </p>
            <p>
              <b>Date Update:</b> {{viewedGroup?.updated_at|date:'medium'}}
            </p>
            <p>
              <b>Status: </b><span class="m-badge m-badge--success" *ngIf="viewedGroup?.enabled?.toString()==='1'">Enabled</span>
              <span class="m-badge m-badge--danger" *ngIf="viewedGroup?.enabled?.toString()==='0'">Disabled</span>
            </p>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-12">
                <h4 class="text-center">
                  <b>Active Hour :</b> {{viewedGroup?.active_hour?.name}}  <span class="m-badge m-badge--success" *ngIf="viewedGroup?.active_hour?.enabled?.toString()==='1'">
												Enabled
										</span>

                  <span class="m-badge m-badge--danger"
                        *ngIf="viewedGroup?.active_hour?.enabled?.toString()==='0'">
										Disabled
										</span>
                </h4>
                <div>

                  <div >
                    <div class="row">
                      <div class="col-6">
                        <b>Begin Time:</b> {{viewedGroup?.active_hour?.begin_time}}
                      </div>
                      <div class="col-6">
                        <b>End Time:</b> {{viewedGroup?.active_hour?.end_time}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-12 mt-5">
                <h4 class="text-center">
                  <b>Logins</b>
                </h4>
                <div class="row">
                  <div class="col-6">
                    <div>Holiday
                      <span class="m-badge m-badge--success"
                            *ngIf="viewedGroup?.holiday_login?.toString()==='1'">
												Enabled
										</span>
                      <span class="m-badge m-badge--danger"
                            *ngIf="viewedGroup?.holiday_login?.toString()==='0'">
										Disabled
										</span></div>
                  </div>
                  <div class="col-6">
                    <div>Weekend
                      <span class="m-badge m-badge--success"
                            *ngIf="viewedGroup?.weekend_login?.toString()==='1'">
												Enabled
										</span>
                      <span class="m-badge m-badge--danger"
                            *ngIf="viewedGroup?.weekend_login?.toString()==='0'">
										Disabled
										</span>
                    </div>



                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="tab-pane" id="m_tabs_1_2" role="tabpanel">
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
      <div class="tab-pane active show" id="m_tabs_1_3" role="tabpanel">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged
      </div>
      <div class="tab-pane" id="m_tabs_1_4" role="tabpanel">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and
      </div>
    </div>
  </div>
</div>