<header class="m-grid__item		m-header" data-minimize="minimize" data-minimize-offset="200"
        data-minimize-mobile-offset="200"
        appunwraptag="">
  <div class="m-header__top">
    <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
      <div class="m-stack m-stack--ver m-stack--desktop">
        <!-- begin::Brand -->
        <div class="m-stack__item m-brand">
          <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
            <div class="m-stack__item m-stack__item--middle m-brand__logo">
              <a class="m-brand__logo-wrapper">
                <img alt="no logo" id="app_logo" style="width:auto; max-height: 90px"
                     src="{{appLogo || appSettings?.settings?.logo}}"
                     *ngIf="appSettings?.settings?.logo"/>
                <img alt="no logo" src="assets/images/logos/Fav.png"
                     *ngIf="!appSettings?.settings?.logo"/>
              </a>

            </div>
            <div class="m-stack__item m-stack__item--middle m-brand__tools">
              <div class="school-name">
                <h2>{{appSettings['name'] || schoolName}}</h2>
              </div>
              <a id="m_aside_header_menu_mobile_toggle" href="javascript:;"
                 class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                <span></span>
              </a>
              <!-- end::Responsive Header Menu Toggler-->
              <!-- begin::Topbar Toggler-->
              <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
                 class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                <i class="flaticon-more"></i>
              </a>
              <!--end::Topbar Toggler-->
            </div>
          </div>
        </div>
        <select class="language" (change)="setLanguage($event.target.value)">
          <option [selected]="language === 'en-US'" value="en-US">EN</option>
          <option [selected]="language === 'fr-FR'" value="fr-FR">FR</option>
        </select>

        <!-- end::Brand -->
        <!-- begin::Topbar -->
        <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
          <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
            <div class="m-stack__item m-topbar__nav-wrapper">
              <ul class="m-topbar__nav m-nav m-nav--inline">

                <li
                  class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                  data-dropdown-toggle="click">
                  <a class="m-nav__link m-dropdown__toggle">
                    <span class="m-topbar__welcome">
                      Hello,&nbsp;
                    </span>
                    <span class="m-topbar__username">
                    {{userName | ucwords}}
                    </span>
                  </a>
                  <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__header m--align-center"
                           style="background: url(./assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                        <div class="m-card-user m-card-user--skin-dark">
                          <div class="m-card-user__pic">
                            <img src="./assets/images/users/blank_male.jpg"
                                 class="m--img-rounded m--marginless" alt=""/>
                          </div>
                          <div class="m-card-user__details">
                            <span class="m-card-user__name m--font-weight-500">
                              {{authenticatedUser?.login?.user?.fullname}}
                            </span>
                            <a href="" class="m-card-user__email m--font-weight-300 m-link">
                              {{authenticatedUser?.login?.user?.email}}
                            </a><br>
                            <a class="m-link" routerLink="/change-password">
                              <small>Change Password</small>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <ul class="m-nav m-nav--skin-light">
                            <li class="m-nav__section m--hide">
                              <span class="m-nav__section-text">
                                Section
                              </span>
                            </li>
                            <li class="m-nav__separator m-nav__separator--fit"></li>
                            <li class="m-nav__item">
                              <a (click)="logUserOut()"
                                 class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder"
                              >
                                Logout
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end::Topbar -->
      </div>
    </div>
  </div>
  <div class="m-header__bottom" [ngStyle]="setHeaderColor()">
    <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
      <div class="m-stack m-stack--ver m-stack--desktop">
        <!-- begin::Horizontal Menu -->
        <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
          <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light"
                  id="m_aside_header_menu_mobile_close_btn">
            <i class="la la-close"></i>
          </button>
          <div id="m_header_menu"
               class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light">
            <ul class="m-menu__nav  m-menu__nav--submenu-arrow">

              <li class="m-menu__item"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true">
                <a class="m-menu__link m-menu__toggle" routerLink="../../staff/dashboard">
                  <span class="m-menu__link-text headerWord">
                    Dashboard
                  </span>
                  <!--<i class="m-menu__hor-arrow la la-angle-down"></i>-->
                  <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
              </li>
              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true">
                <a class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text headerWord">
                      Hostel
                    </span>
                  <i class="m-menu__hor-arrow la la-angle-down"></i>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                  <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                  <ul class="m-menu__subnav">
                    <li></li>
                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
                        id='school.hostel.get.all.hostel'>
                      <a routerLink="/staff/config/hostel" class="m-menu__link">
                        <i class="m-menu__link-icon flaticon-diagram"></i>
                        <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            All Hostels
                          </span>
                        </span>
                      </span>
                      </a>
                    </li>
                    <li></li>
                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
                        id='school.hostel.hostel.session.session.all'>
                      <a routerLink="/staff/config/hostel-session" class="m-menu__link">
                        <i class="m-menu__link-icon flaticon-diagram"></i>
                        <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            Hostel Session
                          </span>
                        </span>
                      </span>
                      </a>
                    </li>
                    <li></li>
                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
                        id='school.hostel.reservations'>
                      <a routerLink="/staff/hostel/reservation" class="m-menu__link">
                        <i class="m-menu__link-icon flaticon-diagram"></i>
                        <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            Reservation
                          </span>
                        </span>
                      </span>
                      </a>
                    </li>

                    <!--
                      THESE ARE BEING DISABLED BECAUSE IT IS REDUNDANT
                      IT WILL BE RE-ENABLED WHEN IT BECOMES MORE USEFUL
                    -->

                    <!--<li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
                        id='school.hostel.allocations'>
                      <a routerLink="/staff/hostel/allocation" class="m-menu__link">
                        <i class="m-menu__link-icon flaticon-diagram"></i>
                        <span class="m-menu__link-title">
                          <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                              Hostel Allocation
                            </span>
                          </span>
                        </span>
                      </a>
                    </li>-->

                    <!--<li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
                        id="school.admission.interview.scheduled_interview">
                      <a routerLink="/staff/hostel/payment" class="m-menu__link">
                        <i class="m-menu__link-icon flaticon-diagram"></i>
                        <span class="m-menu__link-title">
                          <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                              Payment
                            </span>
                          </span>
                        </span>
                      </a>
                    </li>-->

                    <!--
                      THESE ARE BEING DISABLED BECAUSE IT IS REDUNDANT
                      IT WILL BE RE-ENABLED WHEN IT BECOMES MORE USEFUL
                    -->

                  </ul>
                </div>
              </li><!--Hostel-->
              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true"
                  *ngIf="myModuleIsPermitted('_Admission')">
                <a class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text headerWord">
                    Admissions
                  </span>
                  <i class="m-menu__hor-arrow la la-angle-down"></i>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--fixed m-menu__submenu--left" style="width:600px">
                  <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                  <div class="m-menu__subnav">
                    <ul class="m-menu__content">
                      <li class="m-menu__item">
                        <ul class="m-menu__inner">
                          <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                              aria-haspopup="true"
                              id='school.admission.application-session.show_all_open_applications'>
                            <a routerLink="/staff/admissions/applications" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Applications
                        </span>
                            </a>
                          </li>
                          <li></li>

                          <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                              aria-haspopup="true"
                              id='school.admission.applicant.admin_list_applicants'>
                            <a routerLink="/staff/admissions/applicants" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Applicants
                        </span>
                            </a>
                          </li>
                          <li></li>

                          <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                              aria-haspopup="true"
                              id='school.admission.jamb-record.jamb_records'>
                            <a routerLink="/staff/admissions/jamb-record" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-business"></i>
                              <span class="m-menu__link-text">
                          Jamb Records
                        </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>


                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true"
                              aria-haspopup="true"
                              id='school.admission.admission_letter.store_admission_letter'>
                            <a routerLink="/staff/admissions/letter" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Admission Letter
                        </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>

                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true"
                              aria-haspopup="true"
                              id='school.admission.admission_letter.show_all_admission_letter'>
                            <a routerLink="/staff/admissions/letter/preview" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Letter Previews
                        </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>

                          <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                              routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
                              id='school.admission.admission-list.show_all_admission_list'>
                            <a routerLink="/staff/admissions/list" class="m-menu__link">
                              <i class="m-menu__link-icon flaticon-diagram"></i>
                              <span class="m-menu__link-text">
                             Admission List
                            </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>

                          <li class="m-menu__item" data-redirect="true" aria-haspopup="true"
                              id='school.admission.putme-process.list_all_putme'>
                            <a routerLink="/staff/admissions/candidate" class="m-menu__link">
                              <i class="m-menu__link-icon flaticon-users"></i>
                              <span class="m-menu__link-text">
                          Post UME
                        </span>
                            </a>
                          </li>
                          <li></li>

                          <li class="m-menu__item" data-redirect="true" aria-haspopup="true"
                              id='school.application.defermentall_students_deferments'>
                            <a routerLink="/staff/admissions/deferments" class="m-menu__link">
                              <i class="m-menu__link-icon flaticon-users"></i>
                              <span class="m-menu__link-text">
                       Deferments
                        </span>
                            </a>
                          </li>
                          <li></li>

                          <li class="m-menu__item" data-redirect="true" aria-haspopup="true"
                              *ngIf="(appSettings?.settings?.enable_admit_acceptance===0 || !enableAdmissionOnAcceptance)"
                              id='school.admission.applicant-student-migration.applicants_students_migration'>
                            <a routerLink="/staff/admissions/migration" class="m-menu__link">
                              <i class="m-menu__link-icon flaticon-users"></i>
                              <span class="m-menu__link-text">
                       Applicant - Student Migration
                        </span>
                            </a>
                          </li>

                        </ul>
                      </li>
                      <li class="m-menu__item">
                        <ul class="m-menu__inner">
                          <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                              routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                            <a routerLink="/staff/interview/invite" class="m-menu__link">
                              <i class="m-menu__link-icon flaticon-diagram"></i>
                              <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            Invite
                          </span>
                        </span>
                      </span>
                            </a>
                          </li>
                          <li></li>

                          <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                              routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
                              id='school.admission.interview.scheduled_applications'>
                            <a routerLink="/staff/interview/scheduled" class="m-menu__link">
                              <i class="m-menu__link-icon flaticon-diagram"></i>
                              <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            Scheduled Applicants
                          </span>
                        </span>
                      </span>
                            </a>
                          </li>
                          <li></li>

                          <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                              routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
                              id='school.admission.interview.interviewed_applications'>
                            <a routerLink="/staff/interview/interviewed" class="m-menu__link">
                              <i class="m-menu__link-icon flaticon-diagram"></i>
                              <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            Interviewed Applicants
                          </span>
                        </span>
                      </span>
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li><!--Admissions-->
              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true"
                  *ngIf="myModuleIsPermitted('_Administration')">
                <a class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text headerWord">
              Administration
              </span>
                  <i class="m-menu__hor-arrow la la-angle-down"></i>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                  <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                  <ul class="m-menu__subnav">
                    <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                        aria-haspopup="true"
                        id='school.administration.authorize.index'>
                      <a routerLink="/staff/administration/authorizations" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-chat-1"></i>
                        <span class="m-menu__link-text">
              Authorizations
              </span>
                      </a>
                    </li>
                    <li></li>

                    <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                        aria-haspopup="true"
                        id='school.administration.group.index'>
                      <a routerLink="/staff/administration/groups" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-business"></i>
                        <span class="m-menu__link-text">
              Groups
              </span>
                        <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                        <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                      </a>
                    </li>
                    <li></li>

                    <!--<li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"-->
                    <!--aria-haspopup="true">-->
                    <!--<a routerLink="/staff/administration/modules" class="m-menu__link ">-->
                    <!--<i class="m-menu__link-icon flaticon-chat-1"></i>-->
                    <!--<span class="m-menu__link-text">-->
                    <!--Modules-->
                    <!--</span>-->
                    <!--&lt;!&ndash;<i class="m-menu__hor-arrow la la-angle-right"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
                    <!--</a>-->
                    <!--</li>-->
                    <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                        aria-haspopup="true"
                        id='school.administration.task.index'>
                      <a routerLink="/staff/administration/tasks" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-chat-1"></i>
                        <span class="m-menu__link-text">
              Tasks
              </span>
                        <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                        <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                      </a>
                    </li>
                    <li></li>


                    <!--<li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"-->
                    <!--aria-haspopup="true">-->
                    <!--<a routerLink="/staff/administration/permissions" class="m-menu__link ">-->
                    <!--<i class="m-menu__link-icon flaticon-chat-1"></i>-->
                    <!--<span class="m-menu__link-text">-->
                    <!--Permissions-->
                    <!--</span>-->
                    <!--&lt;!&ndash;<i class="m-menu__hor-arrow la la-angle-right"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
                    <!--</a>-->
                    <!--</li>-->

                  </ul>
                </div>
              </li><!--Interview-->
              <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu m-menu__item&#45;&#45;rel"
              routerLinkActive="m-menu__item&#45;&#45;active" routerLinkActiveOptions="{ exact: true }"
              data-menu-submenu-toggle="click" aria-haspopup="true" id='school.admission.interview.'>
              <a class="m-menu__link m-menu__toggle">
              <span class="m-menu__item-here"></span>
              <span class="m-menu__link-text headerWord">
              Interview
              </span>
              <i class="m-menu__hor-arrow la la-angle-down"></i>
              <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="m-menu__submenu m-menu__submenu&#45;&#45;classic m-menu__submenu&#45;&#45;left">
              <span class="m-menu__arrow m-menu__arrow&#45;&#45;adjust"></span>
              <ul class="m-menu__subnav">
              <li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
              routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
              <a routerLink="/staff/interview/invite" class="m-menu__link">
              <i class="m-menu__link-icon flaticon-diagram"></i>
              <span class="m-menu__link-title">
              <span class="m-menu__link-wrap">
              <span class="m-menu__link-text">
              Invite
              </span>
              </span>
              </span>
              </a>
              </li>
              <li></li>-->

              <!--<li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
              routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
              id='school.admission.interview.scheduled_applications'>
              <a routerLink="/staff/interview/scheduled" class="m-menu__link">
              <i class="m-menu__link-icon flaticon-diagram"></i>
              <span class="m-menu__link-title">
              <span class="m-menu__link-wrap">
              <span class="m-menu__link-text">
              Scheduled Applicants
              </span>
              </span>
              </span>
              </a>
              </li>-->

              <!--<li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"
              routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
              id='school.admission.interview.interviewed_applications'>
              <a routerLink="/staff/interview/interviewed" class="m-menu__link">
              <i class="m-menu__link-icon flaticon-diagram"></i>
              <span class="m-menu__link-title">
              <span class="m-menu__link-wrap">
              <span class="m-menu__link-text">
              Interviewed Applicants
              </span>
              </span>
              </span>
              </a>
              </li>
              </ul>
              </div>
              </li>--><!--Interview-->

              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true">
                <a class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text headerWord">
                    Profiles
                    </span>
                  <i class="m-menu__hor-arrow la la-angle-down"></i>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                  <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                  <ul class="m-menu__subnav">
                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                        id='school.profile.staff.list'
                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                      <a routerLink="/staff/dashboard/staff" class="m-menu__link">
                        <i class="m-menu__link-icon flaticon-diagram"></i>
                        <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            Staff
                          </span>
                        </span>
                      </span>
                      </a>
                    </li>
                    <li></li>

                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
                        id='school.profile.student.list'>
                      <a routerLink="/staff/dashboard/students" class="m-menu__link">
                        <i class="m-menu__link-icon flaticon-diagram"></i>
                        <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            Students
                          </span>
                        </span>
                      </span>
                      </a>
                    </li>
                    <li></li>
                    <li class="m-menu__item" routerLinkActive="m-menu__item--active" aria-haspopup="true"
                        *ngIf="appSettings && appSettings?.settings?.debtors_list"
                        id='school.all_debtors'>
                      <a routerLink="/staff/dashboard/debtors-list" class="m-menu__link">
                        <i class="m-menu__link-icon flaticon-diagram"></i>
                        <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            Debtors' List
                          </span>
                        </span>
                      </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li><!--Profiles-->

              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true">
                <a class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text headerWord">
                    Results
                    </span>
                  <i class="m-menu__hor-arrow la la-angle-down"></i>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                  <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                  <ul class="m-menu__subnav">
                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                        id='school.course-management.result.curriculum_course'
                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
                      <a routerLink="/staff/dashboard/results" class="m-menu__link">
                        <i class="m-menu__link-icon flaticon-diagram"></i>
                        <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            Result
                          </span>
                        </span>
                      </span>
                      </a>
                    </li>
                    <li></li>

                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
                        id='school.course-management.result.course-of-study.level'>
                      <a routerLink="/staff/dashboard/result-template" class="m-menu__link">
                        <i class="m-menu__link-icon flaticon-diagram"></i>
                        <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            Senate Result
                          </span>
                        </span>
                      </span>
                      </a>
                    </li>
                    <li></li>
                    <li class="m-menu__item" routerLinkActive="m-menu__item--active"
                        routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
                        *ngIf="appSettings && appSettings?.settings?.bulk_result"
                        id='school.course-management.result.senateApproveFilteredResults'>
                      <a routerLink="/staff/dashboard/bulk-result" class="m-menu__link">
                        <i class="m-menu__link-icon flaticon-diagram"></i>
                        <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            Bulk Result
                          </span>
                        </span>
                      </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li><!--Results-->

              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLink="/staff/reports"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true"
                  *ngIf="myModuleIsPermitted('_Report')">
                <a class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text headerWord">
                      Reports
                    </span>
                  <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                </a>
              </li><!--Reports-->

              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true"
                  *ngIf="myModuleIsPermitted('_Configuration')">
                <a class="m-menu__link m-menu__toggle" title="Configurations">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text headerWord">
                    <i class="la la-gear la-3x"></i> <!--Configurations-->
                  </span>
                  <i class="m-menu__hor-arrow la la-angle-down"></i>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>

                <div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--right"
                     style="width:600px">
                  <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                  <div class="m-menu__subnav">
                    <ul class="m-menu__content">
                      <li class="m-menu__item">
                        <ul class="m-menu__inner">
                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true" id='school.department.list'>
                            <a routerLink="/staff/config/department" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-business"></i>
                              <span class="m-menu__link-text">
                          Departments
                        </span>
                            </a>

                          </li>
                          <li></li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true" id='school.faculty.list'>
                            <a routerLink="/staff/config/faculty" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-business"></i>
                              <span class="m-menu__link-text">
                          Faculties
                        </span>
                            </a>

                          </li>
                          <li></li>


                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.programme.list'>
                            <a routerLink="/staff/config/programme" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Programmes
                        </span>

                            </a>

                          </li>
                          <li></li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.degree.list'>
                            <a routerLink="/staff/config/degree" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Degrees
                        </span>

                            </a>

                          </li>
                          <li></li>

                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.school-type.list'>
                            <a routerLink="/staff/config/school-type" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                                                              School Type
                                                            </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.programme-type.list'>
                            <a routerLink="/staff/config/programme-type" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                                                              Programme Type
                                                            </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>

                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.course-of-study.list'>
                            <a routerLink="/staff/config/course-of-study"
                               class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Course of Study
                        </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>

                          <!--<li class="m-menu__item" data-menu-submenu-toggle="hover"-->
                          <!--data-redirect="true" aria-haspopup="true">-->
                          <!--<a routerLink="/staff/config/hostel" class="m-menu__link ">-->
                          <!--<i class="m-menu__link-icon flaticon-chat-1"></i>-->
                          <!--<span class="m-menu__link-text">-->
                          <!--Hostels-->
                          <!--</span>-->
                          <!--&lt;!&ndash;<i class="m-menu__hor-arrow la la-angle-right"></i>&ndash;&gt;-->
                          <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
                          <!--</a>-->
                          <!--</li>-->
                          <li></li>

                          <!--<li class="m-menu__item" data-menu-submenu-toggle="hover"-->
                          <!--data-redirect="true" aria-haspopup="true">-->
                          <!--<a routerLink="/staff/config/hostel-session"-->
                          <!--class="m-menu__link ">-->
                          <!--<i class="m-menu__link-icon flaticon-chat-1"></i>-->
                          <!--<span class="m-menu__link-text">-->
                          <!--Hostel Session-->
                          <!--</span>-->
                          <!--&lt;!&ndash;<i class="m-menu__hor-arrow la la-angle-right"></i>&ndash;&gt;-->
                          <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
                          <!--</a>-->
                          <!--</li>-->
                          <li></li>

                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.zone.list'>
                            <a routerLink="/staff/config/zone"
                               class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Zone
                        </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>

                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.admission.screening-center.all_centers'>
                            <a routerLink="/staff/config/screening-center"
                               class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Screening Center
                        </span>
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="m-menu__item">
                        <ul class="m-menu__inner">

                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true" id="school.session.current">
                            <a routerLink="/staff/config/session" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                                                           Current Sessions
                                                          </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>

                          </li>
                          <li></li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.active-hour.list'>
                            <a routerLink="/staff/config/active-hour" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Active Hours
                        </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.course-management.course.list'>
                            <a routerLink="/staff/config/course-mgt" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Course
                        </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.course-management.curriculum.list'>
                            <a routerLink="/staff/config/curriculum" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Curriculum
                        </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.cgpa.list'>
                            <a routerLink="/staff/config/cgpa" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          CGPA
                        </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.matric_no.list'>
                            <a routerLink="/staff/config/matric" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Matric No Generation
                        </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.probation-limit.list'>
                            <a routerLink="/staff/config/probation" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                          Probation Limit
                        </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>

                          <li></li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover"
                              data-redirect="true" aria-haspopup="true"
                              id='school.settings'>
                            <a routerLink="/staff/config/settings" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                                Settings
                              </span>
                              <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                              <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                            </a>
                          </li>
                          <li></li>
                          <li class="m-menu__item " data-menu-submenu-toggle="hover" data-redirect="true"
                              aria-haspopup="true" id='school.payment.fee.list'>
                            <a routerLink="/staff/dashboard/fees" class="m-menu__link ">
                              <i class="m-menu__link-icon flaticon-chat-1"></i>
                              <span class="m-menu__link-text">
                                Fees
                              </span>
                            </a>
                          </li>

                          <!--<li class="m-menu__item" data-menu-submenu-toggle="hover"-->
                          <!--data-redirect="true" aria-haspopup="true"-->
                          <!--*ngIf="iAmPermitted('school.settings')">-->
                          <!--<a routerLink="/staff/config/settings" class="m-menu__link">-->
                          <!--<i class="m-menu__link-icon flaticon-settings"></i>-->
                          <!--<span class="m-menu__link-text">-->
                          <!--Settings-->
                          <!--</span>-->
                          <!--</a>-->
                          <!--</li>-->
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li><!--Configuration-->
              <li
                class="m-menu__item  m-menu__item--submenu m-menu__item--rel m-menu__item--more m-menu__item--icon-only"
                routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                data-menu-submenu-toggle="click" aria-haspopup="true">
                <a class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <i class="m-menu__link-icon flaticon-more-v3"></i>
                  <span class="m-menu__link-text"></span>
                  <!--<i class="m-menu__hor-arrow la la-angle-down"></i>-->
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>

                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--pull">
                  <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                  <ul class="m-menu__subnav">
                    <!--<li class="m-menu__item" routerLinkActive="m-menu__item&#45;&#45;active"-->
                    <!--routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"-->
                    <!--id='school.profile.staff.list'>-->
                    <!--<a routerLink="/staff/dashboard/staff" class="m-menu__link">-->
                    <!--<i class="m-menu__link-icon flaticon-diagram"></i>-->
                    <!--<span class="m-menu__link-title">-->
                    <!--<span class="m-menu__link-wrap">-->
                    <!--<span class="m-menu__link-text">-->
                    <!--Staff-->
                    <!--</span>-->
                    <!--<span class="m-menu__link-badge">-->
                    <!--&lt;!&ndash;<span class="m-badge m-badge&#45;&#45;success">&ndash;&gt;-->
                    <!--&lt;!&ndash;2&ndash;&gt;-->
                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                    <!--</span>-->
                    <!--</span>-->
                    <!--</span>-->
                    <!--</a>-->
                    <!--</li>-->

                    <!--<li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"-->
                    <!--aria-haspopup="true" id='school.profile.student.list'>-->
                    <!--<a routerLink="/staff/dashboard/students" class="m-menu__link ">-->
                    <!--<i class="m-menu__link-icon flaticon-business"></i>-->
                    <!--<span class="m-menu__link-text">-->
                    <!--Students-->
                    <!--</span>-->
                    <!--&lt;!&ndash;<i class="m-menu__hor-arrow la la-angle-right"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
                    <!--</a>-->
                    <!--</li>-->

                    <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                        aria-haspopup="true"
                        id='school.profile.student.transfer.list'>
                      <a routerLink="/staff/dashboard/transfers" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-business"></i>
                        <span class="m-menu__link-text">
                          Transfers
                        </span>
                        <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                        <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                      </a>
                    </li>
                    <li></li>
                    <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                        aria-haspopup="true"
                        id='school.application.transfer.list'>
                      <a routerLink="/staff/dashboard/transfer-applications"
                         class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-business"></i>
                        <span class="m-menu__link-text">
                          Transfer Applications
                        </span>
                        <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                        <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                      </a>
                    </li>
                    <li></li>
                    <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                        aria-haspopup="true"
                        id='school.application.transcript.index'>
                      <a routerLink="/staff/dashboard/transcripts" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-business"></i>
                        <span class="m-menu__link-text">
                          Transcripts
                        </span>
                        <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                        <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                      </a>
                    </li>
                    <li></li>
                    <!--<li class="m-menu__item " data-menu-submenu-toggle="hover" data-redirect="true"-->
                    <!--aria-haspopup="true" id='school.payment.fee.list'>-->
                    <!--<a routerLink="/staff/dashboard/fees" class="m-menu__link ">-->
                    <!--<i class="m-menu__link-icon flaticon-chat-1"></i>-->
                    <!--<span class="m-menu__link-text">-->
                    <!--Fees-->
                    <!--</span>-->
                    <!--</a>-->
                    <!--</li>-->

                    <!--<li class="m-menu__item " data-menu-submenu-toggle="hover" data-redirect="true"-->
                    <!--aria-haspopup="true"-->
                    <!--id='school.admission.applicant-acceptance-fee.all_acceptance_fees'>-->
                    <!--<a routerLink="/staff/dashboard/acceptance-fee" class="m-menu__link ">-->
                    <!--<i class="m-menu__link-icon flaticon-chat-1"></i>-->
                    <!--<span class="m-menu__link-text">-->
                    <!--Acceptance Fee-->
                    <!--</span>-->
                    <!--</a>-->
                    <!--</li>-->

                    <!--<li class="m-menu__item " data-menu-submenu-toggle="hover" data-redirect="true"-->
                    <!--aria-haspopup="true"-->
                    <!--id='school.course-management.result.curriculum_course'>-->
                    <!--<a routerLink="/staff/dashboard/results" class="m-menu__link ">-->
                    <!--<i class="m-menu__link-icon flaticon-chat-1"></i>-->
                    <!--<span class="m-menu__link-text">-->
                    <!--Results-->
                    <!--</span>-->
                    <!--&lt;!&ndash;<i class="m-menu__hor-arrow la la-angle-right"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;Admin Result:::Start&ndash;&gt;-->

                    <!--<li class="m-menu__item " data-menu-submenu-toggle="hover" data-redirect="true"-->
                    <!--aria-haspopup="true"-->
                    <!--id='school.course-management.result.course-of-study.level'>-->
                    <!--<a routerLink="/staff/dashboard/result-template" class="m-menu__link ">-->
                    <!--<i class="m-menu__link-icon flaticon-chat-1"></i>-->
                    <!--<span class="m-menu__link-text">-->
                    <!--Senate Result-->
                    <!--</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--Admin Result::::End-->
                    <!--Exeats:::Start-->

                    <li class="m-menu__item " data-menu-submenu-toggle="hover" data-redirect="true"
                        aria-haspopup="true"
                        id='school.application.exeatall_students_exeats'>
                      <a routerLink="/staff/dashboard/exeat-permission" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-chat-1"></i>
                        <span class="m-menu__link-text">
                          Exeats
                        </span>
                      </a>
                    </li>
                    <!--Exeats::::End-->
                    <li></li>
                    <li class="m-menu__item" data-redirect="true" aria-haspopup="true"
                        id="school.profile.message.list">
                      <a class="m-menu__link" routerLink="/staff/dashboard/messaging">
                        <i class="m-menu__link-icon flaticon-business"></i>
                        <span class="m-menu__link-text">
													Messaging
												</span>
                      </a>
                    </li>
                    <li></li>
                    <li class="m-menu__item" data-redirect="true" aria-haspopup="true"
                        id="school.payment.manual-payment.list">
                      <a class="m-menu__link" routerLink="/staff/dashboard/manual-payment">
                        <i class="m-menu__link-icon flaticon-business"></i>
                        <span class="m-menu__link-text">
													Manual Payment
												</span>
                      </a>
                    </li>
                    <li></li>
                    <!--<li class="m-menu__item" data-redirect="true" aria-haspopup="true">-->
                    <!--<a class="m-menu__link">-->
                    <!--<i class="m-menu__link-icon flaticon-business"></i>-->
                    <!--<span class="m-menu__link-text">-->
                    <!--Payment-->
                    <!--</span>-->
                    <!--</a>-->
                    <!--</li>-->

                  </ul>
                </div>
              </li><!--Ellipses-->
            </ul>
          </div>
        </div>
        <!-- end::Horizontal Menu -->
        <!--begin::Search-->
        <!--end::Search-->
      </div>
    </div>
  </div>
</header>
