
header .headerLink{
  color: #000000 !important;
  font-weight: bold !important;
}

header .headerWord{
  color: #FFFFFF  !important;
  font-weight: bold !important;
}

.m-menu__subnav .m-menu__link-text{
  color: black!important;
}

.m-menu__subnav .m-menu__link-text:hover{
  color: #716aca!important;
}

#imgDiv{
  max-width: 144px !important;
  max-height: 60px !important;
}

.language {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

@media (max-width: 768px){
  header .headerWord{
    color: #000000  !important;
    font-weight: bold !important;
  }

  header .flaticon-more-v3{
    color: #000000  !important;
  }

 .m-stack__item.m-stack__item--middle.m-brand__tools h2{
   font-size: 10px;
   width: 20px;
 }

}
