<!-- Modal -->
<div id="openModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.formType}} {{feedBack?.moduleName}}</h4>

        <!--<div class="m-portlet__head-tools">-->
        <!--</div>-->
      </div>
      <div class="ml-3">
        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
            role="tablist">
          <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link active" data-toggle="tab"
               href="#m_user_profile_tab_3" role="tab">
              <i class="flaticon-share m--hide"></i>
              General
            </a>
          </li>
          <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link" data-toggle="tab"
               href="#m_user_profile_tab_4" role="tab">
              Optional Settings
            </a>
          </li>
        </ul>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->

        <div>


          <div *ngIf="configAssignments.length>0">
            <div class="row">
              <div class="card col-md-3 my-2" *ngFor="let assignment of configAssignments; let i=index">
                <button class="btn btn-sm btn-danger" (click)="removeAssignment(i)"><i class="fa fa-times"></i></button>
                <label *ngIf="assignment?.country_id">
                  <b>Country:</b> {{selectWhereId(allCountries,'id',assignment?.country_id)?.name}}
                </label>

                <label *ngIf="assignment?.state_id">
                  <b>State:</b> {{selectWhereId(allStates,'id',assignment?.state_id)?.name}}
                </label>

                <label *ngIf="assignment?.degree">
                  <b>Degree:</b>  {{selectWhereId(allDegrees,'id',assignment?.degree)?.name}}
                </label>

                <label *ngIf="assignment?.programme_id">
                  <b>Programme:</b>  {{selectWhereId(allProgrammes,'id',assignment?.programme_id)?.name}}
                </label>

                <label *ngIf="assignment?.programme_type_id">
                  <b>Programme Type:</b>  {{selectWhereId(allProgrammeTypes,'id',assignment?.programme_type_id)?.name}}
                </label>

                <label *ngIf="assignment?.level_id">
                  <b>Level:</b> {{selectWhereId(allLevels,'id',assignment?.level_id)?.name}}
                </label>

                <label *ngIf="assignment?.faculty_id">
                  <b>Faculty:</b> {{selectWhereId(allFaculties,'id',assignment?.faculty_id)?.name}}
                </label>

                <label *ngIf="assignment?.department_id">
                  <b>Department:</b> {{selectWhereId(allDepartments,'id',assignment?.department_id)?.name}}
                </label>

                <label *ngIf="assignment?.course_of_study_id">
                  <b>Course of Study:</b> {{selectWhereId(allCourses,'id',assignment?.course_of_study_id)?.name}}
                </label>

                <label *ngIf="assignment?.mode_of_entry">
                  <b>Mode of Entry:</b> {{assignment?.mode_of_entry}}
                </label>

                <label *ngIf="assignment?.student_type">
                  <b>Student Type:</b> {{assignment?.student_type}}
                </label>
                <br>
              </div>
            </div>
          </div>


          <div>
            <div class="m-portlet__body">
              <div class="tab-content">
                <div class="tab-pane active" id="m_user_profile_tab_3">
                  <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">

                    <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                      <label class="col-3 col-form-label">
                        <span class="styleStar">*</span> Name
                      </label>
                      <div class="col-lg-9 col-md-9 col-sm-12">
                        <input class="form-control" formControlName="hostel_name">
                        <div class="alert alert-danger col-12" role="alert"
                             *ngIf="createForm.get('hostel_name').invalid && createForm.get('hostel_name').touched">
                          <strong>
                            Name is Required
                          </strong>
                        </div>
                      </div>
                    </div>
                    <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                      <label class="col-3 col-form-label">
                        <span class="styleStar">*</span>Capacity
                      </label>
                      <div class="col-lg-9 col-md-9 col-sm-12">
                        <input class="form-control" formControlName="hostel_capacity" type="number">
                        <div class="alert alert-danger col-12" role="alert"
                             *ngIf="createForm.get('hostel_capacity').invalid && createForm.get('hostel_capacity').touched">
                          <strong>
                            Capacity is Required
                          </strong>
                        </div>
                      </div>
                    </div>
                    <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                      <label class="col-3 col-form-label">
                        <span class="styleStar">*</span>Address
                      </label>
                      <div class="col-lg-9 col-md-9 col-sm-12">
                        <input class="form-control" formControlName="hostel_address">
                        <div class="alert alert-danger col-12" role="alert"
                             *ngIf="createForm.get('hostel_address').invalid && createForm.get('hostel_address').touched">
                          <strong>
                            Address is Required
                          </strong>
                        </div>
                      </div>
                    </div>
                    <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                      <label class="col-3 col-form-label">
                        <span class="styleStar">*</span> Cost
                      </label>
                      <div class="col-lg-9 col-md-9 col-sm-12">
                        <input class="form-control" formControlName="hostel_amount" type="number">
                        <div class="alert alert-danger col-12" role="alert"
                             *ngIf="createForm.get('hostel_amount').invalid && createForm.get('hostel_amount').touched">
                          <strong>
                            Cost is Required
                          </strong>
                        </div>
                      </div>

                    </div>
                    <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                      <label class="col-3 col-form-label">
                        <span class="styleStar">*</span>Gender
                      </label>
                      <div class="col-lg-9 col-md-9 col-sm-12">
                        <label class="col-3 col-form-label"> Male:</label> <input formControlName="hostel_gender"
                                                                                  type="radio" value="male">
                        <label class="col-3 col-form-label"> Female:</label> <input formControlName="hostel_gender"
                                                                                    type="radio" value="female">
                        <label class="col-3 col-form-label"> General:</label> <input formControlName="hostel_gender"
                                                                                     type="radio" value="general">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane" id="m_user_profile_tab_4">
                  <form [formGroup]="optionalSettingsForm" class="m-form m-form--fit m-form--label-align-right">
                    <div class="row">
                      <div class="col-md-4">
                        <label for="country">Country:</label>
                        <select class="form-control" id="select_country" #country_state
                                formControlName="country_id" (change)="getStateByCountryId(country_state.value)">
                          <option value="{{country?.id}}" *ngFor="let country of allCountries">
                            {{country?.name}}
                          </option>

                        </select>

                      </div>

                      <div class="col-md-4">
                        <label for="country">State: <i class="m-loader m-loader--brand"
                                                       *ngIf="load?.states?.loading"></i></label>
                        <select class="form-control" id="" formControlName="state_id">
                          <option value="">---</option>
                          <option value="{{state?.id}}" *ngFor="let state of allStates">
                            {{state?.name}}
                          </option>

                        </select>

                      </div>
                      <div class="col-md-4">
                        <label for="country">Programme Type:</label>
                        <select class="form-control"
                                formControlName="programme_type_id">
                          <option value="">---</option>
                          <option value="{{type?.id}}"
                                  *ngFor="let type of allProgrammeTypes">
                            {{type?.name}}
                          </option>

                        </select>

                      </div>

                    </div>


                    <div class="row">

                      <div class="col-md-4">
                        <label for="country">Programme:</label>
                        <select class="form-control" i formControlName="programme_id">
                          <option value="">---</option>
                          <option value="{{programme?.id}}" *ngFor="let programme of allProgrammes">
                            {{programme?.name}}
                          </option>

                        </select>

                      </div>

                      <div class="col-md-4">
                        <label for="country">Faculty:</label>
                        <select class="form-control" #set_faculty
                                formControlName="faculty_id" (change)="getDepartmentByFacultyId(set_faculty.value)">
                          <option value="">---</option>
                          <option value="{{faculty?.id}}" *ngFor="let faculty of allFaculties">
                            {{faculty?.name}}
                          </option>

                        </select>
                        <!--<select2 class="form-control" [data]="allFaculties"></select2>-->
                      </div>

                      <div class="col-md-4">
                        <label for="country">Department: <i class="m-loader m-loader--brand"
                                                            *ngIf="load?.departments?.loading"></i></label>
                        <select class="form-control" #set_department
                                formControlName="department_id"
                                (change)="getCourseByDepartmentId(set_department.value)">
                          <option value="">---</option>
                          <option value="{{department?.id}}"
                                  *ngFor="let department of allDepartments">
                            {{department?.name}}
                          </option>

                        </select>

                      </div>


                    </div>


                    <div class="row">

                      <div class="col-md-4">
                        <label for="country">Course of Study: <i class="m-loader--brand m-loader"
                                                                 *ngIf="load?.courses?.loading "></i></label>
                        <select class="form-control" id="course" formControlName="course_of_study_id">
                          <option value="">---</option>
                          <option value="{{course?.id}}" *ngFor="let course of allCourses">
                            {{course?.name}}
                          </option>

                        </select>

                      </div>

                      <div class="col-md-4">
                        <label for="country">Level:</label>
                        <select class="form-control" id="select_department" formControlName="level_id">
                          <option value="">---</option>
                          <option value="{{level?.id}}" *ngFor="let level of allLevels">
                            {{level?.name}}
                          </option>

                        </select>

                      </div>

                      <div class="col-md-4">
                        <label for="country">Student Type:</label>
                        <select class="form-control" id="student_type" formControlName="student_type">
                          <option value=""></option>
                          <option value="">---</option>
                          <option value="new">New</option>
                          <option value="returning">Returning</option>


                        </select>

                      </div>

                    </div>


                    <div class="row">

                      <div class="col-md-4">
                        <label for="country">Mode of Entry:</label>
                        <select class="form-control" id="mode_of_entry" formControlName="mode_of_entry">
                          <option value=""></option>
                          <option value="UTME">UTME</option>
                          <option value="DE">Direct Entry</option>


                        </select>

                      </div>


                      <div class="col-md-4">
                        <label for="country">Degree:</label>
                        <select class="form-control" id="degree" formControlName="degree_id">
                          <option value=""></option>
                          <option *ngFor="let degree of allDegrees" value="{{degree?.id}}">{{degree?.name}}</option>


                        </select>

                      </div>

                      <div class="col-md-4 my-4">
                        <button class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                                (click)="addAssignment()" [disabled]="optionalSettingsIsEmpty()"
                        ><i
                                class="fa fa-plus"></i> Add Setting
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>


          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="!feedBack.showUpdateButton" (click)="createFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="feedBack.submitStatus || createForm.invalid">
          Submit <i class="m-loader m-loader--light" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" *ngIf="feedBack.showUpdateButton" (click)="updateFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="feedBack.submitStatus || createForm.invalid">
          Update <i class="m-loader m-loader--light" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>

    </div>
  </div>

</div>

<!-- Modal -->
<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.moduleName}} Details</h4>
      </div>
      <div class="modal-body">
        <div class="m-portlet__body" *ngIf="feedBack?.viewDetails">
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Name
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails?.hostel_name}}
            </div>
          </div>
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Amount
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails?.hostel_amount}}
            </div>
          </div>

          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Capacity
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails?.hostel_capacity}}
            </div>
          </div>

          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Gender
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails?.hostel_gender}}
            </div>
          </div>

          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Address
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails?.hostel_address}}
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.hostel.store_hostel')">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="openModal('Create')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Hostel
														</span>
													</span>
          </a>
        </li>

      </ul>
    </div>

  </div>
  <div style="float: right; margin: 10px; margin-right: 4%">
    <!--<button class="btn btn-success btn-xm"  (click)="openModal()">-->
    <!--<i class="fa fa-plus"></i>-->
    <!--Create-->
    <!--</button>-->
  </div>
  <!--Current session-->
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->      <!--begin: Datatable -->
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
           class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th class="serialnum">#</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Gender</th>
        <th>Capacity</th>
        <th>Address</th>
        <th>Date Created</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feedBack?.allResponse; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.hostel_name}}</td>
        <td>{{data?.hostel_amount | currency : '&#8358;'}}</td>
        <td>{{data?.hostel_gender | titlecase}}</td>
        <td>{{data?.hostel_capacity}}</td>
        <td>{{data?.hostel_address}}</td>
        <td>{{data?.created_at | date}}</td>
        <td>
          <div class="dropdown ">
            <a href="#"
               class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
               data-toggle="dropdown">
              <i class="la la-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" (click)="onEdit(data)"><!--*ngIf="iAmPermitted('school.hostel.update_hostel')"-->
                <i class="la la-edit"></i> Edit Hostel
              </a>
              <a class="dropdown-item" (click)="onView(data)"><!--*ngIf="iAmPermitted('school.hostel.show_hostel')"-->
                <i class="la la-eye"></i> View Hostel
              </a>
              <a class="dropdown-item" (click)="onViewRooms(data?.id)">
                <!--*ngIf="iAmPermitted('school.hostel.hotel.room.all_rooms')"-->
                <i class="la la-print"></i> View Rooms
              </a>
              <a class="dropdown-item" (click)="onDeleteRoom(data?.id)">
                <!-- *ngIf="iAmPermitted('school.hostel.hotel.room.delete_room')"-->
                <i class="la la-print"></i> Delete Room
              </a>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngIf="feedBack.loader || feedBack?.allResponse.length === 0">
        <td colspan="8" *ngIf="feedBack.loader">
          <div class="text-center">Loading {{feedBack?.moduleName}} <i
                  class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="8" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>

</div>

