<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div id="createFeeItems" class="modal fade" role="dialog">
  <form [formGroup]="createFeeItemsForm" (ngSubmit)="createFeeItems()">
    <div>

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">All Fee Items</h4>
          <button class="btn btn-danger btn-xs pull-right" type="button"
                  (click)="triggerModalOrOverlay('close','createFeeItems')">Close
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">

                <label for="schoolname">Name:</label>
                <input class="form-control" formControlName="name" id="schoolname" placeholder="Full Name">

              </div>
              <div class="col-md-6">

                <div class="pull-right">
                  <button type="submit"
                          class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                          [disabled]="createFeeItemsForm.invalid || load.requesting.create">{{load.message.create}}
                    <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','createFeeItems')">Close
          </button>


        </div>
      </div>
    </div>
  </form>
</div>

<div id="updateFeeItems" class="modal fade" role="dialog">
  <form [formGroup]="updateFeeItemsForm" (ngSubmit)="updateFeeItems()">
    <div>

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Update {{updatedFeeItems?.fullname}}</h4>
          <button class="btn btn-danger btn-xs pull-right" type="button"
                  (click)="triggerModalOrOverlay('close','updateFeeItems')">Close
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">

                <label for="schoolname">Name:</label>
                <input class="form-control" formControlName="name" id="schoolname" placeholder="Full Name">

              </div>
              <div class="col-md-6">

                <div class="pull-right">
                  <button type="submit"
                          class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                          [disabled]="createFeeItemsForm.invalid || load.requesting.create">{{load.message.create}}
                    <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','updateFeeItems')">Close
          </button>
          <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="updateFeeItemsForm.invalid || load.requesting.create">{{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>

        </div>
      </div>
    </div>
  </form>
</div>


<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Fee Items
          </h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <!--begin: Search Form -->
      <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
        <div class="row align-items-center">
          <div class="col-xl-8 order-2 order-xl-1">
            <div class="form-group m-form__group row align-items-center">
              <div class="col-md-4">
                <div class="m-input-icon m-input-icon--left">
                  <input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
                  <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span>
                                            <i class="la la-search"></i>
                                        </span>
                                    </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 order-1 order-xl-2 m--align-right">
            <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                    style="padding: 4px" (click)="triggerModalOrOverlay('open','createFeeItems')">
              <i class="fa fa-plus"></i>
              Create
            </button>

          </div>
        </div>
      </div>
      <!--end: Search Form -->
      <!--begin: Datatable -->
      <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Full Name
          </th>

          <th>
            Status
          </th>
          <th>
            Action
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
          <td colspan="11" *ngIf="allFeeItemss.length==0">No Record Found</td>
        </tr>
        <tr *ngFor="let FeeItems of allFeeItemss; let ind=index">
          <td>{{ind+1}}</td>
          <td>{{FeeItems?.name}}</td>

          <td *ngIf="FeeItems.enabled==='1'" style="color:green">
            <i class="fa fa-check fa-2x"></i>
          </td>
          <td *ngIf="FeeItems.enabled==='0'" style="color:red">
            <i class="fa fa-times fa-2x"></i>
          </td>
          <td>
            <span class="" (click)="triggerModalOrOverlay('open','updateFeeItems',ind)">
              <i class="fa fa-edit" *ngIf="!FeeItems?.loading"></i>
              <i class="m-loader m-loader--right m-loader--brand" *ngIf="FeeItems?.loading"></i>

            </span>
          </td>
        </tr>
        </tbody>
      </table>
      <!--end: Datatable -->
    </div>
  </div>
</div>