<div class="m-page--wide m-aside-left--enabled m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- begin::Header -->
    <header class="m-grid__item		m-header " data-minimize="minimize" data-minimize-offset="200"
            data-minimize-mobile-offset="200">
      <div class="m-header__top">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- begin::Brand -->
            <div class="m-stack__item m-brand">
              <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                  <a routerLink="/" class="m-brand__logo-wrapper">
                    <!--<img alt="no logo" [src]="appSettings['logo']" *ngIf="appSettings?.logo"-->
                         <!--style="width:80px !important;"/>-->
                    <!--<img alt="no logo" src="assets/images/logos/Fav.png" *ngIf="!appSettings?.logo" style="width:90px"/>-->
                    <img src="{{ (appSettings?.logo) ? appSettings?.logo :  'assets/images/logos/Fav.png'}}" style="width: auto; height: 90px" />
                  </a>
                </div>
                <div class="m-stack__item m-stack__item--middle m-brand__tools">

                </div>
                <div class="school-name">
                  <h2>{{schoolName | titlecase}}</h2>
                </div>
              </div>
            </div>
            <!-- end::Brand -->
            <!-- begin::Topbar -->
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
              <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                <div class="m-stack__item m-topbar__nav-wrapper">
                  <ul class="m-topbar__nav m-nav m-nav--inline">
                    <li
                      class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                      data-dropdown-toggle="click">
                      <a href="#" class="m-nav__link m-dropdown__toggle">
												<span class="m-topbar__welcome">
													Hello,&nbsp;
												</span>
                        <span class="m-topbar__username">
													{{salutationName}}
												</span>
                        <span class="m-topbar__userpic">
													<img src=""
                               class="m--img-rounded m--marginless m--img-centered" alt=""/>
												</span>
                      </a>
                      <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                          <div class="m-dropdown__header m--align-center"
                               style="background: url(./assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                            <div class="m-card-user m-card-user--skin-dark">
                              <div class="m-card-user__pic">
                                <img src="./assets/app/media/img/users/user4.jpg"
                                     class="m--img-rounded m--marginless" alt=""/>
                              </div>
                              <div class="m-card-user__details">
                            <span class="m-card-user__name m--font-weight-500">
                              <!--{{authenticatedUser?.login?.user?.fullname}}-->
                            </span>
                                <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                  <!--{{authenticatedUser?.email}}-->
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                              <ul class="m-nav m-nav--skin-light">
                                <li class="m-nav__section m--hide">
                              <span class="m-nav__section-text">
                                Section
                              </span>
                                </li>
                                <li class="m-nav__separator m-nav__separator--fit"></li>
                                <li class="m-nav__item">
                                  <a (click)="logUserOut()"
                                     class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder"
                                  >
                                    Logout
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end::Topbar -->
          </div>
        </div>
      </div>
      <div class="m-header__bottom" [ngStyle]="setHeaderColor()">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- begin::Horizontal Menu -->
            <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
              <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
                      id="m_aside_header_menu_mobile_close_btn">
                <i class="la la-close"></i>
              </button>
              <div id="m_header_menu"
                   class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                <ul class="m-menu__nav  m-menu__nav--submenu-arrow" id="header_col">
                  <li class="m-menu__item " aria-haspopup="true">
                    <a routerLink="../applicant/profile" class="m-menu__link ">
                      <span class="m-menu__item-here"></span>
                      <span class="m-menu__link-text">
												Profile
											</span>
                    </a>
                  </li>
                  <li class="m-menu__item m-menu__item--rel"
                      data-menu-submenu-toggle="click" aria-haspopup="true">
                    <a routerLink="../applicant/payment" class="m-menu__link m-menu__toggle">
                      <span class="m-menu__item-here"></span>
                      <span class="m-menu__link-text">
												Payment
											</span>
                      <!--<i class="m-menu__hor-arrow la la-angle-down"></i>-->
                      <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                    </a>

                  </li>
                  <li class="m-menu__item  m-menu__item--rel"
                      data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
                    <a routerLink="../applicant/form" class="m-menu__link m-menu__toggle">
                      <span class="m-menu__item-here"></span>
                      <span class="m-menu__link-text" *ngIf="applicant?.hasPaid">
											Application	Form
											</span>
                      <!--<i class="m-menu__hor-arrow la la-angle-down"></i>-->
                      <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                    </a>
                  </li>

                  <li class="m-menu__item  m-menu__item--rel"
                      data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">

                  </li>

                  <li class="m-menu__item  m-menu__item--rel"
                      data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">


                    <div class="alert alert-success animated bounceInRight"
                         *ngIf="applicationSubmitted && applicant?.hasBeenAdmitted">
                      <strong>You have been Admitted!</strong>
                      Congratulations.

                    </div>
                  </li>


                </ul>
              </div>
            </div>
            <!-- end::Horizontal Menu -->
            <!--begin::Search-->
            <div
              class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-"
              id="m_quicksearch" data-search-type="default">
              <!--begin::Search Form -->
              <!--end::Search Form -->
              <!--begin::Search Results -->
              <div class="m-dropdown__wrapper">
                <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                <div class="m-dropdown__inner">
                  <div class="m-dropdown__body">
                    <div class="m-dropdown__scrollable m-scrollable" data-max-height="300"
                         data-mobile-max-height="200">
                      <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Search Results -->
            </div>
            <!--end::Search-->
          </div>
        </div>
      </div>
    </header>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div
      class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
      <!-- BEGIN: Left Aside -->
      <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
        <i class="la la-close"></i>
      </button>
      <!--<div id="m_aside_left" class="m-grid__item m-aside-left " disabled>-->
        <!--&lt;!&ndash; BEGIN: Aside Menu &ndash;&gt;-->
        <!--<div id="m_ver_menu" class="m-aside-menu  m-aside-menu&#45;&#45;skin-light m-aside-menu&#45;&#45;submenu-skin-light "-->
             <!--data-menu-vertical="true"-->
             <!--data-menu-scrollable="false" data-menu-dropdown-timeout="500">-->
          <!--<ul class="m-menu__nav  m-menu__nav&#45;&#45;dropdown-submenu-arrow ">-->

            <!--<li class="m-menu__item" aria-haspopup="true"-->
                <!--data-menu-submenu-toggle="hover">-->
              <!--<a routerLink="../applicant/profile" class="m-menu__link m-menu__toggle">-->
                <!--<i class="m-menu__link-bullet  la la-user">-->
                  <!--<span></span>-->
                <!--</i>&nbsp;&nbsp;-->

                <!--<span class="m-menu__link-text">-->
									 <!--&nbsp;-->
                                <!--&nbsp;-->
                                <!--&nbsp;-->
                                <!--&nbsp;Profile-->
								<!--</span>-->
                <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="m-menu__item " aria-haspopup="true" data-redirect="true">-->
              <!--<a routerLink="../applicant/payment" class="m-menu__link ">-->
                <!--<i class="m-menu__link-bullet la la-money">-->
                  <!--<span></span>-->
                <!--</i>&nbsp;&nbsp;-->

                <!--<span class="m-menu__link-text">-->
								 <!--&nbsp;-->
                                <!--&nbsp;-->
                                <!--&nbsp;-->
                                <!--&nbsp;	Payment-->
								<!--</span>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="m-menu__item" aria-haspopup="true"-->
                <!--data-menu-submenu-toggle="hover" data-redirect="true">-->
              <!--<a routerLink="../applicant/form" class="m-menu__link m-menu__toggle"-->
                 <!--*ngIf="applicant?.hasPaid">-->
                <!--<i class="m-menu__link-bullet la la-book">-->
                  <!--<span></span>-->
                <!--</i>&nbsp;&nbsp;-->

                <!--<span class="m-menu__link-text">-->
								 <!--&nbsp;-->
                                <!--&nbsp;-->
                                <!--&nbsp;-->
                                <!--&nbsp;-->
                                <!--Application	Form-->
								<!--</span>-->
                <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
              <!--</a>-->

            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; END: Aside Menu &ndash;&gt;-->
      <!--</div>-->
      <!-- END: Left Aside -->
      <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- end::Body -->
    <!-- begin::Footer -->

    <!-- begin::Footer -->
    <footer class="m-grid__item m-footer">
      <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
        <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
          &nbsp;&nbsp;&nbsp;<span class="m-footer__copyright">
			2018 © <span class="m-link">Educhoice</span> Powered by
								<a href="https://upperlink.ng" class="m-link" target="_blank">
									UpperLink
								</a>
          <br>
          <br>

         &nbsp;&nbsp;&nbsp;&nbsp;
          <span class="mr-5 mt-5">Address: ASSBIFI HOUSE: 4, ASSBIFI Road, Alausa CBD, Ikeja, Lagos</span>
          &nbsp;&nbsp;
          <span>Tel: {{ appSettings?.support_contact_number }};</span>&nbsp;
          <span>Email: {{ appSettings?.support_contact_email }};</span>&nbsp;
          <!--<span>Website: wwww.upperlink.ng</span>-->
							</span>


        </div>

      </div>
    </footer>
    <!-- end::Footer -->

    <!-- end::Footer -->
  </div>
  <!-- end:: Page -->
  <!-- begin::Scroll Top -->
  <div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500"
       data-scroll-speed="300">
    <i class="la la-arrow-up"></i>
  </div>
  <!-- end::Scroll Top -->

</div>
