<!-- Modal:::Start-->
<div id="openModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Matriculation Number Format</h4>
      </div>
      <div class="modal-body">
        <form class="m-form" [formGroup]="createForm">
          <div class="m-portlet__body">
            <div class="m-form__section m-form__section--first">
              <div class="m-form__group--inline m-checkbox-list row">
                <label class="m-checkbox m-checkbox--state-success col-4"
                       *ngFor="let matricFormat of matricFormatVariables; let i = index">
                  <input type="checkbox" value="{{matricFormat?.value}}" (change)="selectMatricFormatVariable(i)">
                  {{matricFormat?.label}}
                  <span></span>
                </label>
              </div>
              <div class="form-group m-form__group row">
                <div class="col-6">
                  <label>Serial Number Type</label>
                  <select class="form-control" formControlName="serial_number_type">
                    <option *ngFor="let type of serialNumberConfig" value="{{type.value}}">{{type.label}}</option>
                  </select>
                </div>
                <div class="col-6">
                  <label>Programme</label>
                  <select class="form-control" formControlName="programme_id">
                    <option *ngFor="let programme of allProgrammes" value="{{programme.id}}">{{programme.name}}</option>
                  </select>
                </div>
              </div>


            </div>
            <div class="row">
              <div id="format" class="col-12 wrapper" dragula="'container2'" [dragulaModel]="selectedMatricFormatVariables">
              <span class="col-2 variable" *ngFor="let variable of selectedMatricFormatVariables2">
                <b>{{variable}}</b>
                <select class="selector" id="selector" (change)="setSeparator($event.target.value)">
                  <option value=""></option>
                  <option value="/"> / </option>
                  <option value="-"> - </option>
                </select>
              </span>
              </div>
            </div>
            <div class="float-right">
              <div class="m-form__actions m-form__actions">
                <button (click)="saveFormat()" type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air" [disabled]="createForm.invalid">
                  Submit<i *ngIf="loader.creating" class="m-loader m-loader--right m-loader--brand"></i>
                </button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal:::end-->


<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">Matric Number Generation</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.matric_no.create')">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="triggerModalOrOverlay('open', 'openModal')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Create Matriculation Format
														</span>
													</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
      <!--begin::Form-->

      <!--end::Form-->
  </div>
  <hr>
  <div class="m-portlet__body m--margin-top-20">
    <table class="table table-bordered table-striped table-hover m-table--head-bg-brand text-center">
      <thead>
      <tr>
        <th>#</th>
        <th>Programme</th>
        <th>Format</th>
        <th>Serial Number Type</th>
        <th>Date Created</th>
        <!--<th>Actions</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="matricNumberFormats.length < 1 || loader.requesting">
        <td colspan="5" *ngIf="loader.requesting">
          <div class="text-center">Loading Matriculation Number Formats
            <i class="m-loader m-loader--right m-loader--brand"></i>
          </div>
        </td>
      </tr>
      <tr *ngFor="let format of matricNumberFormats; let i = index">
        <td>{{i+1}}</td>
        <td>{{format?.programObject?.name | titlecase}}</td>
        <td>{{format?.format.join(format?.separator)}}</td>
        <td>{{format?.serial_number_type | titlecase}}</td>
        <td>{{format?.created_at | date}}</td>
        <!--<td>-->
          <!--<span class="m-badge m-badge&#45;&#45;info">-->
            <!--<i class="la la-edit" (click)="editFormat(i)"></i>-->
          <!--</span>-->
          <!--<span class="m-badge m-badge&#45;&#45;danger">-->
            <!--<i class="la la-remove" (click)="removeFormat(i)"></i>-->
          <!--</span>-->
        <!--</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>