<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">

                    Transfer Applications
                </h3>
            </div>
            <!--<div class="m-portlet__head-tools">-->
                <!--<ul class="m-portlet__nav">-->
                    <!--<li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.profile.student.create')">-->
                        <!--<a style="color: white !important;"-->
                           <!--class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air"-->
                          <!--routerLink="staff/dashboard/transfers">-->
													<!--<span>-->
														<!--<i class="la la-eye"></i>-->
														<!--<span>-->
															<!--View Approved Transfers-->
														<!--</span>-->
													<!--</span>-->
                        <!--</a>-->
                    <!--</li>-->

                <!--</ul>-->

            <!--</div>-->

        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
            <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--end: Search Form -->
        <!--begin: Datatable -->
        <div class="table-responsive">
        <div class="m_datatable m-datatable m-datatable--default m-datatable--scroll m-datatable--loaded"
             id="m_datatable_latest_orders">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                   class="table table-hover table-striped table-sm m-table--head-bg-brand" id="html_table">
                <thead class="thead-color">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Matric No.
                    </th>
                    <th>
                        Session At Transfer
                    </th>
                    <th>
                        Current Course
                    </th>
                    <th>
                        Current Level
                    </th>
                    <th>
                        Destination Course of Study
                    </th>
                    <th>
                        Destination Level
                    </th>
                    <th>
                   Payment Status
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Action
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr class="text-center" *ngIf="allTransfers.length==0">
                    <td colspan="12" >
                        <span *ngIf="allTransfers.length==0 && !load.requesting.list">No Record Found</span>
                        <span *ngIf="load.requesting.list">Fetching Transfer s..
                                    <i class="m-loader m-loader--right m-loader--brand"></i>
                                </span>
                    </td>
                </tr>
                <tr *ngFor="let Transfer of allTransfers; let ind=index">
                    <td>{{ind+1}}</td>
                    <td>{{Transfer?.student?.first_name}}</td>
                    <td>{{Transfer?.student?.last_name}}</td>
                    <td>{{Transfer?.student?.matric_no}}</td>
                    <td>{{Transfer?.session?.name || 'None Captured'}}</td>
                    <td>{{Transfer?.current_course?.name || 'None Captured'}}</td>
                    <td>{{Transfer?.current_level?.name || 'None Captured'}}</td>
                    <td>{{Transfer?.to_course?.name || 'None Captured'}}</td>
                    <td>{{Transfer?.to_level?.name || 'None Captured'}}</td>
                    <td>
                        <span *ngIf="Transfer?.payment_status==='0'" class="m-badge  m-badge--danger m-badge--wide">
                        Not Paid
                    </span>
                        <span *ngIf="Transfer.payment_status==='1'" class="m-badge  m-badge--success m-badge--wide">
                            Paid
                        </span>
                    </td>
                    <td>
                        <span *ngIf="Transfer.status==='1'" class="m-badge  m-badge--info m-badge--wide">{{Transfer.status_text}}</span>

                        <span *ngIf="Transfer.status==='0'"
                              class="m-badge  m-badge--warning m-badge--wide">{{Transfer.status_text}}
                        </span>
                        <span *ngIf="Transfer.status=='-1'"
                              class="m-badge  m-badge--danger m-badge--wide">{{Transfer.status_text}}
                        </span>
                        <span *ngIf="Transfer.status=='2'"
                              class="m-badge  m-badge--success m-badge--wide">{{Transfer.status_text}}
                        </span>

                    </td>

                    <td>
                        <table id="button_row">
                            <tr>
                                <td>
                                    <button data-toggle="m-tooltip" data-placement="top" title="Approve Transfer" type="button"
                                            role="button"
                                            data-original-title="Approve Transfer"
                                            class="btn btn-accent m-btn--air m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill btn-xs"
                                            (click)="toggleApplicationStatus(ind,'approve')"
                                            [disabled]="(Transfer?.status!=='0') || (Transfer?.payment_status==='0')"
                                            *ngIf="iAmPermitted('school.application.transfer.toggleApprove')">
                                        <i class="la la-check" *ngIf="!Transfer?.approveloading"></i>
                                        <i class="m-loader m-loader--brand" *ngIf="Transfer?.approveloading"></i>
                                    </button>

                                </td>
                                <td>
                                    <button data-toggle="m-tooltip" data-placement="top" title="Decline Transfer"
                                            data-original-title="Reject Transfer"
                                            class="btn btn-danger m-btn m-btn--icon m-btn--icon-only  m-btn--custom m-btn--pill btn-xs"

                                            (click)="toggleApplicationStatus(ind,'decline')"
                                            [disabled]="(Transfer?.status!=='0') || (Transfer?.payment_status==='0')"
                                            *ngIf="iAmPermitted('school.application.transfer.toggleDisapprove')">
                                        <i class="la la-times" *ngIf="!Transfer?.rejectloading"></i>
                                    </button>

                                </td>
                                <td *ngIf="(Transfer?.status==='1')&&(Transfer?.payment_status==='1')">

                                    <button data-toggle="m-tooltip" data-placement="top" title="Complete Transfer"
                                            data-original-title="Complete Transfer"
                                            class="btn btn-success m-btn--air m-btn m-btn--icon m-btn--icon-only  m-btn--custom m-btn--pill btn-xs"

                                            (click)="completeTransferApplication(ind,'decline')"
                                             *ngIf="iAmPermitted('school.application.transfer.complete')">
                                        <i class="la la-check-circle-o" *ngIf="!Transfer?.rejectloading"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>


                        <!--</button>-->


                        <!--<div class="dropdown ">-->
                            <!--<a href="#"-->
                               <!--class="btn m-btn m-btn&#45;&#45;hover-accent m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill"-->
                               <!--data-toggle="dropdown">-->
                                <!--<i class="la la-ellipsis-h"></i>-->
                            <!--</a>-->
                            <!--<div class="dropdown-menu dropdown-menu-right">-->
                             <!--<button data-toggle="m-tooltip" data-placement="top" title="Approve Transfer" type="button"-->
                                                 <!--role="button"-->
                                                 <!--data-original-title="Approve Transfer"-->
                                                 <!--class="btn btn-success m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;custom m-btn&#45;&#45;pill btn-xs"-->
                                                 <!--(click)="toggleApplicationStatus(ind,'approve')"-->
                                                 <!--[disabled]="(Transfer?.status!=='0') || (Transfer?.payment_status==='0')">-->
                                <!--<i class="la la-check" *ngIf="!Transfer?.approveloading"></i>-->
                                <!--<i class="m-loader m-loader&#45;&#45;brand" *ngIf="Transfer?.approveloading"></i>-->
                            <!--</button>-->

                              <!--<button data-toggle="m-tooltip" data-placement="top" title="Decline Transfer"-->
                                                   <!--data-original-title="Reject Transfer"-->
                                                   <!--class="btn btn-danger m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only  m-btn&#45;&#45;custom m-btn&#45;&#45;pill btn-xs"-->

                                                   <!--(click)="toggleApplicationStatus(ind,'decline')"-->
                                                   <!--[disabled]="(Transfer?.status!=='0') || (Transfer?.payment_status==='0')">-->
                                <!--<i class="la la-times" *ngIf="!Transfer?.rejectloading"></i>-->
                            <!--</button>-->

                            <!--</div>-->
                        <!--</div>-->


                        <!--<span class="m-switch m-switch&#45;&#45;icon m-switch&#45;&#45;success" *ngIf="Transfer?.status==='0'">-->
                                    <!--<label>-->
                                        <!--<input type="checkbox" checked="checked" name=""-->
                                               <!--(change)="toggleApplicationStatus(ind)">-->
                                        <!--<span></span>-->
                                    <!--</label>-->
                                <!--</span>-->

                    </td>


                </tr>
                </tbody>
            </table>
        </div>
        </div>
        <!--end: Datatable -->
    </div>
</div>
