<div id="createPutme" class="modal fade" role="dialog">
    <form [formGroup]="createPutmeForm">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Create Putme</h4>
                    <button class="close" type="button" (click)="triggerModalOrOverlay('close','createPutme')">&times;
                    </button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="schoolname">First Name:</label>
                                <input class="form-control" formControlName="first_name" id="schoolname"
                                       placeholder="First Name">

                            </div>
                            <div class="col-md-6">

                                <label for="middle_name">Middle Name:</label>
                                <input class="form-control" id="domain" formControlName="middle_name"
                                       placeholder="Middle Name">

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="schooldomain">Last Name:</label>
                                <input class="form-control" id="domain" formControlName="last_name"
                                       placeholder="Last Name">

                            </div>


                            <div class="col-md-6">
                                <label for="matric_no">Email:</label>
                                <input class="form-control" formControlName="email" id="matric_no" placeholder="email">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="email">Phone Number:</label>
                                <input class="form-control" formControlName="phone" id="email" placeholder="Email">


                            </div>
                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-md-6">


                                        <label for="matric_no">Age:</label>
                                        <input class="form-control" formControlName="age" id="matric_no"
                                               placeholder="Age" type="number">

                                    </div>

                                    <div class="col-md-6">
                                        <p>Gender:</p>
                                        <label for="create_male" class="radio-inline">Male</label>
                                        <input id="create_male" formControlName="gender" value="Male" type="radio">

                                        <label for="create_female" class="radio-inline">Female</label>
                                        <input id="create_female" formControlName="gender" value="Female" type="radio">
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-6">

                                <label for="country">Country:</label>
                                <select class="form-control" #country id="country"
                                        (change)="getStateByCountryId(country.value)">
                                    <option value="" disabled>Select Country</option>
                                    <option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">
                                        {{country.name}}
                                    </option>
                                </select>


                            </div>
                            <div class="col-md-6">

                                <label for="state">State:</label>
                                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.states.loading"></i>
                                <select class="form-control" #createState formControlName="state_origin" id="state"
                                        (change)="getLgaByStateId(createState.value)">
                                    <option value="" disabled>Select State</option>
                                    <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">
                                        {{state.name}}
                                    </option>
                                </select>

                            </div>

                        </div>


                        <div class="row">


                            <div class="col-md-6">

                                <label for="course">LGA:</label>
                                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.lgas.loading"></i>
                                <select class="form-control" formControlName="lga" id="faculty">
                                    <option value="" disabled>Select Lga</option>
                                    <option *ngFor="let lga of allLgas; let ind=index" value="{{lga.id}}">{{lga.name}}
                                    </option>
                                </select>


                            </div>

                            <div class="col-md-6">

                                <label for="country">Programme:</label>
                                <select class="form-control" formControlName="programme_id" id="country">
                                    <option value="" disabled>Select Programme</option>
                                    <option *ngFor="let programme of allProgrammes; let ind=index"
                                            value="{{programme.id}}">{{programme.name}}
                                    </option>
                                </select>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">


                                <label>{{facultyName}}:</label>
                                <select class="form-control" #faculty
                                        (change)="getDepartmentByByFacultyId(faculty.value)">
                                    <option value="" disabled>Select {{facultyNames}}</option>
                                    <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">
                                        {{faculty.name}}
                                    </option>
                                </select>


                            </div>

                            <div class="col-md-6">
                                <label for="department">Department:</label>
                                <i class="m-loader m-loader--right m-loader--brand"
                                   *ngIf="load.departments.loading"></i>
                                <select class="form-control" #createdeprtmnt formControlName="department_id"
                                        id="department" (change)="getCourseByDepartmentId(createdeprtmnt.value)"
                                        [disabled]="!load.departments.list || load.departments.loading">
                                    <option value="" disabled>Select Department</option>
                                    <option *ngFor="let department of allDepartments; let ind=index"
                                            value="{{department.id}}">{{department.name}}
                                    </option>
                                </select>


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="course">Course of Study:</label>
                                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.courses.loading"></i>
                                <select class="form-control" formControlName="course_of_study_id" id="course"
                                        [disabled]="!load.courses.list || load.courses.loading">
                                    <option value="" disabled>Select Course</option>
                                    <option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">
                                        {{course.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Home Address:</label>
                                <textarea formControlName="address" class="form-control">Home Address</textarea>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            [disabled]="createPutmeForm.invalid || load.requesting.create">{{load.message.create}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>

                    <button type="button"
                            class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            (click)="triggerModalOrOverlay('close','createPutme')">Close
                    </button>

                </div>
            </div>
        </div>
    </form>
</div>
<div id="putmeTemplateModal" class="modal fade" role="dialog">
    <form [formGroup]="uploadPutmeTemplate" (ngSubmit)="createPutmeRecord('resultBulkFile')">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Export PUTME</h4>
                    <button class="close" type="button" (click)="triggerModalOrOverlay('close','putmeTemplateModal')">
                        &times;
                    </button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="newsession">Session:</label>
                                <select class="form-control" formControlName="session_year"
                                        id="newsession">
                                    <option value="" disabled>Select Session</option>
                                    <option *ngFor="let session of allSessions; let ind=index"
                                            value="{{session.id}}">{{session?.name || session?.year}} {{session?.programme?.name}}
                                    </option>
                                </select>

                            </div>
                            <div class="col-md-6">
                                <label for="resultBulkFile">Bulk PUTME File</label>
                                <input type="file" id="resultBulkFile" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            [disabled]="uploadPutmeTemplate.invalid || load.requesting.create">
                        <i class="fa fa-upload"></i>
                        Upload Template
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>

                    <button type="button"
                            class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            (click)="triggerModalOrOverlay('close','putmeTemplateModal')">Close
                    </button>
                    <a id="d_template" download></a>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="updatePutme" class="modal fade" role="dialog">
    <form [formGroup]="updatePutmeForm" (ngSubmit)="updatePutme()">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Update {{updatedPutme?.first_name}} {{updatedPutme?.last_name}}</h4>
                    <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updatePutme')">Close</button> -->
                    <button class="close" type="button" (click)="triggerModalOrOverlay('close','updatePutme')">&times;
                    </button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="schoolname">First Name:</label>
                                <input class="form-control" formControlName="first_name" id="schoolname"
                                       placeholder="First Name">

                            </div>
                            <div class="col-md-6">

                                <label for="middle_name">Middle Name:</label>
                                <input class="form-control" id="domain" formControlName="middle_name"
                                       placeholder="Middle Name">

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="schooldomain">Last Name:</label>
                                <input class="form-control" id="domain" formControlName="last_name"
                                       placeholder="Last Name">

                            </div>


                            <div class="col-md-6">

                                <label for="email">Phone Number:</label>
                                <input class="form-control" formControlName="phone" id="email" placeholder="Email">


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="matric_no">Age:</label>
                                        <input class="form-control" formControlName="age" id="matric_no"
                                               placeholder="Age" type="number">

                                    </div>

                                    <div class="col-md-6">
                                        <p>Gender:</p>
                                        <label for="create_male" class="radio-inline">Male</label>
                                        <input id="create_male" formControlName="gender" value="Male" type="radio">

                                        <label for="create_female" class="radio-inline">Female</label>
                                        <input id="create_female" formControlName="gender" value="Female" type="radio">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">


                                <label for="country">Country:</label>
                                <select class="form-control" #createcountry id="country"
                                        (change)="getStateByCountryId(createcountry.value)">
                                    <option value="" disabled>Select Country</option>
                                    <option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">
                                        {{country.name}}
                                    </option>
                                </select>


                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-6">


                                <label for="state">State:</label>
                                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.states.loading"></i>
                                <select class="form-control" #updateState formControlName="state_origin" id="state"
                                        (change)="getLgaByStateId(updateState.value)">
                                    <option value="" disabled>Select State</option>
                                    <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">
                                        {{state.name}}
                                    </option>
                                </select>


                            </div>
                            <div class="col-md-6">


                                <label for="course">LGA:</label>
                                <select class="form-control" formControlName="lga" id="faculty">
                                    <option value="" disabled>Select Lga</option>
                                    <option *ngFor="let lga of allLgas; let ind=index" value="{{lga.id}}">{{lga.name}}
                                    </option>
                                </select>


                            </div>

                        </div>


                        <div class="row">


                            <div class="col-md-6">


                                <label for="country">Programme:</label>
                                <select class="form-control" formControlName="programme_id" id="country">
                                    <option value="" disabled>Select Programme</option>
                                    <option *ngFor="let programme of allProgrammes; let ind=index"
                                            value="{{programme.id}}">{{programme.name}}
                                    </option>
                                </select>


                            </div>

                            <div class="col-md-6">

                                <label for="department">Department:</label>
                                <i class="m-loader m-loader--right m-loader--brand"
                                   *ngIf="load.departments.loading"></i>
                                <select class="form-control" #deprtmnt formControlName="department_id" id="department"
                                        (change)="getCourseByDepartmentId(deprtmnt.value)"
                                        [disabled]="!load.departments.list || load.departments.loading">
                                    <option value="" disabled>Select Department</option>
                                    <option *ngFor="let department of allDepartments; let ind=index"
                                            value="{{department.id}}">{{department.name}}
                                    </option>
                                </select>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">

                                <label for="course">Course of Study:</label>
                                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.courses.loading"></i>
                                <select class="form-control" formControlName="course_of_study_id" id="course"
                                        [disabled]="!load.courses.list || load.courses.loading">
                                    <option value="" disabled>Select Course</option>
                                    <option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">
                                        {{course.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label>Home Address:</label>
                                <textarea formControlName="address" class="form-control">Home Address</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit"
                            class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            [disabled]="updatePutmeForm.invalid || load.requesting.create">{{load.message.update}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>


                    <button type="button"
                            class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            (click)="triggerModalOrOverlay('close','updatePutme')">Close
                    </button>


                </div>
            </div>
        </div>
    </form>
</div>


<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Post UTME List
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <!--<li class="m-portlet__nav-item">-->
                <!--<a style="color: white !important;"-->
                <!--class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm"-->
                <!--(click)="triggerModalOrOverlay('open','createPutme')">-->
                <!--<span>-->
                <!--<i class="la la-plus"></i>-->
                <!--<span>-->
                <!--Post UTME-->
                <!--</span>-->
                <!--</span>-->
                <!--</a>-->
                <!--</li>-->

                <li class="m-portlet__nav-item">
                    <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                         data-dropdown-toggle="hover" aria-expanded="true">
                        <a
                                class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                            <!--<i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>-->
                            <i class="la la-upload la-2x"></i>
                        </a>
                        <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
                                      style="left: auto; right: 21.5px;"></span>
                            <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                        <ul class="m-nav">
                                            <li class="m-nav__section m-nav__section--first">
																			<span class="m-nav__section-text">
																				Bulk File
																			</span>
                                            </li>
                                            <li class="m-nav__item" *ngIf="iAmPermitted('school.admission.putme-process.import_putme')">
                                                <a class="m-nav__link"
                                                   (click)="downloadTemplate(1,'putmeTemplate')">
                                                    <i class="m-nav__link-icon la la-download"></i>
                                                    <span class="m-nav__link-text">
																					Download Template
																				</span>
                                                    <!--putme_process/download_template-->
                                                </a>
                                            </li>
                                            <!--<li class="m-nav__item">-->
                                            <!--<a href="" class="m-nav__link">-->
                                            <!--<i class="m-nav__link-icon la la-upload"></i>-->
                                            <!--<span class="m-nav__link-text">-->
                                            <!--Bulk Upload-->
                                            <!--</span>-->
                                            <!--</a>-->
                                            <!--</li>-->
                                            <li class="m-nav__item" *ngIf="iAmPermitted('school.admission.putme-process.import_putme')">
                                                <a class="m-nav__link"
                                                   (click)="triggerModalOrOverlay('open','putmeTemplateModal')">
                                                    <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                                    <span class="m-nav__link-text">
																					Upload File
																				</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>


            </ul>
        </div>

    </div>
    <div class="m-portlet__body">
        <!--begin: Search Form -->
        <!--end: Search Form -->
        <!--begin: Datatable -->
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                   class="table table-hover table-striped table-sm m-table--head-bg-brand">
                <thead class="thead-color">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Other Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Jamb Reg No</th>
                    <th>Form Number</th>
                    <th>First Choice Course</th>
                    <th>Second Choice Course</th>
                    <th>Jamb Score</th>
                    <th>Post UTME Score</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" *ngIf="load.requesting.list || allPutmes.length===0">
                    <td colspan="13">
                        <span *ngIf=" !load.requesting.list">No Record Found</span>
                        <span *ngIf="load.requesting.list">Fetching Post UTME list..
                            <i class="m-loader m-loader--right m-loader--brand"></i>
                        </span>
                    </td>
                </tr>
                <tr *ngFor="let Putme of allPutmes; let ind = index">
                    <td>{{ind+1}}</td>
                    <td>{{Putme?.first_name || 'None Captured'}}</td>
                    <td>{{Putme?.last_name || 'None Captured'}}</td>
                    <td>{{Putme?.other_name || 'None Captured'}}</td>
                    <td>{{Putme?.applicant?.phone || 'None Captured'}}</td>
                    <td>{{Putme?.applicant?.email || 'None Captured'}}</td>
                    <td>{{Putme?.reg_no || 'None Captured'}}</td>
                    <td>{{Putme?.form_no || 'None Captured'}}</td>
                    <td>{{Putme?.first_course || 'None Captured'}}</td>
                    <td>{{Putme?.second_course || 'None Captured'}}</td>
                    <td>{{Putme?.applicant?.total_ume_score || 'None Captured'}}</td>
                    <td>{{Putme?.putme_score || 'None Captured'}}</td>
                    <td *ngIf="Putme.status==='1'" style="color:green">
                        <i class="fa fa-check fa-2x"></i>
                    </td>
                    <td *ngIf="Putme.status==='0'" style="color:red">
                        <i class="fa fa-times fa-2x"></i>
                    </td>
                    <td>
                        <div class="dropdown ">
                            <a class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                                <i class="la la-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"  (click)="viewPutmeCandidate(ind)">
                                    <i class="la la-edit"></i> View {{Putme?.first_name}}</a>
                            </div>
                        </div>


                    </td>
                </tr>
                </tbody>
            </table>
        </div>
<a style="display: none" id="putmeTemplate" download></a>
        <!--end: Datatable -->
    </div>
</div>
