<div id="openModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.formType}} {{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="example-text-input" class="col-3 col-form-label">
                <span class="styleStar">*</span> Maximum Unit Load
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="max_unit" type="number" value="Artisanal kale"
                       id="example-text-input">
                <div class="alert alert-danger col-12" role="alert"
                     *ngIf="createForm.get('max_unit').invalid && createForm.get('max_unit').touched">
                  <strong>
                    Maximum Unit Load is Required
                  </strong>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="example-text-input" class="col-3 col-form-label">
                <span class="styleStar">*</span>Minimum Unit Load
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="min_unit" type="number" value="Artisanal kale"
                       id="example-text-input">
                <div class="alert alert-danger col-12" role="alert"
                     *ngIf="createForm.get('min_unit').invalid && createForm.get('min_unit').touched">
                  <strong>
                    Minimum Unit Load is Required
                  </strong>
                </div>
              </div>
            </div>
            <span *ngIf="!feedBack.showUpdateButton">
              <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                <label class="col-3 col-form-label">
                  <span class="styleStar">*</span>Programme
                </label>
                <div class="col-lg-9 col-md-9 col-sm-12">

                  <select class="form-control" formControlName="programme_id" style="width: 100%"
                          (change)="extractProgrammeId($event)">
                      <option></option>
                      <option *ngFor="let type of feedBack?.programmeList " [value]="type?.id">
                          {{type?.name}}
                      </option>
                  </select>
                  <div class="alert alert-danger col-12" role="alert"
                       *ngIf="createForm.get('programme_id').invalid && createForm.get('programme_id').touched">
                      <strong>
                          Programme is Required
                      </strong>
                    </div>
                </div>
              </div>

                        <div class="text-center" *ngIf="feedBack.loadLevel">loading level(s) and session(s) <i
                          class="m-loader m-loader--right m-loader--brand"></i></div>
                        <div class="text-center" *ngIf="feedBack.checkEmptyLevel && feedBack?.levelList.length === 0">No level(s) found</div>

                        <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                             *ngIf="feedBack?.levelList.length !== 0 ">
                            <label class="col-3 col-form-label">
                                <span class="styleStar">*</span>Level
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">

                                <select class="form-control" formControlName="level_id" style="width: 100%">
                                    <option></option>
                                    <option *ngFor="let type of feedBack?.levelList " [value]="type?.id">
                                        {{type?.name}}
                                    </option>
                                </select>
                                <div class="alert alert-danger col-12" role="alert"
                                     *ngIf="createForm.get('level_id').invalid && createForm.get('level_id').touched">
                                    <strong>
                                        Level is Required
                                    </strong>
                                </div>
                            </div>
                        </div>

                        <div class="text-center" *ngIf="feedBack.checkEmptyLevel && feedBack?.sessionList.length === 0">No session found</div>
                           <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                                *ngIf="feedBack?.sessionList.length !== 0 ">
                            <label class="col-3 col-form-label">
                                <span class="styleStar">*</span>Session
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">

                                <select class="form-control" formControlName="session_id" style="width: 100%">
                                    <option></option>
                                    <option *ngFor="let type of feedBack?.sessionList " [value]="type?.id">
                                        {{type?.year}}
                                    </option>
                                </select>
                                <div class="alert alert-danger col-12" role="alert"
                                     *ngIf="createForm.get('session_id').invalid && createForm.get('session_id').touched">
                                    <strong>
                                        Session is Required
                                    </strong>
                                </div>
                            </div>
                        </div>
                         <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                            <label class="col-3 col-form-label">
                               <span class="styleStar">*</span> Semester
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">

                                <select class="form-control" formControlName="semester" style="width: 100%">
                                    <option></option>
                                    <option value=1>First</option>
                                    <option value=2>Second</option>
                                    <option value=3>Third</option>
                                </select>
                                <div class="alert alert-danger col-12" role="alert"
                                     *ngIf="createForm.get('semester').invalid && createForm.get('semester').touched">
                                    <strong>
                                        Semester is Required
                                    </strong>
                                </div>
                            </div>
                        </div>


                        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                            <label class="col-3 col-form-label">
                               <span class="styleStar">*</span> {{facultyName}}
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">

                                <select class="form-control" formControlName="faculty_id" style="width: 100%"
                                        (change)="extractId($event)">
                                    <option></option>
                                    <option *ngFor="let type of feedBack?.facultyList " [value]="type?.id">
                                        {{type?.name}}
                                    </option>
                                </select>
                                <div class="alert alert-danger col-12" role="alert"
                                     *ngIf="createForm.get('faculty_id').invalid && createForm.get('faculty_id').touched">
                                    <strong>
                                        {{facultyName}} is Required
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="text-center" *ngIf="feedBack.loadDepartment">loading department(s)<i
                          class="m-loader m-loader--right m-loader--brand"></i></div>
                        <div class="text-center"
                             *ngIf="feedBack.checkEmptyDepartment && feedBack?.departmentList.length === 0">No department(s) found</div>
                        <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                             *ngIf="feedBack?.departmentList.length !== 0">
                            <label class="col-3 col-form-label">
                               <span class="styleStar">*</span> Department
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">

                                <select class="form-control" formControlName="department_id" style="width: 100%"
                                        (change)="extractCourseId($event)">
                                    <option></option>
                                    <option *ngFor="let type of feedBack?.departmentList " [value]="type?.id">
                                        {{type?.name}}
                                    </option>
                                </select>
                                <div class="alert alert-danger col-12" role="alert"
                                     *ngIf="createForm.get('department_id').invalid && createForm.get('department_id').touched">
                                    <strong>
                                        Department is Required
                                    </strong>
                                </div>
                            </div>
                        </div>
                         <div class="text-center" *ngIf="feedBack.loadCourse">loading course(s)<i
                           class="m-loader m-loader--right m-loader--brand"></i></div>
                        <div class="text-center" *ngIf="feedBack.checkEmptyCourse && feedBack?.courseList.length === 0">No Course of Study found</div>
                        <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                             *ngIf="feedBack?.courseList.length !== 0">
                            <label class="col-3 col-form-label">
                               <span class="styleStar">*</span> Course of Study
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">

                                <select class="form-control" formControlName="course_of_study_id" style="width: 100%">
                                    <option></option>
                                    <option *ngFor="let type of feedBack?.courseList " [value]="type?.id">
                                        {{type?.name}}
                                    </option>
                                </select>
                                <div class="alert alert-danger col-12" role="alert"
                                     *ngIf="createForm.get('course_of_study_id').invalid && createForm.get('course_of_study_id').touched">
                                    <strong>
                                        Course is Required
                                    </strong>
                                </div>
                            </div>
                        </div>
                       </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="!feedBack.showUpdateButton" (click)="createFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal" [disabled]="feedBack.submitStatus || createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" *ngIf="feedBack.showUpdateButton" (click)="updateFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal" [disabled]="feedBack.submitStatus || createForm.invalid">
          Update <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.moduleName}} Details</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body" *ngIf="feedBack?.viewDetails">
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Course of Study:
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.course_of_study?.name}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Maximum Unit Load:
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.max_unit}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Minimum Unit Load:
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.min_unit}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Level:
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.level?.name}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Session:
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.session?.name}}
              </div>
            </div>

            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Semester
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.semester}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Session Start Date:
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.session?.date_start}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Session End Date:
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.session?.date_end}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Department:
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.department?.name}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                {{facultyName}}:
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.faculty?.name}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Programme:
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.programme?.name}}
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text" style="cursor: pointer" (click)="showAll()">
          {{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" *ngIf="permissions['school.course-management.curriculum.create']">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="openModal()">
													<span>
														<i class="la la-plus"></i>
														<span>
                              Curriculum
														</span>
													</span>
          </a>
        </li>
        <li class="m-portlet__nav-item">
          <select *ngIf="feedBack?.viewFilterSearch" class="form-control" style="width: 100%; border-radius: 20px; padding: 3%"
                  (change)="filter($event)">
            <option></option>
            <option *ngFor="let type of feedBack?.COS_array " [value]="type?.course_of_study?.id">
              {{type?.course_of_study?.name}}
            </option>
          </select>
          <a *ngIf="!feedBack?.viewFilterSearch" style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="filterCurriculum()">
													<span>
														<i class="la la-search"></i>
														<span>
                              Filter
														</span>
													</span>
          </a>
        </li>


      </ul>
    </div>

  </div>
  <!--<div style="float: right; margin: 10px; margin-right: 4%">-->
  <!--<button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"  (click)="openModal()">-->
  <!--<i class="fa fa-plus"></i>-->
  <!--Create-->
  <!--</button>-->
  <!--</div>-->
  <div class="m-portlet__body">
    <div class="row my-md-2">
      <div class="col-6">
        <select class="form-control form-control-sm mb-1 col-3" (change)="changePerPage($event.target.value)">
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>
      <div class="col-6">
        <input type="text" (keyup)="search_model.next($event.target.value)" class="form-control form-control-sm col-6 float-right" placeholder="Search">
      </div>
    </div>
    <div class="table-responsive">
      <table id="myTable" class="table table-hover table-striped table-sm m-table--head-bg-brand relative">
        <div *ngIf="feedBack.loader" class="table-loader">
          <div class="content">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
          </div>
        </div>
        <thead class="thead-color">
        <tr>
          <th class="serialnum">#</th>
          <th>Course of Study</th>
          <th>Max unit</th>
          <th>Min unit</th>
          <th>Level</th>
          <th>Semester</th>
          <th>Session</th>
          <th>Created Date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody *ngIf="!feedBack?.showFilterData">
        <tr *ngFor="let data of curriculumPager?.data; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>{{data?.course_of_study?.name}}</td>
          <td>{{data?.max_unit}}</td>
          <td>{{data?.min_unit}}</td>
          <td>{{data?.level?.name}}</td>
          <td>{{data?.semester}}</td>
          <td>{{data?.session?.name}}</td>
          <td>{{data?.created_at | date}}</td>
          <td data-field="Type">
            <div class="dropdown ">
              <a href="#"
                 class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                 data-toggle="dropdown">
                <i class="la la-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" (click)="onEdit(data)" *ngIf="permissions['school.course-management.curriculum.update']">
                  <i class="la la-edit"></i> Edit</a>
                <a class="dropdown-item" (click)="onView(data)" *ngIf="permissions['school.course-management.curriculum.view']">
                  <i class="la la-eye"></i> View</a>
                <a class="dropdown-item" (click)="onViewCourseCurriculum(data?.id)" *ngIf="permissions['school.course-management.curriculum.view']">
                  <i class="la la-list"></i> View Courses</a>

              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="curriculumPager?.data.length === 0">
          <td colspan="9" *ngIf="feedBack.loader">
            <div class="text-center">Loading {{feedBack?.moduleName}} <i
              class="m-loader m-loader--right m-loader--brand"></i></div>
          </td>
          <td colspan="9" *ngIf="!feedBack.loader && curriculumPager?.data.length === 0">
            <div class="text-center">No Content Found</div>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="feedBack?.showFilterData">
        <tr *ngFor="let data of feedBack?.filterArray; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>{{data?.course_of_study?.name}}</td>
          <td>{{data?.max_unit}}</td>
          <td>{{data?.min_unit}}</td>
          <td>{{data?.level?.name}}</td>
          <td>{{data?.semester}}</td>
          <td>{{data?.session?.name}}</td>
          <td>{{data?.created_at | date}}</td>
          <td data-field="Type">
            <div class="dropdown ">
              <a href="#"
                 class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                 data-toggle="dropdown">
                <i class="la la-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" (click)="onEdit(data)">
                  <i class="la la-edit"></i> Edit</a>
                <!--<a class="dropdown-item" (click)="onView(data)">-->
                  <!--<i class="la la-eye"></i> View</a>-->
                <a class="dropdown-item" [routerLink]="['../staff/config/course-curriculum', data?.id]">
                  <i class="la la-list"></i> View Courses</a>

              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="row mx-md-1">
        <div class="col-6">
          <div class="float-left">
            <span class="align-middle">Showing {{ curriculumPager?.from }} to {{ curriculumPager?.to }} of {{ curriculumPager?.total }} entries</span>
          </div>
        </div>
        <div class="col-6">
          <div class="float-right">
            <button class="btn btn-sm btn-outline-brand" (click)="navigate('first')">First</button>
            <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only pr-1" (click)="navigate('prev')" [disabled]="curriculumPager?.prev_page_url === null">
              <i class="la la-chevron-left"></i>
            </button>
            <div class="btn-group">
              <button class="btn btn-sm btn-outline-brand" [ngClass]=" (page === curriculumPager?.current_page) ? 'active' : ''" *ngFor="let page of paginator.pages" (click)="navigate(page)">{{ page }}</button>
            </div>
            <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only" (click)="navigate('next')" [disabled]="curriculumPager?.next_page_url === null">
              <i class="la la-chevron-right"></i>
            </button>
            <button class="btn btn-sm btn-outline-brand" (click)="navigate('last')">Last</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
