<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text" id="showTop">
          Settings
        </h3>
      </div>
    </div>
  </div>

  <div class="m-loader m-loader--brand text-center" *ngIf="feedBack.loader"></div>

  <div class="m-portlet__body" *ngIf="!feedBack.loader">
    <form [formGroup]="createForm" class="">
      <div class="m-portlet__body">

        <!--<input class="form-control m-input" formControlName="part_payment_type" type="text" id="text-input1" style="display:none">-->
        <!--<input class="form-control m-input" formControlName="part_payment_ratio"  type="text" id="text-input2" style="display:none">-->
        <div class="row">
          <div *ngFor="let settingsDisplay of allSettingsDisplay" class="card col-sm-6 col-xs-12">
            <div class="card-header">
              <h3 class="text-center">{{settingsDisplay?.title}}</h3>
              <h6 class="text-center">{{settingsDisplay?.desc}}</h6>
            </div>
            <div class="card-body">
              <div class="form-group" style="padding-bottom: 1px;" *ngFor="let element of settingsDisplay?.elements">
                <div class="row" *ngIf="element?.type != 'checkbox' && element?.type != 'radio' && element?.type != 'color' && element?.type != 'file'">
                  <label class="col-5 col-form-label">
                    <span class="styleStar" *ngIf="element?.rules === 'required'">*</span>{{element?.label}}
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" formControlName="{{element?.name}}" name="{{element?.name}}"  type="{{element.type}}" [value]="element?.value">
                  </div>
                </div>
                <div class="row" *ngIf="element?.type === 'file'">
                  <label class="col-5 col-form-label">
                    <span class="styleStar" *ngIf="element?.rules === 'required'">*</span>{{element?.label}}
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" name="{{element?.name}}" type="{{element.type}}" id="{{element?.name}}" (change)="validateFile(element?.name)">
                  </div>
                </div>
                <div class="row" *ngIf="element?.type === 'color'">
                  <label class="col-5 col-form-label">
                    <span class="styleStar" *ngIf="element?.rules === 'required'">*</span>{{element?.label}}
                  </label>
                  <div class="col-7">
                    <input class="" formControlName="{{element?.name}}"  type="{{element.type}}">
                  </div>
                </div>
                <div class="row" *ngIf="element?.type == 'checkbox' || element?.type == 'radio'">
                  <label class="col-3 col-form-label">
                    <span class="styleStar" *ngIf="element?.rules === 'required'">*</span>{{element?.label}}
                  </label>
                  <div class="col-9 row">
                    <div *ngFor="let value of element?.options; let i = index" class="col-4">
                      <label *ngIf="element?.type == 'checkbox'" class="m-checkbox m-checkbox--success">
                        <input type="{{element.type}}" name="{{element?.name}}" formControlName="{{element?.name}}" value="{{value?.value}}" (click)="addToArray(element?.name)">
                        {{value?.name}}
                        <span></span>
                      </label>
                      <label *ngIf="element?.type == 'radio'" class="m-radio m-radio--success">
                        <input type="{{element.type}}" name="{{element?.name}}" formControlName="{{element?.name}}" value="{{value?.value}}" [checked]="element?.value == value?.value">
                        {{value?.name}}
                        <span></span>
                      </label>
                    </div>
                    <!--<label *ngFor="let value of element?.options" class="col-3">-->
                    <!--[ngClass]="{'m-checkbox': element?.type == 'checkbox', 'm-radio': element?.type == 'radio'}"-->
                    <!--<input class="radio-inline form-control"  type="{{element.type}}" name="{{element?.name}}" formControlName="{{element?.name}}" value="{{value?.value}}">-->
                    <!--{{value?.name}}-->
                    <!--</label>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="m-portlet__head" *ngIf="iAmPermitted('school.settings.store')">
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button style="color: white !important;" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="createFormModal()"
                  [disabled]="!fileTypeIsValid || createForm.invalid">
              <span>
                Save changes &nbsp;&nbsp;
                <i class="m-loader m-loader--light" *ngIf="feedBack.submitStatus"></i>
              </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
