<div id="courseRegForm" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Course Registration</h4>
      </div>
      <div class="modal-body">
        <!--<div #download id="printarea">
          &lt;!&ndash;<div class="row">&ndash;&gt;
            &lt;!&ndash;<div class="col-12 headered">&ndash;&gt;
              &lt;!&ndash;<h5 class="text-center">&ndash;&gt;
                &lt;!&ndash;{{appSettings?.name|uppercase}} <br>&ndash;&gt;
              &lt;!&ndash;</h5>&ndash;&gt;
              &lt;!&ndash;<p class="text-center">{{appSettings?.settings?.subtitle}}</p>&ndash;&gt;
            &lt;!&ndash;</div>&ndash;&gt;
          &lt;!&ndash;</div>&ndash;&gt;
          &lt;!&ndash;<img class="water-mark" width="100%" height="auto" [src]="appSettings?.settings?.logo">&ndash;&gt;
          <div class="row" style="width: 100%">
            <div class="img-div&#45;&#45;custom mb-3 col-3">
              <img [src]="appSettings?.settings?.logo" style="float: left">
            </div>
            <div class="col-4 text-center">
              <h1> {{ appSettings?.name }} </h1>
              <p> {{ appSettings?.settings?.subtitle }} </p>
            </div>
            <div class="img-div&#45;&#45;custom mb-3 col-3">
              <img [src]="user_details?.passport" style="float: right">
            </div>
          </div>
          <br>
          <h3 class="my-2 py-3 text-center" style="text-decoration: underline; text-align: center"><b>COURSE REGISTRATION FORM</b></h3>
          &lt;!&ndash;<div class="row">&ndash;&gt;
            &lt;!&ndash;<div class="col-12">&ndash;&gt;
              &lt;!&ndash;<h5 class="text-center">STUDENT COURSE FORM</h5>&ndash;&gt;
            &lt;!&ndash;</div>&ndash;&gt;
          &lt;!&ndash;</div>&ndash;&gt;
          <br>
          <br>
          <div class="row table-responsive">
            <div class="col-8 offset-2">
              <table class="table table-sm">
                <tr>
                  <td>NAME</td>
                  <td><b>{{user_details?.last_name}} {{user_details?.first_name}}</b></td>
                </tr>
                <tr>
                  <td>MATRIC NUMBER</td>
                  <td><b>{{user_details?.matric_no}}</b></td>
                </tr>
                &lt;!&ndash;<tr>&ndash;&gt;
                  &lt;!&ndash;<td>EMAIL</td>&ndash;&gt;
                  &lt;!&ndash;<td><b>{{user_details?.email}}</b></td>&ndash;&gt;
                &lt;!&ndash;</tr>&ndash;&gt;
                &lt;!&ndash;<tr>&ndash;&gt;
                  &lt;!&ndash;<td>Phone</td>&ndash;&gt;
                  &lt;!&ndash;<td><b>{{user_details?.telephone_mobile}}</b></td>&ndash;&gt;
                &lt;!&ndash;</tr>&ndash;&gt;
                <tr>
                  <td>FACULTY</td>
                  <td><b>{{user_details?.course_of_study?.department?.faculty?.name}}</b></td>
                </tr>
                <tr>
                  <td>DEPARTMENT</td>
                  <td><b>{{user_details?.course_of_study.department?.name}}</b></td>
                </tr>
                <tr>
                  <td>PROGRAMME</td>
                  <td><b>{{user_details?.course_of_study.programme_type?.name}}</b></td>
                </tr>
                <tr>
                  <td>SESSION</td>
                  <td><b>{{feedBack.courses?.session?.name}}</b></td>
                </tr>
                <tr>
                  <td>SEMESTER</td>
                  <td><b>{{feedBack.courses?.semester?.name}}</b></td>
                </tr>
                <tr>
                  <td>LEVEL</td>
                  <td><b>{{user_details?.level?.name}}</b></td>
                </tr>
              </table>
            </div>
          </div>
          <br><br>
          <div class="row table-responsive">
            <div class="col-10 offset-1">
              <table class="table table-striped table-bordered table-advance table-hover m-table&#45;&#45;head-bg-brand table-sm">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Code</th>
                  <th>Type</th>
                  <th>{{ appSettings?.settings?.unit_name }}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let course of feedBack?.courses?.courses; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{course?.title}}</td>
                  <td>{{course?.code}}</td>
                  <td>{{course?.typeName}}</td>
                  <td>{{course?.unit}}</td>
                </tr>
                <tr *ngIf="feedBack?.courses.length > 0 || true">
                  <td></td>
                  <td><b>Total {{ appSettings?.settings?.unit_name }}s</b></td>
                  <td></td>
                  <td></td>
                  <td><b>{{feedBack.total_unit}}</b></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-4 text-center">
              <hr>
              <h4 class="mb-0">Student's Signature</h4>
              &lt;!&ndash;<small>HOD, Department of {{ user_details?.course_of_study?.department?.name }}</small>&ndash;&gt;
            </div>
          </div>
          <br><br>
          <div class="row mt-4" style="width: 100%">
            <div class="col-1"></div>
            <div class="col-4 text-center">
              <hr>
              <h4 class="mb-0">{{ user_details?.course_of_study?.department?.current_hod?.fullname }}</h4>
              <small>HOD, Department of {{ user_details?.course_of_study?.department?.name }}</small>
            </div>
            <div class="col-1"></div>
            <div class="col-4 text-center">
              <hr>
              <h4 class="mb-0">{{ user_details?.course_of_study?.department?.faculty?.current_dean?.fullname }}</h4>
              <small>Dean, Faculty of {{ user_details?.course_of_study?.department?.faculty?.name }}</small>
            </div>
          </div>
        </div>-->
      </div>
      <div class="modal-footer">
        <button type="button" (click)="printSlip('printarea')"
                class="btn btn-accent m-btn--pill m-btn--air btn-sm">
          <i class="m-loader m-loader--light" *ngIf="feedBack?.print_loader"></i> Print
        </button>
        <button type="button"
                class="btn btn-accent btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>

<div style="display: none" #download id="printarea">
  <!--<div class="row">-->
  <!--<div class="col-12 headered">-->
  <!--<h5 class="text-center">-->
  <!--{{appSettings?.name|uppercase}} <br>-->
  <!--</h5>-->
  <!--<p class="text-center">{{appSettings?.settings?.subtitle}}</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--<img class="water-mark" width="100%" height="auto" [src]="appSettings?.settings?.logo">-->
  <div class="row" style="width: 100%">
    <div class="img-div--custom mb-3 col-3">
      <img [src]="appSettings?.settings?.logo" style="float: left">
    </div>
    <div class="col-4 text-center">
      <h1> {{ appSettings?.name }} </h1>
      <p> {{ appSettings?.settings?.subtitle }} </p>
    </div>
    <div class="img-div--custom mb-3 col-3">
      <img [src]="user_details?.passport" style="float: right">
    </div>
  </div>
  <br>
  <h3 class="my-2 py-3 text-center" style="text-decoration: underline; text-align: center"><b>COURSE REGISTRATION FORM</b></h3>
  <!--<div class="row">-->
  <!--<div class="col-12">-->
  <!--<h5 class="text-center">STUDENT COURSE FORM</h5>-->
  <!--</div>-->
  <!--</div>-->
  <br>
  <br>
  <div class="row table-responsive">
    <div class="col-8 offset-2">
      <table class="table table-sm">
        <tr>
          <td>NAME</td>
          <td><b>{{user_details?.last_name}} {{user_details?.first_name}}</b></td>
        </tr>
        <tr>
          <td>MATRIC NUMBER</td>
          <td><b>{{user_details?.matric_no}}</b></td>
        </tr>
        <!--<tr>-->
        <!--<td>EMAIL</td>-->
        <!--<td><b>{{user_details?.email}}</b></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Phone</td>-->
        <!--<td><b>{{user_details?.telephone_mobile}}</b></td>-->
        <!--</tr>-->
        <tr>
          <td>FACULTY</td>
          <td><b>{{user_details?.course_of_study?.department?.faculty?.name}}</b></td>
        </tr>
        <tr>
          <td>DEPARTMENT</td>
          <td><b>{{user_details?.course_of_study.department?.name}}</b></td>
        </tr>
        <tr>
          <td>PROGRAMME</td>
          <td><b>{{user_details?.course_of_study.programme_type?.name}}</b></td>
        </tr>
        <tr>
          <td>SESSION</td>
          <td><b>{{feedBack.courses?.session?.name}}</b></td>
        </tr>
        <tr>
          <td>SEMESTER</td>
          <td><b>{{feedBack.courses?.semester?.name}}</b></td>
        </tr>
        <tr>
          <td>LEVEL</td>
          <td><b>{{user_details?.level?.name}}</b></td>
        </tr>
      </table>
    </div>
  </div>
  <br><br>
  <div class="row table-responsive">
    <div class="col-10 offset-1">
      <table class="table table-striped table-bordered table-advance table-hover m-table--head-bg-brand table-sm">
        <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Code</th>
          <th>Type</th>
          <th>{{ appSettings?.settings?.unit_name }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let course of feedBack?.courses?.courses; let i = index">
          <td>{{i+1}}</td>
          <td>{{course?.title}}</td>
          <td>{{course?.code}}</td>
          <td>{{course?.typeName}}</td>
          <td>{{course?.unit}}</td>
        </tr>
        <tr *ngIf="feedBack?.courses.length > 0 || true">
          <td></td>
          <td><b>Total {{ appSettings?.settings?.unit_name }}s</b></td>
          <td></td>
          <td></td>
          <td><b>{{feedBack.total_unit}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="text-center ml-3" style="width: 33%">
      <hr>
      <h4 class="mb-0">Student's Signature</h4>
      <!--<small>HOD, Department of {{ user_details?.course_of_study?.department?.name }}</small>-->
    </div>
  </div>
  <br><br>
  <div class="row mt-4" style="width: 100%">
    <div class="col-1"></div>
    <div class="col-4 text-center">
      <hr>
      <h4 class="mb-0">{{ user_details?.course_of_study?.department?.current_hod?.fullname }}</h4>
      <small>HOD, Department of {{ user_details?.course_of_study?.department?.name }}</small>
    </div>
    <div class="col-1"></div>
    <div class="col-4 text-center">
      <hr>
      <h4 class="mb-0">{{ user_details?.course_of_study?.department?.faculty?.current_dean?.fullname }}</h4>
      <small>Dean, Faculty of {{ user_details?.course_of_study?.department?.faculty?.name }}</small>
    </div>
  </div>
</div>

<div id="extraUnitModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Extra {{ appSettings?.settings?.unit_name }}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="extraUnitForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="example-text-input" class="col-4 col-form-label">
                <span class="styleStar">*</span> {{ appSettings?.settings?.unit_name }} Load
              </label>
              <div class="col-8">
                <input class="form-control m-input" type="number" formControlName="unitload">

                <div class="alert alert-danger col-12" role="alert"
                     *ngIf="extraUnitForm.get('unitload').invalid && extraUnitForm.get('unitload').touched">
                  <strong>
                    {{ appSettings?.settings?.unit_name }} Load is Required
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="postExraUnit()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal" [disabled]="extraUnitForm.invalid || feedBack?.loadingUnit">
          <i class="m-loader m-loader--light" *ngIf="feedBack?.loadingUnit"></i> Apply
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>

<div id="addSemester" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Semester</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="example-text-input" class="col-4 col-form-label">
                <span class="styleStar">*</span> Semester
              </label>
              <div class="col-8">
                <select class="form-control m-input" formControlName="semester">
                  <option></option>
                  <option value="1">First Semester</option>
                  <option value="2">Second Semester</option>
                  <option value="3">Third Semester</option>
                </select>
                <div class="alert alert-danger col-12" role="alert"
                     *ngIf="createForm.get('semester').invalid && createForm.get('semester').touched">
                  <strong>
                    Semester is Required
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="getRequiredId()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal" [disabled]="createForm.invalid">
          Submit
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>

<div
  class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
  <!-- BEGIN: Left Aside -->
  <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
    <i class="la la-close"></i>
  </button>
  <div id="m_aside_left" class="m-grid__item m-aside-left ">
    <!-- BEGIN: Aside Menu -->
    <div
      id="m_ver_menu"
      class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
      data-menu-vertical="true"
      data-menu-scrollable="false" data-menu-dropdown-timeout="500">

      <app-aside-nav></app-aside-nav>
    </div>
    <!-- END: Aside Menu -->
  </div>
  <!-- END: Left Aside -->
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <!-- END: Subheader -->
    <div class="m-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="m-portlet m-portlet--full-height  ">
            <div class="m-portlet__body" *ngIf="feedBack.courseStatus === 'registerCourse'">
              <div class="mr-auto" style="float: left" *ngIf="feedBack?.courses?.to_register">
                <h5 class="m-subheader__title sessionNav">
                  <span class="cursor_pointer" (click)="navToSession()">Session</span>
                  <span *ngIf="feedBack?.courses?.to_register?.length > 0"> / {{feedBack.courses?.session?.name}} / {{feedBack.courses?.semester?.name}}</span>
                </h5>
                <div>
                  <label class="label label-primary" *ngIf="feedBack?.courses?.to_register.length > 0">Max {{ appSettings?.settings?.unit_name }}:
                    {{feedBack?.courses?.max_unit}}</label>
                  <label class="label label-primary" *ngIf="feedBack?.courses?.to_register.length > 0">Min {{ appSettings?.settings?.unit_name }}:
                    {{feedBack?.courses?.min_unit}}</label>
                  <label class="label label-primary" *ngIf="feedBack?.courses?.extra_unit">Extra {{ appSettings?.settings?.unit_name }}:
                    {{feedBack?.courses?.extra_unit}}</label>
                </div>
              </div>
              <div style="float: right; margin-bottom: 2px">
                <div style="color: white !important;"
                     class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                     (click)="openExtraUnitModal()">
													<span>
														<i class="la la-plus"></i>
														<span>
															Extra {{ appSettings?.settings?.unit_name }}
														</span>
													</span>
                </div>
              </div>

              <div>

                <table class="table table-striped table-bordered table-advance table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>{{ appSettings?.settings?.unit_name }}</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th colspan="6" class="text-center">Pending Courses to Register</th>
                  </tr>
                  <tr *ngFor="let course of feedBack?.courses?.to_register; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{course?.title}}</td>
                    <td>{{course?.code}}</td>
                    <td>{{course?.typeName}}</td>
                    <td>{{course?.unit}}</td>
                    <td>
                      <input type="checkbox"
                             (change)="onSelectCourse(course, $event)">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="6">
                      <button class="float-right btn btn-accent btn-sm"
                         (click)="addMore = !addMore">
                        {{ (addMore) ? 'Hide courses for previous levels' : 'Show courses for previous levels' }}
                      </button>
                    </td>
                  </tr>
                  <ng-container *ngIf="addMore">
                    <tr *ngFor="let course of feedBack?.courses?.previous_courses; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{course?.title}}</td>
                      <td>{{course?.code}}</td>
                      <td>{{course?.typeName}}</td>
                      <td>{{course?.unit}}</td>
                      <td>
                        <input type="checkbox"
                               (change)="onSelectCourse(course, $event)">
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
                <h5 *ngIf="feedBack?.courses?.carry_over?.length > 0">Carry Over Courses</h5>
                <table class="table table-striped table-bordered table-advance table-hover">
                  <tbody>
                  <tr *ngFor="let course of feedBack?.courses?.carry_over; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{course?.title}}</td>
                    <td>{{course?.code}}</td>
                    <td>{{course?.typeName}}</td>
                    <td>{{course?.unit}}</td>
                    <td>
                      <input type="checkbox"
                             (change)="onSelectCourse(course, $event)">
                    </td>
                  </tr>

                  <tr>
                    <td colspan="6" *ngIf="feedBack?.courses?.to_register?.length === 0 && !feedBack?.loader" class="text-center"> No
                      Pending Courses to Register
                    </td>
                    <td colspan="6" *ngIf="feedBack?.loader" class="text-center">
                      Loading  <i class="m-loader m-loader--brand"></i>
                    </td>
                  </tr>

                  <tr>
                    <th colspan="6" class="text-center">Registered Courses</th>
                  </tr>

                  <tr *ngFor="let course of feedBack?.courses?.registered; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{course?.title}}</td>
                    <td>{{course?.code}}</td>
                    <td>{{course?.typeName}}</td>
                    <td>{{course?.unit}}</td>
                    <td>
                      <input type="checkbox" checked (change)="unSelectCourse(course, i, $event)">
                    </td>
                  </tr>

                  </tbody>
                </table>

                <table class="table table-striped table-advance table-hover">
                  <tbody>
                  <tr *ngIf="feedBack?.courses?.to_register?.length > 0">
                    <td>&nbsp;</td>
                    <td>Total {{ appSettings?.settings?.unit_name }}s</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{feedBack.total_unit}}</td>
                    <td>
                      <button class="btn btn-accent m-btn--pill m-btn--air btn-xs" (click)="postRegisterCourses()"
                              *ngIf="feedBack?.courseArray.length > 0 && feedBack.courseStatus === 'registerCourse'">
                        Register <i class="m-loader m-loader--light" *ngIf="feedBack.registerLoader"></i>
                        <!--[disabled]="feedBack?.courseArray.length === 0"-->
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div>


            <div class="m-portlet__body" *ngIf="feedBack.courseStatus === 'viewCourse'">
              <div class="mr-auto" style="float: left">
                <h5 class="m-subheader__title sessionNav">
                  <span class="cursor_pointer" (click)="navToSession()">Session</span> <span
                  *ngIf="feedBack?.courses?.courses?.length > 0 && feedBack.courses?.session"> / {{feedBack.courses?.session?.name}} / {{feedBack.courses?.semester?.name}}</span>
                </h5>
              </div>
              <div style="float: right">
                <div class="btn btn-success m-btn  m-btn--icon m-btn--pill float-right" style="margin: 5px"
                     (click)="openSemesterModal()"> Semester
                </div>
                <button [disabled]="feedBack?.loader" class="btn btn-outline-success m-btn  m-btn--icon m-btn--pill float-right"
                     (click)="printSlip('printarea')"
                     style="margin: 5px">
                  <!--Preview and -->Print
                </button>
              </div>
              <div>
                <table class="table table-striped table-bordered table-advance table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>{{ appSettings?.settings?.unit_name }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let course of feedBack?.courses?.courses; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{course?.title}}</td>
                    <td>{{course?.code}}</td>
                    <td>{{course?.typeName}}</td>
                    <td>{{course?.unit}}</td>
                  </tr>
                  <tr *ngIf="feedBack?.courses.length > 0 || true">
                    <td></td>
                    <td><b>Total {{ appSettings?.settings?.unit_name }}s</b></td>
                    <td></td>
                    <td></td>
                    <td><b>{{feedBack.total_unit}}</b></td>
                  </tr>
                  <tr>
                    <td colspan="6" *ngIf="feedBack.courses?.length === 0 && !feedBack?.loader" class="text-center">
                      No Content Found
                    </td>
                    <td colspan="6" *ngIf="feedBack?.loader" class="text-center">
                      Loading <i  class="m-loader m-loader--brand"></i>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
