<div id="createDeferments" class="modal fade" role="dialog">
    <form [formGroup]="createDefermentsForm" (ngSubmit)="createDeferments()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Create Deferment</h4>
                    <button class="close" type="button" (click)="triggerModalOrOverlay('close','createDeferments')">
                        &times;
                    </button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="course">Name:</label>
                                <input class="form-control" id="domain" formControlName="name" placeholder="Name"
                                       type="text">


                            </div>
                            <div class="col-md-6">

                                <label for="course">Year:</label>
                                <select class="form-control" formControlName="year" id="faculty">
                                    <option value="" disabled>Select Year</option>
                                    <option *ngFor="let year of yearsArray; let ind=index" value="{{year}}">{{year}}
                                    </option>
                                </select>


                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-6">

                                <label for="country">Mode of Entry:</label>
                                <select class="form-control" formControlName="mode_of_entry" id="country">
                                    <option value="" disabled>Select Entry Mode</option>
                                    <option value="Jamb">Jamb</option>
                                    <option value="DE">Direct Entry</option>
                                    <option value="Other">Other</option>
                                </select>


                            </div>


                            <div class="col-md-6">
                                <label for="country">Programme:</label>
                                <select class="form-control" formControlName="programme_id" id="country">
                                    <option value="" disabled>Select Programme</option>
                                    <option *ngFor="let programme of allProgrammes; let ind=index"
                                            value="{{programme.id}}">{{programme.name}}
                                    </option>
                                </select>


                            </div>
                        </div>


                        <div class="row">


                            <div class="col-md-6">

                                <label for="schoolname">Start Date:</label>
                                <input class="form-control" formControlName="start_date" id="schoolname"
                                       placeholder="Start Date" type="date">


                            </div>

                            <div class="col-md-6">

                                <label for="middle_name">End Date:</label>
                                <input class="form-control" id="domain" formControlName="end_date"
                                       placeholder="End Date" type="date">


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <label for="schooldomain">Profile Strength:</label>

                                <select class="form-control" formControlName="profile_strenght">
                                    <option value="" disabled>Select Profile Strength</option>
                                    <option value="1">O'level</option>
                                    <option value="2">Diploma</option>
                                    <option value="3">First Degree</option>
                                    <option value="4">Post Graduate</option>
                                </select>


                            </div>
                            <div class="col-md-6">
                                <label for="state">Level:</label>
                                <select class="form-control" formControlName="level_id" id="level">
                                    <option value="" disabled>Select Level</option>
                                    <option *ngFor="let level of allLevels; let ind=index" value="{{level.id}}">
                                        {{level.name}}
                                    </option>
                                </select>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="course">Application Fee:</label>
                                <input class="form-control" id="domain" formControlName="amount" placeholder="Amount"
                                       type="text">

                            </div>
                            <div class="col-md-6">
                                <label for="state">Application Description:</label>
                                <textarea class="form-control m-input" formControlName="description">

                       </textarea>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            [disabled]="createDefermentsForm.invalid || load.requesting.create">
                        {{load.message.create}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>

                    <button type="button"
                            class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            (click)="triggerModalOrOverlay('close','createDeferments')">Close
                    </button>

                </div>
            </div>
        </div>
    </form>
</div>

<div id="updateDeferments" class="modal fade" role="dialog">
    <form [formGroup]="updateDefermentsForm" (ngSubmit)="updateDeferments()">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Update {{updatedDeferments?.name}} for Year
                        {{updatedDeferments?.year}}</h4>
                    <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateDeferments')">Close</button> -->
                    <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateDeferments')">
                        &times;
                    </button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="course">Name:</label>
                                <input class="form-control" id="domain" formControlName="name" placeholder="Name"
                                       type="text">


                            </div>
                            <div class="col-md-6">

                                <label for="course">Year:</label>
                                <select class="form-control" formControlName="year" id="faculty">
                                    <option value="" disabled>Select Year</option>
                                    <option *ngFor="let year of yearsArray; let ind=index" value="{{year}}">{{year}}
                                    </option>
                                </select>


                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-6">

                                <label for="country">Mode of Entry:</label>
                                <select class="form-control" formControlName="mode_of_entry" id="country">
                                    <option value="" disabled>Select Entry Mode</option>
                                    <option value="Jamb">Jamb</option>
                                    <option value="DE">Direct Entry</option>
                                    <option value="Other">Other</option>
                                </select>


                            </div>


                            <div class="col-md-6">
                                <label for="country">Programme:</label>
                                <select class="form-control" formControlName="programme_id" id="country">
                                    <option value="" disabled>Select Programme</option>
                                    <option *ngFor="let programme of allProgrammes; let ind=index"
                                            value="{{programme.id}}">{{programme.name}}
                                    </option>
                                </select>


                            </div>
                        </div>


                        <div class="row">


                            <div class="col-md-6">

                                <label for="schoolname">Start Date:</label>
                                <input class="form-control" formControlName="start_date" id="schoolname"
                                       placeholder="Start Date" type="date">


                            </div>

                            <div class="col-md-6">

                                <label for="middle_name">End Date:</label>
                                <input class="form-control" id="domain" formControlName="end_date"
                                       placeholder="End Date" type="date">


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <label for="schooldomain">Profile Strength:</label>

                                <select class="form-control" formControlName="profile_strenght">
                                    <option value="" disabled>Select Profile Strength</option>
                                    <option value="1">O'level</option>
                                    <option value="2">Diploma</option>
                                    <option value="3">First Degree</option>
                                    <option value="4">Post Graduate</option>
                                </select>


                            </div>
                            <div class="col-md-6">
                                <label for="state">Level:</label>
                                <select class="form-control" formControlName="level_id" id="level">
                                    <option value="" disabled>Select Level</option>
                                    <option *ngFor="let level of allLevels; let ind=index" value="{{level.id}}">
                                        {{level.name}}
                                    </option>
                                </select>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="course">Application Fee:</label>
                                <input class="form-control" id="domain" formControlName="amount" placeholder="Amount"
                                       type="text">

                            </div>
                            <div class="col-md-6">
                                <label for="state">Application Description:</label>
                                <textarea class="form-control m-input" formControlName="description">

                       </textarea>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit"
                            class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            [disabled]="updateDefermentsForm.invalid || load.requesting.create">
                        {{load.message.update}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>


                    <button type="button"
                            class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            (click)="triggerModalOrOverlay('close','updateDeferments')">Close
                    </button>


                </div>
            </div>
        </div>
    </form>
</div>


<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Deferments
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <!--<a style="color: white !important;"-->
                    <!--class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm"-->
                    <!--(click)="triggerModalOrOverlay('open','createDeferments')">-->
                    <!--<span>-->
                    <!--<i class="la la-plus"></i>-->
                    <!--<span>-->
                    <!--Create Deferment-->
                    <!--</span>-->
                    <!--</span>-->
                    <!--</a>-->
                </li>

                <!--<li class="m-portlet__nav-item">-->
                <!--<div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push"-->
                <!--data-dropdown-toggle="hover" aria-expanded="true">-->
                <!--<a-->
                <!--class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">-->
                <!--&lt;!&ndash;<i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>&ndash;&gt;-->
                <!--<i class="la la-upload la-2x"></i>-->
                <!--</a>-->
                <!--<div class="m-dropdown__wrapper">-->
                <!--<span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right m-dropdown__arrow&#45;&#45;adjust"-->
                <!--style="left: auto; right: 21.5px;"></span>-->
                <!--<div class="m-dropdown__inner">-->
                <!--<div class="m-dropdown__body">-->
                <!--<div class="m-dropdown__content">-->
                <!--<ul class="m-nav">-->
                <!--<li class="m-nav__section m-nav__section&#45;&#45;first">-->
                <!--<span class="m-nav__section-text">-->
                <!--Bulk File-->
                <!--</span>-->
                <!--</li>-->
                <!--<li class="m-nav__item">-->
                <!--<a class="m-nav__link"-->
                <!--(click)="triggerModalOrOverlay('open','updateStudent')">-->
                <!--<i class="m-nav__link-icon la la-download"></i>-->
                <!--<span class="m-nav__link-text">-->
                <!--Download Template-->
                <!--</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li class="m-nav__item">&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="" class="m-nav__link">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="m-nav__link-icon la la-upload"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="m-nav__link-text">&ndash;&gt;-->
                <!--&lt;!&ndash;Bulk Upload&ndash;&gt;-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--<li class="m-nav__item">-->
                <!--<a href="" class="m-nav__link">-->
                <!--<i class="m-nav__link-icon flaticon-multimedia-2"></i>-->
                <!--<span class="m-nav__link-text">-->
                <!--Upload File-->
                <!--</span>-->
                <!--</a>-->
                <!--</li>-->

                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--</li>-->


            </ul>
        </div>

    </div>
    <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
            <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>

                <!--<div class="col-xl-4 order-1 order-xl-2 m&#45;&#45;align-right">-->
                <!--<button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" style="padding: 4px"-->
                <!--(click)="triggerModalOrOverlay('open','createDeferments')">-->
                <!--<i class="fa fa-plus"></i>-->
                <!--Create-->
                <!--</button>-->

                <!--</div>-->
            </div>
        </div>
        <!--end: Search Form -->
        <!--begin: Datatable -->
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                   class="table table-hover table-striped table-sm m-table--head-bg-brand">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Other Name</th>
                    <th>Matric No.</th>
                    <th>Purpose</th>
                    <th>Session Deferred</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" *ngIf="load.requesting.list || allDeferments.length==0">
                    <td colspan="11">
                        <span *ngIf="!load.requesting.list && allDeferments.length==0">No Record Found</span>
                        <span *ngIf="load.requesting.list">Fetching Deferments..
                  <i class="m-loader m-loader--right m-loader--brand"></i>
                </span>
                    </td>
                </tr>
                <tr *ngFor="let Defermentstatus of allDeferments; let ind=index">
                    <td>{{ind+1}}</td>
                    <td>{{Defermentstatus?.student?.first_name}}</td>
                    <td>{{Defermentstatus?.student?.last_name}}</td>
                    <td>{{Defermentstatus?.student?.other_names || '---'}}</td>
                    <td>{{Defermentstatus?.student?.matric_no}}</td>
                    <td>{{Defermentstatus?.purpose}}</td>
                    <td>{{Defermentstatus?.num_of_session_deferred || '---'}}</td>
                    <td>
                        <span class="m-badge  m-badge--warning m-badge--wide" *ngIf="Defermentstatus?.status==='2'">
                            Pending
                        </span>
                        <span class="m-badge  m-badge--success m-badge--wide"
                              *ngIf="Defermentstatus?.status==='1'">Approved
                        </span>
                        <span class="m-badge  m-badge--danger m-badge--wide"
                              *ngIf="Defermentstatus?.status==='0'">Declined
                        </span>
                    </td>
                    <td>

                        <button data-toggle="m-tooltip" data-placement="top" title="Approve Deferment" type="button"
                                role="button"
                                data-original-title="Approve Deferment"
                                class="btn btn-success m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill btn-xs"
                                (click)="toggleDefermentstatus(ind,'approve')"
                                [disabled]="Defermentstatus?.status!=='2'" *ngIf="iAmPermitted('school.application.defermentapprove')">
                            <i class="la la-check" *ngIf="!Defermentstatus?.approveloading"></i>
                            <i class="m-loader m-loader--brand" *ngIf="Defermentstatus?.approveloading"></i>
                        </button>
                        <button data-toggle="m-tooltip" data-placement="top" title="Reject Deferment"
                                data-original-title="Reject Deferment"
                                class="btn btn-danger m-btn m-btn--icon m-btn--icon-only  m-btn--custom m-btn--pill btn-xs"
                                (click)="toggleDefermentstatus(ind,'reject')"
                                [disabled]="Defermentstatus?.status!=='2'" *ngIf="iAmPermitted('school.application.defermentdecline')">
                            <i class="la la-times" *ngIf="!Defermentstatus?.rejectloading"></i>
                            <i class="m-loader m-loader--brand" *ngIf="Defermentstatus?.rejectloading"></i>
                        </button>
                    </td>
                    <!--<td>-->
                    <!--<div class="dropdown ">-->
                    <!--<a href="#"-->
                    <!--class="btn m-btn m-btn&#45;&#45;hover-accent m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill"-->
                    <!--data-toggle="dropdown">-->
                    <!--<i class="la la-ellipsis-h"></i>-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu dropdown-menu-right">-->
                    <!--<a class="dropdown-item"-->
                    <!--(click)="triggerModalOrOverlay('open','updateDeferments',ind)">-->
                    <!--<i class="la la-edit" *ngIf="!Deferments?.loading"></i> Edit-->
                    <!--{{Defermentstatus?.name}}</a>-->
                    <!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="Deferments?.loading"></i>-->

                    <!--</div>-->
                    <!--</div>-->

                    <!--&lt;!&ndash;<button class="btn btn-info btn-xs"&ndash;&gt;-->
                    <!--&lt;!&ndash;(click)="triggerModalOrOverlay('open','updateDeferments',ind)">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="fa fa-pencil" *ngIf="!Deferments?.loading"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="Deferments?.loading"></i>&ndash;&gt;-->

                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--</td>-->


                </tr>
                </tbody>
            </table>
        </div>

        <!--end: Datatable -->
    </div>
</div>
