<div class="m-grid m-grid--hor m-grid--root m-page">

    <app-admin-header-nav></app-admin-header-nav>

    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-container--responsive m-container--xxl m-page__container m-body">
         <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!--<app-dashboard-header-nav></app-dashboard-header-nav>-->
            <div class="" appunwraptag="">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <!--<h3 class="m-subheader__title">
                            {{siteLocation.parentUrl | lowercase}}
                        </h3>-->
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item m-nav__item--home">
                                <a href="#" class="m-nav__link m-nav__link--icon">
                                    <!--<i class="m-nav__link-icon la la-home"></i>-->
                                </a>
                            </li>
                            <!--<li class="m-nav__separator">-->
                                <!-- - -->
                            <!--</li>-->
                            <!--<li class="m-nav__item">-->
                                <!--<a href="" class="m-nav__link">-->
                                    <!--<span class="m-nav__link-text">-->
                                        <!--{{siteLocation.childUrl }}-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="m-nav__separator">-->
                            <!-- - -->
                            <!--</li>-->
                            <!--<li class="m-nav__item">-->
                            <!--<a href="" class="m-nav__link">-->
                            <!--<span class="m-nav__link-text">-->
                            <!--Generate Reports-->
                            <!--</span>-->
                            <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                    <div>
                        <!--<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">-->
                        <!--<span class="m-subheader__daterange-label">-->
                        <!--<span class="m-subheader__daterange-title"></span>-->
                        <!--<span class="m-subheader__daterange-date m&#45;&#45;font-brand"></span>-->
                        <!--</span>-->
                        <!--&lt;!&ndash;<a href="#" class="btn btn-sm btn-brand m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;custom m-btn&#45;&#45;pill">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="la la-angle-down"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--</span>-->
                    </div>
                </div>
            </div>
            <div class="m-content">

                <div class="m-portlet">

                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-general></app-footer-general>
