.financeModal {
  border: 1px #000000 solid;
  border-radius: 5px;
  margin: 1%
}

.radioAlign {
  margin-left: 5%;
  float: right;
  margin-top: 7% !important;
}

.radioAligncol6 {
  margin-left: 5%;
  float: right;
  margin-top: 3% !important;
}

.view-report-button {
  float: right;
  margin-top: 2%;
}
.stylelink{
  margin: 15px !important;
  text-align: center !important;
  font-weight: bold !important;
  cursor: pointer;
}
.stylelink a:hover{
  color: #0a8cf0 !important;
}
