<div class="m-portlet m-portlet--mobile">
  <div style="float: right; margin: 10px; margin-right: 4%">
    <!--<button class="btn btn-success btn-xm"  (click)="openModal()">-->
    <!--<i class="fa fa-plus"></i>-->
    <!--Create-->
    <!--</button>-->
  </div>
  <!--Current session-->
  <div class="m-portlet__body table-responsive">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h5 class="m-portlet__head-text">
          <span id="reportName">{{feedBack?.selection}}</span>
        </h5>
      </div>
    </div>
    <!--<div class="m-form m-form&#45;&#45;fit m-form&#45;&#45;label-align-right">
      <div class="m-portlet__body" *ngIf="feedBack?.selection === ''">
        <div style="background-color: #a1a4b1; color: #FFFFFF; text-align: center"><h1>REPORT</h1></div>
        &lt;!&ndash;<div class="form-group m-form__group row" style="padding-bottom: 1px; padding-left: 20% !important;">
          <div class="col-md-3 financeModal">
            <label class="col-form-label">
              Mode:
            </label>
            <input class="m-input radioAlign" name="finance" type="radio" (change)="onSelect('mode')">
          </div>
          <div class="col-md-3 financeModal">
            <label class="col-form-label">
              Session:
            </label>
            <input class="m-input radioAlign" name="finance" type="radio" (change)="onSelect('session')">
          </div>
          <div class="col-md-3 financeModal">
            <label class="col-form-label">
              Date Range:
            </label>
            <input class="m-input radioAlign" name="finance" type="radio" (change)="onSelect('date')">
          </div>
          <div class="col-md-3 financeModal">
            <label class="col-form-label">
              Student:
            </label>
            <input class="m-input radioAlign" name="finance" type="radio" (change)="onSelect('student')">
          </div>
          <div class="col-md-3 financeModal">
            <label class="col-form-label">
              Department:
            </label>
            <input class="m-input radioAlign" name="finance" type="radio" (change)="onSelect('department')">
          </div>
          <div class="col-md-3 financeModal">
            <label class="col-form-label">
              Applicant:
            </label>
            <input class="m-input radioAlign" name="finance" type="radio" (change)="onSelect('applicantProgramme')">
          </div>

          <div class="col-md-6 financeModal">
            <label class="col-form-label">
              Transaction by Course of Study:
            </label>
            <input class="m-input radioAligncol6" name="finance" type="radio" (change)="onSelect('cos')">
          </div>
          <div class="col-md-6 financeModal">
            <label class="col-form-label">
              Course by Department:
            </label>
            <input class="m-input radioAligncol6" name="finance" type="radio" (change)="onSelect('courseByDept')">
          </div>
          <div class="col-md-6 financeModal">
            <label class="col-form-label">
              Course of Study by Department:
            </label>
            <input class="m-input radioAligncol6" name="finance" type="radio" (change)="onSelect('cosByDept')">
          </div>
        </div>
        &ndash;&gt;
      </div>
    </div>-->

    <form [formGroup]="modeForm" class="m-form m-form--fit m-form--label-align-right"
          *ngIf="feedBack?.selection === 'Payment Method'">
      <div class="m-portlet__body">
        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
          <label class="col-3 col-form-label">
            <span class="styleStar">*</span>Payment Method
          </label>
          <span *ngIf="feedBack?.loading"><i class="fa fa-spinner fa-spin"></i> Loading</span>
          <div class="col-6">
            <select class="form-control m-input" formControlName="payment">
              <option></option>
              <option *ngFor="let payment of payments">{{payment}}</option>
            </select>
            <button
              class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm view-report-button"
              [disabled]="modeForm.invalid" (click)="onSubmitMode()">
              View Report
            </button>
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="sessionForm" class="m-form m-form--fit m-form--label-align-right"
          *ngIf="feedBack?.selection === 'Session Transaction'">
      <div class="m-portlet__body">
        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
          <label class="col-3 col-form-label">
            <span class="styleStar">*</span>Session Year
          </label>
          <span *ngIf="feedBack?.loading"><i class="fa fa-spinner fa-spin"></i> Loading</span>
          <div class="col-6">
            <select class="form-control m-input" formControlName="session">
              <option></option>
              <option *ngFor="let session of feedBack.allSession" [value]="session?.id">{{session?.name || session?.year}}</option>
            </select>
            <button
              class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm view-report-button"
              [disabled]="sessionForm.invalid" (click)="onSubmitSession()">
              View Report
            </button>
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="dateForm" class="m-form m-form--fit m-form--label-align-right"
          *ngIf="feedBack?.selection === 'Date Transaction'">
      <div class="m-portlet__body">
        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
          <label class="col-3 col-form-label">
            <span class="styleStar">*</span>From Date
          </label>
          <span *ngIf="feedBack?.loading"><i class="fa fa-spinner fa-spin"></i> Loading</span>
          <div class="col-6">
            <input type="date" class="form-control" formControlName="fromdate">
          </div>
        </div>

        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
          <label class="col-3 col-form-label">
            <span class="styleStar">*</span>To Date
          </label>
          <div class="col-6">
            <input type="date" class="form-control" formControlName="todate">
            <button
              class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm view-report-button"
              [disabled]="dateForm.invalid" (click)="onSubmitDate()">
              View Report
            </button>
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="studentForm" class="m-form m-form--fit m-form--label-align-right"
          *ngIf="feedBack?.selection === 'Student Transaction' || feedBack?.selection === ''">
      <div class="m-portlet__body">
        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
          <label class="col-3 col-form-label">
            <span class="styleStar">*</span>Student
          </label>
          <div class="col-6">
            <input type="text" class="m-header-search__input" placeholder="" class="form-control m-input"
                   aria-label="Number" matInput
                   [formControl]="searchTerm"  >
            <span *ngIf="feedBack?.studentloading"><i class="fa fa-spinner fa-spin"></i> Loading</span>
            <div *ngIf="studentList.length === 0 && !feedBack?.studentloading" style="color: red">{{feedBack?.noStudent}}</div>
            <!--<select class="form-control m-input" formControlName = "student">
              <option></option>
              <option *ngFor="let student of feedBack?.allStudents" [value]="student?.id">{{student?.first_name}}</option>
            </select>-->
            <div *ngFor="let student of studentList">
              <a (click)="onSubmitStudent(student?.id)" class="stylelink">{{student?.first_name}} {{student?.last_name}}</a>
            </div>
            <!--<button
              class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm view-report-button"
              [disabled]="studentForm.invalid" (click)="onSubmitStudent()">
              View Report
            </button>-->
          </div>
        </div>
      </div>
    </form>


    <form [formGroup]="departmentForm" class="m-form m-form--fit m-form--label-align-right"
          *ngIf="feedBack?.selection === 'Department Transaction'">
      <div class="m-portlet__body">
        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
          <label class="col-3 col-form-label">
            <span class="styleStar">*</span>Department
          </label>
          <span *ngIf="feedBack?.loading"><i class="fa fa-spinner fa-spin"></i> Loading</span>
          <div class="col-6">
            <select class="form-control m-input" formControlName="department">
              <option></option>
              <option *ngFor="let department of feedBack?.allDepartments" [value] = "department?.id">{{department?.name}}</option>
            </select>
            <button
              class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm view-report-button"
              [disabled]="departmentForm.invalid" (click)="onSubmitDepartment()">
              View Report
            </button>
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="programmeForm" class="m-form m-form--fit m-form--label-align-right"
          *ngIf="feedBack?.selection === 'Applicants By Programme'">
      <div class="m-portlet__body">
        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
          <label class="col-3 col-form-label">
            <span class="styleStar">*</span>Applicant by Programme
          </label>
          <span *ngIf="feedBack?.loading"><i class="fa fa-spinner fa-spin"></i> Loading</span>
          <div class="col-6">
            <select class="form-control m-input" formControlName="programme">
              <option></option>
              <option *ngFor="let programme of feedBack?.allProgramme" [value] = "programme?.id">{{programme?.name}}</option>
            </select>
            <button
              class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm view-report-button"
              [disabled]="programmeForm.invalid" (click)="onSubmitProgramme()">
              View Report
            </button>
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="departmentForm" class="m-form m-form--fit m-form--label-align-right"
          *ngIf="feedBack?.selection === 'courseByDept'">
      <div class="m-portlet__body">
        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
          <label class="col-3 col-form-label">
            <span class="styleStar">*</span>Course by Department
          </label>
          <span *ngIf="feedBack?.loading"><i class="fa fa-spinner fa-spin"></i> Loading</span>
          <div class="col-6">
            <select class="form-control m-input" formControlName="department">
              <option></option>
              <option *ngFor="let department of feedBack?.allDepartments" [value] = "department?.id">{{department?.name}}</option>
            </select>
            <button
              class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm view-report-button"
              [disabled]="departmentForm.invalid" (click)="onSubmitCourseByDepartment()">
              View Report
            </button>
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="departmentForm" class="m-form m-form--fit m-form--label-align-right"
          *ngIf="feedBack?.selection === 'cosByDept'">
      <div class="m-portlet__body">
        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
          <label class="col-3 col-form-label">
            <span class="styleStar">*</span>Course of Study by Department
          </label>
          <span *ngIf="feedBack?.loading"><i class="fa fa-spinner fa-spin"></i> Loading</span>
          <div class="col-6">
            <select class="form-control m-input" formControlName="department">
              <option></option>
              <option *ngFor="let department of feedBack?.allDepartments" [value] = "department?.id">{{department?.name}}</option>
            </select>
            <button
              class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm view-report-button"
              [disabled]="departmentForm.invalid" (click)="onSubmitCourseOfStudyByDepartment()">
              View Report
            </button>
          </div>
        </div>
      </div>
    </form>

    <form [formGroup]="cosForm" class="m-form m-form--fit m-form--label-align-right"
          *ngIf="feedBack?.selection === 'cos'">
      <div class="m-portlet__body">
        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
          <label class="col-3 col-form-label">
            <span class="styleStar">*</span>Course of Study
          </label>
          <span *ngIf="feedBack?.loading"><i class="fa fa-spinner fa-spin"></i> Loading</span>
          <div class="col-6">
            <select class="form-control m-input" formControlName="cos">
              <option></option>
              <option *ngFor = "let cos of feedBack?.allCourseofStudy" [value]="cos?.id">{{cos?.name}}</option>
            </select>
            <button
              class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm view-report-button"
              [disabled]="cosForm.invalid" (click)="onSubmitCos()">
              View Report
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

