<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h1 class="m-portlet__head-text">Result Master Sheet</h1>
      </div>
    </div>
    <!--<h1>Results</h1>-->
  </div>
  <!--Accordion:::START-->
  <div class="m-portlet__body">
    <div style="margin: 0 auto; width: 100%" class="m-accordion m-accordion--bordered" id="m_accordion_2"
         role="tablist">
      <!--begin::Item-->
      <div class="m-accordion__item">
        <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_2_item_1_head" data-toggle="collapse"
             href="#m_accordion_2_item_1_body" aria-expanded="false">
													<span class="m-accordion__item-icon">
														<i class="fa flaticon-file"></i>
													</span>
          <span class="m-accordion__item-title">
														Result Filter
													</span>
          <span class="m-accordion__item-mode"></span>
        </div>
        <div class="m-accordion__item-body collapse" id="m_accordion_2_item_1_body" role="tabpanel"
             aria-labelledby="m_accordion_2_item_1_head" data-parent="#m_accordion_2" style="">
          <div class="m-accordion__item-content">
            <div>
              <form [formGroup]="createForm" (ngSubmit)="getFilteredResult()"
                    class="m-form m-form--fit m-form--label-align-right">
                <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                  <div class="col-lg-4" style="padding-bottom: 1px;">
                    <label>
                      Faculty
                    </label>

                    <select data-live-search="true" formControlName="faculty_id" class="form-control m-input--solid"
                            (change)="getAllDepartment($event.target.value)">
                      <option></option>
                      <option *ngFor="let faculty of allFaculties" [value]="faculty?.id">
                        {{faculty?.name}}
                      </option>
                    </select>
                    <!--<span class="m-form__help m&#45;&#45;font-danger" *ngIf="createForm.get('session_id').touched && !createForm.get('session_id').valid">-->
                    <!--Faculty is Required-->
                    <!--</span>-->
                  </div><!--Faculty-->
                  <div class="col-lg-4">
                    <label>

                      Department &nbsp;
                      <i *ngIf="load.departments.loading" class="m-loader m-loader--brand"></i>&nbsp;
                      <small class="m--font-danger"
                             *ngIf="createForm.get('faculty_id').touched && allDepartments.length === 0">
                        No Department found
                      </small>
                    </label>
                    <select class="form-control m-input--solid" formControlName="department_id" style="width: 100%"
                            (change)="getCourseOfStudy($event.target.value)">
                      <option></option>
                      <option *ngFor="let department of allDepartments" [value]="department?.id">
                        {{department?.name}}
                      </option>
                    </select>

                    <!--<div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('programme_id').invalid && createForm.get('programme_id').touched">-->
                    <!--<strong>-->
                    <!--Programme is Required-->
                    <!--</strong>-->
                    <!--</div>-->
                  </div><!--Department-->
                  <div class="col-lg-4" style="padding-bottom: 1px;">
                    <label>
                      Course of Study &nbsp;
                      <i *ngIf="load.courses.loading" class="m-loader m-loader--brand"></i>&nbsp;
                      <small class="m--font-danger"
                             *ngIf="createForm.get('department_id').touched && allCourseOfStudy.length === 0">
                        No Course of Study found
                      </small>
                    </label>

                    <select class="form-control m-input--solid" formControlName="course_of_study_id" style="width: 100%"
                            (change)="getSingleCourseOfStudy($event.target.value)">
                      <!--<option [value]="allCourseOfStudy?.id">{{allCourseOfStudy?.name}}</option>-->
                      <option></option>
                      <option *ngFor="let courseOfStudy of allCourseOfStudy" [value]="courseOfStudy?.id">
                        {{courseOfStudy?.name}}
                      </option>
                    </select>
                  </div><!--Course of Study-->
                </div>
                <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                  <div class="col-lg-4">
                    <label>
                      Session &nbsp;
                      <i *ngIf="load.session.loading" class="m-loader m-loader--brand"></i>&nbsp;
                    </label>
                    <select class="form-control m-input--solid" formControlName="session_id"
                            (change)="saveResultDetailsForSession($event.target.value)" style="width: 100%">
                      <option></option>
                      <option *ngFor="let session of allSession" [value]="session?.id">
                        {{session?.name || session?.year}}
                      </option>
                    </select>
                    <span class="m-form__help m--font-danger"
                          *ngIf="createForm.get('session_id').touched && !createForm.get('session_id').valid">
                      Session is Required
                    </span>
                  </div><!--Session-->
                  <div class="col-lg-4" style="padding-bottom: 1px;">
                    <label>
                      Semester &nbsp;
                      <i *ngIf="load.semester.loading" class="m-loader m-loader--brand"></i>&nbsp;
                    </label>
                    <select class="form-control m-input--solid"
                            (change)="saveResultDetailsForSemester($event.target.value)"
                            formControlName="semester" style="width: 100%">
                      <option disabled></option>
                      <option *ngFor="let semester of allSemester" [value]="semester?.semester">{{semester?.name}}
                      </option>
                    </select>
                    <span class="m-form__help m--font-danger"
                          *ngIf="createForm.get('semester').touched && !createForm.get('semester').valid">
                      Semester is Required
                    </span>
                  </div><!--Semester-->
                  <div class="col-lg-4" style="padding-bottom: 1px;">
                    <label>
                      Level &nbsp;
                      <i *ngIf="load.level.loading" class="m-loader m-loader--brand"></i>&nbsp;
                      <small class="m--font-danger"
                             *ngIf="createForm.get('course_of_study_id').touched && allLevels.length === 0">
                        No Level Found
                      </small>
                    </label>
                    <select class="form-control m-input--solid" formControlName="level_id" style="width: 100%"
                            (change)="saveResultDetailsForLevel($event.target.value)">
                      <option></option>
                      <option *ngFor="let level of allLevels" [value]="level?.id">
                        {{level?.name}}
                      </option>
                      <!--<option value="spillover">Spill Over</option>-->
                    </select>
                    <!--<div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('level_id').invalid && createForm.get('level_id').touched">-->
                    <!--<strong>-->
                    <!--Level is Required-->
                    <!--</strong>-->
                    <!--</div>-->
                  </div><!--Level-->
                </div>

                <div class="form-group m-form__group margin">
                  <button type="submit"
                          class="btn btn-accent m-btn m-btn--pill m-btn--air float-right"
                          [disabled]="createForm.invalid || load.requesting.create"
                          style="font-family: 'Roboto', sans-serif; margin-top: 20px;">
                    {{(load.requesting.create) ? 'Getting Results' : 'Get Results'}}
                    <i *ngIf="load.requesting.create" class="m-loader m-loader--light"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--end::Item-->
    </div>
  </div>
  <!--Accordion:::END-->

  <div id="showResult" *ngIf="resultDetails.showResult">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
          <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link active"
                 data-toggle="tab"
                 (click)="changePrintId('mss1print', 'MSS1', 'landscape')"
                 href="#mss1" role="tab">
                <i class="flaticon-share m--hide"></i>
                MSS1
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab"
                 (click)="changePrintId('mss2mss3', 'MSS2&MSS3')"
                 href="#mss2mss3" role="tab">
                MSS2 & MSS3
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab"
                 (click)="changePrintId('gradList', 'Graduating List')"
                 href="#gradList" role="tab">
                Graduating List
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab"
                 (click)="changePrintId('nonGradList', 'Non Graduating List')"
                 href="#nonGradList" role="tab">
                Non Graduating List
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab"
                 (click)="changePrintId('mattersArising', 'Matters Arising')"
                 href="#mattersArising" role="tab">
                Matters Arising
              </a>
            </li>
          </ul>
        </div>
        <h2 class="m-portlet__head-caption text-center">
          <button type="button" id="downloadCsv" class="btn btn-accent m-btn m-btn--pill m-btn--air float-right"
                  (click)="printNau(printId?.id, printId?.title)">
            <i class="la la-print"></i>
            Print
            <i *ngIf="load.requesting.print" class="m-loader m-loader--light"></i>
          </button>
        </h2>
      </div>
      <div class="m-portlet__body">
        <div class="tab-content">
          <div class="tab-pane active" id="mss1">
            <div class="m-portlet">
              <div class="m-portlet__head">
                <h1 class="text-center m--padding-10">MSS1</h1>
              </div>
              <div class="m-portlet__body">
                <div class="row">
                  <div class="col-5">
                    <table class="table table-responsive-md table-bordered table-striped table-hover">
                      <thead>
                      <tr>
                        <th colspan="2" class="text-center">{{ schoolSettings?.name }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>Faculty</td>
                        <td><b>{{resultDetails.faculty}}</b></td>
                      </tr>
                      <tr>
                        <td>Department</td>
                        <td><b>{{resultDetails.department}}</b></td>
                      </tr>
                      <tr>
                        <td>Course of Study</td>
                        <td><b>{{resultDetails?.course_of_study}}</b></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-3">
                    <table class="table table-responsive-md table-bordered table-striped table-hover text-center">
                      <thead>
                      <tr>
                        <th colspan="2" class="text-center">Key to Grades</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let config of allResults?.grading?.grades">
                        <td>{{ config?.key }}</td>
                        <td>{{ config?.value?.score?.min }}% - {{ config?.value?.score?.max }}%</td>
                      </tr>
                      <!--<tr>
                        <td>B</td>
                        <td>60% - 69%</td>
                      </tr>
                      <tr>
                        <td>C</td>
                        <td>50% - 59%</td>
                      </tr>
                      <tr>
                        <td>D</td>
                        <td>40% - 45%</td>
                      </tr>
                      <tr>
                        <td>F</td>
                        <td>Below 45%</td>
                      </tr>-->
                      </tbody>
                    </table>
                  </div><!--Key to Grades-->
                  <div class="col-4">
                    <table class="table table-responsive-md table-bordered table-striped table-hover">
                      <thead>
                      <tr>
                        <th colspan="2" class="text-center">Classification of Degree</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let config of allResults?.grading?.degree_class">
                        <td>{{ config?.key }}</td>
                        <td>{{ config?.value[0] }} - {{ config?.value[1] }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div><!--Classification of Degree-->
                </div>
                <div class="row">
                  <div class="col-7">
                    <div class="row">
                      <div class="col-3">
                        <table class="table">
                          <tr>
                            <td>Level</td>
                            <td><b>{{resultDetails.level}}</b></td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-4">
                        <table class="table">
                          <tr>
                            <td>Session</td>
                            <td><b>{{resultDetails.session}}</b></td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-5">
                        <table class="table">
                          <tr>
                            <td>Semester</td>
                            <td><b>{{resultDetails?.semester}}</b></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row table-responsive">
                  <!--<div class="float-right pb-lg-3 form-group" id="ng-select">
                    <form [formGroup]="filterCourseForm">
                      &lt;!&ndash;<ss-multiselect-dropdown formControlName="course_codes" [texts]="myTexts" [settings]="mySettings" [options]="allResults['allCourses']"&ndash;&gt;
                      &lt;!&ndash;(ngModelChange)="filterSelectedCourses()">&ndash;&gt;
                      &lt;!&ndash;</ss-multiselect-dropdown>&ndash;&gt;
                      <ng-select [items]="allResults['allCourses']"
                                 bindLabel="code"
                                 bindValue="code"
                                 formControlName="course_codes"
                                 placeholder="Select course"
                                 [closeOnSelect]="false"
                                 (change)="filterSelectedCourses()"
                                 [multiple]="true">

                      </ng-select>
                    </form>
                  </div>-->
                  <table class="table table-bordered table-hover text-center black-border font-80" id="mss1csv">
                    <thead>
                    <tr>
                      <th rowspan="2" class="middle">S/N</th>
                      <th rowspan="2" class="middle">Matric No</th>
                      <th [attr.colspan]="allResults['allCourses'].length" class="middle">Current Semester Result</th>
                      <th colspan="3">Previous</th>
                      <th colspan="3">Present</th>
                      <th colspan="3">Cummulative</th>
                      <th rowspan="2" class="middle">Remark</th>
                      <th rowspan="2"></th>
                    </tr>
                    <tr>
                      <th *ngFor="let course of allResults['allCourses']; let i = index">{{course?.code}}<br>({{course?.unit}})
                      </th>
                      <th>TC</th>
                      <th>TWGP</th>
                      <th>GPA</th>
                      <th>TC</th>
                      <th>TWGP</th>
                      <th>GPA</th>
                      <th>CTC</th>
                      <th>CTWGP</th>
                      <th>CGPA</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="allResults['student'].length === 0">
                      <td colspan="14">No result found for this session</td>
                    </tr>
                    <tr *ngFor="let resultData of allResults['student']; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{resultData?.matric_no}}</td>

                      <td *ngFor="let course of allResults['allCourses']; let i = index">
                        {{getStudentResult(resultData?.result, course)}}
                      </td>
                      <td>{{resultData?.tcp_prev}}</td>
                      <td>{{resultData?.twgp_prev}}</td>
                      <td>{{((resultData?.twgp_prev) / (resultData?.tcp_prev)) | number : '1.1-2'}}</td>
                      <td>{{resultData?.tcp}}</td>
                      <td>{{resultData?.twgp}}</td>
                      <td>{{((resultData?.twgp) / (resultData?.tcp)) | number : '1.1-2'}}</td>
                      <td>{{(resultData?.tcp_prev)+(resultData?.tcp)}}</td>
                      <td>{{(resultData?.twgp_prev)+(resultData?.twgp)}}</td>
                      <td>{{( ( (resultData?.twgp_prev)+(resultData?.twgp) ) /((resultData?.tcp_prev)+(resultData?.tcp))
                        ) |
                        number : '1.1-2'}}
                      </td>
                      <td>{{ resultData?.remark }}</td>
                      <td>
                        <input type="checkbox" name="check_print" (change)="updateChecked()">
                      </td>
                    </tr>
                    <ng-container *ngIf="i === 5">
                      <tr>
                        <th rowspan="2" class="middle">S/N</th>
                        <th rowspan="2" class="middle">Matric No</th>
                        <th [attr.colspan]="allResults['allCourses'].length" class="middle">Current Semester Result</th>
                        <th colspan="3">Previous</th>
                        <th colspan="3">Present</th>
                        <th colspan="3">Cummulative</th>
                        <th rowspan="2" class="middle">Remark</th>
                      </tr>
                      <tr>
                        <ng-container *ngIf="allResults['allCourses'].length">
                          <th *ngFor="let course of allResults['allCourses']; let i = index">{{course?.code}}<br>({{course?.unit}})
                          </th>
                        </ng-container>
                        <th>TC</th>
                        <th>TWGP</th>
                        <th>GPA</th>
                        <th>TC</th>
                        <th>TWGP</th>
                        <th>GPA</th>
                        <th>CTC</th>
                        <th>CTWGP</th>
                        <th>CGPA</th>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                </div>

                <!--SUMMARY-->
                <div class="row table-responsive mt-3" *ngIf="allResults['summary']">
                  <h3 class="text-center">SUMMARY</h3>
                  <table class="table table-bordered table-striped table-hover table-sm">
                    <tr>
                      <td></td>
                      <td *ngFor="let course of allResults['allCourses']" class="font-weight-bold text-center">{{
                        course?.code }} ({{ course?.unit }})
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Grade A</td>
                      <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                        processSummary('grade_summary', course?.code, 'A') }}
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Grade B</td>
                      <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                        processSummary('grade_summary', course?.code, 'B') }}
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Grade C</td>
                      <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                        processSummary('grade_summary', course?.code, 'C') }}
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Grade D</td>
                      <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                        processSummary('grade_summary', course?.code, 'D') }}
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Grade E</td>
                      <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                        processSummary('grade_summary', course?.code, 'E') }}
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Grade F</td>
                      <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                        processSummary('grade_summary', course?.code, 'F') }}
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Average</td>
                      <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                        processSummary('average', course?.code) }}
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Overall</td>
                      <td *ngFor="let course of allResults['allCourses']" class="text-center">{{ processSummary('total',
                        course?.code) }}
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">% Pass</td>
                      <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                        processSummary('passes', course?.code) }}
                      </td>
                    </tr>
                    <!--<tr>
                      <td class="font-weight-bold">Min Score</td>
                      <td *ngFor="let course of allResults['allCourses']" class="text-center">{{ processSummary('min', course?.code) }}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Max Score</td>
                      <td *ngFor="let course of allResults['allCourses']" class="text-center">{{ processSummary('max', course?.code) }}</td>
                    </tr>-->
                  </table>
                </div>

                <!--ABBREVIATIONS-->
                <div class="m-demo">
                  <div class="m-demo__preview">
                    <div class="m-list-search">
                      <div class="m-list-search__results">
                        <span class="m-list-search__result-category m-list-search__result-category--first">
                          Abbreviations
                        </span>
                        <div class="row">
                          <div class="col-4" *ngFor="let abbr of abbreviations">
                            <span class="m-list-search__result-item m-list-search__result-item-text">
                              {{ abbr.short }} - {{ abbr.long }}.
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5 text-center">
                    <hr>
                    <h4 class="mb-0">{{ resultDetails?.hod }}</h4>
                    <small>HOD, Department of {{ resultDetails?.department }}</small>
                  </div>
                  <div class="col-2"></div>
                  <div class="col-5 text-center">
                    <hr>
                    <h4 class="mb-0">{{ resultDetails?.dean }}</h4>
                    <small>Dean, Faculty of {{ resultDetails?.faculty }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="mss2mss3">
            <div class="m-portlet">
              <div class="m-portlet__head">
                <h1 class="text-center m--padding-10">MSS2 and MSS3</h1>
              </div>
              <div class="m-portlet__body">
                <div class="row">
                  <div class="col-5">
                    <table class="table table-responsive-md table-bordered table-striped table-hover">
                      <thead>
                      <tr>
                        <th colspan="2" class="text-center">{{ schoolSettings?.name }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>Faculty</td>
                        <td><b>{{resultDetails.faculty}}</b></td>
                      </tr>
                      <tr>
                        <td>Department</td>
                        <td><b>{{resultDetails.department}}</b></td>
                      </tr>
                      <tr>
                        <td>Course of Study</td>
                        <td><b>{{resultDetails?.course_of_study}}</b></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-3">
                    <table class="table table-responsive-md table-bordered table-striped table-hover text-center">
                      <thead>
                      <tr>
                        <th colspan="2" class="text-center">Key to Grades</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let config of allResults?.grading?.grades">
                        <td>{{ config?.key }}</td>
                        <td>{{ config?.value?.score?.min }}% - {{ config?.value?.score?.max }}%</td>
                      </tr>
                      </tbody>
                    </table>
                  </div><!--Key to Grades-->
                  <div class="col-4">
                    <table class="table table-responsive-md table-bordered table-striped table-hover">
                      <thead>
                      <tr>
                        <th colspan="2" class="text-center">Classification of Degree</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let config of allResults?.grading?.degree_class">
                        <td>{{ config?.key }}</td>
                        <td>{{ config?.value[0] }} - {{ config?.value[1] }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div><!--Classification of Degree-->
                </div>
                <div class="row">
                  <div class="col-7">
                    <div class="row">
                      <div class="col-3">
                        <table class="table">
                          <tr>
                            <td>Level</td>
                            <td><b>{{resultDetails.level}}</b></td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-4">
                        <table class="table">
                          <tr>
                            <td>Session</td>
                            <td><b>{{resultDetails.session}}</b></td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-5">
                        <table class="table">
                          <tr>
                            <td>Semester</td>
                            <td><b>{{resultDetails?.semester}}</b></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row table-responsive-xvs">
                  <table class="table table-bordered table-hover text-center black-border table-sm">
                    <thead>
                    <tr>
                      <th class="middle">S/N</th>
                      <th class="middle">Matric No</th>
                      <th class="middle">Name</th>
                      <th class="middle">Outstanding Courses</th>
                      <th class="middle text-center"
                          *ngFor="let session of allResults['sessions']; let sessioni = index">
                        {{session?.name || session?.year}}<br>
                        <!--<div class="row">-->
                        <!--<span class="col-4" *ngFor="let semester of session['session_semesters']">-->
                        <!--{{semester?.semester}}-->
                        <!--</span>-->
                        <!--</div>-->
                        <table style="border: none !important; width: 100%">
                          <tr style="border: none !important;">
                            <th style="border: none !important;" *ngFor="let semester of session['session_semesters']">
                              <span *ngIf="semester?.semester.toString() == '1'">{{semester?.semester}}st</span>
                              <span *ngIf="semester?.semester.toString() == '2'">{{semester?.semester}}nd</span>
                              <!--<span *ngIf="semester?.semester == 3">{{semester?.name}}</span>-->
                            </th>
                          </tr>
                        </table>
                      </th>
                      <th class="middle">CGPA</th>
                      <th class="middle">Remark</th>
                    </tr>
                    <tr *ngIf="allResults['student'].length < 1">
                      <td colspan="14">No result found for this session</td>
                    </tr>
                    <tr *ngFor="let resultData of allResults['student']; let i = index">
                      <td class="middle">{{i+1}}</td>
                      <td class="middle">{{resultData?.matric_no}}</td>
                      <td class="middle">{{resultData?.full_name}}</td>
                      <td class="middle">
                        <span *ngFor="let failed of generateArrays(resultData.outstanding)">
                          <span class="result-package">
                            {{failed}}
                          </span>
                        </span>
                      </td>
                      <td class="middle text-center"
                          *ngFor="let session of allResults['sessions']; let sessioni = index">
                        <!--<div class="row">-->
                        <!--<span class="col-xs-4" *ngFor="let semester of session['session_semesters']">-->
                        <!--{{ checkRegisteredSemester(session, semester,resultData?.semester_registered)}}-->
                        <!--</span>-->
                        <!--</div>-->
                        <table style="border: none !important; width: 100%">
                          <tr style="border: none !important;">
                            <td style="border: none !important;" *ngFor="let semester of session['session_semesters']">
                              <!--<span *ngIf="semester.toString() !== '3'">
                                {{checkRegisteredSemester(session, semester, resultData?.semester_registered)}}
                              </span>-->
                              <span *ngIf="semester?.semester.toString() == '1'">{{checkRegisteredSemester(session, semester, resultData?.semester_registered)}}</span>
                              <span *ngIf="semester?.semester.toString() == '2'">{{checkRegisteredSemester(session, semester, resultData?.semester_registered)}}</span>
                            </td>
                          </tr>
                        </table>
                      </td>

                      <!--<div class="row">-->
                      <!--<span class="col-xs-4" *ngFor="let semester of allResultSessions[0]?.session_semesters">-->
                      <!--{{semester?.option}}-->
                      <!--</span>-->
                      <!--</div>-->

                      <td class="middle text-center">{{(((resultData?.twgp_prev)+(resultData?.twgp)) /
                        ((resultData?.tcp_prev)+(resultData?.tcp))) | number : '1.1-2'}}
                      </td><!--CGPA-->
                      <td class="middle text-center">{{resultData.comment}}</td>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div class="row mt-4" style="width: 100%">
                  <div class="col-1"></div>
                  <div class="col-4 text-center">
                    <hr>
                    <h4 class="mb-0">{{ resultDetails?.hod }}</h4>
                    <small>HOD, Department of {{ resultDetails?.department }}</small>
                  </div>
                  <div class="col-1"></div>
                  <div class="col-4 text-center">
                    <hr>
                    <h4 class="mb-0">{{ resultDetails?.dean }}</h4>
                    <small>Dean, Faculty of {{ resultDetails?.faculty }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="gradList">
            <div class="m-portlet__head">
              <h1 class="text-center m--padding-10">Graduating List</h1>
            </div>
            <div class="m-portlet__body">
              <div class="row">
                <div class="col-5">
                  <table class="table table-responsive-md table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                      <th colspan="2" class="text-center">{{ schoolSettings?.name }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Faculty</td>
                      <td><b>{{resultDetails.faculty}}</b></td>
                    </tr>
                    <tr>
                      <td>Department</td>
                      <td><b>{{resultDetails.department}}</b></td>
                    </tr>
                    <tr>
                      <td>Course of Study</td>
                      <td><b>{{resultDetails?.course_of_study}}</b></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-4">
                  <table class="table table-responsive-md table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                      <th colspan="2" class="text-center">Classification of Degree</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let config of allResults?.grading?.degree_class">
                      <td>{{ config?.key }}</td>
                      <td>{{ config?.value[0] }} - {{ config?.value[1] }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div><!--Classification of Degree-->
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="row">
                    <div class="col-3">
                      <table class="table">
                        <tr>
                          <td>Level</td>
                          <td><b>{{resultDetails.level}}</b></td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-4">
                      <table class="table">
                        <tr>
                          <td>Session</td>
                          <td><b>{{resultDetails.session}}</b></td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-5">
                      <table class="table">
                        <tr>
                          <td>Semester</td>
                          <td><b>{{resultDetails?.semester}}</b></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row table-responsive-xvs">

                <table class="table table-bordered table-hover black-border table-sm width-1" *ngIf="finalLevel?.gradList">
                  <thead>
                  <tr>
                    <th class="middle">S/N</th>
                    <th class="middle">Matric No</th>
                    <th class="middle">Name</th>
                    <th class="middle">Sex</th>
                    <th class="middle">CGPA</th>
                  </tr>
                  </thead>
                  <tr *ngIf="allResults['student'].length < 1">
                    <td colspan="14">No data found</td>
                  </tr>
                  <ng-container *ngFor="let gradClass of finalLevel?.gradList">
                    <tr>
                      <td colspan="5" class="text-center">
                        <h4>{{ gradClass?.name }}</h4>
                      </td>
                    </tr>
                    <tr *ngFor="let resultData of gradClass?.students; let i = index">
                      <td class="middle" style="width: 1%">{{i+1}}</td>
                      <td class="middle">{{resultData?.matric_no}}</td>
                      <td class="middle">{{resultData?.full_name}}</td>
                      <td class="middle">{{resultData?.gender.toUpperCase()}}</td>
                      <td>{{(((resultData?.twgp_prev)+(resultData?.twgp)) /
                        ((resultData?.tcp_prev)+(resultData?.tcp))) | number : '1.1-2'}}
                      </td><!--CGPA-->
                    </tr>
                  </ng-container>
                </table>

              </div>
              <div class="row mt-4" style="width: 100%">
                <div class="col-1"></div>
                <div class="col-4 text-center">
                  <hr>
                  <h4 class="mb-0">{{ resultDetails?.hod }}</h4>
                  <small>HOD, Department of {{ resultDetails?.department }}</small>
                </div>
                <div class="col-1"></div>
                <div class="col-4 text-center">
                  <hr>
                  <h4 class="mb-0">{{ resultDetails?.dean }}</h4>
                  <small>Dean, Faculty of {{ resultDetails?.faculty }}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="nonGradList">
            <div class="m-portlet__head">
              <h1 class="text-center m--padding-10">Non Graduating List</h1>
            </div>
            <div class="m-portlet__body">
              <div class="row">
                <div class="col-5">
                  <table class="table table-responsive-md table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                      <th colspan="2" class="text-center">{{ schoolSettings?.name }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Faculty</td>
                      <td><b>{{resultDetails.faculty}}</b></td>
                    </tr>
                    <tr>
                      <td>Department</td>
                      <td><b>{{resultDetails.department}}</b></td>
                    </tr>
                    <tr>
                      <td>Course of Study</td>
                      <td><b>{{resultDetails?.course_of_study}}</b></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-4">
                  <table class="table table-responsive-md table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                      <th colspan="2" class="text-center">Classification of Degree</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let config of allResults?.grading?.degree_class">
                      <td>{{ config?.key }}</td>
                      <td>{{ config?.value[0] }} - {{ config?.value[1] }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div><!--Classification of Degree-->
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="row">
                    <div class="col-3">
                      <table class="table">
                        <tr>
                          <td>Level</td>
                          <td><b>{{resultDetails.level}}</b></td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-4">
                      <table class="table">
                        <tr>
                          <td>Session</td>
                          <td><b>{{resultDetails.session}}</b></td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-5">
                      <table class="table">
                        <tr>
                          <td>Semester</td>
                          <td><b>{{resultDetails?.semester}}</b></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row table-responsive-xvs">
                <table class="table table-bordered table-hover black-border table-sm width-1">
                  <thead>
                  <tr>
                    <th class="middle">S/N</th>
                    <th class="middle">Matric No</th>
                    <th class="middle">Name</th>
                    <th class="middle">Sex</th>
                    <th class="middle">TOC</th>
                    <th class="middle">CGPA</th>
                  </tr>
                  </thead>
                  <tr *ngIf="finalLevel?.nonGradList?.length < 1">
                    <td colspan="14">No data found</td>
                  </tr>
                  <tr *ngFor="let resultData of finalLevel?.nonGradList; let i = index">
                    <td class="middle" style="width: 1%">{{i+1}}</td>
                    <td class="middle">{{resultData?.matric_no}}</td>
                    <td class="middle">{{resultData?.full_name}}</td>
                    <td class="middle">{{resultData?.gender.toUpperCase()}}</td>
                    <td class="middle">{{resultData?.toc}}</td>
                    <td>{{(((resultData?.twgp_prev)+(resultData?.twgp)) /
                      ((resultData?.tcp_prev)+(resultData?.tcp))) | number : '1.1-2'}}
                    </td><!--CGPA-->
                  </tr>
                </table>

              </div>
              <div class="row mt-4" style="width: 100%">
                <div class="col-1"></div>
                <div class="col-4 text-center">
                  <hr>
                  <h4 class="mb-0">{{ resultDetails?.hod }}</h4>
                  <small>HOD, Department of {{ resultDetails?.department }}</small>
                </div>
                <div class="col-1"></div>
                <div class="col-4 text-center">
                  <hr>
                  <h4 class="mb-0">{{ resultDetails?.dean }}</h4>
                  <small>Dean, Faculty of {{ resultDetails?.faculty }}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="mattersArising">
            <div class="m-portlet__head">
              <h1 class="text-center m--padding-10">Matters Arising</h1>
            </div>
            <div class="m-portlet__body">
              <div class="row">
                <div class="col-5">
                  <table class="table table-responsive-md table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                      <th colspan="2" class="text-center">{{ schoolSettings?.name }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Faculty</td>
                      <td><b>{{resultDetails.faculty}}</b></td>
                    </tr>
                    <tr>
                      <td>Department</td>
                      <td><b>{{resultDetails.department}}</b></td>
                    </tr>
                    <tr>
                      <td>Course of Study</td>
                      <td><b>{{resultDetails?.course_of_study}}</b></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-4">
                  <table class="table table-responsive-md table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                      <th colspan="2" class="text-center">Classification of Degree</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let config of allResults?.grading?.degree_class">
                      <td>{{ config?.key }}</td>
                      <td>{{ config?.value[0] }} - {{ config?.value[1] }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div><!--Classification of Degree-->
              </div>
              <div class="row">
                <div class="col-7">
                  <div class="row">
                    <div class="col-3">
                      <table class="table">
                        <tr>
                          <td>Level</td>
                          <td><b>{{resultDetails.level}}</b></td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-4">
                      <table class="table">
                        <tr>
                          <td>Session</td>
                          <td><b>{{resultDetails.session}}</b></td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-5">
                      <table class="table">
                        <tr>
                          <td>Semester</td>
                          <td><b>{{resultDetails?.semester}}</b></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row table-responsive-xvs">
                <div class="my-3" style="width: 100%" *ngIf="mattersArising['A. STUDENTS ON PROBATION'] && mattersArising['A. STUDENTS ON PROBATION']['Probation I']">
                  <h3>A. STUDENTS ON PROBATION</h3>
                  <h5>Probation I</h5>
                  <ng-container *ngFor="let prob1 of mattersArising['A. STUDENTS ON PROBATION']['Probation I']">
                    LEVEL: {{ probl?.level }}
                    <table class="table table-bordered table-hover black-border table-sm width-1">
                      <tr>
                        <th class="middle">S/N</th>
                        <th class="middle">Matric No</th>
                        <th class="middle">Name</th>
                        <th class="middle">CGPA</th>
                      </tr>
                      <tr *ngFor="let student of prob1?.students; let i = index">
                        <td class="middle">{{ i + 1 }}</td>
                        <td class="middle">{{ student?.matric_no }}</td>
                        <td class="middle">{{ student?.full_name }}</td>
                        <td class="middle">{{ student?.cgpa }}</td>
                      </tr>
                    </table>
                  </ng-container>
                </div>
                <div class="my-3" style="width: 100%" *ngIf="mattersArising['A. STUDENTS ON PROBATION'] && mattersArising['A. STUDENTS ON PROBATION']['Probation II']">
                  <h3>A. STUDENTS ON PROBATION</h3>
                  <h5>Probation II</h5>
                  <ng-container *ngFor="let prob2 of mattersArising['A. STUDENTS ON PROBATION']['Probation II']">
                    LEVEL: {{ prob2?.level }}
                    <table class="table table-bordered table-hover black-border table-sm width-1">
                      <thead>
                      <tr>
                        <th class="middle">S/N</th>
                        <th class="middle">Matric No</th>
                        <th class="middle">Name</th>
                        <th class="middle">CGPA</th>
                      </tr>
                      </thead>
                      <tr *ngFor="let student of prob2?.students; let i = index">
                        <td class="middle">{{ i + 1 }}</td>
                        <td class="middle">{{ student?.matric_no }}</td>
                        <td class="middle">{{ student?.full_name }}</td>
                        <td class="middle">{{ student?.cgpa }}</td>
                      </tr>
                    </table>
                  </ng-container>
                </div>
                <div class="my-3" style="width: 100%" *ngIf="mattersArising['B. WITHDRAWAL LIST'] && mattersArising['B. WITHDRAWAL LIST']['On Academic Basis']">
                  <h3>B. WITHDRAWAL LIST</h3>
                  <h5>On Academic Basis</h5>
                  <ng-container *ngFor="let prob2 of mattersArising['B. WITHDRAWAL LIST']['On Academic Basis']">
                    LEVEL: {{ prob2?.level }}
                    <table class="table table-bordered table-hover black-border table-sm width-1">
                      <thead>
                      <tr>
                        <th class="middle">S/N</th>
                        <th class="middle">Matric No</th>
                        <th class="middle">Name</th>
                        <th class="middle">CGPA</th>
                      </tr>
                      </thead>
                      <tr *ngFor="let student of prob2?.students; let i = index">
                        <td class="middle">{{ i + 1 }}</td>
                        <td class="middle">{{ student?.matric_no }}</td>
                        <td class="middle">{{ student?.full_name }}</td>
                        <td class="middle">{{ student?.cgpa }}</td>
                      </tr>
                    </table>
                  </ng-container>
                </div>
                <div class="my-3" style="width: 100%" *ngIf="mattersArising['B. WITHDRAWAL LIST'] && mattersArising['B. WITHDRAWAL LIST']['Voluntary Withdrawal']">
                  <h3>B. WITHDRAWAL LIST</h3>
                  <h5>Voluntary Withdrawal</h5>
                  <ng-container *ngFor="let prob2 of mattersArising['B. WITHDRAWAL LIST']['Voluntary Withdrawal']">
                    LEVEL: {{ prob2?.level }}
                    <table class="table table-bordered table-hover black-border table-sm width-1">
                      <thead>
                      <tr>
                        <th class="middle">S/N</th>
                        <th class="middle">Matric No</th>
                        <th class="middle">Name</th>
                        <th class="middle">CGPA</th>
                      </tr>
                      </thead>
                      <tr *ngFor="let student of prob2?.students; let i = index">
                        <td class="middle">{{ i + 1 }}</td>
                        <td class="middle">{{ student?.matric_no }}</td>
                        <td class="middle">{{ student?.full_name }}</td>
                        <td class="middle">{{ student?.cgpa }}</td>
                      </tr>
                    </table>
                  </ng-container>
                </div>
                <div class="my-3" style="width: 100%" *ngIf="mattersArising['C. STUDENTS WITH OUTSTANDING CREDITS GREATER THAN 12']">
                  <h3>C. STUDENTS WITH OUTSTANDING CREDITS GREATER THAN 12</h3>
                  <!--<h5>Voluntary Withdrawal</h5>-->
                  <ng-container *ngFor="let prob2 of mattersArising['C. STUDENTS WITH OUTSTANDING CREDITS GREATER THAN 12']">
                    LEVEL: {{ prob2?.level }}
                    <table class="table table-bordered table-hover black-border table-sm width-1">
                      <thead>
                      <tr>
                        <th class="middle">S/N</th>
                        <th class="middle">Matric No</th>
                        <th class="middle">Name</th>
                        <th class="middle">TOC</th>
                        <th class="middle">CGPA</th>
                      </tr>
                      </thead>
                      <tr *ngFor="let student of prob2?.students; let i = index">
                        <td class="middle">{{ i + 1 }}</td>
                        <td class="middle">{{ student?.matric_no }}</td>
                        <td class="middle">{{ student?.full_name }}</td>
                        <td class="middle">{{ student?.toc }}</td>
                        <td class="middle">{{ student?.cgpa }}</td>
                      </tr>
                    </table>
                  </ng-container>
                </div>
                <div class="my-3" style="width: 100%" *ngIf="mattersArising['D. STUDENTS WITH CGPA NOT LESS THAN 4.25']">
                  <h3>D. STUDENTS WITH CGPA NOT LESS THAN 4.25</h3>
                  <!--<h5>Voluntary Withdrawal</h5>-->
                  <ng-container *ngFor="let prob2 of mattersArising['D. STUDENTS WITH CGPA NOT LESS THAN 4.25']">
                    LEVEL: {{ prob2?.level }}
                    <table class="table table-bordered table-hover black-border table-sm width-1">
                      <thead>
                      <tr>
                        <th class="middle">S/N</th>
                        <th class="middle">Matric No</th>
                        <th class="middle">Name</th>
                        <th class="middle">CGPA</th>
                      </tr>
                      </thead>
                      <tr *ngFor="let student of prob2?.students; let i = index">
                        <td class="middle">{{ i + 1 }}</td>
                        <td class="middle">{{ student?.matric_no }}</td>
                        <td class="middle">{{ student?.full_name }}</td>
                        <td class="middle">{{ student?.cgpa }}</td>
                      </tr>
                    </table>
                  </ng-container>
                </div>
                <ng-container *ngFor="let award of awards">
                  <div class="my-3" style="width: 100%" *ngIf="mattersArising['E. STUDENTS WITH AWARDS'] && mattersArising['E. STUDENTS WITH AWARDS'][award]">
                    <h3>{{ award }}</h3>
                    <h5>Pro-Chancellor's Prize (Awarded to the Graduating student with a minimum of 4.80)</h5>
                    <ng-container *ngFor="let prob2 of mattersArising['E. STUDENTS WITH AWARDS'][award]">
                      LEVEL: {{ prob2?.level }}
                      <table class="table table-bordered table-hover black-border table-sm width-1">
                        <thead>
                        <tr>
                          <th class="middle">S/N</th>
                          <th class="middle">Matric No</th>
                          <th class="middle">Name</th>
                          <th class="middle">CGPA</th>
                        </tr>
                        </thead>
                        <tr *ngFor="let student of prob2?.students; let i = index">
                          <td class="middle">{{ i + 1 }}</td>
                          <td class="middle">{{ student?.matric_no }}</td>
                          <td class="middle">{{ student?.full_name }}</td>
                          <td class="middle">{{ student?.cgpa }}</td>
                        </tr>
                      </table>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
              <div class="row mt-5" style="width: 100%">
                <div class="col-1"></div>
                <div class="col-4 text-center">
                  <hr>
                  <h4 class="mb-0">{{ resultDetails?.hod }}</h4>
                  <small>HOD, Department of {{ resultDetails?.department }}</small>
                </div>
                <div class="col-1"></div>
                <div class="col-4 text-center">
                  <hr>
                  <h4 class="mb-0">{{ resultDetails?.dean }}</h4>
                  <small>Dean, Faculty of {{ resultDetails?.faculty }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="row">
          <div class="col-md-5">
            <table class="table table-responsive-md table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th colspan="2" class="text-center">{{ schoolSettings?.name }}</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Faculty</td>
                <td><b>{{resultDetails.faculty}}</b></td>
              </tr>
              <tr>
                <td>Department</td>
                <td><b>{{resultDetails.department}}</b></td>
              </tr>
              <tr>
                <td>Programme</td>
                <td><b>{{resultDetails?.programme}}</b></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-3">
            <table class="table table-responsive-md table-bordered table-striped table-hover text-center">
              <thead>
              <tr>
                <th colspan="2" class="text-center">Key to Grades</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>A</td>
                <td>70% - 100%</td>
              </tr>
              <tr>
                <td>B</td>
                <td>60% - 69%</td>
              </tr>
              <tr>
                <td>C</td>
                <td>50% - 59%</td>
              </tr>
              <tr>
                <td>D</td>
                <td>40% - 45%</td>
              </tr>
              <tr>
                <td>F</td>
                <td>Below 45%</td>
              </tr>
              </tbody>
            </table>
          </div>&lt;!&ndash;Key to Grades&ndash;&gt;
          <div class="col-md-4">
            <table class="table table-responsive-md table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th colspan="2" class="text-center">Classification of Degree</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>First Class</td>
                <td>4.5 - 5.0</td>
              </tr>
              <tr>
                <td>Second Class (Upper Division)</td>
                <td>3.5 - 4.49</td>
              </tr>
              <tr>
                <td>Second Class (Lower Division)</td>
                <td>2.4 - 3.49</td>
              </tr>
              <tr>
                <td>Third Class</td>
                <td>1.5 - 2.39</td>
              </tr>
              </tbody>
            </table>
          </div>&lt;!&ndash;Classification of Degree&ndash;&gt;
        </div>
        <div class="row">
          <div class="col-5">
            <div class="row">
              <div class="col-4">
                <table class="table">
                  <tr>
                    <td>Level</td>
                    <td><b>{{resultDetails.level}}</b></td>
                  </tr>
                </table>
              </div>
              <div class="col-4">
                <table class="table">
                  <tr>
                    <td>Session</td>
                    <td><b>{{resultDetails.session}}</b></td>
                  </tr>
                </table>
              </div>
              <div class="col-4">
                <table class="table">
                  <tr>
                    <td>Semester</td>
                    <td><b>{{resultDetails?.semester}}</b></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">-->
        <!--<h1 class="m-header text-center m&#45;&#45;padding-10">MSS Combined</h1>
        <table class="table table-responsive-sm table-bordered table-hover text-center black-border">
          <thead>
          <tr>
            <th rowspan="2" class="middle">S/N</th>
            <th rowspan="2" class="middle">Matric No</th>
            <th rowspan="2" class="middle">Current Semester Result</th>
            <th rowspan="2" class="middle">Outstanding Courses</th>
            <th colspan="3">Previous</th>
            <th colspan="3">Present</th>
            <th colspan="3">Cummulative</th>
            <th rowspan="2" class="middle">Remark</th>
          </tr>
          <tr>
            <th>TC</th>
            <th>TWGP</th>
            <th>GPA</th>
            <th>TC</th>
            <th>TWGP</th>
            <th>GPA</th>
            <th>CTC</th>
            <th>CTWGP</th>
            <th>CGPA</th>
          </tr>
          <tr *ngIf="allResults['student'].length < 1">
            <td colspan="14">No result found for this session</td>
          </tr>
          <tr *ngFor="let resultData of allResults['student']; let i = index">
            <td>{{i+1}}</td>
            <td>{{resultData?.matric_no}}</td>
            <td>
        <span *ngFor="let course_result of resultData.result">
        <span class="result-package">
        {{course_result?.curriculum_course?.code}}
        ({{course_result?.cu}})
        {{course_result?.score}}{{course_result?.grade}}
        </span>
        </span>
            </td>
            <td>
        <span *ngFor="let failed of generateArrays(resultData.outstanding)">
        <span class="result-package">
        {{failed}}
        </span>
        </span>
            </td>
            <td>{{resultData?.tcp_prev}}</td>
            <td>{{resultData?.twgp_prev}}</td>
            <td>{{((resultData?.twgp_prev) / (resultData?.tcp_prev)) | number : '1.1-2'}}</td>
            <td>{{resultData?.tcp}}</td>
            <td>{{resultData?.twgp}}</td>
            <td>{{((resultData?.twgp) / (resultData?.tcp)) | number : '1.1-2'}}</td>
            <td>{{(resultData?.tcp_prev)+(resultData?.tcp)}}</td>
            <td>{{(resultData?.twgp_prev)+(resultData?.twgp)}}</td>
            <td>{{(((resultData?.twgp_prev)+(resultData?.twgp) / ((resultData?.twgp_prev)+(resultData?.twgp)))) |
              number : '1.1-2'}}
            </td>
            <td>{{resultData.comment}}</td>
          </tr>
          </thead>
        </table>-->
      </div>
    </div>
  </div>
</div>
<div *ngIf="resultDetails.showResult" style="position: absolute; top: -10000px; pointer-events: none">
  <div class="m-portlet" id="mss1print">
    <div class="m-portlet__head">
      <h1 class="text-center m--padding-10">MSS1</h1>
    </div>
    <div class="m-portlet__body">
      <div class="row">
        <div class="col">
          <table class="table table-responsive-md table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th colspan="2" class="text-center">{{ schoolSettings?.name }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Faculty</td>
              <td><b>{{resultDetails.faculty}}</b></td>
            </tr>
            <tr>
              <td>Department</td>
              <td><b>{{resultDetails.department}}</b></td>
            </tr>
            <tr>
              <td>Course of Study</td>
              <td><b>{{resultDetails?.course_of_study}}</b></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-responsive-md table-bordered table-striped table-hover text-center">
            <thead>
            <tr>
              <th colspan="2" class="text-center">Key to Grades</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let config of allResults?.grading?.grades">
              <td>{{ config?.key }}</td>
              <td>{{ config?.value?.score?.min }}% - {{ config?.value?.score?.max }}%</td>
            </tr>
            </tbody>
          </table>
        </div><!--Key to Grades-->
        <div class="col">
          <table class="table table-responsive-md table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th colspan="2" class="text-center">Classification of Degree</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let config of allResults?.grading?.degree_class">
              <td>{{ config?.key }}</td>
              <td>{{ config?.value[0] }} - {{ config?.value[1] }}</td>
            </tr>
            </tbody>
          </table>
        </div><!--Classification of Degree-->
      </div>
      <div class="row">
        <div class="col-7">
          <div class="row">
            <div class="col-2">
              <table class="table">
                <tr>
                  <td>Level</td>
                  <td><b>{{resultDetails.level}}</b></td>
                </tr>
              </table>
            </div>
            <div class="col-3">
              <table class="table">
                <tr>
                  <td>Session</td>
                  <td><b>{{resultDetails.session}}</b></td>
                </tr>
              </table>
            </div>
            <div class="col-5">
              <table class="table">
                <tr>
                  <td>Semester</td>
                  <td><b>{{resultDetails?.semester}}</b></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <table class="table table-bordered table-hover text-center black-border font-70 font-60 font-50">
          <thead>
          <tr>
            <th rowspan="2" class="middle">S/N</th>
            <th rowspan="2" class="middle">Matric No</th>
            <th [attr.colspan]="allResults['allCourses'].length" class="middle">Current Semester Result</th>
            <th colspan="3">Previous</th>
            <th colspan="3">Present</th>
            <th colspan="3">Cummulative</th>
            <th rowspan="2" class="middle">Remark</th>
          </tr>
          <tr>
            <ng-container *ngIf="allResults['allCourses'].length">
              <th *ngFor="let course of allResults['allCourses']; let i = index">{{course?.code}}<br>({{course?.unit}})
              </th>
            </ng-container>
            <th>TC</th>
            <th>TWGP</th>
            <th>GPA</th>
            <th>TC</th>
            <th>TWGP</th>
            <th>GPA</th>
            <th>CTC</th>
            <th>CTWGP</th>
            <th>CGPA</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let resultData of toPrint['student']; let i = index">
            <tr>
              <td>{{i+1}}</td>
              <td>{{resultData?.matric_no}}</td>

              <td *ngFor="let course of allResults['allCourses']; let i = index">
                {{ getStudentResult(resultData?.result, course) }}
              </td>
              <td>{{resultData?.tcp_prev}}</td>
              <td>{{resultData?.twgp_prev}}</td>
              <td>{{((resultData?.twgp_prev) / (resultData?.tcp_prev)) | number : '1.1-2'}}</td>
              <td>{{resultData?.tcp}}</td>
              <td>{{resultData?.twgp}}</td>
              <td>{{((resultData?.twgp) / (resultData?.tcp)) | number : '1.1-2'}}</td>
              <td>{{(resultData?.tcp_prev)+(resultData?.tcp)}}</td>
              <td>{{(resultData?.twgp_prev)+(resultData?.twgp)}}</td>
              <td>{{( ( (resultData?.twgp_prev)+(resultData?.twgp) ) /((resultData?.tcp_prev)+(resultData?.tcp))
                ) |
                number : '1.1-2'}}
              </td>
              <td>{{ resultData?.remark }}</td>
            </tr>
            <tr [ngStyle]="{'background-color': schoolSettings?.settings?.secondary_color}"
                *ngIf="(i % allResults['student'].length === 0) && i > 0">
              <th rowspan="2" class="middle">S/N</th>
              <th rowspan="2" class="middle">Matric No</th>
              <th [attr.colspan]="allResults['allCourses'].length" class="middle">Current Semester Result</th>
              <th colspan="3">Previous</th>
              <th colspan="3">Present</th>
              <th colspan="3">Cummulative</th>
              <th rowspan="2" class="middle">Remark</th>
            </tr>
            <tr [ngStyle]="{'background-color': schoolSettings?.settings?.secondary_color}"
                *ngIf="(i % allResults['student'].length === 0) && i > 0">
              <ng-container *ngIf="allResults['allCourses'].length">
                <th *ngFor="let course of allResults['allCourses']; let i = index">{{course?.code}}<br>({{course?.unit}})
                </th>
              </ng-container>
              <th>TC</th>
              <th>TWGP</th>
              <th>GPA</th>
              <th>TC</th>
              <th>TWGP</th>
              <th>GPA</th>
              <th>CTC</th>
              <th>CTWGP</th>
              <th>CGPA</th>
            </tr>
          </ng-container>
          <!--<ng-container *ngIf="i === 18">
            <tr>
              <th rowspan="2" class="middle">S/N</th>
              <th rowspan="2" class="middle">Matric No</th>
              <th [attr.colspan]="allResults['allCourses'].length" class="middle">Current Semester Result</th>
              <th colspan="3">Previous</th>
              <th colspan="3">Present</th>
              <th colspan="3">Cummulative</th>
              <th rowspan="2" class="middle">Remark</th>
            </tr>
            <tr>
              <ng-container *ngIf="allResults['allCourses'].length">
                <th *ngFor="let course of allResults['allCourses']; let i = index">{{course?.code}}<br>({{course?.unit}})
                </th>
              </ng-container>
              <th>TC</th>
              <th>TWGP</th>
              <th>GPA</th>
              <th>TC</th>
              <th>TWGP</th>
              <th>GPA</th>
              <th>CTC</th>
              <th>CTWGP</th>
              <th>CGPA</th>
            </tr>
          </ng-container>-->
          </tbody>
        </table>
        <div class="page-break">
          <ng-container *ngIf="allResults['summary']">
            <h3 class="text-center mt-3">SUMMARY</h3>
            <table class="table table-bordered table-striped table-hover  black-border table-sm ml-3 font-80">
              <tr>
                <td></td>
                <td *ngFor="let course of allResults['allCourses']" class="font-weight-bold text-center">{{ course?.code
                  }}
                  ({{ course?.unit }})
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Grade A</td>
                <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                  processSummary('grade_summary',
                  course?.code, 'A') }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Grade B</td>
                <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                  processSummary('grade_summary',
                  course?.code, 'B') }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Grade C</td>
                <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                  processSummary('grade_summary',
                  course?.code, 'C') }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Grade D</td>
                <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                  processSummary('grade_summary',
                  course?.code, 'D') }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Grade E</td>
                <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                  processSummary('grade_summary',
                  course?.code, 'E') }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Grade F</td>
                <td *ngFor="let course of allResults['allCourses']" class="text-center">{{
                  processSummary('grade_summary',
                  course?.code, 'F') }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Average</td>
                <td *ngFor="let course of allResults['allCourses']" class="text-center">{{ processSummary('average',
                  course?.code) }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Overall</td>
                <td *ngFor="let course of allResults['allCourses']" class="text-center">{{ processSummary('total',
                  course?.code) }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">% Pass</td>
                <td *ngFor="let course of allResults['allCourses']" class="text-center">{{ processSummary('passes',
                  course?.code) }}
                </td>
              </tr>
              <!--<tr>
                <td class="font-weight-bold">Min Score</td>
                <td *ngFor="let course of allResults['allCourses']" class="text-center">{{ processSummary('min', course?.code) }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Max Score</td>
                <td *ngFor="let course of allResults['allCourses']" class="text-center">{{ processSummary('max', course?.code) }}</td>
              </tr>-->
            </table>
          </ng-container>
        </div>
        <div class="m-demo font-80">
          <div class="m-demo__preview">
            <div class="m-list-search">
              <div class="m-list-search__results">
                        <span class="m-list-search__result-category m-list-search__result-category--first">
                          Abbreviations
                        </span>
                <div class="row">
                  <div class="col-3" *ngFor="let abbr of abbreviations">
                            <span class="m-list-search__result-item m-list-search__result-item-text">
                              {{ abbr.short }} - {{ abbr.long }}.
                            </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4" style="width: 100%">
          <div class="col-1"></div>
          <div class="col-4 text-center">
            <hr>
            <h4 class="mb-0">{{ resultDetails?.hod }}</h4>
            <small>HOD, Department of {{ resultDetails?.department }}</small>
          </div>
          <div class="col-1"></div>
          <div class="col-4 text-center">
            <hr>
            <h4 class="mb-0">{{ resultDetails?.dean }}</h4>
            <small>Dean, Faculty of {{ resultDetails?.faculty }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
