.margin{
    padding: 10px 0 50px 0 !important;
}
thead tr th{
    text-align: center!important;
    background-color: #5867dd;
    color: white;
}
.black-border>tbody>tr>td,
.black-border>thead>tr>th{
    border: 1px solid white!important;
    border-collapse: collapse;
}
.middle{
    vertical-align: middle;
}

.result-package{
    padding: 5px;
    text-transform: uppercase;
    /*border: 1px solid black;*/
    background-color: rgba(128, 128, 128, 0.05);
    margin: 0 2px 5px 0 !important;
}

@media (max-width: 1200px) {
    .table-responsive-xvs {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive-sm > .table-bordered {
        border: 0; } }

/*.width-1 tr thead th, .width-1 tr td{
  width: 1% !important;
}*/

.width-1 thead tr th{
  text-align: left!important;
}

.gradHeading {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
