<div id="jambRecordTemplate" class="modal fade" role="dialog">
  <form [formGroup]="createJambRecordForm" (ngSubmit)="createJambRecord('resultBulkFile')">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Export Jamb Record</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','jambRecordTemplate')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <label for="country">Session:</label>
                <select class="form-control" #setsession formControlName="session"
                        id="newsession">
                  <option value="" disabled>Select Session</option>
                  <option *ngFor="let session of allSessions; let ind=index"
                          value="{{session.id}}">{{session.year}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="country">Jamb Record Type:</label>
                <select class="form-control" formControlName="type"
                        id="newsession">
                  <option value="" disabled>Type of Record</option>
                  <option value="jamb">Jamb</option>
                  <option value="de" disabled>Direct Entry</option>

                </select>

              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="resultBulkFile">Bulk Jamb Record File</label>
                <input name="csv" type="file" id="resultBulkFile" class="form-control">
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="createJambRecordForm.invalid || load.requesting.create">
            <i class="fa fa-upload"></i>
            Upload Template
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>

          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','jambRecordTemplate')">Close
          </button>
          <a id="d_template" download></a>
        </div>
      </div>
    </div>
  </form>
</div>


<!--<div id="createJambRecord" class="modal fade" role="dialog">-->
<!--<form [formGroup]="createJambRecordForm" (ngSubmit)="createJambRecord()">-->
<!--<div class="modal-dialog">-->
<!--&lt;!&ndash; Modal content&ndash;&gt;-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->

<!--<h4 class="modal-title">Create Jamb Record</h4>-->
<!--<button class="close" type="button" (click)="triggerModalOrOverlay('close','createJambRecord')">&times;</button>-->

<!--</div>-->
<!--<div class="modal-body">-->
<!--<div class="form-group">-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->

<!--<label for="schoolname">First Name:</label>-->
<!--<input class="form-control" formControlName="first_name" id="schoolname" placeholder="First Name">-->

<!--</div>-->
<!--<div class="col-md-6">-->

<!--<label for="middle_name">Middle Name:</label>-->
<!--<input class="form-control" id="domain" formControlName="middle_name" placeholder="Middle Name">-->
<!--&lt;!&ndash;  &ndash;&gt;-->


<!--&lt;!&ndash;  &ndash;&gt;-->
<!--</div>-->

<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<label for="schooldomain">Last Name:</label>-->
<!--<input class="form-control" id="domain" formControlName="last_name" placeholder="Last Name">-->

<!--</div>-->

<!--<div class="col-md-6">-->

<!--<label for="email">Email:</label>-->
<!--<input class="form-control" formControlName="email" id="email" placeholder="Email">-->


<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-md-6">-->


<!--<label for="country">Country:</label>-->
<!--<select class="form-control" #country formControlName="country_id" id="country" (change)="getStateByCountryId(country.value)">-->
<!--<option value="" disabled>Select Country</option>-->
<!--<option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">{{country.name}}</option>-->
<!--</select>-->


<!--</div>-->
<!--<div class="col-md-6">-->

<!--<label for="state">State:</label>-->
<!--<select class="form-control" formControlName="state_id" id="state">-->
<!--<option value="" disabled>Select State</option>-->
<!--<option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">{{state.name}}</option>-->
<!--</select>-->


<!--</div>-->

<!--</div>-->


<!--<div class="row">-->
<!--<div class="col-md-6">-->


<!--<label for="course">Faculty:</label>-->
<!--<select class="form-control" #faculty formControlName="faculty_id" id="faculty" (change)="getDepartmentByByFacultyId(faculty.value)">-->
<!--<option value="" disabled>Select Faculty</option>-->
<!--<option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">{{faculty.name}}</option>-->
<!--</select>-->


<!--</div>-->
<!--<div class="col-md-6">-->
<!--<label for="department">Department:</label>-->
<!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="load.departments.loading"></i>-->
<!--<select class="form-control" #deprtmnt formControlName="department_id" id="department" (change)="getCourseByDepartmentId(deprtmnt.value)"-->
<!--[disabled]="!load.departments.list || load.departments.loading">-->
<!--<option value="" disabled>Select Department</option>-->
<!--<option *ngFor="let department of allDepartments; let ind=index" value="{{department.id}}">{{department.name}}</option>-->
<!--</select>-->


<!--</div>-->

<!--</div>-->


<!--<div class="row">-->

<!--<div class="col-md-6">-->
<!--<label for="course">Course of Study:</label>-->
<!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="load.courses.loading"></i>-->
<!--<select class="form-control" #course formControlName="course_of_study_id" id="course" [disabled]="!load.courses.list || load.courses.loading">-->
<!--<option value="" disabled>Select Course</option>-->
<!--<option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">{{course.name}}</option>-->
<!--</select>-->
<!--</div>-->
<!--<div class="col-md-6">-->

<!--<label for="matric_no">Matriculation Number:</label>-->
<!--<input class="form-control" formControlName="matric_no" id="matric_no" placeholder="Matric No">-->

<!--</div>-->
<!--</div>-->


<!--</div>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="submit" class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm" [disabled]="createJambRecordForm.invalid || load.requesting.create">{{load.message.create}}-->
<!--<i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>-->
<!--</button>-->
<!---->
<!--<button type="button" class="btn btn-accent btn-danger m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm" (click)="triggerModalOrOverlay('close','createJambRecord')">Close</button>-->
<!---->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->

<div id="updateJambRecord" class="modal fade" role="dialog">
  <form [formGroup]="updateJambRecordForm" (ngSubmit)="updateJambRecord()">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">{{updatedJambRecord?.name}}'s UTME Details
          </h4>
          <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateJambRecord')">Close</button> -->
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateJambRecord')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active"
                   data-toggle="tab"
                   href="#m_user_profile_tab_1" role="tab">
                  <i class="flaticon-share m--hide"></i>
                  Candidate Info
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab"
                   href="#m_user_profile_tab_2" role="tab">
                  Score Breakdown
                </a>
              </li>
            </ul>
          </div>

          <div class="tab-content">
            <div class="tab-pane active" id="m_user_profile_tab_1">
              <form class="">
                <div class="m-portlet__body">
                  <div class="form-group m-form__group m--margin-top-10 m--hide">
                    <div class="alert m-alert m-alert--default" role="alert">
                      The example form below demonstrates common HTML form elements
                      that receive updated styles from Bootstrap with additional
                      classes.
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-md-6">

                      <label>Full Name:</label>

                    </div>
                    <div class="col-md-6">

                      {{updatedJambRecord?.name}}
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label for="schooldomain">Jamb Reg No:</label>

                    </div>

                    <div class="col-md-6">
                      {{updatedJambRecord?.reg_no}}


                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label>
                        Gender:
                      </label>
                    </div>
                    <div class="col-md-6">
                               <span *ngIf="updatedJambRecord?.gender.toUpperCase()==='M'">
                                  Male
                               </span>
                      <span *ngIf="updatedJambRecord?.gender.toUpperCase()==='F'">
                                  Female
                               </span>


                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label>
                        Age:
                      </label>
                    </div>
                    <div class="col-md-6">
                      {{updatedJambRecord?.age}} years


                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label>
                        State of Origin:
                      </label>
                    </div>
                    <div class="col-md-6">
                      {{updatedJambRecord?.state_origin}} State


                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <label for="course">LGA:</label>
                    </div>
                    <div class="col-md-6">
                      {{updatedJambRecord?.lga}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">

                      <label for="course">Faculty:</label>

                    </div>
                    <div class="col-md-6">

                      {{updatedJambRecord?.fac_abbr}}

                    </div>

                  </div>


                  <div class="row">

                    <div class="col-md-6">
                      <label for="course">Course of Study:</label>
                    </div>
                    <div class="col-md-6">
                      {{updatedJambRecord?.cors_abbr}}
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <label for="course">First Choice:</label>
                    </div>
                    <div class="col-md-6">

                      {{updatedJambRecord?.first_choice}}

                    </div>
                  </div>


                </div>
              </form>
            </div>
            <div class="tab-pane " id="m_user_profile_tab_2">
              <div class="m-portlet__body">
                <div class="form-group m-form__group m--margin-top-10 m--hide">
                  <div class="alert m-alert m-alert--default" role="alert">
                    The example form below demonstrates common HTML form elements
                    that receive updated styles from Bootstrap with additional
                    classes.
                  </div>
                </div>

                <div class="form-group">
                  <div class="table-responsive">
                    <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
                      <thead>
                      <tr>
                        <th>
                          Course Name
                        </th>
                        <th>
                          Jamb Score
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let subject of updatedJambRecord?.subj_list">
                        <td>
                          {{subject?.subj_name}}
                        </td>
                        <td>
                          {{subject?.subj_score}}
                        </td>
                      </tr>
                      </tbody>
                      <tfoot>
                      <tr>
                        <th>
                          Total
                        </th>
                        <th>
                          {{updatedJambRecord?.total_ume_score}}
                        </th>
                      </tr>
                      </tfoot>
                    </table>

                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','updateJambRecord')">Close
          </button>

        </div>
      </div>
    </div>
  </form>
</div>


<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Jamb Records
        </h3>

      </div>


      <div class="select_session row">
        <div class="col-6">
          <label>Select Programme:</label>
          <select class="form-control" (change)="getSessionsByProgrammeId(setprogramme.value)" #setprogramme>
            <option value="" disabled>
              Choose Programme
            </option>
            <option *ngFor="let programme of allProgrammes; let ind=index"
                    value="{{programme.id}}">{{programme?.name}}
            </option>
          </select>
        </div>

        <div class="col-6">
          <label>Select Session: <i class="m-loader m-loader--brand" *ngIf="loadSessions"></i>
          </label>
          <select class="form-control" (change)="getAllJambRecords(jamb.value)" #jamb
                  [disabled]="!enableSessionIput">
            <option value="" disabled>
              Choose Session
            </option>
            <option *ngFor="let session of allSessions; let ind=index"
                    value="{{session.id}}">{{session.year}} {{session?.programme?.name}}
            </option>
          </select>
        </div>


      </div>

    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
        </li>

        <li class="m-portlet__nav-item">
          <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
               data-dropdown-toggle="hover" aria-expanded="true">
            <a
                    class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
              <!--<i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>-->
              <i class="la la-upload la-2x"></i>
            </a>
            <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
                                      style="left: auto; right: 21.5px;"></span>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__content">
                    <ul class="m-nav">
                      <li class="m-nav__section m-nav__section--first">
																			<span class="m-nav__section-text">
																				Bulk File
																			</span>
                      </li>
                      <!--<li class="m-nav__item">-->
                      <!--<a class="m-nav__link"-->
                      <!--(click)="triggerModalOrOverlay('open','updateStudent',ind)">-->
                      <!--<i class="m-nav__link-icon la la-download"></i>-->
                      <!--<span class="m-nav__link-text">-->
                      <!--Download Template-->
                      <!--</span>-->
                      <!--</a>-->
                      <!--</li>-->
                      <!--<li class="m-nav__item">-->
                      <!--<a href="" class="m-nav__link">-->
                      <!--<i class="m-nav__link-icon la la-upload"></i>-->
                      <!--<span class="m-nav__link-text">-->
                      <!--Bulk Upload-->
                      <!--</span>-->
                      <!--</a>-->
                      <!--</li>-->
                      <li class="m-nav__item" *ngIf="iAmPermitted('school.admission.jamb-record.jamb_import')">
                        <a class="m-nav__link"
                           (click)="triggerModalOrOverlay('open','jambRecordTemplate')">
                          <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                          <span class="m-nav__link-text">
																					Upload Jamb Record
																				</span>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </li>


      </ul>
    </div>

  </div>
  <div class="m-portlet__body">
    <!--begin: Search Form -->
    <!--end: Search Form -->
    <!--begin: Datatable -->
    <div class="table-responsive">
      <table datatable [dtTrigger]="dtTrigger"
             class="table table-hover table-striped table-sm m-table--head-bg-brand">
        <thead class="thead-color">
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>Reg No.</th>
          <th>State</th>
          <th>LGA</th>
          <th>Sex</th>
          <th>Age</th>
          <th>Total Score</th>
          <th>Faculty</th>
          <th>Course</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="load.requesting.list || allJambRecords.length===0" class="text-center">
          <td colspan="11">
            <span *ngIf="!load.requesting.list && allJambRecords.length===0">No Record Found</span>
            <span *ngIf="load.requesting.list">Fetching Jamb Records.. <i
                    class="m-loader m-loader--right m-loader--brand"></i></span>
          </td>
        </tr>
        <tr *ngFor="let JambRecord of allJambRecords; let ind=index">
          <td>{{ind+1}}</td>
          <td>{{JambRecord?.name}}</td>
          <td>{{JambRecord?.reg_no}}</td>
          <td>{{JambRecord?.state_origin}}</td>
          <td>{{JambRecord?.lga}}</td>
          <td>{{JambRecord?.gender}}</td>
          <td>{{JambRecord?.age}}</td>
          <td>{{JambRecord?.total_ume_score}}</td>
          <td>{{JambRecord?.fac_abbr}}</td>
          <td>{{JambRecord?.cors_abbr}}</td>
          <td class="text-center">
            <button class="btn m-btn--air btn-info btn-xs"
                    (click)="triggerModalOrOverlay('open','updateJambRecord',ind)">
              <i class="la  la-eye" *ngIf="!JambRecord?.loading"></i>
              <i class="m-loader m-loader--right m-loader--brand" *ngIf="JambRecord?.loading"></i>

            </button>
          </td>


        </tr>
        </tbody>
      </table>
    </div>

    <!--end: Datatable -->
  </div>
</div>
