hr {
background-color: #716aca;
}

table div {
    padding-top: 10px !important;
}

#add_button {
    z-index: 1000;
    position: absolute;
    margin:45px 0px 0px 50px !important;
}

.padd{
    padding-top: 10px;
}

h3 span.animated{
    color: green;
}


.applicant-img {
  max-width: 100%;
  max-height: 150px;
  display: block;
  margin: auto;
  /*vertical-align: middle;*/
}
.applicant-img-prev {
  max-width: 100%;
  max-height: 120px;
  /*display: block;*/
  /*margin: auto;*/
  /*vertical-align: middle;*/
}

.result-info{
    color:black !important;
}
.old_pane{
    border-bottom: 2px solid black !important;
}
.table.table-sm.table-bordered th{
    color: black !important;
    font-size: 14px;
}

.center{
    position: fixed;
    top: 50%;
    right: 0px;
    width: 115px;
    height: 0px;
    text-align:right;
    z-index:9999;
    margin-top:-15px;
}

.set-btn{
    margin-top: 2.53em
}

#acklink{
    color: red;
}

.shadow_div{
    box-shadow: 2px 1px 2px 1px;
}

@media print {
    #pageButton {
        visibility: hidden;
    }

    /*#printPageButton {*/
        /*display: none;*/
    /*}*/


    .ack_body{
        border: 2px black solid !important;
    }
}

.ack_body{
    border: 2px black solid !important;
}
