<div class="m-content" id="showTop">
  <div class="m-portlet">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3 class="m-subheader__title">
                <span style="padding-right: 50px">Application Form</span>
                <span class="animated bounceInRight pull-right"
                      *ngIf="activeApplicant?.applicant_profile?.application_form_status.toString() === '1' && activeApplicant?.applicant_profile?.submit.toString()==='1'">
                                 <strong>Submitted!</strong>
                            </span>
              </h3>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END: Subheader -->
<div *ngIf="!applicationFormPreview && !(activeApplicant?.applicant_profile?.application_form_status.toString() === '1' && activeApplicant?.applicant_profile?.submit.toString()==='1')"
     class="m-content">
  <div id="verifySubmission" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Verify Your Application</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','verifySubmission')">&times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <h6>Do you confirm that these details are correct?<br></h6>
            <p>Please note that this is a final submission and cannot be updated later.</p>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-sm btn-accent m-btn m-btn--air m-btn--custom m-btn--pill"
                      (click)="saveApplicationForm('submit')">Yes &nbsp; &nbsp;
                <i class="m-loader m-loader--light" *ngIf="submitLoading"></i>
              </button>
            </div>


            <div class="col-4">
              <button type="button" class="btn btn-sm btn-accent m-btn m-btn--air m-btn--custom m-btn--pill"
                      (click)="saveApplicationForm('save','preview')">
                Preview
              </button>
            </div>


            <div class="col-6">
              <button type="button"
                      class="btn btn-danger btn-sm m-btn m-btn--air m-btn--custom m-btn--pill"
                      (click)="triggerModalOrOverlay('close','verifySubmission')">Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1"
                   role="tab">
                  <i class="flaticon-share m--hide"></i>
                  Personal Details
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" (click)="openOLevelForm()"
                   role="tab">
                  Academic Records
                </a>
              </li>
              <!--<li class="nav-item m-tabs__item">-->
              <!--<a class="nav-link m-tabs__link" data-toggle="tab"-->
              <!--href="#m_user_profile_tab_3" role="tab">-->
              <!--Update Info-->
              <!--</a>-->
              <!--</li>-->
            </ul>
          </div>
          <div class="m-portlet__head-tools">
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="m_user_profile_tab_1">
            <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="applicantFormTabOne"
                  (ngSubmit)="saveApplicantTabOne()">
              <div class="m-portlet__body">
                <div class="float-right pr-2 text-center">
                  <div>Maximum of <b>500KB</b></div>
                  <div class="img-container">
                    <img class="applicant-img img-thumbnail" id="profile_photo_other"
                         src="{{authenticatedUser['profile_image'] || 'assets/images/users/blank_male.jpg'}}">
                  </div>
                  <button class=" btn m-btn--pill btn-success m-btn--air mt-2 btn-file">
                    <i class="fa fa-upload"></i> Photo
                    <input type="file" (change)="getPhoto($event, 'profile_photo_other')"
                           id="studentPhotoOther">
                  </button>
                </div>
                <div style="clear: both">
                  <div class="form-group m-form__group row">
                    <div class="col-md-4 col-sm-12">
                      <label>Gender</label>
                      <select class="form-control m-input--solid m-input" formControlName="gender">
                        <option value="">----</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </div><!--Gender-->
                    <div class="col-md-4 col-sm-12">
                      <label>Phone</label>
                      <input class="form-control m-input--solid m-input" type="tel" formControlName="phone">
                    </div><!--Phone-->
                    <div class="col-md-4 col-sm-12">
                      <label>Contact Address</label>
                      <textarea class="form-control m-input--solid m-input" formControlName="address"></textarea>
                    </div><!--Contact Address-->
                  </div>
                  <div class="form-group m-form__group row">
                    <div class="col-md-4 col-sm-12">
                      <label>Country</label>
                      <select class="form-control m-input--solid m-input" formControlName="country_id"
                              (change)="getStateByCountryId($event.target.value)">
                        <option value="" disabled></option>
                        <option *ngFor="let country of allCountries" [value]="country?.id">{{ country?.name }}</option>
                      </select>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <label>State &nbsp;&nbsp;<i class="m-loader m-loader--brand"
                                                  *ngIf="load.states.loading"></i></label>
                      <select class="form-control m-input--solid m-input" formControlName="state_origin"
                              (change)="getSingleState($event.target.value)">
                        <option value="" disabled></option>
                        <option *ngFor="let state of allStates" [value]="state?.id">{{ state?.name }}</option>
                      </select>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <label>LGA &nbsp;&nbsp;<i class="m-loader m-loader--brand" *ngIf="load.lgas.loading"></i></label>
                      <select class="form-control m-input--solid m-input" formControlName="lga">
                        <option value="" disabled></option>
                        <option *ngFor="let lga of lgas" [value]="lga?.id">{{ lga?.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group m-form__group row">
                    <div class="col-md-4 col-sm-12">
                      <label>Next of Kin's Full Name</label>
                      <input class="form-control m-input--solid m-input" type="text" formControlName="next_of_kin">
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <label>Next of Kin's Phone</label>
                      <input class="form-control m-input--solid m-input" type="tel" formControlName="kin_phone">
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <label>Next of Kin's Address</label>
                      <textarea class="form-control m-input--solid m-input" formControlName="kin_address"></textarea>
                    </div>
                  </div>
                  <hr>
                </div>

                <div class="h4 ml-5 my-5">Basic Information</div>

                <div class="form-group m-form__group row">
                  <div class="col-md-4 col-sm-12">
                    <label>Telephone</label>
                    <input class="form-control m-input--solid" type="tel" formControlName="applicant_landtel"
                           id="landLine"
                           (change)="checkPhoneLength('landLine')">
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>Home Address</label>
                    <textarea class="form-control m-input--solid m-input"
                              formControlName="applicant_homeaddress"></textarea>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>Marital Status</label>
                    <select class="form-control m-input--solid m-input" formControlName="marital_status">
                      <option value="" disabled>Select Marital Status</option>
                      <option value="Single">Single</option>
                      <option value="Married">Married</option>
                    </select>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <div class="col-md-4 col-sm-12">
                    <label>Date of Birth</label>
                    <input class="form-control m-input--solid" type="date" formControlName="birthdate">
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>Place of Birth</label>
                    <textarea class="form-control m-input--solid" formControlName="place_of_birth"></textarea>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>Home Town</label>
                    <textarea class="form-control m-input--solid m-input" formControlName="home_town"></textarea>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <div class="col-md-4 col-sm-12">
                    <label>Preferred Screening Venue</label>
                    <select class="form-control m-input--solid" formControlName="preferred_screening_centre">
                      <option value="" disabled>Select Venue</option>
                      <option value="{{screening_centre?.id}}" *ngFor="let screening_centre of allScreeningCentres">
                        {{screening_centre?.name}}, {{screening_centre?.location}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-4 col-sm-12" *ngIf="appSettings?.settings?.student_profile_allow_denomination">
                    <label>Denomination</label>
                    <select class="form-control m-input--solid" formControlName="denomination" #app_denomination
                            (change)="checkDenomination(app_denomination.value)">
                      <option value="">Select Denomination</option>
                      <option value="Methodist">Methodist</option>
                      <option value="Baptist">Baptist</option>
                      <option value="Anglican">Anglican</option>
                      <option value="Catholic">Catholic</option>
                      <option value="Presbyterian">Presbyterian</option>
                      <option value="others">Others</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-sm-12" *ngIf="showOthers">
                    <label>Specify Denomination</label>
                    <input class="form-control m-input--solid" placeholder="pleease specify denomination"
                           formControlName="other_denomination">

                  </div>
                </div>
                <hr>

                <div class="h4 ml-5 my-5">Parent/Guardian Information</div>


                <div class="form-group m-form__group row">
                  <div class="col-md-4 col-sm-12">
                    <label>Title</label>
                    <select class="form-control m-input--solid m-input"
                            formControlName="parents_title">
                      <option value="" disabled>Choose Title</option>
                      <option value="Dr">Dr</option>
                      <option value="Mr">Mr.</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>If Other, please specify</label>
                    <input class="form-control m-input--solid" type="text" formControlName="parent_other_title">
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>Full Name</label>
                    <input class="form-control m-input--solid" type="text" formControlName="parent_name">
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <div class="col-md-4 col-sm-12">
                    <label>Relationship</label>
                    <input class="form-control m-input--solid" type="text"
                           formControlName="parent_relationship" placeholder="Father,Brother,Uncle, etc">
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>Phone</label>
                    <input class="form-control m-input--solid m-input" type="tel" id="parent_phone"
                           formControlName="parent_tel"
                           (change)="checkPhoneLength('parent_phone')">
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>Email</label>
                    <input class="form-control m-input--solid" type="email" formControlName="parent_email">
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <div class="col-md-4 col-sm-12">
                    <label>Address</label>
                    <textarea class="form-control m-input--solid" formControlName="parent_address"></textarea>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>Who Referred You</label>
                    <select class="form-control m-input--solid m-input"
                            formControlName="referrer_channel">
                      <option value="" disabled>Choose Referrer</option>
                      <option value="{{ referrer }}" *ngFor="let referrer of appSettings?.settings?.admission_channel"> {{
                        referrer }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-4 col-sm-12" *ngIf="applicantFormTabOne.value.referrer_channel === 'Staff'">
                    <label> Name of Staff </label>
                    <input class="form-control m-input--solid" type="text" formControlName="referrer_name">
                  </div>
                  <!--<div class="col-md-4 col-sm-12"></div>-->
                  <!--<div class="col-md-4 col-sm-12"></div>-->
                </div>

                <hr>

                <h5>Desired Course of Study</h5>
                <table class="table table-hover  table-sm m-table--head-bg-brand">
                  <thead>
                  <tr>
                    <th class="text-center">
                      First Choice
                    </th>
                    <th class="text-center">
                      Second Choice
                    </th>

                  </tr>

                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <div class="form-group m-form__group row">
                        <label class="col-3 col-form-label">
                          {{facultyName}}
                        </label>
                        <div class="col-6">
                          <select formControlName="first_faculty_id" #setFirstFaculty
                                  class="form-control m-input--solid m-input"
                                  (change)="getDepartmentByFacultyIndex(setFirstFaculty.value,'first')">
                            <option value="">
                              Select {{facultyName}}
                            </option>
                            <option value="{{faculty?.id}}"
                                    *ngFor="let faculty of allFirstFaculties; let ind=index">
                              {{faculty?.name}}
                            </option>
                          </select>
                        </div>
                      </div>

                    </td>

                    <td>
                      <div class="form-group m-form__group row">
                        <label class="col-3 col-form-label">
                          {{facultyName}}
                        </label>
                        <div class="col-6">
                          <select formControlName="second_faculty_id" #setSecondFaculty
                                  class="form-control m-input--solid m-input"
                                  (change)="getDepartmentByFacultyIndex(setSecondFaculty.value,'second')">
                            <option value="">
                              Select {{facultyName}}
                            </option>
                            <option value="{{faculty?.id}}"
                                    *ngFor="let faculty of allSecondFaculties; let ind=index">
                              {{faculty?.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group m-form__group row">
                        <label class="col-3 col-form-label">
                          Department
                        </label>
                        <div class="col-6">
                          <select formControlName="first_department_id" #setFirstDepartment
                                  class="form-control m-input--solid m-input"
                                  (change)="getCourseByDepartmentIndex(setFirstDepartment.value,'first')">
                            <option value="">
                              Select Department
                            </option>
                            <option value="{{department?.id}}"
                                    *ngFor="let department of allFirstDepartments; let ind=index">
                              {{department?.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="form-group m-form__group row">
                        <label class="col-3 col-form-label">
                          Department
                        </label>
                        <div class="col-6">
                          <select formControlName="second_department_id" #setSecondDepartment
                                  class="form-control m-input--solid m-input"
                                  (change)="getCourseByDepartmentIndex(setSecondDepartment.value,'second')">
                            <option value="">
                              Select Department
                            </option>
                            <option value="{{department?.id}}"
                                    *ngFor="let department of allSecondDepartments; let ind=index">
                              {{department?.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group m-form__group row">
                        <label class="col-3 col-form-label">
                          Course of Study
                        </label>
                        <div class="col-6">
                          <select class="form-control m-input--solid m-input"
                                  formControlName="first_course_id" #first_choice_course>
                            <option value="">
                              Select Course
                            </option>
                            <option value="{{course?.id}}"
                                    *ngFor="let course of allFirstCourses; let ind=index">
                              {{course?.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="form-group m-form__group row">
                        <label class="col-3 col-form-label">
                          Course of Study
                        </label>
                        <div class="col-6">
                          <select class="form-control m-input--solid m-input"
                                  formControlName="second_course_id" #second_choice_course>
                            <option value="">
                              Select Course
                            </option>
                            <option value="{{course?.id}}"
                                    *ngFor="let course of allSecondCourses; let ind=index">
                              {{course.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="pull-right">
                        <!--(click)="moveToTabTwo('m_user_profile_tab_2')"-->
                        <a class="btn btn-accent m-btn m-btn--air m-btn--custom m-tabs__link text-light"
                           data-toggle="tab" (click)="moveToTabTwo('m_user_profile_tab_2')"
                           role="tab">Next
                          <i class="la la-chevron-right"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>



          <div class="tab-pane" id="m_user_profile_tab_2" *ngIf="!old_version_active">
            <div class="m-portlet__body">


              <div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">
                <!--begin::Item-->
                <div class="m-accordion__item">
                  <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_1_head"
                       data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded="false">
													<span class="m-accordion__item-icon">
														<i class="fa fa-folder-open"></i>
													</span>
                    <span class="m-accordion__item-title">
													O'level	Results
													</span>
                    <span class="m-accordion__item-mode"></span>
                  </div>
                  <div class="m-accordion__item-body collapse" id="m_accordion_1_item_1_body" role="tabpanel"
                       aria-labelledby="m_accordion_1_item_1_head" data-parent="#m_accordion_1" style="">
                    <div class="m-accordion__item-content">
                      <div class="card">
                        <div class="card-header">
                          <div>


                            <div class="center">
                              <button class="btn btn-accent m-btn--air" type="button" role="button"
                                      *ngIf="addResultButton" (click)="setVisibleForms()"
                                      [disabled]="showResultForm && !showAddSubject">
                                <i class="la la-plus"></i> Add Exam
                              </button>
                            </div>


                          </div>
                        </div>
                        <div class="form-group m-form__group card-body" *ngIf="showResultForm">

                          <div class="row">
                            <div class="col-md-12 old_pane">
                              <form class="form-control" [formGroup]="olevelResultsVersionTwo"
                                    (ngSubmit)="addExamVersionTwo()" *ngIf="!showAddSubject">

                                <div class="m-portlet__body">
                                  <h3><u>Exam: [{{activeSitting}}]</u></h3>
                                  <div class="form-group m-form__group row">

                                    <div class="col-3">
                                      <label class="col-form-label">Exam Name</label>
                                      <select class="form-control m-input--solid m-input" formControlName="exam_name">
                                        <option value="" disabled>Select Examination</option>
                                        <option value="WASSCE">WASSCE</option>
                                        <option value="NECO">NECO</option>
                                        <option value="GCE">GCE</option>
                                      </select>
                                    </div>

                                    <div class="col-3">
                                      <label class="col-form-label">Exam Year</label>
                                      <!--<input class="form-control m-input&#45;&#45;solid" type="text" formControlName="exam_year">-->
                                      <select class="form-control m-input--solid m-input" formControlName="exam_year">
                                        <option value="" disabled>
                                          Choose Exam Year
                                        </option>
                                        <option *ngFor="let year of yearsArray">{{year}}</option>
                                      </select>
                                    </div>

                                    <div class="col-3">
                                      <label class="col-form-label">Exam No.</label>
                                      <input class="form-control m-input--solid" type="text"
                                             formControlName="exam_number">
                                    </div>

                                    <div class="col-3">
                                      <div class="set-btn">
                                        <button class="btn btn-warning btn-md text-light" type="submit"
                                                [disabled]="olevelResultsVersionTwo.invalid">Enter Exam
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </form>
                              <form class="form-control" [formGroup]="olevelSubjectsVersionTwo"
                                    (ngSubmit)="addSubjectsVersionTwo()" *ngIf="showAddSubject">

                                <div class="m-portlet__body">
                                  <h3><u>Subjects for Exam: [{{activeResultIndex + 1}}]</u></h3>
                                  <div class="form-group m-form__group row">

                                    <div class="col-4">
                                      <label class="col-form-label">Subject</label>
                                      <!--<input class="form-control m-input&#45;&#45;solid" type="text" formControlName="subj">-->
                                      <select class="form-control m-input--solid m-input" formControlName="subj"
                                              #olevel_subj
                                              (change)="checkOlevelChoice(olevel_subj.value)">
                                        <option value="" disabled>
                                          Choose Subject
                                        </option>
                                        <ng-container *ngFor="let subject of allSubjects">
                                          <!--*ngIf="!subject?.name?.toLowerCase()?.includes('english')"-->
                                          <option  value="{{subject.id}}">
                                            {{subject.name}}
                                          </option>
                                        </ng-container>

                                      </select>
                                    </div>
                                    <div class="col-4">
                                      <label class="col-form-label">Grade</label>
                                      <!--<input class="form-control m-input&#45;&#45;solid" type="text" formControlName="subj_grade">-->
                                      <select class="form-control m-input--solid m-input" formControlName="subj_grade">
                                        <option value="" disabled>Select Grade</option>
                                        <option value="A1">A1</option>
                                        <option value="B2">B2</option>
                                        <option value="B3">B3</option>
                                        <option value="C4">C4</option>
                                        <option value="C5">C5</option>
                                        <option value="C6">C6</option>
                                        <option value="D7">D7</option>
                                        <option value="E8">E8</option>
                                        <option value="F9">F9</option>
                                        <option value="Awaiting Result">Awaiting Result</option>
                                      </select>
                                    </div>
                                    <div class="col-3">
                                      <div class="set-btn">
                                        <button class="btn btn-warning btn-md text-light" type="submit"
                                                [disabled]="olevelSubjectsVersionTwo.invalid">Enter Subject
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </form>

                            </div>


                            <div class="col-md-12 result-info mt-2">
                              <div class="row">
                                <div class="col-6" *ngFor="let resultObj of holdAllVersionTwoResults; let i=index">
                                  <div class="{{setCardClass(i)}}">
                                    <div class="row mt-2 pb-2">

                                      <div class="col-6">
                                        <button class="btn btn-info btn-sm pull-left" (click)="addSubjectToOlevelExam(i)">Select exam: {{i+1}} to edit</button>

                                      </div>

                                      <div class="col-6">
                                        <button class="btn btn-danger btn-sm pull-right" (click)="removeOlevelExam(i)"> Remove exam: {{i+1}} <i class="fa fa-times fa-2x"></i></button>

                                      </div>
                                    </div>

                                    <h4 class="text-center mb-2">Exam: {{i+1}}</h4>
                                    <table class="table table-sm table-bordered">
                                      <thead>
                                      <tr>
                                        <th><b>Exam Name</b></th>
                                        <th><b>Exam Year</b></th>
                                        <th><b>Exam Number</b></th>
                                      </tr>

                                      </thead>
                                      <tbody>
                                      <tr>
                                        <td>{{resultObj?.result?.exam_name}}</td>
                                        <td>{{resultObj?.result?.exam_year}}</td>
                                        <td>{{resultObj?.result?.exam_number}}</td>
                                      </tr>

                                      </tbody>
                                    </table>
                                    <hr>
                                    <h4 class="text-center mb-2">Subjects</h4>
                                    <table class="table table-sm table-bordered">
                                      <thead>
                                      <tr>
                                        <th>#</th>
                                        <th>Name of Subject</th>
                                        <th>Grade</th>
                                        <th>Action</th>
                                      </tr>


                                      </thead>
                                      <tbody>
                                      <tr *ngFor="let subject of resultObj?.subjects; let j = index">
                                        <td>{{j+1}}</td>
                                        <td>
                                          {{getSubjectNameById(subject?.subj)?.name}}
                                        </td>
                                        <td>{{subject?.subj_grade}}</td>
                                        <td>
                                          <button class="btn btn-sm btn-danger" title="Remove {{subject?.subj}}"
                                                  (click)="removeSubjectVersionTwo(i,j)"><i class="fa fa-times"></i>
                                          </button>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td class="text-center" colspan="4" *ngIf="resultObj?.subjects?.length==0"><b>Add
                                          your Subjects and grades</b></td>
                                      </tr>

                                      </tbody>
                                    </table>
                                  </div>

                                </div>

                              </div>

                              <div *ngIf="holdAllVersionTwoResults.length == 0" class="text-center my-4"><b>Add your
                                Results</b></div>

                            </div>
                          </div>
                        </div>
                        <div class="card-footer">

                          <!--[disabled]="loading || applicantFormTabTwo.invalid"-->


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="m-accordion__item" *ngIf="appSettings?.settings?.jamb_details_required">
                  <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_2_head"
                       data-toggle="collapse" href="#m_accordion_1_item_2_body" aria-expanded="false">
													<span class="m-accordion__item-icon">
														<i class="fa  fa-folder"></i>
													</span>
                    <span class="m-accordion__item-title">
														Jamb Result
													</span>
                    <span class="m-accordion__item-mode"></span>
                  </div>
                  <div class="m-accordion__item-body collapse" id="m_accordion_1_item_2_body" role="tabpanel"
                       aria-labelledby="m_accordion_1_item_2_head" data-parent="#m_accordion_1" style="">
                    <div class="m-accordion__item-content">
                      <div class="form-group m-form__group row" *ngIf="!show_other_subjects">

                        <div class="col-4">
                          <label class="col-form-label">English Language</label>
                          <input type="text" class="form-control" placeholder="English Language" disabled>
                        </div>
                        <div class="col-4">
                          <label class="col-form-label">Score</label>
                          <input type="number" class="form-control" #jamb_english>
                        </div>

                        <div class="col-3">
                          <div class="set-btn">
                            <button class="btn btn-warning btn-sm" (click)="saveEnglishScore(jamb_english.value)">Enter
                              Score
                            </button>

                          </div>
                        </div>

                      </div>

                      <form class="form-control mt-4" [formGroup]="jambResultVersionTwo"
                            (ngSubmit)="addJambResultVersionTwo()" *ngIf="show_other_subjects">

                        <div class="m-portlet__body">
                          <h3><u>Enter Other Results</u></h3>
                          <div class="form-group m-form__group row">

                            <div class="col-4">
                              <label class="col-form-label">Subject</label>
                              <!--<input class="form-control m-input&#45;&#45;solid" type="text" formControlName="subj">-->
                              <!---->
                              <select class="form-control m-input--solid m-input" formControlName="subj" #jamb_subj
                                      (change)="checkOlevelChoice(jamb_subj.value,false)">
                                <option value="" disabled>
                                  Choose Subject
                                </option>
                                <ng-container *ngFor="let subject of allSubjects">
                                  <option  value="{{subject.id}}" *ngIf="!subject?.name?.toLowerCase()?.includes('english')">
                                    {{subject.name}}
                                  </option>
                                </ng-container>
                                <!--<option *ngFor="let subject of allSubjects"-->
                                        <!--value="{{subject.id}}">-->
                                  <!--{{subject.name}}-->
                                <!--</option>-->
                              </select>
                            </div>
                            <div class="col-4">
                              <label class="col-form-label">Score</label>
                              <input class="form-control m-input--solid" type="number" formControlName="subj_score">
                            </div>
                            <div class="col-3">
                              <div class="set-btn">
                                <button class="btn btn-warning btn-md text-light" type="submit"
                                        [disabled]="jambResultVersionTwo.invalid || disableJambResultInput">Enter
                                  Subject
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>

                      </form>

                      <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Subject</th>
                          <th>Score</th>
                          <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr *ngIf="englishScore">
                          <td>1</td>
                          <td>English</td>
                          <td>{{englishScore}}</td>
                          <td>
                            <button class="btn btn-sm btn-danger" (click)="removeEnglishScore()"><i class="fa fa-times"></i></button>
                          </td>
                        </tr>
                        <tr *ngIf="!englishScore">
                          <td colspan="4" class="text-center"><b>No Jamb Result Added</b></td>
                        </tr>
                        <tr *ngFor="let score of scores; let i=index">
                          <td>{{i+2}}</td>
                          <td>
                            {{getSubjectNameById(score?.name)?.name}}
                          </td>
                          <td>{{score?.res_score}}</td>
                          <td>
                            <button class="btn btn-sm btn-danger"><i class="fa fa-times" (click)="removeJambSubject(i, score?.res_score)"></i></button>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2"><b>Total UME Score</b></td>
                          <td colspan="2">
                            <span *ngIf="activeApplicant?.total_ume_score">
                            <b><i>{{activeApplicant?.total_ume_score||'Not Captured'}}</i></b>
                            <i>(The sum of scores must be equal to {{activeApplicant?.total_ume_score||null}})</i>
                            </span>
                            {{ (!activeApplicant?.total_ume_score && totalUTMEScore) ? totalUTMEScore : '' }}
                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
                <!--end::Item-->

                <div class="m-accordion__item">
                  <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_3_head"
                       data-toggle="collapse" href="#m_accordion_1_item_3_body" aria-expanded="    false">
                <span class="m-accordion__item-icon">
                <i class="fa  fa-list"></i>
                </span>
                    <span class="m-accordion__item-title">
              List Other Relevant Qualifications (Optional)
                </span>
                    <span class="m-accordion__item-mode"></span>
                  </div>
                  <div class="m-accordion__item-body collapse" id="m_accordion_1_item_3_body" role="tabpanel"
                       aria-labelledby="m_accordion_1_item_3_head" data-parent="#m_accordion_1">
                    <div class="m-accordion__item-content">
                      <form [formGroup]="otherQualificationsForm" (ngSubmit)="addQualification()" class="mb-4">
                        <div class="row">
                          <div class="col-6">
                            <label>Name of Institution</label>
                            <input type="text" class="form-control" formControlName="name">
                          </div>
                          <div class="col-6">
                            <label>Address</label>
                            <textarea class="form-control" formControlName="address_of_institution"></textarea>
                          </div>
                        </div>

                        <div>
                          <h6><u>Period of Attendance</u></h6>
                          <div class="row mt-3">
                            <div class="col-6">
                              <div class="row">
                                <div class="col-6">
                                  <label>From:</label>
                                  <input type="date" class="form-control" formControlName="from">
                                </div>
                                <div class="col-6">
                                  <label>To:</label>
                                  <input type="date" class="form-control" formControlName="to">
                                </div>
                              </div>


                            </div>
                            <div class="col-6">
                              <label>Qualification Acquired</label>
                              <input type="text" class="form-control" formControlName="qualification">
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-6">
                            <label>Date Acquired</label>
                            <input type="date" class="form-control" formControlName="qualification_date">
                          </div>
                          <div class="col-6">
                            <label>Grade</label>
                            <select class="form-control m-input--solid m-input" formControlName="qualification_grade">
                              <option value="" disabled>Select Grade</option>
                              <option value="A">A</option>
                              <option value="B">B</option>
                              <option value="C">C</option>
                              <option value="D">D</option>
                              <option value="E">E</option>
                              <option value="F">F</option>
                              <option value="1st Class">1st Class</option>
                              <option value="2nd Class Upper">2nd Class Upper</option>
                              <option value="2nd Class Lower">2nd Class LOwer</option>
                              <option value="Upper Credit">Upper Credit</option>
                              <option value="Lower Credit">Lower Credit</option>
                            </select>
                          </div>
                        </div>

                        <div class="mt-3">
                          <div class="pull-right">
                            <button class="btn btn-warning btn-md text-light" type="submit"
                                    [disabled]="otherQualificationsForm.invalid">Enter Qualification
                            </button>
                          </div>
                        </div>

                      </form>

                      <div class="mt-5">
                        <table class="table table-sm table-bordered">
                          <thead>
                          <tr>
                            <th>#</th>
                            <th>Institution Name</th>
                            <th>Address</th>
                            <th>Attendance Period</th>
                            <th>Qualification</th>
                            <th>Qualification Date</th>
                            <th>Grade</th>
                            <th>Action</th>
                          </tr>


                          </thead>
                          <tbody>
                          <tr *ngFor="let q of holdAllOtherQualifications; let j = index">
                            <td>{{j+1}}</td>
                            <td>
                              {{q?.name}}
                            </td>
                            <td>{{q?.address_of_institution}}</td>
                            <td>From: {{q?.from | date}} To: {{q?.to | date}}</td>
                            <td>{{q?.qualification}}</td>
                            <td>
                              {{q?.qualification_date | date}}
                            </td>
                            <td>
                              {{q?.qualification_grade}}
                            </td>
                            <td>

                              <button class="btn btn-sm btn-danger" title="Remove {{q?.qualification}}"
                                      (click)="removeQualification(j)"><i class="fa fa-times"></i>
                              </button>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center" colspan="8" *ngIf="holdAllOtherQualifications.length==0"><b>No
                              Qualification Available</b></td>
                          </tr>

                          </tbody>
                        </table>
                      </div>


                    </div>
                  </div>
                </div>

                <div class="row"
                     *ngIf="holdAllVersionTwoResults?.length>0 && holdAllVersionTwoResults[0]['subjects']?.length>0">
                  <div class="col-6">
                    <button (click)="saveApplicationForm('save')"
                            class="btn btn-accent m-btn m-btn--air m-btn--custom"
                            [disabled]="olevelResultsArray.invalid || previewloading">
                      <i *ngIf="!previewloading" class="la la-save"></i> Save & Continue Later
                      <i class="m-loader m-loader--light" *ngIf="previewloading"></i>
                    </button>
                  </div>
                  <div class="col-6">

                    <button (click)="triggerModalOrOverlay('open','verifySubmission')"
                            class="btn btn-success m-btn m-btn--air m-btn--custom">
                      {{updateMessage}} Application&nbsp;&nbsp;
                      <i class="m-loader m-loader--brand" *ngIf="submitLoading"></i>
                    </button>
                  </div>
                </div>
              </div>


            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--[disabled]="olevelSubjectsArray.invalid || olevelResultsArray.invalid || loading"-->

<div *ngIf="applicationFormPreview || (activeApplicant?.applicant_profile?.application_form_status.toString() === '1'
      && activeApplicant?.applicant_profile?.submit.toString()==='1') ">

  <div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered" id="applicant_form_preview" *ngIf="!ack_card">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">

          <h3 class="m-portlet__head-text text-center">
            <b>Application {{viewMessage}}</b>&nbsp;&nbsp;&nbsp;<a id="acklink" (click)="ack_card = !ack_card" ><u>Acknowledgement Card</u></a>
          </h3>
          <!--*ngIf application_form_status !=='1'-->


        </div>

        <div class="center">
          <button class="btn btn-accent m-btn--pill m-btn--air float-right mr-3 ml-auto print_btn" [disabled]="printing"
                  (click)="almightyPrint('applicant_form_preview', activeApplicant?.name + '\'s Application Preview',false)" id="pageButton">
            <i class="la la-spin la-spinner" *ngIf="printing"></i>
            <i class="la la-print" *ngIf="!printing"></i>
            Print
          </button>
        </div>

      </div>
      <div class="row pull-right" *ngIf="activeApplicant?.applicant_profile?.submit.toString() !== '1'">
        <div class="col-6" style="margin-top: 10px">
          <button (click)="saveApplicationFormPreview()"
                  class="btn btn-accent m-btn m-btn--air m-btn--custom pull-right">
            <i class="la la-save"></i> {{updateMessage}} Application
            <div class="m-loader m-loader-brand" *ngIf="previewloading"></div>
          </button>
        </div>
        <div class="col-6" style="margin-top: 10px">
          <button class="btn btn-accent btn-warning m-btn m-btn--air m-btn--custom pull-right"
                  (click)="editApplication()">
            <i class="la la-edit"></i> Edit Application
          </button>
        </div>
      </div>

    </div>
    <div class="m-portlet__body">
      <!--<div class="mb-3">
        <div>
          <img class="applicant-img-prev img-thumbnail ack_pass" id="profile_photo_other"
               src="{{authenticatedUser['profile_image'] || 'assets/images/users/blank_male.jpg'}}" >
        </div>
      </div>-->
      <!-- IRUOBE INPUT START -->
      <div class="row mx-1 my-1">
        <div class="col-12 headered head" style="border-radius: 10px 10px 0 0">
          <h3 class="text-center text-uppercase head1">
            {{(appSettings?.name | uppercase)}}
          </h3>
          <p class="text-center head2">{{(appSettings?.settings?.subtitle | uppercase)}}</p>
        </div>
      </div>
      <!-- IRUOBE INPUT END -->

      <!-- IRUOBE INPUT START -->
      <div class="row mt-1 mb-1" style="margin-bottom: -10px">
        <div class="col-5">
          <div class="pull-left">
            <div class="mb-2">
              <div>
                <img [src]="appSettings?.settings?.logo || 'assets/images/logos/Fav.png'" class="applicant-img-prev"
                     alt="University Logo">
                <!--<img src="assets/images/logos/Fav.png" *ngIf="!appSettings?.settings.logo" style="max-width: 100%; height: auto; margin-top: 100px">-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <h2 class="detail" style="align-content: center;
                             font-size: 31px;
                             margin-top: 35px;
                             margin-left: 10px;">
            <span style="border-bottom: 1px dotted #999;
                         margin-left: -29%;">
              Application Form Print-Out
            </span>
          </h2>
        </div>
        <div class="col-2">
          <div class="pull-right" style="align-content: right">
            <div class="mb-2">
              <div>
                <img class="applicant-img-prev img-thumbnail ack_pass" id="profile_photo_other"
                     src="{{authenticatedUser['profile_image'] || 'assets/images/users/blank_male.jpg'}}" >
              </div>
            </div>
          </div>

        </div>
      </div>
      <div>
        <div class="tab-content">
          <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
            <div class="row mx-1">
              <div class="col-12 card ack_body">
                <h4 class="text-center mt-3">
                  <u class="my-4 heading">
                    Personal Information
                  </u>
                </h4>
                <div class="row" style="padding-top: 10px">
                  <div class="col-5">
                    <b>Full Name:</b>
                  </div>
                  <div class="col-7">
                    {{activeApplicant?.name || 'None Captured'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>Telephone:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.applicant_landtel || 'None Provided'}}
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-5">
                    <b>Home Address:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.applicant_homeaddress || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>Marital Status:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.marital_status || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>Birth Date:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.birthdate | date}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>Place of Birth:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.place_of_birth || 'None Provided'}}
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-5">
                    <b>Home Town:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.home_town || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row" style="padding-top: 10px">
                  <div class="col-5">
                   <b>Religion:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.religion|| 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>Denomination:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.denomination || 'None Provided'}}
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-5">
                    <b>Preferred Screening Venue:</b>
                  </div>
                  <div class="col-7">
                    {{selectWhereId(allScreeningCentres,'id', applicationFormView?.preferred_screening_centre)?.name||
                    'None Provided'}}
                  </div>
                </div>
                <hr>

                <!--appSettings?.jamb_details_required-->
                <div *ngIf="activeApplicant?.total_ume_score">
                  <h4 class="text-center my-4">
                    <u class="heading">
                      Jamb Result
                    </u>
                  </h4>
                  <div class="divider1"> </div>
                  <div class="row">
                    <div class="col-5">
                      <b>English:</b>
                    </div>
                    <div class="col-7">
                      {{applicationFormView?.eng_score || activeApplicant?.eng_score || 'None Provided'}}
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-5">
                     <b>
                       {{getSubjectNameById(applicationFormView?.subj2)?.name ||
                       getSubjectNameById(activeApplicant?.subj2)?.name }}:
                     </b>
                    </div>
                    <div class="col-7">
                      {{applicationFormView?.subj2_score || activeApplicant?.subj2_score}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-5">
                      <b>
                        {{getSubjectNameById(applicationFormView?.subj3)?.name||getSubjectNameById(activeApplicant?.subj3)?.name}}:
                      </b>
                    </div>
                    <div class="col-7">
                      {{applicationFormView?.subj3_score || activeApplicant?.subj3_score}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-5">
                      <b>
                        {{getSubjectNameById(applicationFormView?.subj4)?.name ||
                      getSubjectNameById(activeApplicant?.subj4)?.name}}:
                      </b>
                    </div>
                    <div class="col-7">
                      {{applicationFormView?.subj4_score || activeApplicant?.subj4_score}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-5">
                      <b>Total UME score:</b>
                    </div>
                    <div class="col-7">
                      {{activeApplicant?.total_ume_score}}
                    </div>
                  </div>

                </div>
                <hr *ngIf="appSettings?.settings?.jamb_details_required">


                <div *ngIf="holdAllOtherQualifications?.length>0">
                  <h4 class="text-center"><u>Other Qualifications</u></h4>

                  <div class="mt-5">
                    <div class="table table-responsive">
                      <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th><b>Institution Name</b></th>
                          <th><b>Address</b></th>
                          <th><b>Attendance Period</b></th>
                          <th><b>Qualification</b></th>
                          <th><b>Qualification Date</b></th>
                          <th><b>Grade</b></th>
                          <!--<th >Action</th>-->
                        </tr>


                        </thead>
                        <tbody>
                        <tr *ngFor="let q of holdAllOtherQualifications; let j = index">
                          <td>{{j+1}}</td>
                          <td>
                            {{q?.name}}
                          </td>
                          <td>{{q?.address_of_institution}}</td>
                          <td>From: {{q?.from | date}} To: {{q?.to | date}}</td>
                          <td>{{q?.qualification }}</td>
                          <td>
                            {{q?.qualification_date | date}}
                          </td>
                          <td>
                            {{q?.qualification_grade}}
                          </td>
                          <!--<td>-->

                          <!--<button class="btn btn-sm btn-danger" title="Remove {{q?.qualification}}"-->
                          <!--(click)="removeQualification(j)"><i class="fa fa-times"></i>-->
                          <!--</button>-->
                          <!--</td>-->
                        </tr>

                        <tr>
                          <td class="text-center" colspan="8" *ngIf="holdAllOtherQualifications.length==0"><b>No
                            Qualification Available</b></td>
                        </tr>

                        </tbody>
                      </table>

                    </div>
                  </div>

                </div>
                <hr *ngIf="holdAllOtherQualifications?.length>0">


              </div>

              <div class="col-12 card ack_body mt-3">
                <h4 class="text-center my-3">
                  <u class="my-4 heading">
                    Parent/Guardian Information
                  </u>
                </h4>
                <div class="divider1"> </div>
                <div class="row">
                  <div class="col-5">
                   <b>Title:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.parents_title || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>Other Title:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.parent_other_title || 'None Provided'}}
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-5">
                    <b>Full Name:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.parent_name || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>Relationship:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.parent_relationship || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>Phone:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.parent_tel || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>Email:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.parent_email || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>Address:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.parent_address || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="divider"> </div>
                <h4 class="text-center my-3">
                  <u class="my-4 heading">
                    Desired Course of Study
                  </u>
                </h4>
                <div class="divider1"> </div>
                <div class="row">
                  <div class="col-5">
                    <b>First Choice Course:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.course_of_study_choice[0]?.first_choice?.name || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>Second Choice Course:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.course_of_study_choice[0]?.second_choice?.name || 'None Provided'}}
                  </div>
                </div>

                <div class="divider"> </div>
                <h4 class="text-center my-3">
                  <u class="my-4 heading">
                    O'Level Results
                  </u>
                </h4>
                <div class="divider1"> </div>
                <div class="row">
                  <div *ngFor="let olevelresult of applicationFormView?.olevel; let i=index"
                       class="col-6 justify-content-center">
                  <h5 class="text-center mt-2 mb-1"
                      *ngIf="applicationFormView?.olevel?.length>1">
                      <b class="olevel-exam"> Exam: {{i+1}}
                      </b>
                  </h5>
                  <div class="row mt-4 exam-row">
                    <div class="col-5">
                      <b>Exam Name:</b>
                    </div>
                    <div class="col-7">
                      {{olevelresult?.result?.exam_name || 'None Provided'}}
                    </div>
                  </div>
                  <div class="row mt-4 exam-row">
                    <div class="col-5">
                      <b>Exam Year:</b>
                    </div>
                    <div class="col-7">
                      {{olevelresult?.result?.exam_year || 'None Provided'}}
                    </div>
                  </div>
                  <div class="row my-4 exam-row">
                    <div class="col-5">
                      <b>Exam Number:</b>
                    </div>
                    <div class="col-7">
                      {{olevelresult?.result?.exam_number || 'None Provided'}}
                    </div>
                  </div>
                  <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
                    <thead class="m-datatable__head">
                    <tr>
                      <th class="subject-name">
                        <b>Subject Name</b>
                      </th>
                      <th class="subject-grade">
                        <b>Subject Grade</b>
                      </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let olevelsubject of olevelresult?.subjects">
                      <td class="course-name">
                        <!--{{olevelsubjects?.subj}}-->
                       <b>{{getSubjectNameById(olevelsubject?.subj)?.name || olevelsubject?.subj?.name }}</b>
                      </td>
                      <td class="course-grade">
                        {{olevelsubject?.subj_grade}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                </div>

              </div>

            </div>


          </div>

        </div>
      </div>

    </div>
  </div>


  <div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered" id="acknowldgement_card" *ngIf="ack_card">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text text-center">
            <b>ACKNOWLEDGEMENT CARD</b> &nbsp;&nbsp;&nbsp;<a id="acklink" (click)="ack_card = !ack_card" ><u>Application Preview</u></a>
          </h3>

          <!--*ngIf application_form_status !=='1'-->

        </div>

        <div class="center">
          <button class="btn btn-accent m-btn--pill m-btn--air float-right mr-3 ml-auto print_btn" [disabled]="printing"
                  (click)="almightyPrint('acknowldgement_card', activeApplicant?.name + '\'s Application Preview')" id="pageButton">
            <i class="la la-spin la-spinner" *ngIf="printing"></i>
            <i class="la la-print" *ngIf="!printing"></i>
            Print Card
          </button>
        </div>

      </div>


    </div>
    <div class="m-portlet__body">
      <div class="row">
        <div class="col-6">
          <div class="">
            <div class="mb-3">
              <div>
                <img [src]="appSettings?.settings?.logo || 'assets/images/logos/Fav.png'" class="applicant-img-prev"
                     alt="University Logo">
                <!--<img src="assets/images/logos/Fav.png" *ngIf="!appSettings?.settings.logo" style="max-width: 100%; height: auto; margin-top: 100px">-->
              </div>
            </div>
          </div>

        </div>
        <div class="col-6">
          <div class="pull-right">
            <div class="mb-3">
              <div>
                <img class="applicant-img-prev img-thumbnail ack_pass_photo" id="profile_photo_other"
                     src="{{authenticatedUser['profile_image'] || 'assets/images/users/blank_male.jpg'}}">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div>
        <div class="tab-content">
          <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
            <div class="row mx-1 mt-3 mb-3">
              <div class="col-12 card ack_body">
                <h3 class="text-center">
                  <!--{{activeApplicant?.application?.mode_of_entry|uppercase}}-->
                  <b>{{activeApplicant?.application?.name}} Applicant </b>
                  <!--APPLICANT-->
                </h3>
                <hr>
                <h3 class="text-center"><b>SESSION:</b>{{activeApplicant?.application?.programme?.current_session?.session_name}}

                  <!--/-->
                  <!--{{activeApplicant?.application?.programme?.current_session?.session_name+2}}-->
                </h3>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>NAME OF APPLICANT:</b>
                  </div>
                  <div class="col-7">
                    <b>{{activeApplicant?.name || 'None Captured'}}</b>
                  </div>
                </div>
                <hr>
                <div class="row">

                  <div class="col-6">
                    <div class="row">
                      <div class="col-5">
                        <b>PHONE NO:</b>
                      </div>
                      <div class="col-7">
                        {{activeApplicant?.phone || 'None Provided'}}
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-5">
                        <b>EMAIL:</b>
                      </div>
                      <div class="col-7">
                        {{activeApplicant?.email || 'None Provided'}}
                      </div>
                    </div>
                  </div>

                </div>
                <hr>

                <div class="row">
                  <div class="col-5">
                    <b>FORM NO:</b>
                  </div>
                  <div class="col-7">
                    {{activeApplicant?.applicant_profile?.form_no || activeApplicant?.applicant_profile?.reg_no || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>FIRST CHOICE COURSE:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.course_of_study_choice[0]?.first_choice?.name || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>SECOND CHOICE COURSE:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.course_of_study_choice[0]?.second_choice?.name || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>MODE OF ADMISSION ENTRY:</b>
                  </div>
                  <div class="col-7">
                    {{activeApplicant?.application?.mode_of_entry || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>PREFERRED SCREENING VENUE:</b>
                  </div>
                  <div class="col-7">
                    {{selectWhereId(allScreeningCentres,'id', applicationFormView?.preferred_screening_centre)?.name||
                    'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row" style="padding-top: 10px">
                  <div class="col-5">
                    <b>SCREENING DATE:</b>
                  </div>
                  <div class="col-7">
                    Next Screening Date will be announced later.
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>SEX:</b>
                  </div>
                  <div class="col-7">
                    {{activeApplicant?.gender.toUpperCase() || 'None Provided'}}
                  </div>
                </div>
                <hr>


                <div class="row">
                  <div class="col-5">
                    <b>RELIGION/DENOMINATION:</b>
                  </div>
                  <div class="col-7">
                    {{applicationFormView?.religion || 'None Provided'}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>SIGNATURE OF APPLICANT:</b>
                  </div>
                  <div class="col-7">

                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-5">
                    <b>TIME:</b>
                  </div>
                  <div class="col-7">
                    <!--{{applicationFormView?.parent_name || 'None Provided'}}-->
                    <!--Not Captured--> 00:00:000
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-5">
                    <b>NOTE:</b>
                  </div>
                  <div class="col-7">
                    <!--{{applicationFormView?.parent_name || 'None Provided'}}-->
                    <!--Not Captured-->
                    <b>
                      Please, come to the Screening Centre with your Acknowledgement Card and the Profile print-out as candidates without these print-outs will not be allowed to participate in the University Screening Exercise.

                    </b>
                  </div>
                </div>
              </div>

            </div>


          </div>

        </div>
      </div>

    </div>
  </div>
</div>
