<div id="hostelAllocation" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reservation Details</h4>
      </div>
      <div class="modal-body">
        <div class="m-portlet__body" *ngIf="hostelView">
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <table class="table table-sm table-striped">
              <tr>
                <td><b>Hostel Name</b></td>
                <td>{{hostelView?.bed_space?.room?.hostel?.hostel_name}}</td>
              </tr>
              <tr>
                <td><b>Room Name</b></td>
                <td>{{hostelView?.bed_space?.room?.room_name}}</td>
              </tr>
              <tr>
                <td><b>Bed Space</b></td>
                <td>{{hostelView?.bed_space?.label}}</td>
              </tr>
              <tr>
                <td><b>Hostel Gender</b></td>
                <td>{{hostelView?.bed_space?.room?.hostel?.hostel_gender | titlecase}}</td>
              </tr>
              <tr>
                <td><b>Allocation Amount</b></td>
                <td>{{hostelView?.allocation_amount | currency : '&#8358;'}}</td>
              </tr>
              <tr>
                <td><b>Payment Method</b></td>
                <td>{{hostelView?.payment_method | uppercase}}</td>
              </tr>
              <tr>
                <td><b>Transaction ID</b></td>
                <td>{{hostelView?.transaction_id}}</td>
              </tr>
              <tr>
                <td><b>Status</b></td>
                <td>{{hostelView?.status_text}}</td>
              </tr>
            </table>
          </div>
          <!--<div class="panel-group">-->
            <!--<div class="panel panel-default">-->
              <!--<div class="panel-heading">-->
                <!--<h5 class="panel-title">-->
                  <!--<a data-toggle="collapse" href="#collapse1">Student Details</a>-->
                <!--</h5>-->
              <!--</div>-->
              <!--<div id="collapse1" class="panel-collapse collapse">-->
                <!--<div class="form-group m-form__group row" style="padding-bottom: 1px;">-->
                  <!--<label class="col-4 col-form-label">-->
                    <!--Student Name-->
                  <!--</label>-->
                  <!--<label class="col-8 col-form-label">-->
                    <!--{{hostelView?.student?.first_name}} {{hostelView?.student?.last_name}}-->
                  <!--</label>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          <a id="reportName" routerLink="staff/reports/transaction"> Reports / Hostel </a>{{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <form [formGroup]="hostelFilterForm">
      <div class="mt-3 mr-3 float-right">
        <button type="button" class="btn btn-accent m-btn--pill m-btn--air btn-sm" (click)="getReportByHostel()">Submit</button>
      </div>
    <div class="mt-3 mr-3 float-right">
      <select class="form-control" formControlName="gender">
        <option value="" selected>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div class="mt-3 mr-3 float-right">
      <i class="m-loader m-loader--brand" *ngIf="feedBack.hostel_loader"></i>
      <select class="form-control" formControlName="hostel_id">
        <option value="" selected>Select Hostel</option>
        <option [value]="hostel?.id" *ngFor="let hostel of feedBack.allHostel">{{ hostel?.hostel_name }}</option>
      </select>
    </div>
    <div class="mt-3 mr-3 float-right">
      <select class="form-control" formControlName="type">
        <option value="allocated">Allocated</option>
        <option value="bookings">Bookings</option>
      </select>
    </div>
    </form>
  </div>
  <div class="m-portlet__body">
    <div *ngIf="hostelReport?.data.length > 0" class="row my-md-2">
      <div class="col-6">
        <select class="form-control form-control-sm mb-1 col-3" (change)="changePerPage($event.target.value)">
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>
      <div class="col-6">
        <input type="text" (keyup)="search_model.next($event.target.value)" class="form-control form-control-sm col-6 float-right" placeholder="Search">
      </div>
    </div>
    <div class="table-responsive">
      <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
      <table class="table table-hover table-striped table-sm m-table--head-bg-brand relative">
        <div *ngIf="feedBack.loader" class="table-loader">
          <div class="content">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
          </div>
        </div>
        <thead>
        <tr>
          <th>#</th>
          <th>Matric Number</th>
          <th>Transaction Number</th>
          <th>Hostel</th>
          <th>Room</th>
          <th>Bedspace</th>
          <th>Date Paid</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of hostelReport?.data; let i = index">
          <td>{{i+1}}</td>
          <td>{{data?.student?.matric_no}}</td>
          <td>{{data?.transaction_id}}</td>
          <td>{{data?.bed_space?.room?.hostel?.hostel_name}}</td>
          <td>{{data?.bed_space?.room?.room_name}}</td>
          <td>{{data?.bed_space?.label}}</td>
          <td>{{data?.updated_at | date}}</td>
          <td>
            <button class="btn btn-accent-sm" (click)="viewHostel(data)">
              <i class="la la-eye"></i>&nbsp;View
            </button>
            <button class="btn btn-danger-sm" (click)="deleteAllocation(data)">
              <i class="la la-remove"></i>&nbsp;Delete
              <i class="m-loader m-loader--brand" *ngIf="data?.deleting"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="feedBack.loader || hostelReport?.data?.length === 0">
          <td class="text-center" colspan="8" *ngIf="!feedBack.loader && hostelReport?.data?.length === 0">
            No Content Found
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="hostelReport?.data.length > 0" class="row mx-md-1">
        <div class="col-6">
          <div class="float-left">
            <span class="align-middle">Showing {{ hostelReport?.from }} to {{ hostelReport?.to }} of {{ hostelReport?.total }} entries</span>
          </div>
        </div>
        <div class="col-6">
          <div class="float-right">
            <button class="btn btn-sm btn-outline-brand" (click)="navigate('first')">First</button>
            <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only pr-1" (click)="navigate('prev')" [disabled]="hostelReport?.prev_page_url === null">
              <i class="la la-chevron-left"></i>
            </button>
            <div class="btn-group">
              <button class="btn btn-sm btn-outline-brand" [ngClass]=" (page === hostelReport?.current_page) ? 'active' : ''" *ngFor="let page of paginator.pages" (click)="navigate(page)">{{ page }}</button>
            </div>
            <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only" (click)="navigate('next')" [disabled]="hostelReport?.next_page_url === null">
              <i class="la la-chevron-right"></i>
            </button>
            <button class="btn btn-sm btn-outline-brand" (click)="navigate('last')">Last</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 my-3 offset-md-6">
      <button class="btn btn-accent m-btn--air m-btn--pill float-right mb-2"
              [disabled]="feedBack?.excelling"
              *ngIf="hostelReport?.data?.length > 0"
              (click)="exportAsXLSX()">
        <i class="fa fa-file-excel-o"></i> Generate Excel
        <i class="m-loader m-loader--light" *ngIf="feedBack?.excelling"></i>
      </button>
    </div>
  </div>
</div>

