<!--Start:::Pay Transfer Fee-->
<div id="pay_transfer" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Pay Transfer Fee</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="payTransferFee" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <!--<span class="styleStar">*</span>-->
                Amount
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="amount" type="number" disabled value="{{transfer_amount}}">
                <!--<span class="m-form__help m&#45;&#45;font-danger"-->
                      <!--*ngIf="payTransferFee.get('amount').invalid && payTransferFee.get('amount').touched">-->
                      <!--Amount is Required-->
                <!--</span>-->
              </div>
            </div><!--Amount-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Payment Method
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName="payment_method">
                  <!--<option></option>-->
                  <option value="Custom"> Custom </option>
                  <option value="PayStack"> PayStack </option>
                  <option value="PayChoice"> PayChoice </option>
                </select>
                <span class="m-form__help m--font-danger"
                      *ngIf="payTransferFee.get('payment_method').invalid && payTransferFee.get('payment_method').touched">
                      Payment Method is Required
                </span>
              </div>
            </div><!--Payment Method-->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="payTransferFees()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="payTransferFee.invalid">
          Submit &nbsp;&nbsp;
          <i class="m-loader m-loader--light" *ngIf="loading.pay"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">
          Close
        </button>
      </div>
    </div>

  </div>
</div>
<!--End:::Pay Transfer Fee-->

<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
  <!-- BEGIN: Left Aside -->
  <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
    <i class="la la-close"></i>
  </button>
  <div id="m_aside_left" class="m-grid__item m-aside-left ">
    <!-- BEGIN: Aside Menu -->
    <div
            id="m_ver_menu"
            class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
            data-menu-vertical="true"
            data-menu-scrollable="false" data-menu-dropdown-timeout="500">

      <app-aside-nav></app-aside-nav>
    </div>
    <!-- END: Aside Menu -->
  </div>
  <!-- END: Left Aside -->
  <a id="paystack" style="display: none"></a>


  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- END: Subheader -->
    <div class="m-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Transfer Request
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--<div class="m&#45;&#45;margin-30">-->
              <!--<button class="btn btn-accent m-btn&#45;&#45;air m-btn&#45;&#45;pill" (click)="getAllExeats()">Previous Exeat Requests</button>-->
              <!--</div>-->
              <div class="m-accordion m-accordion--bordered">
                <div class="m-accordion__item">
                  <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_1_head"
                       data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded="false">
                        <span class="m-accordion__item-icon">
                          <i class="fa flaticon-file"></i>
                        </span>
                    <span class="m-accordion__item-title">
                                New Transfer Request
                        </span>
                    <span class="m-accordion__item-mode"></span>
                  </div>
                  <div class="m-accordion__item-body collapse" id="m_accordion_1_item_1_body" role="tabpanel"
                       aria-labelledby="m_accordion_1_item_1_head" data-parent="#m_accordion_1" style="">
                    <div class="m-accordion__item-content">
                      <form [formGroup]="transferForm" (ngSubmit)="requestTransfer()"
                            class="m-form m-form--label-align-right">
                        <div class="form-group m-form__group row">
                          <label class="col-lg-2 col-form-label">
                            Faculty &nbsp;<i *ngIf="loading.faculty" class="m-loader m-loader--brand"></i>
                          </label>
                          <div class="col-lg-6">
                            <select class="form-control m-input m-input--solid" (change)="getSingleDepartment($event.target.value)">
                              <option disabled></option>
                              <option *ngFor="let faculty of allFaculties" [value]="faculty?.id" >
                                {{faculty?.name}}</option>
                            </select>
                            <!--<span class="m-form__help">-->
                            <!--We'll never share your email with anyone else-->
                            <!--</span>-->
                          </div>
                        </div><!--Faculty-->
                        <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                          Department &nbsp;<i *ngIf="loading.department" class="m-loader m-loader--brand"></i>
                        </label>
                        <div class="col-lg-6">
                          <select class="form-control m-input m-input--solid" (change)="getCourseOfStudy($event.target.value)">
                            <option disabled></option>
                            <option *ngFor="let department of allDepartments" [value]="department?.id">
                              {{department?.name}}
                            </option>
                          </select>
                          <!--<span class="m-form__help">-->
                          <!--We'll never share your email with anyone else-->
                          <!--</span>-->
                        </div>
                      </div><!--Department-->
                        <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                          Course of Study &nbsp;<i *ngIf="loading.course" class="m-loader m-loader--brand"></i>
                        </label>
                        <div class="col-lg-6">
                          <select class="form-control m-input m-input--solid" formControlName="to_course_id">
                            <option disabled></option>
                            <option *ngFor="let course_of_study of allCourseOfStudy" [value]="course_of_study?.id" >
                              {{course_of_study?.name}}
                            </option>
                          </select>
                          <!--<span class="m-form__help">-->
                          <!--We'll never share your email with anyone else-->
                          <!--</span>-->
                        </div>
                      </div><!--Course of Study-->
                        <div class="form-group m-form__group row">
                          <label class="col-lg-2 col-form-label">
                            Level &nbsp;<i *ngIf="loading.level" class="m-loader m-loader--brand"></i>
                          </label>
                          <div class="col-lg-6">
                            <select class="form-control m-input m-input--solid" formControlName="to_level_id">
                              <option disabled></option>
                              <option *ngFor="let level of allLevels" [value]="level?.id"> {{level?.name}}</option>
                            </select>
                            <!--<span class="m-form__help">-->
                            <!--We'll never share your email with anyone else-->
                            <!--</span>-->
                          </div>
                        </div><!--Level-->
                        <div class="form-group m-form__group row">
                          <div class="col-8">
                            <button class="btn btn-accent m-btn m-btn--pill m-btn--air float-right" type="submit">
                              Submit
                              <i class="m-loader m-loader--right m-loader--light" *ngIf="loading.creating"></i>
                            </button>
                          </div>
                        </div><!--Button-->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="small-margin"></div><div class="small-margin"></div><div class="small-margin"></div><div class="small-margin"></div>
              <!--<div class="" *ngIf="transferRequest.length > 0">-->
                <table class="table table-hover table-striped table-sm m-table--head-bg-brand table-responsive-sm">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Course of Study</th>
                    <th>Level</th>
                    <th>Date Created</th>
                    <th>Status</th>
                    <th>Payment Status</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="text-center">
                    <td colspan="7" *ngIf="transferRequest.length == 0 && loading.listing">
                      Loading Transfer Requests &nbsp;&nbsp;<i class="m-loader m-loader--brand"></i>
                    </td>
                  </tr>
                  <tr *ngFor="let transfer of transferRequest; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{transfer?.to_course?.name}}</td>
                    <td>{{transfer?.to_level?.name}}</td>
                    <td>{{transfer?.created_at | date}}</td>
                    <td>{{transfer?.status_text}}</td>
                    <td *ngIf="transfer?.payment_status == 0"><span class="m--font-danger">Not Paid</span></td>
                    <td *ngIf="transfer?.payment_status == 1"><span class="m--font-success">Paid</span></td>
                    <td>
                      <button class="btn m-btn btn-accent btn-sm m-btn--icon-only m-btn--pill"
                              (click)="openTransferModal(transfer?.id)"
                              [disabled]="transfer?.payment_status == 1">
                        <!--<i class="la la-money"></i>-->
                        Pay
                      </button>
                      <!--<a (click)="openTransferModal(transfer?.id)" class="m-link m-link&#45;&#45;focus" *ngIf="transfer?.payment_status == 0">-->
                        <!--<i class="la la-money"></i>Pay-->
                      <!--</a>-->
                    </td>
                  </tr>
                  </tbody>
                </table>
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>