<div id="openInvite" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <div class="text-center" style="font-weight: bold" *ngIf="feedBack.applicantsArray.length > 0"> Total Applicants : &nbsp;&nbsp;{{feedBack?.applicantsArray.length}}</div>
        <div class="text-center" style="font-weight: bold" *ngIf="feedBack.applicantsArray.length === 0">Please,  Select Applicant(s)</div>

        <form [formGroup] = "createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="example-text-input" class="col-3 col-form-label">
                <span class="styleStar">*</span>Date
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="date" type="date" value="Artisanal kale" id="example-text-input">
                <div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('date').invalid && createForm.get('date').touched">
                  <strong>
                    Date is Required
                  </strong>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="example-text-input" class="col-3 col-form-label">
                <span class="styleStar">*</span>Time
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="time" type="time"  id="example-text-input">
                <div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('time').invalid && createForm.get('time').touched">
                  <strong>
                    Time is Required
                  </strong>
                </div>
              </div>
            </div>

            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="example-text-input" class="col-3 col-form-label">
                <span class="styleStar">*</span>Type
              </label>
              <div class="col-9">
                <select class="form-control" formControlName="type">
                   <option></option>
                   <option>Major</option>
                   <option>Minor</option>
                   <option>Overall</option>
                </select>
                <div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('time').invalid && createForm.get('time').touched">
                  <strong>
                    Type is Required
                  </strong>
                </div>
              </div>
            </div>

            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="example-text-input" class="col-3 col-form-label">
                <span class="styleStar">*</span>Venue
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="venue" type="text"  id="example-text-input">
                <div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('venue').invalid && createForm.get('venue').touched">
                  <strong>
                    Venue is Required
                  </strong>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="postInvite()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" data-dismiss="modal"
                [disabled] ="feedBack.submitStatus || createForm.invalid || feedBack.applicantsArray.length === 0">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Invited Applicants
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="openModal()">
													<span>
														<i class="la la-send"></i>
														<span>
															Invite
														</span>
													</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
    <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th title="Field #1" class="serialnum">#</th>
        <th title="Field #2">Reg No.</th>
        <th title="Field #3">Name</th>
        <th title="Field #3">Email</th>
        <th title="Field #3">Phone</th>
        <th title="Field #3">First Choice</th>
        <th title="Field #4">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feedBack.allResponse; let i = index">
        <td scope="row">{{i + 1}}</td>
        <td>{{data?.reg_no}}</td>
        <td>{{data?.name}}</td>
        <td>{{data?.email}}</td>
        <td>{{data?.phone}}</td>
        <td>{{data?.applicant_profile?.course_of_study_choice[0]['first_choice']['name']}}</td>
        <td>
          <input type="checkbox"
                 (change)="onSelectCourse(data?.id)">
        </td>

      </tr>
      <tr *ngIf="feedBack.loader || feedBack?.allResponse.length === 0">
        <td colspan="8" *ngIf="feedBack.loader">
          <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="8" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>


    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>
</div>
