<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Applicants' - Students Migration List
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <!--<li class="m-portlet__nav-item">-->
                <!--<a style="color: white !important;"-->
                <!--class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm"-->
                <!--(click)="triggerModalOrOverlay('open','createPutme')">-->
                <!--<span>-->
                <!--<i class="la la-plus"></i>-->
                <!--<span>-->
                <!--Post UTME-->
                <!--</span>-->
                <!--</span>-->
                <!--</a>-->
                <!--</li>-->

                <!--<li class="m-portlet__nav-item">-->
                    <!--<div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push"-->
                         <!--data-dropdown-toggle="hover" aria-expanded="true">-->
                        <!--<a-->
                                <!--class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">-->
                            <!--&lt;!&ndash;<i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>&ndash;&gt;-->
                            <!--<i class="la la-upload la-2x"></i>-->
                        <!--</a>-->
                        <!--<div class="m-dropdown__wrapper">-->
                                <!--<span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right m-dropdown__arrow&#45;&#45;adjust"-->
                                      <!--style="left: auto; right: 21.5px;"></span>-->
                            <!--<div class="m-dropdown__inner">-->
                                <!--<div class="m-dropdown__body">-->
                                    <!--<div class="m-dropdown__content">-->
                                        <!--<ul class="m-nav">-->
                                            <!--<li class="m-nav__section m-nav__section&#45;&#45;first">-->
																			<!--<span class="m-nav__section-text">-->
																				<!--Bulk File-->
																			<!--</span>-->
                                            <!--</li>-->
                                            <!--<li class="m-nav__item">-->
                                                <!--<a class="m-nav__link"-->
                                                   <!--(click)="triggerModalOrOverlay('open','updateStudent')">-->
                                                    <!--<i class="m-nav__link-icon la la-download"></i>-->
                                                    <!--<span class="m-nav__link-text">-->
																					<!--Download Template-->
																				<!--</span>-->
                                                <!--</a>-->
                                            <!--</li>-->
                                            <!--&lt;!&ndash;<li class="m-nav__item">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<a href="" class="m-nav__link">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<i class="m-nav__link-icon la la-upload"></i>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<span class="m-nav__link-text">&ndash;&gt;-->
                                            <!--&lt;!&ndash;Bulk Upload&ndash;&gt;-->
                                            <!--&lt;!&ndash;</span>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                            <!--<li class="m-nav__item">-->
                                                <!--<a class="m-nav__link"-->
                                                   <!--(click)="triggerModalOrOverlay('open','putmeTemplate')">-->
                                                    <!--<i class="m-nav__link-icon flaticon-multimedia-2"></i>-->
                                                    <!--<span class="m-nav__link-text">-->
																					<!--Upload File-->
																				<!--</span>-->
                                                <!--</a>-->
                                            <!--</li>-->

                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</li>-->
            </ul>
        </div>

    </div>
    <div class="m-portlet__body">
        <!--begin: Search Form -->

        <!--end: Search Form -->
        <!--begin: Datatable -->
        <div class="pull-right" style="padding: 10px" *ngIf="iAmPermitted('school.admission.applicant-student-migration.applicants_students_migration')">
            <button (click)="enableCourseOfStudyInput()"
                    class="btn btn-accent m-btn--pill m-btn m-btn--air m-btn--custom btn-xs"
                    [disabled]="holdMigrationList.length===0" *ngIf="!enableCourseInput">
                Save
            </button>


            <div class="animated slideInDown" style="padding: 10px" *ngIf="enableCourseInput">
                <select class="form-control" #course_of_study (change)="setCourseOfStudy(course_of_study.value)" >
                    <option value="" disabled>Select Course of Study</option>
                    <option *ngFor="let course of allCoursesOfStudy" value="{{course.id}}">{{course?.name}}</option>
                </select>
<br>
                <button (click)="migrateApplicantsToStudents()"
                        class="btn btn-success m-btn--pill m-btn m-btn--air m-btn--custom btn-xs" >
                    {{load.message.create}}
                    <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.requesting.create"></i>
                </button>

            </div>
        </div>

        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                   class="table table-hover table-striped table-sm m-table--head-bg-brand">
                <thead class="thead-color">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Other Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Jamb Reg No</th>
                    <th>Jamb Choice</th>
                    <th>First Choice Course</th>
                    <th>Second Choice Course</th>
                    <th>Jamb Score</th>
                    <th>Putme Score</th>
                    <th>Admission Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" *ngIf="load.requesting.list || allApplicantsForStudentMigration.length===0">
                    <td colspan="14">
                        <span *ngIf=" !load.requesting.list">No Record Found</span>
                        <span *ngIf="load.requesting.list">Fetching Migration list..
                                    <i class="m-loader m-loader--right m-loader--brand"></i>
                                </span>
                    </td>
                </tr>
                <tr *ngFor="let applicantToMigrate of allApplicantsForStudentMigration; let ind=index">
                    <td>{{ind+1}}</td>
                    <td>{{applicantToMigrate?.first_name || '---'}}</td>
                    <td>{{applicantToMigrate?.last_name || '---'}}</td>
                    <td>{{applicantToMigrate?.other_name || '---'}}</td>
                    <td>{{applicantToMigrate?.phone || '---'}}</td>
                    <td>{{applicantToMigrate?.email || '---'}}</td>
                    <td>{{applicantToMigrate?.reg_no || '---'}}</td>
                    <td>{{applicantToMigrate?.jamb_choice || '---'}}</td>
                    <td>{{applicantToMigrate?.first_choice || '---'}}</td>
                    <td>{{applicantToMigrate?.second_choice || '---'}}</td>
                    <td>{{applicantToMigrate?.jamb_score || '---'}}</td>
                    <td>{{applicantToMigrate?.putme_score || '---'}}</td>
                    <td *ngIf="applicantToMigrate.admission_status==='Admitted'" style="color:green">
                        <i class="fa fa-check fa-2x"></i>
                    </td>
                    <td *ngIf="applicantToMigrate.admission_status==='Pending'" style="color:red">
                        <i class="fa fa-times fa-2x"></i>
                    </td>
                    <td>

                        <div class="m-checkbox-list row" *ngIf="iAmPermitted('school.admission.applicant-student-migration.applicants_students_migration')">
                            <label class="m-checkbox m-checkbox--state-success col-4">
                                <input type="checkbox"
                                       (change)="stashApplicantForMigration(ind)">
                                <span></span>
                            </label>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <!--end: Datatable -->
    </div>
</div>
