button, .btn {
    padding: 1.2rem 3rem !important;
    font-size: 12px !important;
}

#logo_area {
    max-height: 70px !important;
    max-width: 70px !important;
}

#logo_area img{
    width: auto;
}

ul,li{
    color: orange;

}

.like-m_form--2.m-login__form.m-form{
    margin-top: -5px;
}



