<div
        class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin"
        id="m_login">
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
        <div class="m-stack m-stack--hor m-stack--desktop">
            <div class="m-stack__item m-stack__item--fluid">
                <div class="m-login__wrapper">
                    <div class="m-login__logo">
                        <a href="#" *ngIf="visitorIsUpperlink()">
                            <img src="assets/images/logos/Fav.png"
                                 width="200px !important">
                        </a>
                        <a href="#" *ngIf="!visitorIsUpperlink()">
                            <img [src]="isAgent?.logo" width="200px !important" *ngIf="isAgent?.logo">
                            <div>
                                <small>
                                    {{isAgent?.name |titlecase}}
                                </small>
                            </div>

                        </a>
                    </div>
                    <div class="m-login__signin">
                        <div class="m-login__head">
                            <h3 class="m-login__title">
                                Sign into EduChoice
                            </h3>
                            <!-- <div class="m--margin-top-40 m-alert m-alert--outline m-alert--outline-2x alert alert-success fade show" role="alert">
                                              Use username
                                              <span style="font-weight: 500;">
                                                  demo@demo.com
                                              </span>
                                              and password
                                              <span style="font-weight: 500;">
                                                  demo
                                              </span>
                                              to continue or singup.
                                          </div> -->
                        </div>
                        <form [formGroup]="userLoginForm" class="like-m_form--2 m-login__form m-form" autocomplete="off">
                            <div class="form-group m-form__group">
                                <input formControlName="email" class="form-control m-input" type="text"
                                       placeholder="Username"
                                       name="email" autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input formControlName="password" class="form-control m-input m-login__form-input--last"
                                       type="password" placeholder="Password" name="password" autocomplete="off">
                            </div>

                          <!--<div class="form-group m-form__group pt-2 pl-3">
                            <ngx-recaptcha2
                              [siteKey]="captcha.siteKey"
                              [size]="captcha.size"
                              [hl]="captcha.lang"
                              [theme]="captcha.theme"
                              [type]="captcha.type"
                              (expire)="handleExpire()"
                              (load)="handleLoad()"
                              (success)="handleSuccess($event)"
                              formControlName="recaptcha">
                            </ngx-recaptcha2>
                          </div>-->

                          <!--<div class="form-group m-form__group pt-2 pl-3">
                            <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" ></re-captcha>
                          </div>-->

                          <div class="form-group m-form__group pt-2 pl-3">
                            <recaptcha formControlName="recaptcha"></recaptcha>
                          </div>

                            <div class="col m--align-right">
                                <a class="m-link" routerLink="/home/forgot-password" (click)="setRouteParam()">
                                    Forget Password ?
                                </a>
                            </div>
                            <div class="m-login__form-action">
                                <button id="m_login_signin_submit"
                                        class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air"
                                        (click)="signin()" [disabled]="feedback.loadingStatus || userLoginForm.invalid">
                                    Sign In
                                </button>
                                <i class="m-loader m-loader--right m-loader--light" *ngIf="feedback.loadingStatus"></i>
                            </div>
                        </form>

                        <!--<form>-->
                        <!--<div class="row m-login__form-sub">-->
                        <!--<div class="col m&#45;&#45;align-left">-->
                        <!--<label class="m-checkbox m-checkbox&#45;&#45;focus">-->
                        <!--<input type="checkbox" name="remember"> Remember me-->
                        <!--<span></span>-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--<div class="col m&#45;&#45;align-right">-->
                        <!--<a href="javascript:;" id="m_login_forget_password" class="m-link">-->
                        <!--Forgot Password ?-->
                        <!--</a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; <div class="m-login__form-action">-->
                        <!--<button [disabled]="loading" [ngClass]="{'m-loader m-loader&#45;&#45;right m-loader&#45;&#45;light': loading}" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom m-btn&#45;&#45;air">-->
                        <!--Sign In-->
                        <!--</button>-->
                        <!--</div> &ndash;&gt;-->
                        <!--</form>-->
                    </div>
                    <div class="m-login__signup">
                        <div class="m-login__head">
                            <h3 class="m-login__title">
                                Sign Up
                            </h3>
                            <div class="m-login__desc">
                                Enter your details to create your user account:
                            </div>
                        </div>
                        <form class="like-m_form--2 m-login__form m-form" [formGroup]="registrationForm">
                            <ng-template #alertSignup></ng-template>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input input-sm" type="text" placeholder="First Name"
                                       formControlName="first_name"
                                       autocomplete="off">
                            </div>

                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="text" placeholder="Last Name"
                                       formControlName="last_name"
                                       autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="email" placeholder="Email"
                                       formControlName="email"
                                       autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="password" placeholder="Password"
                                       formControlName="password"
                                       autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="password" placeholder="Confirm Password"
                                       formControlName="password_confirmation"
                                       autocomplete="off">
                            </div>
                            <div class="m-login__form-action" id="sign_f">
                                <button [disabled]="loading || registrationForm.invalid"
                                        id="m_login_signup_submit"
                                        class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air"
                                        type="button"
                                        (click)="signup()">
                                    Sign Up
                                </button>
                              <i class="m-loader m-loader--right m-loader--light" *ngIf="loading"></i>
                              <button id="m_login_signup_cancel"
                                        class="btn btn-outline-focus  m-btn m-btn--pill m-btn--custom"
                                        (click)="flipRegistration('login')" role="button">
                                    Cancel
                                </button>
                            </div>
                        </form>

                    </div>
                    <div class="m-login__forget-password">
                        <div class="m-login__head">
                            <h3 class="m-login__title">
                                Forgotten Password ?
                            </h3>
                            <div class="m-login__desc">
                                Enter your email to reset your password:
                            </div>
                        </div>
                        <form (ngSubmit)="f.form.valid" #f="ngForm" class="m-login__form m-form" action="">
                            <ng-template #alertForgotPass></ng-template>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="email" placeholder="Email" name="email"
                                       id="m_email"
                                       autocomplete="off">
                            </div>
                            <div class="m-login__form-action">
                                <button
                                        id="m_login_forget_password_submit"
                                        class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                    Request
                                </button>
                                <button id="m_login_forget_password_cancel"
                                        class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="m-stack__item m-stack__item--center">
                <div class="m-login__account">
          <span class="m-login__account-msg">
            Don't have an account yet ?
          </span>
                    &nbsp;&nbsp;
                    <a style="cursor:pointer" id="m_login_signup" class="m-link m-link--focus m-login__account-link"
                       (click)="flipRegistration('signup')">
                        Sign Up
                    </a>
                </div>
            </div>
            <br>
            <span class="pull-left m-footer__copyright">
			2018 © <span class="m-link">Educhoice</span> Powered by
								<a href="https://upperlink.ng" class="m-link" target="_blank">
									UpperLink
								</a>
							</span>
        </div>

    </div>
    <div
            class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content"
            style="background-image: url(../../../assets/images/bg/bg-6.png)">
        <div class="m-grid__item m-grid__item--middle">
            <h3 class="m-login__welcome">
                EduChoice
            </h3>
            <p class="m-login__msg">
                The Web Portal integrates all school’s functions into a Centralized System. The Portal provides basic
                information to the public as well as an integrated and seamless tool for effective management of all the
                schools’ functions through a robust database.<br>

            </p>
            <br>
            <p class="m-login__msg">
                The Web Portal & Payment Suite comprises of the following;
            </p>

            <ul>
                <li>
                    Content Management System
                </li>
                <li>
                    Student Management Module
                </li>
                <li>
                    Admission Module
                </li>

                <li>
                    Course registration Module
                </li>
                <li>
                    Result Management Module
                </li>
                <li>
                    Transcript Management Module
                </li>
                <li>
                    E-Payment Module (CollegePay)
                </li>

            </ul>


        </div>


    </div>
</div>
