<!--Start:::View Modal-->
<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">View Exeat Request</h4>
      </div>
      <div class="modal-body">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 text-right">
                Name:
              </div>
              <div class="col-6 text-left">
                {{selectedExeatRequest?.student?.first_name}} {{selectedExeatRequest?.student?.last_name}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 text-right">
                Matric Number:
              </div>
              <div class="col-6 text-left">
                {{selectedExeatRequest?.student?.matric_no}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 text-right">
                Destination:
              </div>
              <div class="col-6 text-left">
                {{selectedExeatRequest?.destination}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 text-right">
                Purpose:
              </div>
              <div class="col-6 text-left">
                {{selectedExeatRequest?.purpose}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 text-right">
                From:
              </div>
              <div class="col-6 text-left">
                {{selectedExeatRequest?.start_date | date}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 text-right">
                To:
              </div>
              <div class="col-6 text-left">
                {{selectedExeatRequest?.end_date | date}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 text-right">
                Who to Visit:
              </div>
              <div class="col-6 text-left">
                {{(selectedExeatRequest?.who_to_visit === 'null') ? '': selectedExeatRequest?.who_to_visit}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 text-right">
                Contact of Who to Visit:
              </div>
              <div class="col-6 text-left">
                {{(selectedExeatRequest?.who_to_visit_contact === 'null') ? '': selectedExeatRequest?.who_to_visit_contact}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 text-right">
               Relationship with Who to Visit:
              </div>
              <div class="col-6 text-left">
                {{(selectedExeatRequest?.who_to_visit_relationship === 'null') ? '': selectedExeatRequest?.who_to_visit_relationship}}
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--End:::View Modal-->

<div class="m-grid__item m-grid__item--fluid m-wrapper">
  <!-- END: Subheader -->
  <div class="m-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="m-portlet m-portlet--mobile">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Exeat Requests
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m--margin-10">
              <table datatable [dtTrigger]="dtTrigger"
                     class="table table-hover table-striped table-sm m-table--head-bg-brand">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Matric No</th>
                  <th>Date Created</th>
                  <th>Destination</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Who to Visit</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let request of allExeatRequests; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{request?.student?.first_name}} {{request?.student?.last_name}}</td>
                  <td>{{request?.student?.matric_no}}</td>
                  <td>{{request?.created_at | date}}</td>
                  <td>{{request?.destination}}</td>
                  <td>{{request?.start_date | date}}</td>
                  <td>{{request?.end_date | date}}</td>
                  <td>{{(request?.who_to_visit === 'null') ? '' : request?.who_to_visit}}</td>
                  <td *ngIf="request?.status == 2">
                    <span class="m--font-warning">Pending</span></td>
                  <td *ngIf="request?.status == 1">
                    <span class="m--font-success">Successful</span>
                  </td>
                  <td *ngIf="request?.status == 0">
                    <span class="m--font-danger">Declined</span>
                  </td>
                  <td>
                    <div class="dropdown ">
                      <a class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                        <i class="la la-ellipsis-h"></i>
                        <i class="m-loader m-loader--focus" *ngIf="request?.requestloading"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" (click)="viewExeat(i)">
                          <i class="la la-eye"></i>View
                        </a>
                        <a class="dropdown-item" (click)="acceptRequest(i)">
                          <i class="la la-check-circle-o"></i>Approve
                        </a>
                        <a class="dropdown-item" (click)="declineRequest(i)">
                          <i class="la la-times-circle-o"></i>Decline
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="allExeatRequests.length === 0 || fetching" class="text-center">
                  <td *ngIf="!fetching" colspan="10">No exeat request found</td>
                  <td *ngIf="fetching" colspan="10">Loading... </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
