<div class="m-portlet__body">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

      <div class="m-portlet container" id="letter_preview" [ngStyle]="setSchoolLogo()">
        <div [innerHTML]="ckeditorContent" #content>
        </div>

      </div>


    </div>
    <div class="col-2"></div>
  </div>
</div>