

<div id="openAfter" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->

        <form [formGroup] = "createFormAfter" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span> Status
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" style="width: 100%" formControlName="status">
                  <option></option>
                  <option [value] = "1" >
                    Admitted
                  </option>
                  <option [value] = "0" >
                    Not Admitted
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar"></span> Faculty
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" style="width: 100%" (change)="extractId($event)">
                  <option></option>
                  <option *ngFor="let type of feedBack?.facultyList " [value] = "type?.id" >
                    {{type?.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="text-center" *ngIf="feedBack.loadDepartment">loading department(s)<i class="m-loader m-loader--right m-loader--brand"></i></div>
            <div class="text-center" *ngIf="feedBack.checkEmptyDepartment && feedBack?.departmentList.length === 0">No department(s) found</div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;"  *ngIf="feedBack?.departmentList.length !== 0">
              <label class="col-3 col-form-label">
                <span class="styleStar"></span> Department
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" style="width: 100%" (change)="extractCourseId($event)">
                  <option></option>
                  <option *ngFor="let type of feedBack?.departmentList " [value] = "type?.id">
                    {{type?.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="text-center" *ngIf="feedBack?.loadCourse">loading course(s)<i class="m-loader m-loader--right m-loader--brand"></i></div>
            <div class="text-center" *ngIf="feedBack?.checkEmptyCourse && feedBack?.courseList.length === 0">No Course of Study found</div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;"  *ngIf="feedBack?.courseList.length > 0">
              <label class="col-3 col-form-label">
                <span class="styleStar"></span> Course of Study
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName = "course_of_study_id" style="width: 100%">
                  <option></option>
                  <option *ngFor="let type of feedBack?.courseList " [value] = "type?.id">
                    {{type?.name}}
                  </option>
                </select>
              </div>
            </div>
           <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span> Comment
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <textarea class="form-control" formControlName="comment"></textarea>
              </div>
             <div class="col-lg-9 col-md-9 col-sm-12" style="background-color: red; color: #FFFFFF" *ngIf="createFormAfter.get('comment').invalid && createFormAfter.get('comment').touched">
               Comment is Required
             </div>
            </div>
           </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="after_interview()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" data-dismiss="modal"
                [disabled] ="feedBack.submitStatus || createFormAfter.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="openInvite" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->

        <form [formGroup] = "createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="example-text-input" class="col-3 col-form-label">
                <span class="styleStar">*</span>Email
              </label>
              <div class="col-7">
                <input class="form-control m-input" formControlName="email" type="email"  id="example-text-input">
                <div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('email').invalid && createForm.get('email').touched">
                  <strong>
                    Email is Required
                  </strong>
                </div>
              </div>
            </div>
           </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="postVerify()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" data-dismiss="modal"
                [disabled] ="feedBack.submitStatus || createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="openModal()">
													<span>
														<i class="la la-send"></i>
														<span>
															Verify
														</span>
													</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
    <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th title="Field #1" class="serialnum">#</th>
        <th title="Field #2">Reg No.</th>
        <th title="Field #3">Name</th>
        <th title="Field #3">Email</th>
        <th title="Field #3">Phone</th>
        <th title="Field #3">First Choice</th>
        <th title="Field #4">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feedBack.allResponse; let i = index">
        <td scope="row">{{i + 1}}</td>
        <td>{{data?.reg_no}}</td>
        <td>{{data?.name}}</td>
        <td>{{data?.email}}</td>
        <td>{{data?.phone}}</td>
        <td>{{data?.applicant_profile?.course_of_study_choice[0]['first_choice']['name']}}</td>
        <td>
          <button class="btn btn-info btn-xs" (click)="openAfter(data?.id)">Remark</button>
        </td>

      </tr>
      <tr *ngIf="feedBack.loader || feedBack?.allResponse.length === 0">
        <td colspan="8" *ngIf="feedBack.loader">
          <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="8" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>


    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>
</div>
