<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
           Reports / Payment Statistics
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <button class="btn btn-sm m-btn--pill m-btn--air"
              [ngClass]="masterObject.show_filter ? 'btn-danger' : 'btn-accent'"
              (click)="masterObject.show_filter = !masterObject.show_filter">
        <i [ngClass]="masterObject.show_filter ? 'la la-times' : 'la la-plus'"></i>
        {{ masterObject.show_filter ? 'Close' : 'Create'}}
      </button>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="row filter-body animated fadeInDown" *ngIf="masterObject.show_filter">
      <div class="col-12 reduce-label">
        <form [formGroup]="paymentStatisticsFilterForm">
          <div class="form-group row">
            <div class="col">
              <label><span class="text-danger">*</span>Name of Report</label>
              <input class="form-control" type="text" formControlName="name">
            </div>
            <div class="col">
              <label><span class="text-danger">*</span>Session</label>
              <i class="m-loader m-loader--brand" *ngIf="loader.session"></i>
              <select class="form-control" formControlName="session_id" (change)="getSessionSemesters($event.target.value)">
                <option></option>
                <option *ngFor="let session of masterObject?.sessions" [value]="session?.id">
                  {{session?.name || session?.year}} {{session?.programme?.name}}
                </option>
              </select>
            </div>
            <div class="col">
              <label><span class="text-danger">*</span>Semester</label>
              <i class="m-loader m-loader--brand" *ngIf="loader.semester"></i>
              <select class="form-control" formControlName="semester">
                <option></option>
                <option *ngFor="let semester of masterObject?.semesters" [value]="semester?.semester">{{semester?.name}}</option>
              </select>
            </div>
            <div class="col">
              <label>From Date</label>
              <!--<i class="m-loader m-loader&#45;&#45;brand" *ngIf="loader.semester"></i>-->
              <input class="form-control" type="date" formControlName="from_date">
            </div>
            <div class="col">
              <label>To Date</label>
              <!--<i class="m-loader m-loader&#45;&#45;brand" *ngIf="loader.semester"></i>-->
              <input class="form-control" type="date" formControlName="to_date">
            </div>
            <!--<div class="col">
              <label>Programme</label>
              <i class="m-loader m-loader&#45;&#45;brand" *ngIf="loader.programme"></i>
              <select class="form-control" formControlName="programme_id" (change)="programmeById($event.target.value)">
                <option value="">Select Programme</option>
                <option *ngFor="let programme of masterObject?.allProgrammes" [value]="programme?.id">{{programme?.name}}</option>
              </select>
            </div>
            <div class="col">
              <label>Level</label>
              <i class="m-loader m-loader&#45;&#45;brand" *ngIf="loader.level"></i>
              <select class="form-control" formControlName="level_id">
                <option value="">Select Level</option>
                <option *ngFor="let level of masterObject?.programmeLevels" [value]="level?.id">{{level?.name}}</option>
              </select>
            </div>-->
          </div>
          <!--<div class="form-group row">
            <div class="col">
              <label>
                Faculty &nbsp;&nbsp;
                <span class="m-loader m-loader&#45;&#45;brand" *ngIf="loader.faculty"></span>
              </label>
              <select class="form-control" formControlName="faculty_id" (change)="facultyDepartments($event.target.value)">
                <option value="">Select Faculty</option>
                <option [value]="faculty?.id" *ngFor="let faculty of masterObject?.faculties">{{ faculty?.name }}</option>
              </select>
            </div>
            <div class="col">
              <label>
                Department &nbsp;&nbsp;
                <span class="m-loader m-loader&#45;&#45;brand" *ngIf="loader.department"></span>
              </label>
              <select class="form-control" formControlName="department_id" (change)="departmentCoursesOfStudy($event.target.value)">
                <option value="">Select Department</option>
                <option [value]="department?.id" *ngFor="let department of masterObject?.departments">{{ department?.name }}</option>
              </select>
            </div>
            <div class="col">
              <label>
                Course of Study &nbsp;&nbsp;
                <span class="m-loader m-loader&#45;&#45;brand" *ngIf="loader.courses_of_study"></span>
              </label>
              <select class="form-control" formControlName="course_of_study_id">
                <option value="">Select Course of Study</option>
                <option [value]="course_of_study?.id" *ngFor="let course_of_study of masterObject?.courses_of_study">{{ course_of_study?.name }}</option>
              </select>
            </div>
          </div>-->
          <!--<div class="form-group row">
            <div class="col-4">
              <label>Status</label>
              <select class="form-control" formControlName="status">
                <option value="completed">Completed</option>
                <option value="pending">Pending</option>
                <option value="failed">Failed</option>
              </select>
            </div>
          </div>-->
          <div class="form-group mb-3 float-right">
            <button class="btn btn-accent m-btn--pill m-btn--air"
                    (click)="createSpecialReport()"
                    [disabled]="paymentStatisticsFilterForm.invalid || masterObject?.loader">
              Submit
              <span *ngIf="masterObject.creating">
              &nbsp;&nbsp; <i class="m-loader m-loader--light"></i>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="paymentStatisticsReport?.data.length > 10" class="row my-md-2">
      <div class="col-6">
        <select class="form-control form-control-sm mb-1 col-3" (change)="changePerPage($event.target.value)">
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>
      <div class="col-6">
        <input type="text" (keyup)="search_model.next($event.target.value)"
               class="form-control form-control-sm col-6 float-right" placeholder="Search">
      </div>
    </div>
    <div class="table-responsive">
      <!--end: Ss"></ Form -->      <!--begin: Datatable -->
      <table class="table table-hover table-striped table-sm m-table--head-bg-brand relative">
        <div *ngIf="masterObject.loader" class="table-loader">
          <div class="content">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Date Created</th>
          <!--<th>Date Paid</th>-->
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of paymentStatisticsReport?.data; let i = index">
          <td>{{i + 1}}</td>
          <td>{{data?.name}}</td>
          <td>{{data?.created_at | date}}</td>
          <td>
            <a (click)="downloadSpecialReport(data?.id, i)" class="btn btn-accent-sm">
              <i [ngClass]="data?.downloading ? 'fa fa-spinner fa-spin' : 'fa fa-download'"></i>&nbsp;Download
            </a>
          </td>
        </tr>
        <tr *ngIf="masterObject.loader || paymentStatisticsReport?.data?.length === 0">
          <td class="text-center" colspan="7" *ngIf="!masterObject.loader && paymentStatisticsReport?.data.length === 0">
            No Content Found
          </td>
        </tr>
        </tbody>
      </table>
      <a target="_blank" href="" style="display: none" id="reportDownload"></a>
      <div *ngIf="paymentStatisticsReport?.data.length > 10" class="row mx-md-1">
        <div class="col-6">
          <div class="float-left">
            <span class="align-middle">Showing {{ paymentStatisticsReport?.from }} to {{ paymentStatisticsReport?.to }} of {{ paymentStatisticsReport?.total }} entries</span>
          </div>
        </div>
        <div class="col-6">
          <div class="float-right">
            <button class="btn btn-sm btn-outline-brand" (click)="navigate('first')">First</button>
            <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only pr-1" (click)="navigate('prev')"
                    [disabled]="paymentStatisticsReport?.prev_page_url === null">
              <i class="la la-chevron-left"></i>
            </button>
            <div class="btn-group" role="group" aria-label="First group">
              <button
                [ngClass]=" (page === paymentStatisticsReport?.current_page) ? 'btn btn-sm btn-outline-brand active' : 'btn btn-sm btn-outline-brand'"
                *ngFor="let page of paginator.pages" (click)="navigate(page)">{{ page }}
              </button>
            </div>
            <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only" (click)="navigate('next')"
                    [disabled]="paymentStatisticsReport?.next_page_url === null">
              <i class="la la-chevron-right"></i>
            </button>
            <button class="btn btn-sm btn-outline-brand" (click)="navigate('last')">Last</button>
          </div>
        </div>
      </div>
      <!--<div class="text-center" *ngIf="masterObject.loader"> Loading {{masterObject?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
      <!--end: Datatable -->
    </div>
  </div>
</div>
