<div id="reservationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Hostel Reservation</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="form-group m-form__group row">
            <label class="col-4 col-form-label">
              <span class="styleStar">*</span> Matriculation Number
            </label>
            <div class="col-8">
              <input class="form-control" formControlName="matric_no">
            </div>
          </div>
          <div class="form-group m-form__group row">
            <label class="col-4 col-form-label">
              <span class="styleStar">*</span> Hostel
            </label>
            <div class="col-8">
              <select class="form-control" (change)="getHostelRooms($event.target.value)">
                <option value="" disabled selected></option>
                <option [value]="hostel?.id" *ngFor="let hostel of hostels?.data">{{hostel?.hostel_name}}</option>
              </select>
            </div>
          </div>
          <fieldset [disabled]="hostel?.rooms?.length < 1">
            <div class="form-group m-form__group row">
              <label class="col-4 col-form-label">
                <i class="m-loader m-loader--brand" *ngIf="feedBack.room_loader"></i>
                <span class="styleStar">*</span> Room
              </label>
              <div class="col-8">
                <select class="form-control" (change)="chooseRoom($event.target.value)">
                  <option value="" disabled selected></option>
                  <option [value]="room?.id" *ngFor="let room of hostel?.rooms">{{room?.room_name}}</option>
                </select>
              </div>
            </div>
          </fieldset>

          <div class="form-group m-form__group row" *ngIf="room?.bed_spaces.length > 0">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> Bed Space
              </label>
              <div class="col-8">
                <select class="form-control"  formControlName="hostel_bed_space_id">
                  <option value="" disabled selected></option>
                  <option [value]="bed_space?.id" *ngFor="let bed_space of room?.bed_spaces">{{bed_space?.label}}</option>
                </select>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="makeReservation()" class="btn btn-accent m-btn--pill m-btn--air btn-sm"
                [disabled]="createForm.invalid || feedBack?.submitStatus">
          Submit <i class="m-loader m-loader--light" *ngIf="feedBack?.submitStatus"></i>
        </button>
        <button type="button" class="btn m-btn btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <!--<div class="m-portlet__head-tools">-->
      <!--<ul class="m-portlet__nav">-->
        <!--<li class="m-portlet__nav-item">-->
          <!--<a style="color: white !important;" class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm"-->
             <!--(click)="openReservationModal()">-->
            <!--<span>-->
              <!--<i class="la la-plus"></i>-->
              <!--<span>-->
                <!--Hostel Reservation-->
              <!--</span>-->
            <!--</span>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>

  <!--Current session-->
  <div class="m-portlet__body table-responsive">
    <div>
      <!--<table class="table table-hover table-striped table-sm m-table&#45;&#45;head-bg-brand">-->
      <!--<thead class="thead-color">-->
      <!--<tr>-->
      <!--<th>#</th>-->
      <!--<th>Amount</th>-->
      <!--<th>Payment Method</th>-->
      <!--<th>Status</th>-->
      <!--<th>Open Date</th>-->
      <!--<th>Transaction Id</th>-->
      <!--<th>Created Date</th>-->
      <!--<th>Action</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr *ngFor="let data of feedBack?.allResponse; let i = index">-->
      <!--<td scope="row">{{i+1}}</td>-->
      <!--<td>{{data?.allocation_amount}}</td>-->
      <!--<td>{{data?.payment_method}}</td>-->
      <!--<td>{{data?.status_text}}</td>-->
      <!--<td>{{data?.hostel_session?.open_date}}</td>-->
      <!--<td>{{data?.transaction_id}}</td>-->
      <!--<td>{{data?.created_at | date}}</td>-->
      <!--<td data-field="Type" class="m-datatable__cell">-->
      <!--<div class="dropdown ">-->
      <!--<a href="#"-->
      <!--class="btn m-btn m-btn&#45;&#45;hover-accent m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill"-->
      <!--data-toggle="dropdown">-->
      <!--<i class="la la-ellipsis-h"></i>-->
      <!--</a>-->
      <!--<div class="dropdown-menu dropdown-menu-right">-->
      <!--<a class="dropdown-item"  (click)="viewReservation(data)">-->
      <!--<i class="la la-edit"></i> View Reservation</a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td colspan="8" *ngIf="feedBack.loader">-->
      <!--<div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand"></i></div>-->
      <!--</td>-->
      <!--<td colspan="8" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">-->
      <!--<div  class="text-center">No Content Found</div>-->
      <!--</td>-->
      <!--</tr>-->
      <!--</tbody>-->
      <!--</table>-->
    </div>
    <div class="col-md-6 col-sm-8 col-xs-12 offset-md-3 offset-sm-2">
      <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
        <div class="form-group m-form__group row">
          <label class="col-4 col-form-label">
            <span class="styleStar">*</span> Matric Number
          </label>
          <div class="col-8">
            <input class="form-control" formControlName="matric_no">
          </div>
        </div>
        <div class="form-group m-form__group row">
          <label class="col-4 col-form-label">
            <span class="styleStar">*</span> Hostel
          </label>
          <div class="col-8">
            <select class="form-control" (change)="getHostelRooms($event.target.value)">
              <option value="" selected></option>
              <option [value]="hostel?.id" *ngFor="let hostel of hostels?.data">{{hostel?.hostel_name}}</option>
            </select>
          </div>
        </div>
        <fieldset [disabled]="hostel?.rooms?.length < 1">
          <div class="form-group m-form__group row">
            <label class="col-4 col-form-label">
              <i class="m-loader m-loader--brand" *ngIf="feedBack.room_loader"></i>
              <span class="styleStar">*</span> Room
            </label>
            <div class="col-8">
              <select class="form-control" (change)="chooseRoom($event.target.value)">
                <option value="" selected></option>
                <option [value]="room?.id" *ngFor="let room of hostel?.rooms">{{room?.room_name}}</option>
              </select>
            </div>
          </div>
        </fieldset>

        <div class="form-group m-form__group row" *ngIf="room?.bed_spaces?.length > 0">
          <label class="col-4 col-form-label">
            <span class="styleStar">*</span> Bed Space
          </label>
          <div class="col-8">
            <select class="form-control"  formControlName="hostel_bed_space_id">
              <option value="" selected></option>
              <option [value]="bed_space?.id" *ngFor="let bed_space of room?.bed_spaces">{{bed_space?.label}}</option>
            </select>
          </div>
        </div>
      </form>
      <div class="form-group m-form__group mt-4">
        <div class="row float-right">
          <button (click)="makeReservation()" class="btn btn-accent m-btn--pill m-btn--air mr-4"
                  [disabled]="createForm.invalid || feedBack?.submitStatus">
            Submit <i class="m-loader m-loader--light" *ngIf="feedBack?.submitStatus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

