.text-center th{
    text-align: center !important;
}

/*fieldset input .form-control{*/
    /*max-width: 33% !important;*/
/*}*/

button:disabled{
    cursor: not-allowed!important;
}

fieldset input[type=text] {
  padding-left: 10px;
  width: 130px;
}

.none-pointer {
  pointer-events: none !important;
}

.border-2 {
  border: 1px solid grey;
}

.manual-upload-container {
  padding: 20px !important;
}
