<!--
  Dear developer, when I was writing this code,
  only I and God understood it. Now only God does.
  I wish you all the very best.
-->


<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Results <!--<a class="ml-5" routerLink="/staff/dashboard/bulk-result">Go to Bulk</a>-->
        </h3>
      </div>
    </div>

  </div>
  <div class="m-portlet__body">
    <!--START: Form drill down to curriculum_course_id -->
    <!--END: Form drill down to curriculum_course_id -->
    <div style="margin: 0 auto; width: 100%" class="mb-5 m-accordion m-accordion--bordered" id="m_accordion_2"
         role="tablist">
      <!--*ngIf="permissions['school.course-management.curriculum.courses']"-->
      <!-- *ngIf="authenticatedUser?.group_id.toString() === '1'"-->
      <!--begin::Item-->
      <div class="m-accordion__item">
        <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_2_item_1_head" data-toggle="collapse"
             href="#m_accordion_2_item_1_body" aria-expanded="false">
													<span class="m-accordion__item-icon">
														<i class="fa flaticon-file"></i>
													</span>
          <span class="m-accordion__item-title">
														Result Filter
													</span>
          <span class="m-accordion__item-mode"></span>
        </div>
        <div class="m-accordion__item-body collapse" id="m_accordion_2_item_1_body" role="tabpanel"
             aria-labelledby="m_accordion_2_item_1_head" data-parent="#m_accordion_2" style="">
          <div class="m-accordion__item-content">
            <div>
              <form [formGroup]="createForm" (ngSubmit)="putResult()"
                    class="m-form m-form--fit m-form--label-align-right">
                <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                  <div class="col-lg-4">
                    <label>
                      <span class="styleStar">*</span>Faculty &nbsp;
                      <i *ngIf="load.faculties" class="m-loader m-loader--brand"></i>&nbsp;
                    </label>

                    <select data-live-search="true" formControlName="faculty_id" class="form-control m-input--solid"
                            (change)="getDepartmentByByFacultyId($event.target.value)">
                      <option value="">--Select Faculty--</option>
                      <option *ngFor="let faculty of allFaculties" [value]="faculty?.id">
                        {{faculty?.name}}
                      </option>
                    </select>
                    <!--<span class="m-form__help m&#45;&#45;font-danger" *ngIf="createForm.get('session_id').touched && !createForm.get('session_id').valid">-->
                    <!--Faculty is Required-->
                    <!--</span>-->
                  </div><!--Faculty-->
                  <div class="col-lg-4">
                    <label>
                      <span class="styleStar">*</span>
                      Department &nbsp;
                      <i *ngIf="load.departments.loading" class="m-loader m-loader--brand"></i>&nbsp;
                      <small class="m--font-danger"
                             *ngIf="createForm.get('faculty_id').touched && allDepartments.length === 0">
                        No Department found
                      </small>
                    </label>
                    <select class="form-control m-input--solid" formControlName="department_id" style="width: 100%"
                            (change)="getCourseOfStudy($event.target.value)">
                      <option value="">--Select Department--</option>
                      <option *ngFor="let department of allDepartments" [value]="department?.id">
                        {{department?.name}}
                      </option>
                    </select>

                    <!--<div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('programme_id').invalid && createForm.get('programme_id').touched">-->
                    <!--<strong>-->
                    <!--Programme is Required-->
                    <!--</strong>-->
                    <!--</div>-->
                  </div><!--Department-->
                  <div class="col-lg-4">
                    <label>
                      <span class="styleStar">*</span>Course of Study &nbsp;
                      <i *ngIf="load.courses" class="m-loader m-loader--brand"></i>&nbsp;
                      <small class="m--font-danger"
                             *ngIf="createForm.get('department_id').touched && allCourseOfStudy.length === 0">
                        No Course of Study found
                      </small>
                    </label>

                    <select class="form-control m-input--solid" formControlName="course_of_study_id" style="width: 100%"
                            (change)="getSingleCourseOfStudy($event.target.value)">
                      <!--<option [value]="allCourseOfStudy?.id">{{allCourseOfStudy?.name}}</option>-->
                      <option value="">--Select Course of Study--</option>
                      <option *ngFor="let courseOfStudy of allCourseOfStudy" [value]="courseOfStudy?.id">
                        {{courseOfStudy?.name}}
                      </option>
                    </select>
                  </div><!--Course of Study-->
                </div>
                <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                  <div class="col-lg-4">
                    <label>
                      <span class="styleStar">*</span>Session &nbsp;
                      <i *ngIf="load.session" class="m-loader m-loader--brand"></i>&nbsp;
                    </label>
                    <select class="form-control m-input--solid" formControlName="session_id"
                            (change)="getSessionSemesters($event.target.value)">
                      <option value="">--Select Session--</option>
                      <option *ngFor="let session of allSession" [value]="session?.id">
                        {{session?.name || session?.year}}
                      </option>
                    </select>
                    <span class="m-form__help m--font-danger"
                          *ngIf="createForm.get('session_id').touched && !createForm.get('session_id').valid">
                      Session is Required
                    </span>
                  </div><!--Session-->
                  <div class="col-lg-4">
                    <label>
                      <span class="styleStar">*</span> Semester&nbsp;
                      <i *ngIf="load.semester" class="m-loader m-loader--brand"></i>&nbsp;
                    </label>
                    <select class="form-control m-input--solid" formControlName="semester" (change)="setSemester($event.target.value)">
                      <option value="">--Select Semester--</option>
                      <option *ngFor="let semester of allSemester" [value]="semester?.semester">{{semester?.name}}
                      </option>
                    </select>
                    <span class="m-form__help m--font-danger"
                          *ngIf="createForm.get('semester').touched && !createForm.get('semester').valid">
                      Semester is Required
                    </span>
                  </div><!--Semester-->
                  <div class="col-lg-4">
                    <label>
                      <span class="styleStar">*</span>Level &nbsp;
                      <i *ngIf="load.level" class="m-loader m-loader--brand"></i>&nbsp;
                      <small class="m--font-danger"
                             *ngIf="createForm.get('course_of_study_id').touched && allLevels.length === 0">
                        No Level Found
                      </small>
                    </label>

                    <select class="form-control m-input--solid" formControlName="level_id" style="width: 100%"
                            (change)="getCurriculumCourses()">
                      <option value="">--Select Level--</option>
                      <option *ngFor="let level of allLevels" [value]="level?.id">
                        {{level?.name}}
                      </option>
                    </select>
                    <!--<div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('level_id').invalid && createForm.get('level_id').touched">-->
                    <!--<strong>-->
                    <!--Level is Required-->
                    <!--</strong>-->
                    <!--</div>-->
                  </div><!--Level-->
                </div>
                <div class="form-group m-form__group row">
                  <div class="col-lg-4">
                    <label>
                      <span class="styleStar">*</span>Curriculum Course &nbsp;
                      <i *ngIf="load.curriculum_course" class="m-loader m-loader--brand"></i>&nbsp;
                      <small class="m--font-danger"
                             *ngIf="createForm.get('level_id').touched && allCurriculumCourses.length === 0">
                        No Curriculum Course Found
                      </small>
                    </label>

                    <select class="form-control m-input--solid" formControlName="curriculum_course_id"
                            (change)="setPermission($event.target.value, allCurriculumCourses)">
                      <option value="">--Select Course--</option>
                      <option *ngFor="let course of allCurriculumCourses" [value]="course?.id">
                        {{course?.code}}
                      </option>
                    </select>
                  </div><!--Curriculum Course-->
                </div>

                <div class="form-group m-form__group row">
                  <!--<div class="col-sm-4">
                    <button *ngIf="iAmPermitted('school.course-management.result.create.multiple') && (!createForm.invalid)" type="button"
                            class="btn btn-accent m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;air float-left"
                            (click)="downloadTemplate('templateDownload')"
                            [disabled]="createForm.invalid || load.requesting.table">
                      Download Result Template &nbsp;&nbsp;
                      <i *ngIf="load.download" class="m-loader m-loader-brand"></i>
                    </button>
                    <a id="templateDownload" download style="display: none"></a>
                  </div>&lt;!&ndash;Template download&ndash;&gt;
                  <div class="col-sm-4">
                    <div class="row" *ngIf="iAmPermitted('school.course-management.result.upload') && !createForm.invalid && !load.requesting.table">
                      <input class="form-control col-md-8 col-sm-12" type="file" id="fileId">
                      <button type="button" class="btn btn-sm btn-accent m-btn&#45;&#45;pill m-btn&#45;&#45;air pl-2"
                              (click)="uploadResultTemplate('fileId')"
                              [disabled]="load.requesting.table">
                        &nbsp;&nbsp; Upload &nbsp;&nbsp;
                        <i *ngIf="load.uploading" class="m-loader m-loader-brand"></i>
                      </button>
                    </div>
                  </div>--><!--File upload-->
                  <div class="col-sm-12">
                    <button type="submit" *ngIf="permissions['school.course-management.result.curriculum_course']"
                            [disabled]="createForm.invalid || load.requesting.table"
                            class="btn btn-accent m-btn m-btn--pill m-btn--air float-right"
                    ><!---->
                      Show Result &nbsp;&nbsp;
                      <i *ngIf="load.requesting.table" class="m-loader m-loader--light"></i>
                    </button>
                  </div><!--Submit Button-->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--end::Item-->
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="">
          <form class="row" [formGroup]="createForm">
            <div class="col-4">
              <label>Session</label>&nbsp;<i class="m-loader m-loader--brand" *ngIf="load.session"></i>
              <select class="form-control" formControlName="session_id" (change)="getSessionSemesters(session_id.value)"
                      #session_id>
                <option value=""></option>
                <option *ngFor="let session of allSession" [value]="session?.id">{{ session?.name || session?.year }}
                </option>
              </select>
            </div>
            <div class="col-4">
              <label>Semester</label>&nbsp;<i class="m-loader m-loader--brand" *ngIf="load.semester"></i>
              <select class="form-control" formControlName="semester" (change)="getLecturerCourses()">
                <option value=""></option>
                <option *ngFor="let semester of allSemester" [value]="semester?.semester">{{ semester?.name }}</option>
              </select>
            </div>
            <div class="col-4">
              <label>Course</label>&nbsp;<i class="m-loader m-loader--brand" *ngIf="load.getting_lecturer_courses"></i>
              <select class="form-control" formControlName="curriculum_course_id"
                      (change)="setPermission($event.target.value, lecturerCourses)">
                <option value=""></option>
                <option *ngFor="let course of lecturerCourses" [value]="course?.id">
                  {{ course?.code }} ({{ course?.curriculum?.course_of_study?.code }} {{ course?.level_name }})
                </option>
              </select>
            </div>
          </form>
        </div>
        <div class="mt-4">
          <button type="button" *ngIf="permissions['school.course-management.result.curriculum_course']"
                  [disabled]="createForm.get('curriculum_course_id').invalid || load.requesting.table"
                  (click)="putResult()"
                  class="btn btn-accent m-btn m-btn--pill m-btn--air float-right">
            Submit
            <span *ngIf="load.requesting.table">
              &nbsp;&nbsp; <i class="m-loader m-loader--light"></i>
            </span>
          </button>
        </div>

      </div>
      <div *ngIf="permissions['school.course-management.result.create.multiple'] && createForm.get('curriculum_course_id').valid"
           class="col-md-6 col-sm-12 border-2">
        <div class="manual-upload-container">
          <div class="row">
            <div class="h3">Manual Upload</div>
          </div>
          <div class="row">
            <a class="float-left m-link m-link--accent"
               (click)="downloadTemplate('templateDownload')">
              <i class="flaticon-download"></i>&nbsp;&nbsp;
              Click here to download result template &nbsp;&nbsp;
              <i *ngIf="load.download" class="m-loader m-loader--brand"></i>
            </a>
            <a id="templateDownload" target="_blank" download style="display: none"></a>
          </div>
          <div class="row mt-3"
               *ngIf="permissions['school.course-management.result.upload'] && createForm.get('curriculum_course_id').valid">
            <input class="form-control col-md-8 col-sm-12" type="file" id="fileId">
            <button type="button" class="btn btn-sm btn-accent m-btn--pill m-btn--air pl-2"
                    (click)="uploadResultTemplate('fileId')"
                    [disabled]="load.requesting.table">
              Upload
              <span *ngIf="load.uploading">&nbsp;&nbsp;
                <i class="m-loader m-loader--light"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--*ngFor="let result of allResults; let ind=index"-->
  <div class="m--margin-50"></div>
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-demo">
        <div class="m-demo__preview">
          <div class="m-list-search">
            <div class="m-list-search__results">
              <span class="m-list-search__result-category m-list-search__result-category--first">
                Abbreviations
              </span>
              <div class="row">
                <div class="col-4" *ngFor="let abbr of abbreviations">
                  <span class="m-list-search__result-item m-list-search__result-item-text">
                    {{ abbr.short }} - {{ abbr.long }}.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="table-responsive" *ngIf="allResults.length >= 1">
      <form [formGroup]="addResultForm" id="resultUploadForm">
        <div formArrayName="scores">
          <!--<div *ngFor="let some of addResultForm.controls.scores['controls']; let i = index" [formGroupName]="i">-->
          <table class="table table-hover table-striped table-sm m-table--head-bg-brand m-table--border-brand text-center">
            <thead class="thead-color">
            <tr class="text-center">
              <th class="align-middle">#</th>
              <th class="align-middle">Name</th>
              <!--<th class="align-middle">Last Name</th>-->
              <!--<th class="align-middle">First Name</th>-->
              <!--<th class="align-middle">Other Names</th>-->
              <th class="align-middle">Matric Number</th>
              <th class="align-middle">CA</th>
              <th class="align-middle">Exam</th>
              <th class="align-middle">Total</th>
              <th class="align-middle">Remark</th>
              <th class="align-middle">
                <label class="m-checkbox m-checkbox--light">
                  <input type="checkbox" (change)="resultIdCheckbox($event)" [checked]="miscellaneous.unselect">
                  <span class=""></span>
                </label>
              </th>
              <th class="align-middle">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let some of addResultForm.controls['scores']['controls']; let i = index" [formGroupName]="i">
              <td class="align-middle">{{i+1}}</td>
              <td class="align-middle text-left">
                {{allResults[i]?.student_registration.student.last_name | uppercase}}
                {{allResults[i]?.student_registration.student.first_name | titlecase}}
                {{allResults[i]?.student_registration.student.other_names | titlecase}}
              </td>
              <!--<td class="align-middle">{{allResults[i]?.student_registration.student.last_name | uppercase}}</td>-->
              <!--<td class="align-middle">{{allResults[i]?.student_registration.student.first_name | titlecase}}</td>-->
              <!--<td class="align-middle">{{allResults[i]?.student_registration.student.other_names | titlecase}}</td>-->
              <td class="align-middle">{{allResults[i]?.student_registration.student.matric_no}}</td>
              <td class="align-middle">
                <fieldset [disabled]="!editable && allResults[i]?.result?.result_published > 0">
                  <input type="text" class="" formControlName="ca" value="{{allResults[i]?.result?.ca}}">
                </fieldset>
              </td><!--CA-->
              <td class="align-middle">
                <fieldset [disabled]="!editable && allResults[i]?.result?.result_published > 0">
                  <input type="text" class="" formControlName="exam" value="{{allResults[i]?.result?.exam}}">
                </fieldset>
              </td><!--EXAM-->
              <td class="align-middle">
                <fieldset disabled>
                  <input type="text" class=""
                         value="{{ (((addResultForm.value?.scores[i]?.ca * 1) || allResults[i]?.result?.ca * 1) + ((addResultForm.value?.scores[i]?.exam * 1) || allResults[i]?.result?.exam * 1)) || allResults[i]?.result?.score  }}">
                </fieldset>
              </td><!--SCORE-->
              <td class="align-middle">
                <fieldset [disabled]="!editable && allResults[i]?.result?.result_published > 0">
                  <input type="text" class="" formControlName="comment" value="{{allResults[i]?.result?.comment}}">
                </fieldset>
              </td><!--COMMENT-->
              <td class="align-middle">
                <label class="m-checkbox">
                  <input name="check" type="checkbox">
                  <span class=""></span>
                </label>
              </td><!--CHECKBOX-->
              <td class="align-middle">
                <div class="dropdown">
                  <a class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                     *ngIf="allResults[i]?.result?.result_published < 9 && (dummyPermission.hod || dummyPermission.dean || dummyPermission.senate)"
                     data-toggle="dropdown">
                    <i class="la la-ellipsis-h"></i>
                    <i *ngIf="allResults[i]?.decline" class="m-loader m-loader--primary"></i>
                    <i *ngIf="allResults[i]?.approve" class="m-loader m-loader--primary"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <!--<ng-container *ngIf="allResults[i]?.result?.result_published == 0">-->
                    <!--<p class="dropdown-header m&#45;&#45;regular-font-size-lg2 text-center"> </p>-->
                    <!--</ng-container>&lt;!&ndash;LECTURER&ndash;&gt;-->
                    <ng-container *ngIf="allResults[i]?.result?.result_published == 1 && dummyPermission.hod"
                                  id="school.course-management.result.hodApproval">
                      <p class="dropdown-header m--regular-font-size-lg2 text-center">HOD</p>
                      <a class="dropdown-item" (click)="hodApproval(1, i)">
                        <i class="la la-check-circle-o m--font-success"></i>
                        Approve&nbsp;
                        <i *ngIf="allResults[i]?.approve" class="m-loader m-loader--brand"></i>
                      </a>
                      <a class="dropdown-item" (click)="hodApproval(0, i)">
                        <i class="la la-times-circle-o m--font-danger"></i>
                        Decline&nbsp;
                        <i *ngIf="allResults[i]?.decline" class="m-loader m-loader--brand"></i>
                      </a>
                    </ng-container><!--HOD-->
                    <ng-container *ngIf="allResults[i]?.result?.result_published == 2 && dummyPermission.dean"
                                  id="school.course-management.result.deanApproval">
                      <p class="dropdown-header m--regular-font-size-lg2 text-center">DEAN</p>
                      <a class="dropdown-item" (click)="deanApproval(1, i)">
                        <i class="la la-check-circle-o m--font-success"></i>
                        Approve&nbsp;
                        <i *ngIf="allResults[i]?.approve" class="m-loader m-loader--brand"></i>
                      </a>
                      <a class="dropdown-item" (click)="deanApproval(0, i)">
                        <i class="la la-times-circle-o m--font-danger"></i>
                        Decline&nbsp;
                        <i *ngIf="allResults[i]?.decline" class="m-loader m-loader--brand"></i>
                      </a>
                    </ng-container><!--DEAN-->
                    <ng-container *ngIf="allResults[i]?.result?.result_published == 3 && dummyPermission.senate"
                                  id="school.course-management.result.seneateApproval">
                      <p class="dropdown-header m--regular-font-size-lg2 text-center">SENATE</p>
                      <a class="dropdown-item" (click)="senateApproval(1, i)">
                        <i class="la la-check-circle-o m--font-success"></i>
                        Approve
                      </a>
                      <a class="dropdown-item" (click)="senateApproval(0, i)">
                        <i class="la la-times-circle-o m--font-danger"></i>
                        Decline
                      </a>
                    </ng-container><!--SENATE-->
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <!--<pre>{{ addResultForm.value | json }}</pre>-->
          <!--</div>-->
        </div>
      </form>
    </div>
    <!--<div class="row mb-4" *ngIf="allResults.length > 0">
      <div class="col-12">
        <a class="btn-accent-sm float-right" style="color: white" (click)="addMore()">Add more results</a>
      </div>
    </div>-->
    <ng-container *ngIf="add_extra">
      <form [formGroup]="previousResultForm" class="mt-3">
        <table class="table table-bordered">
          <tr>
            <td><b>#</b></td>
            <td><b>Matric Number</b></td>
            <td><b>CA</b></td>
            <td><b>Exam</b></td>
            <td><b>Total</b></td>
            <td><b>Remark</b></td>
          </tr>
          <ng-container formArrayName="extras">
            <tr *ngFor="let extra of previousResultForm.controls['extras']['controls']; let ind = index;">
              <ng-container [formGroupName]="ind">
                <td>{{ind + 1}}</td>
                <td><input type="text" formControlName="matric_no" value=""></td>
                <td><input type="text" formControlName="ca" value=""></td>
                <td><input type="text" formControlName="exam" value=""></td>
                <td><input disabled type="text"
                           [value]="(previousResultForm.value['extras'][ind]?.ca * 1) + (previousResultForm.value['extras'][ind]?.exam * 1)">
                </td>
                <td><input type="text" formControlName="comment" value=""></td>
              </ng-container>
            </tr>
          </ng-container>
        </table>
      </form>
    </ng-container>
    <div class="form-group m-form__group margin" *ngIf="allResults.length > 0">
      <div class="row">
        <div class="col-sm-6 row ml-1 mt-5">
          <!--<select class="form-control m-input&#45;&#45;solid col-sm-3" (change)="setPermission($event.target.value)">
            <option disabled>Approval Type</option>
            <option value="hod">HOD</option>
            <option value="dean">Dean</option>
            <option value="senate">Senate</option>
            <option value="publish">Publish Result</option>
          </select>-->
          <ng-container *ngIf="dummyPermission.hod">
            <div class="col-sm-7 row">
              <div class="col-3">HOD</div>
              <div class="col-9">
                <button type="button" class="btn btn-success m-btn m-btn--pill m-btn--air"
                        [disabled]="addResultForm.invalid || load.requesting.create"
                        (click)="hodApproveMultiple(1)">
                  Approve
                  <span *ngIf="load.approveMultiple.hod">
                  &nbsp;&nbsp;
                  <i class="m-loader m-loader--light"></i>
                </span>
                </button>
                <button type="button" class="btn btn-danger m-btn m-btn--pill m-btn--air"
                        [disabled]="addResultForm.invalid || load.requesting.create"
                        (click)="hodApproveMultiple(0)">
                  Decline
                  <span *ngIf="load.declineMultiple.hod">
                  &nbsp;&nbsp;
                  <i class="m-loader m-loader--light"></i>
                </span>
                </button>
              </div>
            </div>
          </ng-container>
          <ng-container
                  *ngIf="dummyPermission.dean && permissions['school.course-management.result.deanMultipleApproval']">
            <div class="col-sm-7 row mt-4">
              <div class="col-3">Dean</div>
              <div class="col-9">
                <button type="button" class="btn btn-success m-btn m-btn--pill m-btn--air"
                        [disabled]="addResultForm.invalid || load.requesting.create"
                        (click)="deanApproveMultiple(1)">
                  Approve
                  <span *ngIf="load.approveMultiple.dean">
                  &nbsp;&nbsp; <i class="m-loader m-loader--light"></i>
                </span>
                </button>
                <button type="button" class="btn btn-danger m-btn m-btn--pill m-btn--air"
                        [disabled]="addResultForm.invalid || load.requesting.create"
                        (click)="deanApproveMultiple(0)">
                  Decline
                  <span *ngIf="load.declineMultiple.dean">
                  &nbsp;&nbsp; <i class="m-loader m-loader--light"></i>
                </span>
                </button>
              </div>
            </div>
          </ng-container>
          <ng-container
                  *ngIf="dummyPermission.senate && permissions['school.course-management.result.seneateMultipleApproval']">
            <div class="col-sm-7 row mt-4">
              <div class="col-3">Senate</div>
              <div class="col-9">
                <button type="button" class="btn btn-success m-btn m-btn--pill m-btn--air"
                        [disabled]="addResultForm.invalid || load.requesting.create"
                        (click)="senateApproveMultiple(1)">
                  Approve &nbsp;&nbsp;
                  <i *ngIf="load.approveMultiple.senate" class="m-loader m-loader--light"></i>
                </button>
                <button type="button" class="btn btn-danger m-btn m-btn--pill m-btn--air"
                        [disabled]="addResultForm.invalid || load.requesting.create"
                        (click)="senateApproveMultiple(0)">
                  Decline &nbsp;&nbsp;
                  <i *ngIf="load.declineMultiple.senate" class="m-loader m-loader--light"></i>
                </button>
              </div>
            </div>
          </ng-container>

          <!--*ngIf="dummyPermission.publish && permissions['school.course-management.result.publishMultipleResult']"-->

          <ng-container *ngIf="dummyPermission.publish && permissions['school.course-management.result.publishMultipleResult']">
            <div class="col-sm-7 mt-3">
              <button type="button" class="btn btn-success m-btn m-btn--pill m-btn--air"
                      [disabled]="addResultForm.invalid || load.requesting.create"
                      (click)="publishMultiple(1)">
                Publish Result &nbsp;&nbsp;
                <i *ngIf="load.approveMultiple.publish" class="m-loader m-loader--light"></i>
              </button>

              <button type="button" class="btn btn-warning m-btn m-btn--pill m-btn--air"
                      [disabled]="addResultForm.invalid || load.requesting.create"
                      (click)="publishMultiple(1, false)">
                Unpublish Result &nbsp;&nbsp;
                <i *ngIf="load.approveMultiple?.unpublish" class="m-loader m-loader--light"></i>
              </button>
            </div>
          </ng-container>
        </div>
        <div class="col-sm-2">
          <div class="" *ngIf="authenticatedUser?.group_id.toString() === '1'">
            <label class="m-checkbox">
              <input type="checkbox" #force id="force_upload" (change)="makeEditable()">
              Force Upload
              <span class=""></span>
            </label>
          </div>
        </div>
        <div class="col-sm-4">
          <ng-container *ngIf="permissions['school.course-management.result.create.multiple']">
            <button type="button" class="btn btn-accent m-btn m-btn--pill m-btn--air float-right"
                    [disabled]="previousResultForm.invalid || load.requesting.create"
                    (click)="inputMultipleResult()">
              Upload Results
              <span *ngIf="load.requesting.create">
                &nbsp;&nbsp;<i class="m-loader m-loader--light"></i>
              </span>
            </button>
          </ng-container>
          <ng-container *ngIf="permissions['school.course-management.result.create.multiple']">
            <button type="button" class="mr-2 btn btn-accent m-btn m-btn--pill m-btn--air float-right"
                    [disabled]="previousResultForm.invalid || load.requesting.create"
                    (click)="inputMultipleResult('save')">
              Save
              <span *ngIf="load.requesting.create">
                &nbsp;&nbsp;<i class="m-loader m-loader--light"></i>
              </span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>

    <!--ATTENDANCE SHEETS-->

    <div id="print_area" *ngIf="allResults.length > 0">
      <div class="row mt-5 p-3">
        <div class="col-12 text-center">
          <h3 class=""><b>{{ appSettings?.name }}</b></h3>
          <h6 class="text-underline"><b>EXAM ATTENDANCE SHEET</b></h6>
        </div>
      </div>
      <div class="row">
        <div class="offset-1 col-5">
          <table class="table table-sm" style="width: 100%">
            <tr>
              <td>FACULTY</td>
              <td><b>{{ resultDetails?.faculty }}</b></td>
            </tr>
            <tr>
              <td>DEPARTMENT</td>
              <td><b>{{ resultDetails?.department }}</b></td>
            </tr>
            <tr>
              <td>COURSE OF STUDY</td>
              <td><b>{{ resultDetails?.course_of_study }}</b></td>
            </tr>
            <tr>
              <td>SESSION</td>
              <td><b>{{ resultDetails?.session }}</b></td>
            </tr>
          </table>
        </div>
        <div class="col-5">
          <table class="table table-sm" style="width: 100%">
            <tr>
              <td>SEMESTER</td>
              <td><b>{{ resultDetails?.semester }}</b></td>
            </tr>
            <tr>
              <td>COURSE TITLE</td>
              <td><b>{{ resultDetails?.curriculum_course?.title }}</b></td>
            </tr>
            <tr>
              <td>COURSE CODE</td>
              <td><b>{{ resultDetails?.curriculum_course?.code }}</b></td>
            </tr>
            <tr>
              <td>COURSE CREDIT</td>
              <td><b>{{ resultDetails?.curriculum_course?.unit }}</b></td>
            </tr>
            <!--<tr>
              <td>SESSION</td>
              <td><b></b></td>
            </tr>
            <tr>
              <td>SEMESTER</td>
              <td><b></b></td>
            </tr>-->
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-10 offset-1">
          <div class="row mb-1 border-bottom">
            <div class="col-4">EXAM VENUE:</div>
            <div class="col-4">EXAM DATE:</div>
            <div class="col-4">EXAM TIME:</div>
          </div>
          <div class="row mb-1 border-bottom">
            <div class="col-6">CHIEF INVIGILATOR'S NAME:</div>
            <div class="col-6">DATE AND SIGNATURE:</div>
          </div>
          <div class="row">
            <div class="col-6">NO OF SCRIPTS:</div>
            <div class="col-6">NO OF STUDENTS:</div>
          </div>
        </div>
      </div>
      <table class="table table-hover table-striped table-sm m-table--head-bg-brand m-table--border-brand">
        <thead class="thead-color">
        <tr class="">
          <th class="align-middle">#</th>
          <th class="">Matric Number</th>
          <th class="">Name</th>
          <th class="">Level</th>
          <th class="">Booklet No</th>
          <th class="">Sign In</th>
          <th class="">Sign Out</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of allResults; let i = index">
          <td class="align-middle">{{ i + 1 }}</td>
          <td class="">{{ data?.student_registration?.student.matric_no }}</td>
          <td class="">
            {{ data?.student_registration?.student.last_name | uppercase}}
            {{ data?.student_registration?.student.first_name | titlecase}}
            {{ data?.student_registration?.student.other_names | titlecase}}
          </td>
          <td class="">{{ data?.student_registration?.student?.level?.name }}</td>
          <td class=""></td>
          <td class=""></td>
          <td class=""></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
