<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Debtor's List
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item"
            *ngIf="appSettings && (appSettings?.name.toLowerCase().includes('bowen') || appSettings?.name.toLowerCase().includes('crysto'))">
          <div class="col-md-12 col-sm-12 border-2">
            <div class="m--padding-20">
              <div class="row">
                <div class="h3">Debtor's List Upload</div>
              </div>
              <div class="row">
                <a class="float-left m-link m-link--accent"
                   (click)="downloadDebtorsListTemplate('debtor_list')">
                  <i class="flaticon-download"></i>&nbsp;&nbsp;
                  Click here to download template &nbsp;&nbsp;
                  <i *ngIf="loader.downloading" class="m-loader m-loader--brand"></i>
                </a>
                <a id="debtor_list" target="_blank" download style="display: none"></a>
              </div>
              <div class="row mt-3">
                <input class="form-control col-md-8 col-sm-12" type="file" id="fileId">
                <button type="button" class="btn btn-sm btn-accent m-btn--pill m-btn--air pl-2"
                        (click)="uploadDebtorsList('fileId')"
                        [disabled]="loader.uploading">
                  Upload
                  <span *ngIf="loader.uploading">&nbsp;&nbsp;<i class="m-loader m-loader--light"></i></span>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="table-responsive pt-5">
      <table datatable [dtTrigger]="dtTrigger" class="table" id="">
        <thead class="">
        <tr class="">
          <th>#</th>
          <th title="Name">Name</th>
          <th title="Matric No">Matric Number</th>
          <!--<th title="Course of Study">Course of Study</th>-->
          <th title="Amount">Amount</th>
          <th>Date Created</th>
          <th>Date Updated</th>
          <th title="Action">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="loader.loading || debtorsList.length === 0" class="text-center">
          <td colspan="6" *ngIf="loader.loading">
            Loading... &nbsp;&nbsp;<i class="m-loader m-loader--brand"></i>
          </td>
          <td colspan="6" *ngIf="!loader.loading && debtorsList.length === 0">
            No Record Found
          </td>
        </tr>
        <tr *ngFor="let debtor of debtorsList; let i = index">
          <td>{{i + 1}}</td>
          <td>{{ debtor?.name?.full_name }}</td>
          <td>{{ debtor?.matric_no }}</td>
          <!--<td>{{ debtor?.course_of_study?.name }}</td>-->
          <td>{{ debtor?.amount || '' }}</td>
          <td>{{ debtor?.created_at | date }}</td>
          <td>{{ debtor?.updated_at | date }}</td>
          <td>
            <a class="" (click)="removeDebtor(debtor, i)">
              <i *ngIf="!debtor?.deleting" class="la la-trash"></i>
              <i *ngIf="debtor?.deleting" class="fa fa-spinner fa-spin"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
