<div class="m-page--wide m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default">
  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- begin::Header -->
    <header class="m-grid__item		m-header" data-minimize="minimize" data-minimize-offset="200"
            data-minimize-mobile-offset="200">
      <div class="m-header__top">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- begin::Brand -->
            <div class="m-stack__item m-brand">
              <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                  <a href="index.html" class="m-brand__logo-wrapper">
                    <img alt="University Logo" [src]="appSettings['logo']" style="width:90px"
                         *ngIf="appSettings?.logo">
                    <img alt="University Logo" src="assets/images/logos/Fav.png" style="width:90px"
                         *ngIf="!appSettings?.logo">
                  </a>
                </div>
                <div style="margin-left:30%;margin-top:3%; position: absolute">
                  <h2>{{appSettings?.name || schoolName}}</h2>
                </div>
              </div>
            </div>
            <!-- end::Brand -->
            <!-- begin::Topbar -->

            <!-- end::Topbar -->
          </div>
        </div>
      </div>
      <div class="m-header__bottom" [ngStyle]="setHeaderColor()">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- begin::Horizontal Menu -->
            <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
              <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
                      id="m_aside_header_menu_mobile_close_btn">
                <i class="la la-close"></i>
              </button>
              <div id="m_header_menu"
                   class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">


                <h3 id="open_head">
                  Password Reset
                </h3>
              </div>
            </div>
            <!-- end::Horizontal Menu -->
            <!--begin::Search-->
            <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-"
                 id="m_quicksearch" data-search-type="default">
              <!--begin::Search Form -->
              <!--end::Search Form -->
              <!--begin::Search Results -->
              <div class="m-dropdown__wrapper">
                <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                <div class="m-dropdown__inner">
                  <div class="m-dropdown__body">
                    <div class="m-dropdown__scrollable m-scrollable" data-max-height="300"
                         data-mobile-max-height="200">
                      <div class="m-dropdown__content m-list-search m-list-search--skin-light">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Search Results -->
            </div>
            <!--end::Search-->
          </div>
        </div>
      </div>
    </header>


    <div id="feedback_container">
      <div *ngIf="passwordFeedBack?.loader">
        <div class="container">
          <div class="item item-1"></div>
          <div class="item item-2"></div>
          <div class="item item-3"></div>
          <div class="item item-4"></div>
        </div>
      </div>
      <div class="animated slideInDown" *ngIf="!passwordFeedBack?.loader">
        <div class="modal-content">
          <div>

            <form class="like-m_form--2 m-login__form m-form" [formGroup]="changePasswordForm"
                  (ngSubmit)="resetPassword()" *ngIf="!codeError">
              <div class="modal-header">
                <h5>Welcome, <span style="color: green">{{userName}}</span></h5>
              </div>

              <div class="modal-body">
                <div class="form-group m-form__group">
                  <input formControlName="password" class="form-control m-input" type="password"
                         placeholder="New Password"
                         name="password" autocomplete="off">
                </div>
                <div class="form-group m-form__group">
                  <input formControlName="password_confirmation"
                         class="form-control m-input m-login__form-input--last"
                         type="password" placeholder="Confirm New Password" name="confirm_password">
                  <span style="color: red" *ngIf="confirmationError">Passwords Mismatch!</span>

                </div>
              </div>
              <div class="modal-footer">
                <div class="m-login__form-action">
                  <!--(click)="signin()" [disabled]="loginForm.invalid"-->
                  <button id="m_login_signin_submit"
                          class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air"
                          type="submit" [disabled]="changePasswordForm.invalid || loading">
                    Submit &nbsp;&nbsp;<i class="m-loader m-loader--right m-loader--light"
                                          *ngIf="loading"></i>
                  </button>
                </div>
              </div>
            </form>

            <div class="card" *ngIf="codeError" style="min-height: 200px;color:red">
                            <span class="text-center m--padding-top-45m--padding-top-45"><img
                                    src="assets/images/logos/error_img.jpg" width="90px"></span>
              <h6 class="text-center">{{errorMessage|titlecase}}</h6>

              <div class="container" style="margin-top: 150px;margin-left: 230px ">
                <div class="pull-right">
                  <button class="btn btn-md btn-info"
                          (click)="setRouteParam(userType)">
                    <i class="fa fa-chevron-left"></i> Go Back
                  </button>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>


  </div>

</div>

<div class="containerX animated slideInDown" *ngIf="payChoiceDiv">
  <div class="card well" *ngIf="!passwordFeedBack?.loader">
    <div class="row">

      <div class="col-12">
        <div class="panel">

          <div class="panel panel-heading panel-white">
            <h4 class="panel-title">
              <span> Transaction ID:</span> <label>{{paychoiceTransaction?.tid['0']}}</label>

            </h4>
            <small>Please copy this ID and click on the link below</small>
          </div>
          <div class="panel panel-body">
            <div class="row">
              <div class="col-12 text-center">
                <a class="m-link" target="_blank"
                   [attr.href]="paychoiceTransaction?.url"><b>Click
                  Here to Proceed</b> <i class="la la-chevron-right"></i></a>
              </div>

              <!--<div class="col-8">-->
              <!--<a class="m-link" target="_blank" [attr.href]="paychoiceTransaction?.url">{{paychoiceTransaction?.url}}</a>-->
              <!--</div>-->
            </div>


            <!--<p>-->
            <!--<label>Card Type:</label> {{passwordDetails?.authorization?.card_type}}-->
            <!--</p>-->

            <!--<p>-->
            <!--<label>Amount:</label> {{passwordDetails?.amount |number}}-->
            <!--</p>-->
          </div>
          <!--<div>-->
          <!--<p class="text-center" style="color: green">-->

          <!--<label>password Successful!</label> <i class="fa fa-check-circle-o fa-3x">-->

          <!--</i>-->
          <!--</p>-->
          <!--</div>-->
        </div>
        <div class="pull-right">
          <a class="btn btn-info" style="color:white; margin-top:10px !important"
             (click)="goBackToOrigin()">
            <i class="la la-chevron-circle-left"></i>
            Go Back
          </a>
          <!-- <span class="glyphicon glyphicon-chevron-left"></span>Previous Page -->
        </div>
      </div>

    </div>

  </div>

</div>
<div class="containerX animated slideInDown" *ngIf="transactionFailed">
  <div class="card well" *ngIf="!passwordFeedBack?.loader">
    <div class="row">

      <div class="col-12">
        <div class="panel">

          <div class="panel panel-heading panel-white">
            <p class="panel-title">
              <label>Transaction Error</label>

            </p>
          </div>
          <div>
            <p class="text-center" style="color: red">

              <label>Your password Failed!</label> <i class="fa fa-times fa-3x">

            </i>
            </p>
          </div>
        </div>
        <div class="pull-right">
          <a class="btn btn-info" style="color:white; margin-top:10px !important"
             routerLink="../">
            <i class="la la-chevron-circle-left"></i>
            Go Home</a>
          <!-- <span class="glyphicon glyphicon-chevron-left"></span>Previous Page -->
        </div>
      </div>

    </div>

  </div>

</div>
