<!-- Modal -->
<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.moduleName}} Details</h4>
      </div>
      <div class="modal-body" *ngIf="feedBack?.viewDetails">
        <div class="m-portlet__body">
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Name:
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails.name}}
            </div>
          </div>
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Code:
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails.code}}
            </div>
          </div>
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Faculty:
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails?.faculty?.name}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          <span id="reportName" (click)="navigateToReport()">Reports/ Transaction </span>{{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools" *ngIf="feedBack?.allCourseofStudy?.length > 0">
      <div class="form-group m-form__group row" style="padding-bottom: 1px; float: right !important;">
        <div class="col-6 col-form-label">
          Course of Study
        </div>
        <select class="form-control m-input" (change)="onSelectDept($event)">
          <option></option>
          <option *ngFor="let cos of feedBack?.allCourseofStudy" [value] = "cos?.id">{{cos?.name}}</option>
        </select>
      </div>
    </div>

  </div>

  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
    <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th title="Field #1" class="serialnum">
          #
        </th>
        <th title="Field #2">
          Title
        </th>
        <th title="Field #2">
          Code
        </th>
        <th title="Field #2">
          Unit
        </th>
        <th title="Field #2">
          Level
        </th>
        <th title="Field #3">
          Created Date
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feedBack?.allResponse; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.title}}</td>
        <td>{{data?.code}}</td>
        <td>{{data?.unit}}</td>
        <td>{{data?.level?.name}}</td>
        <td>{{data?.created_at | date}}</td>
      </tr>
      <tr>
        <td colspan="6" *ngIf="feedBack.loader">
          <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="6" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>
</div>

