#programme_form {
    margin-left: 30%;
    position: absolute;
    margin-top: 20px
}

@media print {
    #letter_area {
        background-color: skyblue;
    -webkit-print-color-adjust:exact;
    }
}

#letter_area{
    background-color: skyblue;
}
