<div class="m-portlet m-portlet--mobile ">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Admission Letter Previews
        </h3>
        <form [formGroup]="admissionLetter" id="programme_form">
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <div class="col-lg-6">
              <!--<label for="course">Select Admission Letter Template</label>-->
              <select class="form-control" formControlName="programme_id" #ck_programme
                      (change)="showInput(ck_programme.value)">
                <option value="" disabled> Programme</option>
                <option *ngFor="let programme of allProgrammes; let ind =index"
                        value="{{programme?.id}}">
                  {{programme?.name}}
                </option>
              </select>
            </div>

            <div class="col-lg-6">
              <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air pull-right"
                      (click)="printLetter('letter_preview')">
                <i class="la la-print"></i>
                Print Letter &nbsp; <i *ngIf="feedBack.print_loader" class="m-loader m-loader--light"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--background: url('assets/images/logos/logo-1.png'); background-size: cover-->
  <div class="m-portlet__body">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">

        <div class="m-portlet container" id="letter_preview" [ngStyle]="setLetterLogo()">
          <div [innerHTML]="ckeditorContent |noSanitize" #content>
          </div>

        </div>


      </div>
      <div class="col-2"></div>
    </div>
  </div>

</div>


<!--<embed-->
<!--type="application/pdf"-->
<!--src="testLetter.pdf"-->
<!--id="pdfDocument"-->
<!--width="100%"-->
<!--height="100%"/>-->
