<div id="createPayment" class="modal fade" role="dialog">
  <form [formGroup]="customPayForm" (ngSubmit)="payApplicationFee()">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Pay Application Fee</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','createPayment')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="pay_amount">Amount:</label>
                <input class="form-control" formControlName="amount" id="pay_amounts" type="number"
                       value="{{applicationAmount}}" readonly disabled>
              </div>
              <div class="col-md-6">

                <label for="domain">Payment Method:</label>
                <select class="form-control" id="domains" value="Custom"
                        formControlName="payment_method">
                  <option value="" disabled>
                    Select Payment Method
                  </option>
                  <option *ngFor="let paymentMethod of allPaymentMethods" value="{{paymentMethod}}">
                    {{paymentMethod}}
                  </option>
                </select>
                <div style="display: none">
                  <button id="paystack" type="button"
                          angular4-paystack
                          [key]="'pk_test_e6bf932293213285015f62e619ea6f8a42786c7d'"
                          [email]="'mailexample@mail.com'"
                          [amount]="5000000"
                          [ref]="paystackRef"
                          [class]="'btn btn-primary'"
                          (close)="paystackPaymentCancel()"
                          (callback)="paystackPaymentDone($event)"
                  >Pay with Paystack
                  </button>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-accent btn-success m-btn m-btn--air m-btn--custom m-btn--pill"
                  [disabled]="customPayForm.invalid || load.requesting.create">{{load.message.create}} Payment &nbsp;&nbsp;
            <i *ngIf="load.requesting.create" class="m-loader m-loader--light"></i>
          </button>

          <button type="button"
                  class="btn btn-accent btn-danger btn-sm m-btn m-btn--air m-btn--custom m-btn--pill"
                  (click)="triggerModalOrOverlay('close','createPayment')">Close
          </button>

        </div>
      </div>
    </div>
  </form>
</div>
<div id="paystackView" class="modal fade" role="dialog">

  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Pay Stack Payment</h4>
        <button class="close" type="button" (click)="triggerModalOrOverlay('close','paystackView')">
          &times;
        </button>

      </div>
      <div class="modal-body" id="documentIframe">

      </div>
    </div>
    <div class="modal-footer">

      <button type="button"
              class="btn btn-accent btn-danger btn-sm m-btn m-btn--air m-btn--custom m-btn--pill"
              (click)="triggerModalOrOverlay('close','paystackView')">Close
      </button>

    </div>
  </div>
</div>


<div id="acceptanceFeePayment" class="modal fade" role="dialog">
  <form [formGroup]="acceptanceFeeForm" (ngSubmit)="payAcceptanceFee()">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Pay Acceptance Fee</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','acceptanceFeePayment')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="pay_amount">Amount:</label>
                <input class="form-control" formControlName="amount" id="pay_amount" type="number"
                       value="{{acceptanceFeeAmount}}" readonly disabled>
              </div>
              <div class="col-md-6">

                <label for="domain">Payment Method:</label>
                <select class="form-control" id="domain" value="Custom"
                        formControlName="payment_method">

                  <option *ngFor="let paymentMethod of allPaymentMethods" value="{{paymentMethod}}">
                    {{paymentMethod}}
                  </option>
                </select>


                <!--<input class="form-control" id="domain" value="Custom" formControlName="payment_method" disabled readonly>-->
              </div>

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-accent btn-success m-btn m-btn--air m-btn--custom m-btn--pill"
                  [disabled]="acceptanceFeeForm.invalid || load.requesting.create">{{load.message.create}}
            Payment
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>

          <button type="button"
                  class="btn btn-accent btn-danger btn-sm m-btn m-btn--air m-btn--custom m-btn--pill"
                  (click)="triggerModalOrOverlay('close','acceptanceFeePayment')">Close
          </button>

        </div>
      </div>
    </div>
  </form>
</div>

<form method='POST' action='{{ETRANSACT_URL}}' id="etransact_submit">
  <input type=hidden name='TERMINAL_ID' value='{{etransactObject.TERMINAL_ID}}'>
  <input type=hidden name='TRANSACTION_ID' value='{{etransactObject.TRANSACTION_ID}}'>
  <input type=hidden name='RESPONSE_URL' value='{{etransactObject.RESPONSE_URL}}'>
  <input type=hidden name='AMOUNT' value='{{etransactObject.AMOUNT}}'>
  <input type=hidden name='LOGO_URL' value='{{etransactObject.LOGO_URL}}'>
  <input type=hidden name='NOTIFICATION_URL' value='{{etransactObject.NOTIFICATION_URL}}'>
  <input type=hidden name='CHECKSUM' value='{{etransactObject.CHECKSUM}}'>
  <input type=hidden name='COL1' value='{{etransactObject.COL1}}'>
</form>


<div class="m-portlet__body table-responsive pl-4" *ngIf="eBillsPay?.id">
  <div class="m-portlet__head-title m-portlet" id="ebillsSlip">
    <div class="container">
      <h4 class="text-center mt-4"> {{school?.name | titlecase}}</h4>

      <h6 class="text-center">EbillsPay Transaction Details</h6>
      <p class="m-portlet__head-text">
        <b>Name:</b> {{activeApplicant?.name || activeApplicant?.full_name}}
      </p>

      <p class="m-portlet__head-text">
        <b>Amount:</b> {{eBillsPay?.amount |number:'1.2-2'}}
      </p>


      <p class="m-portlet__head-text">
        <b>Description:</b> {{feeDescription}}
      </p>

      <p class="m-portlet__head-text">
        <b>EbillsPay TransactionId:</b> {{eBillsPay?.id}}
      </p>
      <small class="proceed">Please proceed to bank with the above transaction details.</small>
      <br>
      <br>
    </div>
  </div>
  <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
          (click)="printSlip('ebillsSlip','EbillsPay Transaction Slip')"><i class="fa fa-print"></i> Print
    Slip
  </button>
</div>

<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <div class="row">

              <div class="col-md-4">
                <h4 class="pull-left">Payment Board</h4>
              </div>
              <div class="col-md-4">
                <label style="font-size: 14px">
                  Admission Status:
                </label>
                &nbsp;
                &nbsp;
                &nbsp;
                <span *ngIf="activeApplicant?.admission_status.toString()==='0'">Not yet offered</span>
                <span *ngIf="activeApplicant?.admission_status.toString()==='1'" style="color: green"
                      class="animated slideInRight">Admitted!</span>
              </div>
              <div class="col-md-4">
                <button type="submit" *ngIf="activeApplicant?.payment_status.toString()==='0'"
                        class="btn btn-accent btn-warning m-btn m-btn--air m-btn--custom m-btn--pill pull-right"
                        (click)="triggerModalOrOverlay('open','createPayment')"
                        [disabled]="activeApplicant?.payment_status.toString()==='1'"><i
                  class="la la-money"></i>
                  <!--<button (click)="triggerModalOrOverlay('open','createPayment')">-->
                  Pay Application Fee
                </button>

                <button type="submit"
                        *ngIf="activeApplicant?.acceptance_fee_status.toString()==='0' && activeApplicant?.admission_status.toString()=== '1'"
                        class="btn btn-accent btn-warning m-btn m-btn--air m-btn--custom m-btn--pill pull-right"
                        (click)="triggerModalOrOverlay('open','acceptanceFeePayment')"
                        [disabled]="(activeApplicant?.admission_status.toString()==='0')|| (activeApplicant?.acceptance_fee_status.toString()=== '1' && activeApplicant?.admission_status.toString()==='1')">
                  <i class="la la-money"></i>
                  <!--<button (click)="triggerModalOrOverlay('open','acceptanceFeePayment')">-->
                  Pay Acceptance Fee
                </button>
              </div>
            </div>

            <div>

            </div>

          </div>
        </div>
        <div class="container">
          <div id="pad_top">

            <div class="form-group m-form__group row">
              <label class="col-2 col-form-label">
                Full Name:
              </label>
              <div class="col-7">
                {{activeApplicant?.name}}
              </div>
            </div>
            <hr>
            <div class="form-group m-form__group row" *ngIf="activeApplicant?.reg_no">
              <label class="col-2 col-form-label">
                Jamb Reg No:
              </label>
              <div class="col-7">
                {{activeApplicant?.reg_no || '----'}}
              </div>
            </div>
            <hr>
            <div class="form-group m-form__group row">
              <div class="col-6">
                <div class="row">
                  <div class="col-4">
                    <label>Application Fee:</label>
                  </div>

                  <div class="col-8">
                    <p>{{applicationAmount | number}} Naira</p>
                  </div>
                </div>

              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-4">
                    <label>Status:</label>
                  </div>

                  <div class="col-8">
                    <div class="pull-left">
                                           <span *ngIf="activeApplicant?.payment_status.toString()==='0'">
                                            Not Paid &nbsp;&nbsp;&nbsp;<i class="la la-times text-danger"></i>
                                        </span>
                      <span *ngIf="activeApplicant?.payment_status.toString()==='1'">
                                            Paid &nbsp;&nbsp;&nbsp;<i class="la la-check text-success"></i>
                                        </span>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <hr *ngIf="activeApplicant?.admission_status.toString()==='1'">
            <div class="form-group m-form__group row" *ngIf="activeApplicant?.admission_status.toString()==='1'">


              <div class="col-6">
                <div class="row">
                  <div class="col-4">
                    <label>Acceptance Fee:</label>
                  </div>

                  <div class="col-8">
                    <p>{{acceptanceFeeAmount | number}} Naira</p>
                    <!--you must change this to acceptanceAmount -->
                  </div>
                </div>

              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-4">
                    <label>Status:</label>
                  </div>

                  <div class="col-8">
                    <div class="pull-left">
                                         <span *ngIf="activeApplicant?.acceptance_fee_status.toString()==='0'">
                                            Not Paid &nbsp;&nbsp;&nbsp;<i class="la la-times" style="color: red"> </i>
                                        </span>
                      <span *ngIf="activeApplicant?.acceptance_fee_status.toString()==='1'">
                                            Paid &nbsp;&nbsp;&nbsp;<i class="la la-check" style="color: green"> </i>
                                        </span>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!--<a id="paystack" style="display: none"></a>-->
            <!--<a id="paystack" style="display: none" target="_blank"></a>-->

            <!--<div class="form-group m-form__group row">-->
            <!--<label for="example-text-input"-->
            <!--class="col-2 col-form-label">-->
            <!--Application For:-->
            <!--</label>-->
            <!--<div class="col-7">-->
            <!--<p>{{applicationName}}</p>-->

            <!--</div>-->
            <!--</div>-->

            <!--<div class="m-form__seperator m-form__seperator&#45;&#45;dashed m-form__seperator&#45;&#45;space-2x mt-lg-5"></div>-->
            <div>
              <div class="">
                <a href="https://paystack.com/">
                  <img src="assets/images/logos/paystack.png" alt="Paystack Logo" width="100px" height="auto">
                </a>
                <a href="https://www.quickteller.com/">
                  <img src="assets/images/logos/paychoice.png" alt="Paychoice Logo" width="100px" height="auto">
                </a>
                <a href="https://www.etranzact.com/">
                  <img src="assets/images/logos/etranzact.png" alt="Etranzact Logo" width="100px" height="auto">
                </a>
              </div>
            </div>
          </div>
          <div class="m-portlet__head mt-5 pt-5 pb-3">
            <h3>Transaction History</h3>
          </div>
          <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
            <thead class="thead-color">
            <tr>
              <th>#</th>
              <th>Transaction ID</th>
              <!--<th>Payment Method</th>-->
              <th>Amount</th>
              <th>Status</th>
              <th>Date Generated</th>
              <th>Date Paid</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fee of activeApplicant?.applicant_transactions; let i = index">
              <td class="align-middle">{{i+1}}</td>
              <td class="align-middle">{{fee?.transaction_key}}</td>
              <!--<td class="align-middle">{{fee?.payment_method}}</td>-->
              <td class="align-middle">{{fee?.transaction_amount | currency: '&#8358;'}}</td>
              <td>
                <span class="text-warning" *ngIf="fee?.transaction_status.toString() === '2'">PENDING</span>
                <span class="text-danger" *ngIf="fee?.transaction_status.toString() === '0'">FAILED</span>
                <span class="text-success" *ngIf="fee?.transaction_status.toString() === '1'">COMPLETED</span>
              </td>
              <td class="align-middle">{{fee?.created_at | date}}</td>
              <td class="align-middle">{{fee?.updated_at | date}}</td>
              <td class="align-middle">
                <button (click)="makeReQuery(fee?.transaction_key, i)" class="btn btn-accent-sm"
                        *ngIf="fee?.transaction_status.toString() === '2'">
                  <i class="fa fa-refresh" [class.fa-spin]="fee?.loading"></i>&nbsp;
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
