<div class="m-portlet container mt-5">

  <div class="text-center pt-3">
    <h4> {{(appSettings?.name | titlecase)}} Student Result Check</h4>
    <hr>
  </div>

  <form [formGroup]="studentDetailsForm" (ngSubmit)="getResultForParentView()">
    <div class="row my-3 py-2">
      <div class="col-3">
        <label>Date of Birth:</label>
        <input class="form-control" type="date" formControlName="dob">
      </div>
      <div class="col-3">
        <label>Matric No:</label>
        <input class="form-control" formControlName="matric_no">
      </div>
      <div class="col-3">
        <label>Surname:</label>
        <input class="form-control" formControlName="surname">
      </div>
      <div class="col-3 mt-4">
        <button class="btn btn-accent m-btn--pill m-btn--air" type="submit" [disabled]="studentDetailsForm.invalid">
          Submit
          <ng-container *ngIf="loadingResult">
            &nbsp;&nbsp;
            <i class="m-loader m-loader--light"></i>
          </ng-container>
        </button>
      </div>
    </div>
  </form>

</div>


<div class="row mt-3">
  <div class="col-sm-10 offset-sm-1" id="transcript">
    <div *ngIf="showResults">
      <div class="row">
        <div class="col-12 headered">
          <h3 class="text-center text-uppercase">
            {{(appSettings?.name | uppercase)}}
          </h3>
          <p class="text-center">{{(appSettings?.settings?.subtitle | uppercase)}}</p>
        </div>
      </div>
      <span class="small-margin"></span>
      <hr>
      <div class="row">
        <div class="col-4">
          <p class="text-uppercase"><b>Vice Chancellor</b></p>
          <p>{{appSettings?.settings?.vc_name}}</p>
        </div>
        <div class="col-4 m--img-centered">
          <img [src]="appSettings?.settings?.logo || 'assets/images/logos/Fav.png'" class="logo-img"
               alt="University Logo">
          <!--<img src="assets/images/logos/Fav.png" *ngIf="!appSettings?.settings.logo" style="max-width: 100%; height: auto; margin-top: 100px">-->
        </div>
        <div class="col-1"></div>
        <div class="col-3">
          <p class="text-uppercase"><b>Office of the Registrar</b></p>
          <p>{{appSettings?.settings?.registrar_name}}</p>
          <!--<p>Dr. Makanjuola</p>-->
        </div>
      </div>
      <span class="small-margin"></span>
      <hr>
      <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
          <h3 class="text-center">STUDENT ACADEMIC RECORD</h3>
        </div>
        <div class="col-sm-12 col-md-3">
          <img class="logo-img"
               [src]="viewedStudent?.passport ? viewedStudent?.passport : ((viewedStudent?.gender.toLowerCase()) === 'male' ? 'assets/images/users/blank_male.jpg' : 'assets/images/users/blank_female.jpg')">
        </div>
      </div>
      <div class="my-4 mb-5">
        <div class="row border py-2">
          <div class="col-md-6 col-sm-6 col-xs-12 row">
            <div class="col-5">NAME:</div>
            <b class="col-7">
              {{ viewedStudent?.last_name }}
              {{ viewedStudent?.first_name }}
              {{ viewedStudent?.other_names }}
            </b>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 row">
            <div class="col-5">MATRIC NUMBER:</div>
            <b class="col-7">{{ viewedStudent?.matric_no }}</b>
          </div>
        </div>
        <div class="row border py-2">
          <div class="col-md-6 col-sm-6 col-xs-12 row">
            <div class="col-5">FACULTY:</div>
            <b class="col-7">{{ viewedStudent?.course_of_study?.department?.faculty?.name || 'Not Captured' }}</b>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 row">
            <div class="col-5">DEPARTMENT:</div>
            <b class="col-7">{{studentInfo?.course_of_study?.department?.name || 'Not captured' }}</b>
          </div>
        </div>
        <div class="row border py-2">
          <div class="col-md-6 col-sm-6 col-xs-12 row">
            <div class="col-5">COURSE OF STUDY:</div>
            <b class="col-7">{{ studentInfo?.course_of_study?.name }}</b>
          </div>
        </div>
      </div>
      <div class="mb-5 pb-3 border-bottom" *ngFor="let session_results of allViewedResults">
        <div class="mb-5 pb-3" *ngFor="let semester_result of session_results?.semestersData">
          <div class="row mb-4">
            <div class="col">
              Session: <b class="ml-3">{{ session_results?.session?.session_name }}</b>
            </div>
            <div class="col">
              Level: <b class="ml-3">{{ session_results?.current_level || session_results?.level?.name }}</b>
            </div>
            <div class="col">
              Semester: <b class="ml-3">{{ semester_result?.semester_info?.name }}</b>
            </div>
          </div>
          <table class="table table-hover table-striped table-bordered">
            <thead class="m-datatable__head">
            <tr class="">
              <th>#</th>
              <th>Course Title</th>
              <th>Course Code</th>
              <th>Course Type</th>
              <th>Course Credit</th>
              <th>CA</th>
              <th>Exam</th>
              <th>Total Score</th>
              <th>Grade</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr class="m-datatable__row" *ngIf="(allViewedResults.length === 0) && (!loadingResult)">
              <td class="text-center" colspan="10">No results were found for {{viewedStudent?.first_name}}</td>
            </tr>-->
            <tr class="m-datatable__row" *ngFor="let result of semester_result?.result; let ind=index">
              <td data-field="Data Index"><span>{{ind+1}}</span></td>
              <td>{{result?.curriculum_course?.title}}</td>
              <td>{{result?.curriculum_course?.code}}</td>
              <td>{{result?.type}}</td>
              <td>{{result?.cu}}</td>
              <td>{{result?.ca}}</td>
              <td>{{result?.exam}}</td>
              <td [ngStyle]="setGradeColor(result?.score)">{{result?.score}}</td>
              <td [ngStyle]="setGradeColor(result?.score)">{{result?.grade}}</td>
            </tr>
            <tr>
              <td><i>TC</i></td>
              <td><i>TWGP</i></td>
              <td colspan="2"><i>GPA</i></td>
              <td colspan="2"><i>CTC</i></td>
              <td colspan="2"><i>CTWGP</i></td>
              <td><i>CGPA</i></td>
            </tr>
            <tr>
              <td>{{ computeStuff(semester_result?.result, 'cu') }}</td>
              <td>{{ computeStuff(semester_result?.result, 'cp') }}</td>
              <td colspan="2">{{ (computeStuff(semester_result?.result, 'cp') / computeStuff(semester_result?.result,
                'cu')) | number : '1.1-2'}}
              </td>
              <td colspan="2">{{ semester_result?.current_tc }}</td>
              <td colspan="2">{{ semester_result?.current_twgp }}</td>
              <td>{{ (semester_result?.current_twgp / semester_result?.current_tc) | number : '1.1-2' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--<div>
        <div class="row mb-4">
          <div class="col">
            Session: <b class="ml-3">{{ allViewedResults?.last_registration?.session_name || allViewedResults?.last_registration?.session_year }}</b>
          </div>
          <div class="col">
            Level: <b class="ml-3">{{ allViewedResults?.last_registration?.level?.name }}</b>
          </div>
          <div class="col">
            Semester: <b class="ml-3">{{ allViewedResults?.last_registration?.semesterName }}</b>
          </div>
        </div>
        <table class="table table-hover table-striped table-bordered">
          <thead class="">
          <tr class="m-datatable__row">
            <th>#</th>
            <th>Course Title</th>
            <th>Course Code</th>
            <th>Course Type</th>
            <th>Course Credit</th>
            <th>CA</th>
            <th>Exam</th>
            <th>Total Score</th>
            <th>Grade</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          &lt;!&ndash;<tr class="m-datatable__row" *ngIf="(allViewedResults.length === 0) && (!loadingResult)">
            <td class="text-center" colspan="10">No results were found for {{viewedStudent?.first_name}}</td>
          </tr>&ndash;&gt;
          <tr class="m-datatable__row" *ngFor="let result of allViewedResults?.result; let ind=index">
            <td data-field="Data Index"><span>{{ind+1}}</span></td>
            <td>{{result?.curriculum_course?.title}}</td>
            <td>{{result?.curriculum_course?.code}}</td>
            <td>{{result?.type}}</td>
            <td>{{result?.cu}}</td>
            <td>{{result?.ca}}</td>
            <td>{{result?.exam}}</td>
            <td [ngStyle]="setGradeColor(result?.score)">{{result?.score}}</td>
            <td [ngStyle]="setGradeColor(result?.score)">{{result?.grade}}</td>
            <td [ngStyle]="setGradeColor(result?.score)">
              {{result?.status | uppercase}}
            </td>
          </tr>
          </tbody>
        </table>
        <table class="table table-sm black-text text-center">
          <tr>
            <th><b>TC</b></th>
            <th><b>TWGP</b></th>
            <th><b>GPA</b></th>
            <th><b>CTC</b></th>
            <th><b>CTWGP</b></th>
            <th><b>CGPA</b></th>
          </tr>
          <tr>
            <td>{{ allViewedResults?.tcp }}</td>
            <td>{{ allViewedResults?.twgp }}</td>
            <td>{{ allViewedResults?.cgpa_current | number : '1.1-2' }}</td>
            <td>{{ allViewedResults?.tcp_prev }}</td>
            <td>{{ allViewedResults?.twgp_prev }}</td>
            <td>{{ allViewedResults?.cgpa | number : '1.1-2' }}</td>
          </tr>
        </table>
      </div>-->
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="center">
    <button class="btn btn-accent m-btn--pill m-btn--air float-right mr-3 ml-auto"
            *ngIf="showResults" [disabled]="load.printing"
            (click)="almightyPrint('transcript', viewedStudent.last_name + '\'s Transcript')">
      <i class="la la-print"></i>
      Print
    </button>
  </div>

</div>