<!-- Modal -->
<!--<div id="filterModal" class="modal fade" role="dialog">-->
  <!--<div class="modal-dialog">-->

    <!--&lt;!&ndash; Modal content&ndash;&gt;-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<h4 class="modal-title">Filter Hostel Session</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--&lt;!&ndash;begin::Form&ndash;&gt;-->
        <!--&lt;!&ndash;end::Form&ndash;&gt;-->
        <!--<form [formGroup] = "filterForm" class="m-form m-form&#45;&#45;fit m-form&#45;&#45;label-align-right">-->
          <!--<div class="m-portlet__body">-->
            <!--<div class="form-group m-form__group row" style="padding-bottom: 1px;">-->
              <!--<label class="col-4 col-form-label">-->
                <!--<span class="styleStar">*</span> Hostel-->
              <!--</label>-->
              <!--<div class="col-lg-8 col-md-8 col-sm-12">-->
                <!--<select class="form-control" formControlName="hostel_id">-->
                   <!--<option></option>-->
                   <!--<option *ngFor="let hostel of feedBack?.allHostels" [value]="hostel?.id">{{hostel?.hostel_name}}</option>-->
                <!--</select>-->
                <!--<div  class="alert alert-danger col-12" *ngIf="filterForm.get('hostel_id').invalid && filterForm.get('hostel_id').touched">-->
                  <!--<strong>-->
                    <!--Hostel is Required-->
                  <!--</strong>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" (click)="filter()"-->
                <!--class="btn btn-success btn-xm" data-dismiss="modal" [disabled] ="filterForm.invalid">-->
          <!--Filter <i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="feedBack.submitStatus"></i>-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-danger btn-xm" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->

<div id="openModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.formType}} {{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup] = "createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> Hostel
              </label>
              <div class="col-lg-8 col-md-8 col-sm-12">
                <select class="form-control" formControlName="hostel_id">
                   <option></option>
                   <option *ngFor="let hostel of feedBack?.allHostels" [value]="hostel?.id">{{hostel?.hostel_name}}</option>
                </select>
                <small class="text-danger" *ngIf="createForm.get('hostel_id').invalid && createForm.get('hostel_id').touched">
                    Hostel is Required
                </small>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span>Open Date
              </label>
              <div class="col-lg-8 col-md-8 col-sm-12">
                <input class="form-control" type="date" formControlName="open_date" >
                <small class="text-danger" *ngIf="createForm.get('open_date').invalid && createForm.get('open_date').touched">
                    Open Date is Required
                </small>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">Close Date</label>
              <div class="col-lg-8 col-md-8 col-sm-12">
                <input class="form-control" type="date" formControlName="close_date" >
                <small class="text-danger" *ngIf="createForm.get('open_date').invalid && createForm.get('open_date').touched">
                    Close Date is Required
                </small>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="!feedBack.showUpdateButton" (click)="createFormModal()" class="btn btn-success btn-xm" data-dismiss="modal" [disabled] ="feedBack.submitStatus || createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" *ngIf="feedBack.showUpdateButton" (click)="updateFormModal()" class="btn btn-success btn-xm" data-dismiss="modal" [disabled] ="feedBack.submitStatus || createForm.invalid">
          Update <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" class="btn btn-danger btn-xm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text sessionName" (click)="allSession()">
          {{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" id="school.hostel.hostel.session.session.store">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="startHostelSession()">
													<span>
														<i class="la la-plus"></i>
														<span>
															Hostel Session
														</span>
													</span>
          </a>
        </li>
        <!--<li class="m-portlet__nav-item">-->
          <!--<select class="form-control" (change)="filter($event)" *ngIf="feedBack?.viewFilterSearch && feedBack?.allResponse?.length > 0" style="width: 100%; border-radius: 20px; padding: 5px">-->
            <!--<option></option>-->
            <!--<option *ngFor="let hostel of feedBack?.allHostels" [value]="hostel?.id">{{hostel?.hostel_name}}</option>-->
          <!--</select>-->
          <!--<a *ngIf="!feedBack?.viewFilterSearch" style="color: white !important;"-->
             <!--class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm"-->
             <!--(click)="filterSession()">-->
													<!--<span>-->
														<!--<i class="la la-search"></i>-->
														<!--<span>-->
                              <!--Filter-->
														<!--</span>-->
													<!--</span>-->
          <!--</a>-->
        <!--</li>-->
      </ul>
    </div>

  </div>
  <div style="float: right; margin: 10px; margin-right: 4%">
    <!--<button class="btn btn-success btn-xm"  (click)="openModal()">-->
    <!--<i class="fa fa-plus"></i>-->
    <!--Create-->
    <!--</button>-->
  </div>
  <!--Current session-->
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
    <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th  class="serialnum">#</th>
        <th>Hostel</th>
        <th>Open Date</th>
        <th>Close Date</th>
        <th>Date Created</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody *ngIf="!feedBack?.filterStatus">
      <tr *ngFor="let data of feedBack?.allResponse; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.hostel?.hostel_name}}</td>
        <td>{{data?.open_date}}</td>
        <td>{{data?.close_date}}</td>
        <td>{{data?.created_at | date}}</td>
        <td>
          <div class="dropdown ">
            <a href="#"
               class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
               data-toggle="dropdown">
              <i class="la la-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item school.hostel.hostel.session.session.update"  (click)="onEdit(data)">
                <i class="la la-edit"></i> Edit Hostel
              </a>
              <a class="dropdown-item school.hostel.hostel.session.session.show" (click)="onView(data)">
                <i class="la la-eye"></i> View Hostel
              </a>
              <a class="dropdown-item school.hostel.hostel.session.session.delete" (click)="onDeleteRoom(data?.id)">
                <i class="la la-remove"></i> Delete Room
              </a>
            </div>
          </div>

          <!--<button (click)="onEdit(data)" class="btn btn-primary btn-xm" >-->
          <!--<i class="fa fa-pencil"></i>-->
          <!--</button>-->
          <!--<button (click)="onView(data)" class="btn btn-info btn-xm" >-->
          <!--<i class="fa fa-eye"></i>-->
          <!--</button>-->
          <!--<button (click)="onViewRooms(data?.id)" class="btn btn-success btn-xm" >-->
          <!--<i class="fa fa-list"></i>-->
          <!--</button>-->
          <!--<button (click)="onDeleteRoom(data?.id)" class="btn btn-danger btn-xm" [disabled] = "feedBack.deleteStatus">-->
          <!--<i class="fa fa-remove"></i> <i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="feedBack.deleteStatus && data?.id === id"></i>-->
          <!--</button>-->
        </td>
      </tr>
      <tr *ngIf="feedBack.loader || feedBack?.allResponse.length === 0">
        <td colspan="6" *ngIf="feedBack.loader">
          <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="6" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
      <tbody  *ngIf="feedBack?.filterStatus">
      <tr *ngFor="let data of feedBack?.filterArray; let i = index">
        <td scope="row">{{i+1}}</td>
        <!--<td>{{data?.hostel?.hostel_name}}</td>-->
        <td>{{data?.open_date}}</td>
        <td>{{data?.close_date}}</td>
        <td>{{data?.created_at | date}}</td>
        <td>
          <div class="dropdown ">
            <a href="#"
               class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
               data-toggle="dropdown">
              <i class="la la-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item"  (click)="onEdit(data)" *ngIf="iAmPermitted('school.hostel.hostel.session.session.update')">
                <i class="la la-edit"></i> Edit Hostel
              </a>
              <a class="dropdown-item" (click)="onView(data)" *ngIf="iAmPermitted('school.hostel.hostel.session.session.show')">
                <i class="la la-eye"></i> View Hostel
              </a>
              <a class="dropdown-item" (click)="onDeleteRoom(data?.id)" *ngIf="iAmPermitted('school.hostel.hostel.session.session.delete')">
                <i class="la la-print"></i> Delete Room
              </a>
            </div>
          </div>

          <!--<button (click)="onEdit(data)" class="btn btn-primary btn-xm" >-->
          <!--<i class="fa fa-pencil"></i>-->
          <!--</button>-->
          <!--<button (click)="onView(data)" class="btn btn-info btn-xm" >-->
          <!--<i class="fa fa-eye"></i>-->
          <!--</button>-->
          <!--<button (click)="onViewRooms(data?.id)" class="btn btn-success btn-xm" >-->
          <!--<i class="fa fa-list"></i>-->
          <!--</button>-->
          <!--<button (click)="onDeleteRoom(data?.id)" class="btn btn-danger btn-xm" [disabled] = "feedBack.deleteStatus">-->
          <!--<i class="fa fa-remove"></i> <i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="feedBack.deleteStatus && data?.id === id"></i>-->
          <!--</button>-->
        </td>
      </tr>
      <tr *ngIf="feedBack?.filterArray.length === 0">
        <td colspan="6">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>


    <!--end: Datatable -->
  </div>

</div>

