<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
  <!-- BEGIN: Left Aside -->
  <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
    <i class="la la-close"></i>
  </button>
  <div id="m_aside_left" class="m-grid__item m-aside-left ">
    <!-- BEGIN: Aside Menu -->
    <div
            id="m_ver_menu"
            class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
            data-menu-vertical="true"
            data-menu-scrollable="false" data-menu-dropdown-timeout="500">

      <app-aside-nav></app-aside-nav>
    </div>
    <!-- END: Aside Menu -->
  </div>
  <!-- END: Left Aside -->

   <!--START: Edit Modal -->
  <div id="updateDefermentRequest" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <form [formGroup]="updateDefermentForm" (ngSubmit)="updateDefermentRequest()" class="m-form m-form--label-align-right">
          <div class="modal-header">
            <h4 class="modal-title">Edit Exeat Request</h4>
            <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateJambRecord')">Close</button> -->
            <button class="close" type="button" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                Purpose:
              </label>
              <div class="col-lg-7">
                <input formControlName="purpose" type="text" class="form-control m-input">
                <!--<span class="m-form__help">-->
                <!--We'll never share your email with anyone else-->
                <!--</span>-->
              </div>
            </div><!--Purpose-->
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                Number of Sessions
              </label>
              <div class="col-lg-7">
                <input formControlName="num_of_session_deferred" type="number" class="form-control m-input m-input--solid">
                <!--<span class="m-form__help">-->
                <!--Please enter your full name-->
                <!--</span>-->
              </div>
            </div><!--Number of Sessions-->
          </div>
          <div class="modal-footer">
            <button class="btn btn-accent m-btn m-btn--pill m-btn--air float-right" type="submit">
              Submit
              <i class="m-loader m-loader--right m-loader--light" *ngIf="loading.updating"></i>
            </button>
            <button type="button"
                    class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                    data-dismiss="modal">Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
   <!--END: Edit Modal -->

  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- END: Subheader -->
    <div class="m-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Deferment Request
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <div class="m-accordion m-accordion--bordered">
                <div class="m-accordion__item">
                  <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_1_head"
                       data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded="false">
                        <span class="m-accordion__item-icon">
                          <i class="fa flaticon-file"></i>
                        </span>
                    <span class="m-accordion__item-title">
                                New Deferment Request
                        </span>
                    <span class="m-accordion__item-mode"></span>
                  </div>
                  <div class="m-accordion__item-body collapse" id="m_accordion_1_item_1_body" role="tabpanel"
                       aria-labelledby="m_accordion_1_item_1_head" data-parent="#m_accordion_1" style="">
                    <div class="m-accordion__item-content">
                      <form [formGroup]="defermentForm" (ngSubmit)="requestDeferment()"
                            class="m-form m-form--label-align-right">
                        <div class="form-group m-form__group row">
                          <label class="col-lg-2 col-form-label">
                            Purpose:
                          </label>
                          <div class="col-lg-6">
                            <input formControlName="purpose" type="text" class="form-control m-input--solid">
                            <!--<span class="m-form__help">-->
                            <!--We'll never share your email with anyone else-->
                            <!--</span>-->
                          </div>
                        </div><!--Purpose-->
                        <div class="form-group m-form__group row">
                          <label class="col-lg-2 col-form-label">
                            Number of Sessions to be Deferred
                          </label>
                          <div class="col-lg-6">
                            <input formControlName="num_of_session_deferred" type="number" class="form-control m-input--solid">
                            <!--<span class="m-form__help">-->
                            <!--Please enter your full name-->
                            <!--</span>-->
                          </div>
                        </div><!--Number of Sessions Deferred-->
                        <div class="form-group m-form__group row">
                          <div class="col-8">
                            <button class="btn btn-accent m-btn m-btn--pill m-btn--air float-right" type="submit">
                              &nbsp;&nbsp;&nbsp; Submit &nbsp;&nbsp;&nbsp;
                              <i class="m-loader m-loader--right m-loader--light" *ngIf="loading.creating"></i>
                            </button>
                          </div>
                        </div><!--Button-->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="small-margin"></div><div class="small-margin"></div><div class="small-margin"></div><div class="small-margin"></div>
              <div class="" *ngIf="defermentRequest?.length != 0">
                <table datatable [dtTrigger]="dtTrigger"
                       class="table table-hover table-striped table-sm m-table--head-bg-brand table-responsive-sm">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Purpose</th>
                    <th>Num of Sessions</th>
                    <th>Start Session</th>
                    <th>Date Created</th>
                    <th>Status</th>
                    <th>Edit</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="loading.listing" class="text-center">
                    <td colspan="10" *ngIf="loading.listing">
                      Fetching...&nbsp;&nbsp;&nbsp;<i class="m-loader m-loader--brand"></i>
                    </td>
                    <td colspan="10" *ngIf="!loading.listing && defermentRequest.length === 0">
                      No Record Found
                    </td>
                  </tr>
                  <tr *ngFor="let deferment of defermentRequest; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{deferment?.purpose}}</td>
                    <td>{{deferment?.num_of_session_deferred}}</td>
                    <td>{{deferment?.session?.name}}</td>
                    <td>{{deferment?.created_at | date}}</td>
                    <td *ngIf="deferment?.status == 2"><span class="m--font-warning">Pending</span></td>
                    <td *ngIf="deferment?.status == 1"><span class="m--font-success">Successful</span></td>
                    <td *ngIf="deferment?.status == 0"><span class="m--font-danger">Declined</span></td>
                    <td>
                      <a class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                        <i class="fa fa-edit" (click)="openSesame(i)"></i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
