
<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{feedBack?.moduleName}}
                    </h3>
                </div>
            </div>
        </div>
        <!--Previous session-->
        <div class="m-portlet__body table-responsive">
            <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand">
                <thead class="thead-color">
                <tr>
                    <th title="Field #1" class="serialnum">
                        #
                    </th>
                    <th title="Field #2">
                        Year
                    </th>
                    <th title="Field #2">
                        Start date
                    </th>
                    <th title="Field #3">
                        End Date
                    </th>
                    <th title="Field #3">
                        Programme
                    </th>
                    <th title="Field #3">
                        Date Created
                    </th>
                    <th title="Field #4">
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of feedBack?.allResponse; let i = index">
                    <td scope="row">{{i+1}}</td>
                    <td>{{data?.year}}</td>
                    <td>{{data?.date_start | date}}</td>
                    <td>{{data?.date_end | date}}</td>
                    <td>{{data?.programme?.name}}</td>
                    <td>{{data?.created_at | date}}</td>
                    <td>
                        <div class="dropdown ">
                            <a href="#"
                               class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                               data-toggle="dropdown">
                                <i class="la la-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" (click)="onView(data)">
                                    <i class="la la-eye"></i> View Session</a>
                                <!--<a class="dropdown-item" href="#">-->
                                <!--<i class="la la-print"></i> Generate Report</a>-->
                            </div>
                        </div>

                    </td>

                </tr>
                <tr *ngIf="feedBack.loader || feedBack?.allResponse.length === 0">
                    <td colspan="7" *ngIf="feedBack.loader">
                        <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
                    </td>
                    <td colspan="7" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
                        <div  class="text-center">No Content Found</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
            <!--end: Datatable -->
        </div>
    </div>

