<div class=" ">
  <div class="d-flex align-items-center">
    <div class="mr-auto m--padding-20">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Course of Study
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/staff" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/config" class="m-nav__link">
            <span class="m-nav__link-text">
              Configuration
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/config/faculty" class="m-nav__link">
            <span class="m-nav__link-text">
              Faculties
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a *ngIf="courseOfStudyObject?.department?.faculty"
             [routerLink]="['/staff/config/faculty', courseOfStudyObject?.department?.faculty?.id]" class="nav-link">
            <span class="m-nav__link-text">
              <i *ngIf="load.course_of_study_get" class="m-loader m-loader--brand"></i>
              {{ courseOfStudyObject?.department?.faculty?.name}}
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a *ngIf="courseOfStudyObject?.department"
             [routerLink]="['/staff/config/department', courseOfStudyObject?.department?.id]" class="nav-link">
            <span class="m-nav__link-text">
              <i *ngIf="load.course_of_study_get" class="m-loader m-loader--brand"></i>
              {{ courseOfStudyObject?.department?.name}}
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
            <span class="m-nav__link-text">
              <i *ngIf="load.course_of_study_get" class="m-loader m-loader--brand"></i>
              {{ courseOfStudyObject?.name}}
            </span>
        </li>
      </ul>
    </div>

  </div>
</div>


<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="row">
      <table class="table table-bordered col-4">
        <tr>
          <td>Name</td>
          <td>
            <i *ngIf="load.course_of_study_get" class="m-loader m-loader--brand"></i>
            {{ courseOfStudyObject?.name}}
          </td>
        </tr>
        <tr>
          <td>Code</td>
          <td>
            <i *ngIf="load.course_of_study_get" class="m-loader m-loader--brand"></i>
            {{ courseOfStudyObject?.code}}
          </td>
        </tr>
        <tr>
          <td>Degree</td>
          <td>
            <i *ngIf="load.course_of_study_get" class="m-loader m-loader--brand"></i>
            {{ courseOfStudyObject?.degree?.name}}
          </td>
        </tr>
        <tr>
          <td>Programme</td>
          <td>
            <i *ngIf="load.course_of_study_get" class="m-loader m-loader--brand"></i>
            {{ courseOfStudyObject?.degree?.programme?.name}}
          </td>
        </tr>
      </table>
      <div class="col-8 vertical">
        <div *ngIf="permissions['school.profile.course.adviser.add']">
          <div class="m--margin-20">
            <h3 class="m-portlet__head-title text-center">Create Course Adviser</h3>
          </div>
          <hr>
          <!--<div class="m&#45;&#45;margin-20"></div>-->
          <form class="m-form m-form--fit m-form--label-align-right row" [formGroup]="createCourseAdviser" *ngIf="load.show">
            <div class="col-4">
              <label>
                <i class="m-loader m-loader--brand" *ngIf="load.getStaff"></i> &nbsp;&nbsp;
                Lecturer
              </label>
              <select class="form-control m-input--solid" formControlName="staff_id">
                <option value="" selected disabled>Select Lecturer</option>
                <option *ngFor="let staff of departmentStaff" value="{{staff?.id}}">{{staff?.fullname}}</option>
              </select>
            </div>
            <div class="col-3">
              <label>Level</label>
              <select class="form-control m-input--solid" formControlName="level_id">
                <option value="" selected disabled>Select Level</option>
                <option *ngFor="let level of courseOfStudyObject?.degree?.programme?.levels" [value]="level?.id">
                  {{level?.name}}
                </option>
              </select>
            </div>
            <div class="col-3">
              <label>Session</label>
              <select class="form-control m-input--solid" formControlName="session_id">
                <option value="" selected disabled>Select Session</option>
                <option *ngFor="let session of courseOfStudyObject?.degree?.programme?.sessions" [value]="session?.id">
                  {{session?.name || session?.year}}
                </option>
              </select>
            </div>
            <div class="col-2 vertical">
              <!--<div class="m&#45;&#45;margin-top-10"></div>-->
              <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                      (click)="setCourseAdviser()">
                Submit &nbsp;&nbsp;
                <i *ngIf="load.setAdviser" class="m-loader m-loader--light"></i>
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-portlet__head">
      <div class="m-portlet__head-tools">
        <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--left m-tabs-line--primary" role="tablist">
          <li class="nav-item m-tabs__item" *ngIf="permissions['school.course-management.curriculum.list']">
            <a class="nav-link m-tabs__link active"
               data-toggle="tab"
               href="#curricula" role="tab">
              <i class="flaticon-share m--hide"></i>
              Curricula
            </a>
          </li>
          <li class="nav-item m-tabs__item" *ngIf="permissions['school.profile.course.adviser.list']">
            <a class="nav-link m-tabs__link" data-toggle="tab"
               href="#advisers" role="tab">
              Course Advisers
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="tab-content">
        <div class="m_portlet tab-pane active" id="curricula">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <h5 class="m-portlet__head-text">Curricula</h5>
            </div>
            <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item" *ngIf="permissions['school.course-management.curriculum.create']">
                  <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm float-right"
                          (click)="openCurriculumModal()">
                  <span>
                    <i class="la la-plus"></i>
                    Curriculum
                  </span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body">
            <!--<div class="m&#45;&#45;margin-50"></div>-->
            <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="curriculumFilterForm">
              <div class="form-group m-form__group row">
                <div class="col-sm-4">
                  <label>
                    Session &nbsp;
                    <i *ngIf="load.course_of_study_get" class="m-loader m-loader--brand"></i>&nbsp;
                  </label>
                  <select formControlName="session_id" class="form-control m-input--solid" (change)="getSessionSemesters($event.target.value)">
                    <option value="0"></option>
                    <option *ngFor="let session of courseOfStudyObject?.degree?.programme?.sessions"
                            [value]="session?.id">
                      {{session?.name || session?.year}}
                    </option>
                  </select>
                </div><!--Session-->
                <div class="col-sm-4">
                  <label>
                    Semester &nbsp;
                    <i *ngIf="load.semester" class="m-loader m-loader--brand"></i>&nbsp;
                  </label>
                  <select class="form-control m-input--solid" formControlName="semester">
                    <option *ngFor="let semester of sessionSemesters" [value]="semester?.semester">{{semester?.name}}</option>
                  </select>
                </div><!--Semester-->
                <div class="col-sm-4">
                  <label>
                    Level &nbsp;
                  </label>
                  <select class="form-control m-input--solid" formControlName="level_id">
                    <option value="0"></option>
                    <option *ngFor="let level of courseOfStudyObject?.degree?.programme?.levels" [value]="level?.id">
                      {{level?.name}}
                    </option>
                  </select>
                </div><!--Level-->
                <div class="col-sm-3">
                </div>
              </div>
              <div class="form-group m-form__group row">
                <div class="col-sm-12">
                  <button type="button"
                          class="btn btn-accent m-btn m-btn--pill m-btn--air float-right"
                          (click)="getCurriculumByCourseOfStudy()"
                          [disabled]="curriculumFilterForm.invalid || load.filtering">
                    Submit &nbsp;&nbsp;
                    <i *ngIf="load.filtering" class="m-loader m-loader--light"></i>
                  </button>
                </div>
              </div><!--Submit Button-->
            </form>
            <div class="m--margin-50"></div>
            <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand table-responsive-sm small-margin">
              <thead class="thead-color">
              <tr>
                <th title="Serial Number">#</th>
                <th title="Session">Session</th>
                <th title="Level">Level</th>
                <th title="Semester">Semester</th>
                <th title="Maximum Unit">Maximum Unit</th>
                <th title="Minimum Unit">Minimum Unit</th>
                <th title="Created Date">Created Date</th>
                <th title="Action" class="text-center">Action</th>
                <!--<a [routerLink]="['/staff/config/department', curriculum?.id]"></a>-->
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let curriculum of allCurriculum; let i = index">
                <td scope="row">{{i + 1}}</td>
                <td>{{curriculum?.session?.name}}</td>
                <td>{{curriculum?.level}}</td>
                <td>{{ curriculum?.semester_name }}</td>
                <td>{{curriculum?.max_unit}}</td>
                <td>{{curriculum?.min_unit}}</td>
                <td>{{curriculum?.created_at | date}}</td>
                <td data-field="Type" class="m-datatable__cell">
                  <!--<a class="m-link m-link&#45;&#45;focus m-login__account-link" [routerLink]="['/staff/config/course-curriculum', curriculum?.id]">View Courses</a>-->
                  <div class="dropdown">
                    <a href="#"
                       class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                       data-toggle="dropdown">
                      <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item"
                         *ngIf="permissions['school.course-management.curriculum.update']"
                         (click)="openCurriculumModal(curriculum, i)">
                        <i class="la la-edit"></i> Edit Curriculum
                      </a>
                      <a class="dropdown-item"
                         *ngIf="permissions['school.course-management.curriculum.courses']"
                         [routerLink]="['/staff/config/course-curriculum', curriculum?.id]">
                        <i class="la la-eye"></i> View Courses
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <!--</div>-->
          </div>
        </div>
        <div class="m_portlet tab-pane" id="advisers">
          <div class="m-portlet__head">
            <h5 class="m-portlet__head-text">Course Advisers</h5>
          </div>
          <div class="m-portlet__body">
            <div class="m--margin-top-20"></div>
            <table datatable [dtTrigger]="dtTrigger2" class="table table-hover table-striped table-sm m-table--head-bg-brand table-responsive-sm small-margin">
              <thead class="thead-color">
              <tr>
                <th scope="row" title="Serial Number">#</th>
                <th title="Staff">Staff</th>
                <th title="Session">Session</th>
                <th title="Level">Level</th>
                <th title="Date">Creation Date</th>
                <!--<a [routerLink]="['/staff/config/department', curriculum?.id]"></a>-->
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let adviser of courseAdvisers; let i = index">
                <td>{{i + 1}}</td>
                <td>{{adviser?.staff?.fullname}}</td>
                <td>{{adviser?.session?.name}}</td>
                <td>{{adviser?.level?.name}}</td>
                <td>{{adviser?.created_at | date}}</td>
              </tr>
              </tbody>
            </table>
            <!--<ul class="list-group">-->
              <!--<li class="list-group-item" *ngFor="let adviser of courseAdvisers">{{adviser?.staff?.fullname}}</li>-->
            <!--</ul>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Modal-->
<div id="createCurriculumModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ curriculum ? 'Update Curriculum' : 'Create Curriculum' }}</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="createCurriculum" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Maximum Unit
              </label>
              <div class="col-9">
                <input class="form-control m-input--solid" formControlName="max_unit" type="number">
                <span class="m-form__help m--font-danger"
                      *ngIf="createCurriculum.get('max_unit').invalid && createCurriculum.get('max_unit').touched">
                      Maximum Unit is Required
                </span>
              </div>
            </div><!--Maximum Unit-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Minimum Unit
              </label>
              <div class="col-9">
                <input class="form-control m-input--solid" formControlName="min_unit" type="number">
                <span class="m-form__help m--font-danger"
                      *ngIf="createCurriculum.get('min_unit').invalid && createCurriculum.get('min_unit').touched">
                      Minimum Unit is Required
                </span>
              </div>
            </div><!--Minimum Unit-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Session
              </label>
              <div class="col-9">
                <select formControlName="session_id" class="form-control m-input--solid">
                  <option disabled></option>
                  <option *ngFor="let session of courseOfStudyObject?.degree?.programme?.sessions"
                          [value]="session?.id">
                    {{session?.name || session?.year}}
                  </option>
                </select>
                <span class="m-form__help m--font-danger"
                      *ngIf="createCurriculum.get('session_id').invalid && createCurriculum.get('session_id').touched">
                      Session is Required
                </span>
              </div>
            </div><!--Session-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Level
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <select class="form-control m-input--solid" formControlName="level_id">
                  <option disabled></option>
                  <option *ngFor="let level of courseOfStudyObject?.degree?.programme?.levels" [value]="level?.id">
                    {{level?.name}}
                  </option>
                </select>
                <span class="m-form__help m--font-danger"
                      *ngIf="createCurriculum.get('semester').invalid && createCurriculum.get('semester').touched">
                      Level is Required
                </span>
              </div>
            </div><!--Level-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Semester
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <select class="form-control m-input--solid" formControlName="semester">
                  <option value="0"></option>
                  <option value="1">First Semester</option>
                  <option value="2">Second Semester</option>
                  <option value="3" *ngIf="courseOfStudyObject?.degree?.programme?.semesters > 2">ERP</option>
                </select>
                <span class="m-form__help m--font-danger"
                      *ngIf="createCurriculum.get('semester').invalid && createCurriculum.get('semester').touched">
                      Semester is Required
                </span>
              </div>
            </div><!--Semester-->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="curriculum ? curriculumUpdate() : curriculumCreate()"
                class="btn btn-accent m-btn--pill m-btn--air btn-sm"
                [disabled]="load.create || createCurriculum.invalid">
          Submit &nbsp;&nbsp;
          <i class="m-loader m-loader--light" *ngIf="load.create || load.update"></i>
        </button>
        <button class="btn btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
