<div id="createAdmissionList" class="modal fade" role="dialog">
  <form [formGroup]="createAdmissionListForm" (ngSubmit)="createAdmissionList()">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Create Admission </h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','createAdmissionList')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">

                <label for="schoolname">First Name:</label>
                <input class="form-control" formControlName="first_name" id="schoolname"
                       placeholder="First Name">

              </div>
              <div class="col-md-6">

                <label for="middle_name">Middle Name:</label>
                <input class="form-control" id="domain" formControlName="middle_name"
                       placeholder="Middle Name">
                <!--  -->


                <!--  -->
              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="schooldomain">Last Name:</label>
                <input class="form-control" id="domain" formControlName="last_name"
                       placeholder="Last Name">

              </div>

              <div class="col-md-6">

                <label for="email">Email:</label>
                <input class="form-control" formControlName="email" id="email" placeholder="Email">


              </div>
            </div>

            <div class="row">
              <div class="col-md-6">


                <label for="country">Country:</label>
                <select class="form-control" #country formControlName="country_id" id="country"
                        (change)="getStateByCountryId(country.value)">
                  <option value="" disabled>Select Country</option>
                  <option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">
                    {{country.name}}
                  </option>
                </select>


              </div>
              <div class="col-md-6">

                <label for="state">State:</label>
                <select class="form-control" formControlName="state_id" id="state">
                  <option value="" disabled>Select State</option>
                  <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">
                    {{state.name}}
                  </option>
                </select>


              </div>

            </div>


            <div class="row">
              <div class="col-md-6">


                <label for="course">Faculty:</label>
                <select class="form-control" #faculty formControlName="faculty_id" id="faculty"
                        (change)="getDepartmentByByFacultyId(faculty.value)">
                  <option value="" disabled>Select Faculty</option>
                  <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">
                    {{faculty.name}}
                  </option>
                </select>


              </div>
              <div class="col-md-6">
                <label for="department">Department:</label>
                <i class="m-loader m-loader--right m-loader--brand"
                   *ngIf="load.departments.loading"></i>
                <select class="form-control" #deprtmnt formControlName="department_id" id="department"
                        (change)="getCourseByDepartmentId(deprtmnt.value)"
                        [disabled]="!load.departments.list || load.departments.loading">
                  <option value="" disabled>Select Department</option>
                  <option *ngFor="let department of allDepartments; let ind=index"
                          value="{{department.id}}">{{department.name}}
                  </option>
                </select>


              </div>

            </div>


            <div class="row">

              <div class="col-md-6">
                <label for="course">Course of Study:</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.courses.loading"></i>
                <select class="form-control" #course formControlName="course_of_study_id" id="course"
                        [disabled]="!load.courses.list || load.courses.loading">
                  <option value="" disabled>Select Course</option>
                  <option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">
                    {{course.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-6">

                <label for="matric_no">Matriculation Number:</label>
                <input class="form-control" formControlName="matric_no" id="matric_no"
                       placeholder="Matric No">

              </div>
            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="createAdmissionListForm.invalid || load.requesting.create">
            {{load.message.create}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>

          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','createAdmissionList')">Close
          </button>

        </div>
      </div>
    </div>
  </form>
</div>

<div id="updateAdmissionList" class="modal fade" role="dialog">
  <form [formGroup]="updateAdmissionListForm" (ngSubmit)="createAdmissionListRecord('admissionBulkFile')">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Upload Admission Template</h4>
          <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateAdmissionList')">Close</button> -->
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateAdmissionList')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="newsession">Session:</label>
                <select class="form-control" formControlName="session_year"
                        id="newsession">
                  <option value="" disabled>Select Session</option>
                  <option *ngFor="let session of allSessions; let ind=index"
                          value="{{session.id}}">{{session?.name || session?.year}} {{session?.programme?.name}}
                  </option>
                </select>

              </div>
              <div class="col-md-6">
                <label for="admissionBulkFile">Bulk Admission List</label>
                <input type="file" id="admissionBulkFile" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">

          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="updateAdmissionListForm.invalid || load.requesting.create">
            {{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>


          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','updateAdmissionList')">Close
          </button>


        </div>
      </div>
    </div>
  </form>
</div>


<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Admission List
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
               data-dropdown-toggle="hover" aria-expanded="true">
            <a
                    class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
              <!--<i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>-->
              <i class="la la-upload la-2x"></i>
            </a>
            <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
                                      style="left: auto; right: 21.5px;"></span>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__content">
                    <ul class="m-nav">
                      <li class="m-nav__section m-nav__section--first" *ngIf="iAmPermitted('school.admission.admission-list.upload_students')">
																			<span class="m-nav__section-text">
																				Bulk File
																			</span>
                      </li>

                      <li class="m-nav__item" *ngIf="iAmPermitted('school.admission.admission-list.import_admission_list')">
                        <a class="m-nav__link" (click)="downloadTemplate(1,'templateDownload')">
                          <i class="m-nav__link-icon la la-download"></i>
                          <span class="m-nav__link-text">
														Download Admission List Template
													</span>
                        </a>
                      </li>
                      <!--<li class="m-nav__item">-->
                      <!--<a href="" class="m-nav__link">-->
                      <!--<i class="m-nav__link-icon la la-upload"></i>-->
                      <!--<span class="m-nav__link-text">-->
                      <!--Bulk Upload-->
                      <!--</span>-->
                      <!--</a>-->
                      <!--</li>-->
                      <li class="m-nav__item">
                        <a class="m-nav__link"
                           (click)="triggerModalOrOverlay('open','updateAdmissionList')">
                          <i class="m-nav__link-icon la la-upload"></i>
                          <span class="m-nav__link-text">
																					Upload File
																				</span>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </li>


      </ul>
    </div>

  </div>
  <div class="m-portlet__body">
    <!--begin: Search Form -->
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
      <div class="row align-items-center">
        <div class="col-xl-8 order-2 order-xl-1">
          <div class="form-group m-form__group row align-items-center">
            <div class="col-md-4">

            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end: Search Form -->
    <!--begin: Datatable -->
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="table table-hover table-striped table-sm m-table--head-bg-brand">
        <thead class="thead-color">
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Other Name</th>
          <th>Jamb Reg No</th>
          <th>Course Of Study</th>
          <!--<th>Action</th>-->
        </tr>
        </thead>
        <tbody>


        <tr *ngIf="load.requesting.list || allAdmissionLists.length === 0" class="text-center">
          <td colspan="11" *ngIf="load.requesting.list">
            Fetching List...&nbsp;&nbsp;&nbsp;<i class="m-loader m-loader--brand"></i>
          </td>
          <td colspan="11" *ngIf="!load.requesting.list && allAdmissionLists.length === 0">
            No Record Found
          </td>
        </tr>

        <tr *ngFor="let AdmissionList of allAdmissionLists; let ind=index">
          <td>{{ind+1}}</td>
          <td>{{AdmissionList?.first_name}}</td>
          <td>{{AdmissionList?.last_name}}</td>
          <td>{{(AdmissionList?.other_name | titlecase) || ''}}</td>
          <td>{{AdmissionList?.utme_no}}</td>
          <td>{{AdmissionList?.course_of_study}}</td>
          <!--<td>-->
            <!--<div class="dropdown ">-->
              <!--<a class = "btn m-btn m-btn&#45;&#45;hover-accent m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill"-->
                 <!--data-toggle="dropdown">-->
                <!--<i class="la la-ellipsis-h"></i>-->
              <!--</a>-->
              <!--<div class="dropdown-menu dropdown-menu-right">-->
                <!--<a class="dropdown-item" (click)="triggerModalOrOverlay('open','updateAdmissionList',ind)">-->
                  <!--<i class="la la-edit"></i> Edit-->
                  <!--<i class="m-loader m-loader&#45;&#45;brand" *ngIf="AdmissionList?.loading"></i>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<button class="btn btn-info btn-xs"&ndash;&gt;-->
                    <!--&lt;!&ndash;(click)="triggerModalOrOverlay('open','updateAdmissionList',ind)" disabled>&ndash;&gt;-->
              <!--&lt;!&ndash;<i class="fa fa-pencil" *ngIf="!AdmissionList?.loading"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="AdmissionList?.loading"></i>&ndash;&gt;-->

            <!--&lt;!&ndash;</button>&ndash;&gt;-->
          <!--</td>-->


        </tr>
        </tbody>
      </table>
      <a id="templateDownload" download style="display: none"></a>
    </div>

    <!--end: Datatable -->
  </div>
</div>
