<div id="updateUser" class="modal fade" role="dialog">
  <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Update {{myEditedUser?.first_name}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="first_name">First Name:</label>
            <input class="form-control" formControlName="first_name" id="first_name">

            <label for="last_name">Last Name:</label>
            <input class="form-control" formControlName="last_name" id="last_name">

            <label for="subdomain">Email:</label>
            <div class=" form-group row">

              <div class="col-sm-12">
                <input class="form-control" formControlName="email" id="schoolname">
              </div>
            </div>

            <div *ngIf="visitorIsUpperlink()">
            <label for="schoolname">Agent:</label>
            <select class="form-control" formControlName="agent_id">
              <option value="" disabled>Select Agent</option>
              <option *ngFor="let agent of allAgents" value="{{agent?.id}}">
                {{agent?.name}}
              </option>
            </select>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="updateUserForm.invalid || load.requesting.create">{{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>
          <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" (click)="triggerModal('close','updateUser')">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="createUser" class="modal fade" role="dialog">
  <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Create User</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="first_name">First Name:</label>
            <input class="form-control" formControlName="first_name" id="first_name">

            <label for="last_name">Last Name:</label>
            <input class="form-control" formControlName="last_name" id="last_name">

            <label for="subdomain">Email:</label>
            <div class=" form-group row">

              <div class="col-sm-12">
                <input class="form-control" formControlName="email" id="schoolname">
              </div>
            </div>
<div *ngIf="visitorIsUpperlink()">
            <label for="schoolname">Agent:</label>
            <select class="form-control" formControlName="agent_id">
              <option value="" disabled>Select Agent</option>
              <option *ngFor="let agent of allAgents" value="{{agent?.id}}">
                {{agent?.name}}
              </option>
            </select>
</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="createUserForm.invalid || load.requesting.create">{{load.message.create}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>
          <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" (click)="triggerModal('close','createUser')">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="m-portlet">
  <div class="m-portlet__body  m-portlet__body--no-padding">

    <div>
      <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
               All Users
              </h3>
            </div>
          </div>

          <!-- <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                  <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
                   aria-expanded="true">
                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                      <i class="la la-ellipsis-h m--font-brand"></i>
                    </a>
                    <div class="m-dropdown__wrapper">
                      <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                      <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                          <div class="m-dropdown__content">
                            <ul class="m-nav">
                              <li class="m-nav__section m-nav__section--first">
                                <span class="m-nav__section-text">
                                  Quick Actions
                                </span>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-share"></i>
                                  <span class="m-nav__link-text" (click)="triggerModal('open','createUser')">
                                    Create User
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-chat-1"></i>
                                  <span class="m-nav__link-text">
                                    Send Messages
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                  <span class="m-nav__link-text">
                                    Upload File
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__section">
                                <span class="m-nav__section-text">
                                  Useful Links
                                </span>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-info"></i>
                                  <span class="m-nav__link-text">
                                    FAQ
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                  <span class="m-nav__link-text">
                                    Support
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                              <li class="m-nav__item m--hide">
                                <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                  Submit
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div> -->

          <div class="pull-right" style="margin-top:20px">
            <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="triggerModal('open','createUser')">
              <i class="fa fa-plus"></i> Create User</button>
          </div>

        </div>
        <div class="m-portlet__body">
          <!--begin: Datatable -->
          <div class="m_datatable">

            <table class="table m-table m-table--head-bg-brand m-table--head-separator-primary table-hover table-striped table-bordered small-margin" width="100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="m-datatable__head">
              <tr>
                <th>User Full Name</th>
                <th>Email</th>
                <th *ngIf="visitorIsUpperlink()">Agent</th>
                <th>Action</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngIf="myUsers.length ===0">
                <td colspan="5" class="text-center">
                  <div *ngIf="load.requesting.list">Fetching Users&nbsp;&nbsp;
                    <i class="m-loader m-loader--brand"></i>
                  </div>
                  <span *ngIf="myUsers.length === 0 && !load.requesting.list">No Record Found</span>
                </td>
              </tr>
              <tr *ngFor="let myUser of myUsers; let ind=index">
                <td>
                  <a class="m-link" routerLink="../users/{{myUser?.id}}">
                  {{myUser?.first_name}}
                  {{myUser?.last_name}}
                  </a>
                </td>

                <td>
                {{myUser?.email}}
                </td>
                <td *ngIf="visitorIsUpperlink()">
                  {{myUser?.agent?.name || 'None'}}
                </td>
                <td>
                  <button class="btn btn-info btn-xs" type="button" style="padding:5px !important" (click)="editUser(ind)">
                    <i class="fa fa-pencil"></i>
                  </button>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
          <!--end: Datatable -->
        </div>
      </div>
    </div>
  </div>
</div>