<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Payment By Fee Item
        </h3>
      </div>
    </div>
    <div class="well"></div>
    <div class="m-portlet__head-tools"><!-- *ngIf="paymentMethods?.length > 0"-->
      <!-- <form [formGroup]="filterForm">
	 <div class="mt-3 float-right mr-3">
	   <button class="btn btn-sm btn-accent m-btn&#45;&#45;air m-btn&#45;&#45;pill"
		   (click)="reRender()"
		   [disabled]="filterForm.invalid || loader?.loading">
	     &nbsp;&nbsp;Submit&nbsp;&nbsp;
	     <i class="m-loader m-loader&#45;&#45;light" *ngIf="loader?.loading"></i>
	   </button>
	 </div>
	 <div class="mt-3 float-right mr-3">
	   <i class="m-loader m-loader&#45;&#45;brand" *ngIf="loader.loading_fee_items"></i>
	   <select class="form-control m-input" formControlName="fee_item_id" #fee_item (change)="setFeeItemName(fee_item.value)">
	     <option value="">Select Fee Item</option>
	     <option *ngFor="let fee_item of fee_items" [value]="fee_item?.id">{{ fee_item?.name }}</option>
	   </select>
	 </div>
	 <div class="mt-3 float-right mr-3">
	   <i class="m-loader m-loader&#45;&#45;brand" *ngIf="loader.session_loader"></i>
	   <select class="form-control" formControlName="session_year">&lt;!&ndash; (change)="reRender($event, true)"&ndash;&gt;
	     <option value="">Select Session</option>
	     <option *ngFor="let session of sessions" [value]="session?.year">{{session?.name || session?.year}}</option>
	   </select>
	 </div>
       </form>-->

    </div>
  </div>



  <div class="m-portlet__body table-responsive">
    <div class="row" *ngIf="feedBack.show_filter">
      <div class="col-12 reduce-label">
        <form [formGroup]="filterForm">
          <div class="form-group row">
            <div class="col">
              <label><span class="text-danger">*</span>Session</label>
              <i class="m-loader m-loader--brand" *ngIf="loader.session"></i>
              <select class="form-control" formControlName="session_year">
                <option *ngFor="let session of feedBack?.allSession" [value]="session?.year">{{session?.name || session?.year}}</option>
              </select>
            </div>
            <div class="col">
              <label>Programme</label>
              <i class="m-loader m-loader--brand" *ngIf="loader.programme"></i>
              <select class="form-control" formControlName="programme_id" (change)="programmeById($event.target.value)">
                <option value="">Select Programme</option>
                <option *ngFor="let programme of feedBack?.allProgrammes" [value]="programme?.id">{{programme?.name}}</option>
              </select>
            </div>
            <div class="col">
              <label>Level</label>
              <i class="m-loader m-loader--brand" *ngIf="loader.level"></i>
              <select class="form-control" formControlName="level_id">
                <option value="">Select Level</option>
                <option *ngFor="let level of feedBack?.programmeLevels" [value]="level?.id">{{level?.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label>
                Faculty &nbsp;&nbsp;
                <span class="m-loader m-loader--brand" *ngIf="loader.faculty"></span>
              </label>
              <select class="form-control" formControlName="faculty_id" (change)="facultyDepartments($event.target.value)">
                <option value="">Select Faculty</option>
                <option [value]="faculty?.id" *ngFor="let faculty of feedBack?.faculties">{{ faculty?.name }}</option>
              </select>
            </div>
            <div class="col">
              <label>
                Department &nbsp;&nbsp;
                <span class="m-loader m-loader--brand" *ngIf="loader.department"></span>
              </label>
              <select class="form-control" formControlName="department_id" (change)="departmentCoursesOfStudy($event.target.value)">
                <option value="">Select Department</option>
                <option [value]="department?.id" *ngFor="let department of feedBack?.departments">{{ department?.name }}</option>
              </select>
            </div>
            <div class="col">
              <label>
                Course of Study &nbsp;&nbsp;
                <span class="m-loader m-loader--brand" *ngIf="loader.courses_of_study"></span>
              </label>
              <select class="form-control" formControlName="course_of_study_id">
                <option value="">Select Course of Study</option>
                <option [value]="course_of_study?.id" *ngFor="let course_of_study of feedBack?.courses_of_study">{{ course_of_study?.name }}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-4">
              <i class="m-loader m-loader&#45;&#45;brand" *ngIf="loader.loading_fee_items"></i>
              <select class="form-control m-input" formControlName="fee_item_id" #fee_item (change)="setFeeItemName(fee_item.value)">
                <option value="">Select Fee Item</option>
                <option *ngFor="let fee_item of fee_items" [value]="fee_item?.id">{{ fee_item?.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group mb-4">
            <!--filterForm.invalid ||-->
            <button class="btn btn-accent m-btn--pill m-btn--air"
                    (click)="reRender()"
                    [disabled]="filterForm?.invalid || feedBack?.loader">
              Submit <i class="fa fa-spinner fa-spin" *ngIf="loader?.loading"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <ng-container *ngIf="feedBack?.rendered">

      <div class="row m-portlet"  >
        <div class="col-6 reduce-label pt-2">
          <h4>Total Fee Amount: {{totalFeeAmount | currency:'₦'}}</h4>
        </div>
        <div class="col-6 reduce-label pt-2">
          <h4>Total Amount Paid: {{totalAmountPaid | currency:'₦'}}</h4>
        </div>
      </div>

      <hr style="background-color: #0f0f11 !important;">
    </ng-container>



    <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand relative">
      <thead class="thead-color">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Matric No.</th>
        <th>Course of Study</th>
        <th>Level</th>
        <th>Fee Amount</th>
        <th>Amount Paid</th>
        <th>Date Generated </th>
        <th>Date Paid </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feeReport; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.student_name}}</td>
        <td>{{data?.matric_no}}</td>
        <td>{{data?.course_of_study}}</td>
        <td>{{data?.level}}</td>
        <td>{{data?.amount_to_pay | currency:'N'}}</td>
        <td>{{data?.amount | currency:'N' }}</td>
        <td>{{data?.created_at | date}}</td>
        <td>{{data?.updated_at | date}}</td>
      </tr>
      <tr *ngIf="loader.loading_fee_items || feeReport.length === 0">
        <td class="text-center" colspan="11">
          <div *ngIf="loader.loading_fee_items">
            Loading &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i>
          </div>
          <div *ngIf="!loader.loading_fee_items && feeReport.length === 0">
            No Content Found
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row mt-lg-5">
      <div class="col-12" *ngIf="feeReport.length > 0">
        <button class="btn btn-accent m-btn--pill m-btn--air float-right" (click)="exportAsXLSX()">
          &nbsp;&nbsp;Generate Report&nbsp;&nbsp;
          <i class="m-loader m-loader--light" *ngIf="loader?.excelling"></i>
        </button>
      </div>
    </div>
  </div>
</div>
