/*img {*/
    /*margin-top: -60px;*/
    /*margin-left: -201px;*/
    /*z-index: 1000;*/
    /*min-height: 100px !important;*/
    /*position: absolute;*/
    /*height:200px;*/
    /*width: 200px;*/
/*}*/

.m-portlet.m-portlet--brand.header-img {
  background-image: url("../../../../../../assets/images/bg/ogunpolybg.png");
}

.col-9{
    padding-top: 5px;
}
