<div id="viewPutmeCandidate" class="modal fade" role="dialog">
  <!--[formGroup]="viewPutmeCandidateForm" (ngSubmit)="viewPutmeCandidate()"-->
  <form>

    <!--<div class="modal-dialog">-->
    <!--&lt;!&ndash; Modal content&ndash;&gt;-->
    <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->

    <!--<h4 class="modal-title">view {{viewedPutmeCandidate?.first_name}}-->
    <!--{{viewedPutmeCandidate?.last_name}}</h4>-->
    <!--<button class="close" type="button" (click)="triggerModalOrOverlay('close','viewPutmeCandidate')">-->
    <!--&times;-->
    <!--</button>-->

    <!--</div>-->
    <!--<div class="modal-body">-->
    <!--<div class="form-group">-->
    <!--<h4 class="text-center">Basic Info</h4>-->
    <!--<div class="row">-->
    <!--<div class="col-md-6">-->

    <!--<label for="schoolname">First Name:</label>-->
    <!--<input class="form-control" id="schoolname"-->
    <!--&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-md-6">-->

    <!--<label for="middle_name">Middle Name:</label>-->
    <!--<input class="form-control" id="domain"-->
    <!--&gt;-->
    <!--&lt;!&ndash;  &ndash;&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->

    <!--&lt;!&ndash;  &ndash;&gt;-->
    <!--</div>-->

    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-6">-->
    <!--<label for="schooldomain">Last Name:</label>-->
    <!--<input class="form-control" id="domain"-->
    <!--&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--</div>-->

    <!--<div class="col-md-6">-->

    <!--<label for="matric_no">Matriculation Number:</label>-->
    <!--<input class="form-control" id="matric_no"-->
    <!--&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--</div>-->


    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-6">-->

    <!--<label for="email">Email:</label>-->
    <!--<input class="form-control">-->


    <!--</div>-->
    <!--<div class="col-md-6">-->

    <!--<label for="email">Gender:</label>-->
    <!--<select class="form-control">-->
    <!--<option value="" disabled>-->
    <!--Select Gender-->
    <!--</option>-->
    <!--<option value="Male">-->
    <!--Male-->
    <!--</option>-->
    <!--<option value="Female">-->
    <!--Female-->
    <!--</option>-->
    <!--</select>-->


    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-6">-->

    <!--<label for="matric_no">Date of Birth:</label>-->
    <!--<input class="form-control" type="date" id="matric_no"-->
    <!--&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--</div>-->


    <!--<div class="col-md-6">-->
    <!--<label for="country">Marital Status:</label>-->
    <!--<select class="form-control" #createCountry>-->
    <!--<option value="" disabled>Marital Status</option>-->
    <!--<option value="Single">Single</option>-->
    <!--<option value="Married">Married</option>-->

    <!--</select>-->

    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--</div>-->


    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-6">-->

    <!--<label for="email">Religion:</label>-->
    <!--<select class="form-control" #tgetreligion-->
    <!--(change)="getDenomination(tgetreligion.value)">-->
    <!--<option value="" disabled>-->
    <!--Select Religion-->
    <!--</option>-->
    <!--<option value="Christianity">-->
    <!--Christianity-->
    <!--</option>-->
    <!--<option value="Islam">-->
    <!--Islam-->
    <!--</option>-->
    <!--<option value="Other">-->
    <!--Other-->
    <!--</option>-->
    <!--</select>-->


    <!--</div>-->

    <!--<div class="col-md-6">-->

    <!--<label for="email">Denomination:</label>-->


    <!--<select class="form-control">-->
    <!--<option value="" disabled>-->
    <!--Select Denomination-->
    <!--</option>-->
    <!--<option value="{{denomination.value}}"-->
    <!--*ngFor="let denomination of allDenominations">-->
    <!--{{denomination.name}}-->
    <!--</option>-->
    <!--</select>-->

    <!--</div>-->
    <!--&lt;!&ndash;&ndash;&gt;-->

    <!--</div>-->

    <!--<br>-->
    <!--<h4 class="text-center">Extra Info</h4>-->

    <!--<div class="row">-->
    <!--<div class="col-md-6">-->
    <!--<label for="country">Country:</label>-->
    <!--<select class="form-control" #createCountry id="country"-->
    <!--(change)="getStateByCountryId(createCountry.value)">-->
    <!--<option value="" disabled>Select Country</option>-->
    <!--<option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">-->
    <!--{{country.name}}-->
    <!--</option>-->
    <!--</select>-->


    <!--</div>-->

    <!--&lt;!&ndash;&ndash;&gt;-->

    <!--<div class="col-md-6">-->

    <!--<label for="state">State</label>-->
    <!--<select class="form-control" #getlga (change)="getLgaByStateId(getlga.value)">-->
    <!--<option value="" disabled>Select State</option>-->
    <!--<option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">-->
    <!--{{state.name}}-->
    <!--</option>-->
    <!--</select>-->


    <!--</div>-->

    <!--</div>-->

    <!--<div class="row">-->

    <!--<div class="col-md-6">-->

    <!--<label for="state">LGA:</label>-->
    <!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="load.lgas.loading"></i>-->
    <!--<select class="form-control">-->
    <!--<option value="" disabled>Select LGA</option>-->
    <!--<option *ngFor="let lga of allLgas; let ind=index" value="{{lga.id}}">-->
    <!--{{lga.name}}-->
    <!--</option>-->
    <!--</select>-->


    <!--</div>-->

    <!--<div class="col-md-6">-->

    <!--<label for="matric_no">Home Town:</label>-->
    <!--<input class="form-control" id="matric_no"-->
    <!--&gt;-->

    <!--</div>-->

    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-6">-->


    <!--<label for="course">Faculty:</label>-->
    <!--<select class="form-control" #faculty id="faculty"-->
    <!--(change)="getDepartmentByByFacultyId(faculty.value)">-->
    <!--<option value="" disabled>Select Faculty</option>-->
    <!--<option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">-->
    <!--{{faculty.name}}-->
    <!--</option>-->
    <!--</select>-->

    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--</div>-->

    <!--<div class="col-md-6">-->
    <!--<label for="department">Department:</label>-->
    <!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand"-->
    <!--*ngIf="load.departments.loading"></i>-->
    <!--<select class="form-control" #deprtmnt id="department"-->
    <!--(change)="getCourseByDepartmentId(deprtmnt.value)"-->
    <!--[disabled]="!load.departments.list || load.departments.loading">-->
    <!--<option value="" disabled>Select Department</option>-->
    <!--<option *ngFor="let department of allDepartments; let ind=index"-->
    <!--value="{{department.id}}">{{department.name}}-->
    <!--</option>-->
    <!--</select>-->


    <!--</div>-->

    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-md-6">-->
    <!--<label for="course">Course of Study:</label>-->
    <!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="load.courses.loading"></i>-->
    <!--<select class="form-control" #course id="course"-->
    <!--[disabled]="!load.courses.list || load.courses.loading">-->
    <!--<option value="" disabled>Select Course</option>-->
    <!--<option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">-->
    <!--{{course.name}}-->
    <!--</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--<div class="col-md-6">-->
    <!--<label for="state">Level:</label>-->
    <!--<select class="form-control" id="level">-->
    <!--<option value="" disabled>Select Level</option>-->
    <!--<option *ngFor="let level of allLevels; let ind=index" value="{{level.id}}">-->
    <!--{{level.name}}-->
    <!--</option>-->
    <!--</select>-->


    <!--</div>-->

    <!--&lt;!&ndash;&ndash;&gt;-->

    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->

    <!--<button type="submit" class="btn btn-success btn-sm"-->
    <!--[disabled]="load.requesting.create">{{load.message.view}}-->
    <!--<i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>-->
    <!--</button>-->


    <!--<button type="button" class="btn btn-danger btn-sm"-->
    <!--(click)="triggerModalOrOverlay('close','viewPutmeCandidate')">Close-->
    <!--</button>-->


    <!--</div>-->

    <!--</div>-->
    <!--</div>-->


  </form>
</div>


<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        <div class="container">Candidate Profile:
        </div>
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/staff" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a (click)="goBack()" class="m-nav__link">
            <span class="m-nav__link-text">
              Candidates
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link">
            <span class="m-nav__link-text">
              {{viewedPutmeCandidate?.applicant?.name | ucwords}}
            </span>
          </a>
        </li>
        <li class="m-nav__separator"></li>
        <li class="m-nav__item"></li>
      </ul>
    </div>
  </div>
</div>


<!--<div class="m-header-search__form">-->
<!--<div class="m-header-search__wrapper">-->

<!--</div>-->

<div class="row mt-3">
  <div class="col-10 offset-1">
    <div class="m-portlet m-portlet--brand m-portlet--bordered">
      <div class="m-portlet__head">
        <div class="header-img"></div>
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              {{viewedPutmeCandidate?.first_name}} {{viewedPutmeCandidate?.last_name}}
            </h3>
          </div>
          <!--<div class="float-right">-->
            <!--<img alt="No Passport" src="{{viewedPutmeCandidate?.applicant?.profile_image}}"-->
                 <!--class="img-thumbnail">-->
          <!--</div>-->
        </div>
      </div>
      <div class="m-portlet__body">
        <img [src]="appSettings?.settings?.logo">
        <div class="col-12">
          <div class="pull-right">
            <img alt="No Passport" src="{{viewedPutmeCandidate?.applicant?.profile_image}}"
                 class=" img-thumbnail img-fluid" style="height: 200px!important;">
          </div>
        </div>
        <div style="clear: right">
          <ul class="nav nav-tabs  m-tabs-line m-tabs-line--primary" role="tablist">
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                Candidate Info
              </a>
            </li>
            <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
                Academic Info
              </a>
            </li>
            <li class="nav-item m-tabs__item" *ngIf="viewedPutmeCandidate?.applicant?.interview_type">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab">
                Interview Details
              </a>
            </li>


          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
              <div class="row">
                <div class="col-6 card">
                  <div class="row" style="padding-top: 10px">
                    <div class="col-3">
                      <label>
                        First Name:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.name.split(' ')[0] || '----'}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Last Name:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.name.split(' ')[1] || '----'}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Other Name:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.other_name || '----'}}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">
                      <label>
                        Home Tel:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.applicant_profile?.applicant_landtel || 'None
                      Provided'}}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3" *ngIf="viewedPutmeCandidate?.applicant?.phone">
                      <label>
                        Mobile:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.phone || '----'}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Email:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.email || '----'}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Birth Date:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.applicant_profile?.birthdate || '----'}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Gender:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.gender || '----'}}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">
                      <label>
                        Marital Status:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.applicant_profile?.marital_status || 'None
                      Provided'}}
                    </div>
                  </div>

                </div>
                <div class="col-6 card">
                  <div class="row" style="padding-top: 10px">
                    <div class="col-3">
                      <label>
                        Nationality:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.applicant_profile?.nationality|| '----'}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        State:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.state_origin || '----'}}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">
                      <label>
                        Lga:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.lga || '----'}}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">
                      <label>
                        Contact Address:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.address || '----'}}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">
                      <label>
                        Home Address:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.applicant_profile?.applicant_homeaddress || 'None
                      Provided'}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Home Town:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.applicant_profile?.home_town || '----'}}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">
                      <label>
                        Next of Kin:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.next_of_kin || '----'}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Next of Kin Address:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.kin_address || '----'}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Next of Kin Phone:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.kin_phone || '----'}}
                    </div>
                  </div>

                </div>

              </div>


            </div>

            <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
              <div class="row">

                <div class="col-6 card">
                  <div class="row" style="padding-top: 10px">
                    <div class="col-3">
                      <label>
                        Jamb Reg No:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.reg_no || '----'}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Total Jamb Score:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.total_ume_score
                      || '----'}}
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">
                      <label>
                        Total PUTME Score:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.putme_score
                      || '----'}}
                    </div>
                  </div>
                  <hr>


                  <div class="row">
                    <div class="col-3">
                      <label>
                        First Choice Course:
                      </label>
                    </div>
                    <div class="col-9">
                      {{courseChoice?.first_choice?.name || '----'}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Second Choice Course:
                      </label>
                    </div>
                    <div class="col-9">
                      {{courseChoice?.second_choice?.name
                      || '----'}}
                    </div>
                  </div>
                  <hr>


                </div>
                <div class="col-6 card">

                  <div class="row" style="padding-top: 10px">

                    <div class="col-12">
                      <h4> O'Level Results </h4>
                    </div>
                  </div>
                  <hr>
                  <div *ngFor="let candidateResult of PutmeCandidateResults">
                    <div class="row">
                      <div class="col-3">
                        <label>
                          Exam Name:
                        </label>
                      </div>
                      <div class="col-9">
                        {{candidateResult?.result?.exam_name}}

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <label>
                          Exam Number:
                        </label>
                      </div>
                      <div class="col-9">
                        {{candidateResult?.result?.exam_number}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <label>
                          Exam Year:
                        </label>
                      </div>
                      <div class="col-9">
                        {{candidateResult?.result?.exam_year}}
                      </div>
                    </div>
                    <h4 class="text-center">Subjects</h4>
                    <div *ngFor="let resultSubject of candidateResult?.subjects">
                      <div class="row">
                        <div class="col-3">
                          <label>
                            Subject Name:
                          </label>
                        </div>
                        <div class="col-9">
                          {{resultSubject?.subj}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3">
                          <label>
                            Grade:
                          </label>
                        </div>
                        <div class="col-9">
                          {{resultSubject?.subj_grade}}
                        </div>
                      </div>

                    </div>

                  </div>
                  <hr>
                </div>

              </div>
            </div>
            <div class="tab-pane" id="m_tabs_6_4" role="tabpanel" *ngIf="viewedPutmeCandidate?.applicant?.interview_type">
              <div class="row">
                <div class="col-6 card">
                  <div class="row" style="padding-top: 10px">
                    <div class="col-3">
                      <label>
                        Type:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.interview_type}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Date:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.interview_date |date}}

                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Time:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.interview_time}}

                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">
                      <label>
                        Venue:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.interview_venue}}

                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-3">
                      <label>
                        Status:
                      </label>
                    </div>
                    <div class="col-9">
                      {{setCandidateStatus()}}

                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-3">
                      <label>
                        Comment:
                      </label>
                    </div>
                    <div class="col-9">
                      {{viewedPutmeCandidate?.applicant?.interview_comment}}

                    </div>
                  </div>
                  <hr>


                </div>


              </div>
            </div>
            <div class="tab-pane" id="m_tabs_6_5" role="tabpanel">
              <!--[formGroup]="transferPutmeCandidateForm" (ngSubmit)="transferCurrentPutmeCandidate()"-->
              <form>
                <div class="row">
                  <div class="col-6 card">
                    <div class="row" style="padding-top: 10px">
                      <div class="col-3">
                        <label>
                          Transfer to:
                        </label>
                      </div>
                      <div class="col-9">
                        <select class="form-control m-input--air">
                          <option value="" disabled>
                            Select Destination Course of Study
                          </option>
                          <option value="{{courseOfStudy.id}}"
                                  *ngFor="let courseOfStudy of allCourses">
                            {{courseOfStudy.name}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-3">
                        <label>
                          New Level:
                        </label>
                      </div>
                      <div class="col-9">
                        <select class="form-control m-input--air">
                          <option value="" disabled>
                            Select New Level
                          </option>
                          <option value="{{level.id}}"
                                  *ngFor="let level of allLevels">
                            {{level.name}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-8">

                      </div>
                      <div class="col-4">
                        <button type="submit" class="m-btn m-btn--pill btn btn-success btn-xs">
                          Transfer {{viewedPutmeCandidate?.first_name}}
                        </button>
                      </div>
                    </div>
                    <br>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
