#course_form {
  position: absolute;
  top: 0;
  pointer-events: none;
  visibility: hidden !important;
}

.card-signature {
  border-top: 1px solid black;
  padding-top: 10px;
  width: 300px;
  text-align: center !important;
  margin: 0 auto;
}

.signature {
  max-width: 100%;
  max-height: 50px;
  display: block;
  margin: auto;
}
