<div id="updateSchool" class="modal fade" role="dialog">
  <form [formGroup]="updateSchoolForm" (ngSubmit)="updateSchool()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Update {{myEditedSchool?.name}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="schoolname">Name of School:</label>
            <input class="form-control" formControlName="name" id="schoolname">

            <!--<label for="schooldomain">Domain Name:</label>-->
            <!--<input class="form-control" formControlName="domain" id="domain">-->

            <label for="subdomain">Sub Domain Name:</label>
            <div class=" form-group row">
              <span class="col-sm-2 col-form-label">https://</span>
              <div class="col-sm-5">
                <input class="form-control" formControlName="sub_domain" id="schoolname" disabled>
              </div>
              <span class="col-sm-5 col-form-label">
                {{domainName}}
              </span>
            </div>

            <div *ngIf="visitorIsUpperlink() && !isUser()">
              <label for="schoolname">Agent:</label>
              <select class="form-control" formControlName="agent_id" #setuser (change)="getUserByAgentId(setuser.value)">
                <option value="" disabled>Select Agent</option>
                <option *ngFor="let agent of myAgents" value="{{agent?.id}}">
                  {{agent?.name}}
                </option>
              </select>
<div *ngIf="myUsers.length>0">
              <label for="schoolname">User:</label>
              <select class="form-control" formControlName="user_id">
                <option value="" disabled>Select User</option>
                <option *ngFor="let user of myUsers" value="{{user?.id}}">
                  {{user?.first_name}} {{user?.last_name}}
                </option>
              </select>
</div>
              <div *ngIf="updateSchoolForm.get('agent_id').touched && myUsers.length===0" style="color: red">
                No User found for '{{selectedAgent?.name}}'
              </div>
            </div>
            <div *ngIf="!visitorIsUpperlink()">
              <label for="schoolname">User:</label>
              <select class="form-control" formControlName="user_id">
                <option value="" disabled>Select User</option>
                <option *ngFor="let user of myUsers" value="{{user?.id}}">
                  {{user?.first_name}} {{user?.last_name}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="updateSchoolForm.invalid || load.requesting.create">{{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>
          <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" (click)="triggerModal('close','updateSchool')">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="createSchool" class="modal fade" role="dialog">
  <form [formGroup]="createSchoolForm" (ngSubmit)="createSchool()">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Create School</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="schoolname">Name of School:</label>
            <input class="form-control" formControlName="name" id="schoolname">


            <label for="subdomain">Sub Domain:</label>
            <div class=" form-group row">
              <span class="col-sm-2 col-form-label">https://</span>
              <div class="col-sm-5">
                <input class="form-control" formControlName="sub_domain" maxlength="15" id="subdomain">
              </div>
              <span class="col-sm-5 col-form-label">
                {{ domainName }}
              </span>
            </div>
            <small>Sub domain name must not be greater than 15 characters</small>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-9 py-3">
                  Use custom domain
                </div>
                <div class="col-sm-3">
                  <span class="m-switch m-switch--icon">
                    <label>
                      <input type="checkbox" [checked]="customDomain" (change)="customDomain = !customDomain">
                      <span></span>
                    </label>
                  </span>
                </div>
              </div>
              <div *ngIf="customDomain">
                <label for="schoolname">Domain</label>
                <input class="form-control" formControlName="domain">
              </div>
            </div>
            <ul class="list-group instructions animated fadeInDown" *ngIf="customDomain">
              <li class="list-group-item">
                <b>Step 1.</b> &nbsp;&nbsp; Go to your Cpanel
              </li>
              <li class="list-group-item">
                <b>Step 2.</b> &nbsp;&nbsp; Search for "dns"
              </li>
              <li class="list-group-item">
                <b>Step 3.</b> &nbsp;&nbsp; Click on "Zone Editor"
              </li>
              <li class="list-group-item">
                <b>Step 4.</b> &nbsp;&nbsp; Click "+ A Record" on your desired domain name
              </li>
              <li class="list-group-item">
                <b>Step 5.</b> &nbsp;&nbsp; Enter <code>192.163.223.254</code> in the Address field
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="createSchoolForm.invalid || load.requesting.create">{{load.message.create}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>
          <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" (click)="triggerModal('close','createSchool')">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="m-portlet">
  <div class="m-portlet__body  m-portlet__body--no-padding">
    <div>
      <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Schools
              </h3>
            </div>
          </div>

          <!-- <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                  <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
                   aria-expanded="true">
                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                      <i class="la la-ellipsis-h m--font-brand"></i>
                    </a>
                    <div class="m-dropdown__wrapper">
                      <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                      <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                          <div class="m-dropdown__content">
                            <ul class="m-nav">
                              <li class="m-nav__section m-nav__section--first">
                                <span class="m-nav__section-text">
                                  Quick Actions
                                </span>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-share"></i>
                                  <span class="m-nav__link-text" (click)="triggerModal('open','createSchool')">
                                    Create School
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-chat-1"></i>
                                  <span class="m-nav__link-text">
                                    Send Messages
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                  <span class="m-nav__link-text">
                                    Upload File
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__section">
                                <span class="m-nav__section-text">
                                  Useful Links
                                </span>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-info"></i>
                                  <span class="m-nav__link-text">
                                    FAQ
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                  <span class="m-nav__link-text">
                                    Support
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                              <li class="m-nav__item m--hide">
                                <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                  Submit
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div> -->

          <div class="pull-right" style="margin-top:20px">
            <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="triggerModal('open','createSchool')">
              <i class="fa fa-plus"></i> Create School</button>
          </div>

        </div>
        <div class="m-portlet__body">
          <!--begin: Datatable -->
          <div class="m_datatable">

            <table class="table m-table m-table--head-bg-brand m-table--head-separator-primary table-hover table-striped table-bordered small-margin" width="100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="m-datatable__head" style="background-color: #d21502">
              <tr>
                <th>School Name</th>
                <th>Domain Name</th>
                <th>Site Url</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngIf="mySchools.length === 0 || load.requesting.list">
                <td colspan="5" class="text-center">
                  <span *ngIf="load.requesting.list">Fetching Schools &nbsp;&nbsp;
                    <i class="m-loader m-loader--brand"></i>
                  </span>
                  <span *ngIf="!load.requesting.list && mySchools.length === 0">No Record Found</span>
                </td>
              </tr>
              <tr *ngFor="let mySchool of mySchools; let ind=index">
                <td>
                  <a class="m-link" routerLink="../schools/{{mySchool?.id}}">
                  {{mySchool?.name}}
                  </a>
                <td>
                  {{mySchool?.configuration?.subdomain}}
                </td>
                <td>
                  <a class="m-link" href="//{{mySchool?.configuration?.domain}}/staff" target="_blank">{{mySchool?.configuration?.domain}}</a>
                </td>
                <td *ngIf="mySchool?.configuration?.status.toString()==='1'">
                <span style="color:green">Open</span>
                </td>
                <td *ngIf="mySchool?.configuration?.status.toString()!=='1'">
                  <i class="la la-lock" style="color:red" title="Locked"></i>
                </td>
                <td>
                  <button class="btn btn-info btn-xs" type="button" style="padding:5px !important" (click)="editSchool(ind)">
                    <i class="fa fa-pencil"></i>
                  </button>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
          <!--end: Datatable -->
        </div>
      </div>
    </div>
  </div>
</div>
