<!-- Modal -->
<div id="openHostel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Room Details</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> Room
              </label>
              <div class="col-8">
                <select class="form-control" (change)="onbedSpace($event)">
                  <option></option>
                  <option *ngFor="let room of feedBack?.roomspaces" [value] = "room?.id">{{room?.room_name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group m-form__group row" style="padding-bottom: 1px;" *ngIf="feedBack?.bedspaces.length > 0">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> Bed Space
              </label>
              <div class="col-8">
                <select class="form-control" formControlName="hostel_bed_space_id">
                  <option></option>
                  <option *ngFor="let bedspace of feedBack?.bedspaces" [value] = "bedspace?.id">{{bedspace?.label}}</option>
                </select>
              </div>
            </div>

          <div class="form-group m-form__group row" style="padding-bottom: 1px;" *ngIf="feedBack?.bedspaces.length > 0">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> Payment Method
              </label>
              <div class="col-8">
                <select class="form-control" formControlName="payment_method">
                  <option></option>
                  <option>Cash</option>
                  <option>remita</option>
                </select>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="createFormModal()" *ngIf="feedBack?.bedspaces.length > 0"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack?.submitStatus"></i>
        </button>
         <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="hostelReservation" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Hostel Booking Details</h4>
      </div>
      <div class="modal-body" *ngIf="feedBack?.viewDetails">
        <!--begin::Form-->
        <!--end::Form-->
        <div class="m-portlet__body">
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Allocation Amount
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.allocation_amount}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Payment Method
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.payment_method}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Transaction Id
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.transaction_id}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Bed Space
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.bed_space?.label}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Hostel Name
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.hostel_session?.hostel?.hostel_name}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Hostel Gender
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.hostel_session?.hostel?.hostel_gender}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Status
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.status_text}}
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div>
  <!--class="m-grid__item m-grid__item&#45;&#45;fluid  m-grid m-grid&#45;&#45;ver-desktop m-grid&#45;&#45;desktop 	m-container m-container&#45;&#45;responsive m-container&#45;&#45;xxl m-page__container m-body"-->
  <!-- BEGIN: Left Aside -->
  <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
    <i class="la la-close"></i>
  </button>
  <!-- END: Left Aside -->
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <!-- END: Subheader -->
    <div class="m-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Available Hostels
                  </h3>
                </div>
              </div>

            </div>
            <div class="m-portlet__body table-responsive">
              <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
              <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
                <thead class="thead-color">
                <tr>
                  <th>#</th>
                  <th>Hostel</th>
                  <th>Address</th>
                  <th>Amount</th>
                  <th>Capacity</th>
                  <th>Gender</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of feedBack?.allResponse; let i = index">
                  <td scope="row">{{i+1}}</td>
                  <td>{{data?.hostel?.hostel_name}}{{data?.hostel?.hostel_session?.id}}</td>
                  <td>{{data?.hostel?.hostel_address}}</td>
                  <td>{{data?.hostel?.hostel_amount | currency : '&#8358;'}}</td>
                  <td>{{data?.hostel?.hostel_capacity}}</td>
                  <td>{{data?.hostel?.hostel_gender}}</td>
                  <td data-field="Type" class="m-datatable__cell">
                    <div class="dropdown ">
                      <a href="#"
                         class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                         data-toggle="dropdown">
                        <i class="la la-ellipsis-h"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"  (click)="onbookHostel(data?.id, data)">
                          <i class="la la-edit"></i> Book Hostel</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="feedBack.loader || feedBack?.allResponse.length === 0">
                  <td colspan="7" *ngIf="feedBack.loader">
                    <div  class="text-center">Loading {{feedBack?.moduleName}} &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i></div>
                  </td>
                  <td colspan="7" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
                    <div  class="text-center">No Content Found</div>
                  </td>
                </tr>
                </tbody>
              </table>
              <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
              <!--end: Datatable -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
