<!-------------------------------EMEKAS AREA STARTS HERE---------------------------------------------->
<div class="modal fade" id="smsVar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sms Variables</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="m-form">
          <div class="m-form__group form-group">
            <div class="m-checkbox-list row">
              <label class="m-checkbox m-checkbox--state-success col-4"
                     *ngFor="let variable of smsVariables; let ind=index">
                <input type="checkbox" value="{{variable.value}}"
                       (change)="selectSmsVariable(ind)">
                {{variable.label}}
                <span></span>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="saveSmsVariables()"
                class="btn btn-accent m-btn--pill m-btn m-btn--air m-btn--custom btn-xs">
          Add <i class="la la-save"></i>
        </button>
        <button type="button" class="btn btn-danger  m-btn m-btn--air btn-xs"
                (click)="triggerModalOrOverlay('close','smsVar',1)">Close
        </button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="emailVar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Email Variables</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="m-form">
          <div class="m-form__group form-group">
            <div class="m-checkbox-list row">
              <label class="m-checkbox m-checkbox--state-success col-4"
                     *ngFor="let variable of emailVariables; let ind=index">
                <input type="checkbox" value="{{variable.value}}"
                       (change)="selectEmailVariable(ind)">
                {{variable.label}}
                <span></span>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="saveVariables()"
                class="btn btn-accent m-btn--pill m-btn m-btn--air m-btn--custom btn-xs">
          Add <i class="la la-save"></i>
        </button>
        <button type="button" class="btn btn-danger  m-btn m-btn--air btn-xs"
                data-dismiss="modal">Close
        </button>

      </div>
    </div>
  </div>
</div>


<div class="m-portlet m-portlet--mobile ">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Messaging
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">


    </div>
  </div>
  <div class="m-portlet__body">

    <!--Major form:::Start-->
    <form [formGroup]="messageForm" class="m-form m-form--fit m-form--label-align-right">
      <div class="form-group m-form__group row" style="padding-bottom: 1px;">
        <div class="col-lg-4" style="padding-bottom: 1px;">
          <label>Message Type</label>
          <select data-live-search="true" formControlName="type" class="form-control m-input--solid"
                  (change)="setMessageType($event.target.value)">
            <option value="email">Email</option>
            <option value="sms">SMS</option>
            <option value="both">Both</option>
          </select>
        </div><!--Message Type-->
        <div class="col-lg-4"><!--User Type-->
          <label>User Category</label>
          <select data-live-search="true" formControlName="user_type" class="form-control m-input--solid"
                  (change)="setFilterFormType($event.target.value)">
            <option value="staff">Staff</option>
            <option value="student">Student</option>
            <option value="applicant">Applicant</option>
          </select>
        </div>
        <div class="col-lg-4">
          <label for="sender">
            <span class="m--font-danger">*</span>
            Sender
            <small class="m--font-danger" *ngIf="messageForm.get('sender').invalid">
              This field is required
            </small>
          </label>
          <input type="text" id="sender" formControlName="sender" class="form-control m-input--solid">
        </div>
      </div>
      <div class="form-group m-form__group row" style="padding-bottom: 1px;">
        <!--<div class="col-lg-4" style="padding-bottom: 1px;">-->

      </div>
    </form>
    <!--Major form::End-->

    <ng-container [ngSwitch]="formType">
      <ng-container *ngSwitchCase="'student'">
        <!--begin:::: Student Filter Form -->
        <div class="col-md-12">
          <form [formGroup]="studentFilterForm" (ngSubmit)="renderStudents()"
                class="m-form m-form--fit m-form--label-align-right pt-5">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <div class="col-lg-4" style="padding-bottom: 1px;">
                <label>Faculty</label>
                <select data-live-search="true" formControlName="faculty_id"
                        class="form-control m-input--solid"
                        (change)="getDepartmentByFacultyId($event.target.value)">
                  <option></option>
                  <option *ngFor="let faculty of allFaculties" [value]="faculty?.id">
                    {{faculty?.name}}
                  </option>
                </select>
              </div><!--Faculty-->
              <div class="col-lg-4">
                <label>
                  Department &nbsp;
                  <i *ngIf="load.departments.loading" class="m-loader m-loader--brand"></i>&nbsp;
                  <small class="m--font-danger"
                         *ngIf="studentFilterForm.get('faculty_id').touched && allDepartments.length === 0">
                    No Department found
                  </small>
                </label>
                <select class="form-control m-input--solid" formControlName="department_id"
                        style="width: 100%"
                        (change)="getCourseByDepartmentId($event.target.value)">
                  <option></option>
                  <option *ngFor="let department of allDepartments" [value]="department?.id">
                    {{department?.name}}
                  </option>
                </select>
              </div><!--Department-->
              <div class="col-lg-4" style="padding-bottom: 1px;">
                <label>
                  Course of Study &nbsp;
                  <i *ngIf="load.courses.loading" class="m-loader m-loader--brand"></i>&nbsp;
                  <small class="m--font-danger"
                         *ngIf="studentFilterForm.get('department_id').touched && allCoursesofStudy.length === 0">
                    No Course of Study found
                  </small>
                </label>

                <select class="form-control m-input--solid" formControlName="course_of_study_id"
                        style="width: 100%"
                        (change)="getSingleCourseOfStudy($event.target.value)">
                  <option></option>
                  <option *ngFor="let courseOfStudy of allCoursesofStudy" [value]="courseOfStudy?.id">
                    {{courseOfStudy?.name}}
                  </option>
                </select>
              </div><!--Course of Study-->
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <div class="col-lg-4">
                <label>
                  Session &nbsp;
                  <i *ngIf="load.session.loading" class="m-loader m-loader--brand"></i>&nbsp;
                </label>
                <select class="form-control m-input--solid" formControlName="year"
                        style="width: 100%">
                  <option></option>
                  <option *ngFor="let session of allSession" [value]="session?.year">
                    {{session?.name || session?.year}}
                  </option>
                </select>
              </div><!--Session-->
              <div class="col-lg-4" style="padding-bottom: 1px;">
                <label>
                  Gender &nbsp;
                </label>
                <select class="form-control m-input--solid" formControlName="gender"
                        style="width: 100%">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div><!--Gender-->
              <div class="col-lg-4" style="padding-bottom: 1px;">
                <label>
                  Level &nbsp;
                  <i *ngIf="load.level.loading" class="m-loader m-loader--brand"></i>&nbsp;
                  <small class="m--font-danger"
                         *ngIf="studentFilterForm.get('course_of_study_id').touched && allLevels.length === 0">
                    No Level Found
                  </small>
                </label>

                <select class="form-control m-input--solid" formControlName="level_id"
                        style="width: 100%">
                  <option></option>
                  <option *ngFor="let level of allLevels" [value]="level?.id">
                    {{level?.name}}
                  </option>
                </select>
                <!--<div  class="alert alert-danger col-12" role="alert" *ngIf="studentFilterForm.get('level_id').invalid && studentFilterForm.get('level_id').touched">-->
                <!--<strong>-->
                <!--Level is Required-->
                <!--</strong>-->
                <!--</div>-->
              </div><!--Level-->
            </div>
            <div class="form-group m-form__group margin">
              <button type="submit"
                      class="btn btn-accent m-btn m-btn--pill m-btn--air float-right"
                      [disabled]="studentFilterForm.invalid || load.student.get"
                      style="font-family: 'Roboto', sans-serif; margin-top: 20px;">
                Submit &nbsp;&nbsp;
                <i *ngIf="load.student.get" class="m-loader m-loader--light"></i>
              </button>
            </div><!--Button-->
          </form>
        </div>
        <!--end:::: Student Filter Form-->
        <!--begin:::: Student Table-->
        <div class="table-responsive m_datatable m-datatable--default m-datatable--scroll m-datatable--loaded pt-5">
          <table datatable [dtTrigger]="dtTrigger"
                 class="table table-hover table-striped table-sm m-table--head-bg-brand" id="html_table">
            <thead class="m-datatable__head">
            <tr class="m-datatable__row">
              <th>#</th>
              <th title="First Name">First Name</th>
              <th title="Last Name">Last Name</th>
              <th title="Other Name">Other Name</th>
              <th title="Matric No">Matric No</th>
              <th title="Email">Email</th>
              <th title="Level">Level</th>
              <th title="Course of Study">Course of Study</th>
              <th>
                <label class="m-checkbox m-checkbox--light">
                  <input type="checkbox" (change)="resultIdCheckbox($event, 'student')"
                         [checked]="miscellaneous.unselect">
                  <span></span>
                </label>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="load.student.list || allStudents.length===0" class="text-center">
              <td colspan="12" *ngIf="load.student.list">
                Fetching Students... &nbsp;&nbsp;
                <i class="m-loader m-loader--brand"></i>
              </td>
              <td colspan="13" *ngIf="!load.student.list && allStudents.length===0">
                No Record Found
              </td>
            </tr>
            <tr *ngFor="let student of allStudents; let ind=index"
                [attr.data-row]="ind">
              <td>{{ind+1}}</td>
              <td>{{student?.first_name}}</td>
              <td>{{student?.last_name}}</td>
              <td>{{student?.other_names || 'None Provided'}}</td>
              <td>{{student?.matric_no}}</td>
              <td>{{student?.email}}</td>
              <td>{{student?.level?.name}}</td>
              <td>{{student?.course_of_study?.name}}</td>
              <td>
                <label class="m-checkbox">
                  <input name="check" type="checkbox" [checked]="student?.checked"
                         (change)="logIds(ind, 'student')">
                  <span></span>
                </label>
              </td>
            </tr>
            </tbody>
          </table>
          <!--end: Datatable -->
        </div>
        <!--end:::: Student Table-->
      </ng-container>
      <ng-container *ngSwitchCase="'staff'">
        <!--begin:::: Staff Filter Form -->
        <div class="col-md-12">
          <form [formGroup]="staffFilterForm" (ngSubmit)="renderStaff()"
                class="m-form m-form--fit m-form--label-align-right">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <div class="col-lg-4" style="padding-bottom: 1px;">
                <label>
                  Staff Type
                </label>
                <select class="form-control m-input--solid" formControlName="type">
                  <option></option>
                  <option value="1">Academic</option>
                  <option value="0">Non - Academic</option>
                </select>
              </div><!--Staff Type-->
              <div class="col-lg-4" style="padding-bottom: 1px;">
                <label>
                  Faculty
                </label>
                <select data-live-search="true" formControlName="faculty_id"
                        class="form-control m-input--solid"
                        (change)="getDepartmentByFacultyId($event.target.value)">
                  <option></option>
                  <option *ngFor="let faculty of allFaculties" [value]="faculty?.id">
                    {{faculty?.name}}
                  </option>
                </select>
              </div><!--Faculty-->
              <div class="col-lg-4">
                <label>

                  Department &nbsp;
                  <i *ngIf="load.departments.loading" class="m-loader m-loader--brand"></i>&nbsp;
                  <small class="m--font-danger"
                         *ngIf="staffFilterForm.get('faculty_id').touched && departmentList.length === 0">
                    No Department found
                  </small>
                </label>
                <select class="form-control m-input--solid" formControlName="department_id">
                  <option></option>
                  <option *ngFor="let department of departmentList" [value]="department?.id">
                    {{department?.name}}
                  </option>
                </select>
              </div><!--Department-->
            </div>
            <div class="form-group m-form__group">
              <button type="submit"
                      class="btn btn-accent m-btn m-btn--pill m-btn--air float-right"
                      style="font-family: 'Roboto', sans-serif; margin-top: 20px;">
                Submit &nbsp;&nbsp;
                <i *ngIf="load.staff.get" class="m-loader m-loader--light"></i>
              </button>
            </div>
          </form>
        </div>
        <!--end:::: Staff Filter Form-->
        <!--begin:::: Staff Table-->
        <div class="m_datatable m-datatable m-datatable--default m-datatable--scroll m-datatable--loaded table-responsive pt-5">
          <table datatable [dtTrigger]="dtTrigger2"
                 class="table table-hover table-striped table-sm m-table--head-bg-brand">
            <thead class="m-datatable__head">
            <tr>
              <th>#</th>
              <th>Full Name</th>
              <th>Staff ID</th>
              <th>Email</th>
              <th>Group</th>
              <th>Staff Type</th>
              <th>Status</th>
              <th>
                <label class="m-checkbox m-checkbox--light">
                  <input type="checkbox" (change)="resultIdCheckbox($event, 'staff')"
                         [checked]="miscellaneous.unselect">
                  <span></span>
                </label>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="load.staff.list || allStaff.length===0" class="text-center">
              <td colspan="8" *ngIf="load.staff.list">
                Fetching Staff...&nbsp;&nbsp;<i class="m-loader m-loader--brand"></i>
              </td>
              <td colspan="8" *ngIf="!load.staff.list && allStaff.length === 0">
                No Record Found
              </td>
            </tr>
            <tr class="m-datatable__row" *ngFor="let Staff of allStaff; let ind=index">
              <td>{{ind+1}}</td>
              <td>{{Staff?.fullname}}</td>
              <td>{{Staff?.employee_id}}</td>
              <td>{{Staff?.email}}</td>
              <td>{{Staff?.group?.role |titlecase }}</td>
              <td *ngIf="Staff?.type==0 || !Staff?.type">Non - Academic</td>
              <td *ngIf="Staff?.type==1">Academic</td>
              <td *ngIf="Staff.enabled==='1'">
                <i class="fa fa-check" style="color: green;"></i>
              </td>
              <td *ngIf="Staff.enabled==='0'">
                <i class="fa fa-times" style="color: red"></i>
              </td>
              <td>
                <label class="m-checkbox">
                  <input name="check" type="checkbox" [checked]="Staff?.checked"
                         (change)="logIds(ind, 'staff')">
                  <span></span>
                </label>
              </td>
            </tr>

            </tbody>
          </table>

        </div>
        <!--end:::: Staff Table-->
      </ng-container>

      <div *ngSwitchDefault>

      </div>
    </ng-container>


    <div class="m--margin-top-25"></div>


    <!----------------------------EMEKA'S AREA ---------------------->


    <div class="m-portlet" *ngIf="composeMessage">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Compose Message
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" *ngIf="messageType==='sms'|| messageType==='both'">
            <a class="nav-link active" data-toggle="tab" href="#m_tabs_1_1">
              <i class="fa fa-mail-forward"></i> SMS
            </a>
          </li>
          <li class="nav-item" *ngIf="messageType==='email'|| messageType==='both'">
            <a class="nav-link" data-toggle="tab" href="#m_tabs_1_2" [ngClass]="{'active':(messageType==='email')}">
              <i class="fa fa-envelope"></i> Email
            </a>
          </li>
        </ul>
        <div class="tab-content">

          <div class="tab-pane active" id="m_tabs_1_1" role="tabpanel"
               *ngIf="messageType==='sms'|| messageType==='both'">
            <ul>
              <li class="m-portlet__nav-item">
                <div style="margin-left: 500px;padding-top: 5px">
                  <a style="color: white !important;"
                     class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"
                     (click)="triggerModalOrOverlay('open','smsVar')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Add Sms Variables
														</span>
													</span>
                  </a>
                </div>
              </li>
            </ul>
            <form [formGroup]="smsForm">
            <textarea class="form-control" formControlName="sms"></textarea>
            </form>
            <!--<div [froalaEditor]>-->
            <!---->
            <!--</div>-->
          </div>
          <div class="tab-pane" id="m_tabs_1_2" role="tabpanel"
               *ngIf="messageType==='email'|| messageType==='both'"
               [ngClass]="{'active':(messageType==='email')}">
            <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item">
                <div style="margin-left: 440px;padding-top: 20px">
                  <a style="color: white !important;"
                     class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"
                     (click)="triggerModalOrOverlay('open','emailVar')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Add Email Variables
														</span>
													</span>
                  </a>
                </div>
              </li>
            </ul>
            <div class="form-group">
              <label for="email_subject">Subject</label>
              <input type="text" id="email_subject" class="form-control m-input--solid">
            </div>
            <ckeditor
                    [(ngModel)]="ckeditorContent"
                    [config]="{uiColor: '#99000'}"
                    [readonly]="false"
                    debounce="500" #ck>
            </ckeditor>

          </div>


        </div>

        <div class="modal-footer">
          <div class="row">
            <div class="col-12">
              <!--<button class="btn btn-default m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air">Send Sms</button>-->
              <!--<button class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air">Save-->
                <!--as Draft-->
              <!--</button>-->
              <button class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="sendMessage()" [disabled]="messageForm.invalid">
                Send Message &nbsp;&nbsp;
                <i class="m-loader m-loader--light" *ngIf="load.message"></i>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>
