<!--Start:::Create or Update Course of Study -->
<div id="course_of_study_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{modal_title}}</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span> Name
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="name" type="text">
                <span class="m-form__help m--font-danger"
                      *ngIf="createForm.get('name').invalid && createForm.get('name').touched">
                      Name is Required
                </span>
              </div>
            </div><!--Name-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span> Code
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="code" type="text">
                <span class="m-form__help m--font-danger"
                      *ngIf="createForm.get('code').invalid && createForm.get('code').touched">
                      Code is Required
                </span>
              </div>
            </div><!--Code-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span> Duration
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="duration" type="number">
                <span class="m-form__help m--font-danger"
                      *ngIf="createForm.get('duration').invalid && createForm.get('duration').touched">
                      Duration is Required
                </span>
              </div>
            </div><!--Duration-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span> Degree
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <select class="form-control" formControlName="degree_id">
                  <option></option>
                  <option *ngFor="let type of allDegrees " [value]="type?.id">
                    {{type?.name}}
                  </option>
                </select>
                <span class="m-form__help m--font-danger"
                      *ngIf="createForm.get('degree_id').invalid && createForm.get('degree_id').touched">
                      Degree is Required
                </span>
              </div>
            </div><!--Degree-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Programme
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <select class="form-control" formControlName="programme_type_id">
                  <option></option>
                  <option *ngFor="let programme of allProgrammes" [value]="programme?.id">
                    {{programme?.name}}
                  </option>
                </select>
                <span class="m-form__help m--font-danger"
                      *ngIf="createForm.get('programme_type_id').invalid && createForm.get('programme_type_id').touched">
                      Programme is Required
                </span>
              </div>
            </div><!--Programme-->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
                *ngIf="!loading.updateButton"
                (click)="createCourseOfStudy()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="createForm.invalid">
          Submit &nbsp;&nbsp;
          <i class="m-loader m-loader--light" *ngIf="loading.create"></i>
        </button>
        <button type="button"
                *ngIf="loading.updateButton"
                (click)="updateCourseOfStudy()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="createForm.invalid">
          Update &nbsp;&nbsp;
          <i class="m-loader m-loader--light" *ngIf="loading.update"></i>
        </button>
        <button type="button" class="btn m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">
          Close
        </button>
      </div>
    </div>

  </div>
</div>
<!--End:::Create or Update Course of Study -->

<!--Start:::Create or Update Course-->
<div id="course_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{modal_title}}</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="createCourseForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Title
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="title" type="text">
                <span class="m-form__help m--font-danger"
                      *ngIf="createCourseForm.get('title').invalid && createCourseForm.get('title').touched">
                      Title is Required
                </span>
              </div>
            </div><!--Title-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Code
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="code" type="text">
                <span class="m-form__help m--font-danger"
                      *ngIf="createCourseForm.get('code').invalid && createCourseForm.get('code').touched">
                      Code is Required
                </span>
              </div>
            </div><!--Code-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Unit
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="unit" type="number">
                <span class="m-form__help m--font-danger"
                      *ngIf="createCourseForm.get('unit').invalid && createCourseForm.get('unit').touched">
                      Unit is Required
                </span>
              </div>
            </div><!--Unit-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Semester
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName="semester">
                  <option></option>
                  <option value=1>First</option>
                  <option value=2>Second</option>
                  <option value=3>Third</option>
                </select>
                <span class="m-form__help m--font-danger"
                      *ngIf="createCourseForm.get('semester').invalid && createCourseForm.get('semester').touched">
                      Semester is Required
                </span>
              </div>
            </div><!--Semester-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                Programme
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <select class="form-control" style="width: 100%" (change)="getLevelFromProgramme($event.target.value)"
                        formControlName="programme">
                  <option disabled></option>
                  <option *ngFor="let programme of allProgrammes" [value]="programme?.id">
                    {{programme?.name}}
                  </option>
                </select>
              </div>
            </div><!--Programme-->
            <div class="form-group m-form__group row">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Level
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <fieldset [disabled]="programmeLevels.length === 0">
                  <select class="form-control" formControlName="level_id">
                    <option></option>
                    <option *ngFor="let level of programmeLevels" [value]="level?.id">
                      {{level?.name}}
                    </option>
                  </select>
                </fieldset>
                <span class="m--font-danger"
                      *ngIf="createCourseForm.get('level_id').touched && createCourseForm.get('level_id').invalid">
                      Level is Required
                </span>
                <span class="m--font-danger"
                      *ngIf="createCourseForm.get('programme').dirty && programmeLevels.length === 0">
                      No level found!
                </span>
              </div>
            </div><!--Level-->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="!loading.updateButton" (click)="createCourse()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="createCourseForm.invalid">
          Submit &nbsp;&nbsp;
          <i class="m-loader m-loader--brand" *ngIf="loading.create"></i>
        </button>
        <button type="button" *ngIf="loading.updateButton" (click)="updateCourse()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="createCourseForm.invalid">
          Update &nbsp;&nbsp;
          <i class="m-loader m-loader--brand" *ngIf="loading.update"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">
          Close
        </button>
      </div>
    </div>

  </div>
</div>
<!--End:::Create or Update Course-->

<div class=" ">
  <div class="d-flex align-items-center">
    <div class="mr-auto m--padding-20">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Department
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/staff" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/config" class="m-nav__link">
            <span class="m-nav__link-text">
              Configuration
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/config/faculty" class="m-nav__link">
            <span class="m-nav__link-text">
              Faculties
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a [routerLink]="['/staff/config/faculty', allCourseOfStudy?.faculty_id]" class="m-nav__link">
            <span class="m-nav__link-text">
              {{ allCourseOfStudy?.faculty?.name}}
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
            <span class="m-nav__link-text">
              {{ allCourseOfStudy?.name}}
            </span>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="row">
      <table class="table table-bordered col-4">
        <tr>
          <td>Name</td>
          <td>
            <div class="text-center">
              <i class="m-loader m-loader--brand" *ngIf="loading?.courseofstudy"></i>
            </div>
            {{allCourseOfStudy?.name}}
          </td>
        </tr>
        <tr>
          <td>Code</td>
          <td>
            <div class="text-center">
              <i class="m-loader m-loader--brand" *ngIf="loading?.courseofstudy"></i>
            </div>
            {{allCourseOfStudy?.code}}
          </td>
        </tr>
        <tr>
          <td>HOD</td>
          <td>
            <div class="text-center">
              <i class="m-loader m-loader--brand" *ngIf="loading?.courseofstudy"></i>
            </div>
            {{allCourseOfStudy?.current_hod?.fullname}}
          </td>
        </tr>
      </table>
      <div class="col-1"></div>
      <form class="form-group col-7 row vertical" *ngIf="permissions['school.assign_hod']">
        <div class="col-4">
          <select class="form-control" #hod_id>
            <option value="" disabled>Select HOD</option>
            <option *ngFor="let staff of allDepartmentStaff" value="{{staff?.id}}">{{staff?.fullname}}</option>
          </select>
        </div>
        <div class="col-3 vertical">
          <label class="m-checkbox m-checkbox--state-brand">
            <input type="checkbox" #acting>
            Acting?
            <span></span>
          </label>
        </div>
        <div class="col-3">
          <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="setHOD(hod_id.value, acting)">
            Change HOD &nbsp;&nbsp;
            <i *ngIf="loading.setHOD" class="m-loader m-loader--light"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
          <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--left m-tabs-line--primary" role="tablist">
            <li class="nav-item m-tabs__item" *ngIf="permissions['school.admission.report.course.list_courses_by_crs']">
              <a class="nav-link m-tabs__link active"
                 data-toggle="tab"
                 href="#courses_of_study" role="tab">
                <i class="flaticon-share m--hide"></i>
                Courses of Study
              </a>
            </li>
            <li class="nav-item m-tabs__item" *ngIf="permissions['school.course-management.course.byDepartment']">
              <a class="nav-link m-tabs__link" data-toggle="tab"
                 href="#courses" role="tab">
                Courses
              </a>
            </li>
            <li class="nav-item m-tabs__item" *ngIf="permissions['school.staff_by_department']">
              <a class="nav-link m-tabs__link" data-toggle="tab"
                 href="#staff" role="tab">
                Staff
              </a>
            </li>
            <li class="nav-item m-tabs__item" *ngIf="permissions['school.view_department_hods']">
              <a class="nav-link m-tabs__link" data-toggle="tab"
                 href="#past_hods" role="tab">
                HODs
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="tab-content">
          <div class="tab-pane active" id="courses_of_study">
            <div class="m-portlet">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text m--padding-10 text-center text-uppercase">Courses of Study</h3>
                  </div>
                </div>
                <div class="m-portlet__head-tools">
                  <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item" *ngIf="permissions['school.course-of-study.create']">
                      <a style="color: white !important;"
                         class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                         (click)="courseOfStudyCreateModal()">
                        <span>
                          <i class="la la-plus"></i>
                          <span>
                            Course of Study
                          </span>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="m-portlet__body">
                <table
                  class="table m-table m-table--head-bg-brand m-table--head-separator-primary table-hover table-striped table-bordered small-margin">
                  <thead class="thead-color">
                  <tr>
                    <th title="Serial Number">#</th>
                    <th title="Name">Name</th>
                    <th title="Code">Code</th>
                    <th title="Created Date">Created Date</th>
                    <th title="Action" class="text-center">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="loading?.courseofstudy || allCourseOfStudy?.course_of_studies?.length == 0">
                    <td colspan="5" *ngIf="loading?.courseofstudy" class="text-center">
                      Loading &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i>
                    </td>
                    <td class="text-center" colspan="6"
                        *ngIf="!loading?.course && allCourseOfStudy?.course_of_studies?.length == 0">
                      No Content Found
                    </td>
                  </tr>
                  <tr *ngFor="let courseofstudy of allCourseOfStudy?.course_of_studies; let i = index">
                    <td scope="row">{{i + 1}}</td>
                    <td>
                      <a class="m-link m-link--focus m-login__account-link"
                         [routerLink]="['/staff/config/course-of-study', courseofstudy?.id]">{{courseofstudy?.name}}</a>
                    </td>
                    <td>{{courseofstudy?.code}}</td>
                    <td>{{courseofstudy?.created_at | date}}</td>
                    <td class="m-datatable__cell">
                      <a class="dropdown-item"
                         *ngIf="permissions['school.course-of-study.update']"
                         (click)="courseOfStudyUpdateModal(courseofstudy)">
                        <i class="la la-edit"></i>
                        Edit
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div><!--Courses of Study-->
          <div class="tab-pane" id="courses">
            <div class="m-portlet">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text m--padding-10 text-center text-uppercase">Courses</h3>
                  </div>
                </div>
                <div class="m-portlet__head-tools">
                  <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item" *ngIf="permissions['school.course-management.course.create']">
                      <a style="color: white !important;"
                         class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                         (click)="courseCreateModal()">
                        <span>
                          <i class="la la-plus"></i>
                          <span>
                            Course
                          </span>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="m-portlet__body">
                <table datatable [dtTrigger]="dtTrigger"
                       class="table m-table--head-bg-brand m-table m-table--head-separator-primary table-hover table-striped table-bordered small-margin">
                  <thead>
                  <tr>
                    <th title="Serial Number">#</th>
                    <th title="Title">Title</th>
                    <th title="Code">Code</th>
                    <th title="Level">Level</th>
                    <th title="Unit">Unit</th>
                    <th title="Semester">Semester</th>
                    <th title="Created Date">Created Date</th>
                    <th title="Action" class="text-center">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="loading?.course">
                    <td colspan="8" *ngIf="loading?.course" class="text-center">
                      Loading data &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i>
                    </td>
                    <td class="text-center" colspan="6"
                        *ngIf="!loading?.course && allCourseOfStudy?.course_of_studies?.length == 0">
                      No Content Found
                    </td>
                  </tr>
                  <tr *ngFor="let course of allDepartmentalCourses; let i = index">
                    <td scope="row">{{i + 1}}</td>
                    <td>{{course?.title}}</td>
                    <td>{{course?.code}}</td>
                    <td>{{course?.level?.name}}</td>
                    <td>{{course?.unit}}</td>
                    <td *ngIf="course?.semester == 1">First</td>
                    <td *ngIf="course?.semester == 2">Second</td>
                    <td *ngIf="course?.semester == 3">ERP</td>
                    <td>{{course?.created_at | date}}</td>
                    <td data-field="Type" class="m-datatable__cell">
                      <a class="dropdown-item"
                         *ngIf="permissions['school.course-management.course.update']"
                         (click)="courseUpdateModal(course)">
                        <i class="la la-edit"></i>
                        Edit
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div><!--Courses-->
          <div class="tab-pane" id="staff">
            <div class="m-portlet">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text m--padding-10 text-center text-uppercase">Department Staff</h3>
                  </div>
                </div>
                <div class="m-portlet__head-tools" *ngIf="permissions['school.staff_by_department.update']">
                  <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                      <div><i class="m-loader m-loader--brand" *ngIf="loading.staff"></i></div>
                      <form [formGroup]="createDepartmentStaffForm">
                        <ss-multiselect-dropdown #staff [texts]="myTexts" [settings]="mySettings" [options]="allStaff"
                                                 formControlName="lecturer_ids">
                        </ss-multiselect-dropdown>
                      </form>
                    </li>
                    <li class="m-portlet__nav-item">
                      <a style="color: white !important;"
                         class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                         (click)="addStaffToDepartment()">
                        <span>
                            &nbsp;&nbsp; Add Staff &nbsp;&nbsp;
                          <i class="m-loader m-loader--light" *ngIf="loading.addStaff"></i>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="m-portlet__body">
                <table datatable [dtTrigger]="dtTrigger2"
                       class="table m-table--head-bg-brand m-table m-table--head-separator-primary table-hover table-striped table-bordered small-margin">
                  <thead>
                  <tr>
                    <th title="Serial Number">#</th>
                    <th title="Name">Name</th>
                    <th title="Group">Group</th>
                    <th title="Email">Email</th>
                    <th title="Type">Type</th>
                    <th title="Created Date">Created Date</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="loading?.staff">
                    <td colspan="6" *ngIf="loading?.course" class="text-center">
                      Loading data &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i>
                    </td>
                    <td class="text-center" colspan="6" *ngIf="!loading?.staff && allDepartmentStaff?.length == 0">
                      No Content Found
                    </td>
                  </tr>
                  <tr *ngFor="let staff of allDepartmentStaff; let i = index">
                    <td scope="row">{{i + 1}}</td>
                    <td>{{staff?.fullname}}</td>
                    <td>{{staff?.group?.name}}</td>
                    <td>{{staff?.email}}</td>
                    <td *ngIf="staff?.type == 0">Non Academic</td>
                    <td *ngIf="staff?.type == 1">Academic</td>
                    <td>{{staff?.created_at | date}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div><!--Staff-->
          <div class="tab-pane" id="past_hods">
            <div class="m-portlet">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text m--padding-10 text-center text-uppercase">HODs</h3>
                  </div>
                </div>
              </div>
              <div class="m-portlet__body">
                <div class="m--margin-20"></div>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let hod of allHODs">
                    {{hod?.fullname}}
                    <span class="m-badge m-badge--warning m-badge--wide float-right"
                          *ngIf="hod?.status == 2">Acting</span>
                    <span class="m-badge m-badge--accent m-badge--wide float-right"
                          *ngIf="hod?.status == 1">Current</span>
                  </li>
                </ul>
              </div>
            </div>
          </div><!--HODs-->
        </div>
      </div>
    </div>
  </div>
</div>
