<div class="m-portlet">
  <div class="m-portlet__body  m-portlet__body--no-padding">
    <div class="row m-row--no-padding relative">
      <div *ngIf="loader" class="table-loader">
        <div class="content">
          <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
      </div>
      <div class="col-xl-4">
        <!--begin:: Widgets/Daily Sales-->
        <div class="m-widget14">
          <div class="m-widget14__header m--margin-bottom-30">
            <h3 class="m-widget14__title">
              Aggregate Students
            </h3>
          </div>
          <div class="row  align-items-center">
            <div class="col">
              <div class="m-widget14__chart" id="students_overview">
                <!--<svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%"-->
                     <!--class="ct-chart-donut" style="width: 100%; height: 100%;">-->
                  <!--<g class="ct-series custom">-->
                    <!--<path d="M148.187,108.314A66.5,66.5,0,0,0,88.016,13.5" class="ct-slice-donut"-->
                          <!--ct:value="32"-->
                          <!--ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#716aca&amp;quot;}}"-->
                          <!--style="stroke-width: 17px;"-->
                          <!--stroke-dasharray="133.70704650878906px 133.70704650878906px"-->
                          <!--stroke-dashoffset="-133.70704650878906px" stroke="#716aca">-->
                      <!--<animate attributeName="stroke-dashoffset" id="anim0" dur="1000ms"-->
                               <!--from="-133.70704650878906px" to="0px" fill="freeze"-->
                               <!--stroke="#716aca"-->
                               <!--calcMode="spline" keySplines="0.23 1 0.32 1"-->
                               <!--keyTimes="0;1"></animate>-->
                    <!--</path>-->
                  <!--</g>-->
                  <!--<g class="ct-series custom">-->
                    <!--<path d="M36.776,122.389A66.5,66.5,0,0,0,148.285,108.104" class="ct-slice-donut"-->
                          <!--ct:value="32"-->
                          <!--ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#00c5dc&amp;quot;}}"-->
                          <!--style="stroke-width: 17px;"-->
                          <!--stroke-dasharray="133.94058227539062px 133.94058227539062px"-->
                          <!--stroke-dashoffset="-133.94058227539062px" stroke="#00c5dc">-->
                      <!--<animate attributeName="stroke-dashoffset" id="anim1" dur="1000ms"-->
                               <!--from="-133.94058227539062px" to="0px" fill="freeze"-->
                               <!--stroke="#00c5dc"-->
                               <!--begin="anim0.end" calcMode="spline" keySplines="0.23 1 0.32 1"-->
                               <!--keyTimes="0;1"></animate>-->
                    <!--</path>-->
                  <!--</g>-->
                  <!--<g class="ct-series custom">-->
                    <!--<path d="M88.016,13.5A66.5,66.5,0,0,0,36.925,122.567" class="ct-slice-donut"-->
                          <!--ct:value="36"-->
                          <!--ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#ffb822&amp;quot;}}"-->
                          <!--style="stroke-width: 17px;"-->
                          <!--stroke-dasharray="150.65411376953125px 150.65411376953125px"-->
                          <!--stroke-dashoffset="-150.65411376953125px" stroke="#ffb822">-->
                      <!--<animate attributeName="stroke-dashoffset" id="anim2" dur="1000ms"-->
                               <!--from="-150.65411376953125px" to="0px" fill="freeze"-->
                               <!--stroke="#ffb822"-->
                               <!--begin="anim1.end" calcMode="spline" keySplines="0.23 1 0.32 1"-->
                               <!--keyTimes="0;1"></animate>-->
                    <!--</path>-->
                  <!--</g>-->

                <!--</svg>-->

                <div class="m-widget14__stat">

                  {{dashboardData?.students?.total}}
                </div>

              </div>
            </div>
            <div class="col">
              <div class="m-widget14__legends">
                <div class="m-widget14__legend">
                  <span class="m-widget14__legend-bullet m--bg-brand"></span>
                  <span class="m-widget14__legend-text">
															{{ratios?.current | number: '1.1-2'}}% Current ({{dashboardData?.students?.current}})
														</span>
                </div>

                <!--<div class="m-widget14__legend">-->
                  <!--<span class="m-widget14__legend-bullet m&#45;&#45;bg-danger"></span>-->
                  <!--<span class="m-widget14__legend-text">-->
															<!--{{ratios.expelled | number: '1.2-3'}}% Expelled ({{dashboardData?.students?.expelled}})-->
														<!--</span>-->
                <!--</div>-->
                <div class="m-widget14__legend">
                  <span class="m-widget14__legend-bullet m--bg-success"></span>
                  <span class="m-widget14__legend-text">
															{{ratios.graduated | number: '1.2-3'}}% Graduated ({{dashboardData?.students?.graduated}})
														</span>
                </div>
                <!--<div class="m-widget14__legend">-->
                  <!--<span class="m-widget14__legend-bullet m&#45;&#45;bg-info"></span>-->
                  <!--<span class="m-widget14__legend-text">-->
															<!--{{ratios?.suspended | number: '1.2-3'}}% Suspended ({{dashboardData?.students?.suspended}})-->
														<!--</span>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
        <!--end:: Widgets/Daily Sales-->
      </div>
      <div class="col-xl-4">
        <!--begin:: Widgets/Profit Share-->
        <!--<div class="m-widget14">-->
          <!--<div class="m-widget14__header m&#45;&#45;margin-bottom-30">-->
            <!--<h3 class="m-widget14__title">-->
              <!--Transactions & Payments-->
            <!--</h3>-->
            <!--<span class="m-widget14__desc">-->
													<!--Check out each collumn for more details-->
												<!--</span>-->
          <!--</div>-->
          <!--<div class="m-widget14__chart" style="height:120px;">-->
            <!--<div class="chartjs-size-monitor"-->
                 <!--style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">-->
              <!--<div class="chartjs-size-monitor-expand"-->
                   <!--style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">-->
                <!--<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>-->
              <!--</div>-->
              <!--<div class="chartjs-size-monitor-shrink"-->
                   <!--style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">-->
                <!--<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<canvas id="m_chart_transactions" width="624" height="120" class="chartjs-render-monitor"-->
                    <!--style="display: block; width: 624px; height: 120px;"></canvas>-->
          <!--</div>-->
        <!--</div>-->
        <!--end:: Widgets/Profit Share-->
      </div>
      <div class="col-xl-4">
        <!--begin:: Widgets/Support Stats-->
        <div class="m-widget1">
          <div class="m-widget1__item">
            <div class="row m-row--no-padding align-items-center">
              <div class="col">
                <span class="m-widget1__title">
                  All Programmes
                </span>
                <span class="m-widget1__desc">
                                    <!--{{dashboardData?.programmes}}-->
													</span>
              </div>
              <div class="col m--align-right">
													<span class="m-widget1__number m--font-focus">
														                                    {{dashboardData?.programmes}}

													</span>
              </div>
            </div>
          </div>
          <div class="m-widget1__item">
            <div class="row m-row--no-padding align-items-center">
              <div class="col">
                <span class="m-widget1__title">
                  Faculties
                </span>
                <span class="m-widget1__desc">
														                                    <!--{{dashboardData?.faculties}}-->

													</span>
              </div>
              <div class="col m--align-right">
                <span class="m-widget1__number m--font-accent">{{dashboardData?.faculties}}</span>
              </div>
            </div>
          </div>
          <div class="m-widget1__item">
            <div class="row m-row--no-padding align-items-center">
              <div class="col">
                <span class="m-widget1__title">
                  Departments
                </span>
                <span class="m-widget1__desc">
														                                    <!--{{dashboardData?.department}}-->

													</span>
              </div>
              <div class="col m--align-right">
													<span class="m-widget1__number m--font-info">
																												                                    {{dashboardData?.department}}

													</span>
              </div>
            </div>
          </div>
          <div class="m-widget1__item">
            <div class="row m-row--no-padding align-items-center">
              <div class="col">
                <span class="m-widget1__title">
                  All Courses of Study
                </span>
                <span class="m-widget1__desc">
														                                    <!--{{dashboardData?.course_of_studies}}-->

													</span>
              </div>
              <div class="col m--align-right">
													<span class="m-widget1__number m--font-info">
																												                                    {{dashboardData?.course_of_studies}}

													</span>
              </div>
            </div>
          </div>
        </div>
        <!--end:: Widgets/Support Stats-->
      </div>
    </div>
  </div>
</div>

<!--<div class="row">-->
<!--<div class="col-6">-->
<!--&lt;!&ndash;begin:: Widgets/Sales Stats&ndash;&gt;-->
<!--<div class="m-portlet m-portlet&#45;&#45;bordered-semi m-portlet&#45;&#45;full-height ">-->
<!--<div class="m-portlet__head">-->
<!--<div class="m-portlet__head-caption">-->
<!--<div class="m-portlet__head-title">-->
<!--<h3 class="m-portlet__head-text">-->
<!--Fees By Volume-->
<!--</h3>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--<div class="m-portlet__body">-->
<!--&lt;!&ndash;begin::Widget 6&ndash;&gt;-->
<!--<div class="m-widget15">-->
<!--<div class="m-widget15__chart" style="height:180px;">-->
<!--<div class="chartjs-size-monitor"-->
<!--style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">-->
<!--<div class="chartjs-size-monitor-expand"-->
<!--style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">-->
<!--<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>-->
<!--</div>-->
<!--<div class="chartjs-size-monitor-shrink"-->
<!--style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">-->
<!--<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>-->
<!--</div>-->
<!--</div>-->
<!--<canvas id="fees_by_volume" width="752" height="180" class="chartjs-render-monitor"-->
<!--style="display: block; width: 752px; height: 180px;"></canvas>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="m-widget15__items">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m-widget15__item">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__stats">&ndash;&gt;-->
<!--&lt;!&ndash;63%&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__text">&ndash;&gt;-->
<!--&lt;!&ndash;Percentage Volume Pending&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m&#45;&#45;space-10"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress m-progress&#45;&#45;sm">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress-bar bg-danger" role="progressbar" [ngStyle]="setProgressBars(pendingVolume)"&ndash;&gt;-->
<!--&lt;!&ndash;aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m-widget15__item">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__stats">&ndash;&gt;-->
<!--&lt;!&ndash;54%&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__text">&ndash;&gt;-->
<!--&lt;!&ndash;Orders Grow&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m&#45;&#45;space-10"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress m-progress&#45;&#45;sm">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress-bar bg-warning" role="progressbar" style="width: 40%;"&ndash;&gt;-->
<!--&lt;!&ndash;aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m-widget15__item">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__stats">&ndash;&gt;-->
<!--&lt;!&ndash;41%&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__text">&ndash;&gt;-->
<!--&lt;!&ndash;Profit Grow&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m&#45;&#45;space-10"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress m-progress&#45;&#45;sm">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress-bar bg-success" role="progressbar" style="width: 55%;"&ndash;&gt;-->
<!--&lt;!&ndash;aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m-widget15__item">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__stats">&ndash;&gt;-->
<!--&lt;!&ndash;79%&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__text">&ndash;&gt;-->
<!--&lt;!&ndash;Member Grow&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m&#45;&#45;space-10"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress m-progress&#45;&#45;sm">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress-bar bg-primary" role="progressbar" style="width: 60%;"&ndash;&gt;-->
<!--&lt;!&ndash;aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="m-widget15__desc">-->
<!--&lt;!&ndash;* lorem ipsum dolor sit amet consectetuer sediat elit&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;end::Widget 6&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;end:: Widgets/Sales Stats&ndash;&gt;-->
<!--</div>-->
<!--<div class="col-6">-->
<!--&lt;!&ndash;begin:: Widgets/Sales Stats&ndash;&gt;-->
<!--<div class="m-portlet m-portlet&#45;&#45;bordered-semi m-portlet&#45;&#45;full-height ">-->
<!--<div class="m-portlet__head">-->
<!--<div class="m-portlet__head-caption">-->
<!--<div class="m-portlet__head-title">-->
<!--<h3 class="m-portlet__head-text">-->
<!--Fees By Amount (&#x20A6;)-->
<!--</h3>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="m-portlet__body">-->
<!--&lt;!&ndash;begin::Widget 6&ndash;&gt;-->
<!--<div class="m-widget15">-->
<!--<div class="m-widget15__chart" style="height:180px;">-->
<!--<div class="chartjs-size-monitor"-->
<!--style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">-->
<!--<div class="chartjs-size-monitor-expand"-->
<!--style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">-->
<!--<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>-->
<!--</div>-->
<!--<div class="chartjs-size-monitor-shrink"-->
<!--style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">-->
<!--<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>-->
<!--</div>-->
<!--</div>-->
<!--<canvas id="fees_by_value" width="752" height="180" class="chartjs-render-monitor"-->
<!--style="display: block; width: 752px; height: 180px;"></canvas>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="m-widget15__items">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m-widget15__item">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__stats">&ndash;&gt;-->
<!--&lt;!&ndash;63%&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__text">&ndash;&gt;-->
<!--&lt;!&ndash;Sales Grow&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m&#45;&#45;space-10"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress m-progress&#45;&#45;sm">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress-bar bg-danger" role="progressbar" style="width: 25%;"&ndash;&gt;-->
<!--&lt;!&ndash;aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m-widget15__item">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__stats">&ndash;&gt;-->
<!--&lt;!&ndash;54%&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__text">&ndash;&gt;-->
<!--&lt;!&ndash;Orders Grow&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m&#45;&#45;space-10"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress m-progress&#45;&#45;sm">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress-bar bg-warning" role="progressbar" style="width: 40%;"&ndash;&gt;-->
<!--&lt;!&ndash;aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m-widget15__item">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__stats">&ndash;&gt;-->
<!--&lt;!&ndash;41%&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__text">&ndash;&gt;-->
<!--&lt;!&ndash;Profit Grow&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m&#45;&#45;space-10"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress m-progress&#45;&#45;sm">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress-bar bg-success" role="progressbar" style="width: 55%;"&ndash;&gt;-->
<!--&lt;!&ndash;aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m-widget15__item">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__stats">&ndash;&gt;-->
<!--&lt;!&ndash;79%&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<span class="m-widget15__text">&ndash;&gt;-->
<!--&lt;!&ndash;Member Grow&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m&#45;&#45;space-10"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress m-progress&#45;&#45;sm">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="progress-bar bg-primary" role="progressbar" style="width: 60%;"&ndash;&gt;-->
<!--&lt;!&ndash;aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="m-widget15__desc">-->
<!--&lt;!&ndash;* lorem ipsum dolor sit amet consectetuer sediat elit&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;end::Widget 6&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;end:: Widgets/Sales Stats&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
