@media print and (min-width: 480px) {
    #ebillsSlip {
        /*background-color: red;*/
    }
}

.img-div {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.img-div img {
    max-width: 100%;
    max-height: 100px;
    display: block;
    margin: auto;
}

img.img {
    max-width: 90px;
    height: auto;
}

input[type=number] {
  width: 130px;
}
