<div id="stdRegModal" class="modal  fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Payment</h4>
        <div class="pull-right" *ngIf="paymentLogo">
          <img src="{{paymentLogo}}" class="img">
        </div>
        <a class="float-right" data-dismiss="modal">
          <i class="la la-close"></i>
        </a>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Payment Method
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <select #methodLogo (change)="setPaymentLogo(methodLogo.value)" class="form-control"
                        formControlName="payment_method">
                  <option value="">Select Payment Method</option>
                  <option *ngFor="let payment of feedBack?.payments" [value]="payment"> {{payment}}</option>
                </select>
                <small class="m--font-danger animated rubberBand"
                       *ngIf="createForm.get('payment_method').invalid && createForm.get('payment_method').dirty">
                  Payment Method is Required
                </small>
              </div>
            </div>
            <div class="form-group m-form__group row" *ngIf="createForm.value?.payment_method === 'Manual'">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span> Payment Receipt
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <input type="file"
                       class="form-control"
                       formControlName="receipt"
                       id="payment_evidence" (change)="validateImage('payment_evidence', $event)">
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <!--<label class="col-3 col-form-label">-->
              <!--<span class="styleStar">*</span>Fee Item-->
              <!--</label>-->
              <div class="col-12">
                <span class="styleStar">*</span>
                <span class="font-weight-bold">Fee Items</span>
                <div class="float-right" *ngIf="fee_details?.session?.name">
                  <b class="ml-3">Session:</b> <span>{{ fee_details?.session?.name }}</span>
                  <b class="ml-3">Level</b> <span>{{ fee_details?.level?.name }}</span>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 table-responsive">
                <table class="table table-hover table-striped table-sm m-table--head-bg-brand table-bordered">
                  <thead class="thead-color">
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Amount <span *ngIf="feedBack?.enablePartPayment">Remaining</span></th>
                    <th *ngIf="feedBack?.enablePartPayment"> Total Amount</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="feedBack.loader">
                    <td [attr.colspan]="(feedBack?.enablePartPayment) ? '5' : '4'" class="text-center">
                      <ng-container>
                        Loading Fees &nbsp; &nbsp;<i class="m-loader m-loader--brand"></i>
                      </ng-container>
                    </td>
                  </tr>
                  <ng-container *ngFor="let fees of feedBack?.allFees; let i = index">


                    <tr>
                      <td [attr.colspan]="(feedBack?.enablePartPayment) ? '5' : '4'" class="text-center my-3">
                        <strong>{{setSemesterName(fees)}}</strong>&nbsp;&nbsp;
                        <label *ngIf="feedBack?.payment_school_fee_auto_fill?.toString()=='1' && visibleCustom"
                          class="m-checkbox m-checkbox--state-success">
                          <input type="checkbox" id="show_spread" (change)="enterCustomAmount(i)">
                          Enter Custom Amount
                          <span></span>
                        </label>
                      </td>
                    </tr>
                    <tr *ngIf="showCustomInput &&  feedBack?.payment_school_fee_auto_fill?.toString()=='1'">
                      <td [attr.colspan]="(feedBack?.enablePartPayment) ? '5' : '4'" class="text-center my-3">
                        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                          <label class="col-3 col-form-label">
                            Enter Amount
                          </label>
                          <div class="col-lg-9 col-md-9 col-sm-12">

                            <input class="form-control" type="number" id="custom_amount{{i}}"
                                   (change)="spreadAmount(i,fees)">
                          </div>
                        </div>

                      </td>
                    </tr>
                    <!--<div class="text-center my-1"></div>-->
                    <tr *ngFor="let fee of fees; let ind = index">
                      <td>{{ind+1}}</td>
                      <td>
                        {{fee?.fee_item?.name}}
                        <span class="badge badge-dark" *ngIf="fee?.status.toString() === '1'">REQUIRED</span>
                      </td>
                      <td>{{fee?.amount_remaining | currency: '&#8358;'}}</td>
                      <td *ngIf="feedBack?.enablePartPayment">{{fee?.amount | currency: '&#8358;'}}</td>
                      <td *ngIf="!feedBack?.enablePartPayment" class="align-middle">
                        <label class="m-checkbox m-checkbox--state-success col-4" *ngIf="!feedBack?.payment_school_fee_multiple">
                          <input type="checkbox" (change)="onSelectFee(fee?.id, fee?.amount_remaining, fee, i)">
                          <span></span>
                        </label>
                        <label class="m-radio m-radio--state-success col-4" *ngIf="feedBack?.payment_school_fee_multiple">
                          <input type="radio" name="example_2" (change)="removeIfExist(fee?.id, fee?.amount_remaining, fee, i)">
                          <span></span>
                        </label>
                      </td>
                      <td *ngIf="feedBack?.enablePartPayment" class="small-input">
                        <input type="number"
                               id="part_pay{{i}}{{ind}}"
                               [value]="(fee?.pay_in_full) ? fee?.amount_remaining : ''"
                               [disabled]="fee?.pay_in_full || fee?.disable"
                               (change)="onSelectPartFee(fee?.id, fee?.amount, i, ind, fee)"
                               *ngIf="feedBack?.payment_school_fee_auto_fill?.toString() === '0' || !showCustomInput">

                        <input type="number" id="{{fee?.randomId}}"
                               [value]="(fee?.pay_in_full) ? fee?.amount_remaining : ''"
                               [disabled]="fee?.pay_in_full || fee?.disable"
                               *ngIf="feedBack?.payment_school_fee_auto_fill?.toString() === '1'&& showCustomInput">
                      </td>

                      <!--<td *ngIf="feedBack?.enablePartPayment" class="small-input">-->
                      <!--<input type="number" id="part_pay{{i}}{{ind}}"-->
                      <!--[disabled]="fee?.pay_in_full && fee?.amount_remaining"-->
                      <!--[value]="(fee?.pay_in_full) ? fee?.amount_remaining : ''"-->
                      <!--(change)="onSelectPartFee(fee?.id, fee?.amount, i, ind, fee)">-->
                      <!--</td>-->
                      <!--
                        [disabled]="fee?.pay_in_full && fee?.amount_remaining"
                        [value]="(fee?.pay_in_full) ? fee?.amount_remaining : ''"
                      -->
                    </tr>

                    <tr *ngIf="fees?.length === 0 || feeInfo[i]?.loading">
                      <td [attr.colspan]="(feedBack?.enablePartPayment) ? '5' : '4'"
                          *ngIf="fees?.length === 0 && !feeInfo[i]?.loading" class="text-center">
                        {{noContentMessage}}
                      </td>
                      <td [attr.colspan]="(feedBack?.enablePartPayment) ? '5' : '4'" *ngIf="feedBack?.loader"
                          class="text-center">Loading Fees for
                        {{setSemesterName(i)}}<i
                          class="fa fa-spinner fa-spin"></i></td>
                    </tr>


                    <tr class="my-3">
                      <td class="align-middle" [attr.colspan]="(feedBack?.enablePartPayment) ? '5' : '4'">
                        <div class="my-4">
                          <div class="float-left">
                            <h4><b>Total: </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ feeInfo[i]?.total | currency: '&#8358;'}}
                            </h4>
                          </div>
                          <div class="float-right">
                            <button (click)="createFormModal(i)" class="btn btn-accent m-btn--pill m-btn--air btn-sm"
                                    [disabled]=" (feeItem_Id.length == 0 && feesThatAreAlreadySpread.length == 0 ) || createForm.invalid || feeInfo[i].loading || !feeInfo[i].submit">

                              &nbsp;&nbsp; Submit &nbsp;&nbsp; <i class="m-loader m-loader--light"
                                                                  *ngIf="feeInfo[i].loading"></i>
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
      <span class="text-center" *ngIf="etransactObject?.submitting">Please Wait <span class="loading black"></span>
        <!--<div class="m-loader m-loader&#45;&#45;right"></div>-->
        </span>
      <div class="modal-footer">
        <!--<button type="button" (click)="createFormModal()"-->
        <!--class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm"-->
        <!--data-dismiss="modal"-->
        <!--[disabled]="submitStatus && createForm.invalid && feeItem_Id.length === 0">-->
        <!--Submit <i class="fa fa-spinner fa-spin" *ngIf="submitStatus"></i>-->
        <!--</button>-->


        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>

<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog ">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center col-12">
          <h4 class="modal-title">Invoice</h4>
        </div>
        <a class="float-right" data-dismiss="modal">
          <i class="la la-close"></i>
        </a>
      </div>
      <div class="modal-body" *ngIf="feedBack?.viewDetails">
        <div class="relative" id="view_payment">
          <img class="water-mark" width="100%" height="auto" [src]="feedBack?.schoolDetails?.settings?.logo">
          <div class="img-div mb-3" [ngClass]="feedBack?.schoolDetails?.id.toString() === '4' ? 'float-left' : ''">
            <img [src]="feedBack?.schoolDetails?.settings?.logo">
          </div>
          <div class="img-div mb-3 float-right" *ngIf="feedBack?.schoolDetails?.id.toString() === '4'">
            <img [src]="authStudent?.passport">
          </div>
          <h3 class="col-12 text-center" style="clear: both"> {{ feedBack?.schoolDetails?.name }} </h3>
          <h1 class="my-2 p-1"><b>Receipt</b></h1>
          <table class="table table-sm table-striped">
            <tr>
              <td><b></b></td>
              <td *ngIf="feedBack?.viewDetails?.status.toString() === '1'">
                <span class="float-right badge badge-success py-3 px-2">Completed</span>
              </td>
              <td *ngIf="feedBack?.viewDetails?.status.toString() === '2'">
                <span class="float-right badge badge-warning py-3 px-2">Pending</span>
              </td>
              <td *ngIf="feedBack?.viewDetails?.status.toString() === '0'">
                <span class="float-right badge badge-danger py-3 px-2">Failed</span>
              </td>
            </tr>
            <tr>
              <td><b>Name:</b></td>
              <td>{{authStudent?.full_name}}</td>
            </tr>
            <tr>
              <td><b>Matric Number:</b></td>
              <td>{{authStudent?.matric_no}}</td>
            </tr>
            <tr>
              <td><b>Session</b></td>
              <td>{{feedBack?.viewDetails?.session_name || feedBack?.viewDetails?.session_year}}</td>
            </tr>
            <tr>
              <td><b>Department</b></td>
              <td>{{ authStudent?.course_of_study?.department?.name }}</td>
            </tr>
            <tr>
              <td><b>Semester</b></td>
              <td *ngIf="feedBack?.viewDetails?.semester.toString() === '0'">General</td>
              <td *ngIf="feedBack?.viewDetails?.semester.toString() === '1'">First</td>
              <td *ngIf="feedBack?.viewDetails?.semester.toString() === '2'">Second</td>
              <td *ngIf="feedBack?.viewDetails?.semester.toString() === '3'">Third</td>
            </tr>
            <tr>
              <td><b>Level</b></td>
              <td>{{authStudent?.level?.name}}</td>
            </tr>
            <tr>
              <td><b>Transaction ID:</b></td>
              <td>{{feedBack?.viewDetails?.transaction_no}}</td>
            </tr>
            <tr>
              <td><b>Payment Method</b></td>
              <td>{{feedBack?.viewDetails?.payment_method}}</td>
            </tr>
            <tr>
              <td><b>Date Generated</b></td>
              <td>{{feedBack?.viewDetails?.created_at | date}}</td>
            </tr>
            <tr *ngIf="feedBack?.viewDetails?.status.toString() === '1'">
              <td><b>Date Paid</b></td>
              <td>{{feedBack?.viewDetails?.updated_at | date}}</td>
            </tr>
            <tr>
              <td><b>Total Amount</b></td>
              <td>{{feedBack?.viewDetails?.amount | currency: '&#8358;'}}</td>
            </tr>
          </table>

          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div class="col-12 text-center font-weight-bold my-3">
              Payment Details
            </div>
            <div class="col-12">
              <table class="table table-sm table-bordered">
                <tr>
                  <th class="text-dark text-left">#</th>
                  <th class="text-dark text-left">Name</th>
                  <th class="text-dark text-left">Amount</th>
                </tr>
                <tr *ngFor="let feeItem of feedBack?.viewDetails?.student_transaction_items; let i = index">
                  <td class="text-left">{{i+1}}</td>
                  <td class="text-left">{{feeItem?.fee?.fee_item?.name}}</td>
                  <td class="text-left">{{feeItem?.amount | currency: '&#8358;'}}</td>
                </tr>
              </table>
            </div>
            <div class="m--margin-top-40 text-center font-weight-bold"
                 *ngIf="feedBack?.viewDetails?.status.toString() === '1'">A duplicate of this receipt should be
              submitted during Bursary Clearance
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-accent m-btn--pill m-btn--air"
                *ngIf="feedBack?.viewDetails?.status.toString() === '1'"
                (click)="printSlip('view_payment')">
          <i class="la la-print"></i>
          Print &nbsp;&nbsp;
          <i *ngIf="feedBack.print_loader" class="m-loader m-loader--light"></i>
        </button>
        <button type="button"
                class="btn btn-danger m-btn--pill m-btn--air"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>

<form method='POST' action='{{ETRANSACT_URL}}' id="etransact_submit">
  <input type=hidden name='TERMINAL_ID' value='{{etransactObject.TERMINAL_ID}}'>
  <input type=hidden name='TRANSACTION_ID' value='{{etransactObject.TRANSACTION_ID}}'>
  <input type=hidden name='RESPONSE_URL' value='{{etransactObject.RESPONSE_URL}}'>
  <input type=hidden name='AMOUNT' value='{{etransactObject.AMOUNT}}'>
  <input type=hidden name='LOGO_URL' value='{{etransactObject.LOGO_URL}}'>
  <input type=hidden name='NOTIFICATION_URL' value='{{etransactObject.NOTIFICATION_URL}}'>
  <input type=hidden name='CHECKSUM' value='{{etransactObject.CHECKSUM}}'>
  <input type=hidden name='COL1' value='{{etransactObject.COL1}}'>
</form>
<!--<form method='POST' action='{{XPRESSPAY_URL}}' id="xpresspay_submit">
  <input type=hidden name='XPRESS_PAYMENT_MERCHANT_ID' value='{{xpresspayObject.XPRESS_PAYMENT_MERCHANT_ID}}'>
  <input type=hidden name='XPRESS_PAYMENT_PUBLIC_KEY' value='{{xpresspayObject.XPRESS_PAYMENT_PUBLIC_KEY}}'>
  <input type=hidden name='XPRESS_PAYMENT_PRIVATE_KEY' value='{{xpresspayObject.XPRESS_PAYMENT_PRIVATE_KEY}}'>
  <input type=hidden name='XPRESS_PAYMENT_REQUERY_URL' value='{{xpresspayObject.XPRESS_PAYMENT_REQUERY_URL}}'>
  <input type=hidden name='XPRESS_PAYMENT_CALLBACK_URL_ACCEPTANCE'
         value='{{xpresspayObject.XPRESS_PAYMENT_CALLBACK_URL_ACCEPTANCE}}'>
</form>-->
<form method='POST' action='{{XPRESSPAY_URL}}' id="xpresspay_submit" target="_self" *ngIf="xpresspayObject">
  <input type=hidden name='amount' value='{{xpresspayObject.amount}}'>
  <input type=hidden name='callback-url' value="{{ xpresspayObject['callback-url'] }}">
  <input type=hidden name='currency' value='{{xpresspayObject.currency}}'>
  <input type=hidden name='customer-email' value="{{xpresspayObject['customer-email']}}">
  <input type=hidden name='hash' value='{{xpresspayObject.hash}}'>
  <input type=hidden name='merchant-id' value='{{xpresspayObject["merchant-id"]}}'>
  <input type=hidden name='product-desc' value='{{xpresspayObject["product-desc"]}}'>
  <input type=hidden name='product-id' value='{{xpresspayObject["product-id"]}}'>
  <input type=hidden name='public-key' value='{{xpresspayObject["public-key"]}}'>
  <input type=hidden name='trans-id' value='{{xpresspayObject["trans-id"]}}'>
  <input type=hidden name='hash-type' value="{{xpresspayObject['hash-type']}}">
  <input type=hidden name='callback-url' value="{{ XPRESSPAY_CALLBACK_URL }}">
</form>


<!--{{feedBack?.schoolDetails|json}}-->
<div
  class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-container m-container--responsive m-container--xxl m-page__container m-body">
  <!-- BEGIN: Left Aside -->
  <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
    <i class="la la-close"></i>
  </button>
  <div id="m_aside_left" class="m-grid__item m-aside-left ">
    <!-- BEGIN: Aside Menu -->
    <div
      id="m_ver_menu"
      class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
      data-menu-vertical="true"
      data-menu-scrollable="false" data-menu-dropdown-timeout="500">

      <app-aside-nav></app-aside-nav>
    </div>
    <!-- END: Aside Menu -->
  </div>
  <!-- END: Left Aside -->
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- END: Subheader -->
    <div class="m-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Payment History
                  </h3>
                </div>
              </div>
              <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                  <li class="m-portlet__nav-item">
                    <a style="color: white !important;"
                       class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                       (click)="onStudentReg()">
													<span>
														<i class="la la-plus"></i>
														<span>
															Make Payment
														</span>
													</span>
                    </a>
                  </li>
                  <ng-container *ngIf="studentRegistrations && studentRegistrations.length">
                    <li class="m-portlet__nav-item">for</li>
                    <li class="m-portlet__nav-item">
                      <select class="form-control" #pay_session (change)="setRegistration(pay_session.value)">
                        <option value="current">Current Session</option>
                        <option [value]="registration?.session_id" *ngFor="let registration of studentRegistrations">
                          {{ registration?.session?.name || registration?.session?.year }}
                        </option>
                      </select>
                    </li>
                  </ng-container>
                </ul>
              </div>

            </div>

            <div style="display: none">
              <button id="paystack" type="button"
                      angular4-paystack
                      [key]="'pk_test_e6bf932293213285015f62e619ea6f8a42786c7d'"
                      [email]="'mailexample@mail.com'"
                      [amount]="+transactionFee*100"
                      [ref]="paystackRef"
                      [class]="'btn btn-primary'"
                      (close)="paystackPaymentCancel()"
                      (callback)="paystackPaymentDone($event)"
              >Pay with Paystack
              </button>
              <!--TODO Remember to remove the multiplication by 100 on goLive-->
            </div><!--PayStack-->

            <div class="mt-5 mr-5 ml-5" *ngIf="etransactObject?.show">
              <div class="m-portlet">

                <div class="m-portlet__body row" id="etransactSlip">
                  <div class="col-md-6 offset-md-3" id="">
                    <div class="img-div my-3">
                      <img [src]="feedBack.schoolDetails?.settings?.logo">
                    </div>
                    <h3 class="col-12 text-center py-2"> {{ feedBack.schoolDetails ?.name }} </h3>
                    <table class="table">
                      <tr>
                        <td><b>Name:</b></td>
                        <td>{{authStudent?.last_name}} {{authStudent?.first_name}}</td>
                      </tr>
                      <tr>
                        <td><b>Payment Ref:</b></td>
                        <td>{{etransactObject.PAY_REF}}</td>
                      </tr>

                      <tr>
                        <td><b>Session:</b></td>
                        <td>{{etransactObject.SESSION_YEAR}}</td>
                      </tr>

                      <tr>
                        <td><b>E-tranzact Transaction Id:</b></td>
                        <td>{{etransactObject.TRANSACTION_ID}}</td>
                      </tr>
                      <tr>
                        <td><b>Description</b></td>
                        <td>{{etransactObject.DESCRIPTION}}</td>
                      </tr>
                      <tr>
                        <td><b>Total Amount</b></td>
                        <td>{{etransactObject.AMOUNT | currency : '&#8358;'}}</td>
                      </tr>

                      <tr>
                        <td><b>Other Info</b></td>
                        <td>{{etransactObject.OTHER_INFO}}</td>
                      </tr>

                      <tr *ngIf="etransactObject?.transaction_cost">
                        <td><b>Transaction Cost</b></td>
                        <td>{{etransactObject?.transaction_cost}}</td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <div class="etr-div my-3">
                            <img src="assets/images/logos/etranzact.png" style="width: 90px;height: auto"
                                 alt="E-tranzact">
                          </div>
                          <p><span style="color:blue">Please Print this Slip and take to Bank</span>
                            <!--, <b>OR</b> &nbsp;&nbsp;<button-->
                            <!--class="btn btn-success m-btn&#45;&#45;pill m-btn  m-btn&#45;&#45;air"-->
                            <!--(click)="payEtransactNow()" [disabled]="etransactObject?.paying">-->
                            <!--<i *ngIf="!etransactObject?.paying" class="fa fa-money"></i>-->
                            <!--<i *ngIf="etransactObject?.paying" class="fa fa-spinner fa-spin"></i>-->
                            <!--Pay Now-->
                            <!--</button>-->
                          </p>


                        </td>
                      </tr>
                    </table>

                  </div>
                </div>
                <div class="mt-2">
                  <button class="float-right btn btn-danger m-btn m-btn--pill m-btn--air"
                          (click)="etransactObject['show'] = false"><i class="fa fa-close"></i>
                    Cancel
                  </button>
                  <button class="float-right btn btn-accent m-btn  m-btn--pill m-btn--air mr-2"
                          (click)="printSlip('etransactSlip','E-Tranzact Transaction Slip')"><i class="fa fa-print"></i>
                    Print Slip
                  </button>
                </div>
              </div>
            </div><!--ETransact-->

            <div class="mt-5 mr-5 ml-5" *ngIf="xpresspayObject?.show">
              <div class="m-portlet">

                <div class="m-portlet__body row" id="xpresspaySlip">
                  <div class="col-md-6 offset-md-3">
                    <div class="img-div my-3">
                      <img [src]="feedBack.schoolDetails?.settings?.logo">
                    </div>
                    <h3 class="col-12 text-center py-2"> {{ feedBack.schoolDetails ?.name }} </h3>
                    <table class="table">
                      <tr>
                        <td><b>Name:</b></td>
                        <td>{{authStudent?.full_name}}</td>
                      </tr>
                     <!-- <tr>
                        <td><b>Payment Ref:</b></td>
                        <td>{{etransactObject.PAY_REF}}</td>
                      </tr>

                      <tr>
                        <td><b>Session:</b></td>
                        <td>{{xpresspayObject.SESSION_YEAR}}</td>
                      </tr>-->

                      <tr>
                        <td><b>Xpresspay Transaction Id:</b></td>
                        <td>{{xpresspayObject['trans-id']}}</td>
                      </tr>
                      <tr>
                        <td><b>Description</b></td>
                        <td>{{xpresspayObject['product-desc']}}</td>
                      </tr>
                      <tr>
                        <td><b>Total Amount</b></td>
                        <td>{{xpresspayObject.amount | currency : '&#8358;'}}</td>
                      </tr>

                     <!-- <tr>
                        <td><b>Other Info</b></td>
                        <td>{{xpresspayObject.OTHER_INFO}}</td>
                      </tr>-->

                      <tr *ngIf="xpresspayObject?.transaction_cost">
                        <td><b>Transaction Cost</b></td>
                        <td>{{xpresspayObject?.transaction_cost}}</td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <!--<div class="etr-div my-3">
                            <img src="assets/images/logos/etranzact.png" style="width: 90px;height: auto" alt="E-tranzact">
                          </div>-->
                          <p>
                            <ng-container *ngIf="xpresspayObject?.pos_code">
                            <span style="color:blue">Use this <b>{{xpresspayObject?.pos_code}}</b> to pay at the POS terminal</span>
                            , <b>OR</b> &nbsp;&nbsp;
                            </ng-container>
                            <button class="btn btn-success m-btn--pill m-btn  m-btn--air"
                              (click)="payXpressPayNow()" [disabled]="xpresspayObject?.paying">
                              <i *ngIf="!xpresspayObject?.paying" class="fa fa-money"></i>
                              <i *ngIf="xpresspayObject?.paying" class="fa fa-spinner fa-spin"></i>
                              Pay Now
                            </button>
                          </p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="mt-2">
                  <button class="float-right btn btn-danger m-btn m-btn--pill m-btn--air"
                          (click)="xpresspayObject['show'] = false"><i class="fa fa-close"></i>
                    Cancel
                  </button>
                  <button class="float-right btn btn-accent m-btn  m-btn--pill m-btn--air mr-2"
                          (click)="printSlip('xpresspaySlip', 'XpressPay Transaction Slip')"><i class="fa fa-print"></i>
                    Print Slip
                  </button>
                </div>
              </div>
            </div><!--XpressPay-->

            <div class="m-portlet__body table-responsive" *ngIf="ebillsTransactionId">
              <div class="m-portlet__head-title m-portlet row" id="ebillsSlip">
                <div class="col-md-6 offset-md-3">
                  <div class="img-div my-3">
                    <img [src]="feedBack?.schoolDetails?.settings?.logo">
                  </div>
                  <h3 class="col-12 text-center py-2"> {{ feedBack?.schoolDetails?.name }} </h3>
                  <table class="table">
                    <tr>
                      <td><b>Name:</b></td>
                      <td>{{authStudent?.full_name}}</td>
                    </tr>
                    <tr>
                      <td><b>Matric Number:</b></td>
                      <td>{{authStudent?.matric_no}}</td>
                    </tr>
                    <tr>
                      <td><b>Level</b></td>
                      <td>{{authStudent?.level?.name}}</td>
                    </tr>
                    <tr>
                      <td><b>e-BillsPay Transaction Id:</b></td>
                      <td>{{ebillsTransactionId}}</td>
                    </tr>
                    <tr>
                      <td><b>Total Amount</b></td>
                      <td>{{(+ebillsAmount + +ebillsTransactionCost) | currency : '&#8358;'}}</td>
                    </tr>
                  </table>

                  <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
                    <div class="col-12 text-center font-weight-bold my-3">
                      Fee Breakdown
                    </div>
                    <div class="col-12">
                      <table class="table table-sm table-bordered">
                        <tr>
                          <th class="text-dark text-left">#</th>
                          <th class="text-dark text-left">Name</th>
                          <th class="text-dark text-left">Amount</th>
                        </tr>
                        <tr *ngFor="let feeItem of feeToBeDisplayed; let i = index">
                          <td class="text-left">{{i+1}}</td>
                          <td class="text-left">{{feeItem?.fee_name}}</td>
                          <td class="text-left">{{feeItem?.amount | currency : '&#8358;'}}</td>
                        </tr>
                        <tr *ngIf="ebillsTransactionCost">
                          <td>{{feeToBeDisplayed?.length+1}}</td>
                          <td><b><i>Transaction Cost</i></b></td>
                          <td>
                            <span class="pull-left">{{ebillsTransactionId?.transaction_cost}}</span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <button class="float-right btn btn-danger m-btn m-btn--pill m-btn--air"
                      (click)="ebillsTransactionId = false"><i class="fa fa-close"></i>
                Cancel
              </button>
              <button class="float-right btn btn-accent m-btn  m-btn--pill m-btn--air mr-2"
                      (click)="printSlip('ebillsSlip','EbillsPay Transaction Slip')"><i class="fa fa-print"></i>
                Print Slip &nbsp; <i *ngIf="feedBack.print_loader" class="m-loader m-loader--light"></i>

              </button>
            </div>

            <div class="m-portlet__body table-responsive">
              <!--end: Ss"></ Form -->      <!--begin: Datatable -->
              <div class="text-center" *ngIf="feedBack?.load_fee"><i class="m-loader m-loader--brand"></i></div>
              <div class="py-3 text-center" *ngIf="!feedBack?.load_fee && paymentHistory.length === 0">
                <h4>There is no payment record yet. Click
                  <span class="pointer m-link" (click)="onStudentReg()">here</span>
                  to Make a Payment
                </h4>
              </div>
              <div class="my-3 mr-3 float-right">
                <select class="form-control" (change)="changeSession($event)">
                  <option [value]="i" *ngFor="let session of paymentHistory; let i = index">
                    {{ session?.session_name || session?.session_year }}
                  </option>
                </select>
              </div>
              <div class="my-3 mr-3 float-right">
                <select class="form-control" (change)="reRender($event)">
                  <option value="">All</option>
                  <option value="completed">Completed</option>
                  <option value="pending">Pending</option>
                  <option value="failed">Failed</option>
                </select>
              </div>
              <ng-container *ngFor="let sessionPayment of paymentHistory; let i = index">
              <div class="m-portlet__head">
                <h3>{{sessionPayment?.session_name || sessionPayment?.session_year}}</h3>
              </div>
              <table datatable [dtTrigger]="dtTrigger" *ngIf="sessionPayment"
                     class="table table-hover table-striped table-sm m-table--head-bg-brand">
                <thead class="thead-color">
                <tr>
                  <th>#</th>
                  <th>Transaction ID</th>
                  <th>Payment Method</th>
                  <th>Total Amount</th>
                  <th>Date Paid</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fee of sessionPayment?.student_transaction; let i = index">
                  <td class="align-middle">{{i+1}}</td>
                  <td class="align-middle">{{fee?.transaction_no}}</td>
                  <td class="align-middle">{{fee?.payment_method}}</td>
                  <td class="align-middle">{{fee?.amount | currency: '&#8358;'}}</td>
                  <td class="align-middle">{{fee?.created_at | date}}</td>
                  <td class="align-middle">
                    <button class="btn btn-accent-sm" (click)="onViewItem(fee)" title="View Details">
                      <i class="fa fa-eye"></i>
                    </button>
                    <ng-container *ngIf="fee?.payment_method.toLowerCase() === 'etranzact'">
                      <input class="align-middle" type="number" placeholder="CONFIRMATION NO" #confirmation_no
                             size="10">
                      <button (click)="makeReQuery(fee?.transaction_no, i, confirmation_no.value)"
                              class="btn btn-accent-sm" *ngIf="fee?.status.toString() === '0'">
                        Submit
                        <i class="m-loader m-loader--light" *ngIf="fee?.loading"></i>
                      </button>
                    </ng-container>
                    <button (click)="makeReQuery(fee?.transaction_no, i)" class="btn btn-accent-sm"
                            *ngIf="fee?.status.toString() === '2' && fee?.payment_method.toLowerCase() !== 'etranzact'">
                      <i class="fa fa-refresh" [class.fa-spin]="fee?.loading"></i>&nbsp;
                    </button>
                  </td>
                </tr>
                <tr *ngIf="sessionPayment?.sub_total > 0">
                  <td colspan="6">&nbsp;</td>
                </tr>
                <tr *ngIf="sessionPayment?.sub_total > 0">
                  <td colspan="3" class="middle"><h4>Sub Total</h4></td>
                  <td colspan="3" class="middle"><h4>{{ sessionPayment?.sub_total | currency: '&#8358;' }}</h4></td>
                </tr>
                <!--<tr *ngIf="sessionPayment?.length === 0 || feedBack?.load_fee">
                  <td colspan="6" *ngIf="sessionPayment?.length === 0 && !feedBack?.load_fee" class="text-center">
                    {{noContentMessage}}
                  </td>
                  <td colspan="6" *ngIf="feedBack?.load_fee" class="text-center">Loading Fees &nbsp;&nbsp;<i
                    class="m-loader m-loader&#45;&#45;brand"></i></td>
                </tr>-->
                </tbody>
              </table>
              <!--<span class="text-center" *ngIf="!feedBack?.loadFee && paymentHistory.length === 0">No Data Found</span>-->
              <hr>
              <div class="m--margin-bottom-100"></div>
              </ng-container>
              <!--end: Datatable -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
