<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog ">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center col-12">
          <h4 class="modal-title">Manual Payment Details</h4>
        </div>
        <a class="float-right" data-dismiss="modal">
          <i class="la la-close"></i>
        </a>
      </div>
      <div class="modal-body" *ngIf="manualPayment">
        <div class="relative" id="view_payment">
          <img class="water-mark" width="100%" height="auto" [src]="manualPayment?.settings?.logo">
          <div class="img-div mb-3">
            <img [src]="manualPayment?.settings?.logo">
          </div>
          <h3 class="col-12 text-center"> {{ manualPayment?.settings?.name }} </h3>
          <h1 class="my-2 p-1"><b>Receipt</b></h1>
          <table class="table table-sm table-striped">
            <tr>
              <td><b></b></td>
              <td *ngIf="manualPayment?.status.toString() === '1'">
                <span class="float-right badge badge-success py-3 px-2">Approved</span>
              </td>
              <td *ngIf="manualPayment?.status.toString() === '2'">
                <span class="float-right badge badge-warning py-3 px-2">Pending</span>
              </td>
              <td *ngIf="manualPayment?.status.toString() === '0'">
                <span class="float-right badge badge-danger py-3 px-2">Declined</span>
              </td>
            </tr>
            <tr>
              <td><b>Name:</b></td>
              <td>{{manualPayment?.student?.first_name}} {{manualPayment?.student?.last_name}}</td>
            </tr>
            <tr>
              <td><b>Matric Number:</b></td>
              <td>{{manualPayment?.student?.matric_no}}</td>
            </tr>
            <tr>
              <td><b>Session</b></td>
              <td>{{manualPayment?.session?.name}}</td>
            </tr>
            <tr>
              <td><b>Course of Study</b></td>
              <td>{{ manualPayment?.course_of_study?.name }}</td>
            </tr>
            <tr>
              <td><b>Semester</b></td>
              <td *ngIf="manualPayment?.central_transaction?.owner?.semester.toString() === '0'">General</td>
              <td *ngIf="manualPayment?.central_transaction?.owner?.semester.toString() === '1'">First</td>
              <td *ngIf="manualPayment?.central_transaction?.owner?.semester.toString() === '2'">Second</td>
              <td *ngIf="manualPayment?.central_transaction?.owner?.semester.toString() === '3'">Third</td>
            </tr>
            <tr>
              <td><b>Level</b></td>
              <td>{{manualPayment?.level?.name}}</td>
            </tr>
            <tr>
              <td><b>Transaction ID:</b></td>
              <td>{{manualPayment?.central_transaction?.transaction_id}}</td>
            </tr>
            <!--<tr>-->
              <!--<td><b>Payment Method</b></td>-->
              <!--<td>{{manualPayment?.payment_method}}</td>-->
            <!--</tr>-->
            <tr>
              <td><b>Date Generated</b></td>
              <td>{{manualPayment?.created_at | date}}</td>
            </tr>
            <tr *ngIf="manualPayment?.status.toString() === '1'">
              <td><b>Date Paid</b></td>
              <td>{{manualPayment?.updated_at | date}}</td>
            </tr>
            <tr>
              <td><b>Total Amount</b></td>
              <td>{{manualPayment?.central_transaction?.owner?.amount | currency: '&#8358;'}}</td>
            </tr>
          </table>

          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div class="col-12 text-center font-weight-bold my-3">
              Payment Details
            </div>
            <div class="col-12">
              <table class="table table-sm table-bordered">
                <tr>
                  <th class="text-dark text-left">#</th>
                  <th class="text-dark text-left">Name</th>
                  <th class="text-dark text-left">Amount</th>
                </tr>
                <tr *ngFor="let feeItem of manualPayment?.student_transaction_items; let i = index">
                  <td class="text-left">{{i+1}}</td>
                  <td class="text-left">{{feeItem?.fee?.fee_item?.name}}</td>
                  <td class="text-left">{{feeItem?.amount | currency: '&#8358;'}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-accent m-btn--pill m-btn--air btn-sm" (click)="viewImage(manualPayment)"> View Image </button>
        <button class="btn btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal"> Close </button>
      </div>
    </div>
  </div>
</div>

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Manual Payments Authorization
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <!--begin: Search Form -->
    <!--end: Search Form -->
    <!--begin: Datatable -->
    <div class="table-responsive">
      <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand">
        <thead class="thead-color">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Matric Number</th>
          <th>Amount</th>
          <th>Transaction No</th>
          <th>Status</th>
          <th>Date Created</th>
          <th>Date Updated</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngIf="manualPayments.length==0">
          <td colspan="9">
            <span *ngIf="manualPayments.length === 0 && !master_object.loading">No Record Found</span>
            <span *ngIf="master_object.loading">Loading.. &nbsp;&nbsp;
              <i class="m-loader m-loader--brand"></i>
            </span>
          </td>
        </tr>
        <tr *ngFor="let manual_payment of manualPayments; let ind=index">
          <td>{{ind+1}}</td>
          <td>
            {{manual_payment?.central_transaction?.owner?.student_registration?.student?.last_name}}
            {{manual_payment?.central_transaction?.owner?.student_registration?.student?.first_name}}
          </td>
          <td>{{manual_payment?.central_transaction?.owner?.student_registration?.student?.matric_no}}</td>
          <td>{{manual_payment?.central_transaction?.owner?.amount | currency : '&#8358;'}}</td>
          <td>{{manual_payment?.central_transaction?.owner?.transaction_no}}</td>
          <td>
            <span *ngIf="manual_payment?.status == 2" class="m-badge m-badge--warning m-badge--wide">Pending</span>
            <span *ngIf="manual_payment?.status == 1" class="m-badge m-badge--success m-badge--wide">Authorized</span>
            <span *ngIf="manual_payment?.status == 0" class="m-badge m-badge--danger m-badge--wide">Declined</span>
          </td>
          <td>{{ manual_payment?.created_at | date}}</td>
          <td>{{ manual_payment?.updated_at | date}}</td>
          <!--<img [src]="'data:' + manual_payment?.upload_content_type + ';base64,' + manual_payment?.upload">-->

          <td>
            <a title="View Receipt" class="btn btn-accent-sm m-btn--icon m-btn--icon-only" target="_blank"
               (click)="viewManualPayment(manual_payment)">
              <!--(click)="toggleAuthorizationStatus(ind,'approve')"-->
              <i class="m-loader m-loader--light" *ngIf="manual_payment?.viewing"></i>
              <i class="la la-eye"></i>
            </a>
            <!--<ng-container *ngIf="manual_payment?.status.toString() === '2'">-->
              <button title="Approve Payment" class="btn btn-success-sm m-btn--icon m-btn--icon-only"
                      (click)="updateManualPaymentStatus('accept', manual_payment)"
                      *ngIf="manual_payment?.status.toString() === '2'"
                      id="school.administration.authorize.approve">
                <!--(click)="toggleAuthorizationStatus(ind,'approve')"-->
                <i class="la la-check" *ngIf="!manual_payment?.accept"></i>
                <i class="m-loader m-loader--light" *ngIf="manual_payment?.accept"></i>
              </button>
              <button title="Reject Payment" class="btn btn-danger-sm m-btn--icon m-btn--icon-only"
                      (click)="updateManualPaymentStatus('reject', manual_payment)"
                      *ngIf="manual_payment?.status.toString() !== '0'"
                      id="school.administration.authorize.reject">
                <!--(click)="triggerModalOrOverlay('open', 'declineComment', ind)"-->
                <i class="la la-times" *ngIf="!manual_payment?.reject"></i>
                <i class="m-loader m-loader--light" *ngIf="manual_payment?.reject"></i>
              </button>
            <!--</ng-container>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--end: Datatable -->
  </div>
</div>
