<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div id="createPermission" class="modal fade" role="dialog">
    <form [formGroup]="createPermissionForm" (ngSubmit)="createPermission()">
      <div class="modal-dialog">
  
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
  
            <h4 class="modal-title">Create Permission</h4>
            <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','createPermission')">Close</button> -->
            <button class="close" type="button" (click)="triggerModalOrOverlay('close','createPermission')">&times;</button>
  
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
  
                  <label for="schoolname">Full Name:</label>
                  <input class="form-control" formControlName="fullname" id="schoolname" placeholder="Full Name">
  
                </div>
                <div class="col-md-6">
  
                  <label for="middle_name">Email:</label>
                  <input class="form-control" id="domain" formControlName="email" placeholder="Email">
                  <!--  -->
  
  
                  <!--  -->
                </div>
  
              </div>
  
  
              <div class="row">
                <div class="col-md-6">
  
                  <label for="schoolname">Permission Id:</label>
                  <input class="form-control" formControlName="employee_id" id="schoolname" placeholder="Permission Id">
  
                </div>
                <div class="col-md-6">
  
                  <label for="country">Group:</label>
                  <select class="form-control" formControlName="group_id" id="country">
                    <option value="" disabled>Select Group</option>
                    <option *ngFor="let group of allGroups; let ind=index" value="{{group.id}}">{{group?.name}}</option>
                  </select>
  
                </div>
  
              </div>
  
  
              <div class="row">
                <div class="col-md-6">
  
                  <label for="state">Active Hours:</label>
                  <select class="form-control" formControlName="active_hour_id" id="state">
                    <option value="" disabled>Choose Active Hours</option>
                    <option *ngFor="let activeHour of allActiveHours; let ind=index" value="{{activeHour.id}}">{{activeHour?.name}}</option>
                  </select>
  
                </div>
  
                <div class="col-md-6">
  
  
  
  
                </div>
  
              </div>
  
  
  
  
  
  
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="createPermissionForm.invalid || load.requesting.create">{{load.message.create}}
              <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
            </button>
            <button type="button" class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" (click)="triggerModalOrOverlay('close','createPermission')">Close</button>
  
  
          </div>
        </div>
      </div>
    </form>
  </div>
  
  <div id="updatePermission" class="modal fade" role="dialog">
    <form [formGroup]="updatePermissionForm" (ngSubmit)="updatePermission()">
      <div class="modal-dialog">
  
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
  
            <h4 class="modal-title">Update {{updatedPermission?.fullname}}</h4>
            <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updatePermission')">Close</button> -->
            <button class="close" type="button" (click)="triggerModalOrOverlay('close','updatePermission')">&times;</button>
  
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
  
                  <label for="schoolname">Full Name:</label>
                  <input class="form-control" formControlName="fullname" id="schoolname" placeholder="Full Name">
  
                </div>
                <div class="col-md-6">
  
                  <label for="middle_name">Email:</label>
                  <input class="form-control" id="domain" formControlName="email" placeholder="Email">
                  <!--  -->
  
  
                  <!--  -->
                </div>
  
              </div>
  
  
  
              <div class="row">
                <div class="col-md-6">
  
  
                  <label for="country">Group:</label>
                  <select class="form-control" formControlName="group_id" id="country">
                    <option value="" disabled>Select Group</option>
                    <option *ngFor="let group of allGroups; let ind=index" value="{{group.id}}">{{group?.name}}</option>
                  </select>
  
  
  
  
                </div>
                <div class="col-md-6">
  
                  <label for="state">Active Hours:</label>
                  <select class="form-control" formControlName="active_hour_id" id="state">
                    <option value="" disabled>Choose Active Hours</option>
                    <option *ngFor="let activeHour of allActiveHours; let ind=index" value="{{activeHour.id}}">{{activeHour?.name}}</option>
                  </select>
  
  
                </div>
  
              </div>
  
  
              <!-- <div class="row">
                                  <div class="col-md-6">
      
      
                                      <label for="course">Faculty:</label>
                                      <select class="form-control" #faculty formControlName="faculty_id" id="faculty" (change)="getDepartmentByByFacultyId(faculty.value)">
                                          <option value="" disabled>Select Faculty</option>
                                          <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">{{faculty.name}}</option>
                                      </select>
      
      
                                  </div>
                                  <div class="col-md-6">
                                      <label for="department">Department:</label>
                                      <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.departments.loading"></i>
                                      <select class="form-control" #deprtmnt formControlName="department_id" id="department"
                                          (change)="getCourseByDepartmentId(deprtmnt.value)" [disabled]="!load.departments.list || load.departments.loading">
                                          <option value="" disabled>Select Department</option>
                                          <option *ngFor="let department of allDepartments; let ind=index" value="{{department.id}}">{{department.name}}</option>
                                      </select>
      
      
                                  </div>
      
                              </div>
      
       -->
  
  
  
  
  
  
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="updatePermissionForm.invalid || load.requesting.create">{{load.message.update}}
              <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
            </button>
            <button type="button" class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" (click)="triggerModalOrOverlay('close','updatePermission')">Close</button>
  
  
          </div>
        </div>
      </div>
    </form>
  </div>
  
  
  
  
  

    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Permissions
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
              <a style="color: white !important;"
                 class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                 (click)="triggerModalOrOverlay('open','createPermission')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Permission
														</span>
													</span>
              </a>
            </li>



          </ul>
        </div>

      </div>
      <div class="m-portlet__body">
        <!--begin: Search Form -->
        <!--end: Search Form -->
        <!--begin: Datatable -->
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                 class="table table-hover table-striped table-sm m-table--head-bg-brand">
            <thead class="thead-color">
              <tr>
                <th>
                  #
                </th>
                <th>
                  Full Name
                </th>
  
                <th>
                  Permission Id
                </th>
                <th>
                  Email
                </th>
                <th>
                  Group
                </th>
                <th>
                  Permission Type
                </th>
  
                <th>
                  Status
                </th>
                <!-- <th>
                        Action
                      </th> -->
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
  
                <td colspan="11" *ngIf="allPermissions?.length==0">
                  <span *ngIf="allPermissions?.length==0 && !load.requesting.list">No Record Found</span>
                  <span *ngIf="load.requesting.list">Fetching Permission..
                    <i class="m-loader m-loader--right m-loader--brand"></i>
                  </span>
                </td>
  
              </tr>
              <tr *ngFor="let Permission of allPermissions; let ind=index">
                <td>{{ind+1}}
                  <td>{{Permission?.fullname}}</td>
                  <td>{{Permission?.employee_id}}</td>
                  <td>{{Permission?.email}}</td>
                  <td>{{Permission?.group?.role}}</td>
                  <td>
                    <span *ngIf="Permission?.type==0">Non - Academic</span>
                    <span *ngIf="Permission?.type==1">Academic</span>
  
  
                  </td>
                  <td *ngIf="Permission.enabled==='1'" style="color:green">
                    <i class="fa fa-check fa-2x"></i>
                  </td>
                  <td *ngIf="Permission.enabled==='0'" style="color:red">
                    <i class="fa fa-times fa-2x"></i>
                  </td>
                  <td>
                    <div class="dropdown ">
                      <a href="#"
                         class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                         data-toggle="dropdown">
                        <i class="la la-ellipsis-h"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"  (click)="triggerModalOrOverlay('open','updatePermission',ind)">
                          <i class="la la-edit" *ngIf="!Permission?.loading"></i> Edit Permission</a>
                        <i class="m-loader m-loader--right m-loader--brand" *ngIf="Permission?.loading"></i>

                      </div>
                    </div>

                    <!--<button class="btn btn-info btn-xs" (click)="triggerModalOrOverlay('open','updatePermission',ind)">-->
                      <!--<i class="fa fa-pencil" *ngIf="!Permission?.loading"></i>-->
                      <!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="Permission?.loading"></i>-->
  <!---->
                    <!--</button>-->
                  </td>
                  <!-- <td>
                          <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                              <li class="m-portlet__nav-item">
                                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
                                  aria-expanded="true">
                                  <a  class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                    <i class="la la-ellipsis-h m--font-brand"></i>
                                  </a>
                                  <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                      <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                          <ul class="m-nav">
                                            <li class="m-nav__section m-nav__section--first">
                                              <span class="m-nav__section-text">
                                                Manage Permission
                                              </span>
                                              <hr>
                                            </li>
                                            <li class="m-nav__item">
                                              <a role="button" class="m-nav__link" style="cursor:pointer">
                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                <span class="m-nav__link-text" (click)="triggerModalOrOverlay('open','updatePermission',ind)">
                                                  Edit {{Permission?.fullname}}'s Profile 
                                                  <i class="fa fa-pencil" *ngIf="!Permission?.loading"></i>
                                                  <i class="m-loader m-loader--right m-loader--brand" *ngIf="Permission?.loading"></i>
                                                </span>
                                              </a>
                                            </li>
                                            <br>
                                            <li class="m-nav__item">
                                              <a  class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                <span class="m-nav__link-text">
                                                 View {{Permission?.fullname}}'s Profile <i class="fa fa-eye"></i>
                                                </span>
                                              </a>
                                            </li>
                                            <br>
                                            <li class="m-nav__item">
                                              <a  class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                                <span class="m-nav__link-text">
                                                  Assign Courses to {{Permission?.fullname}}
                                                </span>
                                              </a>
                                            </li>
                                            <li class="m-nav__section">
                                              <span class="m-nav__section-text">
                                                Useful Links
                                              </span>
                                            </li>
                                            <li class="m-nav__item">
                                              <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                <span class="m-nav__link-text">
                                                  FAQ
                                                </span>
                                              </a>
                                            </li>
                                            <li class="m-nav__item">
                                              <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                <span class="m-nav__link-text">
                                                  Support
                                                </span>
                                              </a>
                                            </li>
                                            <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                                            <li class="m-nav__item m--hide">
                                              <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                Submit
                                              </a>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </td> -->
              </tr>
            </tbody>
          </table>
  
        </div>
        <!--end: Datatable -->
      </div>
    </div>
