<div
  class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
  <!-- BEGIN: Left Aside -->
  <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
    <i class="la la-close"></i>
  </button>
  <!-- <div id="m_aside_left" class="m-grid__item m-aside-left ">
     &lt;!&ndash; BEGIN: Aside Menu &ndash;&gt;
     <div
       id="m_ver_menu"
       class="m-aside-menu  m-aside-menu&#45;&#45;skin-light m-aside-menu&#45;&#45;submenu-skin-light "
       data-menu-vertical="true"
       data-menu-scrollable="false" data-menu-dropdown-timeout="500">

       <app-aside-nav></app-aside-nav>
     </div>
     &lt;!&ndash; END: Aside Menu &ndash;&gt;
   </div>
  --> <!-- END: Left Aside -->
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <!--<div class="m-subheader ">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h5 class="m-subheader__title ">
            My Profile
          </h5>
        </div>
      </div>
    </div>-->
    <!-- END: Subheader -->
    <div class="m-content">
      <div class="row">
        <div class="col-md-6 col-sm-12"></div>
        <div class="m-portlet col-md-6 col-sm-12" *ngIf="feedBack.show_gender_update">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Instructions</h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <div class="float-right">
                <button class="btn btn-danger btn-sm m-btn--pill m-btn--air" (click)="feedBack.show_gender_update = false">
                  <i class="la la-close"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <ul class="list-group">
              <li class="list-group-item">
                Click "Birth Details"
              </li>
              <li class="list-group-item">
                Click the blue "Edit" button
              </li>
              <li class="list-group-item">
                Update your gender
              </li>
              <li class="list-group-item">
                Scroll down and click on the "Save changes" button
              </li>
              <li class="list-group-item">
                You can now go back to <a routerLink="/student/reservation" class="m-link m-link--brand">Hostel</a> to make your reservation
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <app-student-profile-image class="col-lg-3"></app-student-profile-image>
        <div class="col-lg-9">
          <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
            <div class="m-portlet__head">
              <div class="m-portlet__head-tools">
                <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                    role="tablist">
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab"
                       href="#m_user_profile_tab_1" role="tab">
                      <i class="flaticon-share m--hide"></i>
                      Profile
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2"
                       role="tab">
                      Birth Details
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3"
                       role="tab">
                      Address
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_4"
                       role="tab">
                      Next of kin
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_5"
                       role="tab">
                      Marital/Religion
                    </a>
                  </li>
                  <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_6"
                       role="tab">
                      Sponsor
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <form [formGroup]="updateProfileForm" class="m-form m-form--fit m-form--label-align-right">
              <div class="tab-content">
                <div class="tab-pane active" id="m_user_profile_tab_1" *ngIf="feedBack.allResponse">
                  <div class="float-right" title="Edit Profile" (click)="onEditProfile()">
                    <button class="btn btn-accent m-btn--pill m-btn--air mr-4 mt-4">
                      <i class="fa fa-pencil-square-o"></i> Edit
                    </button>
                  </div>
                  <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Last Name
                      </label>
                      <div class="col-7 col-form-label unedit">
                        {{feedBack?.allResponse?.last_name}}
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        First Name
                      </label>
                      <div class="col-7 col-form-label unedit">
                        {{feedBack?.allResponse?.first_name}}
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Other Name
                      </label>
                      <div class="col-7 col-form-label unedit">
                        {{feedBack.allResponse?.other_names}}
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Matric No.
                      </label>
                      <div class="col-7 col-form-label unedit">
                        {{feedBack.allResponse?.matric_no}}
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Email
                      </label>
                      <div class="col-7 col-form-label unedit">
                        {{feedBack.allResponse?.email}}
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Level
                      </label>
                      <div class="col-7 col-form-label unedit">
                        {{feedBack.allResponse?.level?.name}}
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Course of Study
                      </label>
                      <div class="col-7 col-form-label unedit">
                        {{feedBack.allResponse?.course_of_study?.name}}
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Mode of Entry
                      </label>
                      <div class="col-7 col-form-label unedit">
                        {{feedBack.allResponse?.mode_of_entry}}
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Phone No.
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input profile" disabled="true" type="text"
                               formControlName="telephone_mobile">
                      </div>
                    </div>
                  </div>
                  <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                      <div class="row">
                        <div class="col-2"></div>
                        <div class="col-7">
                          <button type="button" *ngIf="!feedBack?.profileStatus"
                                  class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                  (click)="updateFormModal()"
                                  [disabled]="feedBack.submitStatus">
                            Save changes <i class="fa fa-spinner fa-spin"
                                            *ngIf="feedBack.submitStatus"></i>
                          </button>
                          &nbsp;&nbsp;
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane " id="m_user_profile_tab_2" *ngIf="feedBack?.allResponse">
                  <div class="float-right" title="Edit Profile" (click)="onEditBirth()">
                    <button class="btn btn-accent m-btn--pill m-btn--air mt-4 mr-4">
                      <i class="fa fa-pencil-square-o"></i> Edit
                    </button>
                  </div>
                  <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Gender
                      </label>
                      <div class="col-7" *ngIf="feedBack?.allResponse?.gender">
                        {{feedBack?.allResponse?.gender}}
                      </div>
                      <div class="col-7" *ngIf="!feedBack?.allResponse?.gender">
                        <select class="form-control" #set_gender (change)="setStudentGender(set_gender.value)">

                          <option disabled value="">
                            Select your Gender
                          </option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Geno type
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input birth" disabled="true" type="text"
                               formControlName="geno_type">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('geno_type').invalid && updateProfileForm.get('geno_type').touched">
                        Geno type is required
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Blood Group
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input birth" disabled="true" type="text"
                               formControlName="blood_group">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('blood_group').invalid && updateProfileForm.get('blood_group').touched">
                        Blood Group is required
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Height
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input birth" disabled="true" type="text"
                               formControlName="height">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('height').invalid && updateProfileForm.get('height').touched">
                        Height is required
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Date of Birth
                      </label>
                      <div class="col-7 col-form-label unedit">
                        {{feedBack.allResponse?.birth_of_date | date}}
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Place of Birth
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input birth" disabled="true" type="text"
                               formControlName="place_of_birth">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('place_of_birth').invalid && updateProfileForm.get('place_of_birth').touched">
                        Place of Birth is required
                      </div>
                    </div>
                  </div>
                  <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                      <div class="row">
                        <div class="col-2"></div>
                        <div class="col-7">
                          <button type="button" *ngIf="!feedBack?.birthStatus"
                                  class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                  (click)="updateFormModal()"
                                  [disabled]="feedBack.submitStatus">
                            Save changes &nbsp; <i class="m-loader m-loader--light" *ngIf="feedBack.submitStatus"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane " id="m_user_profile_tab_3" *ngIf="feedBack.allResponse">
                  <div class="float-right" title="Edit Profile" (click)="onEditAddress()">
                    <button class="btn btn-accent m-btn--pill m-btn--air mr-4 mt-4">
                      <i class="fa fa-pencil-square-o"></i> Edit
                    </button>
                  </div>
                  <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Contact Address
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input address" disabled="true" type="text"
                               formControlName="contact_address">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('contact_address').invalid && updateProfileForm.get('contact_address').touched">
                        Contact Address is required
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Home Address
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input address" disabled="true" type="text"
                               formControlName="home_address">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('home_address').invalid && updateProfileForm.get('home_address').touched">
                        Home Address is required
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Home Phone No
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input address" disabled="true" type="text"
                               formControlName="telephone_home">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('telephone_home').invalid && updateProfileForm.get('telephone_home').touched">
                        Home Phone is required
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Home Town
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input address" disabled="true" type="text"
                               formControlName="home_town">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('home_town').invalid && updateProfileForm.get('home_town').touched">
                        Home Town is required
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Country&nbsp;&nbsp;<i class="m-loader m-loader--brand"
                                              *ngIf="loader.country"></i></label>
                      <div class="col-7">
                        <span *ngIf="feedBack.allResponse?.edit_status.toString() !== '0'">{{feedBack.allResponse?.country?.name}}</span>
                        <select class="form-control address m-input" formControlName="country_id" disabled
                                *ngIf="feedBack.allResponse?.edit_status.toString() === '0'"
                                (change)="getStateByCountryId($event.target.value)">
                          <option value="" disabled></option>
                          <option *ngFor="let country of allCountries" [value]="country?.id">{{ country?.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        State of Origin&nbsp;&nbsp;<i class="m-loader m-loader--brand"
                                                      *ngIf="loader.state"></i></label>
                      <div class="col-7">
                        <span *ngIf="feedBack.allResponse?.edit_status.toString() !== '0'">{{feedBack.allResponse?.state?.name}}</span>
                        <select class="form-control address m-input" formControlName="state_id" disabled
                                *ngIf="feedBack.allResponse?.edit_status.toString() === '0'"
                                (change)="getSingleState($event.target.value)">
                          <option value="" disabled></option>
                          <option *ngFor="let state of allStates" [value]="state?.id">{{ state?.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Local Government Area&nbsp;&nbsp;<i class="m-loader m-loader--brand"
                                                            *ngIf="loader.lga"></i></label>
                      <div class="col-7">
                        <span *ngIf="feedBack.allResponse?.edit_status.toString() !== '0'">{{feedBack.allResponse?.lga?.name}}</span>
                        <select class="form-control address m-input" formControlName="lga_id" disabled
                          *ngIf="feedBack.allResponse?.edit_status.toString() === '0'">
                          <option value="" disabled></option>
                          <option *ngFor="let lga of lgas" [value]="lga?.id">{{ lga?.name }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                      <div class="row">
                        <div class="col-2"></div>
                        <div class="col-7">
                          <button type="button" *ngIf="!feedBack?.addressStatus"
                                  class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                  (click)="updateFormModal(true)"
                                  [disabled]="feedBack.submitStatus">
                            Save changes <i class="fa fa-spinner fa-spin"
                                            *ngIf="feedBack.submitStatus"></i>
                          </button>
                          &nbsp;&nbsp;
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane " id="m_user_profile_tab_4">
                  <div class="float-right" title="Edit Profile" (click)="onEditKin()">
                    <button class="btn btn-accent m-btn--pill m-btn--air mr-4 mt-4">
                      <i class="fa fa-pencil-square-o"></i> Edit
                    </button>
                  </div>
                  <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Next of Kin Name
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input kin" disabled="true" type="text"
                               formControlName="next_of_kin">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('next_of_kin').invalid && updateProfileForm.get('next_of_kin').touched">
                        Next of kin Name is required
                      </div>
                    </div>

                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Next of Kin Relationship
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input kin" disabled="true" type="text"
                               formControlName="nok_relationship">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('nok_relationship').invalid && updateProfileForm.get('nok_relationship').touched">
                        Next of kin Relationship is required
                      </div>
                    </div>

                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Next of Kin Phone No.
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input kin" disabled="true" type="text"
                               formControlName="nok_tel">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('nok_tel').invalid && updateProfileForm.get('nok_tel').touched">
                        Phone is required
                      </div>
                    </div>

                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Next of Kin Address
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input kin" disabled="true" type="text"
                               formControlName="nok_address">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('nok_address').invalid && updateProfileForm.get('nok_address').touched">
                        Address is required
                      </div>
                    </div>

                    <!--<div class="form-group m-form__group row">
                      <label  class="col-3 col-form-label">
                        Parents Name
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input kin" disabled="true" type="text" formControlName="parents_name">
                      </div>
                      <div class="col-7 text-center form-error"  *ngIf="updateProfileForm.get('parents_name').invalid && updateProfileForm.get('parents_name').touched">
                        Parents Name is required
                      </div>

                    </div>-->
                    <div class="m-portlet__foot m-portlet__foot--fit">
                      <div class="m-form__actions">
                        <div class="row">
                          <div class="col-3"></div>
                          <div class="col-7">
                            <button type="button" *ngIf="!feedBack?.kinStatus"
                                    class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                    (click)="updateFormModal()"
                                    [disabled]="feedBack.submitStatus">
                              Save changes <i class="fa fa-spinner fa-spin"
                                              *ngIf="feedBack.submitStatus"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane " id="m_user_profile_tab_5">
                  <div class="float-right" title="Edit Profile" (click)="onEditMarital()">
                    <button class="btn btn-accent m-btn--pill m-btn--air mr-4 mt-4">
                      <i class="fa fa-pencil-square-o"></i> Edit
                    </button>
                  </div>
                  <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Marital Status
                      </label>
                      <div class="col-7">
                        <select class="form-control m-input marital" disabled="true"
                                formControlName="marital_status">
                          <option></option>
                          <option>Single</option>
                          <option>Married</option>
                          <option>Divorced</option>
                        </select>
                        <div class="col-7 text-center form-error"
                             *ngIf="updateProfileForm.get('marital_status').invalid && updateProfileForm.get('marital_status').touched">
                          Marital Status is required
                        </div>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label class="col-3 col-form-label">
                        Religion
                      </label>
                      <div class="col-7">
                        <input class="form-control m-input marital" disabled="true" type="text"
                               formControlName="religion">
                      </div>
                      <div class="col-7 text-center form-error"
                           *ngIf="updateProfileForm.get('religion').invalid && updateProfileForm.get('religion').touched">
                        Religion is required
                      </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                      <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                          <div class="row">
                            <div class="col-2"></div>
                            <div class="col-7">
                              <button type="button" *ngIf="!feedBack?.maritalStatus"
                                      class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                      (click)="updateFormModal()"
                              >
                                Save changes <i class="fa fa-spinner fa-spin"
                                                *ngIf="feedBack.submitStatus"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane " id="m_user_profile_tab_6">
                  <form [formGroup]="parentsForm">
                    <div class="float-right" title="Edit Profile" (click)="onEditSponsor()">
                      <button class="btn btn-accent m-btn--pill m-btn--air mr-4 mt-4">
                        <i class="fa fa-pencil-square-o"></i> Edit
                      </button>
                    </div>
                    <div class="m-portlet__body" *ngIf="!showSponsor">
                      <div>
                        <div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Sponsor Relationship
                            </label>
                            <div class="col-7">
                              <b>{{parents?.relationship || '----'}}</b>
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Title
                            </label>
                            <div class="col-7">
                              <b>{{parents?.title ||'----' }}</b>
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Name
                            </label>
                            <div class="col-7">
                              <b>{{parents?.name || '----'}}</b>
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Address
                            </label>
                            <div class="col-7">
                              <b>{{parents?.address || '----'}}</b>
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Telephone
                            </label>
                            <div class="col-7">
                              <b>{{parents?.telephone || '----'}}</b>
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Email
                            </label>
                            <div class="col-7">
                              <b>{{parents?.email || '----'}}</b>
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Religion
                            </label>
                            <div class="col-7">
                              <b>{{parents?.religion || '----'}}</b>
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Religion Denomination
                            </label>
                            <div class="col-7">
                              <b>{{parents?.religion_denomination || '----'}}</b>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="m-portlet__body" *ngIf="showSponsor">
                      <!--<div *ngFor="let control of updateProfileForm?.controls['parents']?.controls; let i = index">-->
                      <!--<div [formGroupName]="i">-->
                      <!--<div class="form-group m-form__group row">-->
                      <!--<label  class="col-3 col-form-label">-->
                      <!--Sponsor Relationship-->
                      <!--</label>-->
                      <!--<div class="col-7">-->
                      <!--<select class="form-control m-input sponsor" formControlName="relationship" >-->
                      <!--<option></option>-->
                      <!--<option>Father</option>-->
                      <!--<option>Mother</option>-->
                      <!--<option>Sponsor</option>-->
                      <!--</select>-->
                      <!--</div>-->
                      <!--<div class="col-7 text-center form-error"  *ngIf="updateProfileForm.controls['parents']?.controls[i].get('relationship').invalid && updateProfileForm.controls['parents']?.controls[i].get('relationship').touched">-->
                      <!--Relationship is required-->
                      <!--</div>-->
                      <!--</div>-->
                      <!--<div class="form-group m-form__group row">-->
                      <!--<label  class="col-3 col-form-label">-->
                      <!--Title-->
                      <!--</label>-->
                      <!--<div class="col-7">-->
                      <!--<input class="form-control m-input sponsor"  type="text" formControlName="title">-->
                      <!--</div>-->
                      <!--<div class="col-7 text-center form-error"  *ngIf="updateProfileForm.controls['parents']?.controls[i].get('title').invalid && updateProfileForm.controls['parents']?.controls[i].get('title').touched">-->
                      <!--Title is required-->
                      <!--</div>-->
                      <!--</div>-->
                      <!--<div class="form-group m-form__group row">-->
                      <!--<label  class="col-3 col-form-label">-->
                      <!--Name-->
                      <!--</label>-->
                      <!--<div class="col-7">-->
                      <!--<input class="form-control m-input sponsor"  type="text" formControlName="name">-->
                      <!--</div>-->
                      <!--<div class="col-7 text-center form-error"  *ngIf="updateProfileForm.controls['parents']?.controls[i].get('name').invalid && updateProfileForm.controls['parents']?.controls[i].get('name').touched">-->
                      <!--Name is required-->
                      <!--</div>-->
                      <!--</div>-->
                      <!--<div class="form-group m-form__group row">-->
                      <!--<label  class="col-3 col-form-label">-->
                      <!--Address-->
                      <!--</label>-->
                      <!--<div class="col-7">-->
                      <!--<input class="form-control m-input sponsor" type="text" formControlName="address">-->
                      <!--</div>-->
                      <!--<div class="col-7 text-center form-error"  *ngIf="updateProfileForm.controls['parents']?.controls[i]?.get('address')?.invalid && updateProfileForm.controls['parents']?.controls[i]?.get('address')?.touched">-->
                      <!--Address is required-->
                      <!--</div>-->
                      <!--</div>-->
                      <!--<div class="form-group m-form__group row">-->
                      <!--<label  class="col-3 col-form-label">-->
                      <!--Telephone-->
                      <!--</label>-->
                      <!--<div class="col-7">-->
                      <!--<input class="form-control m-input sponsor" type="text" formControlName="telephone">-->
                      <!--</div>-->
                      <!--<div class="col-7 text-center form-error"  *ngIf="updateProfileForm.controls['parents']?.controls[i].get('telephone').invalid && updateProfileForm.controls['parents']?.controls[i].get('telephone').touched">-->
                      <!--Telephone is required-->
                      <!--</div>-->
                      <!--</div>-->
                      <!--<div class="form-group m-form__group row">-->
                      <!--<label  class="col-3 col-form-label">-->
                      <!--Email-->
                      <!--</label>-->
                      <!--<div class="col-7">-->
                      <!--<input class="form-control m-input sponsor" type="text" formControlName="email">-->
                      <!--</div>-->
                      <!--<div class="col-7 text-center form-error"  *ngIf="updateProfileForm.controls['parents']?.controls[i].get('email').invalid && updateProfileForm.controls['parents']?.controls[i].get('email').touched">-->
                      <!--Email is required-->
                      <!--</div>-->
                      <!--</div>-->
                      <!--<div class="form-group m-form__group row">-->
                      <!--<label  class="col-3 col-form-label">-->
                      <!--Religion-->
                      <!--</label>-->
                      <!--<div class="col-7">-->
                      <!--<input class="form-control m-input sponsor" type="text" formControlName="religion">-->
                      <!--</div>-->
                      <!--<div class="col-7 text-center form-error"  *ngIf="updateProfileForm.controls['parents']?.controls[i].get('religion').invalid && updateProfileForm.controls['parents']?.controls[i].get('religion').touched">-->
                      <!--Religion is required-->
                      <!--</div>-->
                      <!--</div>-->
                      <!--<div class="form-group m-form__group row">-->
                      <!--<label  class="col-3 col-form-label">-->
                      <!--Religion Denomination-->
                      <!--</label>-->
                      <!--<div class="col-7">-->
                      <!--<input class="form-control m-input sponsor"  type="text" formControlName="religion_denomination">-->
                      <!--</div>-->
                      <!--<div class="col-7 text-center form-error"  *ngIf="updateProfileForm.controls['parents']?.controls[i].get('religion_denomination').invalid && updateProfileForm.controls['parents']?.controls[i].get('religion_denomination').touched">-->
                      <!--Religion Denomination is required-->
                      <!--</div>-->
                      <!--</div>-->
                      <!--</div>-->

                      <!--</div>-->
                      <div class="form-group">
                        <div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Sponsor Relationship
                            </label>
                            <div class="col-7">
                              <select class="form-control m-input sponsor"
                                      formControlName="relationship">
                                <option></option>
                                <option>Father</option>
                                <option>Mother</option>
                                <option>Sponsor</option>
                              </select>
                            </div>
                            <div class="col-7 text-center form-error"
                                 *ngIf="parentsForm.get('relationship').touched && parentsForm.get('relationship').invalid">
                              Relationship is required
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Title
                            </label>
                            <div class="col-7">
                              <input class="form-control m-input sponsor" type="text"
                                     formControlName="title">
                            </div>
                            <div class="col-7 text-center form-error"
                                 *ngIf="parentsForm.get('title').touched && parentsForm.get('title').invalid">
                              Title is required
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Name
                            </label>
                            <div class="col-7">
                              <input class="form-control m-input sponsor" type="text"
                                     formControlName="name">
                            </div>
                            <div class="col-7 text-center form-error"
                                 *ngIf="parentsForm.get('name').touched && parentsForm.get('name').invalid">
                              Name is required
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Address
                            </label>
                            <div class="col-7">
                              <input class="form-control m-input sponsor" type="text"
                                     formControlName="address">
                            </div>
                            <div class="col-7 text-center form-error"
                                 *ngIf="parentsForm.get('address').touched && parentsForm.get('address').invalid">
                              Address is required
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Telephone
                            </label>
                            <div class="col-7">
                              <input class="form-control m-input sponsor" type="text"
                                     formControlName="telephone">
                            </div>
                            <div class="col-7 text-center form-error"
                                 *ngIf="parentsForm.get('telephone').touched && parentsForm.get('telephone').invalid">
                              Telephone is required
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Email
                            </label>
                            <div class="col-7">
                              <input class="form-control m-input sponsor" type="text"
                                     formControlName="email">
                            </div>
                            <div class="col-7 text-center form-error"
                                 *ngIf="parentsForm.get('email').touched && parentsForm.get('email').invalid">
                              Email is required
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Religion
                            </label>
                            <div class="col-7">
                              <input class="form-control m-input sponsor" type="text"
                                     formControlName="religion">
                            </div>
                            <div class="col-7 text-center form-error"
                                 *ngIf="parentsForm.get('religion').touched && parentsForm.get('religion').invalid">
                              Religion is required
                            </div>
                          </div>
                          <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">
                              Religion Denomination
                            </label>
                            <div class="col-7">
                              <input class="form-control m-input sponsor" type="text"
                                     formControlName="religion_denomination">
                            </div>
                            <div class="col-7 text-center form-error"
                                 *ngIf="parentsForm.get('religion_denomination').touched && parentsForm.get('religion_denomination').invalid">
                              Religion Denomination is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-portlet__foot m-portlet__foot--fit">
                          <div class="m-form__actions">
                            <div class="row">
                              <div class="col-2"></div>
                              <div class="col-7">
                                <button type="button" *ngIf="!feedBack?.sponsorStatus"
                                        class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                        (click)="updateFormModal()">
                                  Save changes <i class="fa fa-spinner fa-spin"
                                                  *ngIf="feedBack.submitStatus"></i>
                                </button>
                                <!--<button type="button"  class="btn btn-accent m-btn m-btn&#45;&#45;air m-btn&#45;&#45;custom"
                                        (click)="onAddSponsor()">
                                  Add
                                </button>-->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
