.unedit{
  border: 0px solid #000000;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px !important;
}

.profileclass{
  padding-right: 20px !important;
  padding-top: 5px !important;
  float: right;
  font-size: 25px !important;
  cursor: pointer;
}
