<div id="createApplicant" class="modal fade" role="dialog">
  <form [formGroup]="createApplicantForm" (ngSubmit)="createApplicant()">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Create Applicant</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','createApplicant')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">

                <label for="first_name">First Name:</label>
                <input class="form-control" formControlName="first_name" id="first_name"
                       placeholder="First Name">

              </div>
              <div class="col-md-6">

                <label for="middle_name">Middle Name:</label>
                <input class="form-control" id="middle_name" formControlName="middle_name"
                       placeholder="Middle Name">

              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="last_name">Surname:</label>
                <input class="form-control" id="last_name" formControlName="last_name"
                       placeholder="Last Name">

              </div>


              <div class="col-md-6">
                <label for="email">Email:</label>
                <input class="form-control" type="email" formControlName="email" id="email" placeholder="email">
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="ph_no">Phone Number:</label>
                <input class="form-control" formControlName="phone" id="ph_no" placeholder="Phone">


              </div>
              <div class="col-md-6">

                <div class="row">
                  <div class="col-md-6">


                    <label for="age">Age:</label>
                    <input class="form-control" formControlName="age" id="age"
                           placeholder="Age" type="number">

                  </div>

                  <div class="col-md-6">
                    <label>Gender:</label>
                    <div class="row">
                      <div class="col-6">
                        <label for="create_male" class="radio-inline">M
                          <input id="create_male" formControlName="gender" value="Male"
                                 type="radio">
                        </label>
                      </div>
                      <div class="col-6">
                        <label for="create_female" class="radio-inline">F
                          <input id="create_female" formControlName="gender" value="Female"
                                 type="radio">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">

                <label for="country">Country:</label>
                <select class="form-control" #country id="country"
                        (change)="getStateByCountryId(country.value)">
                  <option value="" disabled>Select Country</option>
                  <option *ngFor="let country of allCountries; let ind=index"
                          value="{{country.id}}">
                    {{country.name}}
                  </option>
                </select>


              </div>
              <div class="col-md-6">

                <label for="state">State:</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.states.loading"></i>
                <select class="form-control" #createState formControlName="state_origin" id="state"
                        (change)="getLgaByStateId(createState.value)">
                  <option value="" disabled>Select State</option>
                  <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">
                    {{state?.name}}
                  </option>
                </select>

              </div>

            </div>
            <div class="row">
              <div class="col-md-6">

                <label for="course">LGA:</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.lgas.loading"></i>
                <select class="form-control" formControlName="lga" id="faculty">
                  <option value="" disabled>Select Lga</option>
                  <option *ngFor="let lga of allLgas; let ind=index" value="{{lga.id}}">
                    {{lga.name}}
                  </option>
                </select>


              </div>

              <div class="col-md-6">

                <label for="country">Programme:</label>
                <select class="form-control" formControlName="application_status_id" id="country">
                  <option value="" disabled>Select Programme</option>
                  <option *ngFor="let programme of allOpenProgrames; let ind=index"
                          value="{{programme.id}}">{{programme?.name}}
                  </option>
                </select>

              </div>
            </div>

            <div class="row">

              <div class="col-md-6">


                <label>{{facultyName}}:</label>
                <select class="form-control" #faculty
                        (change)="getDepartmentByByFacultyId(faculty.value)">
                  <option value="" disabled>Select {{facultyName}}</option>
                  <option *ngFor="let faculty of allFaculties; let ind=index"
                          value="{{faculty.id}}">
                    {{faculty.name}}
                  </option>
                </select>


              </div>

              <div class="col-md-6">
                <label for="department">Department:</label>
                <i class="m-loader m-loader--right m-loader--brand"
                   *ngIf="load.departments.loading"></i>
                <select class="form-control" #createdeprtmnt formControlName="department_id"
                        id="department" (change)="getCourseByDepartmentId(createdeprtmnt.value)"
                        [disabled]="!load.departments.list || load.departments.loading">
                  <option value="" disabled>Select Department</option>
                  <option *ngFor="let department of allDepartments; let ind=index"
                          value="{{department.id}}">{{department.name}}
                  </option>
                </select>


              </div>

              <div class="row">

                =======
                <div class="row">

                  <div class="col-md-6">

                    <label for="course">LGA:</label>
                    <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.lgas.loading"></i>
                    <select class="form-control" formControlName="lga" id="faculty">
                      <option value="" disabled>Select Lga</option>
                      <option *ngFor="let lga of allLgas; let ind=index" value="{{lga.id}}">
                        {{lga.name}}
                      </option>
                    </select>


                  </div>

                  <div class="col-md-6">

                    <label for="country">Programme:</label>
                    <select class="form-control" formControlName="application_status_id" id="country">
                      <option value="" disabled>Select Programme</option>
                      <option *ngFor="let programme of allOpenProgrames; let ind=index"
                              value="{{programme.id}}">{{programme?.name}}
                      </option>
                    </select>

                  </div>
                </div>

                <div class="row">

                  <div class="col-md-6">


                    <label>{{facultyName}}:</label>
                    <select class="form-control" #faculty
                            (change)="getDepartmentByByFacultyId(faculty.value)">
                      <option value="" disabled>Select {{facultyName}}</option>
                      <option *ngFor="let faculty of allFaculties; let ind=index"
                              value="{{faculty.id}}">
                        {{faculty.name}}
                      </option>
                    </select>


                  </div>

                  <div class="col-md-6">
                    <label for="department">Department:</label>
                    <i class="m-loader m-loader--right m-loader--brand"
                       *ngIf="load.departments.loading"></i>
                    <select class="form-control" #createdeprtmnt formControlName="department_id"
                            id="department" (change)="getCourseByDepartmentId(createdeprtmnt.value)"
                            [disabled]="!load.departments.list || load.departments.loading">
                      <option value="" disabled>Select Department</option>
                      <option *ngFor="let department of allDepartments; let ind=index"
                              value="{{department.id}}">{{department.name}}
                      </option>
                    </select>


                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="course">Course of Study:</label>
                    <i class="m-loader m-loader--right m-loader--brand"
                       *ngIf="load.courses.loading"></i>
                    <select class="form-control" formControlName="course_of_study_id" id="course"
                            [disabled]="!load.courses.list || load.courses.loading">
                      <option value="" disabled>Select Course</option>
                      <option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">
                        {{course.name}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label>Home Address:</label>
                    <textarea formControlName="address" class="form-control">Home Address</textarea>
                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="createApplicantForm.invalid || load.requesting.create">
            {{load.message.create}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>

          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','createApplicant')">Close
          </button>

        </div>
      </div>
    </div>
  </form>
</div>

<div id="updateApplicant" class="modal fade" role="dialog">
  <form [formGroup]="updateApplicantForm" (ngSubmit)="updateApplicant()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Update {{updatedApplicant?.first_name}} {{updatedApplicant?.last_name}}</h4>
          <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateApplicant')">Close</button> -->
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateApplicant')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">

                <label for="schoolname">First Name:</label>
                <input class="form-control" formControlName="first_name" id="schoolname"
                       placeholder="First Name">

              </div>
              <div class="col-md-6">

                <label for="middle_name">Middle Name:</label>
                <input class="form-control" id="domain" formControlName="middle_name"
                       placeholder="Middle Name">

              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="schooldomain">Last Name:</label>
                <input class="form-control" id="domain" formControlName="last_name"
                       placeholder="Last Name">

              </div>
              <div class="col-md-6">

                <label for="email">Phone Number:</label>
                <input class="form-control" formControlName="phone" id="email" placeholder="Phone">

              </div>
            </div>

            <div class="row">
              <div class="col-md-6">

                <div class="row">
                  <div class="col-md-6">
                    <label for="matric_no">Age:</label>
                    <input class="form-control" formControlName="age" id="matric_no"
                           placeholder="Age" type="number">

                  </div>

                  <div class="col-md-6">
                    <label>Gender:</label>
                    <div class="row">
                      <div class="col-6">
                        <label for="update_male" class="radio-inline">
                          <input id="update_male" formControlName="gender" value="Male"
                                 type="radio"> M
                        </label>
                      </div>

                      <div class="col-6">
                        <label for="update_female" class="radio-inline">

                          <input id="update_female" formControlName="gender" value="Female"
                                 type="radio"> F
                        </label>
                      </div>

                    </div>


                  </div>
                </div>

              </div>
              <div class="col-md-6">


                <label for="country">Country:</label>
                <select class="form-control" #createcountry id="country"
                        (change)="getStateByCountryId(createcountry.value)">
                  <option value="" disabled>Select Country</option>
                  <option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">
                    {{country.name}}
                  </option>
                </select>


              </div>

            </div>

            <div class="row">
              <div class="col-md-6">


                <label for="state">State:</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.states.loading"></i>
                <select class="form-control" #updateState formControlName="state_origin"
                        id="update_state"
                        (change)="getLgaByStateId(updateState.value)">
                  <!--         <option value="{{updatedApplicant?.state_origin}}">
                              {{updatedApplicant?.state_origin}}
                          </option> -->
                  <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">
                    {{state.name}}
                  </option>
                </select>


                <label>{{facultyName}}:</label>
                <select class="form-control" #update_faculty
                        (change)="getDepartmentByByFacultyId(update_faculty.value)">
                  <option *ngIf="updatedApplicant?.fac_abbr" value="{{updatedApplicant?.fac_abbr}}">
                    {{updatedApplicant?.fac_abbr}}
                  </option>
                  <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">
                    {{faculty.name}}
                  </option>
                </select>

              </div>
              <div class="col-md-6">

              </div>
              <div class="col-md-6">



                <label for="course">LGA:</label>
                <select class="form-control" formControlName="lga" id="update_lga">
                  <option value="{{updatedApplicant?.lga}}" disabled>{{updatedApplicant?.lga}}
                  </option>
                  <option *ngFor="let lga of allLgas; let ind=index" value="{{lga.id}}">{{lga.name}}
                  </option>
                </select>

              </div>

            </div>


            <div class="row">
              <div class="col-md-6">
                <label for="country">Programme:</label>
                <select class="form-control" formControlName="application_status_id"
                        id="update_programme">
                  <option value="" disabled>Select Programme</option>
                  <option *ngFor="let openProgramme of allOpenProgrames; let ind=index"
                          value="{{openProgramme.id}}">{{openProgramme?.name}}
                  </option>
                </select>


              </div>
              <div class="col-md-6">


                <label>{{facultyName}}:</label>
                <select class="form-control" #update_faculty
                        (change)="getDepartmentByByFacultyId(update_faculty.value)">
                  <option *ngIf="updatedApplicant?.fac_abbr" value="{{updatedApplicant?.fac_abbr}}">
                    {{updatedApplicant?.fac_abbr}}
                  </option>
                  <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">
                    {{faculty.name}}
                  </option>
                </select>


              </div>


            </div>


            <div class="row">
              <div class="col-md-6">

                <label for="department">Department:</label>
                <i class="m-loader m-loader--right m-loader--brand"
                   *ngIf="load.departments.loading"></i>
                <select class="form-control" #deprtmnt formControlName="department_id"
                        id="update_department"
                        (change)="getCourseByDepartmentId(deprtmnt.value)"
                        [disabled]="!load.departments.list || load.departments.loading">
                  <option value="{{updatedApplicant?.cors_abbr}}">
                    {{updatedApplicant?.cors_abbr}}
                  </option>
                  <option *ngFor="let department of allDepartments; let ind=index"
                          value="{{department.id}}">{{department.name}}
                  </option>
                </select>

              </div>

              <div class="col-md-6">

                <label for="course">Course of Study:</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.courses.loading"></i>
                <select class="form-control" formControlName="course_of_study_id" id="update_course"
                        [disabled]="!load.courses.list || load.courses.loading">
                  <option value="{{updatedApplicant?.cors_abbr}}">{{updatedApplicant?.cors_abbr}}
                  </option>
                  <option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">
                    {{course.name}}
                  </option>
                </select>
              </div>

            </div>

            <div class="row">


              <div class="col-md-12">
                <label>Home Address:</label>
                <textarea formControlName="address" class="form-control">Home Address</textarea>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">

          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="updateApplicantForm.invalid || load.requesting.create">{{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>


          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','updateApplicant')">Close
          </button>


        </div>
      </div>
    </div>
  </form>
</div>


<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Applicants
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" *ngIf="permissions['school.admission.applicant-other.store']">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="triggerModalOrOverlay('open','createApplicant')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Create Applicant
														</span>
													</span>
          </a>
        </li>


      </ul>
    </div>

  </div>
  <div class="m-portlet__body">
    <!--begin: Search Form -->
    <!--end: Search Form -->
    <!--begin: Datatable -->
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="table table-hover table-striped table-sm m-table--head-bg-brand">
        <thead class="thead-color">
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>Phone Number</th>
          <th>Email</th>
          <!--<th>Age</th>-->
          <!--<th>Transaction ID</th>-->
          <th>Course of Study</th>
          <th>Reg No</th>
          <th>Form No</th>
          <th>Mode of Entry</th>
          <th>Payment Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngIf="allApplicants.length==0 || load.requesting.list">
          <td colspan="11" *ngIf="allApplicants.length==0">
            <span *ngIf="allApplicants.length==0 && !load.requesting.list">No Record Found</span>
            <span *ngIf="load.requesting.list">Fetching Applicants..
                                    <i class="m-loader m-loader--right m-loader--brand"></i>
                                </span>
          </td>
        </tr>
        <tr *ngFor="let Applicant of allApplicants; let ind=index">
          <td>{{ind+1}}
          <td><a class="m-link" routerLink="../candidate/{{Applicant?.id}}">{{Applicant?.name}}</a></td>
          <td><span *ngIf="Application?.phone.toString()[0] !== '+' || Application?.phone.toString()[0] !== '2'">0</span>{{Applicant?.phone}}</td>
          <td>{{Applicant?.email}}</td>
          <!--<td>{{Applicant?.age}}</td>-->
          <!--<td>{{Applicant?.programme_object?.name || '-&#45;&#45;'}}</td>-->
          <td>{{Applicant?.applicant_profile?.course_of_study_choice[0]?.first_choice?.name || '---'}}</td>
          <td>{{Applicant?.reg_no || Applicant?.unique_id || '---'}}</td>
          <td>{{ Applicant?.applicant_profile?.form_no || '---' }}</td>
          <td>{{Applicant?.application?.mode_of_entry || '---'}}</td>
          <td>
            <!--<span class="m-badge  m-badge&#45;&#45;warning m-badge&#45;&#45;wide"
                  *ngIf="Applicant?.admission_status == 0">Pending</span>
            <span class="m-badge  m-badge&#45;&#45;success m-badge&#45;&#45;wide"
                  *ngIf="Applicant?.admission_status == 1">Admitted</span>-->
            <span class="m-badge  m-badge--warning m-badge--wide"
                  *ngIf="Applicant?.payment_status == 0">Not Paid</span>
            <span class="m-badge  m-badge--success m-badge--wide" *ngIf="Applicant?.payment_status == 1">Paid</span>
          </td>
          <td *ngIf="Applicant.status==='1'" style="color:green">
            <i class="fa fa-check fa-2x"></i>
          </td>
          <td *ngIf="Applicant.status==='0'" style="color:red">
            <i class="fa fa-times fa-2x"></i>
          </td>
          <td>
            <div class="dropdown ">
              <a class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                 data-toggle="dropdown" disabled="Applicant?.admission_status==1">
                <i class="la la-ellipsis-h" *ngIf="!Applicant?.unsubmitting"></i>
                <i class="m-loader m-loader--brand" *ngIf="Applicant?.unsubmitting"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right"
                   *ngIf="permissions['school.admission.applicant-other.update']">
                <a class="dropdown-item" (click)="triggerModalOrOverlay('open','updateApplicant',ind)">
                  <i class="la la-edit"></i> Edit {{Applicant?.first_name}}
                </a>
                <a class="dropdown-item" (click)="unSubmitApplication(Applicant?.id, ind)">
                  <i class="la la-leaf"></i>
                  Unsubmit
                </a>
                <!--<a class="dropdown-item" href="#">-->
                <!--<i class="la la-print"></i> Generate Report</a>-->
              </div>
            </div>

            <!--<button class="btn btn-info btn-xs" (click)="triggerModalOrOverlay('open','updateApplicant',ind)">-->
            <!--<i class="fa fa-pencil" *ngIf="!Applicant?.loading"></i>-->
            <!--<i class="m-loader m-loader--right m-loader--brand" *ngIf="Applicant?.loading"></i>-->

            <!--</button>-->
          </td>


        </tr>
        </tbody>
      </table>
    </div>

    <!--end: Datatable -->
  </div>
</div>
