<div class="modal fade" id="imageInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Admission Variables</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="m-form">
          <div class="m-form__group form-group">
            <div class="m-checkbox-list row">
              <label class="m-checkbox m-checkbox--state-success col-4"
                     *ngFor="let variable of admissionLetterVariables; let ind=index">
                <input type="checkbox" value="{{variable.value}}"
                       (change)="selectAdmissionVariable(ind)">
                {{variable.label}}
                <span></span>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="saveVariables()"
                class="btn btn-accent m-btn--pill m-btn m-btn--air m-btn--custom btn-xs">
          Add <i class="la la-save"></i>
        </button>
        <button type="button" class="btn btn-danger  m-btn m-btn--air btn-xs"
                (click)="triggerModalOrOverlay('close','imageInfo',1)">Close
        </button>

      </div>
    </div>
  </div>
</div>


<div class="m-portlet m-portlet--mobile ">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Admission Letter
        </h3>
        <form [formGroup]="admissionLetter" id="programme_form">
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <div class="col-lg-12">
              <select class="form-control" formControlName="programme_id" #ck_programme
                      (change)="showInput(ck_programme.value)">
                <option value="" disabled>Select Programme</option>
                <option *ngFor="let programme of allProgrammes; let ind =index" value="{{programme?.id}}">
                  {{programme?.name}}
                </option>
              </select>
              <input formControlName="programme_id" style="display: none">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <button class="btn btn-accent m-btn--pill m-btn m-btn--air m-btn--custom btn-xs"
              (click)="triggerModalOrOverlay('open','imageInfo')"
              *ngIf="iAmPermitted('school.admission.admission_letter.store_admission_letter')">
        Select Admission Variables <i class="la la-list la-2x"></i>
      </button>
    </div>
  </div>
  <div class="m-portlet__body">
    <br>
    <ckeditor
      [(ngModel)]="ckeditorContent"
      [config]="{uiColor: '#99000'}"
      [readonly]="false"
      (change)="onChange($event)"
      (editorChange)="onEditorChange($event)"
      (ready)="onReady($event)"
      debounce="500" #ck>
    </ckeditor>
    <br>
    <div class="m-portlet__foot m-portlet__foot--fit" style="margin-left: 75%">
      <div class="m-form__actions">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-7">
            <button (click)="saveContent(ck)"
                    class="btn btn-accent m-btn m-btn--pill m-btn--air m-btn--custom"
                    [disabled]="ckeditorContent.length<=0"
                    *ngIf="iAmPermitted('school.admission.admission_letter.store_admission_letter') || iAmPermitted('school.admission.admission_letter.update_admission_letter')">
              Save Template
            </button>
            <i class="m-loader m-loader--right m-loader--light" *ngIf="load.requesting.create"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
