<!--<div class="m-subheader ">-->
    <!--<div class="d-flex align-items-center">-->
        <!--<div class="mr-auto">-->
            <!--<h3 class="m-subheader__title m-subheader__title&#45;&#45;separator">-->
                <!--<div class="container">Application Profile:-->
                <!--</div>-->
            <!--</h3>-->
            <!--<ul class="m-subheader__breadcrumbs m-nav m-nav&#45;&#45;inline">-->
                <!--<li class="m-nav__item m-nav__item&#45;&#45;home">-->
                    <!--<a routerLink="/staff" class="m-nav__link m-nav__link&#45;&#45;icon">-->
                        <!--<i class="m-nav__link-icon la la-home"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="m-nav__separator">-->
                    <!-- - -->
                <!--</li>-->
                <!--<li class="m-nav__item">-->
                    <!--<a routerLink="/staff/admissions/putme" class="m-nav__link">-->
            <!--<span class="m-nav__link-text">-->
             <!--Submit-->
            <!--</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="m-nav__separator">-->
                    <!-- - -->
                <!--</li>-->
                <!--<li class="m-nav__item">-->
                    <!--<a class="m-nav__link">-->
            <!--<span class="m-nav__link-text">-->
              <!--{{applicationFormView?.first_name | ucwords}}-->
            <!--</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="m-nav__separator">-->

                <!--</li>-->
                <!--<li class="m-nav__item">-->


                    <!--&lt;!&ndash;begin::Search Form &ndash;&gt;-->
                    <!--&lt;!&ndash;end::Search Form &ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;begin::Search Results &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="m-stack__item m-stack__item&#45;&#45;middle m-dropdown m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;large m-dropdown&#45;&#45;mobile-full-width m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;skin-light m-header-search m-header-search&#45;&#45;expandable m-header-search&#45;&#45;skin- m-list-search&#45;&#45;has-result m-dropdown&#45;&#45;open"&ndash;&gt;-->
                    <!--&lt;!&ndash;id="m_quicksearch" data-search-type="default" aria-expanded="true">&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;begin::Search Form &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;<div style="margin-top: 35px!important; position: absolute">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="m-header-search__wrapper">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="m-header-search__icon-search" id="m_quicksearch_search">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="la la-search"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="m-header-search__input-wrapper">&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<mat-form-field class="m-header-search__form"&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;id="m_quicksearch_input">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<input type="text" class="m-header-search__input" placeholder=""&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;aria-label="Number" matInput&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;[formControl]="searchTerm" [matAutocomplete]="auto">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<mat-autocomplete #auto="matAutocomplete">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<mat-option *ngFor="let item of searchResult" [value]="item?.first_name">&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;{{item?.first_name}} {{item?.last_name}}&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</mat-option>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</mat-autocomplete>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</mat-form-field>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="m-header-search__icon-close" id="m_quicksearch_close"&ndash;&gt;-->
                    <!--&lt;!&ndash;style="visibility: visible;">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="la la-remove"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="m-header-search__icon-cancel" id="m_quicksearch_cancel"&ndash;&gt;-->
                    <!--&lt;!&ndash;style="visibility: visible;">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="la la-remove"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;end::Search Form &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;begin::Search Results &ndash;&gt;&ndash;&gt;-->

                    <!--&lt;!&ndash;&lt;!&ndash;end::Search Results &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;end::Search Results &ndash;&gt;-->

                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div>-->
            <!--<div>-->
                <!--<img alt="No Passport" src="{{applicationFormView?.applicant?.profile_image}}"-->
                     <!--class="img img-thumbnail">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--&lt;!&ndash;<div class="m-header-search__form">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="m-header-search__wrapper">&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<div class="m-portlet m-portlet&#45;&#45;brand m-portlet&#45;&#45;head-solid-bg m-portlet&#45;&#45;bordered">-->
    <!--<div class="m-portlet__head">-->
        <!--<div class="m-portlet__head-caption">-->
            <!--<div class="m-portlet__head-title">-->
                <!--<h3 class="m-portlet__head-text">-->
                    <!--{{applicationFormView?.first_name}} {{applicationFormView?.last_name}}-->
                <!--</h3>-->
            <!--</div>-->


        <!--</div>-->
    <!--</div>-->
    <!--<div class="m-portlet__body">-->
        <!--<ul class="nav nav-tabs  m-tabs-line m-tabs-line&#45;&#45;primary" role="tablist">-->
            <!--<li class="nav-item m-tabs__item">-->
                <!--<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">-->
                    <!--Basic Putme Candidate Info-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="nav-item m-tabs__item">-->
                <!--<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">-->
                    <!--Academic Info-->
                <!--</a>-->
            <!--</li>-->


        <!--</ul>-->

        <!--<div class="tab-content">-->
            <!--<div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">-->
                <!--<div class="row">-->
                    <!--<div class="col-6 card">-->
                        <!--<div class="row" style="padding-top: 10px">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--First Name:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.first_name || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Last Name:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.last_name || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Other Name:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.other_name || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Gender:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.gender || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->

                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Telephone:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.applicant_landtel || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->

                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Home Address:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.applicant_homeaddress || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Marital Status:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.marital_status || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Birth Date:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.birthdate || 'None Provided' |date}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Place of Birth:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.place_of_birth || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->

                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Home Town:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.home_town || 'None-->
                                <!--Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="col-6 card">-->
                        <!--<div class="row" style="padding-top: 10px">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Religion:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.religion|| 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->


                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Denomination:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.denomination || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->

                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Preferred Screening Venue:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.preferred_screening_centre|| 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                        <!--<u><h4>Parent/Guardian Information</h4></u>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Title:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.parents_title || 'None-->
                                <!--Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Other Title:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.parent_other_title || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->

                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Full Name:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.parent_name || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Relationship:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.parent_relationship || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Phone:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.parent_tel || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Email:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.parent_email || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Address:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.parent_address || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<u><h4>Desired Course of Study</h4></u>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--First Choice Course:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.course_of_study_choice?.first_choice?.name || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row">-->
                            <!--<div class="col-3">-->
                                <!--<label>-->
                                    <!--Second Choice Course:-->
                                <!--</label>-->
                            <!--</div>-->
                            <!--<div class="col-9">-->
                                <!--{{applicationFormView?.course_of_study_choice?.second_choice?.name || 'None Provided'}}-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<u><h4>Olevel Results</h4></u>-->
                        <!--<div *ngFor="let olevelresult of applicationFormView?.olevel">-->
                            <!--<div class="row">-->
                                <!--<div class="col-3">-->
                                    <!--<label>-->
                                        <!--Exam Name:-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="col-9">-->
                                    <!--{{olevelresult?.result?.exam_name || 'None Provided'}}-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-3">-->
                                    <!--<label>-->
                                        <!--Exam Year:-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="col-9">-->
                                    <!--{{olevelresult?.result?.exam_year || 'None Provided'}}-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-3">-->
                                    <!--<label>-->
                                        <!--Exam Number:-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="col-9">-->
                                    <!--{{aolevelresult?.result?.exam_number || 'None Provided'}}-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<table>-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>-->
                                        <!--Subject Name-->
                                    <!--</th>-->
                                    <!--<th>-->
                                        <!--Subject Grade-->
                                    <!--</th>-->
                                <!--</tr>-->
                                <!--</thead>-->

                                <!--<tbody>-->
                                <!--<tr *ngFor="let olevelsubjects of olevelresult?.subjects">-->
                                    <!--<td>-->
                                        <!--{{olevelsubjects?.subj}}-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--{{olevelsubjects?.subj_grade}}-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->


            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->
