<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div id="createGroup" class="modal fade" role="dialog">
  <form [formGroup]="createGroupForm" (ngSubmit)="createGroup()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Create Group</h4>
          <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','createGroup')">Close</button> -->
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','createGroup')">&times;
          </button>

        </div>
        <div class="modal-body">

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">

                <label for="schoolname">Name:</label>
                <input class="form-control" formControlName="name" id="schoolname"
                       placeholder="Group Name">

              </div>

              <div class="col-md-6">
                <label for="state">Active Hours:</label>
                <select class="form-control" formControlName="active_hour_id" id="state">
                  <option value="" disabled>Choose Active Hours</option>
                  <option *ngFor="let activeHour of allActiveHours; let ind=index"
                          value="{{activeHour.id}}">{{activeHour?.name}}
                  </option>
                </select>

              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <h6>Assign Group Tasks:</h6>

                <ss-multiselect-dropdown [options]="allTasks" [texts]="myTexts"
                                         [settings]="mySettings" formControlName="tasks"></ss-multiselect-dropdown>
                <!--<angular2-multiselect [data]="allTasks" [settings]="mySettings"-->
                <!--([ngModel])="selectedUpdateGroup" formControlName="taskIds">-->
                <!--</angular2-multiselect>-->

              </div>

            </div>

            <br>
            <div class="row">
              <div class="col-md-6">

                <h6>Holiday Login:</h6>
                <label for="enable_holiday" class="radio-inline">Enable</label>
                <input id="enable_holiday" type="radio" formControlName="holiday_login" value="1">
                &nbsp;&nbsp;&nbsp;&nbsp;

                <label for="disable_holiday" class="radio-inline">Disable</label>
                <input id="disable_holiday" type="radio" formControlName="holiday_login" value="0">
              </div>
              <div class="col-md-6">
                <h6>Weekend Login:</h6>
                <label for="enable_weekend" class="radio-inline">Enable</label>
                <input id="enable_weekend" type="radio" formControlName="weekend_login" value="1">

                <label for="disable_weekend" class="radio-inline">Disable</label>
                <input id="disable_weekend" type="radio" formControlName="weekend_login" value="0">


              </div>

            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="createGroupForm.invalid || load.requesting.create">{{load.message.create}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>
          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','createGroup')">Close
          </button>


        </div>
      </div>
    </div>
  </form>
</div>

<div id="updateGroup" class="modal fade" role="dialog">
  <form [formGroup]="updateGroupForm" (ngSubmit)="updateGroup()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Update {{updatedGroup?.fullname}}</h4>
          <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateGroup')">Close</button> -->
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateGroup')">&times;
          </button>

        </div>
        <div class="modal-body">

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">

                <label for="schoolname">Name:</label>
                <input class="form-control" formControlName="name" id="schoolname"
                       placeholder="Full Name">

              </div>

              <div class="col-md-6">
                <label for="state">Active Hours:</label>
                <select class="form-control" formControlName="active_hour_id" id="state">
                  <option value="" disabled>Choose Active Hours</option>
                  <option *ngFor="let activeHour of allActiveHours; let ind=index"
                          value="{{activeHour.id}}">{{activeHour?.name}}
                  </option>
                </select>

              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <h6>Assign Group Tasks:</h6>

                <ss-multiselect-dropdown [options]="allTasks" [texts]="myTexts"
                                         [settings]="mySettings" formControlName="tasks"></ss-multiselect-dropdown>
                <!--<angular2-multiselect [data]="allTasks" [settings]="mySettings"-->
                <!--([ngModel])="selectedUpdateGroup" formControlName="taskIds">-->
                <!--</angular2-multiselect>-->

              </div>

            </div>

            <br>
            <div class="row">
              <div class="col-md-6">

                <h6>Holiday Login:</h6>
                <label for="enabl_holiday" class="radio-inline">Enable</label>
                <input id="enabl_holiday" type="radio" formControlName="holiday_login" value="1">
                &nbsp;&nbsp;&nbsp;&nbsp;

                <label for="disabl_holiday" class="radio-inline">Disable</label>
                <input id="disabl_holiday" type="radio" formControlName="holiday_login" value="0">
              </div>
              <div class="col-md-6">
                <h6>Weekend Login:</h6>
                <label for="enable_weekend" class="radio-inline">Enable</label>
                <input id="enable_weekend" type="radio" formControlName="weekend_login" value="1">

                <label for="disable_weekend" class="radio-inline">Disable</label>
                <input id="disable_weekend" type="radio" formControlName="weekend_login" value="0">


              </div>

            </div>


          </div>
        </div>

        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="updateGroupForm.invalid || load.requesting.create">{{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>
          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','updateGroup')">Close
          </button>


        </div>
      </div>
    </div>
  </form>
</div>

<div id="viewGroup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">View {{viewedGroup?.fullname}}</h4>
        <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateGroup')">Close</button> -->
        <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateGroup')">&times;
        </button>

      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            Group Name: {{viewedGroup?.name}}
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button"
                class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                (click)="triggerModalOrOverlay('close','viewGroup')">Close
        </button>


      </div>
    </div>
  </div>

</div>


<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Staff Groups
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" id="school.administration.group.store"><!-- *ngIf="iAmPermitted('school.administration.group.store')"-->
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="triggerModalOrOverlay('open','createGroup')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Group
														</span>
													</span>
          </a>
        </li>


      </ul>
    </div>

  </div>
  <div class="m-portlet__body">
    <!--begin: Search Form -->
    <!--end: Search Form -->
    <!--begin: Datatable -->
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="table table-hover table-striped table-sm m-table--head-bg-brand">
        <thead class="thead-color">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Role</th>
          <th>Holiday Login</th>
          <th>Weekend Login</th>
          <th>Active Hours</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="load.requesting.list" class="text-center">

          <td colspan="11" *ngIf="allGroups.length == 0">
            <span *ngIf="allGroups.length == 0 && !load.requesting.list">No Record Found</span>
            <span *ngIf="load.requesting.list">Fetching Groups.. &nbsp;&nbsp;
                  <i class="m-loader m-loader--brand"></i>
                </span>
          </td>

        </tr>
        <tr *ngFor="let Group of allGroups; let ind=index">

          <td>{{ind+1}}</td>
          <td>{{Group?.name}}</td>
          <td>{{Group?.role |removeUnderscore}}</td>
          <td *ngIf="Group?.holiday_login === '1'">Enabled</td>
          <td *ngIf="Group?.holiday_login === '0'">Disabled</td>
          <td *ngIf="Group?.weekend_login === '1'">Enabled</td>
          <td *ngIf="Group?.weekend_login === '0'">Disabled</td>
          <td>{{Group?.active_hour?.name}}</td>

          <td *ngIf="Group.enabled==='1'" style="color:green">
            <i class="fa fa-check fa-2x"></i>
          </td>
          <td *ngIf="Group.enabled==='0'" style="color:red">
            <i class="fa fa-times fa-2x"></i>
          </td>
          <td>
            <div class="dropdown ">
              <a href="#"
                 class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                 data-toggle="dropdown">
                <i class="la la-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" (click)="triggerModalOrOverlay('open','updateGroup',ind)"
                   id="school.administration.group.update"><!--*ngIf="iAmPermitted('school.administration.group.update')"-->
                  <i class="la la-edit" *ngIf="!Group?.loading"></i>
                  <!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="Group?.loading"></i> -->
                  Edit Group

                </a>

                <!--<a class="dropdown-item" (click)="triggerModalOrOverlay('open','viewGroup',ind)">-->
                <!--<i class="la la-eye" *ngIf="!Group?.loading"></i> <i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="Group?.loading"></i> View Group-->

                <!--</a>-->

              </div>
            </div>

            <!--<button class="btn btn-info btn-xs" (click)="triggerModalOrOverlay('open','updateGroup',ind)">-->
            <!--<i class="fa fa-pencil" *ngIf="!Group?.loading"></i>-->
            <!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="Group?.loading"></i>-->

            <!--</button>-->
          </td>
          <!-- <td>
                    <div class="m-portlet__head-tools">
                      <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                          <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
                            aria-expanded="true">
                            <a  class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                              <i class="la la-ellipsis-h m--font-brand"></i>
                            </a>
                            <div class="m-dropdown__wrapper">
                              <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                              <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                  <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                      <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                          Manage Group
                                        </span>
                                        <hr>
                                      </li>
                                      <li class="m-nav__item">
                                        <a role="button" class="m-nav__link" style="cursor:pointer">
                                          <i class="m-nav__link-icon flaticon-share"></i>
                                          <span class="m-nav__link-text" (click)="triggerModalOrOverlay('open','updateGroup',ind)">
                                            Edit {{Group?.fullname}}'s Profile
                                            <i class="fa fa-pencil" *ngIf="!Group?.loading"></i>
                                            <i class="m-loader m-loader--right m-loader--brand" *ngIf="Group?.loading"></i>
                                          </span>
                                        </a>
                                      </li>
                                      <br>
                                      <li class="m-nav__item">
                                        <a  class="m-nav__link">
                                          <i class="m-nav__link-icon flaticon-chat-1"></i>
                                          <span class="m-nav__link-text">
                                           View {{Group?.fullname}}'s Profile <i class="fa fa-eye"></i>
                                          </span>
                                        </a>
                                      </li>
                                      <br>
                                      <li class="m-nav__item">
                                        <a  class="m-nav__link">
                                          <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                          <span class="m-nav__link-text">
                                            Assign Courses to {{Group?.fullname}}
                                          </span>
                                        </a>
                                      </li>
                                      <li class="m-nav__section">
                                        <span class="m-nav__section-text">
                                          Useful Links
                                        </span>
                                      </li>
                                      <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                          <i class="m-nav__link-icon flaticon-info"></i>
                                          <span class="m-nav__link-text">
                                            FAQ
                                          </span>
                                        </a>
                                      </li>
                                      <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                          <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                          <span class="m-nav__link-text">
                                            Support
                                          </span>
                                        </a>
                                      </li>
                                      <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                                      <li class="m-nav__item m--hide">
                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                          Submit
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </td> -->
        </tr>
        </tbody>
      </table>

    </div>
    <!--end: Datatable -->
  </div>
</div>
