<div class="bg-grey">
  <header class="m-grid__item		m-header " data-minimize="minimize" data-minimize-offset="200"
          data-minimize-mobile-offset="200">
    <div class="m-header__top">
      <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
        <div class="m-stack m-stack--ver m-stack--desktop">
          <!-- begin::Brand -->
          <div class="m-stack__item m-brand">
            <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
              <div class="m-stack__item m-stack__item--middle m-brand__logo">
                <a href="index.html" class="m-brand__logo-wrapper">
                  <img alt="University Logo" [src]="appSettings?.logo" style="width:90px" *ngIf="appSettings?.logo"/>
                  <img alt="University Logo" src="assets/images/Fav.png" width="90px" *ngIf="!appSettings?.logo"/>
                </a>
              </div>
              <div class="school-name">
                <h2>{{schoolName}}</h2>
              </div>
            </div>
          </div>
          <!-- end::Brand -->
          <!-- begin::Topbar -->

          <!-- end::Topbar -->
        </div>
      </div>
    </div>
    <!--<div class="m-header__bottom" [ngStyle]="setHeaderColor()">-->
    <!--<div class="m-container m-container&#45;&#45;responsive m-container&#45;&#45;xxl m-container&#45;&#45;full-height m-page__container">-->
    <!--<div class="m-stack m-stack&#45;&#45;ver m-stack&#45;&#45;desktop">-->
    <!--&lt;!&ndash; begin::Horizontal Menu &ndash;&gt;-->
    <!--<div class="m-stack__item m-stack__item&#45;&#45;middle m-stack__item&#45;&#45;fluid">-->
    <!--<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close&#45;&#45;skin-light "-->
    <!--id="m_aside_header_menu_mobile_close_btn">-->
    <!--<i class="la la-close"></i>-->
    <!--</button>-->
    <!--<div id="m_header_menu"-->
    <!--class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile&#45;&#45;offcanvas  m-header-menu&#45;&#45;skin-dark m-header-menu&#45;&#45;submenu-skin-light m-aside-header-menu-mobile&#45;&#45;skin-light m-aside-header-menu-mobile&#45;&#45;submenu-skin-light ">-->
    <!--<h3 id="open_head">-->
    <!--Payment Verification-->
    <!--</h3>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </header>
  <!--<div class=""></div>-->
  <div class="m-portlet m-portlet--responsive-mobile m-4 p-5">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="h3">
            Transaction Details
          </h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="col-sm-12 col-md-6 offset-md-3 mt-lg-5 pt-lg-2">
        <div>
          <div *ngIf="paymentFeedBack?.loader">
            <div class="container">
              <div class="item item-1"></div>
              <div class="item item-2"></div>
              <div class="item item-3"></div>
              <div class="item item-4"></div>
            </div>
          </div>

          <div class="animated slideInDown" *ngIf="!transactionFailed && !payChoiceDiv && !etransactDiv && !xpresspayDiv">
            <div class="m-portlet" *ngIf="!paymentFeedBack?.loader && paymentDetails">
              <div class="row">
                <div class="col-12">
                  <div class="panel">
                    <div class="panel panel-heading panel-white">
                      <h4 class="panel-title text-center">
                        <label>Client:</label> {{paymentDetails?.customer?.email}}
                      </h4>
                    </div>
                    <div class="panel panel-body">
                      <p>
                        <label>Bank:</label> {{paymentDetails?.authorization?.bank}}
                      </p>
                      <p>
                        <label>Card Type:</label> {{paymentDetails?.authorization?.card_type}}
                      </p>
                      <p>
                        <label>Amount:</label> {{paymentDetails?.amount |number}}
                      </p>
                    </div>
                    <div>
                      <p class="text-success">
                        <strong><label>Payment Successful!</label> <i class="fa fa-check-circle-o fa-3x">
                        </i>
                        </strong>
                      </p>
                    </div>
                  </div>
                  <div class="pull-right">
                    <a class="btn btn-info" style="color:white; margin-top:10px !important"
                       (click)="goBackToOrigin()">
                      <i class="la la-chevron-circle-left"></i>
                      Go Back</a>
                    <!-- <span class="glyphicon glyphicon-chevron-left"></span>Previous Page -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="animated slideInDown" *ngIf="payChoiceDiv">
            <div class="m-portlet row">
              <div class="col-12" *ngIf="!paymentFeedBack?.loader">
                <div>
                  <!--<div class="img-div my-3">-->
                    <!--<img [src]="paymentDetailsFromCache?.school_logo">-->
                  <!--</div>-->
                  <!--<h3 class="col-12 text-center py-2"> {{ paymentDetailsFromCache?.school_name }} </h3>-->
                  <table class="table">
                    <tr>
                      <td><b>Name:</b></td>
                      <td>{{paymentDetailsFromCache?.first_name || paymentDetailsFromCache?.name ||paymentDetailsFromCache?.user?.name  }} {{paymentDetailsFromCache?.last_name}}</td>
                    </tr>
                    <tr>
                      <td><b>{{formOrMatric}} Number:</b></td>
                      <td>{{paymentDetailsFromCache?.matric_no || paymentDetailsFromCache?.form_no || "Pending Payment"}}</td>
                    </tr>
                    <tr *ngIf="paymentDetailsFromCache?.fee_session">
                      <td><b>Session:</b></td>
                      <td>{{ paymentDetailsFromCache?.fee_session }}</td>
                    </tr>
                    <tr>
                      <td><b>Department:</b></td>
                      <td>{{ paymentDetailsFromCache?.course_of_study?.department?.name || "Not Captured"}}</td>
                    </tr>

                    <tr>
                      <td><b>Course of Study:</b></td>
                      <td>{{ paymentDetailsFromCache?.course_of_study?.department?.name || 'Application in progress'}}</td>
                    </tr>

                    <tr>
                      <td><b>Level</b></td>
                      <td>{{paymentDetailsFromCache?.fee_level || "Entry Level"}}</td>
                    </tr>
                    <tr>
                      <td><b><i>Transaction ID:</i></b></td>
                      <td>
                        <span>{{paychoiceTransaction?.tid['0']}}</span>
                        <!--<button class="btn btn-sm"-->
                                <!--data-toggle="m-tooltip" type="button"-->
                                <!--[attr.title]="paymentDetailsFromCache?.tooltip" -->
                                <!--(click)="copyToClipboard(paychoiceTransaction?.tid['0'])">-->
                          <!--<i class="fa fa-copy"></i>-->
                        <!--</button>-->
                        <div class="my-tooltip">
                          <button class="btn btn-sm" (click)="copyToClipboard(paychoiceTransaction?.tid['0'])">
                            <i class="fa fa-copy"></i>
                            <span class="my-tooltiptext">{{ paymentDetailsFromCache?.tooltip }}</span>
                          </button>
                        </div>
                        <!--<button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top"-->
                                <!--(click)="copyToClipboard(paychoiceTransaction?.tid['0'])"-->
                                <!--[attr.title]="paymentDetailsFromCache?.tooltip">-->
                          <!--<i class="fa fa-copy"></i>-->
                        <!--</button>-->
                      </td>
                    </tr>
                    <tr>
                      <td><b>Total Amount</b></td>
                      <td>{{(+paymentDetailsFromCache?.total_amount + +paychoiceTransaction?.tcost) | currency : '₦'}}</td>
                    </tr>
                  </table>
                  <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
                    <div class="col-12 text-center font-weight-bold my-3">
                      Payment Breakdown
                    </div>
                    <div class="col-12">
                      <table class="table table-sm table-bordered">
                        <tr>
                          <th class="text-dark text-left">#</th>
                          <th class="text-dark text-left">Name</th>
                          <th class="text-dark text-left">Amount</th>
                        </tr>
                        <tr *ngFor="let feeItem of paymentDetailsFromCache?.feeItems; let i = index">
                          <td class="text-left">{{i+1}}</td>
                          <td class="text-left">{{feeItem?.fee_name}}</td>
                          <td class="text-left">{{feeItem?.amount | currency : '₦'}}</td>
                        </tr>

                        <tr *ngIf="paychoiceTransaction?.tcost">
                          <td class="text-left">{{paymentDetailsFromCache?.feeItems?.length+1}}</td>
                          <td>
                            <span class="pull-left"><b><i>Transaction Cost</i></b></span>
                          </td>
                          <td><span class="pull-left">{{paychoiceTransaction?.tcost | currency : '₦'}}</span></td>
                        </tr>

                        <ng-container *ngIf="paymentDetailsFromCache?.total_amount && formOrMatric==='Form'">
                          <tr *ngIf="paymentDetailsFromCache?.total_amount && formOrMatric==='Form'">
                            <td class="text-left">2</td>
                            <td class="text-left">Application Fee</td>
                            <td class="text-left">{{paymentDetailsFromCache?.total_amount | currency : '₦'}}</td>
                          </tr>

                          <tr>
                            <td class="text-left">3</td>
                            <td class="text-left">Total Amount</td>
                            <td class="text-left">{{(+paymentDetailsFromCache?.total_amount + +paychoiceTransaction?.tcost)| currency : '₦'}}</td>
                          </tr>

                        </ng-container>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center mt-4">
                      Copy the <b><i>Transaction ID </i></b>&nbsp; above and
                      <a class="m-link" target="_blank" [attr.href]="paychoiceTransaction?.url"><b>Click
                        Here to Proceed</b> <i class="la la-chevron-circle-right"></i></a>
                    </div>
                  </div>
                  <div class="pull-right mt-3 mb-5">
                    <a class="btn btn-outline-primary m-btn--pill btn-sm" (click)="goBackToOrigin()">
                      <i class="la la-chevron-circle-left"></i>
                      Go Back
                    </a>
                    <!-- <span class="glyphicon glyphicon-chevron-left"></span>Previous Page -->
                  </div>
                </div>

              </div>

            </div>
          </div>

          <div class="animated slideInDown" *ngIf="etransactDiv">
            <div class="m-portlet row">

              <div class="col-12">
                <div class="panel well">

                  <div>
                    <img style="width:90px; height:auto" src="assets/images/logos/etranzact.png" class="mt-3">

                    <h4 class="text-center mt-2">
                      E-Transact Payment Details
                    </h4>
                  </div>
                  <div class="panel panel-body mt-2">
                    <div class="row">
                      <div class="col-md-12">
                        <p>
                          <b>Transaction ID:</b>
                          {{etransactDisplayObject?.transaction_id}}
                        </p>

                        <p class="">
                          <b>Amount:</b>
                          &#x20A6; {{etransactDisplayObject?.amount|number:'1.2-2'}}
                        </p>

                        <p class="">
                          <b>Name:</b>
                          {{etransactDisplayObject?.for}}
                        </p>

                        <p class="">
                          <b>Reference:</b>
                          {{etransactDisplayObject?.ref}}
                        </p>

                        <p class="">
                          <b>Description:</b>
                          {{etransactDisplayObject?.description}}
                        </p>

                        <p>
                          <b>Status:</b>
                          <span [ngStyle]="setStatusColor(etransactDisplayObject?.status)">{{etransactDisplayObject?.status}}</span>
                        </p>


                        <!--<div class="col-8">-->
                        <!--<a class="m-link" target="_blank" [attr.href]="paychoiceTransaction?.url">{{paychoiceTransaction?.url}}</a>-->
                        <!--</div>-->
                      </div>


                      <!--<p>-->
                      <!--<label>Card Type:</label> {{paymentDetails?.authorization?.card_type}}-->
                      <!--</p>-->

                      <!--<p>-->
                      <!--<label>Amount:</label> {{paymentDetails?.amount |number}}-->
                      <!--</p>-->
                    </div>
                    <!--<div>-->
                    <!--<p class="text-center" style="color: green">-->

                    <!--<label>Payment Successful!</label> <i class="fa fa-check-circle-o fa-3x">-->

                    <!--</i>-->
                    <!--</p>-->
                    <!--</div>-->
                  </div>
                  <div class="pull-right mt-3 mb-5">
                    <a class="btn btn-outline-primary m-btn--pill btn-sm" (click)="goBackToOrigin()">
                      <i class="la la-chevron-circle-left"></i>
                      Go Back
                    </a>
                    <!-- <span class="glyphicon glyphicon-chevron-left"></span>Previous Page -->
                  </div>
                </div>

              </div>
            </div>


            <div class="containerX animated slideInDown" *ngIf="transactionFailed">
              <div class="card well" *ngIf="!paymentFeedBack?.loader">
                <div class="row">

                  <div class="col-12">
                    <div class="panel">

                      <div class="panel panel-heading panel-white">
                        <p class="panel-title">
                          <label>Transaction Error</label>

                        </p>
                      </div>
                      <div>
                        <p class="text-center" style="color: red">

                          <label>Your Payment Failed!</label> <i class="fa fa-times fa-3x">

                        </i>
                        </p>
                      </div>
                    </div>
                    <div class="pull-right">
                      <a class="btn btn-info" style="color:white; margin-top:10px !important"
                         routerLink="../">
                        <i class="la la-chevron-circle-left"></i>
                        Go Home</a>
                      <!-- <span class="glyphicon glyphicon-chevron-left"></span>Previous Page -->
                    </div>
                  </div>

                </div>

              </div>

            </div>

            <!--<div class="clearfix"></div>-->

          </div>

          <div class="animated slideInDown" *ngIf="xpresspayDiv">
            <div class="m-portlet row">

              <div class="col-12">
                <div class="panel well">

                  <div class="my-4">
                    <!--<img style="width:90px; height:auto" src="assets/images/logos/etranzact.png" class="mt-3">-->

                    <h4 class="text-center">
                      Xpresspay Payment Details
                    </h4>
                  </div>
                  <div class="panel panel-body mt-2">
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table table-bordered">
                          <tr>
                            <td><b>Transaction ID:</b></td>
                            <td>{{ xpresspayDisplayObject?.transactionID }}</td>
                          </tr>
                          <tr>
                            <td><b>Amount:</b></td>
                            <td>{{ xpresspayDisplayObject?.amountInNaira | currency: '&#8358;' }}</td>
                          </tr>
                          <tr>
                            <td><b>Reference:</b></td>
                            <td>{{ xpresspayDisplayObject?.paymentReference }}</td>
                          </tr>
                          <tr>
                            <td><b>Description:</b></td>
                            <td>{{ xpresspayDisplayObject?.description }}</td>
                          </tr>
                          <tr>
                            <td><b>Status:</b></td>
                            <td>
                              <span [ngStyle]="setStatusColor(xpresspayDisplayObject?.responseCode, 'xpresspay')">{{ xpresspayDisplayObject?.responseMsg }}</span>
                            </td>
                          </tr>
                        </table>
                        <!--<div class="col-8">-->
                        <!--<a class="m-link" target="_blank" [attr.href]="paychoiceTransaction?.url">{{paychoiceTransaction?.url}}</a>-->
                        <!--</div>-->
                      </div>


                      <!--<p>-->
                      <!--<label>Card Type:</label> {{paymentDetails?.authorization?.card_type}}-->
                      <!--</p>-->

                      <!--<p>-->
                      <!--<label>Amount:</label> {{paymentDetails?.amount |number}}-->
                      <!--</p>-->
                    </div>
                    <!--<div>-->
                    <!--<p class="text-center" style="color: green">-->

                    <!--<label>Payment Successful!</label> <i class="fa fa-check-circle-o fa-3x">-->

                    <!--</i>-->
                    <!--</p>-->
                    <!--</div>-->
                  </div>
                  <div class="pull-right mt-3 mb-5">
                    <a class="btn btn-outline-primary m-btn--pill btn-sm" (click)="goBackToOrigin()">
                      <i class="la la-chevron-circle-left"></i>
                      Go Back
                    </a>
                    <!-- <span class="glyphicon glyphicon-chevron-left"></span>Previous Page -->
                  </div>
                </div>

              </div>
            </div>


            <div class="containerX animated slideInDown" *ngIf="transactionFailed">
              <div class="card well" *ngIf="!paymentFeedBack?.loader">
                <div class="row">

                  <div class="col-12">
                    <div class="panel">

                      <div class="panel panel-heading panel-white">
                        <p class="panel-title">
                          <label>Transaction Error</label>

                        </p>
                      </div>
                      <div>
                        <p class="text-center" style="color: red">

                          <label>Your Payment Failed!</label> <i class="fa fa-times fa-3x">

                        </i>
                        </p>
                      </div>
                    </div>
                    <div class="pull-right">
                      <a class="btn btn-info" style="color:white; margin-top:10px !important"
                         routerLink="../">
                        <i class="la la-chevron-circle-left"></i>
                        Go Home</a>
                      <!-- <span class="glyphicon glyphicon-chevron-left"></span>Previous Page -->
                    </div>
                  </div>

                </div>

              </div>

            </div>

            <!--<div class="clearfix"></div>-->

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer class="m-grid__item m-footer ml-5">
  <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
    <div class="m-footer__wrapper">
      <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
        <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
            <span class="m-footer__copyright">
              2018 &copy; College Portal by
              <a href="https://www.upperlink.ng" class="m-link">Upperlink</a>
            </span>
        </div>
      </div>
    </div>
  </div>
</footer>
