.container {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

small {
    font-size: 10px;
}

.containerX {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

#open_head {
    margin: 5% 0;
    /*position: absolute;*/
}

#feedback_container {
    margin: 20%;
}

.card.well {
    margin-top: 12%;
    position: fixed;
}

h3 small {
    padding-left: 10%;
    position: fixed;
    color: white;
}

small .loading {
    color: white;
}

.item {
    width: 100px;
    height: 100px;
    position: absolute;
}

.item-1 {
    background-color: indigo;
    top: 0;
    left: 0;
    z-index: 1;
    animation: item-1_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-2 {
    background-color: violet;
    top: 0;
    right: 0;
    animation: item-2_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-3 {
    background-color: #1B91F7;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: item-3_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-4 {
    background-color: purple;
    bottom: 0;
    left: 0;
    animation: item-4_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

@keyframes item-1_move {
    0%, 100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(0, 100px)
    }
    50% {
        transform: translate(100px, 100px)
    }
    75% {
        transform: translate(100px, 0)
    }
}

@keyframes item-2_move {
    0%, 100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(-100px, 0)
    }
    50% {
        transform: translate(-100px, 100px)
    }
    75% {
        transform: translate(0, 100px)
    }
}

@keyframes item-3_move {
    0%, 100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(0, -100px)
    }
    50% {
        transform: translate(-100px, -100px)
    }
    75% {
        transform: translate(-100px, 0)
    }
}

@keyframes item-4_move {
    0%, 100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(100px, 0)
    }
    50% {
        transform: translate(100px, -100px)
    }
    75% {
        transform: translate(0, -100px)
    }
}

.panel-body {
    background: transparent;
}

.card.well {
    background-color: rgba(245, 245, 245, 0.8)

}

.loading {
    font-size: 30px;
}



.loading.black:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
    color: black;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }

}

.bg-grey {
 background-color: #eee;
}

.my-tooltip {
  position: relative;
  display: inline-block;
}

.my-tooltip .my-tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.my-tooltip .my-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top-color: #555;
}

.my-tooltip:hover .my-tooltiptext {
  visibility: visible;
  opacity: 1;
}
