<div class="m-grid m-grid--hor m-grid--root m-page">
  <div
    class="full-width m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin"
    id="m_login">
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
      <div class="m-stack m-stack--hor m-stack--desktop">
        <div class="m-stack__item m-stack__item--fluid">
          <div class="m-login__wrapper no-padding">
            <div class="" style="width: 200px; height: 200px; margin: 0 auto;">
              <img [src]="logo" *ngIf="logo" class="logo-img">
              <img src="assets/images/logos/Fav.png" *ngIf="!logo" class="logo-img">
            </div>

            <div class="m-login__signin">
              <div class="m-login__head">
                <h3 class="m-login__title">
                  Change Password
                </h3>
              </div>
              <form [formGroup]="loginForm" class="like-m_form--2 m-login__form m-form">
                <div class="form-group m-form__group m-input-icon m-input-icon--right">
                  <input formControlName="old_password" class="form-control m-input" [type]="(showPassword.old) ? 'text' : 'password'"
                         placeholder="Old Password" autocomplete="off">
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                    <span class="cursor_pointer" (click)="showPassword.old = !showPassword.old">
                      <i class="la" [ngClass]="(showPassword.old) ? 'la-eye-slash' : 'la-eye'"></i>
                    </span>
                  </span>
                </div>
                <div class="form-group m-form__group m-input-icon m-input-icon--right">
                  <input formControlName="password" class="form-control m-input" [type]="(showPassword.new_p) ? 'text' : 'password'"
                         placeholder="New Password" autocomplete="off">
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                    <span class="cursor_pointer" (click)="showPassword.new_p = !showPassword.new_p">
                      <i class="la" [ngClass]="(showPassword.new_p) ? 'la-eye-slash' : 'la-eye'"></i>
                    </span>
                  </span>
                </div>
                <div class="form-group m-form__group m-input-icon m-input-icon--right">
                  <input formControlName="password_confirmation" class="form-control m-input"
                         [type]="(showPassword.confirm) ? 'text' : 'password'"
                         placeholder="Confirm Password" autocomplete="off">
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                    <span class="cursor_pointer" (click)="showPassword.confirm = !showPassword.confirm">
                      <i class="la" [ngClass]="(showPassword.confirm) ? 'la-eye-slash' : 'la-eye'"></i>
                    </span>
                  </span>
                </div>
                <div *ngIf="resetRequest" class="animate fadeInDown">
                  <small style="color: green;padding-left: 20px">{{resetResponseMessage}}</small>
                </div>
                <div class="m-login__form-action">
                  <button id="m_login_signin_submit"
                          class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air"
                          (click)="requestPasswordChange()"
                          [disabled]="loginForm.invalid ||feedback.loadingStatus ">
                    Submit <i class="m-loader m-loader--right m-loader--light"
                              *ngIf="feedback.loadingStatus"></i>
                  </button>
                  <button class="btn btn-default m-btn m-btn--pill  m-btn--air" (click)="goBack()">
                    <i class="fa fa-chevron-left"></i> Go Back
                  </button>

                </div>
              </form>
            </div>

            <div class="m-login__forget-password">
              <div class="m-login__head">
                <h3 class="m-login__title">
                  Forgotten Password ?
                </h3>
                <div class="m-login__desc">
                  Enter your email to reset your password:
                </div>
              </div>
              <form class="m-login__form m-form like-m_form--2" action="">
                <div class="form-group m-form__group">
                  <input class="form-control m-input" type="email" placeholder="Email" name="email"
                         id="m_email" autocomplete="off">
                </div>
                <div class="m-login__form-action">
                  <button id="m_login_forget_password_submit"
                          class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                    Request
                  </button>
                  &nbsp;&nbsp;
                  <button id="m_login_forget_password_cancel"
                          class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div
      class="overlay m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content">
      <div class="m-grid__item m-grid__item--middle text-center">
        <h2 class="m-login__welcome" *ngIf="ping?.name">
          Welcome to {{ping?.name}}
        </h2>
        <p class="m-login__msg">

        </p>
      </div>
    </div>
  </div>
</div>
