<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Student Statistics
        </h3>
      </div>
    </div>
  </div>

  <div class="m-portlet__body table-responsive">
    <div class="form-group row">
      <div class="col-4">
        <!--<i class="text-danger">*</i>-->
        <i class="m-loader m-loader--brand" *ngIf="feedBack.session_loader"></i>
        <!--<label style="color:red"><i>Required*</i></label>-->
        <select class="form-control" [(ngModel)]="form_data.session_year" (change)="getSessionSemesters($event.target.value)"><!-- -->
          <option value="">Select Session</option>
          <option *ngFor="let session of sessions" [value]="session?.year">{{session?.name || session?.year}}</option>
        </select>
      </div>
      <div class="col-4">
        <!--<i class="text-danger">*</i>-->
        <i class="m-loader m-loader--brand" *ngIf="feedBack.semester_loader"></i>
        <!--<label style="color:red"><i>Required*</i></label>-->
        <select class="form-control" [(ngModel)]="form_data.semester" (change)="setSemester($event.target.value)"><!-- -->
          <option value="">Select Semester</option>
          <option *ngFor="let semester of semesters" [value]="semester?.semester">{{ semester?.name }}</option>
        </select>
      </div>
      <div class="col-4">
        <button class="btn btn-sm btn-accent m-btn--air m-btn--pill"
                (click)="getStudentStatistics()"
                [disabled]="!form_data.session_year || feedBack?.loader">
          &nbsp;&nbsp;Submit&nbsp;&nbsp;
          <i class="m-loader m-loader--light" *ngIf="feedBack?.loader"></i>
        </button>
      </div>
    </div>
    <div id="print_area" style="padding: 5px">
      <div class="my-4" *ngIf="studentStats?.data.length"><!---->
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="text-uppercase">{{ appSettings?.name }}</h1>
            <h5>ACADEMIC PLANNING UNIT</h5>
            <p>STUDENT STATISTICS FOR <span *ngIf="form_data.semester_name"><b>{{ form_data.semester_name }}</b>,</span> <b>{{ form_data.session_name }}</b></p>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let faculty of studentStats?.data"> <!-- -->
        <div class="my-3 border-0">
          <table class="table table-hover table-striped table-sm m-table--head-bg-brand table-bordered-black relative">
            <thead class="">
            <tr>
              <td rowspan="2" style="vertical-align: middle"><b>{{ faculty?.faculty_name }}</b></td>
              <td colspan="2" class="text-center"><b>100L</b></td>
              <td colspan="2" class="text-center"><b>200L</b></td>
              <td colspan="2" class="text-center"><b>300L</b></td>
              <td colspan="2" class="text-center"><b>400L</b></td>
              <td colspan="2" class="text-center"><b>500L</b></td>
              <td colspan="2" class="text-center"><b>TOTAL</b></td>
            </tr>
            <tr>
              <td class="text-center"><b>M</b></td>
              <td class="text-center"><b>F</b></td>
              <td class="text-center"><b>M</b></td>
              <td class="text-center"><b>F</b></td>
              <td class="text-center"><b>M</b></td>
              <td class="text-center"><b>F</b></td>
              <td class="text-center"><b>M</b></td>
              <td class="text-center"><b>F</b></td>
              <td class="text-center"><b>M</b></td>
              <td class="text-center"><b>F</b></td>
              <td colspan="2" class="text-center"><b>(M + F)</b></td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let course_of_study of faculty?.course_of_studies"><!--  -->
              <td width="40%">{{course_of_study?.name}}</td>
              <!--<td>{{course_of_study?.code}}</td>-->
              <!--<td>{{course_of_study?.total}}</td>-->
              <td class="text-center">{{ course_of_study?.levels[0].male }}</td>
              <td class="text-center">{{ course_of_study?.levels[0].female }}</td>
              <td class="text-center">{{ course_of_study?.levels[1].male }}</td>
              <td class="text-center">{{ course_of_study?.levels[1].female }}</td>
              <td class="text-center">{{ course_of_study?.levels[2].male }}</td>
              <td class="text-center">{{ course_of_study?.levels[2].female }}</td>
              <td class="text-center">{{ course_of_study?.levels[3].male }}</td>
              <td class="text-center">{{ course_of_study?.levels[3].female }}</td>
              <td class="text-center">{{ course_of_study?.levels[4].male }}</td>
              <td class="text-center">{{ course_of_study?.levels[4].female }}</td>
              <td class="text-center">{{ computeTotal(course_of_study?.levels) }}</td>
            </tr>
            <tr>
              <td width="40%"><b>Sub-Total</b></td>
              <td class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'male', 0) }}</b></td>
              <td class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'female', 0) }}</b></td>
              <td class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'male', 1) }}</b></td>
              <td class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'female', 1) }}</b></td>
              <td class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'male', 2) }}</b></td>
              <td class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'female', 2) }}</b></td>
              <td class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'male', 3) }}</b></td>
              <td class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'female', 3) }}</b></td>
              <td class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'male', 4) }}</b></td>
              <td class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'female', 4) }}</b></td>
              <td class="text-center"><b>{{ faculty?.sub_total }}</b></td>
            </tr>
            <tr>
              <td width="40%"><b>Sub-Total (M + F)</b></td>
              <td colspan="2" class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'both', 0) }}</b></td>
              <td colspan="2" class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'both', 1) }}</b></td>
              <td colspan="2" class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'both', 2) }}</b></td>
              <td colspan="2" class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'both', 3) }}</b></td>
              <td colspan="2" class="text-center"><b>{{ computeTotal(faculty?.course_of_studies, 'both', 4) }}</b></td>
              <td class="text-center"><b>{{ faculty?.sub_total }}</b></td>
            </tr>
            <tr *ngIf="feedBack.loader || studentStats?.data.length === 0">
              <td class="text-center" colspan="11">
                <div *ngIf="feedBack.loader">
                  Loading &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i>
                </div>
                <div *ngIf="!feedBack.loader && studentStats?.data.length === 0">
                  No Content Found
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>
    <div class="row mt-lg-5">
      <div class="col-12" *ngIf="studentStats?.data.length > 0">
        <button class="btn btn-accent m-btn--pill m-btn--air float-right" (click)="printNau('print_area', 'STUDENT STATISTICS')">
          &nbsp;&nbsp;Print Report&nbsp;&nbsp;
          <i class="m-loader m-loader--light" *ngIf="feedBack?.print_loader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
