<header class="m-grid__item		m-header" data-minimize="minimize" data-minimize-offset="200"
        data-minimize-mobile-offset="200"
        appunwraptag="">
    <div class="m-header__top">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <!-- begin::Brand -->
                <div class="m-stack__item m-brand">
                    <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                        <div class="m-stack__item m-stack__item--middle m-brand__logo">
                            <a routerLink="/home" *ngIf="visitorIsUpperlink()" class="m-brand__logo-wrapper">
                                <img alt="no logo" src="assets/images/logos/Fav.png" style="width:90px">
                            </a>
                            <a routerLink="/home" *ngIf="!visitorIsUpperlink()">
                                <img alt="no logo" [src]="isAgent?.logo" *ngIf="isAgent?.logo" style="width:90px">
                                <h5 *ngIf="!isAgent?.logo">{{isAgent?.logo}}</h5>
                            </a>
                        </div>
                        <div class="m-stack__item m-stack__item--middle m-brand__tools">
                            <div class="school-name">
                                <div class="m-stack__item">
                                    <h4>{{isAgent?.name ||'Upperlink' | titlecase}}</h4>
                                </div>
                            </div>
                            <a id="m_aside_header_menu_mobile_toggle" href="javascript:;"
                               class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>
                            <!-- end::Responsive Header Menu Toggler-->
                            <!-- begin::Topbar Toggler-->
                            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
                               class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                <i class="flaticon-more"></i>
                            </a>
                            <!--end::Topbar Toggler-->
                        </div>
                    </div>
                </div>
                <!-- end::Brand -->
                <!-- begin::Topbar -->

                <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-topbar__nav-wrapper">
                            <ul class="m-topbar__nav m-nav m-nav--inline">

                                <li
                                        class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                        data-dropdown-toggle="click">
                                    <a class="m-nav__link m-dropdown__toggle">
                    <span class="m-topbar__welcome">
                      Hello,&nbsp;
                    </span>
                                        <span class="m-topbar__username">
                    {{authenticatedUser?.fullname || authenticatedUser?.last_name}}
                    </span>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__header m--align-center"
                                                 style="background: url(./assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                                                <div class="m-card-user m-card-user--skin-dark">
                                                    <div class="m-card-user__pic">
                                                        <img src="./assets/images/users/blank_male.jpg"
                                                             class="m--img-rounded m--marginless" alt=""/>
                                                    </div>
                                                    <div class="m-card-user__details">
                            <span class="m-card-user__name m--font-weight-500">
                                                 {{authenticatedUser?.last_name}} {{authenticatedUser?.first_name}}

                            </span>
                                                        <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                                            {{authenticatedUser?.email}}
                                                        </a>
                                                        <br>
                                                        <a class="m-link" routerLink="/change-password"><small>Change Password</small></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav m-nav--skin-light">
                                                        <li class="m-nav__section m--hide">
                              <span class="m-nav__section-text">
                                Section
                              </span>
                                                        </li>
                                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                                        <li class="m-nav__item">
                                                            <a (click)="logUserOut()"
                                                               class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder"
                                                            >
                                                                Logout
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end::Topbar -->
            </div>
        </div>
    </div>
    <div class="m-header__bottom" [ngStyle]="setHeaderColor()">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <!-- begin::Horizontal Menu -->
                <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                    <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light"
                            id="m_aside_header_menu_mobile_close_btn">
                        <i class="la la-close"></i>
                    </button>
                    <div id="m_header_menu"
                         class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light">
                        <ul class="m-menu__nav  m-menu__nav--submenu-arrow" *ngIf="!isUser()" style="color: white;">

                            <li class="m-menu__item "
                                routerLinkActive="m-menu__item" routerLinkActiveOptions="{ exact: true }"
                                data-menu-submenu-toggle="click" aria-haspopup="false">
                                <a class="m-menu__link m-menu__toggle" routerLink="../../home/dashboard">
                                    <span class="m-menu__item-here" [ngStyle]="setHeaderColor()"></span>
                                    <span class="m-menu__link-text headerWord">
                    Dashboard
                  </span>
                                    <!--<i class="m-menu__hor-arrow la la-angle-down"></i>-->
                                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                                </a>
                            </li>

                            <li class="m-menu__item "
                                routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                                data-menu-submenu-toggle="click" aria-haspopup="true" *ngIf="visitorIsUpperlink()">
                                <a class="m-menu__link m-menu__toggle" routerLink="../../home/dashboard/agents">
                                    <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text headerWord">
                    Agents
                  </span>
                                    <!--<i class="m-menu__hor-arrow la la-angle-down"></i>-->
                                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                                </a>
                            </li>

                            <li class="m-menu__item "
                                routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                                data-menu-submenu-toggle="click" aria-haspopup="true">
                                <a class="m-menu__link m-menu__toggle" routerLink="../../home/dashboard/users">
                                    <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text headerWord">
                    Users
                  </span>
                                    <!--<i class="m-menu__hor-arrow la la-angle-down"></i>-->
                                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                                </a>
                            </li>
                            <li class="m-menu__item "
                                routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                                data-menu-submenu-toggle="click" aria-haspopup="true">
                                <a class="m-menu__link m-menu__toggle" routerLink="../../home/dashboard/schools">
                                    <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text headerWord">
                    Schools
                  </span>
                                    <!--<i class="m-menu__hor-arrow la la-angle-down"></i>-->
                                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                                </a>
                            </li>


                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                                routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
                                data-menu-submenu-toggle="click" aria-haspopup="true"
                                *ngIf="myModuleIsPermitted('_Administration')">
                                <a class="m-menu__link m-menu__toggle">
                                    <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text headerWord">
              Administration
              </span>
                                    <i class="m-menu__hor-arrow la la-angle-down"></i>
                                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                                </a>
                                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                                    <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                    <ul class="m-menu__subnav">
                                        <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                                            aria-haspopup="true"
                                            *ngIf="iAmPermitted('school.administration.authorize.index')">
                                            <a routerLink="/staff/administration/authorizations" class="m-menu__link ">
                                                <i class="m-menu__link-icon flaticon-chat-1"></i>
                                                <span class="m-menu__link-text">
              Authorizations
              </span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                                            aria-haspopup="true"
                                            *ngIf="iAmPermitted('school.administration.group.index')">
                                            <a routerLink="/staff/administration/groups" class="m-menu__link ">
                                                <i class="m-menu__link-icon flaticon-business"></i>
                                                <span class="m-menu__link-text">
              Groups
              </span>
                                                <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                                                <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                                            </a>
                                        </li>
                                        <!--<li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"-->
                                        <!--aria-haspopup="true">-->
                                        <!--<a routerLink="/staff/administration/modules" class="m-menu__link ">-->
                                        <!--<i class="m-menu__link-icon flaticon-chat-1"></i>-->
                                        <!--<span class="m-menu__link-text">-->
                                        <!--Modules-->
                                        <!--</span>-->
                                        <!--&lt;!&ndash;<i class="m-menu__hor-arrow la la-angle-right"></i>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
                                        <!--</a>-->
                                        <!--</li>-->
                                        <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                                            aria-haspopup="true"
                                            *ngIf="iAmPermitted('school.administration.task.index')">
                                            <a routerLink="/staff/administration/tasks" class="m-menu__link ">
                                                <i class="m-menu__link-icon flaticon-chat-1"></i>
                                                <span class="m-menu__link-text">
              Tasks
              </span>
                                                <!--<i class="m-menu__hor-arrow la la-angle-right"></i>-->
                                                <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                                            </a>
                                        </li>


                                        <!--<li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"-->
                                        <!--aria-haspopup="true">-->
                                        <!--<a routerLink="/staff/administration/permissions" class="m-menu__link ">-->
                                        <!--<i class="m-menu__link-icon flaticon-chat-1"></i>-->
                                        <!--<span class="m-menu__link-text">-->
                                        <!--Permissions-->
                                        <!--</span>-->
                                        <!--&lt;!&ndash;<i class="m-menu__hor-arrow la la-angle-right"></i>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
                                        <!--</a>-->
                                        <!--</li>-->

                                    </ul>
                                </div>
                            </li>

                        </ul>

                        <ul class="m-menu__nav  m-menu__nav--submenu-arrow" *ngIf="isUser()">
                            <li class="m-menu__item ">
                                <h3 style="color: white">
                             Dashboard
                                </h3>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- end::Horizontal Menu -->
                <!--begin::Search-->
                <!--end::Search-->
            </div>
        </div>
    </div>
</header>
