
/*error Css*/
/* error */
.error-container {
  width: 100%;
  height: 100%;
  margin-left: 17%;
}
.error-container .error-box {
  width: auto;
  margin: 0 auto;
  padding-top: 30%;

}
.error-container .error-box .error-body {
  width: 100%;
  float: left;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.error-container .error-box .error-body .error-title {
  color: #FFF;
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 20px;
}
.error-container .error-box .error-body .btn-link {
  color: #FFF;
  border: 0px;
}

.error-container .error-box .error-body .error-or:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  top: -10px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.2);
}
.error-container .error-box .error-body .error-or:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  bottom: -10px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.2);
}
.error-container .error-box .error-body .error-subtitle {
  line-height: 20px;
  padding: 5px 0px;
  font-size: 12px;
  color: #FFF;
}
.error-container .error-box .error-footer {
  width: 100%;
  float: left;
  padding: 10px;
  color: #FFF;
}
.error-container .error-box .error-footer a {
  color: #FFF;
}

.error-number {
  font-size: 90px;
  line-height: 90px;
  margin: 20px 0;
}
/* END error */
/*End error*/
