
<div>
  <!-- BEGIN: Subheader -->
  <!--<div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h5 class="m-subheader__title ">
          My Profile
        </h5>
      </div>
    </div>
  </div>-->
  <!-- END: Subheader -->
  <div class="m-content">
    <div class="row">
      <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
        <div >
          <!-- BEGIN: Aside Menu -->
          <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light"
               data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
            <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">

              <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;open"-->
                  <!--routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">-->
                <!--<a (click)="onSelect('Student Transaction')" class="m-menu__link m-menu__toggle">-->
                          <!--<span class="m-menu__link-text">-->
                            <!--Student Transaction-->
                          <!--</span>-->
                <!--</a>-->
              <!--</li>-->

              <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open"
                  *ngIf="permissions['school.report.student.bySession']"
                  routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a (click)="showSession = true" class="m-menu__link m-menu__toggle">
                          <span class="m-menu__link-text">
                            Session Transaction
                          </span>
                </a>
              </li>

              <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open"
                  *ngIf="permissions['school.report.booked.hostels']"
                  routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a routerLink="hostel" class="m-menu__link m-menu__toggle" (click)="showSession = false">
                          <span class="m-menu__link-text">
                            Hostel Report
                          </span>
                </a>
              </li>

              <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open"
                  *ngIf="permissions['school.report.student.byDateRange']"
                  routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a routerLink="date" class="m-menu__link m-menu__toggle" (click)="showSession = false">
                          <span class="m-menu__link-text">
                            Date Transaction
                          </span>
                </a>
              </li>

              <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;open"-->
                  <!--routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">-->
                <!--<a (click)="onSelect('Department Transaction')" class="m-menu__link m-menu__toggle">-->
                          <!--<span class="m-menu__link-text">-->
                            <!--Department Transaction-->
                          <!--</span>-->
                <!--</a>-->
              <!--</li>-->

              <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;open"-->
                  <!--routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">-->
                <!--<a routerLink="all-applicants" class="m-menu__link m-menu__toggle">-->
                          <!--<span class="m-menu__link-text">-->
                            <!--All Applicants-->
                          <!--</span>-->
                <!--</a>-->
              <!--</li>-->

              <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;open"-->
                  <!--routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">-->
                <!--<a routerLink="admission-by-payment" class="m-menu__link m-menu__toggle">-->
                          <!--<span class="m-menu__link-text">-->
                            <!--Applicants By Payment-->
                          <!--</span>-->
                <!--</a>-->
              <!--</li>-->

              <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;open"-->
                  <!--routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">-->
                <!--<a routerLink="admitted-students" class="m-menu__link m-menu__toggle" (click)="showSession = false">-->
                          <!--<span class="m-menu__link-text">-->
                            <!--Admitted Students-->
                          <!--</span>-->
                <!--</a>-->
              <!--</li>-->

              <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open"
                  *ngIf="permissions['school.report.student.byMethod']"
                  routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a routerLink="mode" class="m-menu__link m-menu__toggle" (click)="showSession = false">
                          <span class="m-menu__link-text">
                            Payment Method
                          </span>
                </a>
              </li>

              <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open"
                  *ngIf="permissions['school.course_reg_report']"
                  routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a routerLink="course-reg" class="m-menu__link m-menu__toggle" (click)="showSession = false">
                          <span class="m-menu__link-text">
                            Course Registration
                          </span>
                </a>
              </li>
              <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open"
                  *ngIf="permissions['school.course_reg_report_stat']"
                  routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a routerLink="course-reg-stat" class="m-menu__link m-menu__toggle" (click)="showSession = false">
                          <span class="m-menu__link-text">
                            Course Registration Statistics
                          </span>
                </a>
              </li>
              <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open"
                  *ngIf="permissions['school.report.special_report.create']"
                  routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a routerLink="payment-stats" class="m-menu__link m-menu__toggle" (click)="showSession = false">
                          <span class="m-menu__link-text">
                            Payment Statistics
                          </span>
                </a>
              </li>
              <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open"
                  *ngIf="permissions['school.admission.student_statistics']"
                  routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a routerLink="student-stats" class="m-menu__link m-menu__toggle" (click)="showSession = false">
                          <span class="m-menu__link-text">
                            Student Statistics
                          </span>
                </a>
              </li>
              <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open"
                  *ngIf="permissions['school.result.payment_by_fee_item']"
                  routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a routerLink="fee-item" class="m-menu__link m-menu__toggle" (click)="showSession = false">
                          <span class="m-menu__link-text">
                            By Fee Item
                          </span>
                </a>
              </li>

              <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu" routerLinkActive="m-menu__item&#45;&#45;open"-->
                  <!--routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">-->
                <!--<a (click)="onSelect('Applicants By Programme')" class="m-menu__link m-menu__toggle">-->
                          <!--<span class="m-menu__link-text">-->
                            <!--Applicants By Programme-->
                          <!--</span>-->
                <!--</a>-->
              <!--</li>-->

            </ul>
          </div>
          <!-- END: Aside Menu -->
        </div>
        <!-- END: Left Aside -->

      </div>
      <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
        <app-session-payment *ngIf="showSession"></app-session-payment>
        <router-outlet *ngIf="!showSession"></router-outlet>
      </div>
    </div>
  </div>
</div>
