@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Source+Sans+Pro');

.ack_body{
    border: 2px black solid !important;
     margin-top: 3rem !important;
}

hr{
    background-color: black;
    color: black;
}

img {
    height: 130px;
    width: 130px;
    border-radius: 10px;

}
.ack_pass_photo{
    float: right;
}

.print_btn{
    display: none !important;
}

td{
    border-bottom: 1px solid black;
}

.m_portlet{
    font-size: 14px;
    font-family: 'Poppins', sans-serif !important;
}

/* Iruobe CODE START */

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 31px;
}

.divider {
  min-height: 25px;
}

.divider1 {
  min-height: 12px;
}

.col-5 b {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.col-7 {
  font-size: 19px;
  font-family: 'Raleway', sans-serif;
}

.subject-name {
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 3px;
  padding-left: 3px;
}

.subject-grade {
  font-size: 19px;
  font-family: 'Raleway', sans-serif;
  padding-top: 3px;
  padding-left: 3px;
}

.course-name {
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 3px;
}

.course-grade {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  padding: 3px;
}

.olevel-exam {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  border: 1px dotted grey;
  border-radius: 6px;
  padding: 5px 15px 5px 15px;
}

.exam-row {
  border: 1px dotted grey;
}

table {
  border: 1px dotted grey;
}

.heading {
  line-height: 1.5;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px dotted #999;
}

.head1 {
  font-size: 25px;
}

.head2 {
  fonr-size: 18px;
}

/* Iruobe END */
