.m-portlet {
  -webkit-box-shadow: 0 1px 15px 1px rgba(81, 77, 92, .08);
  -moz-box-shadow: 0 1px 15px 1px rgba(81, 77, 92, .08);
  box-shadow: 0 1px 15px 1px rgba(81, 77, 92, .08);
  background-color: #fff
}

.m-portlet .m-portlet__head {
  border-bottom: 1px solid #ebedf2
}

.m-portlet .m-portlet__head .m-portlet__head-icon {
  color: #b2b1c5
}

.m-portlet .m-portlet__head .m-portlet__head-text {
  color: #575962
}

.m-portlet .m-portlet__head .m-portlet__head-text .m-portlet__head-desc, .m-portlet .m-portlet__head .m-portlet__head-text small {
  color: #afb2c1
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
  color: #afb0c7
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
  color: #716aca
}

.m-portlet .m-portlet__body {
  color: #575962
}

.m-portlet .m-portlet__foot:not(.m-portlet__no-border) {
  border-top: 1px solid #ebedf2
}

.m-portlet .m-portlet__foot:not(.m-portlet__no-border).m-portlet__foot--top {
  border-top: 0;
  border-bottom: 1px solid #ebedf2
}

.m-portlet .m-portlet__foot:not(.m-portlet__no-border).m-portlet__foot-no-border {
  border: 0
}

.m-portlet.m-portlet--bordered {
  border: 1px solid #ebedf2
}

.m-portlet.m-portlet--bordered-semi .m-portlet__head {
  border: 0
}

.m-portlet.ui-sortable-helper {
  border: 1px dashed #ebedf2
}

.text-center {
  text-align: center !important
}

.m--padding-10 {
  padding: 10px !important
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%
}

.col-12, .table {
  max-width: 100%
}

.col-12 {
  flex: 0 0 100%
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent
}

.table td, .table th {
  padding: .35rem;
  vertical-align: top;
  border-top: 1px solid #f4f5f8
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #f4f5f8
}

.table tbody + tbody {
  border-top: 2px solid #f4f5f8
}

.table .table {
  background-color: #fff
}

.table-sm td, .table-sm th {
  padding: .3rem
}

.table-bordered, .table-bordered td, .table-bordered th {
  border: 1px solid #f4f5f8
}

.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f4f5f8
}

.table-hover tbody tr:hover {
  background-color: #f7f8fa
}

.table-primary, .table-primary > td, .table-primary > th {
  background-color: #d0d4f5
}

.table-hover .table-primary:hover, .table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th {
  background-color: #bbc1f1
}

.table-secondary, .table-secondary > td, .table-secondary > th {
  background-color: #f9fafb
}

.table-hover .table-secondary:hover, .table-hover .table-secondary:hover > td, .table-hover .table-secondary:hover > th {
  background-color: #eaedf1
}

.table-success, .table-success > td, .table-success > th {
  background-color: #c6ede5
}

.table-hover .table-success:hover, .table-hover .table-success:hover > td, .table-hover .table-success:hover > th {
  background-color: #b3e7dc
}

.table-info, .table-info > td, .table-info > th {
  background-color: #c7e5fd
}

.table-hover .table-info:hover, .table-hover .table-info:hover > td, .table-hover .table-info:hover > th {
  background-color: #aedafc
}

.table-warning, .table-warning > td, .table-warning > th {
  background-color: #ffebc1
}

.table-hover .table-warning:hover, .table-hover .table-warning:hover > td, .table-hover .table-warning:hover > th {
  background-color: #ffe3a8
}

.table-danger, .table-danger > td, .table-danger > th {
  background-color: #fcced6
}

.table-hover .table-danger:hover, .table-hover .table-danger:hover > td, .table-hover .table-danger:hover > th {
  background-color: #fbb6c2
}

.table-light, .table-light > td, .table-light > th {
  background-color: #fdfdfe
}

.table-hover .table-light:hover, .table-hover .table-light:hover > td, .table-hover .table-light:hover > th {
  background-color: #ececf6
}

.table-dark, .table-dark > td, .table-dark > th {
  background-color: #c6c8ca
}

.table-hover .table-dark:hover, .table-hover .table-dark:hover > td, .table-hover .table-dark:hover > th {
  background-color: #b9bbbe
}

.table-active, .table-active > td, .table-active > th {
  background-color: #5867dd
}

.table-hover .table-active:hover, .table-hover .table-active:hover > td, .table-hover .table-active:hover > th {
  background-color: #4354d9
}

.table .thead-dark th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e
}

.table .thead-light th {
  color: #575962;
  background-color: #ebedf2;
  border-color: #f4f5f8
}

.table-dark {
  color: #fff;
  background-color: #212529
}

.table-dark td, .table-dark th, .table-dark thead th {
  border-color: #32383e
}

.table-dark.table-bordered, .table-responsive > .table-bordered {
  border: 0
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, .05)
}

.table-dark.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, .075)
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
  }

  .table-responsive-sm > .table-bordered {
    border: 0
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
  }

  .table-responsive-md > .table-bordered {
    border: 0
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
  }

  .table-responsive-lg > .table-bordered {
    border: 0
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
  }

  .table-responsive-xl > .table-bordered {
    border: 0
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar
}

.middle {
  vertical-align: middle
}

.m-demo {
  background: #f7f7fa;
  margin-bottom: 20px
}

.m-demo.m-demo--last {
  margin-bottom: 0
}

.m-demo .m-demo__preview {
  background: #fff;
  border: 4px solid #f7f7fa;
  padding: 30px
}

.m-demo .m-demo__preview.m-demo__preview--badge .m-badge, .m-demo .m-demo__preview.m-demo__preview--btn .btn {
  margin-right: 5px;
  margin-bottom: 15px
}

.m-demo .m-demo__tools {
  position: relative
}

.m-demo .m-demo__btn {
  position: absolute;
  z-index: 100;
  top: -4px;
  right: 4px;
  padding: 2px 6px;
  cursor: pointer;
  font-size: .7rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-color: #e3e3ea
}

.m-demo .m-demo__btn:hover {
  background-color: #cbcbd8
}

.m-demo-buttons .btn, .m-demo-dropdowns .m-dropdown {
  margin-right: 5px;
  margin-bottom: 10px
}

.m-list-search.m-list-search--has-result .m-dropdown__body {
  display: block
}

.m-list-search.m-list-search--has-result .m-dropdown__header:after {
  display: block;
  height: 1px;
  content: "";
  position: relative;
  top: 20px
}

.m-list-search .m-dropdown__body {
  display: none
}

.m-list-search .m-list-search__form {
  position: relative;
  display: block;
  padding: 3px 0 0
}

.m-list-search .m-list-search__form .m-list-search__form-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed
}

.m-list-search .m-list-search__form .m-list-search__form-wrapper .m-list-search__form-input-wrapper {
  display: table-cell;
  vertical-align: middle
}

.m-list-search .m-list-search__form .m-list-search__form-wrapper .m-list-search__form-input {
  border: 0;
  background: 0 0;
  outline: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 1rem;
  padding: 0;
  display: block
}

.m-list-search .m-list-search__form .m-list-search__form-wrapper .m-list-search__form-icon-close {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  line-height: 0 !important;
  cursor: pointer;
  font-size: 1.2rem;
  width: 30px;
  padding: 0
}

.m-list-search .m-list-search__form.m-loader:before {
  top: 12px;
  right: 0
}

.m-list-search .m-list-search__results .m-list-search__result-separator {
  display: block;
  margin: 10px 0;
  border-bottom: #ebedf2
}

.m-list-search .m-list-search__results .m-list-search__result-separator.m-list-search__result-separator--fit {
  margin: 10px -20px
}

.m-list-search .m-list-search__results .m-list-search__result-category {
  display: block;
  margin: 30px 0 10px;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase
}

.m-list-search .m-list-search__results .m-list-search__result-category.m-list-search__result-category--first {
  margin-top: 0
}

.m-list-search .m-list-search__results .m-list-search__result-msg {
  display: block;
  padding: 10px 0;
  font-weight: 400;
  font-size: 1.1rem
}

.m-list-search .m-list-search__results .m-list-search__result-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 5px 0;
  outline: 0
}

.m-list-search .m-list-search__results .m-list-search__result-item:hover {
  text-decoration: none
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-pic {
  width: 45px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  margin: 0 auto
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-pic img {
  display: block;
  vertical-align: middle;
  max-width: 35px !important
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-icon {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: left;
  padding: 1px;
  width: 32px;
  font-size: 1.2rem
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-icon:before {
  line-height: 0;
  vertical-align: middle
}

.m-list-search .m-dropdown__header:after {
  background-color: #ebedf2
}

.m-list-search .m-list-search__form .m-list-search__form-input {
  color: #575962
}

.m-list-search .m-list-search__form .m-list-search__form-input::-moz-placeholder {
  color: #6f727d;
  opacity: 1
}

.m-list-search .m-list-search__form .m-list-search__form-input:-ms-input-placeholder {
  color: #6f727d
}

.m-list-search .m-list-search__form .m-list-search__form-input::-webkit-input-placeholder {
  color: #6f727d
}

.m-list-search .m-list-search__form .m-list-search__form-icon-close {
  color: #cfcedb
}

.m-list-search .m-list-search__results .m-list-search__result-message {
  color: #7b7e8a
}

.m-list-search .m-list-search__results .m-list-search__result-category {
  color: #716aca
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-icon {
  color: #cfcedb
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-text {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  font-size: 1rem;
  color: #7b7e8a
}

.m-list-search .m-list-search__results .m-list-search__result-item:hover .m-list-search__result-item-text {
  color: #716aca
}

.m-list-search.m-list-search--skin-dark .m-dropdown__header:after {
  background-color: #a1a4b1
}

.m-list-search.m-list-search--skin-dark .m-list-search__form .m-list-search__form-input {
  color: #fff
}

.m-list-search.m-list-search--skin-dark .m-list-search__form .m-list-search__form-input::-moz-placeholder {
  color: #9093ac;
  opacity: 1
}

.m-list-search.m-list-search--skin-dark .m-list-search__form .m-list-search__form-input:-ms-input-placeholder {
  color: #9093ac
}

.m-list-search.m-list-search--skin-dark .m-list-search__form .m-list-search__form-input::-webkit-input-placeholder {
  color: #9093ac
}

.m-list-search.m-list-search--skin-dark .m-list-search__form .m-list-search__form-icon-close {
  color: #dfdff1
}

.m-list-search.m-list-search--skin-dark .m-list-search__results .m-list-search__result-separator {
  border-bottom: #a1a4b1
}

.m-list-search.m-list-search--skin-dark .m-list-search__results .m-list-search__result-message {
  color: #8284a1
}

.m-list-search.m-list-search--skin-dark .m-list-search__results .m-list-search__result-category {
  color: #716aca
}

.m-list-search.m-list-search--skin-dark .m-list-search__results .m-list-search__result-item .m-list-search__result-item-icon {
  color: #dfdff1
}

.m-list-search.m-list-search--skin-dark .m-list-search__results .m-list-search__result-item .m-list-search__result-item-text {
  color: #8284a1
}

.m-list-search.m-list-search--skin-dark .m-list-search__results .m-list-search__result-item:hover .m-list-search__result-item-text {
  color: #716aca
}

.m-0 {
  margin: 0 !important
}

.mt-0, .my-0 {
  margin-top: 0 !important
}

.mr-0, .mx-0 {
  margin-right: 0 !important
}

.mb-0, .my-0 {
  margin-bottom: 0 !important
}

.ml-0, .mx-0 {
  margin-left: 0 !important
}

.m-1 {
  margin: .25rem !important
}

.mt-1, .my-1 {
  margin-top: .25rem !important
}

.mr-1, .mx-1 {
  margin-right: .25rem !important
}

.mb-1, .my-1 {
  margin-bottom: .25rem !important
}

.ml-1, .mx-1 {
  margin-left: .25rem !important
}

.m-2 {
  margin: .5rem !important
}

.mt-2, .my-2 {
  margin-top: .5rem !important
}

.mr-2, .mx-2 {
  margin-right: .5rem !important
}

.mb-2, .my-2 {
  margin-bottom: .5rem !important
}

.ml-2, .mx-2 {
  margin-left: .5rem !important
}

.m-3 {
  margin: 1rem !important
}

.mt-3, .my-3 {
  margin-top: 1rem !important
}

.mr-3, .mx-3 {
  margin-right: 1rem !important
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important
}

.ml-3, .mx-3 {
  margin-left: 1rem !important
}

.m-4 {
  margin: 1.5rem !important
}

.mt-4, .my-4 {
  margin-top: 1.5rem !important
}

.mr-4, .mx-4 {
  margin-right: 1.5rem !important
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important
}

.ml-4, .mx-4 {
  margin-left: 1.5rem !important
}

.m-5 {
  margin: 3rem !important
}

.mt-5, .my-5 {
  margin-top: 3rem !important
}

.mr-5, .mx-5 {
  margin-right: 3rem !important
}

.mb-5, .my-5 {
  margin-bottom: 3rem !important
}

.ml-5, .mx-5 {
  margin-left: 3rem !important
}

.m-portlet {
  margin-bottom: 2.2rem
}

.m-portlet .m-portlet__head {
  display: table;
  width: 100%;
  padding: 0 2.2rem;
  height: 5.1rem
}

.m-portlet .m-portlet__head .m-portlet__head-caption {
  display: table-cell;
  vertical-align: middle;
  text-align: left
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title {
  display: table;
  table-layout: fixed;
  height: 100%
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon {
  display: table-cell;
  vertical-align: middle;
  line-height: 0;
  padding: 0 13px 0 0
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class*=" la-"], .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class^=la-] {
  font-size: 1.6rem
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class*=" fa-"], .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class^=fa-] {
  font-size: 1.4rem
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class*=" flaticon-"], .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class^=flaticon-] {
  font-size: 1.8rem
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon i {
  vertical-align: middle;
  line-height: 0;
  display: inline-block
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Roboto
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text small {
  display: inline-block;
  padding-left: 5px;
  font-size: 1rem;
  font-weight: 300;
  font-family: Roboto
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text .m-portlet__head-desc {
  margin-top: .4rem;
  display: block;
  font-size: .85rem;
  font-weight: 300;
  font-family: Roboto
}

.m-portlet .m-portlet__head .m-portlet__head-tools {
  text-align: right;
  display: table-cell;
  vertical-align: middle
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav {
  display: table;
  text-align: right;
  float: right;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 5px
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item.m-portlet__nav-item--last {
  padding-right: 0
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link {
  display: inline-block;
  vertical-align: middle
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon {
  padding: 0 2px
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon [class*=" la-"], .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon [class*=" fa-"], .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon [class^=la-], .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon [class^=fa-] {
  font-size: 1.4rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon [class*=" flaticon-"], .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon [class^=flaticon-], .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-lg [class*=" la-"], .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-lg [class^=la-] {
  font-size: 1.8rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-lg [class*=" fa-"], .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-lg [class^=fa-] {
  font-size: 1.6rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-lg [class*=" flaticon-"], .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-lg [class^=flaticon-] {
  font-size: 2rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl [class*=" la-"], .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl [class^=la-] {
  font-size: 2.2rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl [class*=" fa-"], .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl [class^=fa-] {
  font-size: 2rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl [class*=" flaticon-"], .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl [class^=flaticon-] {
  font-size: 2.4rem
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
  vertical-align: middle;
  line-height: 0;
  display: inline-block
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link:hover {
  text-decoration: none
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item:first-child .m-portlet__nav-item {
  padding-right: 0
}

.m-portlet .m-portlet__head .m-portlet__head-tools .nav.nav-pills, .m-portlet .m-portlet__head .m-portlet__head-tools .nav.nav-tabs {
  margin: 0
}

.m-portlet .m-portlet__head .m-portlet__head-tools .nav.nav-pills.m-nav-pills--align-right {
  float: right
}

.m-portlet .m-portlet__head.m-portlet__head--fit {
  position: relative;
  z-index: 1
}

.m-portlet .m-portlet__body {
  padding: 2.2rem
}

.m-portlet .m-portlet__body.m-portlet__body--no-padding {
  padding: 0
}

.m-portlet .m-portlet__body.m-portlet__body--no-top-padding {
  padding-top: 0
}

.m-portlet .m-portlet__body.m-portlet__body--no-left-padding {
  padding-left: 0
}

.m-portlet .m-portlet__body.m-portlet__body--no-right-padding {
  padding-right: 0
}

.m-portlet .m-portlet__foot {
  padding: 1.1rem 2.2rem
}

.m-portlet .m-portlet__foot.m-portlet__foot--fit {
  padding: 0
}

.m-portlet.m-portlet--collapse .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link > i.la-angle-down:before, .m-portlet.m-portlet--collapsed .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link > i.la-angle-down:before {
  content: "\f113"
}

.m-portlet.m-portlet--collapse .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link > i.la-plus:before, .m-portlet.m-portlet--collapsed .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link > i.la-plus:before {
  content: "\f28e"
}

.m-portlet.m-portlet--collapsed > .m-form, .m-portlet.m-portlet--collapsed > .m-portlet__body {
  display: none
}

.m-portlet.m-portlet--fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0
}

.m-portlet.m-portlet--fullscreen > .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item [data-portlet-tool=toggle] > i {
  opacity: .5;
  filter: alpha(opacity=50)
}

.m-portlet.m-portlet--fullscreen > .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link > i.la-expand:before {
  content: "\f1a4"
}

.m-portlet.m-portlet--fullscreen > .m-form, .m-portlet.m-portlet--fullscreen > .m-portlet__body {
  left: 0;
  right: 0;
  top: 5.1rem;
  bottom: 0;
  position: fixed;
  overflow: auto
}

.m-portlet.m-portlet--fullscreen.m-portlet--head-sm > .m-portlet__body {
  top: 4.1rem
}

.m-portlet.m-portlet--fit {
  position: relative
}

.m-portlet.m-portlet--widget-fit .m-portlet__head {
  position: relative;
  z-index: 1
}

.m-portlet.m-portlet--bordered-semi .m-portlet__body {
  padding-top: .5rem
}

.m-portlet.m-portlet--space {
  padding: 0 2.2rem
}

.m-portlet.m-portlet--space .m-portlet__body, .m-portlet.m-portlet--space .m-portlet__foot > .m-form__actions, .m-portlet.m-portlet--space .m-portlet__head {
  padding: 2.2rem 0
}

.m-portlet .m-portlet__padding-x, .m-portlet.m-portlet--tabs .m-portlet__head {
  padding: 0 2.2rem
}

.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools {
  padding: 0
}

.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line {
  position: relative;
  height: 100%;
  margin: 0;
  border-bottom-color: transparent;
  bottom: -1px
}

.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link {
  height: 100%;
  padding: 1.7rem 0 1.5rem
}

.m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line.m-tabs-line--2x {
  bottom: -3px
}

.m-portlet.m-portlet--last {
  margin-bottom: 0
}

.m-portlet.m-portlet--head-sm .m-portlet__head {
  height: 4.1rem
}

.m-portlet.m-portlet--head-sm .m-portlet__head .m-portlet__head-tools {
  padding: 0
}

.m-portlet.m-portlet--head-sm .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link {
  height: 100%;
  padding: 1.2rem 0
}

.m-portlet.m-portlet--head-sm .m-portlet__body, .m-portlet.m-portlet--head-sm .m-portlet__foot {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem
}

.m-portlet.m-portlet--unair {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.m-portlet.m-portlet--rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px
}

.m-portlet.m-portlet--rounded .m-portlet__head {
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px
}

.m-portlet.m-portlet--rounded .m-portlet__body, .m-portlet.m-portlet--rounded .m-portlet__foot {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px
}

.m-portlet.m-portlet--rounded-force {
  overflow: hidden
}

@media (max-width: 768px) {
  .m-portlet.m-portlet--responsive-mobile .m-portlet__head {
    display: block;
    height: auto
  }

  .m-portlet.m-portlet--responsive-mobile .m-portlet__head .m-portlet__head-caption {
    display: block;
    padding-top: .9rem;
    padding-bottom: .9rem
  }

  .m-portlet.m-portlet--responsive-mobile .m-portlet__head .m-portlet__head-tools {
    text-align: left;
    display: block;
    padding-top: .45rem;
    padding-bottom: .9rem
  }
}

@media (max-width: 992px) {
  .m-portlet.m-portlet--responsive-tablet-and-mobile .m-portlet__head {
    display: block;
    height: auto
  }

  .m-portlet.m-portlet--responsive-tablet-and-mobile .m-portlet__head .m-portlet__head-caption {
    display: block;
    padding-top: .9rem;
    padding-bottom: .9rem
  }

  .m-portlet.m-portlet--responsive-tablet-and-mobile .m-portlet__head .m-portlet__head-tools {
    text-align: left;
    display: block;
    padding-top: .45rem;
    padding-bottom: .9rem
  }
}

.m-portlet .m-form.m-form--fit > .m-portlet__body {
  padding-left: 0;
  padding-right: 0
}

.m-portlet.m-portlet--sortable .m-portlet__head {
  cursor: move
}

.m-portlet.m-portlet--sortable-empty {
  visibility: hidden;
  height: 45px;
  min-height: 125px
}

.m-portlet .m-portlet-fit--sides {
  margin-left: -2.2rem;
  margin-right: -2.2rem
}

.m-portlet .m-portlet-fit--bottom {
  margin-bottom: -2.2rem
}

.m-portlet .m-portlet-fit--top {
  margin-top: -7.3rem
}

.m-portlet.m-portlet--bordered-semi .m-portlet-fit--top {
  margin-top: -5.6rem
}

.m-portlet .m-portlet__body-separator {
  height: 0;
  overflow: hidden;
  margin: 30px -2.2rem
}

.m-portlet.m-portlet--creative {
  padding-top: 3.5rem;
  margin-top: 3.5rem
}

.m-portlet.m-portlet--creative.m-portlet--first {
  margin-top: 1.375rem
}

.m-portlet.m-portlet--creative .m-portlet__head {
  height: 2.75rem
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: left
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class*=" la-"], .m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class^=la-] {
  font-size: 1.3rem
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class*=" fa-"], .m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class^=fa-] {
  font-size: 1.2rem
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class*=" flaticon-"], .m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-icon [class^=flaticon-] {
  font-size: 1.4rem
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
  font-size: 1rem;
  font-weight: 400;
  font-family: Poppins
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text .m-portlet__head-desc {
  font-size: .8rem;
  font-weight: 300
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label {
  position: absolute;
  top: -5.25rem;
  left: 0;
  font-size: 1.2rem;
  font-weight: 500;
  display: table;
  padding: 0 1.75rem;
  height: 3.5rem
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label > span {
  vertical-align: middle;
  display: table-cell
}

@media (min-width: 993px) {
  .m-portlet.m-portlet--full-height {
    height: calc(100% - 2.2rem)
  }

  .m-portlet.m-portlet--full-height .m-portlet__body {
    height: calc(100% - 2.2rem - 2.2rem)
  }

  .m-portlet.m-portlet--half-height {
    height: calc(50% - 2.2rem)
  }
}

body.m-portlet--fullscreen {
  overflow: hidden !important
}

body.m-portlet--fullscreen.m-aside-left--fixed .m-aside-left, body.m-portlet--fullscreen.m-header--fixed .m-header {
  display: none
}

@media (max-width: 992px) {
  .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
    font-size: 1.1rem
  }

  .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text .m-portlet__head-desc, .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text small {
    font-size: .85rem
  }
}

@media (max-width: 768px) {
  .m-portlet.m-portlet--tabs .m-portlet__head {
    display: block;
    height: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
  }

  .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-caption {
    display: block;
    float: none
  }

  .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools {
    display: block;
    float: none;
    margin-top: 1rem
  }

  .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line {
    float: none
  }

  .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line > .nav-item.m-tabs__item {
    margin-right: .75rem
  }

  .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line > .nav-item.m-tabs__item > .nav-link.m-tabs__link {
    padding: .5rem 0
  }

  .m-portlet.m-portlet--tabs.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-tools .nav-tabs.m-tabs-line > .nav-item.m-tabs__item > .nav-link.m-tabs__link {
    padding: .5rem 1rem
  }
}

/*.font-60 {
  font-size: 60% !important
}

.font-65 {
  font-size: 65% !important
}*/

.font-70 {
  font-size: 70% !important
}

.font-80 {
  font-size: 80% !important
}

.font-90 {
  font-size: 90% !important
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.page-break {
  page-break-before: always !important;
}

/*@media print {
  div {
    float: none !important;
    position: static !important;
    display: inline !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
  }
}*/
.table-bordered-black, .table-bordered-black td {
  border: 1px solid black!important;
  border-collapse: collapse!important;
}

.headered {
  padding: 10px 5px;
  background-color: #3e2785;
  color: white;
  border-radius: 8px 8px 0 0;
}

.headered h3{
  letter-spacing: 6px;
  font-weight: 700;
  font-size: 3rem;
}

.headered p{
  margin: 0 0;
  font-size: larger;
}
