.row {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Bowen Banner Start */

.head {
  background-color: #3e2785;
  color: white;
  border-radius: 8px 8px 0 0;
  padding: 10px 5px;
  font-weight: bold;
}

.head h3 {
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 3.5rem;
}

.head p {
  font-size: 1.7rem;
}

/* Bowen Banner End */

/* VICE AND REGISTRAR SEC START */

.vice .vice1 {
  font-weight: 500;
  font-size: 1.8rem;
}

.vice .vice2 {
  font-weight: 500;
  font-size: 1.9rem;
}

.vice3 b {
  font-size: 1.5rem;
}

.destination-add {
  font-size: 40px !important;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.registrar .registrar1 {
  font-weight: 500;
  font-size: 1.7rem;
}

.registrar .registrar2 {
  font-weight: bold !important;
  font-size: 2rem !important;
}

.registrar3 {
  font-weight: normal !important;
  font-size: 1.9rem;
}

/* VICE AND REGISTRAR SEC END */
.unilogo {
  margin-left: 2rem;
}

.female {
  float: right !important;
  border-radius: 6px;
  margin-right: -5rem !important;
}


/* Academic  Record */

.academic {
  font-size: 25px !important;
  font-weight: bold;
  position: absolute;
  margin-left: 4rem;
}

.transcript {
  font-size: 25px !important;
  font-weight: bold;
  position: absolute;
}

.details {
  font-size: 19px;
}

.col-5 {
  font-family: 'Tahoma', Verdana, Arial;
}

.col {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Tahoma', Verdana, Arial;
}

.col .ml-2 {
  font-weight: bold;
}

table {
  border-radius: 5px;
}

th {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
}

.tablerow {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.datarows {
  font-size: 16px;
}

.datarows td{
  font-family: 'Tahoma', Verdana, Arial;
}

.type {
  text-transform: uppercase;
}
.study {
  font-weight: bold;
  text-transform: uppercase;
}

.abbr {
  margin-left: 3.3rem !important;
}

.abbr-demo {
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
  margin-top: 3rem !important;
}

small {
  font-size: 15px;
}

.table td, .table th {
  padding: .35rem;
  vertical-align: top;
  border-top: 1px solid #f4f5f8
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #f4f5f8
}

.table tbody + tbody {
  border-top: 2px solid #f4f5f8
}

.table-bordered, .table-bordered td, .table-bordered th {
  border: 1px solid #f4f5f8
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f4f5f8
}

.table .thead-dark th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e
}

.table .thead-light th {
  color: #575962;
  background-color: #ebedf2;
  border-color: #f4f5f8
}
