<div id="semester" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Start New Semester</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="text-danger">*</span>
                Semester Name
              </label>
              <div class="col-8">
                <input class="form-control m-input" formControlName="name" type="text">
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="text-danger">*</span>
                Registration Start Date
              </label>
              <div class="col-8">
                <input class="form-control m-input" formControlName="reg_start_date" type="date">
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="text-danger">*</span>
                Registration End Date
              </label>
              <div class="col-8">
                <input class="form-control m-input" formControlName="reg_end_date" type="date">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
                (click)="(loadMessage === 'Create') ? startNewSemester() : updateSessionSemester()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
          {{loadMessage}} &nbsp;&nbsp;
          <i class="m-loader m-loader--primary" *ngIf="loading.create || loading.update"></i>
        </button>
        <button class="btn btn-danger m-btn--pill m-btn--air btn-sm"data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--End:::Create Course of Study -->
<div class=" ">
  <div class="d-flex align-items-center">
    <div class="mr-auto m--padding-20">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Session: {{currentSession?.programme?.name}}
        {{currentSession?.year}}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item">
          <a routerLink="../" class="m-nav__link">
            <span class="m-nav__link-text">
              Current Sessions
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link">
            <span class="m-nav__link-text">
              {{currentSession?.programme?.name}}
                {{currentSession?.year}}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="mr-auto m--padding-20">
      <div class="row">
        <table class="table table-bordered col-4">
          <tr>
            <td>Start Date</td>
            <td><span *ngIf="currentSession?.date_start">{{currentSession?.date_start | date}}</span>
              <span *ngIf="!currentSession?.date_start" class="text-center">-</span>
            </td>
          </tr>
          <tr>
            <td>End Date</td>
            <td>
              <span *ngIf="currentSession?.date_end">{{currentSession?.date_end | date}}</span>
              <span *ngIf="!currentSession?.date_end">-</span>
            </td>
          </tr>
          <tr>
            <td>Registration Start Date</td>
            <td>
              <span *ngIf="currentSession?.reg_start_date">{{currentSession?.reg_start_date | date}}</span>
              <span *ngIf="!currentSession?.reg_start_date">-</span>
            </td>
          </tr>
          <tr>
            <td>Registration End Date</td>
            <td>
              <span *ngIf="currentSession?.reg_end_date">{{currentSession?.reg_end_date | date}}</span>
              <span *ngIf="!currentSession?.reg_end_date">-</span>
            </td>
          </tr>
          <tr>
            <td>Late Registration Date</td>
            <td>
              <span *ngIf="currentSession?.late_reg_start_date">{{currentSession?.late_reg_start_date | date}}</span>
              <span *ngIf="!currentSession?.late_reg_start_date">-</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div class="m-portlet__body">
    <div class="tab-content">
      <div class="tab-pane active" id="courses_of_study">
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text m--padding-10 text-center text-uppercase">Session
                  Semesters</h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <br>
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.session.start.semester')">
                  <button style="color: white !important;"
                          class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                          (click)="openModal()"
                          [disabled]="!currentSession?.can_create_semester">
                        <span>
                          <i class="la la-plus"></i>
                          <span>
                            Start New Semester
                          </span>
                        </span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="m-portlet__body">
            <table
              class="table m-table m-table--head-bg-brand m-table--head-separator-primary table-hover table-striped table-bordered small-margin">
              <thead class="thead-color">
              <tr>
                <th title="Serial Number">#</th>
                <th title="Code">Name</th>
                <th title="Name">Semester</th>
                <th title="Start Date">Start Date</th>
                <th title="End Date">End Date</th>
                <th title="Course Reg Start">Course Reg Start</th>
                <th title="Course Reg End">Course Reg End</th>
                <th title="Action">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="loading?.semester || currentSession?.session_semesters.length === 0">
                <td colspan="8" class="text-center" *ngIf="loading?.semester">
                  Loading semesters &nbsp;&nbsp; <i class="m-loader m-loader--primary"></i>
                </td>
                <td colspan="8" class="text-center"
                    *ngIf="!loading?.semester && currentSession?.session_semesters.length === 0">No semesters found
                </td>
              </tr>
              <tr *ngFor="let semester of currentSession?.session_semesters; let i = index">
                <td scope="row">{{i + 1}}</td>
                <td>
                  {{semester?.name}}
                  <span class="m-badge m-badge--success m-badge--wide" *ngIf="semester?.is_current">Current</span>
                </td>
                <td>{{semester?.semester}}</td>
                <td>
                  {{ semester.date_start ? (semester?.date_start | date) : 'None Provided'}}
                </td>
                <td>
                  {{ semester.date_end?.toLowerCase() === 'in progress' ? semester?.date_end : (semester?.date_end | date)}}
                </td>
                <td>{{ (semester?.reg_start_date | date) || '-'}}</td>
                <td>{{ (semester?.reg_end_date | date) || '-'}}</td>
                <td>
                  <a class="btn btn-sm btn-info" (click)="editSessionSemester(semester)">
                    <i class="la la-edit"></i> Edit
                  </a>
                </td>
                <!--<td data-field="Type" class="m-datatable__cell">-->
                <!--<a class="dropdown-item"  (click)="editCourseOfStudy(semester)">-->
                <!--<i class="la la-edit"></i>-->
                <!--Edit-->
                <!--</a>-->
                <!--</td>-->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
