<div
  class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
  <!-- BEGIN: Left Aside -->
  <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
    <i class="la la-close"></i>
  </button>
  <div id="m_aside_left" class="m-grid__item m-aside-left ">
    <!-- BEGIN: Aside Menu -->
    <div
      id="m_ver_menu"
      class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
      data-menu-vertical="true"
      data-menu-scrollable="false" data-menu-dropdown-timeout="500">

      <app-aside-nav></app-aside-nav>
    </div>
    <!-- END: Aside Menu -->
  </div>
  <!-- END: Left Aside -->
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- END: Subheader -->
    <div class="m-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Result
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body table-responsive row">
              <div class="col-lg-12">
                <form [formGroup] = "createGroup">
                  <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                    <div class="col-4 row">
                      <label class="col-5 float-right">
                        <span class="styleStar">*</span>Session
                      </label>
                      <select class="col-7 form-control" formControlName="session" (change)="getSessionSemesters($event.target.value)">
                        <option></option>
                        <option *ngFor="let session of sessions" [value]="session?.session?.id">{{session?.session?.name || session?.session?.year}}</option>
                      </select>
                    </div>
                    <div class="col-4 row">
                      <label class="col-5 float-right">
                        <span class="styleStar">*</span>Semester
                      </label>
                      <select class="col-7 form-control" formControlName="semester">
                        <option [value]="semester?.semester" *ngFor="let semester of session_semesters">{{ semester?.name }}</option>
                      </select>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="createGroup.invalid" (click)="getSessionAndSemesterResult()">
                        &nbsp;&nbsp; Submit &nbsp;&nbsp;
                        <i class="m-loader m-loader--light" *ngIf="fetching"></i>
                      </button>
                    </div>
                  </div>
                </form>
                <span class="small-margin"></span>
                <hr>
                <div class="m--margin-top-20" *ngIf="semesterResult.length != 0" id="student_result">
                  <div>
                    <div class="row">
                      <div class="col-12 headered">
                        <h3 class="text-center text-uppercase">
                          {{(appSettings?.name | uppercase)}}
                        </h3>
                        <p class="text-center">{{(appSettings?.settings?.subtitle | uppercase)}}</p>
                      </div>
                    </div>
                    <span class="small-margin"></span>
                    <hr>
                    <div class="row">
                      <div class="col-4">
                        <p class="text-uppercase"><b>Vice Chancellor</b></p>
                        <p>{{appSettings?.settings?.vc_name}}</p>
                        <!--<p>Prof. Ojo</p>-->
                      </div>
                      <div class="col-4 m--img-centered">
                        <img *ngIf="appSettings?.settings.logo" [src]="appSettings?.settings.logo" width="200px" height="200px" alt="University Logo">
                        <img src="assets/images/logos/Fav.png" *ngIf="!appSettings?.settings.logo" style="max-width: 100%; height: auto; margin-top: 100px">
                      </div>
                      <div class="col-1"></div>
                      <div class="col-3">
                        <p class="text-uppercase"><b>Office of the Registrar</b></p>
                        <p>{{appSettings?.settings?.registrar_name}}</p>
                        <!--<p>Dr. Makanjuola</p>-->
                      </div>
                    </div>
                    <span class="small-margin"></span>
                    <hr>
                    <div class="row">
                      <div class="col-12">
                        <h3 class="text-center">STUDENT ACADEMIC RECORD</h3>
                      </div>
                    </div>
                    <span class="small-margin"></span>
                    <span class="small-margin"></span>
                    <div class="row">
                      <div class="col-4">
                        <table class="table">
                          <tr>
                            <td>NAME</td>
                            <td><b>{{studentResultDetails?.first_name}} {{studentResultDetails?.last_name}}</b></td>
                          </tr>
                          <tr>
                            <td>MATRIC NUMBER</td>
                            <td><b>{{studentResultDetails?.matric_no}}</b></td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-4"></div>
                      <div class="col-4">
                        <table class="table">
                          <tr>
                            <td>FACULTY</td>
                            <td><b>{{studentResultDetails?.course_of_study?.department?.faculty?.name}}</b></td>
                          </tr>
                          <tr>
                            <td>DEPARTMENT</td>
                            <td><b>{{studentResultDetails?.course_of_study?.department?.name}}</b></td>
                          </tr>
                          <tr>
                            <td>COURSE OF STUDY</td>
                            <td><b>{{studentResultDetails?.course_of_study?.name}}</b></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <span class="small-margin"></span>
                    <div class="row">
                      <div class="col-4">
                        <table class="table">
                          <tr>
                            <td>Level</td>
                            <td><b>{{studentResultDetails?.level.name}}</b></td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-4">
                        <table class="table" *ngIf="studentResultDetails?.semester">
                          <tr>
                            <td>Session</td>
                            <td *ngIf="studentResultDetails?.session"><b>{{studentResultDetails?.session}}</b></td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-4">
                        <table class="table" *ngIf="studentResultDetails?.semester">
                          <tr>
                            <td>Semester</td>
                            <td><b>{{studentResultDetails?.semester}}</b></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <span class="small-margin"></span>
                    <hr>
                  </div>
                  <table class="table table-bordered table-striped table-hover text-center m-table m-table--head-bg-brand">
                    <thead>
                    <tr>
                      <th>S/N</th>
                      <th>Course Code</th>
                      <th>Course Title</th>
                      <th *ngIf="!createGroup.value?.semester">Semester</th>
                      <th>Course Credit</th>
                      <th>Score</th>
                      <th>Grade</th>
                      <th>Course Point </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let result of semesterResult; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{result?.curriculum_course?.code | uppercase}}</td>
                      <td>{{result?.curriculum_course?.title | uppercase}}</td>
                      <td *ngIf="!createGroup.value?.semester && result?.semester == 1">First Semester</td>
                      <td *ngIf="!createGroup.value?.semester && result?.semester == 2">Second Semester</td>
                      <td>{{result?.cu}}</td>
                      <td>{{result?.score}}</td>
                      <td>{{result?.grade}}</td>
                      <td>{{result?.cp}}</td>
                    </tr>
                    <tr>
                      <td colspan="2"><i>TC</i></td>
                      <td colspan="2"><i>TWGP</i></td>
                      <td colspan="4"><i>GPA</i></td>
                      <!--<td colspan="2"><i>CTC</i></td>
                      <td colspan="2"><i>CTWGP</i></td>
                      <td><i>CGPA</i></td>-->
                    </tr>
                    <tr>
                      <td colspan="2">{{ computeStuff(semesterResult, 'cu') }}</td>
                      <td colspan="2">{{ computeStuff(semesterResult, 'cp') }}</td>
                      <td colspan="4">{{ (computeStuff(semesterResult, 'cp') / computeStuff(semesterResult, 'cu')) | number : '1.1-2'}}</td>
                      <!--<td colspan="2">{{ semester_result?.current_tc }}</td>
                      <td colspan="2">{{ semester_result?.current_twgp }}</td>
                      <td>{{ (semester_result?.current_twgp / semester_result?.current_tc) | number : '1.1-2' }}</td>-->
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="m--margin-top-20" *ngIf="semesterResult.length != 0">
                  <button type="button" id="downloadCsv" class="btn btn-accent m-btn m-btn--pill m-btn--air float-right"
                          (click)="printNau('student_result')">
                    <i class="la la-print"></i>
                    Print
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
