<div id="openApplication" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <div class="m-subheader ">
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <h3 class="m-subheader__title m-subheader__title--separator">
                <div class="container">Applicant Profile:
                </div>
              </h3>
              <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                  <a routerLink="/staff" class="m-nav__link m-nav__link--icon">
                    <i class="m-nav__link-icon la la-home"></i>
                  </a>
                </li>
                <li class="m-nav__separator">
                  -
                </li>
                <li class="m-nav__item">
              <span class="m-nav__link-text">
               Applicant
            </span>
                </li>
                <li class="m-nav__separator">
                  -
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link">
            <span class="m-nav__link-text">
              {{viewedPutmeCandidate?.name}}
            </span>
                  </a>
                </li>
              </ul>
              <div>
                <br><br>
                <span class="interview">Interview Date : </span><span class="interview2">{{viewedPutmeCandidate?.interview_date | date}}</span>
                <br><span class="interview">Interview Time : </span><span class="interview2">{{viewedPutmeCandidate?.interview_time}}</span>
                <br><span class="interview">Interview Vanue : </span><span class="interview2">{{viewedPutmeCandidate?.interview_venue}}</span>
              </div>
            </div>

            <div>
              <div>
                <img src="{{viewedPutmeCandidate?.profile_image}}" class="img img-thumbnail" style="height:210px !important; width:200px !important" >
              </div>
            </div>

          </div>

        </div>
        <div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  {{viewedPutmeCandidate?.name}}
                </h3>
              </div>


            </div>
          </div>
          <div class="m-portlet__body">
            <ul class="nav nav-tabs  m-tabs-line m-tabs-line--primary" role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
                  Basic Putme Candidate Info
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
                  Academic Info
                </a>
              </li>



            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
                <div class="row">
                  <div class="col-6 card">
                    <div class="row" style="padding-top: 10px">
                      <div class="col-5">
                        <label>
                          Name:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.name || 'None Provided'}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Home Tel:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.applicant_profile?.applicant_landtel || 'None
                        Provided'}}
                      </div>
                    </div>
                    <hr>

                    <div class="row">
                      <div class="col-3" *ngIf="viewedPutmeCandidate?.phone">
                        <label>
                          Mobile:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.phone || 'None Provided'}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Email:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.email || 'None Provided'}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Birth Date:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.applicant_profile?.birthdate || 'None Provided'}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Gender:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.gender || 'None Provided'}}
                      </div>
                    </div>
                    <hr>

                    <div class="row">
                      <div class="col-5">
                        <label>
                          Marital Status:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.applicant_profile?.marital_status || 'None Provided'}}
                      </div>
                    </div>

                    <div class="row" style="padding-top: 10px">
                      <div class="col-5">
                        <label>
                          Nationality:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.applicant_profile?.nationality|| 'None Provided'}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          State:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.state_origin || 'None Provided'}}
                      </div>
                    </div>
                    <hr>

                    <div class="row">
                      <div class="col-5">
                        <label>
                          Lga:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.lga || 'None Provided'}}
                      </div>
                    </div>
                    <hr>

                  </div>
                  <div class="col-6 card">

                    <div class="row">
                      <div class="col-5">
                        <label>
                          Contact Address:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.address || 'None Provided'}}
                      </div>
                    </div>
                    <hr>

                    <div class="row">
                      <div class="col-5">
                        <label>
                          Home Address:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.applicant_profile?.applicant_homeaddress || 'None Provided'}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Home Town:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.applicant_profile?.home_town || 'None Provided'}}
                      </div>
                    </div>
                    <hr>

                    <div class="row">
                      <div class="col-5">
                        <label>
                          Next of Kin:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.next_of_kin || 'None Provided'}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Next of Kin Address:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.kin_address || 'None Provided'}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Next of Kin Phone:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.kin_phone || 'None Provided'}}
                      </div>
                    </div>

                  </div>

                </div>


              </div>

              <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
                <div class="row">

                  <div class="col-6 card">
                    <div class="row" style="padding-top: 10px">
                      <div class="col-5">
                        <label>
                          Jamb Reg No:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.reg_no || 'None Provided'}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Total Jamb Score:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.total_ume_score
                        || 'None Provided'}}
                      </div>
                    </div>
                    <hr>

                    <div class="row">
                      <div class="col-5">
                        <label>
                          Total PUTME Score:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.putme_score
                        || 'None Provided'}}
                      </div>
                    </div>
                    <hr>


                    <div class="row">
                      <div class="col-5">
                        <label>
                          First Choice Course:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.first_choice
                        || 'None Provided'}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Second Choice Course:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.second_course
                        || 'None Provided'}}
                      </div>
                    </div>

                  </div>
                  <div class="col-6 card">

                    <div class="row" style="padding-top: 10px">

                      <div class="col-12">
                        <h4> PUTME Results </h4>
                      </div>
                    </div>
                    <div class="row" *ngIf="viewedPutmeCandidate?.subj1">
                      <div class="col-5">
                        <label>
                          {{viewedPutmeCandidate?.subj1}}:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.subj1_score}}
                      </div>
                    </div>
                    <hr>
                    <div class="row" *ngIf="viewedPutmeCandidate?.subj2">
                      <div class="col-5">
                        <label>
                          {{viewedPutmeCandidate?.subj2}}:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.subj2_score}}
                      </div>
                    </div>
                    <hr>
                    <div class="row" *ngIf="viewedPutmeCandidate?.subj3">
                      <div class="col-5">
                        <label>
                          {{viewedPutmeCandidate?.subj3}}:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.subj3_score}}
                      </div>
                    </div>
                    <hr>
                    <div class="row" *ngIf="viewedPutmeCandidate?.subj4">
                      <div class="col-5">
                        <label>
                          {{viewedPutmeCandidate?.subj4}}:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.subj4_score}}
                      </div>
                    </div>
                    <hr>
                  </div>

                </div>
              </div>
              <div class="tab-pane" id="m_tabs_6_4" role="tabpanel">
                <div class="row">
                  <div class="col-6 card">
                    <div class="row" style="padding-top: 10px">
                      <div class="col-5">
                        <label>
                          Type of Exception:
                        </label>
                      </div>
                      <div class="col-7">
                        <select class="form-control m-input--air">
                          <option value="" disabled>
                            Select Exception
                          </option>
                          <option value="Registration" disabled>
                            Registration Exception
                          </option>
                          <option value="" disabled>

                          </option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Putme Candidate Name:
                        </label>
                      </div>
                      <div class="col-7">
                        <input class="form-control" disabled readonly
                               value="{{viewedPutmeCandidate?.name}} {{viewedPutmeCandidate?.name}}">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Session:
                        </label>
                      </div>
                      <div class="col-7">

                      </div>
                    </div>
                    <hr>

                    <div class="row">
                      <div class="col-5">
                        <label>
                          Degree:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.course_of_study?.degree?.name || 'None Provided'}}
                      </div>
                    </div>
                    <hr>

                    <div class="row">
                      <div class="col-3" *ngIf="viewedPutmeCandidate?.telephone_mobile">
                        <label>
                          Faculty:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.course_of_study?.department?.faculty?.name || 'None Provided'}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Department:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.course_of_study?.department?.name || 'None Provided'}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          Course of Study:
                        </label>
                      </div>
                      <div class="col-7">
                        {{viewedPutmeCandidate?.course_of_study?.name || 'None Provided'}}
                      </div>
                    </div>
                    <hr>

                  </div>


                </div>
              </div>
              <div class="tab-pane" id="m_tabs_6_5" role="tabpanel">
                <div class="row">
                  <div class="col-6 card">
                    <div class="row" style="padding-top: 10px">
                      <div class="col-5">
                        <label>
                          Transfer to:
                        </label>
                      </div>
                      <div class="col-7">
                        <select class="form-control m-input--air">
                          <option value="" disabled>
                            Select Destination Course of Study
                          </option>
                          <option value="{{courseOfStudy.id}}"
                                  *ngFor="let courseOfStudy of allCourses">
                            {{courseOfStudy.name}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-5">
                        <label>
                          New Level:
                        </label>
                      </div>
                      <div class="col-7">
                        <select class="form-control m-input--air">
                          <option value="" disabled>
                            Select New Level
                          </option>
                          <option value="{{level.id}}"
                                  *ngFor="let level of allLevels">
                            {{level.name}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-8">

                      </div>
                      <div class="col-4">
                        <button type="submit" class="m-btn m-btn--pill btn btn-success btn-xs">
                          Transfer {{viewedPutmeCandidate?.first_name}}
                        </button>
                      </div>
                    </div>
                    <br>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
    <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th title="Field #1" class="serialnum">
          #
        </th>
        <th title="Field #2">
          Reg No.
        </th>
        <th title="Field #3">
          Name
        </th>
        <th title="Field #3">
          Email
        </th>
        <th title="Field #3">
          Phone
        </th>
        <th title="Field #3">
          First Choice
        </th>
        <th title="Field #4">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feedBack.allResponse; let i = index">
        <td scope="row">{{i + 1}}</td>
        <td><a class="m-link" routerLink="../../admissions/candidate/{{data?.id}}">{{data?.reg_no}}</a></td>
        <td>{{data?.name}}</td>
        <td>{{data?.email}}</td>
        <td>{{data?.phone}}</td>
        <td>{{data?.applicant_profile?.course_of_study_choice[0]['first_choice']['name']}}</td>
        <td>
          <button class="btn btn-info btn-xs" (click)="onView(data)">view</button>
        </td>

      </tr>
      <tr *ngIf="feedBack.loader || feedBack?.allResponse.length === 0">
        <td colspan="8" *ngIf="feedBack.loader">
          <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="8" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>


    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>
</div>
