<!-- Modal -->
<div id="openHostel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Allocation Details</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">

            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> Hostel
              </label>
              <div class="col-8">
                <select class="form-control" (change)="extractId($event)" formControlName="hostel_session_id">
                  <option></option>
                  <option *ngFor="let hostel of feedBack?.availableHostels" [value] = "hostel?.id">{{hostel?.hostel?.hostel_name}}</option>
                </select>
                <div style="color: red" *ngIf="feedBack?.emptyRoomStatus">{{feedBack?.emptyRoom}}</div>
              </div>
            </div>

            <div class="form-group m-form__group row" style="padding-bottom: 1px;" *ngIf="feedBack?.emptyRoomStatus">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> Room
              </label>
              <div class="col-8">
                <select class="form-control" (change)="onbedSpace($event)">
                  <option></option>
                  <option *ngFor="let room of feedBack?.roomspaces" [value] = "room?.id">{{room?.room_name}}</option>
                </select>
                <div style="color: red">{{feedBack?.emptyBedspace}}</div>
              </div>
            </div>

            <div class="form-group m-form__group row" style="padding-bottom: 1px;" *ngIf="feedBack?.emptyBedspaceStatus">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> Bed Space
              </label>
              <div class="col-8">
                <select class="form-control" formControlName="hostel_bed_space_id">
                  <option></option>
                  <option *ngFor="let bedspace of feedBack?.bedspaces" [value] = "bedspace?.id">{{bedspace?.label}}</option>
                </select>
              </div>
            </div>

            <div class="form-group m-form__group row" style="padding-bottom: 1px;" *ngIf="feedBack?.emptyBedspaceStatus">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> Payment Method
              </label>
              <div class="col-8">
                <select class="form-control" formControlName="payment_method">
                  <option></option>
                  <option>Cash</option>
                  <option>remita</option>
                </select>
              </div>
            </div>

          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span>  Student
              </label>
              <div class="col-8">
                <select class="form-control" formControlName="student_id">
                  <option></option>
                  <option *ngFor="let student of feedBack.allStudents" [value]="student?.id">
                    <table class="table-hover">
                       <tr>
                        <td>{{student?.first_name}}</td>
                        <td>{{student?.last_name}}</td>
                       </tr>
                    </table>
                  </option>
                </select>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="createFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" data-dismiss="modal"
                ><!--[disabled]="createForm.invalid || feedBack?.submitStatus"  *ngIf="feedBack?.bedspaces.length > 0 && !feedBack.showUpdateButton"-->
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack?.submitStatus"></i>
        </button>
        <button type="button" (click)="updateFormModal()" *ngIf="feedBack?.bedspaces.length > 0 && feedBack.showUpdateButton"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" data-dismiss="modal"
                [disabled]="createForm.invalid || feedBack?.submitStatus">
          Update <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack?.submitStatus"></i>
        </button>
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="hostelAllocation" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reservation Details</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <div class="m-portlet__body" *ngIf="feedBack?.viewDetails">
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Allocation Amount
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.allocation_amount}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Payment Method
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.payment_method}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Transaction Id
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.transaction_id}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Bed Space
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.bed_space?.label}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Hostel Name
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.hostel_session?.hostel?.hostel_name}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Hostel Gender
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.hostel_session?.hostel?.hostel_gender}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Status
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.status_text}}
            </label>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">Student Details</a>
                </h5>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                  <label class="col-4 col-form-label">
                    Student Name
                  </label>
                  <label class="col-8 col-form-label">
                    {{feedBack?.viewDetails?.student?.first_name}} {{feedBack?.viewDetails?.student?.last_name}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{feedBack?.moduleName}}

        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="openModel()">
													<span>
														<i class="la la-plus"></i>
														<span>
															Hostel Allocation
														</span>
													</span>
          </a>
        </li>
       </ul>
    </div>

  </div>
  <div style="float: right; margin: 10px; margin-right: 4%">
    <!--<button class="btn btn-success btn-xm"  (click)="openModal()">-->
    <!--<i class="fa fa-plus"></i>-->
    <!--Create-->
    <!--</button>-->
  </div>
  <!--Current session-->
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
    <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th title="Field #1" class="serialnum">#</th>
        <th title="Field #2">Matric No</th>
        <th title="Field #2">Amount</th>
        <th title="Field #2">Payment Method</th>
        <th title="Field #2">Status</th>
        <th title="Field #2">Open Date</th>
        <th title="Field #2">Transaction ID</th>
        <th title="Field #3">Created Date</th>
        <th title="Field #4">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="8" *ngIf="feedBack.loader">
          <div  class="text-center">Loading {{feedBack?.moduleName}} &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i></div>
        </td>
        <td colspan="8" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      <tr *ngFor="let data of feedBack?.allResponse; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.student?.matric_no}}</td>
        <td>{{data?.allocation_amount | currency : '₦'}}</td>
        <td>{{data?.payment_method}}</td>
        <td>{{data?.status_text}}</td>
        <td>{{data?.hostel_session?.open_date}}</td>
        <td>{{data?.transaction_id}}</td>
        <td>{{data?.created_at | date}}</td>
        <td data-field="Type" class="m-datatable__cell">
          <div class="dropdown ">
            <a href="#"
               class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
               data-toggle="dropdown">
              <i class="la la-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item"  (click)="viewAllocation(data)">
                <i class="la la-eye"></i> View Allocation</a>
              <a class="dropdown-item"  (click)="onEdit(data)">
                <i class="la la-edit"></i> Edit Allocation</a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>

</div>

