<!-- Modal -->
<div id="openModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{feedBack?.formType}} {{feedBack?.moduleName}}</h4>
            </div>
            <div class="modal-body">
                <!--begin::Form-->
                <!--end::Form-->
                <form [formGroup] = "createForm" class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                            <label for="example-text-input" class="col-4 col-form-label">
                              <span class="styleStar">*</span> Name
                            </label>
                            <div class="col-8">
                                <input class="form-control m-input" formControlName="name" type="text" value="Artisanal kale" id="example-text-input">
                                <div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('name').invalid && createForm.get('name').touched">
                                    <strong>
                                        Name is Required
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                            <label class="col-4 col-form-label">
                              <span class="styleStar">*</span> Programme
                            </label>
                            <div class="col-lg-8 col-md-8 col-sm-12">

                                <select class="form-control" formControlName = "programme_id" style="width: 100%">
                                    <option></option>
                                    <option *ngFor="let type of feedBack?.programmeType " [value] = "type?.id">
                                        {{type?.name}}
                                    </option>
                                </select>
                                <div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('programme_id').invalid && createForm.get('programme_id').touched">
                                    <strong>
                                        Programme is Required
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" *ngIf="!feedBack.showUpdateButton" (click)="createFormModal()" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" data-dismiss="modal" [disabled] ="feedBack.submitStatus || createForm.invalid">
                    Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
                </button>
                <button type="button" *ngIf="feedBack.showUpdateButton" (click)="updateFormModal()" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" data-dismiss="modal" [disabled] ="feedBack.submitStatus || createForm.invalid">
                    Update <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
                </button>
                <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="viewModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{feedBack?.moduleName}} Details</h4>
            </div>
            <div class="modal-body">
                    <div class="m-portlet__body" *ngIf="feedBack?.viewDetails">
                        <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
                            <div for="example-text-input" class="col-5 col-form-label text-right">
                                Name:
                            </div>
                            <div for="example-text-input" class="col-7 col-form-label text-left">
                                {{feedBack?.viewDetails.name}}
                            </div>
                        </div>
                        <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
                            <div for="example-text-input" class="col-5 col-form-label text-right">
                                Programme:
                            </div>
                            <div for="example-text-input" class="col-7 col-form-label text-left">
                                {{feedBack?.viewDetails?.programme?.name}}
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{feedBack?.moduleName}}
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.degree.create')">
                        <a style="color: white !important;"
                           class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                           (click)="openModal()">
													<span>
														<i class="la la-plus"></i>
														<span>
															Degree
														</span>
													</span>
                        </a>
                    </li>
                    <!-- <li class="m-portlet__nav-item">
                        <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                             data-dropdown-toggle="hover" aria-expanded="true">
                            <a
                                    class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                <i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>
                                <i class="la la-upload la-2x"></i>
                            </a>
                            <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
                                      style="left: auto; right: 21.5px;"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <ul class="m-nav">
                                                <li class="m-nav__section m-nav__section--first">
																			<span class="m-nav__section-text">
																				Bulk File
																			</span>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a class="m-nav__link"
                                                       >
                                                        <i class="m-nav__link-icon la la-download"></i>
                                                        <span class="m-nav__link-text">
																					Download Template
																				</span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">-->
                                                <!--<a href="" class="m-nav__link">-->
                                                <!--<i class="m-nav__link-icon la la-upload"></i>-->
                                                <!--<span class="m-nav__link-text">-->
                                                <!--Bulk Upload-->
                                                <!--</span>-->
                                                <!--</a>-->
                                                <!--</li>
                                                <li class="m-nav__item">
                                                    <a href="" class="m-nav__link">
                                                        <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                                        <span class="m-nav__link-text">
																					Upload File
																				</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li> -->

                </ul>
            </div>

        </div>
        <!--<div style="float: right; margin: 10px; margin-right: 4%">-->
            <!--<button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"  (click)="openModal()">-->
                <!--<i class="fa fa-plus"></i>-->
                <!--Create-->
            <!--</button>-->
        <!--</div>-->
        <div class="m-portlet__body table-responsive">
            <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand">
                <thead class="thead-color">
                <tr>
                    <th class="serialnum">
                        #
                    </th>
                    <th>Name</th>
                    <th>Programme</th>
                    <th>Created Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of feedBack?.allResponse; let i = index">
                    <td scope="row">{{i+1}}</td>
                    <td>{{data?.name}}</td>
                    <td>{{data?.programme?.name}}</td>
                    <td>{{data?.created_at | date}}</td>
                    <td data-field="Type" class="m-datatable__cell">
                        <div class="dropdown ">
                            <a href="#"
                               class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                               data-toggle="dropdown">
                                <i class="la la-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" *ngIf="iAmPermitted('school.degree.update')">
                                <a class="dropdown-item"  (click)="onEdit(data)">
                                    <i class="la la-edit"></i> Edit Degree
                                </a>
                                <!-- <a class="dropdown-item" (click)="onView(data)">
                                    <i class="la la-eye"></i> View Degree
                                </a> -->
                            </div>
                        </div>
                    </td>

                </tr>
                <tr *ngIf="feedBack.loader || feedBack?.allResponse.length === 0">
                    <td colspan="5" *ngIf="feedBack.loader">
                        <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
                    </td>
                    <td colspan="5" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
                        <div  class="text-center">No Content Found</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
            <!--end: Datatable -->
        </div>
    </div>

