<div id="hostelReservation" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reservation Details</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <div class="m-portlet__body" *ngIf="feedBack?.viewDetails">
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Name
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.name}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Reg. No
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.reg_no}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Age
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.age}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Phone
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.phone}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Email
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.email}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Lga
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.lga}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              State
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.state_origin}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Course Abbr
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.cors_abbr}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Course Id
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.cors_id}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Faculty Abbr
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.fac_abbr}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Address
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.address}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Next of Kin
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.next_of_kin}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Kin Phone
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.kin_phone}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Kin Address
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.kin_address}}
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
  </div>
  <div style="float: right; margin: 10px; margin-right: 4%">
    <!--<button class="btn btn-success btn-xm"  (click)="openModal()">-->
    <!--<i class="fa fa-plus"></i>-->
    <!--Create-->
    <!--</button>-->
  </div>
  <!--Current session-->
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
    <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th title="Field #1" class="serialnum">
          #
        </th>
        <th title="Field #2">
          Name
        </th>
        <th title="Field #2">
          Reg No.
        </th>
        <th title="Field #2">
          Gender
        </th>
        <th title="Field #2">
          Age
        </th>
        <th title="Field #2">
          Phone
        </th>
        <th title="Field #2">
          Lga
        </th>
        <th title="Field #3">
          State
        </th>
        <th title="Field #4">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feedBack?.allResponse; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.name}}</td>
        <td>{{data?.reg_no}}</td>
        <td>{{data?.gender}}</td>
        <td>{{data?.age}}</td>
        <td>{{data?.phone}}</td>
        <td>{{data?.lga}}</td>
        <td>{{data?.state_origin}}</td>
        <td data-field="Type" class="m-datatable__cell">
          <div class="dropdown ">
            <a href="#"
               class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
               data-toggle="dropdown">
              <i class="la la-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item"  (click)="view(data)">
                <i class="la la-edit"></i> View Applicant Details</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="9" *ngIf="feedBack.loader">
          <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="9" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>

</div>

