<!-- Modal -->
<div id="openModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.formType}} {{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Title
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="title" type="text"
                       id="example-text-input">
                <small class="text-danger"
                     *ngIf="createForm.get('title').invalid && createForm.get('title').touched">
                    Title is Required
                </small>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Code
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="code" type="text">
                <div class="text-danger" role="alert"
                     *ngIf="createForm.get('code').invalid && createForm.get('code').touched">
                    Code is Required
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Unit
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="unit" type="number">
                <div class="text-danger" role="alert"
                     *ngIf="createForm.get('unit').invalid && createForm.get('unit').touched">
                    Unit is Required
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Semester
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName="semester" style="width: 100%">
                  <option></option>
                  <option value=1>First</option>
                  <option value=3>Second</option>
                  <option value=3>Third</option>
                </select>
                <div class="text-danger" role="alert"
                     *ngIf="createForm.get('level_id').invalid && createForm.get('level_id').touched">
                    Semester is Required
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Programme
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName="programme_id" style="width: 100%"
                        (change)="extractProgrammeId($event)">
                  <option></option>
                  <option *ngFor="let type of feedBack?.programmeList " [value]="type?.id">
                    {{type?.name}}
                  </option>
                </select>
                <div class="text-danger" role="alert"
                     *ngIf="createForm.get('programme_id').invalid && createForm.get('programme_id').touched">
                    Programme is Required
                </div>
              </div>
            </div>
            <div class="text-center" *ngIf="feedBack.loadLevel">loading level(s) <i
              class="m-loader m-loader--right m-loader--brand"></i></div>
            <div class="text-center" *ngIf="createForm.get('programme_id').touched && feedBack?.levelList.length === 0">
              No level found
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                 *ngIf="feedBack?.levelList.length !== 0 ">
              <label class="col-3 col-form-label">
                Level
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName="level_id" style="width: 100%">
                  <option></option>
                  <option *ngFor="let type of feedBack?.levelList " [value]="type?.id">
                    {{type?.name}}
                  </option>
                </select>
                <small class="text-danger" role="alert"
                     *ngIf="createForm.get('level_id').invalid && createForm.get('level_id').touched">
                    Level is Required
                </small>
              </div>
            </div>

            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                Faculty
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName="faculty_id" style="width: 100%"
                        (change)="extractId($event)">
                  <option></option>
                  <option *ngFor="let type of feedBack?.facultyList " [value]="type?.id">
                    {{type?.name}}
                  </option>
                </select>
                <small class="text-danger"
                     *ngIf="createForm.get('faculty_id').invalid && createForm.get('faculty_id').touched">
                    Faculty is Required
                </small>
              </div>
            </div>

            <div class="text-center" *ngIf="feedBack.loadDepartment">Loading Department(s)<i
              class="m-loader m-loader--right m-loader--brand"></i></div>
            <div class="text-center" *ngIf="feedBack.checkEmptyDepartment && feedBack?.departmentList.length === 0">No
              Department(s) found
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                 *ngIf="feedBack?.departmentList.length !== 0">
              <label class="col-3 col-form-label">
                Department
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName="department_id" style="width: 100%">
                  <option></option>
                  <option *ngFor="let type of feedBack?.departmentList " [value]="type?.id">
                    {{type?.name}}
                  </option>
                </select>
                <small class="text-danger" role="alert"
                     *ngIf="createForm.get('department_id').invalid && createForm.get('department_id').touched">
                  <strong>
                    Department is Required
                  </strong>
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="!feedBack.showUpdateButton" (click)="createFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="feedBack.submitStatus || createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" *ngIf="feedBack.showUpdateButton" (click)="updateFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="feedBack.submitStatus || createForm.invalid">
          Update <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>

<div id="course_substitution_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{loader?.sub_title}} Course Substitution</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="courseSubstitutionForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Course Code
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="course_code" type="text">
                <small class="text-danger"
                       *ngIf="courseSubstitutionForm.get('course_code').invalid && courseSubstitutionForm.get('course_code').touched">
                  Course Code is Required
                </small>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Substitute Course Code
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="substitute_code" type="text">
                <div class="text-danger" role="alert"
                     *ngIf="courseSubstitutionForm.get('substitute_code').invalid && courseSubstitutionForm.get('substitute_code').touched">
                  Substitute Course Code is Required
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Session
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <select class="form-control" formControlName="session_id" style="width: 100%">
                  <option></option>
                  <option [value]="session?.id" *ngFor="let session of feedBack?.sessionList">{{ session?.name || session?.year }}</option>
                </select>
                <small class="text-danger"
                     *ngIf="courseSubstitutionForm.get('session_id').invalid && courseSubstitutionForm.get('session_id').touched">
                  Semester is Required
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="loader.sub_title === 'Create' ? createCourseSubstitution() : updateCourseSubstitution()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="loader.submitting_sub || courseSubstitutionForm.invalid">
          Submit <i class="m-loader m-loader--brand" *ngIf="loader.submitting_sub"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.moduleName}} Details</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body" *ngIf="courseObject">
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 col-form-label text-right">
                Title:
              </div>
              <div class="col-6 col-form-label text-left">
                {{courseObject?.title}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 col-form-label text-right">
                Code:
              </div>
              <div class="col-6 col-form-label text-left">
                {{courseObject?.code}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 col-form-label text-right">
                Unit:
              </div>
              <div class="col-6 col-form-label text-left">
                {{courseObject?.unit}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 col-form-label text-right">
                Department:
              </div>
              <div class="col-6 col-form-label text-left">
                {{courseObject?.department?.name}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 col-form-label text-right">
                Level:
              </div>
              <div class="col-6 col-form-label text-left">
                {{courseObject?.level?.name}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div class="col-6 col-form-label text-right">
                Semester
              </div>
              <div class="col-6 col-form-label text-left">
                {{courseObject?.semester}}
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>


<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-tools">
      <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--left m-tabs-line--primary" role="tablist">
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link active"
             data-toggle="tab"
             href="#course" role="tab">
            <i class="flaticon-share m--hide"></i>
            Course
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link" data-toggle="tab"
             href="#course_substitution" role="tab">
            Course Substitution
          </a>
        </li>
      </ul>
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.course-management.course.create')">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--air btn-sm"
             (click)="openModal('create')">
				<span>
					<i class="la la-plus"></i>
					<span>
						Course
					</span>
				</span>
          </a>
        </li>
        <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.course-management.course.create')">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--air btn-sm"
             (click)="substitutionModal('show')">
				<span>
					<i class="la la-plus"></i>
					<span>
						Course Substitution
					</span>
				</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--<div style="float: right; margin: 10px; margin-right: 4%">-->
  <!--<button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"  (click)="openModal()">-->
  <!--<i class="fa fa-plus"></i>-->
  <!--Create-->
  <!--</button>-->
  <!--</div>-->
  <div class="tab-content">
    <div class="tab-pane active" id="course">
      <div class="m-portlet__body">
        <div *ngIf="courses?.data.length > 0" class="row my-md-2">
          <div class="col-6">
            <select class="form-control form-control-sm mb-1 col-3" (change)="changePerPage($event.target.value)">
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="col-6">
            <input type="text" (keyup)="search_model.next($event.target.value)" class="form-control form-control-sm col-6 float-right" placeholder="Search">
          </div>
        </div>
        <div class="table-responsive">
          <!--end: Ss"></ Form -->      <!--begin: Datatable -->
          <table id="myTable"
                 class="table table-hover table-striped table-sm m-table--head-bg-brand relative">
            <div *ngIf="feedBack.loader" class="table-loader">
              <div class="content">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
              </div>
            </div>
            <thead class="thead-color">
            <tr>
              <th class="serialnum">#</th>
              <th>Name</th>
              <th>Code</th>
              <th>Unit</th>
              <th>Department</th>
              <th>Level</th>
              <th>Created Date</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="feedBack.loader || courses?.data.length === 0">
              <td colspan="8" *ngIf="feedBack.loader">
                <div class="text-center">Loading {{feedBack?.moduleName}} &nbsp;&nbsp; <i
                  class="m-loader m-loader--brand"></i></div>
              </td>
              <td colspan="8" *ngIf="!feedBack.loader && courses?.data.length === 0">
                <div class="text-center">No Content Found</div>
              </td>
            </tr>
            <tr *ngFor="let data of courses?.data; let i = index">
              <td scope="row">{{i+1}}</td>
              <td><a class="m-link m-link--focus m-login__account-link" [routerLink]="['/staff/config/course', data?.id]">{{data?.title}}</a>
              </td>
              <td>{{data?.code}}</td>
              <td>{{data?.unit}}</td>
              <td>{{data?.department?.name}}</td>
              <td>{{data?.level?.name}}</td>
              <td>{{data?.created_at | date}}</td>
              <td data-field="Type" class="m-datatable__cell">
                <div class="dropdown ">
                  <a href="#"
                     class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                     data-toggle="dropdown">
                    <i class="la la-ellipsis-h"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" (click)="onEdit(data, 'school.course-management.course.update')">
                      <i class="la la-edit"></i> Edit Course
                    </a>
                    <a class="dropdown-item" (click)="onView(data)">
                      <i class="la la-eye"></i> View Course
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="courses?.data.length > 0" class="row mx-md-1">
            <div class="col-6">
              <div class="float-left">
                <span class="align-middle">Showing {{ courses?.from }} to {{ courses?.to }} of {{ courses?.total }} entries</span>
              </div>
            </div>
            <div class="col-6">
              <div class="float-right">
                <button class="btn btn-sm btn-outline-brand" (click)="navigate('first')">First</button>
                <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only pr-1" (click)="navigate('prev')" [disabled]="courses?.prev_page_url === null">
                  <i class="la la-chevron-left"></i>
                </button>
                <div class="btn-group" role="group" aria-label="First group">
                  <button  class="btn btn-sm btn-outline-brand" [ngClass]=" (page === courses?.current_page) ? 'active' : ''" *ngFor="let page of paginator.pages" (click)="navigate(page)">{{ page }}</button>
                </div>
                <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only" (click)="navigate('next')" [disabled]="courses?.next_page_url === null">
                  <i class="la la-chevron-right"></i>
                </button>
                <button class="btn btn-sm btn-outline-brand" (click)="navigate('last')">Last</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="course_substitution">
      <div class="m-portlet__body">
        <div *ngIf="courseSubstitutions?.data.length > 0" class="row my-md-2">
          <div class="col-6">
            <select class="form-control form-control-sm mb-1 col-3" (change)="changePerPage($event.target.value)">
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="col-6">
            <input type="text" (keyup)="search_model.next($event.target.value)" class="form-control form-control-sm col-6 float-right" placeholder="Search">
          </div>
        </div>
        <div class="table-responsive">
          <!--end: Ss"></ Form -->      <!--begin: Datatable -->
          <table class="table table-hover table-striped table-sm m-table--head-bg-brand relative">
            <div *ngIf="feedBack.loader" class="table-loader">
              <div class="content">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
              </div>
            </div>
            <thead class="thead-color">
            <tr>
              <th class="serialnum">#</th>
              <th>Course Code</th>
              <th>Substitute</th>
              <th>Session</th>
              <th>Created Date</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="feedBack.loader || courseSubstitutions?.data.length === 0">
              <td colspan="8" *ngIf="feedBack.loader">
                <div class="text-center">Loading {{feedBack?.moduleName}} &nbsp;&nbsp; <i
                  class="m-loader m-loader--brand"></i></div>
              </td>
              <td colspan="8" *ngIf="!feedBack.loader && courseSubstitutions?.data.length === 0">
                <div class="text-center">No Content Found</div>
              </td>
            </tr>
            <tr *ngFor="let data of courseSubstitutions?.data; let i = index">
              <td scope="row">{{i+1}}</td>
              <td>{{data?.course_code}}</td>
              <td>{{data?.substitute_code}}</td>
              <td>{{data?.session?.name}}</td>
              <td>{{data?.created_at | date}}</td>
              <td data-field="Type" class="m-datatable__cell">
                <div class="dropdown ">
                  <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                     data-toggle="dropdown">
                    <i class="la la-ellipsis-h" *ngIf="!data?.deleting"></i>
                    <i class="m-loader m-loader--primary" *ngIf="data?.deleting"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" (click)="substitutionModal('show', data)">
                      <i class="la la-edit"></i> Edit
                    </a>
                    <a class="dropdown-item" (click)="deleteCourseSubstitution(data, i)">
                      <i class="la la-trash"></i> Delete
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="courseSubstitutions?.data.length > 0" class="row mx-md-1">
            <div class="col-6">
              <div class="float-left">
                <span class="align-middle">Showing {{ courseSubstitutions?.from }} to {{ courseSubstitutions?.to }} of {{ courseSubstitutions?.total }} entries</span>
              </div>
            </div>
            <div class="col-6">
              <div class="float-right">
                <button class="btn btn-sm btn-outline-brand" (click)="navigate('first')">First</button>
                <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only pr-1" (click)="navigate('prev')" [disabled]="courseSubstitutions?.prev_page_url === null">
                  <i class="la la-chevron-left"></i>
                </button>
                <div class="btn-group" role="group" aria-label="First group">
                  <button  class="btn btn-sm btn-outline-brand" [ngClass]=" (page === courseSubstitutions?.current_page) ? 'active' : ''" *ngFor="let page of paginator.pages" (click)="navigate(page)">{{ page }}</button>
                </div>
                <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only" (click)="navigate('next')" [disabled]="courseSubstitutions?.next_page_url === null">
                  <i class="la la-chevron-right"></i>
                </button>
                <button class="btn btn-sm btn-outline-brand" (click)="navigate('last')">Last</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
