<div id="createApplications" class="modal fade" role="dialog">
  <form [formGroup]="createApplicationsForm" (ngSubmit)="createApplications()">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Create Available Applications</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','createApplications')">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="course">Name:</label>
                <input class="form-control" id="domain" formControlName="name" placeholder="Name" type="text">
              </div>
              <div class="col-md-6">
                <label for="course">Year:</label>
                <select class="form-control" formControlName="year" id="faculty">
                  <option value="" disabled>Select Year</option>
                  <option *ngFor="let year of yearsArray; let ind=index" value="{{year}}">{{year}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="country">Mode of Entry:</label>
                <select class="form-control" formControlName="mode_of_entry" id="country">
                  <option value="" disabled>Select Entry Mode</option>
                  <option value="Jamb">Jamb</option>
                  <option value="DE">Direct Entry</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="country">Programme:</label>
                <select class="form-control" formControlName="programme_id" id="country">
                  <option value="" disabled>Select Programme</option>
                  <option *ngFor="let programme of allProgrammes; let ind=index" value="{{programme.id}}">
                    {{programme.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="schoolname">Start Date:</label>
                <input class="form-control" formControlName="start_date" id="schoolname" placeholder="Start Date"
                       type="date">
              </div>
              <div class="col-md-6">
                <label for="middle_name">End Date:</label>
                <input class="form-control" id="domain" formControlName="end_date" placeholder="End Date" type="date">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="schooldomain">Profile Strength:</label>
                <select class="form-control" formControlName="profile_strenght">
                  <option value="" disabled>Select Profile Strength</option>
                  <option value="1">O'level</option>
                  <option value="2">Diploma</option>
                  <option value="3">First Degree</option>
                  <option value="4">Post Graduate</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="state">Level:</label>
                <select class="form-control" formControlName="level_id" id="level">
                  <option value="" disabled>Select Level</option>
                  <option *ngFor="let level of allLevels; let ind=index" value="{{level.id}}">
                    {{level.name}}
                  </option>
                </select>


              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="course">Application Fee:</label>
                <input class="form-control" id="domain" formControlName="amount" placeholder="Amount" type="text">

              </div>
              <div class="col-md-6">
                <label for="state">Application Description:</label>
                <textarea class="form-control m-input" formControlName="description">

                       </textarea>

              </div>
            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="createApplicationsForm.invalid || load.requesting.create">
            {{load.message.create}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>

          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','createApplications')">Close
          </button>

        </div>
      </div>
    </div>
  </form>
</div>

<div id="updateApplications" class="modal fade" role="dialog">
  <form [formGroup]="updateApplicationsForm" (ngSubmit)="updateApplications()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Update {{updatedApplications?.name}} for Year {{updatedApplications?.year}}
          </h4>
          <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateApplications')">Close</button> -->
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateApplications')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">

                <label for="course">Name:</label>
                <input class="form-control" id="domain" formControlName="name" placeholder="Name" type="text">


              </div>
              <div class="col-md-6">

                <label for="course">Year:</label>
                <select class="form-control" formControlName="year" id="faculty">
                  <option value="" disabled>Select Year</option>
                  <option *ngFor="let year of yearsArray; let ind=index" value="{{year}}">{{year}}
                  </option>
                </select>


              </div>

            </div>


            <div class="row">
              <div class="col-md-6">

                <label for="country">Mode of Entry:</label>
                <select class="form-control" formControlName="mode_of_entry" id="country">
                  <option value="" disabled>Select Entry Mode</option>
                  <option value="Jamb">Jamb</option>
                  <option value="DE">Direct Entry</option>
                  <option value="Other">Other</option>
                </select>


              </div>


              <div class="col-md-6">
                <label for="country">Programme:</label>
                <select class="form-control" formControlName="programme_id" id="country">
                  <option value="" disabled>Select Programme</option>
                  <option *ngFor="let programme of allProgrammes; let ind=index" value="{{programme.id}}">
                    {{programme.name}}
                  </option>
                </select>


              </div>
            </div>


            <div class="row">


              <div class="col-md-6">

                <label for="schoolname">Start Date:</label>
                <input class="form-control" formControlName="start_date" id="schoolname" placeholder="Start Date"
                       type="date">


              </div>

              <div class="col-md-6">

                <label for="middle_name">End Date:</label>
                <input class="form-control" id="domain" formControlName="end_date" placeholder="End Date" type="date">


              </div>
            </div>

            <div class="row">
              <div class="col-md-6">

                <label for="schooldomain">Profile Strength:</label>

                <select class="form-control" formControlName="profile_strenght">
                  <option value="" disabled>Select Profile Strength</option>
                  <option value="1">O'level</option>
                  <option value="2">Diploma</option>
                  <option value="3">First Degree</option>
                  <option value="4">Post Graduate</option>
                </select>


              </div>
              <div class="col-md-6">
                <label for="state">Level:</label>
                <select class="form-control" formControlName="level_id" id="level">
                  <option value="" disabled>Select Level</option>
                  <option *ngFor="let level of allLevels; let ind=index" value="{{level.id}}">
                    {{level.name}}
                  </option>
                </select>


              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="course">Application Fee:</label>
                <input class="form-control" id="domain" formControlName="amount" placeholder="Amount" type="text">

              </div>
              <div class="col-md-6">
                <label for="state">Application Description:</label>
                <textarea class="form-control m-input" formControlName="description">

                       </textarea>

              </div>
            </div>


          </div>
        </div>
        <div class="modal-footer">

          <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="updateApplicationsForm.invalid || load.requesting.create">
            {{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>


          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','updateApplications')">Close
          </button>


        </div>
      </div>
    </div>
  </form>
</div>


<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Available Applications
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item"
            *ngIf="iAmPermitted('school.admission.application-session.create_open_application')">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="triggerModalOrOverlay('open','createApplications')">
                        <span>
                            <i class="la la-plus"></i>
                            <span>
                                Create Application
                            </span>
                        </span>
          </a>
        </li>


      </ul>
    </div>

  </div>
  <div class="m-portlet__body">
    <!--begin: Search Form -->

    <!--end: Search Form -->
    <!--begin: Datatable -->
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="table table-hover table-striped table-sm m-table--head-bg-brand">
        <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Name
          </th>
          <th>
            Mode of Entry
          </th>
          <th>
            Year
          </th>
          <th>
            Start Date
          </th>
          <th>
            End Date
          </th>
          <th>
            Profile Strength
          </th>
          <th>
            Level
          </th>
          <th>
            Programme
          </th>
          <th>
            Application Fee
          </th>
          <th>
            Status
          </th>
          <th *ngIf="iAmPermitted('school.admission.application-session.update_open_application')">
            Action
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngIf="load.requesting.list || allApplicationss.length==0">
          <td colspan="12">
            <span *ngIf="!load.requesting.list && allApplicationss.length==0">No Record Found</span>
            <span *ngIf="load.requesting.list">Fetching Applications..
                                <i class="m-loader m-loader--right m-loader--brand"></i>
                            </span>
          </td>
        </tr>
        <tr *ngFor="let applicationStatus of allApplicationss; let ind=index">
          <td>{{ind+1}}
          <td>{{applicationStatus?.name}}</td>
          <td>{{applicationStatus?.mode_of_entry}}</td>
          <td>{{applicationStatus?.year}}</td>
          <td>{{applicationStatus?.start_date |date}}</td>
          <td>{{applicationStatus?.end_date|date}}</td>
          <td>{{applicationStatus?.profile_strenght}}</td>
          <td>{{applicationStatus?.level_name}}</td>
          <td>{{applicationStatus?.programme_name}}</td>
          <td>{{applicationStatus?.amount |number}}</td>
          <td *ngIf="applicationStatus?.is_active==='1'" style="color:green">
                                <span class="m-switch m-switch--icon m-switch--success"
                                      *ngIf="iAmPermitted('school.admission.application-session.deactivate_open_application')">
                                    <label>
                                        <input type="checkbox" checked="checked" name=""
                                               (change)="toggleApplicationStatus(ind)">
                                        <span></span>
                                    </label>
                                </span>
          </td>
          <td *ngIf="applicationStatus?.is_active==='0'" style="color:red">
                                <span class="m-switch m-switch--icon m-switch--danger"
                                      *ngIf="iAmPermitted('school.admission.application-session.activate_open_application')">
                                    <label>
                                        <input type="checkbox" name="" (change)="toggleApplicationStatus(ind)">
                                        <span></span>
                                    </label>
                                </span>
          </td>
          <td *ngIf="iAmPermitted('school.admission.application-session.update_open_application')">
            <div class="dropdown ">
              <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                 data-toggle="dropdown">
                <i class="la la-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" (click)="triggerModalOrOverlay('open','updateApplications',ind)">
                  <i class="la la-edit" *ngIf="!Applications?.loading"></i> Edit {{applicationStatus?.name}}
                </a>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="Applications?.loading"></i>

              </div>
            </div>

            <!--<button class="btn btn-info btn-xs"-->
            <!--(click)="triggerModalOrOverlay('open','updateApplications',ind)">-->
            <!--<i class="fa fa-pencil" *ngIf="!Applications?.loading"></i>-->
            <!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="Applications?.loading"></i>-->

            <!--</button>-->
          </td>


        </tr>
        </tbody>
      </table>
    </div>

    <!--end: Datatable -->
  </div>
</div>
