<!--Start:::Create or Update Course-->
<div id="course_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ loading?.title }}</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="createCourseForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <i class="m-loader m-loader--brand" *ngIf="drillingParams.departments.loading"></i>
                <span class="styleStar">*</span>Faculty
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <select class="form-control" (change)="getDepartmentsByFacultyId($event.target.value)" formControlName="faculty">
                  <option disabled></option>
                  <option *ngFor="let faculty of drillingParams.faculties.values" [value]="faculty?.id">
                    {{faculty?.name}}
                  </option>
                </select>
                <span class="m-form__help m--font-danger"
                      *ngIf="createCourseForm.get('faculty').invalid && createCourseForm.get('faculty').touched">
                      Faculty is required
                </span>
              </div>
            </div><!--Faculty-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;" *ngIf="drillingParams.departments.values.length >= 1">
              <label class="col-3 col-form-label">
                <i class="m-loader m-loader--brand" *ngIf="drillingParams.departmentalCourses.loading"></i>
                <span class="styleStar">*</span>Department
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <select class="form-control" (change)="getCourseByDepartment($event.target.value)" formControlName="department">
                  <option disabled></option>
                  <option *ngFor="let department of drillingParams.departments.values" [value]="department?.id">
                    {{department?.name}}
                  </option>
                </select>
                <span class="m-form__help m--font-danger"
                      *ngIf="createCourseForm.get('department').invalid && createCourseForm.get('department').touched">
                      Department is required
                </span>
              </div>
            </div><!--Department-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;" *ngIf="drillingParams.departmentalCourses.values.length >= 1">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Courses
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <select class="form-control selectpicker" formControlName="course_id" id="course_id" (change)="prefillCourse($event.target.value)" data-live-search="true">
                  <!--<option disabled></option>-->
                  <option *ngFor="let course of drillingParams.departmentalCourses.values" [value]="course?.id">
                    {{course?.title}}
                  </option>
                </select>
                <span class="m-form__help m--font-danger"
                      *ngIf="createCourseForm.get('course_id').invalid && createCourseForm.get('course_id').touched">
                      Course is required
                </span>
              </div>
            </div><!--Courses-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Title
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="title" type="text" value="{{selectedCourse.title}}">
                <span class="m-form__help m--font-danger"
                      *ngIf="createCourseForm.get('title').invalid && createCourseForm.get('title').touched">
                      Title is Required
                </span>
              </div>
            </div><!--Title-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Code
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="code" type="text" value="{{selectedCourse.code}}">
                <span class="m-form__help m--font-danger"
                      *ngIf="createCourseForm.get('code').invalid && createCourseForm.get('code').touched">
                      Code is Required
                </span>
              </div>
            </div><!--Code-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Unit
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="unit" type="text" value="{{selectedCourse.unit}}">
                <span class="m-form__help m--font-danger"
                      *ngIf="createCourseForm.get('unit').invalid && createCourseForm.get('unit').touched">
                      Unit is Required
                </span>
              </div>
            </div><!--Unit-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Type
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <select class="form-control" formControlName="type">
                  <option disabled></option>
                  <option value="0">Core</option>
                  <option value="1">Required</option>
                  <option value="2">Elective</option>
                </select>
                <span class="m-form__help m--font-danger"
                      *ngIf="createCourseForm.get('type').invalid && createCourseForm.get('type').touched">
                      Type is Required
                </span>
              </div>
            </div><!--Type-->
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                Registration Limit
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="reg_limit" type="number" value="{{selectedCourse.reg_limit}}">
              </div>
            </div><!--Limit-->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="!loading.updateButton" (click)="createCurriculumCourse()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="createCourseForm.invalid">
          Create &nbsp;&nbsp;
          <i class="m-loader m-loader--light" *ngIf="loading.create"></i>
        </button>
        <button type="button" *ngIf="loading.updateButton" (click)="updateCurriculumCourse()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="loading.update">
          Update &nbsp;&nbsp;
          <i class="m-loader m-loader--light" *ngIf="loading.update"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">
          Close
        </button>
      </div>
    </div>

  </div>
</div>
<!--End:::Create or Update Course-->

<div class=" ">
  <div class="d-flex align-items-center">
    <div class="mr-auto m--padding-20">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Curriculum
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/staff" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/config" class="m-nav__link">
            <span class="m-nav__link-text">
              Configuration
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/config/faculty" class="m-nav__link">
            <span class="m-nav__link-text">
              Faculties
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a *ngIf="courseOfStudyObject?.department?.faculty"
             [routerLink]="['/staff/config/faculty', courseOfStudyObject?.department?.faculty?.id]" class="nav-link">
            <span class="m-nav__link-text">
              <i *ngIf="load.course_of_study_get" class="m-loader m-loader--brand"></i>
              {{ courseOfStudyObject?.department?.faculty?.name}}
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a *ngIf="courseOfStudyObject?.department"
             [routerLink]="['/staff/config/department', courseOfStudyObject?.department?.id]" class="nav-link">
            <span class="m-nav__link-text">
              <i *ngIf="load.course_of_study_get" class="m-loader m-loader--brand"></i>
              {{ courseOfStudyObject?.department?.name}}
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a *ngIf="courseOfStudyObject?.name"
             [routerLink]="['/staff/config/course-of-study', courseOfStudyObject?.id]" class="nav-link">
            <span class="m-nav__link-text">
              <i *ngIf="load.course_of_study_get" class="m-loader m-loader--brand"></i>
              {{ courseOfStudyObject?.name}}
            </span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title row">
        <table class="table table-bordered col-4">
          <tr>
            <td>Course of Study</td>
            <td>
              <i *ngIf="load.course_of_study_get" class="m-loader m-loader--brand"></i>
              {{ courseOfStudyObject?.name}}
            </td>
          </tr>
          <tr>
            <td>Level</td>
            <td>
              {{ feedBack?.allResponse?.level?.name}}
            </td>
          </tr>
          <tr>
            <td>Session</td>
            <td>
              {{ feedBack.allResponse?.session?.name}}
            </td>
          </tr>
          <tr>
            <td>Semester</td>
            <td>
              <span *ngIf="feedBack.allResponse?.semester == 1">First Semester</span>
              <span *ngIf="feedBack.allResponse?.semester == 2">Second Semester</span>
              <span *ngIf="feedBack.allResponse?.semester == 3">ERP</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="m-portlet__head-tools" *ngIf="permissions['school.course-management.curriculum-course.create']">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="newCourse()">
              <span>
                <i class="la la-plus"></i>
                  Curriculum Course
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body table-responsive">
    <table datatable [dtTrigger]="dtTrigger" class="table m-table--head-bg-brand m-table m-table--head-separator-primary table-hover table-striped table-bordered small-margin">
      <thead class="thead-color">
      <tr>
        <th class="serialnum">#</th>
        <th>Title</th>
        <th>Code</th>
        <th>Unit</th>
        <th>Type</th>
        <th>Created Date</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody *ngIf="feedBack?.allResponse">
      <tr *ngIf="feedBack.loader">
        <td colspan="9" class="text-center" *ngIf="feedBack.loader">
          <i class="m-loader m-loader--brand"></i>
        </td>
        <td colspan="9" class="text-center" *ngIf="!feedBack.loader && feedBack?.allResponse?.curriculum_courses.length === 0">
          No Content Found
        </td>
      </tr>
      <tr *ngFor="let data of feedBack?.allResponse?.curriculum_courses; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>
          <a class="m-link m-link--focus m-login__account-link" [routerLink]="['/staff/config/course', data?.id]">{{data?.title}}</a>
        </td>
        <td>{{data?.code}}</td>
        <td>{{data?.unit}}</td>
        <td>{{ data?.typeName }}</td>
        <td>{{data?.created_at | date}}</td>
        <td data-field="Type" class="m-datatable__cell">
          <div class="dropdown ">
            <a href="#"
               class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
               data-toggle="dropdown">
              <i class="la la-ellipsis-h"></i>
              <i class="m-loader m-loader--brand" *ngIf="data?.deleting"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" (click)="editCourse(data)"
                 *ngIf="permissions['school.course-management.curriculum-course.update']">
                <i class="la la-pencil-square"></i> Edit
              </a>
              <a class="dropdown-item" (click)="deleteCurriculumCourse(data?.id, i)"
                 *ngIf="permissions['school.course-management.curriculum-course.delete']">
                <i class="la la-remove"></i> Delete
              </a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>
</div>
