<!-- begin::Header -->
<header class="m-grid__item		m-header" data-minimize="minimize" data-minimize-offset="200"
        data-minimize-mobile-offset="200" appunwraptag="">
  <div class="m-header__top">
    <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
      <div class="m-stack m-stack--ver m-stack--desktop">
        <!-- begin::Brand -->
        <div class="m-stack__item m-brand">
          <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
            <div class="m-stack__item m-stack__item--middle m-brand__logo">
              <a routerLink="/index" class="m-brand__logo-wrapper">
                <img alt="no logo" [src]="logo" *ngIf="logo" style="width:80px !important;"/>
                <img alt="no logo" src="assets/images/logos/Fav.png" *ngIf="!logo"/>
              </a>
            </div>
            <div class="m-stack__item m-stack__item--middle m-brand__tools">
              <div class="school-name">

                <h2>{{portaldetail?.name}}</h2>
              </div>
              <!--<div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-left m-dropdown&#45;&#45;align-push" data-dropdown-toggle="click" aria-expanded="true">
                  <a href="#" class="dropdown-toggle m-dropdown__toggle btn btn-outline-metal m-btn  m-btn&#45;&#45;icon m-btn&#45;&#45;pill">
                      <span>
                          Dashboard
                      </span>
                  </a>
                  <div class="m-dropdown__wrapper">
                      <span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;left m-dropdown__arrow&#45;&#45;adjust"></span>
                      <div class="m-dropdown__inner">
                          <div class="m-dropdown__body">
                              <div class="m-dropdown__content">
                                  <ul class="m-nav">
                                      <li class="m-nav__section m-nav__section&#45;&#45;first m&#45;&#45;hide">
                                          <span class="m-nav__section-text">
                                              Quick Menu
                                          </span>
                                      </li>
                                      <li class="m-nav__item">
                                          <a routerLink="/student" class="m-nav__link">
                                              <i class="m-nav__link-icon flaticon-share"></i>
                                              <span class="m-nav__link-text">
                                                  Profile
                                              </span>
                                          </a>
                                      </li>
                                      <li class="m-nav__item">
                                          <a routerLink="/student/payment" class="m-nav__link">
                                              <i class="m-nav__link-icon flaticon-chat-1"></i>
                                              <span class="m-nav__link-text">
                                                  Payment
                                              </span>
                                          </a>
                                      </li>
                                      <li class="m-nav__item">
                                          <a routerLink="/student/courses" class="m-nav__link">
                                              <i class="m-nav__link-icon flaticon-chat-1"></i>
                                              <span class="m-nav__link-text">
                                                  Course Registration
                                              </span>
                                          </a>
                                      </li>
            <li class="m-nav__item">
                                          <a routerLink="/student/reservation" class="m-nav__link">
                                              <i class="m-nav__link-icon flaticon-chat-1"></i>
                                              <span class="m-nav__link-text">
                                                  Hostel
                                              </span>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              --><!-- begin::Responsive Header Menu Toggler-->
              <a id="m_aside_header_menu_mobile_toggle" href="javascript:;"
                 class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                <span></span>
              </a>
              <!-- end::Responsive Header Menu Toggler-->
              <!-- begin::Topbar Toggler-->
              <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
                 class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                <i class="flaticon-more"></i>
              </a>
              <!--end::Topbar Toggler-->
            </div>
          </div>
        </div>
        <!-- end::Brand -->                        <!-- begin::Topbar -->
        <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
          <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
            <div class="m-stack__item m-topbar__nav-wrapper">
              <ul class="m-topbar__nav m-nav m-nav--inline">
                <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                    data-dropdown-toggle="click">
                  <a href="#" class="m-nav__link m-dropdown__toggle">
										<span class="m-topbar__welcome">
											Hello,&nbsp;
										</span>
                    <span class="m-topbar__username" *ngIf="userDetail">
											{{userDetail?.first_name}}
										</span>
                  </a>
                  <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                      <div class="m-dropdown__header m--align-center"
                           style="background: url(./assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                        <div class="m-card-user m-card-user--skin-dark">
                          <div class="m-card-user__pic">
                            <img src="../../../assets/images/users/blank_male.jpg"
                                 class="m--img-rounded m--marginless" alt=""/>
                          </div>
                          <div class="m-card-user__details" *ngIf="userDetail">
														<span class="m-card-user__name m--font-weight-500">
															{{userDetail?.first_name}} {{userDetail?.last_name}}
														</span>
                            <a class="m-card-user__email m--font-weight-300 m-link">
                              {{userDetail?.email}}
                            </a>
                            <br>
                            <a class="m-link" routerLink="/change-password">
                              <small>Change Password</small>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="m-dropdown__body">
                        <div class="m-dropdown__content">
                          <ul class="m-nav m-nav--skin-light">
                            <li class="m-nav__item">
                              <a (click)="logout()"
                                 class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                Logout
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <!-- end::Topbar -->
      </div>
    </div>
  </div>
  <div class="m-header__bottom" [ngStyle]="setHeaderColor()">
    <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
      <div class="m-stack m-stack--ver m-stack--desktop">
        <!-- begin::Horizontal Menu -->
        <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
          <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light"
                  id="m_aside_header_menu_mobile_close_btn">
            <i class="la la-close"></i>
          </button>
          <div id="m_header_menu"
               class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light">
            <ul class="m-menu__nav  m-menu__nav--submenu-arrow">
              <li class="m-menu__item m-menu__item--submenu m-menu__item--rel"
                  style="padding-left: 2% !important;" data-menu-submenu-toggle="click"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  aria-haspopup="true">
                <a routerLink="/student" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text">
										Dashboard
									</span>
                </a>
              </li>
              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true">
                <a routerLink="/student/profile" class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text">
										Profile
									</span>
                </a>
              </li>
              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true">
                <a routerLink="/student/payment" class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text">
										Payment
									</span>
                </a>
              </li>
              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true">
                <a routerLink="/student/courses" class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text">
										Course Registration
									</span>
                </a>
              </li>

              <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                  aria-haspopup="true">
                <a routerLink="/student/result" class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text">
										Result
									</span>
                </a>
              </li>
              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true"
                  *ngIf="appSettings?.settings?.hostel_enable.toString()!=='0'">
                <a routerLink="/student/reservation" class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text">
										Hostel
									</span>
                </a>
              </li>





              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true">
                <a class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text headerWord">
                    Others
                  </span>
                  <i class="m-menu__hor-arrow la la-angle-down"></i>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>





                <div class="m-menu__submenu m-menu__submenu--fixed m-menu__submenu--left" style="width:600px">
                  <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                  <div class="m-menu__subnav">
                    <ul class="m-menu__content">
                      <li class="m-menu__item">
                        <ul class="m-menu__inner">
                          <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                              aria-haspopup="true">
                            <a routerLink="/student/exeat" class="m-menu__link m-menu__toggle">
                              <span class="m-menu__item-here"></span>
                              <span class="m-menu__link-text">
										Exeat
									</span>
                            </a>
                          </li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                              aria-haspopup="true">
                            <a routerLink="/student/deferment" class="m-menu__link m-menu__toggle">
                              <span class="m-menu__item-here"></span>
                              <span class="m-menu__link-text">
										Deferment
									</span>
                            </a>
                          </li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                              aria-haspopup="true">
                            <a routerLink="/student/transfer" class="m-menu__link m-menu__toggle">
                              <span class="m-menu__item-here"></span>
                              <span class="m-menu__link-text">
										Transfer
									</span>
                            </a>
                          </li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                              aria-haspopup="true">
                            <a routerLink="/student/transcript" class="m-menu__link m-menu__toggle">
                              <span class="m-menu__item-here"></span>
                              <span class="m-menu__link-text">
										Transcript
									</span>
                            </a>
                          </li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                              aria-haspopup="true">
                            <a routerLink="/student/admission-letter" class="m-menu__link m-menu__toggle">
                              <span class="m-menu__item-here"></span>
                              <span class="m-menu__link-text">
										Admission Letter
									</span>
                            </a>
                          </li>
                          <li class="m-menu__item" data-menu-submenu-toggle="hover" data-redirect="true"
                              aria-haspopup="true" *ngIf="appSettings?.settings?.download_oath_form">
                            <a  class="m-menu__link m-menu__toggle" (click)="checkAndDownloadOathForm()">
                              <span class="m-menu__item-here"></span>
                              <span class="m-menu__link-text">
										Matric Oath Form <i class="fa fa-spinner fa-spin" *ngIf="loadForms?.oath"></i>
									</span>
                            </a>
                          </li>

                        </ul>
                      </li>

                    </ul>
                  </div>
                </div>




              </li><!--Admissions-->


              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
                  data-menu-submenu-toggle="click" aria-haspopup="true">
                <a routerLink="/student/admission-letter" class="m-menu__link m-menu__toggle">
                  <span class="m-menu__item-here"></span>
                  <span class="m-menu__link-text">
										Auxilliary Services
									</span>
                </a>
              </li>


            </ul>
          </div>
        </div>
        <!-- end::Horizontal Menu -->                    <!--begin::Search-->
        <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-"
             id="m_quicksearch" data-search-type="default">
          <!--begin::Search Form -->
          <!--end::Search Form -->    <!--begin::Search Results -->
          <div class="m-dropdown__wrapper">
            <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
            <div class="m-dropdown__inner">
              <div class="m-dropdown__body">
                <div class="m-dropdown__scrollable m-scrollable" data-max-height="300"
                     data-mobile-max-height="200">
                  <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Search Results -->
        </div>
        <!--end::Search-->
      </div>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="edited === 0" style="top: 5px; text-align: center">
        <!--Please update your Nationality, State of Origin and Local Government, click <a routerLink="/student/profile">here</a> -->
        Click on the <b>Address</b> tab, click the <b>Edit button</b>, make necessary changes and click on the <b>Submit</b> button
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <a class="d-none" id="oath_form" href="{{formUrl}}" download></a>



</header>
<!-- end::Header -->
