<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div id="declineComment" class="modal fade" role="dialog">
  <form [formGroup]="declineCommentForm" (ngSubmit)="toggleAuthorizationStatus(declinedIndex,'decline')">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Please Provide a Comment</h4>
          <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','createAuthorization')">Close</button> -->
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','createAuthorization')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">

                <label for="schoolname">Comment:</label>
                <textarea class="form-control" formControlName="comment" id="schoolname"
                          placeholder="Reason for Declining">
                                </textarea>
              </div>

            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="declineCommentForm.invalid || load.requesting.create">
            {{load.message.create}}
            <i class="m-loader m-loader--brand" *ngIf="allAuthorizations[declinedIndex]?.rejectloading"></i>

          </button>
          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','declineComment')">Close
          </button>


        </div>
      </div>
    </div>
  </form>
</div>

<div id="updateAuthorization" class="modal fade" role="dialog">
  <form [formGroup]="updateAuthorizationForm" (ngSubmit)="updateAuthorization()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Update {{updatedAuthorization?.fullname}}</h4>
          <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateAuthorization')">Close</button> -->
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateAuthorization')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">

                <label for="schoolname">Full Name:</label>
                <input class="form-control" formControlName="fullname" id="schoolname"
                       placeholder="Full Name">

              </div>
              <div class="col-md-6">

                <label for="middle_name">Email:</label>
                <input class="form-control" id="domain" formControlName="email" placeholder="Email">
                <!--  -->


                <!--  -->
              </div>

            </div>


            <div class="row">
              <div class="col-md-6">


                <label for="country">Group:</label>
                <select class="form-control" formControlName="group_id" id="country">
                  <option value="" disabled>Select Group</option>
                  <!--<option *ngFor="let group of allGroups; let ind=index" value="{{group.id}}">
                      {{group?.name}}
                  </option>-->
                </select>


              </div>
              <div class="col-md-6">

                <label for="state">Active Hours:</label>
                <select class="form-control" formControlName="active_hour_id" id="state">
                  <option value="" disabled>Choose Active Hours</option>
                  <!-- <option *ngFor="let activeHour of allActiveHours; let ind=index"
                           value="{{activeHour.id}}">{{activeHour?.name}}
                   </option>-->
                </select>


              </div>

            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="updateAuthorizationForm.invalid || load.requesting.create">
            {{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>
          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','updateAuthorization')">Close
          </button>


        </div>
      </div>
    </div>
  </form>
</div>


<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Authorizations
        </h3>
      </div>
    </div>


  </div>
  <div class="m-portlet__body">
    <!--begin: Search Form -->
    <!--end: Search Form -->
    <!--begin: Datatable -->
    <div class="table-responsive">
      <table id="html_table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="table table-hover table-striped table-sm m-table--head-bg-brand">
        <thead class="thead-color">
        <tr>
          <th>
            #
          </th>
          <th>
            Authorization Name
          </th>

          <th>
            Description
          </th>
          <th>
            Initiator Staff ID
          </th>
          <th>
            Initiator Group
          </th>
          <th>
            Status
          </th>

          <th>
            Action
          </th>
          <!--&lt;!&ndash; <th>-->
          <!--Action-->
          <!--</th> &ndash;&gt;-->
          <!--<th>-->
          <!--Action-->
          <!--</th>-->
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngIf="allAuthorizations.length==0">

          <td colspan="7">
            <span *ngIf="allAuthorizations.length==0 && !load.requesting.list">No Record Found</span>
            <span *ngIf="load.requesting.list">Fetching Authorization.. &nbsp;&nbsp;
                  <i class="m-loader m-loader--brand"></i>
                </span>
          </td>

        </tr>
        <tr *ngFor="let Authorization of allAuthorizations; let ind=index">
          <td>{{ind+1}}</td>
          <td>{{Authorization?.action}}</td>
          <td>{{Authorization?.task?.description}}</td>
          <td>{{Authorization?.staff?.employee_id || "None Captured"}}</td>
          <td>{{Authorization?.staff?.group?.name || "None Captured"}}</td>
          <td>
                        <span *ngIf="Authorization?.status==1"
                              class="m-badge  m-badge--warning m-badge--wide">Pending</span>
            <span *ngIf="Authorization?.status==2" class="m-badge  m-badge--success m-badge--wide">Authorized</span>
            <span *ngIf="Authorization?.status==3" class="m-badge  m-badge--danger m-badge--wide">Declined</span>


          </td>

          <td>
            <button data-toggle="m-tooltip" data-placement="top" title="Approve Authorization" type="button"
                    role="button"
                    id="school.administration.authorize.approve"
                    data-original-title="Approve Authorization"
                    class="btn btn-success m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill btn-xs"
                    (click)="toggleAuthorizationStatus(ind,'approve')"
                    [disabled]="Authorization?.status!='1'">
              <!--*ngIf="iAmPermitted('school.administration.authorize.approve')"-->
              <i class="la la-check" *ngIf="!Authorization?.approveloading"></i>
              <i class="m-loader m-loader--brand" *ngIf="Authorization?.approveloading"></i>
            </button>
            <button data-toggle="m-tooltip" data-placement="top" title="Reject Authorization"
                    data-original-title="Reject Authorization"
                    class="btn btn-danger m-btn m-btn--icon m-btn--icon-only  m-btn--custom m-btn--pill btn-xs"
                    id="school.administration.authorize.reject"
                    (click)="triggerModalOrOverlay('open','declineComment',ind)"
                    [disabled]="Authorization?.status!='1'">
              <!--*ngIf="iAmPermitted('school.administration.authorize.reject')"-->
              <i class="la la-times" *ngIf="!Authorization?.rejectloading"></i>
            </button>

            <!--(click)="toggleAuthorizationStatus(ind,'reject')"-->
            <!--<button class="btn btn-info btn-xs" (click)="triggerModalOrOverlay('open','updateAuthorization',ind)">-->
            <!--<i class="fa fa-pencil" *ngIf="!Authorization?.loading"></i>-->
            <!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="Authorization?.loading"></i>-->

            <!--</button>-->
          </td>

        </tr>
        </tbody>
      </table>

    </div>
    <!--end: Datatable -->
  </div>
</div>
