<!-- Modal -->
<div id="openModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.formType}} {{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="name" class="col-3 col-form-label">
                <span class="styleStar">*</span>Name
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="name" type="text" id="name">
                <small
                  class="m--font-danger"
                  *ngIf="createForm.get('name').touched && createForm.get('name').invalid">
                  Name is Required
                </small>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="code" class="col-3 col-form-label">
                <span class="styleStar">*</span>Code
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="code" type="text" id="code">
                <div *ngIf="createForm.get('code').dirty || createForm.get('code').touched">
                  <small class="m--font-danger" *ngIf="createForm.get('code').hasError('required')">Code is Required</small>
                  <!--<small class="m&#45;&#45;font-danger" *ngIf="createForm.get('code').hasError('minlength') || createForm.get('code').hasError('maxlength')">Code should be exactly 3 letters</small>-->
                </div>
                <!--<div style="color: red; font-size: 11px">Only 3 Letter Word is Required</div>-->

                <!--<small class="m&#45;&#45;font-danger">Maximum of three(3) letters</small>-->
              </div>
            </div>

            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                School Type
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName="school_type_id" style="width: 100%">
                  <option></option>
                  <option *ngFor="let type of feedBack?.allSchoolType " [value]="type?.id">
                    {{type?.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="!feedBack.showUpdateButton" (click)="createFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal"
                [disabled]="feedBack.submitStatus || createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" *ngIf="feedBack.showUpdateButton" (click)="updateFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal"
                [disabled]="feedBack.submitStatus || createForm.invalid">
          Update <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>
<!--View Modal -->
<div>
  <!--<div id="viewModal" class="modal fade" role="dialog">-->
    <!--<div class="modal-dialog">-->

      <!--&lt;!&ndash; Modal content&ndash;&gt;-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
          <!--<h4 class="modal-title">{{feedBack?.moduleName}} Details</h4>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
          <!--<form [formGroup]="createForm" class="m-form m-form&#45;&#45;fit m-form&#45;&#45;label-align-right">-->
            <!--<div class="m-portlet__body" *ngIf="feedBack?.viewDetails">-->
              <!--<div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">-->
                <!--<div for="example-text-input" class="col-6 col-form-label text-right">-->
                  <!--Name:-->
                <!--</div>-->
                <!--<div for="example-text-input" class="col-6 col-form-label text-left">-->
                  <!--{{feedBack?.viewDetails.name}}-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">-->
                <!--<div for="example-text-input" class="col-6 col-form-label text-right">-->
                  <!--Code:-->
                <!--</div>-->
                <!--<div for="example-text-input" class="col-6 col-form-label text-left">-->
                  <!--{{feedBack?.viewDetails.code}}-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">-->
                <!--<div for="example-text-input" class="col-6 col-form-label text-right">-->
                  <!--School:-->
                <!--</div>-->
                <!--<div for="example-text-input" class="col-6 col-form-label text-left">-->
                  <!--{{feedBack?.viewDetails.school?.name}}-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
          <!--<button type="button"-->
                  <!--class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon btn-danger m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm"-->
                  <!--data-dismiss="modal">Close-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
</div>

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.faculty.create')">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="openModal()">
													<span>
														<i class="la la-plus"></i>
														<span>
															{{facultyName}}
														</span>
													</span>
          </a>
        </li>


      </ul>
    </div>

  </div>

  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->        <!--begin: Datatable -->
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
           class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead>
      <tr>
        <th class="serialnum">#</th>
        <th>Name</th>
        <th>Code</th>
        <th>School</th>
        <th>Created Date</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feedBack?.allResponse; let i = index">
        <td scope="row">{{i+1}}</td>
        <td><a class="m-link m-link--focus m-login__account-link" [routerLink]="['/staff/config/faculty',data?.id]">{{data?.name}}</a>
        </td>
        <td>{{data?.code}}</td>
        <td>{{data?.school?.name || ''}}</td>
        <td>{{data?.created_at | date}}</td>
        <td data-field="Type" class="m-datatable__cell">
          <div class="dropdown ">
            <a class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
               data-toggle="dropdown">
              <i class="la la-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *ngIf="iAmPermitted('school.faculty.update')">
              <a class="dropdown-item" (click)="onEdit(data)">
                <i class="la la-edit"></i> Edit {{facultyName}}
              </a>
              <!--<a class="dropdown-item" (click)="onView(data)">-->
              <!--<i class="la la-eye"></i> View Faculty-->
              <!--</a>-->
            </div>
          </div>
        </td>
      </tr>
      <tr *ngIf="feedBack.loader || feedBack?.allResponse.length === 0">
        <td colspan="6" *ngIf="feedBack.loader">
          <div class="text-center">Loading {{feedBack?.moduleName}} <i
            class="m-loader m-loader--right m-loader--brand"></i>
          </div>
        </td>
        <td colspan="6" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>
</div>

