<!-- Modal -->
<div id="openModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.formType}} {{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup] = "createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Name
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">
                <input class="form-control" formControlName="name" >
               </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span>Status
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName = "enabled" style="width: 100%">
                  <option></option>
                  <option [value] = "0"> Disabled </option>
                  <option [value] = "1"> Enabled </option>
                  <option [value] = "2"> Pending Disable </option>
                  <option [value] = "3"> Pending Enabled </option>
                </select>

                <div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('enabled').invalid && createForm.get('enabled').touched">
                  <strong>
                    Status is Required
                  </strong>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-form-label col-lg-3 col-sm-12">
                <span class="styleStar">*</span> Start Time
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12" >
                <div class="input-group date">
                  <input type="time" class="form-control" formControlName="begin_time" placeholder="Select Start time"/>
                  <div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-calendar-check-o"></i>
								</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-form-label col-lg-3 col-sm-12">
                <span class="styleStar">*</span>End Time
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12" >
                <div class="input-group date">
                  <input type="time" class="form-control" formControlName="end_time" placeholder="Select End time"/>
                  <div class="input-group-append">
								<span class="input-group-text">
									<i class="la la-calendar-check-o"></i>
								</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="!feedBack.showUpdateButton" (click)="createFormModal()" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" data-dismiss="modal" [disabled] ="feedBack.submitStatus || createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" *ngIf="feedBack.showUpdateButton" (click)="updateFormModal()" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" data-dismiss="modal" [disabled] ="feedBack.submitStatus || createForm.invalid">
          Update <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.moduleName}} Details</h4>
      </div>
      <div class="modal-body">
          <div class="m-portlet__body" *ngIf="feedBack?.viewDetails">
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Name
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.name}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Status
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.enbled}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Start time:
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.begin_time}}
              </div>
            </div>
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
              <div for="example-text-input" class="col-6 col-form-label text-right">
                Start time:
              </div>
              <div for="example-text-input" class="col-6 col-form-label text-left">
                {{feedBack?.viewDetails?.end_time}}
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            {{feedBack?.moduleName}}
          </h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <ul class="m-portlet__nav">
          <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.active-hour.create')">
            <a style="color: white !important;"
               class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
               (click)="openModal()">
													<span>
														<i class="la la-plus"></i>
														<span>
															Active Hour
														</span>
													</span>
            </a>
          </li>

        </ul>
      </div>

    </div>
    <!--<div style="float: right; margin: 10px; margin-right: 4%">-->
      <!--<button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"  (click)="openModal()">-->
        <!--<i class="fa fa-plus"></i>-->
        <!--Create-->
      <!--</button>-->
    <!--</div>-->
    <!--Current session-->
    <div class="m-portlet__body table-responsive">
      <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
      <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand">
        <thead class="thead-color">
        <tr>
          <th title="Field #1" class="serialnum">#</th>
          <th title="Field #2">Name</th>
          <th title="Field #2">Start Time</th>
          <th title="Field #3">End Time</th>
          <th title="Field #3">Enabled</th>
          <th title="Field #3">Date Created</th>
          <th title="Field #4">Action</th>
        </tr>
        </thead>
        <tbody *ngIf="feedBack?.allCurrentSession">
        <tr *ngFor="let data of feedBack?.allCurrentSession?.data; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>{{data?.name}}</td>
          <td><span *ngIf='data?.begin_time !== null'>{{data?.begin_time}}</span></td>
          <td><span *ngIf='data?.end_time !== null'>{{data?.end_time}}</span></td>
          <td>{{data?.enabled || 'Null'}}</td>
          <td>{{data?.created_at | date}}</td>
          <td data-field="Type" class="m-datatable__cell">
            <div class="dropdown ">
              <a href="#"
                 class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                 data-toggle="dropdown">
                <i class="la la-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" (click)="onEdit(data)" *ngIf="iAmPermitted('school.active-hour.update')">
                  <i class="la la-edit"></i> Edit
                </a>
                <a class="dropdown-item" (click)="onView(data)" *ngIf="iAmPermitted('school.active-hour.view')">
                  <i class="la la-eye"></i> View
                </a>
              </div>
            </div>
          </td>

        </tr>
        <tr *ngIf="feedBack.loader || feedBack?.allCurrentSession.length === 0">
          <td colspan="7" *ngIf="feedBack.loader">
            <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
          </td>
          <td colspan="7" *ngIf="!feedBack.loader && feedBack?.allCurrentSession.length === 0">
            <div  class="text-center">No Content Found</div>
          </td>
        </tr>
        </tbody>
      </table>
      <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
      <!--end: Datatable -->
    </div>
  </div>

