<script src="../../../../../../../../../Desktop/Bowen/student-view/student-view.component.ts"></script>
<div id="updateStudent" class="modal fade" role="dialog">
  <form [formGroup]="updateStudentForm" (ngSubmit)="updateStudent()">

    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Update {{updatedStudent?.first_name}} {{updatedStudent?.last_name}}</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateStudent')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <h4 class="text-center">Basic Info</h4>
            <div class="row">
              <div class="col-md-6">

                <label for="schoolname">First Name:</label>
                <input class="form-control" formControlName="first_name" id="schoolname">
              </div>
              <div class="col-md-6">
                <label for="middle_name">Middle Name:</label>
                <input class="form-control" id="middle_name" formControlName="other_names">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="last_name">Last Name:</label>
                <input class="form-control" id="last_name" formControlName="last_name">
              </div>
              <div class="col-md-6">
                <label for="matric_no">Matriculation Number:</label>
                <input class="form-control" formControlName="matric_no" id="matric_no">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="email">Email:</label>
                <input class="form-control" formControlName="email" type="email" id="email">
              </div>
              <div class="col-md-6">
                <label for="email">Gender:</label>
                <select class="form-control" formControlName="gender">
                  <option value="" disabled>
                    Select Gender
                  </option>
                  <option value="Male">
                    Male
                  </option>
                  <option value="Female">
                    Female
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="dob">Date of Birth:</label>
                <input class="form-control" type="date" formControlName="birth_of_date" id="dob">
              </div>
              <div class="col-md-6">
                <label for="country">Marital Status:</label>
                <select class="form-control" #createCountry formControlName="marital_status">
                  <option value="" disabled>Marital Status</option>
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="email">Religion:</label>
                <select class="form-control" formControlName="religion" #tgetreligion
                        (change)="getDenomination(tgetreligion.value)">
                  <option value="" disabled>Select Religion</option>
                  <option value="Christianity">Christianity</option>
                  <option value="Islam">Islam</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="email">Denomination:</label>
                <select class="form-control" formControlName="denomination">
                  <option value="" disabled>
                    Select Denomination
                  </option>
                  <option value="{{denomination.value}}"
                          *ngFor="let denomination of allDenominations">
                    {{denomination.name}}
                  </option>
                </select>
              </div>
            </div>
            <br>
            <h4 class="text-center">Extra Info</h4>
            <div class="row">
              <div class="col-md-6">
                <label for="country">Country:</label>
                <select class="form-control" #createCountry formControlName="country_id" id="country"
                        (change)="getStateByCountryId(createCountry.value)">
                  <option value="" disabled>Select Country</option>
                  <option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">
                    {{country.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="state">State</label>
                <select class="form-control" #getlga formControlName="state_id" id="state"
                        (change)="getLgaByStateId(getlga.value)">
                  <option value="" disabled>Select State</option>
                  <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">
                    {{state.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="state">LGA:</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.lgas.loading"></i>
                <select class="form-control" formControlName="lga_id" id="lga_id">
                  <option value="" disabled>Select LGA</option>
                  <option *ngFor="let lga of allLgas; let ind=index" value="{{lga.id}}">
                    {{lga.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="home_town">Home Town:</label>
                <input class="form-control" formControlName="home_town" id="home_town">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="course">{{facultyName}}:</label>
                <select class="form-control" #faculty formControlName="faculty_id" id="faculty"
                        (change)="getDepartmentByByFacultyId(faculty.value)">
                  <option value="" disabled>Select {{facultyName}}</option>
                  <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">
                    {{faculty.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="department">Department:</label>
                <i class="m-loader m-loader--right m-loader--brand"
                   *ngIf="load.departments.loading"></i>
                <select class="form-control" #deprtmnt formControlName="department_id" id="department"
                        (change)="getCourseByDepartmentId(deprtmnt.value)"
                        [disabled]="!load.departments.list || load.departments.loading">
                  <option value="" disabled>Select Department</option>
                  <option *ngFor="let department of allDepartments; let ind=index"
                          value="{{department.id}}">{{department.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="course">Course of Study:</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.courses.loading"></i>
                <select class="form-control" #course formControlName="course_of_study_id" id="course"
                        [disabled]="!load.courses.list || load.courses.loading">
                  <option value="" disabled>Select Course</option>
                  <option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">
                    {{course.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="state">Level:</label>
                <select class="form-control" formControlName="level_id" id="level">
                  <option value="" disabled>Select Level</option>
                  <option *ngFor="let level of allLevels; let ind=index" value="{{level.id}}">
                    {{level.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-sm"
                  [disabled]="updateStudentForm.invalid || load.requesting.create">{{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>


          <button type="button" class="btn btn-danger btn-sm"
                  (click)="triggerModalOrOverlay('close','updateStudent')">Close
          </button>


        </div>

      </div>
    </div>


  </form>
</div>


<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        <div class="container">Student Profile:
        </div>
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/staff" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/dashboard/students" class="m-nav__link">
            <span class="m-nav__link-text">
              Students
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link">
            <span class="m-nav__link-text">
              {{viewedStudent?.first_name | ucwords}}&nbsp;&nbsp; <i class="m-loader m-loader--brand fa-2x"
                                                                     *ngIf="loader"></i>
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          <ng-container [ngSwitch]="viewedStudent?.status?.toString()">
            <span class="float-right p-3 m-badge m-badge--rounded m-badge--success" *ngSwitchCase="'1'">Active</span>
            <span class="float-right p-3 m-badge m-badge--rounded m-badge--danger" *ngSwitchCase="'4'">Expelled</span>
            <span class="float-right p-3 m-badge m-badge--rounded m-badge--warning" *ngSwitchCase="'3'">Suspended</span>
            <span class="float-right p-3 m-badge m-badge--rounded m-badge--info" *ngSwitchCase="'2'">Withdraw</span>
            <span class="float-right p-3 m-badge m-badge--rounded m-badge--grey" *ngSwitchCase="'9'">Graduated</span>
            <span class="float-right" *ngSwitchDefault></span>
          </ng-container>
        </li>
        <li class="m-nav__item">
          <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin- m-list-search--has-result m-dropdown--open"
            id="m_quicksearch" data-search-type="default" aria-expanded="true">
            <div style="margin-top: 30%!important; position: absolute;" *ngIf="!loader">
              <div class="m-header-search__wrapper">
                <span class="m-header-search__icon-search" id="m_quicksearch_search">
                  <i class="la la-search"></i>
                </span>
                <span class="m-header-search__input-wrapper">
                  <input type="text" class="m-header-search__input" placeholder="Search Students"
                         aria-label="Number" matInput
                         [formControl]="searchTerm" style="background-color: white;color: black">
                </span>
                <span class="m-header-search__icon-close" id="m_quicksearch_close"
                      style="visibility: visible;" (click)="hideSearchDiv()">
                  <i class="la la-remove"></i>
                </span>
                <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel"
                      style="visibility: visible;" (click)="hideSearchDiv()">
                  <i class="la la-remove"></i>
                </span>
              </div>
              <div class="card" id="search_result" *ngIf="searchDiv">
                <ul>
                  <li class="m-nav__item">
                    <span *ngIf="searchResult.length===0" style="color: red">{{noName}}</span>
                    <span *ngIf="searching">Searching  <i class="m-loader m-loader--brand"></i></span>
                  </li>
                  <li class="m-nav__item" *ngFor="let student of searchResult">
                    <a (click)="hideSearchDiv()" routerLink="../{{student?.id}}">
                      {{student?.first_name}} {{student?.last_name}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div id="imgDiv">
        <img src="assets/images/users/blank_male.jpg" class="img img-thumbnail" style="width: 120px"
             *ngIf="(viewedStudent?.gender==='Male' || viewedStudent?.gender==='M') && !viewedStudent?.passport">
        <img src="assets/images/users/blank_female.jpg" class="img img-thumbnail" style="width: 120px"
             *ngIf="(viewedStudent?.gender==='Female' || viewedStudent?.gender==='F')&& !viewedStudent?.passport">
        <img [src]=viewedStudent?.passport class="img img-thumbnail" style="width: 120px"
             *ngIf="viewedStudent?.passport">
      </div>
    </div>
  </div>

</div>

<div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{viewedStudent?.first_name}} {{viewedStudent?.last_name}}&nbsp;-&nbsp;{{viewedStudent?.matric_no}}
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <ul class="nav nav-tabs  m-tabs-line m-tabs-line--primary" role="tablist">
      <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#basic_student_info" role="tab">
          Basic Student Info
        </a>
      </li>
      <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link" data-toggle="tab" href="#academic_info" role="tab">
          Academic Info
        </a>
      </li>
      <li class="nav-item  m-tabs__item">
        <a class="nav-link m-tabs__link" data-toggle="tab" href="#results" role="tab">
          Results
        </a>
      </li>
      <li class="nav-item  m-tabs__item">
        <a class="nav-link m-tabs__link" data-toggle="tab" href="#course_reg" role="tab">
          Course Registration
        </a>
      </li>
      <li class="nav-item dropdown m-tabs__item">
        <a class="nav-link m-tabs__link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false">
          Other Actions
        </a>
        <div class="dropdown-menu" x-placement="bottom-start"
             style="position: absolute; transform: translate3d(0px, 46px, 0px); top: 0px; left: 0px; will-change: transform;">
          <!--<a class="dropdown-item" data-toggle="tab" href="#results"-->
          <!--(click)="triggerModalOrOverlay('open', 'updateStudent')">-->
          <!--Edit {{viewedStudent?.first_name}}-->
          <!--</a>-->
          <a class="dropdown-item" data-toggle="tab" href="#fee_assignment">
            Assign fee to {{viewedStudent?.first_name}}
          </a>
          <a class="dropdown-item" data-toggle="tab" href="#exception">
            Create Exception for {{viewedStudent?.first_name}}
          </a>
          <a class="dropdown-item" data-toggle="tab" href="#transfer">
            Transfer {{viewedStudent?.first_name}}
          </a>
          <!--<div class="dropdown-divider"></div>-->
          <!--<a class="dropdown-item" data-toggle="tab" href="#results">-->
          <!--Separated link-->
          <!--</a>-->
        </div>
      </li>
      <!--<li class="nav-item  m-tabs__item">-->
        <!--<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_12" role="tab"-->
           <!--(click)="generateOneTimePass()">-->
          <!--One-Time Pass-->
        <!--</a>-->
      <!--</li>-->
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="basic_student_info" role="tabpanel">
        <div class="row my-3">
          <div class="col-4 row">
            <div class="col-4">
              <button class="btn btn-accent m-btn--pill m-btn--air" (click)="generateOneTimePass()">
                Generate OTP
              </button>
            </div>
            <div class="col-6">
              <div class="h3 border-dark">
                <ng-container  *ngIf="!load.generating">{{ oneTimePassCode }}</ng-container>
                <p style="max-width: 10px" class="m-loader m-loader--brand" *ngIf="load.generating"></p>
              </div>
            </div>
          </div>
          <div class="col-4 row">
            <select class="form-control col-6" #status>
              <option value="" selected disabled>-Select Status-</option>
              <option value="1">Active</option>
              <option value="4">Expelled</option>
              <option value="3">Suspended</option>
              <option value="2">Withdraw</option>
              <option value="9">Graduated</option>
            </select>
            <button class="btn btn-accent btn-sm m-btn--pill m-btn--air" (click)="changeStudentStatus(status.value)">
              Change Status
              <i class="m-loader m-loader--light" *ngIf="load.status_changing"></i>
            </button>
          </div>
          <div class="col-4">
            <button class="btn btn-warning btn-sm m-btn--pill m-btn--air" (click)="resetPassword()">
              Reset Password
              <i class="m-loader m-loader--light" *ngIf="load.resetting_password"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-6 card">
            <div class="row" style="padding-top: 10px">
              <div class="col-3">
                <label>
                  First Name:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.first_name || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Last Name:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.last_name || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Other Name:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.other_names || '----' |titlecase}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Home Tel:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.telephone_home || '----'}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Mobile:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.telephone_mobile || '----'}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Email:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.email || '----'}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Birth Date:
                </label>
              </div>
              <div class="col-9">
                               <span *ngIf="viewedStudent?.birth_of_date">
                                   {{viewedStudent?.birth_of_date|date}}
                               </span>
                <span *ngIf="!viewedStudent?.birth_of_date">
                                   ----
                               </span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Gender:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.gender || '----'}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Blood Group:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.blood_group || '----'}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Geno Type:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.geno_type || '----'}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Height:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.height || '----'}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Marital Status:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.marital_status || '----'}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Nationality:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.country?.name || '----'}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  State:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.state?.name || '----'}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Lga:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.lga?.name || '----'}}
              </div>
            </div>
            <hr>


          </div>
          <div class="col-6 card">

            <div class="row">
              <div class="col-3">
                <label>
                  Contact Address:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.contact_address || '----' |titlecase}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Home Address:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.home_address || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Home Town:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.home_town || '----' |titlecase}}
              </div>
            </div>
            <hr>


            <div class="row">
              <div class="col-3">
                <label>
                  Sponsor:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.parents?.relationship || '----' |titlecase}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Sponsor's Name:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.parents?.title || '----' |titlecase}} {{viewedStudent?.parents?.name || '----'
                |titlecase}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Sponsor's Phone No.:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.parents?.telephone || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Sponsor's Email:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.parents?.email || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Sponsor's Address:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.parents?.address || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Sponsor's Religion:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.parents?.religion || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Sponsor's Denomination:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.parents?.religion_denomination || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Next of Kin:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.next_of_kin || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Next of Kin Relationship:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.nok_relationship || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Next of Kin Address:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.nok_address || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Next of Kin Phone:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.nok_tel || '----'}}
              </div>
            </div>

          </div>

        </div>


      </div>
      <!--<div class="tab-pane" id="results" role="tabpanel">
        <div class="col-4">
          <button class="btn btn-accent m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm" (click)="getStudentResult()"
                  [disabled]="loadingResult" type="button">
            Get Results
            <span *ngIf="loadingResult">&nbsp;&nbsp;<i class="m-loader m-loader&#45;&#45;light"></i></span>
          </button>
        </div>
        <br>
        <br>
        <span class="small-margin"></span>
        <span class="small-margin"></span>
        <div class="row">
          <div class="col-sm-10 offset-sm-1" id="transcript">
            <div *ngIf="showResults">
              <div class="row">
                <div class="col-12 headered">
                  <h3 class="text-center text-uppercase">
                    {{(appSettings?.name | uppercase)}}
                  </h3>
                  <p class="text-center">{{(appSettings?.settings?.subtitle | uppercase)}}</p>
                </div>
              </div>
              <span class="small-margin"></span>
              <hr>
              <div class="row">
                <div class="col-4">
                  <p class="text-uppercase"><b>Vice Chancellor</b></p>
                  <p>{{appSettings?.settings?.vc_name}}</p>
                </div>
                <div class="col-4 m&#45;&#45;img-centered">
                  <img [src]="appSettings?.settings?.logo || 'assets/images/logos/Fav.png'" class="logo-img" alt="University Logo">
                  &lt;!&ndash;<img src="assets/images/logos/Fav.png" *ngIf="!appSettings?.settings.logo" style="max-width: 100%; height: auto; margin-top: 100px">&ndash;&gt;
                </div>
                <div class="col-1"></div>
                <div class="col-3">
                  <p class="text-uppercase"><b>Office of the Registrar</b></p>
                  <p>{{appSettings?.settings?.registrar_name}}</p>
                  &lt;!&ndash;<p>Dr. Makanjuola</p>&ndash;&gt;
                </div>
              </div>
              <span class="small-margin"></span>
              <hr>
              <div class="row">
                <div class="col-sm-12 col-md-6 offset-md-3">
                  <h3 class="text-center">STUDENT ACADEMIC RECORD</h3>
                </div>
                <div class="col-sm-12 col-md-3">
                  <img class="logo-img" [src]="viewedStudent?.passport ? viewedStudent?.passport : ((viewedStudent?.gender.toLowerCase()) === 'male' ? 'assets/images/users/blank_male.jpg' : 'assets/images/users/blank_female.jpg')">
                </div>
              </div>
              <div class="my-4 mb-5">
                <div class="row border py-2">
                  <div class="col-md-6 col-sm-6 col-xs-12 row">
                    <div class="col-5">NAME: </div>
                    <b class="col-7">
                    {{ viewedStudent?.last_name }}
                    {{ viewedStudent?.first_name }}
                    {{ viewedStudent?.other_names }}
                    </b>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 row">
                    <div class="col-5">MATRIC NUMBER:</div>
                    <b class="col-7">{{ viewedStudent?.matric_no }}</b>
                  </div>
                </div>
                <div class="row border py-2">
                  <div class="col-md-6 col-sm-6 col-xs-12 row">
                    <div class="col-5">FACULTY: </div>
                    <b class="col-7">{{ viewedStudent?.course_of_study?.department?.faculty?.name }}</b>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 row">
                    <div class="col-5">DEPARTMENT:</div>
                    <b class="col-7">{{ viewedStudent?.course_of_study?.department?.name }}</b>
                  </div>
                </div>
                <div class="row border py-2">
                  <div class="col-md-6 col-sm-6 col-xs-12 row">
                    <div class="col-5">COURSE OF STUDY:</div>
                    <b class="col-7">{{ viewedStudent?.course_of_study?.name }}</b>
                  </div>
                </div>
              </div>
              <div class="mb-5 pb-3 border-bottom" *ngFor="let session_results of allViewedResults">
                <div class="mb-5 pb-3" *ngFor="let semester_result of session_results?.semestersData">
                  <div class="row mb-4">
                    <div class="col">
                      Session: <b class="ml-3">{{ session_results?.session?.session_name }}</b>
                    </div>
                    <div class="col">
                      Level: <b class="ml-3">{{ session_results?.current_level || session_results?.level?.name }}</b>
                    </div>
                    <div class="col">
                      Semester: <b class="ml-3">{{ semester_result?.semester_info?.name }}</b>
                    </div>
                  </div>
                  <table class="table table-hover table-striped table-bordered">
                    <thead class="m-datatable__head">
                    <tr class="">
                      <th>#</th>
                      <th>Course Title</th>
                      <th>Course Code</th>
                      <th>Course Type</th>
                      <th>Course Credit</th>
                      <th>CA</th>
                      <th>Exam</th>
                      <th>Total Score</th>
                      <th>Grade</th>
                    </tr>
                    </thead>
                    <tbody>
                    &lt;!&ndash;<tr class="m-datatable__row" *ngIf="(allViewedResults.length === 0) && (!loadingResult)">
                      <td class="text-center" colspan="10">No results were found for {{viewedStudent?.first_name}}</td>
                    </tr>&ndash;&gt;
                    <tr class="m-datatable__row" *ngFor="let result of semester_result?.result; let ind=index">
                      <td data-field="Data Index"><span>{{ind+1}}</span></td>
                      <td>{{result?.curriculum_course?.title}}</td>
                      <td>{{result?.curriculum_course?.code}}</td>
                      <td>{{result?.type}}</td>
                      <td>{{result?.cu}}</td>
                      <td>{{result?.ca}}</td>
                      <td>{{result?.exam}}</td>
                      <td [ngStyle]="setGradeColor(result?.score)">{{result?.score}}</td>
                      <td [ngStyle]="setGradeColor(result?.score)">{{result?.grade}}</td>
                    </tr>
                    <tr>
                      <td><i>TC</i></td>
                      <td><i>TWGP</i></td>
                      <td colspan="2"><i>GPA</i></td>
                      <td colspan="2"><i>CTC</i></td>
                      <td colspan="2"><i>CTWGP</i></td>
                      <td><i>CGPA</i></td>
                    </tr>
                    <tr>
                      <td>{{ computeStuff(semester_result?.result, 'cu') }}</td>
                      <td>{{ computeStuff(semester_result?.result, 'cp') }}</td>
                      <td colspan="2">{{ (computeStuff(semester_result?.result, 'cp') / computeStuff(semester_result?.result, 'cu')) | number : '1.1-2'}}</td>
                      <td colspan="2">{{ semester_result?.current_tc }}</td>
                      <td colspan="2">{{ semester_result?.current_twgp }}</td>
                      <td>{{ (semester_result?.current_twgp / semester_result?.current_tc) | number : '1.1-2' }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              &lt;!&ndash;<div>
                <div class="row mb-4">
                  <div class="col">
                    Session: <b class="ml-3">{{ allViewedResults?.last_registration?.session_name || allViewedResults?.last_registration?.session_year }}</b>
                  </div>
                  <div class="col">
                    Level: <b class="ml-3">{{ allViewedResults?.last_registration?.level?.name }}</b>
                  </div>
                  <div class="col">
                    Semester: <b class="ml-3">{{ allViewedResults?.last_registration?.semesterName }}</b>
                  </div>
                </div>
                <table class="table table-hover table-striped table-bordered">
                  <thead class="">
                  <tr class="m-datatable__row">
                    <th>#</th>
                    <th>Course Title</th>
                    <th>Course Code</th>
                    <th>Course Type</th>
                    <th>Course Credit</th>
                    <th>CA</th>
                    <th>Exam</th>
                    <th>Total Score</th>
                    <th>Grade</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  &lt;!&ndash;<tr class="m-datatable__row" *ngIf="(allViewedResults.length === 0) && (!loadingResult)">
                    <td class="text-center" colspan="10">No results were found for {{viewedStudent?.first_name}}</td>
                  </tr>&ndash;&gt;
                  <tr class="m-datatable__row" *ngFor="let result of allViewedResults?.result; let ind=index">
                    <td data-field="Data Index"><span>{{ind+1}}</span></td>
                    <td>{{result?.curriculum_course?.title}}</td>
                    <td>{{result?.curriculum_course?.code}}</td>
                    <td>{{result?.type}}</td>
                    <td>{{result?.cu}}</td>
                    <td>{{result?.ca}}</td>
                    <td>{{result?.exam}}</td>
                    <td [ngStyle]="setGradeColor(result?.score)">{{result?.score}}</td>
                    <td [ngStyle]="setGradeColor(result?.score)">{{result?.grade}}</td>
                    <td [ngStyle]="setGradeColor(result?.score)">
                      {{result?.status | uppercase}}
                    </td>
                  </tr>
                  </tbody>
                </table>
                <table class="table table-sm black-text text-center">
                  <tr>
                    <th><b>TC</b></th>
                    <th><b>TWGP</b></th>
                    <th><b>GPA</b></th>
                    <th><b>CTC</b></th>
                    <th><b>CTWGP</b></th>
                    <th><b>CGPA</b></th>
                  </tr>
                  <tr>
                    <td>{{ allViewedResults?.tcp }}</td>
                    <td>{{ allViewedResults?.twgp }}</td>
                    <td>{{ allViewedResults?.cgpa_current | number : '1.1-2' }}</td>
                    <td>{{ allViewedResults?.tcp_prev }}</td>
                    <td>{{ allViewedResults?.twgp_prev }}</td>
                    <td>{{ allViewedResults?.cgpa | number : '1.1-2' }}</td>
                  </tr>
                </table>
              </div>&ndash;&gt;
            </div>
          </div>
          <div class="col-sm-1"></div>
          <button class="btn btn-accent m-btn&#45;&#45;pill m-btn&#45;&#45;air float-right mr-3 ml-auto"
                  *ngIf="showResults" [disabled]="load.printing"
                  (click)="almightyPrint('transcript', viewedStudent.last_name + '\'s Transcript')">
            <i class="la la-print"></i>
            Print
          </button>
        </div>
      </div>-->
      <div class="tab-pane" id="results" role="tabpanel">
        <div class="col-4">
          <button class="btn btn-accent m-btn--pill m-btn--air btn-sm" (click)="getStudentResult()"
                  [disabled]="loadingResult" type="button">
            Get Results
            <span *ngIf="loadingResult">&nbsp;&nbsp;<i class="m-loader m-loader--light"></i></span>
          </button>
          <button class="btn btn-accent m-btn--pill m-btn--air btn-sm" (click)="getStudentResult(true)"
                  [disabled]="loadingResult" type="button">
            Get Transcripts
            <span *ngIf="loadingResult">&nbsp;&nbsp;<i class="m-loader m-loader--light"></i></span>
          </button>
        </div>
        <br>
        <br>
        <span class="small-margin"></span>
        <span class="small-margin"></span>
        <div id="parenttranscript">
          <div class="row">
            <div class="col-sm-10 offset-sm-1" id="transcript">
              <div *ngIf="showResults">
                <div class="row">
                  <div class="col-12 headered head" style="">
                    <h3 class="text-center text-uppercase">
                      {{(appSettings?.name | uppercase)}}
                    </h3>
                    <p class="text-center">{{(appSettings?.settings?.subtitle | uppercase)}}</p>
                  </div>
                </div>
                <span class="small-margin"></span>
                <hr>
                <div class="row">
                  <div class="col-4 vice">
                    <p class="text-uppercase vice1"> <b>Vice Chancellor</b></p>
                    <p class="vice2">{{appSettings?.settings?.vc_name}}</p>
                    <p class="text-uppercase vice1 mt-3"> <b> Registrar </b></p>
                    <p class="registrar3" style="font-weight: normal !important;">{{appSettings?.settings?.registrar_name}}</p>

                  </div>
                  <div class="col-4 m--img-centered">
                    <img [src]="appSettings?.settings?.logo || 'assets/images/logos/Fav.png'" class="logo-img unilogo" alt="University Logo">
                    <!--<img src="assets/images/logos/Fav.png" *ngIf="!appSettings?.settings.logo" style="max-width: 100%; height: auto; margin-top: 100px">-->
                  </div>
                  <div class="col-1">
                  </div>
                  <div class="col-3 registrar">
                    <p class="text-uppercase registrar1"> <b> Office of the Registrar </b></p>
                    <p class="registrar3">{{appSettings?.settings?.registrar_name}}</p>
                    <!--<p>Dr. Makanjuola</p>-->
                  </div>
                </div>
                <span class="small-margin"></span>
                <hr>
                <div class="row">
                  <div class="col-3 vice">
                    <div *ngIf="result_is_transcript">
                      <p class="text-uppercase vice3"> <b> DESTINATION ADDRESS </b></p>
                      <div contenteditable="true" class="destination-add" style="font-weight: lighter;">

                      </div>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <h3 *ngIf="!result_is_transcript" class="text-center mt-4 academic"> STUDENT ACADEMIC RECORD</h3>
                    <h3 *ngIf="result_is_transcript" class="text-center mt-4 transcript">TRANSCRIPT OF STUDENT ACADEMIC RECORD</h3>
                    <!--<img src="assets/images/logos/Fav.png" *ngIf="!appSettings?.settings.logo" style="max-width: 100%; height: auto; margin-top: 100px">-->
                  </div>
                  <div class="col-2 registrar">
                    <img class="logo-img text-right female" [src]="viewedStudent?.passport ? viewedStudent?.passport : ((viewedStudent?.gender.toLowerCase()) === 'male' ? 'assets/images/users/blank_male.jpg' : 'assets/images/users/blank_female.jpg')">
                    <!--<p>Dr. Makanjuola</p>-->
                  </div>
                </div>
                <span class="small-margin"></span>

                <div class="my-4 mb-5 details">
                  <div class="row border py-2">
                    <div class="col-md-6 col-sm-6 col-xs-12 row">
                      <div class="col-5">NAME: </div>
                      <b class="col-7">
                        {{ viewedStudent?.last_name }}
                        {{ viewedStudent?.first_name }}
                        {{ viewedStudent?.other_names }}
                      </b>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 row">
                      <div class="col-5"> MATRIC NUMBER:</div>
                      <b class="col-7">{{ viewedStudent?.matric_no }}</b>
                    </div>
                  </div>
                  <div class="row border py-2">
                    <div class="col-md-6 col-sm-6 col-xs-12 row">
                      <div class="col-5">FACULTY: </div>
                      <b class="col-7">{{ viewedStudent?.course_of_study?.department?.faculty?.name }}</b>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 row">
                      <div class="col-5">DEPARTMENT:</div>
                      <b class="col-7">{{ viewedStudent?.course_of_study?.department?.name }}</b>
                    </div>
                  </div>
                  <div class="row border py-2">
                    <div class="col-md-6 col-sm-6 col-xs-12 row">
                      <div class="col-5">PROGRAMME:</div>
                      <b class="col-7 study">{{ viewedStudent?.course_of_study?.degree?.name }}, {{ viewedStudent?.course_of_study?.name }}</b>
                    </div>
                  </div>
                </div>
                <div class="mb-4 pb-3 border-bottom mr-2 ml-2" *ngFor="let session_results of allViewedResults">
                  <div class="mb-5 pb-3" *ngFor="let semester_result of session_results?.semestersData">
                    <div class="row mb-4" *ngIf="semester_result?.result[0] && semester_result?.result[0].id">
                      <div class="col">
                        Session: <b class="ml-2">{{ session_results?.session?.session_name }}</b>
                      </div>
                      <div class="col">
                        Level: <b class="ml-2">{{ session_results?.current_level || session_results?.level?.name }}</b>
                      </div>
                      <div class="col">
                        Semester: <b class="ml-2">{{ semester_result?.semester_info?.name }}</b>
                      </div>
                    </div>
                    <table class="table table-hover table-striped table-bordered stripes" *ngIf="semester_result?.result[0] && semester_result?.result[0].id">
                      <thead class="m-datatable__head">
                      <tr class="tablehead">
                        <th><b>#</b></th>
                        <th><b>Course Title</b></th>
                        <th><b>Course Code</b></th>
                        <th><b>Course Type</b></th>
                        <th><b>Course Credit</b></th>
                        <th><b>CA</b></th>
                        <th><b>Exam</b></th>
                        <th><b>Total Score</b></th>
                        <th><b>Grade</b></th>
                      </tr>
                      </thead>
                      <tbody>
                      <!--<tr class="m-datatable__row" *ngIf="(allViewedResults.length === 0) && (!loadingResult)">
                        <td class="text-center" colspan="10">No results were found for {{viewedStudent?.first_name}}</td>
                      </tr>-->
                      <tr class="m-datatable__row datarows" *ngFor="let result of semester_result?.result; let ind=index" [style]="ind%2 == 0? 'background-color: #a9a9a9 !important;': ''">
                        <td data-field="Data Index"><span>{{ind+1}}</span></td>
                        <td>{{result?.curriculum_course?.title}}</td>
                        <td>{{result?.curriculum_course?.code}}</td>
                        <td class="type">{{result?.type}}</td>
                        <td>{{result?.cu}}</td>
                        <td>{{ result?.score ? result?.ca : 'RNA' }}</td>
                        <td>{{ result?.score ? result?.exam : 'RNA' }}</td>
                        <td [ngStyle]="setGradeColor(result?.score)">{{ result?.score ? result?.score : 'RNA' }}</td>
                        <td [ngStyle]="setGradeColor(result?.score)">{{ result?.score ? result?.grade : 'RNA' }}</td>
                      </tr>
                      <tr class="tablerow">
                        <td><i>TC</i></td>
                        <td><i>TWGP</i></td>
                        <td colspan="2"><i>GPA</i></td>
                        <td colspan="2"><i>CTC</i></td>
                        <td colspan="2"><i>CTWGP</i></td>
                        <td><i>CGPA</i></td>
                      </tr>
                      <tr  class="tablerow">
                        <td>{{ computeStuff(semester_result?.result, 'cu') }}</td>
                        <td>{{ computeStuff(semester_result?.result, 'cp') }}</td>
                        <td colspan="2">{{ (computeStuff(semester_result?.result, 'cp') / computeStuff(semester_result?.result, 'cu')) | number : '1.1-2'}}</td>
                        <td colspan="2">{{ semester_result?.current_tc }}</td>
                        <td colspan="2">{{ semester_result?.current_twgp }}</td>
                        <td>{{ (semester_result?.current_twgp / semester_result?.current_tc) | number : '1.1-2' }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--<div>
                  <div class="row mb-4">
                    <div class="col">
                      Session: <b class="ml-3">{{ allViewedResults?.last_registration?.session_name || allViewedResults?.last_registration?.session_year }}</b>
                    </div>
                    <div class="col">
                      Level: <b class="ml-3">{{ allViewedResults?.last_registration?.level?.name }}</b>
                    </div>
                    <div class="col">
                      Semester: <b class="ml-3">{{ allViewedResults?.last_registration?.semesterName }}</b>
                    </div>
                  </div>
                  <table class="table table-hover table-striped table-bordered">
                    <thead class="">
                    <tr class="m-datatable__row">
                      <th>#</th>
                      <th>Course Title</th>
                      <th>Course Code</th>
                      <th>Course Type</th>
                      <th>Course Credit</th>
                      <th>CA</th>
                      <th>Exam</th>
                      <th>Total Score</th>
                      <th>Grade</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    &lt;!&ndash;<tr class="m-datatable__row" *ngIf="(allViewedResults.length === 0) && (!loadingResult)">
                      <td class="text-center" colspan="10">No results were found for {{viewedStudent?.first_name}}</td>
                    </tr>&ndash;&gt;
                    <tr class="m-datatable__row" *ngFor="let result of allViewedResults?.result; let ind=index">
                      <td data-field="Data Index"><span>{{ind+1}}</span></td>
                      <td>{{result?.curriculum_course?.title}}</td>
                      <td>{{result?.curriculum_course?.code}}</td>
                      <td>{{result?.type}}</td>
                      <td>{{result?.cu}}</td>
                      <td>{{result?.ca}}</td>
                      <td>{{result?.exam}}</td>
                      <td [ngStyle]="setGradeColor(result?.score)">{{result?.score}}</td>
                      <td [ngStyle]="setGradeColor(result?.score)">{{result?.grade}}</td>
                      <td [ngStyle]="setGradeColor(result?.score)">
                        {{result?.status | uppercase}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table class="table table-sm black-text text-center">
                    <tr>
                      <th><b>TC</b></th>
                      <th><b>TWGP</b></th>
                      <th><b>GPA</b></th>
                      <th><b>CTC</b></th>
                      <th><b>CTWGP</b></th>
                      <th><b>CGPA</b></th>
                    </tr>
                    <tr>
                      <td>{{ allViewedResults?.tcp }}</td>
                      <td>{{ allViewedResults?.twgp }}</td>
                      <td>{{ allViewedResults?.cgpa_current | number : '1.1-2' }}</td>
                      <td>{{ allViewedResults?.tcp_prev }}</td>
                      <td>{{ allViewedResults?.twgp_prev }}</td>
                      <td>{{ allViewedResults?.cgpa | number : '1.1-2' }}</td>
                    </tr>
                  </table>
                </div>-->
              </div>
            </div>

            <div class="col-sm-1"></div>
          </div>
          <div class="row mt-5" *ngIf="showResults && result_is_transcript">
            <div class="col-3">
            </div>
            <div class="col-6 text-center">
              <hr>
              <h4 class="mb-0"> {{appSettings?.settings?.deputy_registrar_name}} </h4>
              <h5 class="mb-0"> Deputy Registrar </h5>
              <small> For: Registrar </small>
            </div>
            <div class="col-3">
            </div>
          </div>
          <!--ABBREVIATIONS-->
          <div class="m-demo abbr-demo mt-3" *ngIf="showResults">
            <div class="m-demo__preview">
              <div class="m-list-search">
                <div class="m-list-search__results">
                        <span class="m-list-search__result-category m-list-search__result-category--first abbr" style="font-size: 20px;">
                          Abbreviations
                        </span>
                  <div class="row">
                    <div class="col-4" *ngFor="let abbr of abbreviations">
                            <span class="m-list-search__result-item m-list-search__result-item-text">
                              {{ abbr.short }} - {{ abbr.long }}.
                            </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3" *ngIf="showResults">
            <div class="col-6">
              <table class="table table-responsive-md table-bordered table-striped table-hover text-center" style="width: 100%;">
                <thead>
                <tr>
                  <th colspan="2" class="text-center" style="background-color: rgb(6, 210, 57);">Key to Grades</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cgpa_config of viewedStudent?.grading?.grades">
                  <td>{{ cgpa_config?.key }}</td>
                  <td>{{ cgpa_config?.value?.score?.min }}% - {{ cgpa_config?.value?.score?.max }}%</td>
                </tr>
                </tbody>
              </table>
            </div><!--Key to Grades-->
            <div class="col-6">
              <table class="table table-responsive-md table-bordered table-striped table-hover" style="width: 100%;">
                <thead>
                <tr>
                  <th colspan="2" class="text-center" style="background-color: rgb(6, 210, 57);">Classification of Degree</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cgpa_config of viewedStudent?.grading?.degree_class">
                  <td>{{ cgpa_config?.key }}</td>
                  <td>{{ cgpa_config?.value[0] }} - {{ cgpa_config?.value[1] }}</td>
                </tr>
                </tbody>
              </table>
            </div><!--Classification of Degree-->
          </div>
        </div>
        <div class="row">
          <button class="btn btn-accent m-btn--pill m-btn--air float-right mr-3 ml-auto"
                  *ngIf="showResults" [disabled]="load.printing"
                  (click)="almightyPrint('parenttranscript', viewedStudent.last_name + '\'s Transcript')">
            <i class="la la-print"></i>
            Print
          </button>
        </div>
      </div>

      <div class="tab-pane" id="academic_info" role="tabpanel">
        <div class="row">
          <div class="col-6 card">
            <div class="row" style="padding-top: 10px">
              <div class="col-3">
                <label>
                  Matric No:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.matric_no || '----'}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Mode of Entry:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.mode_of_entry || '----'}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Programme:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.course_of_study?.degree?.programme?.name || '----'}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Degree:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.course_of_study?.degree?.name || '----'}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  {{facultyName}}:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.course_of_study?.department?.faculty?.name || '----'}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Department:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.course_of_study?.department?.name || '----'}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Course of Study:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.course_of_study?.name || '----'}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Level:
                </label>
              </div>
              <div class="col-9">
                {{viewedStudent?.level?.name || '----'}}
              </div>
            </div>
            <hr>

          </div>


        </div>
      </div>
      <div class="tab-pane" id="course_reg" role="tabpanel">
        <form [formGroup]="courseRegForm">
          <div class="row my-3 py-2">
            <div class="col-6 row">
              <div class="col-4">
                <label>Session</label>
                <select class="form-control" (change)="getSessionSemesters($event.target.value)" formControlName="session">
                  <option value=""></option>
                  <option [value]="session?.session_id" *ngFor="let session of viewedStudent?.registrations">
                    {{ session?.session_name || session?.session_year }}
                  </option>
                </select>
              </div>
              <div class="col-4">
                <label>Semester</label>
                <i class="m-loader m-loader--brand" *ngIf="load.getting_session"></i>
                <select class="form-control" formControlName="semester">
                  <option value=""></option>
                  <option [value]="semester?.semester" *ngFor="let semester of courses?.current_session?.session_semesters">
                    {{ semester?.name }}
                  </option>
                </select>
              </div>
              <div class="col-4">
                <button class="btn btn-accent m-btn--pill m-btn--air btn-sm mt-4" (click)="staffListStudentCourses()">
                  Submit
                  <ng-container *ngIf="courses.loading">
                    &nbsp;&nbsp;
                    <i class="m-loader m-loader--light"></i>
                  </ng-container>
                </button>
              </div>
            </div>
          </div>
        </form>
        <table class="table table-striped table-bordered table-advance table-hover black-th"
               *ngIf="courses?.previous_courses?.length || courses?.to_register?.length || courses?.carry_over?.length || courses?.registered?.length">
          <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Code</th>
            <th>Type</th>
            <th>Credit</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <!--Normal Courses-->
          <tr *ngIf="courses?.to_register?.length">
            <th colspan="6" class="text-center">Pending Courses to Register</th>
          </tr>
          <tr *ngFor="let course of courses?.to_register; let i = index">
            <td>{{i+1}}</td>
            <td>{{course?.title}}</td>
            <td>{{course?.code}}</td>
            <td>{{course?.typeName}}</td>
            <td>{{course?.unit}}</td>
            <td>
              <input title="{{ course?.title }}" type="checkbox" (change)="selectCourse(course, $event)">
            </td>
          </tr>
          <!--Previous Level Courses-->
          <tr *ngIf="courses?.previous_courses?.length">
            <td colspan="6">
              <button class="float-right btn btn-sm btn-accent"
                 (click)="addMore = !addMore">
                {{ (addMore) ? 'Hide courses for previous levels' : 'Show courses for previous levels' }}
              </button>
            </td>
          </tr>
          <ng-container *ngIf="addMore">
            <tr *ngFor="let course of courses?.previous_courses; let i = index">
              <td>{{i+1}}</td>
              <td>{{course?.title}}</td>
              <td>{{course?.code}}</td>
              <td>{{course?.typeName}}</td>
              <td>{{course?.unit}}</td>
              <td>
                <input type="checkbox" (change)="selectCourse(course, $event)">
              </td>
            </tr>
          </ng-container>
          <!--Carry Over-->
          <tr *ngIf="courses?.carry_over?.length">
            <th colspan="6" class="text-center">Carry Over Courses</th>
          </tr>
          <tr *ngFor="let course of courses?.carry_over; let i = index">
            <td>{{i+1}}</td>
            <td>{{course?.title}}</td>
            <td>{{course?.code}}</td>
            <td>{{course?.typeName}}</td>
            <td>{{course?.unit}}</td>
            <td>
              <input type="checkbox" (change)="selectCourse(course, $event)">
            </td>
          </tr>
          <!--Registered-->
          <tr *ngIf="courses?.registered?.length">
            <th colspan="6" class="text-center">Registered Courses</th>
          </tr>
          <tr *ngFor="let course of courses?.registered; let i = index">
            <td>{{i+1}}</td>
            <td>{{course?.title}}</td>
            <td>{{course?.code}}</td>
            <td>{{course?.typeName}}</td>
            <td>{{course?.unit}}</td>
            <td>
              <input type="checkbox" checked (change)="unSelectCourse(course, i, $event)">
            </td>
          </tr>
          <tr *ngIf="courses?.to_register?.length > 0">
            <td>&nbsp;</td>
            <td>Total Units</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="align-middle">{{courses?.total_unit}}</td>
            <td>&nbsp;
              <button class="btn btn-accent m-btn--pill m-btn--air btn-sm" (click)="registerCourses()"
                      [disabled]="courses?.registered_ids?.length === 0"><!--*ngIf="courses?.registered_ids?.length > 0"-->
                Register
                <ng-container *ngIf="courses.registering">
                  &nbsp;&nbsp;
                  <i class="m-loader m-loader--light"></i>
                </ng-container>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="tab-pane" id="exception" role="tabpanel">
        <h4>Create {{viewedStudent?.first_name}}'s Exception </h4>
        <form [formGroup]="createStudentExceptionForm" (ngSubmit)="createStudentException()">
          <div class="row">
            <div class="col-6 card">
              <div class="row" style="padding-top: 10px">
                <div class="col-3">
                  <label class="label">
                    Type of Exception:
                  </label>
                </div>
                <div class="col-9">
                  <select formControlName="type" class="form-control m-input--air">
                    <option value="" disabled>Exception Type</option>
                    <option value="registration">Registration</option>
                    <option value="fee" disabled>Fee</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-3">
                  <label class="label">Session Year: </label>
                </div>
                <div class="col-9">
                  <!--<select class="form-control m-input&#45;&#45;air" formControlName="session_year"-->
                          <!--id="sessionYear">-->
                    <!--<option value="" disabled>Select Session Year</option>-->
                    <!--<option *ngFor="let session of allSessions; let ind=index"-->
                            <!--value="{{session?.year}}">-->
                      <!--{{session?.year}}-->
                    <!--</option>-->
                  <!--</select>-->
                  <input class="form-control" type="number" formControlName="session_year" placeholder="Select Session Year">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-3">
                  <label class="label">Status:</label>
                </div>
                <div class="col-9">
                  <select formControlName="status" class="form-control m-input--air">
                    <option disabled value="">Select Status</option>
                    <option value="0">Disallow</option>
                    <option value="1">Allow</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6">
                  <button type="submit" class="m-btn m-btn--pill btn btn-accent m-btn--air float-right">
                    Submit
                    <span *ngIf="load?.requesting?.create">
                      &nbsp; &nbsp;<i class="m-loader m-loader--brand"></i>
                    </span>
                  </button>
                </div>
              </div>
              <br>

            </div>


          </div>
        </form>
      </div>
      <div class="tab-pane" id="transfer" role="tabpanel">
        <h4>Transfer {{viewedStudent?.first_name}} </h4>
        <form [formGroup]="transferStudentForm" (ngSubmit)="transferCurrentStudent()">
          <div class="row">
            <div class="col-6 card">
              <div class="row" style="padding-top: 10px">
                <div class="col-3">
                  <label>
                    Transfer to:
                  </label>
                </div>
                <div class="col-9">
                  <select class="form-control m-input--air" formControlName="to_course_id">
                    <option value="" disabled>
                      Select Destination Course of Study
                    </option>
                    <option value="{{courseOfStudy.id}}"
                            *ngFor="let courseOfStudy of allCourses">
                      {{courseOfStudy.name}}
                    </option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-3">
                  <label>
                    New Level:
                  </label>
                </div>
                <div class="col-9">
                  <select class="form-control m-input--air" formControlName="to_level_id">
                    <option value="" disabled>
                      Select New Level
                    </option>
                    <option value="{{level.id}}"
                            *ngFor="let level of allLevels">
                      {{level.name }}
                    </option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-8">

                </div>
                <div class="col-4">
                  <button type="submit" class="m-btn m-btn--pill btn btn-success btn-xs">
                    Submit &nbsp; <i class="m-loader m-loader--brand"
                                     *ngIf="load?.requesting?.create"></i>
                  </button>
                </div>
              </div>
              <br>

            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane" id="fee_assignment" role="tabpanel">
        <h4>Assign fee to {{viewedStudent?.first_name}} </h4>
        <form [formGroup]="assignFeeToStudentForm" (ngSubmit)="assignFeeToCurrentStudent()">
          <div class="row">
            <div class="col-6 card">
              <div class="row" style="padding-top: 10px">
                <div class="col-3">
                  <label>
                    Amount:
                  </label>
                </div>
                <div class="col-9">
                  <input class="form-control" formControlName="amount"
                         type="number"
                         placeholder="Fee Amount">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-3">
                  <label>
                    Fee Item:
                  </label>
                </div>
                <div class="col-9">
                  <select class="form-control " formControlName="fee_item_id">
                    <option value="" disabled>
                      Select Fee Item
                    </option>

                    <option *ngFor="let feeItem of allFeeItems; let ind=index"
                            value="{{feeItem?.id}}">
                      {{feeItem.name}}
                    </option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-3">
                  <label>
                    Session:
                  </label>
                </div>
                <div class="col-9">
                  <select class="form-control " formControlName="session_year" id="session_year">
                    <option value="" disabled>
                      Select Session Year
                    </option>
                    <option
                      *ngFor="let session of allSessions; let ind=index"
                      value="{{session?.year}}">
                      {{session?.name || session?.year}}
                    </option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-8">

                </div>
                <div class="col-4">
                  <button class="m-btn m-btn--pill btn btn-accent m-btn--air btn-xs">
                    Submit&nbsp; <i class="m-loader m-loader--brand"
                                    *ngIf="load?.requesting?.create"></i>
                  </button>
                </div>
              </div>
              <br>

            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane" id="m_tabs_6_12" role="tabpanel">
        <div class="card mt-5 mr-5">
          <h6 *ngIf="showPasscode" class="text-center">
            One Time Pass Code: {{oneTimePassCode}}
          </h6>

          <h6 *ngIf="!showPasscode" class="text-center">
            No Pass Code Exists for this Student
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
