<div id="createAcceptanceFee" class="modal fade" role="dialog">
  <form [formGroup]="createAcceptanceFeeForm" (ngSubmit)="createAcceptanceFee()">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create Acceptance Fee</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','createAcceptanceFee')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">

                <label for="schooldomain">Programme:</label>
                <select class="form-control" #setProgramme id="country"
                        (change)="getSessionsByProgrammeId(setProgramme.value)"
                        formControlName="programme_id">
                  <option value="" disabled>Select Programme</option>
                  <option *ngFor="let programme of allProgrammes; let ind=index"
                          value="{{programme?.id}}">
                    {{programme?.name}}
                  </option>
                </select>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12">

                <label for="schooldomain">Session Year: <i class="m-loader m-loader--brand"
                                                           *ngIf="loadSessions"></i></label>
                <select class="form-control" formControlName="session_id" id="country">
                  <option value="" disabled>Select Session Year</option>
                  <option *ngFor="let session of allSessions; let ind=index"
                          value="{{session?.id}}">
                    {{session?.name || session?.year}}
                  </option>
                </select>


                <!--  -->
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="course">Faculty:</label>
                <select class="form-control" #setfaculty formControlName="faculty_id" id="faculty"
                        (change)="getDepartmentByByFacultyId(setfaculty.value)">
                  <option value="" disabled>Select Faculty</option>
                  <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">
                    {{faculty.name}}
                  </option>
                </select>


              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="department">Department:</label>
                <i class="m-loader m-loader--right m-loader--brand"
                   *ngIf="load.departments.loading"></i>
                <select class="form-control" #setdeprtmnt formControlName="department_id"
                        id="department"
                        (change)="getCourseByDepartmentId(setdeprtmnt.value)"
                        [disabled]="!load.departments.list || load.departments.loading">
                  <option value="" disabled>Select Department</option>
                  <option *ngFor="let department of allDepartments; let ind=index"
                          value="{{department.id}}">{{department.name}}
                  </option>
                </select>


              </div>


            </div>


            <div class="row">
              <div class="col-md-12">
                <label for="schooldomain">Amount:</label>
                <input class="form-control" id="domain" formControlName="amount" type="number"
                       placeholder="Amount">

              </div>


            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-sm"
                  [disabled]="createAcceptanceFeeForm.invalid || load.requesting.create">
            {{load.message.create}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>

          <button type="button" class="btn btn-danger btn-sm"
                  (click)="triggerModalOrOverlay('close','createAcceptanceFee')">Close
          </button>

        </div>
      </div>
    </div>
  </form>
</div>

<div id="updateAcceptanceFee" class="modal fade" role="dialog">
  <form [formGroup]="updateAcceptanceFeeForm" (ngSubmit)="updateAcceptanceFee()">

    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Update {{updatedAcceptanceFee?.programme?.name}}
            {{updatedAcceptanceFee?.session?.name}}</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateAcceptanceFee')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">

                <label for="schooldomain">Programme:</label>
                <select class="form-control" #Programme id="country"
                        (change)="getSessionsByProgrammeId(Programme.value)"
                        formControlName="programme_id">
                  <option value="" disabled>Select Programme</option>
                  <option *ngFor="let programme of allProgrammes; let ind=index"
                          value="{{programme?.id}}">
                    {{programme?.name}}
                  </option>
                </select>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12">

                <label for="schooldomain">Session Year: <i class="m-loader m-loader--brand"
                                                           *ngIf="loadSessions"></i></label>
                <select class="form-control" formControlName="session_id" id="country">
                  <option value="" disabled>Select Session Year</option>
                  <option *ngFor="let session of allSessions; let ind=index"
                          value="{{session?.id}}">
                    {{session?.name || session?.year}}
                  </option>
                </select>


                <!--  -->
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="course">Faculty:</label>
                <select class="form-control" #faculty formControlName="faculty_id" id="faculty"
                        (change)="getDepartmentByByFacultyId(faculty.value)">
                  <option value="" disabled>Select Faculty</option>
                  <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">
                    {{faculty.name}}
                  </option>
                </select>


              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="department">Department:</label>
                <i class="m-loader m-loader--right m-loader--brand"
                   *ngIf="load.departments.loading"></i>
                <select class="form-control" #deprtmnt formControlName="department_id"
                        id="department"
                        (change)="getCourseByDepartmentId(deprtmnt.value)"
                        [disabled]="!load.departments.list || load.departments.loading">
                  <option value="" disabled>Select Department</option>
                  <option *ngFor="let department of allDepartments; let ind=index"
                          value="{{department.id}}">{{department.name}}
                  </option>
                </select>


              </div>


            </div>


            <div class="row">
              <div class="col-md-12">
                <label for="schooldomain">Amount:</label>
                <input class="form-control" id="domain" formControlName="amount" type="number"
                       placeholder="Amount">

              </div>


            </div>

          </div>
        </div>
        <div class="modal-footer">

          <button type="submit" class="btn btn-success btn-sm"
                  [disabled]="updateAcceptanceFeeForm.invalid || load.requesting.create">
            {{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>


          <button type="button" class="btn btn-danger btn-sm"
                  (click)="triggerModalOrOverlay('close','updateAcceptanceFee')">Close
          </button>


        </div>

      </div>
    </div>


  </form>
</div>


<div class="m-portlet m-portlet--mobile ">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Acceptance Fees
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item"
            *ngIf="iAmPermitted('school.admission.applicant-acceptance-fee.store_acceptance_fee')">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"
             (click)="triggerModalOrOverlay('open','createAcceptanceFee')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Create Acceptance Fee
														</span>
													</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body table-responsive">
    <div class="m_datatable m-datatable m-datatable--default m-datatable--scroll m-datatable--loaded"
         id="m_datatable_latest_orders">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="table table-hover table-striped table-sm m-table--head-bg-brand" id="html_table">
        <thead class="m-datatable__head">
        <tr class="m-datatable__row">
          <th>#</th>
          <th>Programme</th>
          <th>Session</th>
          <th>Faculty</th>
          <th>Department</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="load.requesting.list || allAcceptanceFees.length===0" class="text-center">
          <td colspan="13" *ngIf="load.requesting.list">
            Fetching Acceptance Fees...
            <div class="m-loader m-loader--brand"></div>
          </td>
          <td colspan="13" *ngIf="!load.requesting.list && allAcceptanceFees.length===0">
            No Record Found
          </td>
        </tr>
        <tr *ngFor="let AcceptanceFee of allAcceptanceFees; let ind=index" [attr.data-row]="ind">
          <td>{{ind+1}}</td>
          <td>{{AcceptanceFee?.programme?.name || 'None Provided'}}</td>
          <td>{{AcceptanceFee?.session?.name || 'None Provided'}}</td>
          <td>{{AcceptanceFee?.faculty?.name || 'None Provided'}}</td>
          <td>{{AcceptanceFee?.department?.name || 'No Provided'}}</td>
          <td>{{AcceptanceFee?.amount |number}}</td>
          <td data-field="Type">
            <div class="dropdown ">
              <a href="#"
                 class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                 data-toggle="dropdown">
                <i class="la la-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right"
                   *ngIf="iAmPermitted('school.admission.applicant-acceptance-fee.update_acceptance_fee')">
                <a class="dropdown-item"
                   (click)="triggerModalOrOverlay('open','updateAcceptanceFee',ind)">
                  <i class="la la-edit"></i> Edit
                </a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


