<!-- Modal -->
<div id="openModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.formType}} {{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span>Name
              </label>
              <div class="col-8">
                <input class="form-control m-input" formControlName="name" type="text">
                <small class="text-danger" *ngIf="createForm.get('name').invalid && createForm.get('name').touched">
                    Name is Required
                </small>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> No. of Semester
              </label>
              <div class="col-8">
                <input class="form-control m-input" formControlName="semesters" type="number">
                <small class="text-danger" *ngIf="createForm.get('semesters').invalid && createForm.get('semesters').touched">
                    Semester is Required
                </small>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> CGPA Configuration
              </label>
              <div class="col-8">
                <select class="form-control m-input" formControlName="c_g_p_a_config_id" type="number">
                  <option></option>
                  <option *ngFor="let cgpa of allCgpaConfiguration" value="{{cgpa?.id}}">{{cgpa?.label || cgpa?.label_alt}}</option>
                </select>
                <small class="text-danger" *ngIf="createForm.get('c_g_p_a_config_id').invalid && createForm.get('c_g_p_a_config_id').touched">
                    CGPA configuration is Required
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="!feedBack.showUpdateButton" (click)="createFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal" [disabled]="feedBack.submitStatus || createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" *ngIf="feedBack.showUpdateButton" (click)="updateFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal" [disabled]="feedBack.submitStatus || createForm.invalid">
          Update <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->


<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.programme.create')">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="openModal()">
													<span>
														<i class="la la-plus"></i>
														<span>
															Programme
														</span>
													</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->      <!--begin: Datatable -->
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
           class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th class="serialnum">#</th>
        <th>Name</th>
        <th>Semester</th>
        <th>Default CGPA Config</th>
        <th>Created Date</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feedBack.allResponse; let i = index">
        <td scope="row">{{i + 1}}</td>
        <td>
          <a class="m-link m-link--focus m-login__account-link" [routerLink]="['/staff/config/programme', data?.id]">{{data?.name}}</a>
        </td>
        <td>{{data?.semesters}}</td>
        <td>{{data?.cgpa_config?.label || data?.cgpa_config?.label_alt}}</td>
        <td>{{data?.created_at | date}}</td>
        <td data-field="Type" class="m-datatable__cell">
          <div class="dropdown ">
            <a class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
              <i class="la la-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" (click)="onEdit(data)" *ngIf="iAmPermitted('school.programme.update')">
                <i class="la la-edit"></i> Edit
              </a>
            </div>
          </div>
        </td>
        <!--<td>-->
          <!--<button class="btn btn-info btn-xs" title="Edit Programme" *ngIf="iAmPermitted('school.programme.update')">-->
            <!--<i class="fa fa-eye" (click)="onView(data)"></i>-->
          <!--</button>-->
          <!--<button class="btn btn-primary btn-xs" title="View Programme" *ngIf="iAmPermitted('school.programme.view')">-->
            <!--<i class="fa fa-pencil" (click)="onEdit(data)"></i>-->
          <!--</button>-->
        <!--</td>-->

      </tr>
      <tr *ngIf="feedBack.loader || feedBack?.allResponse.length === 0">
        <td colspan="5" *ngIf="feedBack.loader">
          <div class="text-center">Loading {{feedBack?.moduleName}} <i
            class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="6" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>

    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>
</div>
