<div class=" ">
  <div class="d-flex align-items-center">
    <div class="mr-auto p-4">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Programme: {{ programme?.name}}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/staff" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/config" class="m-nav__link">
            <span class="m-nav__link-text">
              Configuration
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/config/programme" class="m-nav__link">
            <span class="m-nav__link-text">
              Programmes
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
            <span class="m-nav__link-text">
              {{ programme?.name}}
            </span>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Degrees
          <!--<small>portlet sub title</small>-->
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__head">
    <div class="m-portlet__head-tools">
      <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--left m-tabs-line--primary" role="tablist">
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link active" data-toggle="tab"
             href="#details" role="tab">
            Details
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link"
             data-toggle="tab"
             href="#level" role="tab">
            <i class="flaticon-share m--hide"></i>
            Level
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link" data-toggle="tab"
             href="#degree" role="tab">
            Degree
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link" data-toggle="tab"
             href="#cgpa" role="tab">
            CGPA
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link" data-toggle="tab"
             href="#sessions" role="tab">
            Session
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="">
      <!--<ul class="nav nav-tabs">-->
        <!--<li class="active"><a data-toggle="tab" href="#details">Details</a></li>-->
        <!--<li><a data-toggle="tab" href="#level">Level</a></li>-->
        <!--<li><a data-toggle="tab" href="#degree">Degree</a></li>-->
        <!--<li><a data-toggle="tab" href="#cgpa">CGPA</a></li>-->
        <!--<li><a data-toggle="tab" href="#sessions">Session</a></li>-->
      <!--</ul>-->

      <div class="tab-content col-xs-12 col-sm-6">
        <div id="details" class="tab-pane active">
          <div class="form-group m-form__group row text-center">
            <div class="col-6 col-form-label text-right">
              Name:
            </div>
            <div class="col-6 col-form-label text-left">
              {{programme?.name}}
            </div>
          </div>
          <div class="form-group m-form__group row text-center form-details-style">
            <div class="col-6 col-form-label text-right">
              No. of Semester:
            </div>
            <div class="col-6 col-form-label text-left">
              {{programme?.semesters}}
            </div>
          </div>
          <div class="form-group m-form__group row text-center form-details-style">
            <div class="col-6 col-form-label text-right">
              Current Semester:
            </div>
            <div class="col-6 col-form-label text-left">
              {{programme?.current_session?.current_semester?.name}}
            </div>
          </div>
          <div class="form-group m-form__group row text-center form-details-style">
            <div class="col-6 col-form-label text-right">
              Current Session:
            </div>
            <div class="col-6 col-form-label text-left">
              {{programme?.current_session?.year}}
            </div>
          </div>
        </div><!--Details-->
        <div id="level" class="tab-pane">
          <div class="m-portlet__body table-responsive">
            <!--end: Ss"></ Form -->      <!--begin: Datatable -->
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6">
                <button *ngIf="!showLevelForm" class="btn btn-accent m-btn--air btn my-2 pull-right" (click)="showLevelForm = !showLevelForm">
                  <i class="la la-plus"></i>
                  Add Level
                </button>
                <div class="d-inline-flex my-2" *ngIf="showLevelForm">
                  <input class="form-control m-input" placeholder="Name" name="newLevel" type="text" [(ngModel)]="newLevel.name">
                  <input class="form-control m-input" placeholder="Order" name="newLevel" type="number" [(ngModel)]="newLevel.order">
                  <button class="btn btn-accent m-btn--air btn-sm" (click)="addLevelToProgramme()">
                    Submit &nbsp;&nbsp;
                    <i class="m-loader m-loader--light" *ngIf="feedBack.addingLevel"></i>
                  </button>
                </div>
              </div>
            </div>
            <table class="table table-striped table-bordered">
              <thead class="thead-color">
              <tr>
                <th class="serialnum">#</th>
                <th>Name</th>
                <th>Order</th>
                <th>Created Date</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let level of programme?.levels; let i = index">
                <td scope="row">{{i + 1}}</td>
                <td>{{level?.name}}</td>
                <td>{{level?.order}}</td>
                <td>{{level?.created_at | date}}</td>
              </tr>
              <tr>
                <td colspan="4"
                    *ngIf="programme?.levels?.length === 0">
                  <div class="text-center">No Content Found</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div><!--Level-->
        <div id="degree" class="tab-pane">
          <div class="m-portlet__body table-responsive">
            <!--end: Ss"></ Form -->      <!--begin: Datatable -->
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6">
                <button *ngIf="!showForm" class="btn btn-accent m-btn--air btn my-2 pull-right" (click)="showForm = !showForm">
                  <i class="la la-plus"></i>
                  Add Degree
                </button>
                <div class="d-inline-flex my-2" *ngIf="showForm">
                  <input class="form-control m-input" placeholder="Name" name="newDegree" type="text" [(ngModel)]="newDegree">
                  <button class="btn btn-accent m-btn--air btn-sm" (click)="addDegreeToProgramme()">
                    Submit &nbsp;&nbsp;
                    <i class="m-loader m-loader--light" *ngIf="feedBack.addingDegree"></i>
                  </button>
                </div>
              </div>
            </div>
            <table class="table table-striped table-bordered">
              <thead class="thead-color">
              <tr>
                <th class="serialnum">#</th>
                <th>Name</th>
                <th>Created Date</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let degree of programme?.degrees; let i = index">
                <td scope="row">{{i + 1}}</td>
                <td>
                  {{degree?.name}}
                </td>
                <td>{{degree?.created_at | date}}</td>
              </tr>
              <tr>
                <td colspan="4"
                    *ngIf="programme?.degree?.length === 0">
                  <div class="text-center">No Content Found</div>
                </td>
              </tr>
              </tbody>
            </table>
            <!--end: Datatable -->
          </div>
        </div><!--Degree-->
        <div id="cgpa" class="tab-pane">
          <div class="m-portlet__body table-responsive">
            <!--end: Ss"></ Form -->      <!--begin: Datatable -->
            <table class="table table-striped table-bordered">
              <thead class="thead-color">
              <tr>
                <th class="serialnum">#</th>
                <th>Name</th>
                <th>Pass Mark</th>
                <th>Max Point</th>
                <!--<th>Degree Mark</th>-->
                <!--<th>Grade</th>-->
                <th>Created Date</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let cgpa of programme?.cgpa_configs; let i = index">
                <td scope="row">{{i + 1}}</td>
                <td>{{cgpa?.label || cgpa?.label_alt}}</td>
                <td>{{cgpa?.pass_mark?.score}}</td>
                <td>{{cgpa?.max_point}}</td>
                <!--<td></td>-->
                <!--<td></td>-->
                <td>{{cgpa?.created_at | date}}</td>
              </tr>
              <tr>
                <td colspan="6"
                    *ngIf="programme?.cgpa_configs?.length === 0">
                  <div class="text-center">No Content Found</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div><!--CGPA Configs-->
        <div id="sessions" class="tab-pane">
          <div class="m-portlet__body table-responsive">
            <!--end: Ss"></ Form -->      <!--begin: Datatable -->
            <table id="myTable" class="table table-striped table-bordered">
              <thead class="thead-color">
              <tr>
                <th class="serialnum">#</th>
                <th>Year</th>
                <th>Start date</th>
                <th>End date</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let session of programme?.sessions; let i = index">
                <td scope="row">{{i + 1}}</td>
                <td>
                  {{session?.name || session?.year}}
                </td>
                <td>{{session?.date_start || ''}}</td>
                <td>{{session?.date_end|| ''}}</td>
              </tr>
              <tr>
                <td colspan="4" *ngIf="programme?.sessions.length === 0">
                  <div class="text-center">No Content Found</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div><!--Sessions-->
      </div>
    </div>
  </div>
</div>
