<div class="m-page--wide m-aside-left--enabled m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- begin::Header -->
    <header class="m-grid__item		m-header " data-minimize="minimize" data-minimize-offset="200"
            data-minimize-mobile-offset="200">
      <div class="m-header__top">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- begin::Brand -->
            <div class="m-stack__item m-brand">
              <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                  <a href="/" class="m-brand__logo-wrapper">
                    <img alt="University Logo" [src]="appSettings['logo']" *ngIf="appSettings?.logo" style="width:auto; height: 90px" />

                    <img alt="University Logo" src="assets/images/logos/Fav.png" *ngIf="!appSettings?.logo" style="width:auto; height: 90px" />
                  </a>
                </div>
                <div style="text-align: center;margin-top: 2%; margin-left: 30%; position: absolute;">
                  <h2>{{schoolName}}</h2>
                </div>
              </div>
            </div>

            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
              <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                <div class="m-stack__item m-topbar__nav-wrapper">
                  <ul class="m-topbar__nav m-nav m-nav--inline">

                    <li
                            class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                            data-dropdown-toggle="click">
                      <a class="m-nav__link m-dropdown__toggle">
                    <span class="m-topbar__welcome">
                                          <a routerLink='/' class="btn btn-xs btn-warning">


                                            <span class="m-topbar__welcome" style="color:white">
                                           <i class="la la-chevron-left"></i> Home
                                            </span>

                      </a>

                    </span>
                        <span class="m-topbar__username">

                    </span>
                      </a>
                      <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                          <div class="m-dropdown__header m--align-center"
                               style="background: url(./assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                            <div class="m-card-user m-card-user--skin-dark">
                              <div class="m-card-user__pic">
                                <img src="./assets/app/media/img/users/user4.jpg"
                                     class="m--img-rounded m--marginless" alt=""/>
                              </div>
                              <div class="m-card-user__details">
                            <span class="m-card-user__name m--font-weight-500">

                            </span>
                                <a href="" class="m-card-user__email m--font-weight-300 m-link">

                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                              <ul class="m-nav m-nav--skin-light">
                                <li class="m-nav__section m--hide">
                              <span class="m-nav__section-text">
                                Section
                              </span>
                                </li>
                                <li class="m-nav__separator m-nav__separator--fit"></li>
                                <li class="m-nav__item">
                                  <a
                                     class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder"
                                  >
                                    Logout
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- end::Brand -->
            <!-- begin::Topbar -->

            <!-- end::Topbar -->
          </div>
        </div>
      </div>
      <div class="m-header__bottom" [ngStyle]="setHeaderColor()">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- begin::Horizontal Menu -->
            <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">


              <div id="m_header_menu"
                   class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                <h3 id="open_head">
                  Open Applications
                </h3>
              </div>
            </div>
            <!-- end::Horizontal Menu -->
            <!--begin::Search-->

            <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-"
                 id="m_quicksearch" data-search-type="default">
              <!--begin::Search Form -->
              <!--end::Search Form -->
              <!--begin::Search Results -->
              <div class="m-dropdown__wrapper">
                <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                <div class="m-dropdown__inner">
                  <div class="m-dropdown__body">
                    <div class="m-dropdown__scrollable m-scrollable" data-max-height="300"
                         data-mobile-max-height="200">
                      <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Search Results -->
            </div>
            <!--end::Search-->
          </div>
        </div>
      </div>
    </header>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
      <!-- BEGIN: Left Aside -->
      <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
        <i class="la la-close"></i>
      </button>
      <div id="m_aside_left" class="m-grid__item m-aside-left " disabled
           style="background-image: url(assets/images/users/books.jpg); background-size:contain; background-repeat: no-repeat; width: auto">
        <!-- BEGIN: Aside Menu -->
        <!--<div id="m_ver_menu" class="m-aside-menu  m-aside-menu&#45;&#45;skin-light m-aside-menu&#45;&#45;submenu-skin-light "-->
        <!--data-menu-vertical="true"-->
        <!--data-menu-scrollable="false" data-menu-dropdown-timeout="500">-->
        <!--<ul class="m-menu__nav  m-menu__nav&#45;&#45;dropdown-submenu-arrow ">-->
        <!--<li class="m-menu__section">-->
        <!--<h4 class="m-menu__section-text">-->
        <!--Departments-->
        <!--</h4>-->
        <!--<i class="m-menu__section-icon flaticon-more-v3"></i>-->
        <!--</li>-->
        <!--<li class="m-menu__item" aria-haspopup="true"-->
        <!--data-menu-submenu-toggle="hover">-->
        <!--<a routerLink="../applicant/profile" class="m-menu__link m-menu__toggle">-->
        <!--<i class="m-menu__link-bullet  la la-user">-->
        <!--<span></span>-->
        <!--</i>&nbsp;&nbsp;-->

        <!--<span class="m-menu__link-text">-->
        <!--&nbsp;-->
        <!--&nbsp;-->
        <!--&nbsp;-->
        <!--&nbsp;Profile-->
        <!--</span>-->
        <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
        <!--</a>-->
        <!--&lt;!&ndash;<div class="m-menu__submenu ">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__arrow"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="m-menu__subnav">&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item  m-menu__item&#45;&#45;parent" aria-haspopup="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Resources&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item " aria-haspopup="true" data-redirect="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="inner.html" class="m-menu__link ">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">&ndash;&gt;-->
        <!--&lt;!&ndash;<span></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</i>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Timesheet&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item " aria-haspopup="true" data-redirect="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="inner.html" class="m-menu__link ">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">&ndash;&gt;-->
        <!--&lt;!&ndash;<span></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</i>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Payroll&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item " aria-haspopup="true" data-redirect="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="inner.html" class="m-menu__link ">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">&ndash;&gt;-->
        <!--&lt;!&ndash;<span></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</i>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Contacts&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</li>-->
        <!--<li class="m-menu__item " aria-haspopup="true" data-redirect="true">-->
        <!--<a routerLink="../applicant/payment" class="m-menu__link ">-->
        <!--<i class="m-menu__link-bullet la la-money">-->
        <!--<span></span>-->
        <!--</i>&nbsp;&nbsp;-->

        <!--<span class="m-menu__link-text">-->
        <!--&nbsp;-->
        <!--&nbsp;-->
        <!--&nbsp;-->
        <!--&nbsp;	Payment-->
        <!--</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="m-menu__item" aria-haspopup="true"-->
        <!--data-menu-submenu-toggle="hover" data-redirect="true">-->
        <!--<a routerLink="../applicant/form" class="m-menu__link m-menu__toggle"-->
        <!--*ngIf="applicant?.hasPaid">-->
        <!--<i class="m-menu__link-bullet la la-book">-->
        <!--<span></span>-->
        <!--</i>&nbsp;&nbsp;-->

        <!--<span class="m-menu__link-text">-->
        <!--&nbsp;-->
        <!--&nbsp;-->
        <!--&nbsp;-->
        <!--&nbsp;	Form-->
        <!--</span>-->
        <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
        <!--</a>-->
        <!--&lt;!&ndash;<div class="m-menu__submenu ">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__arrow"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="m-menu__subnav">&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item  m-menu__item&#45;&#45;parent" aria-haspopup="true"&ndash;&gt;-->
        <!--&lt;!&ndash;data-redirect="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Support&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item " aria-haspopup="true" data-redirect="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="inner.html" class="m-menu__link ">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Reports&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item  m-menu__item&#45;&#45;submenu" aria-haspopup="true"&ndash;&gt;-->
        <!--&lt;!&ndash;data-menu-submenu-toggle="hover" data-redirect="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="#" class="m-menu__link m-menu__toggle">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Cases&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="m-menu__ver-arrow la la-angle-right"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="m-menu__submenu ">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__arrow"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="m-menu__subnav">&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item " aria-haspopup="true" data-redirect="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="inner.html" class="m-menu__link ">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Pending&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item " aria-haspopup="true" data-redirect="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="inner.html" class="m-menu__link ">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Urgent&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item " aria-haspopup="true" data-redirect="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="inner.html" class="m-menu__link ">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Done&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item " aria-haspopup="true" data-redirect="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="inner.html" class="m-menu__link ">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Archive&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item " aria-haspopup="true" data-redirect="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="inner.html" class="m-menu__link ">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Clients&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="m-menu__item " aria-haspopup="true" data-redirect="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="inner.html" class="m-menu__link ">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-menu__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Audit&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!-- END: Aside Menu -->
      </div>
      <!-- END: Left Aside ; color: #ffc107 -->
      <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="m-content">
          <div class="m-portlet no-hover" style="background-image: url(../../../../../assets/images/bg/empty-overlay.png)" *ngIf="allOpenProgrames.length===0 || loadingOpenProgrammes">
            <!--<div class="text-white vertical text-center" *ngIf="allOpenProgrames.length===0 && !loadingOpenProgrammes">-->
            <div style="min-height: 50vh" *ngIf="allOpenProgrames.length===0 && !loadingOpenProgrammes" class="flex">
              <i class="la la-warning text-white" style="font-size: 400%"></i>
              <h4 class="text-white">
                There are currently no Open Applications
              </h4>
            </div>
            <!--</div>-->
            <div class="m-portlet__body" style="min-height: 400px"  *ngIf="allOpenProgrames.length===0 && loadingOpenProgrammes">
              <div class="row">
                <div class="col-12">

                  <div class="card">
                    <div class="row">
                      <div class="col-4"></div>
                      <div class="col-4">
                        <div class="container">
                          <div class="item item-1"></div>
                          <div class="item item-2"></div>
                          <div class="item item-3"></div>
                          <div class="item item-4"></div>
                        </div>
                      </div>
                      <div class="col-4"></div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row m-row--no-padding m-row--col-separator-xl"
               *ngIf="allOpenProgrames.length>0 && !loadingOpenProgrammes">

            <div class="padme col-xl-4" *ngFor="let openProgramme of allOpenProgrames; let ind=index">
              <a routerLink="/apply/{{openProgramme?.id}}">
                <div class="m-portlet  {{openProgramme?.class}} m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height "
                     data-portlet="true" id="m_portlet_tools_1">
                  <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                          {{openProgramme?.name}}
                        </h3>
                      </div>
                    </div>

                  </div>
                  <div class="m-portlet__body">
                    <div class="m-widget7 m-widget7--skin-dark">

                      <div class="row">
                        <div class="col-4">
                          <b>Open Period:</b>
                        </div>
                        <div class="col-8">
                          From {{openProgramme?.start_date |date}} to
                          {{openProgramme?.end_date |date}}
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-5">
                          <b>Application Fee:</b>
                        </div>
                        <div class="col-7">
                          {{openProgramme?.amount | number}}
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-5">
                          <b>Programme:</b>
                        </div>
                        <div class="col-7">
                          {{openProgramme?.programme_name}}
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-5">
                          <b>Mode of Entry:</b>
                        </div>
                        <div class="col-7">
                          {{openProgramme?.mode_of_entry}}
                        </div>
                      </div>

                      <div class="m-widget7__desc">
                        <h5 class="text-center">Details</h5>
                        {{openProgramme?.description}}
                      </div>
                    </div>
                    <!--end::Widget 7-->
                  </div>
                  <!--<div class="m-portlet__head-tools">-->
                  <!--<ul class="m-portlet__nav">-->
                  <!--<li class="m-portlet__nav-item">-->
                  <!--<a href="" data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link&#45;&#45;icon" title="" data-original-title="Collapse">-->
                  <!--<i class="la la-angle-down"></i>-->
                  <!--</a>-->
                  <!--</li>-->
                  <!--<li class="m-portlet__nav-item">-->
                  <!--<a href="" data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link&#45;&#45;icon" title="" data-original-title="Reload">-->
                  <!--<i class="la la-refresh"></i>-->
                  <!--</a>-->
                  <!--</li>-->
                  <!--<li class="m-portlet__nav-item">-->
                  <!--<a href="#" data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link&#45;&#45;icon" title="" data-original-title="Fullscreen">-->
                  <!--<i class="la la-expand"></i>-->
                  <!--</a>-->
                  <!--</li>-->
                  <!--<li class="m-portlet__nav-item">-->
                  <!--<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link&#45;&#45;icon" title="" data-original-title="Remove">-->
                  <!--<i class="la la-close"></i>-->
                  <!--</a>-->
                  <!--</li>-->
                  <!--</ul>-->
                  <!--</div>-->
                </div>


              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end::Body -->
    <!-- begin::Footer -->
    <footer class="m-grid__item m-footer">
      <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
        <!--<div class="m-footer__wrapper">-->
          <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
							<span class="m-footer__copyright">
								2018 &copy; eduChoice. Powered by
								<a href="https://www.upperlink.ng" class="m-link">
									Upperlink
								</a>
							</span>
            </div>
          </div>
        <!--</div>-->
      </div>
    </footer>
    <!-- end::Footer -->
  </div>
  <!-- end:: Page -->
  <!-- begin::Quick Sidebar -->
  <!-- end::Quick Sidebar -->
  <!-- begin::Scroll Top -->
  <div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500"
       data-scroll-speed="300">
    <i class="la la-arrow-up"></i>
  </div>
  <!-- end::Scroll Top -->
  <!-- begin::Quick Nav -->

  <!-- begin::Quick Nav -->
  <!--begin::Base Scripts -->
  <!--end::Base Scripts -->
</div>
