<div class="m-content">
  <div class="m-portlet " style="min-height: 70px !important; color: #5867dd; padding: 20px">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <div class="container text-center">
          <h3 class="m-subheader__title">
            My Applicant Profile
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                role="tablist">

              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab"
                   href="#m_user_profile_tab_3" role="tab">
                  Application Info
                </a>
              </li>

              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab"
                   href="#m_user_profile_tab_1" role="tab">
                  <i class="flaticon-share m--hide"></i>
                  Basic Info
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab"
                   href="#m_user_profile_tab_2" role="tab">
                  Update Info
                </a>
              </li>
            </ul>
          </div>
          <div class="m-portlet__head-tools">
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="m_user_profile_tab_3">
            <div class="m-form m-form--fit m-form--label-align-right">
              <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Application Name
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.application?.name}}" disabled>-->
                    <p>
                      {{activeApplicant?.application?.name}}
                    </p>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Application Fee
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.application?.amount}}" disabled>-->
                    <p>
                      {{activeApplicant?.application?.amount |number}}
                    </p>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Description
                  </label>
                  <div class="col-7">
                    <!--<textarea class="form-control m-input"-->
                    <!--value="{{activeApplicant?.application?.description}}" disabled>-->
                    <!--{{activeApplicant?.application?.description}}-->
                    <!--</textarea>-->
                    <p>
                      {{activeApplicant?.application?.description}}
                    </p>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Open Period
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="From {{activeApplicant?.application?.start_date | date}} to {{activeApplicant?.application?.end_date |date}}"-->
                    <!--disabled>-->
                    <p>
                      From {{activeApplicant?.application?.start_date | date}} to
                      {{activeApplicant?.application?.end_date |date}}
                    </p>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Programme
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.application?.programme?.name}}"-->
                    <!--disabled>-->

                    <p>
                      {{activeApplicant?.application?.programme?.name}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="m_user_profile_tab_1">
            <form class="m-form m-form--fit m-form--label-align-right">
              <div class="m-portlet__body">
                <!--<div class="form-group m-form__group row">-->
                <!--<div class="col-10 ml-auto">-->
                <!--<h3 class="m-form__section">-->
                <!--1. Personal Details-->
                <!--</h3>-->
                <!--</div>-->
                <!--</div>-->


                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Full Name
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.name}}"-->
                    <!--readonly disabled>-->

                    <p>
                      {{activeApplicant?.name}}
                    </p>


                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Jamb Reg. No
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.reg_no}}"-->
                    <!--readonly disabled>-->
                    <p>
                      {{activeApplicant?.reg_no || 'None Captured'}}
                    </p>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Jamb Score
                  </label>
                  <div class="col-3">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.total_ume_score}}"-->
                    <!--readonly disabled>-->
                    <p>
                      {{activeApplicant?.total_ume_score || 'None Captured'}}
                    </p>
                  </div>

                  <div class="col-4">
                    <div>
                      <div
                        class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                        data-dropdown-toggle="hover"
                        aria-expanded="true">
                        <a
                          class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                          <i class="la la-plus m--hide"></i>
                          <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="m-dropdown__wrapper">
                          <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                          <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                              <div class="m-dropdown__content">
                                <ul class="m-nav">
                                  <li class="m-nav__section m-nav__section--first m--hide">
														<span class="m-nav__section-text">
															Score Breakdown
														</span>
                                  </li>
                                  <li class="m-nav__item">
                                    <a href="" class="m-nav__link">
                                      <i class="m-nav__link-icon flaticon-share"></i>
                                      <span class="m-nav__link-text">
																English: <b>{{activeApplicant?.eng_score}}</b>
															</span>
                                    </a>
                                  </li>
                                  <li class="m-nav__item">
                                    <a href="" class="m-nav__link">
                                      <i class="m-nav__link-icon flaticon-chat-1"></i>
                                      <span class="m-nav__link-text">
																{{getSubjectNameById(activeApplicant?.subj2)?.name}}: <b>{{activeApplicant?.subj2_score}}</b>
															</span>
                                    </a>
                                  </li>
                                  <li class="m-nav__item">
                                    <a href="" class="m-nav__link">
                                      <i class="m-nav__link-icon flaticon-info"></i>
                                      <span class="m-nav__link-text">
																{{getSubjectNameById(activeApplicant?.subj3)?.name}}: <b>{{activeApplicant?.subj3_score}}</b>
															</span>
                                    </a>
                                  </li>
                                  <li class="m-nav__item">
                                    <a href="" class="m-nav__link">
                                      <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                      <span class="m-nav__link-text">
																{{getSubjectNameById(activeApplicant?.subj4)?.name}}: <b>{{activeApplicant?.subj4_score}}</b>
															</span>
                                    </a>
                                  </li>
                                  <li class="m-nav__separator m-nav__separator--fit"></li>
                                  <!--<li class="m-nav__item">-->
                                  <!--<a href="#" class="btn btn-outline-danger m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;wide btn-sm">-->
                                  <!--Submit-->
                                  <!--</a>-->
                                  <!--</li>-->
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">

                  </div>
                </div>
                <div class="form-group m-form__group row" *ngIf="activeApplicant?.putme_score">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Post UME Score
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.putme_score}}"-->
                    <!--readonly disabled>-->
                    <p>
                      {{activeApplicant?.putme_score}}
                    </p>
                  </div>
                </div>

                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    {{facultyName}}
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.fac_abbr}}" readonly disabled>-->


                    <p>
                      {{activeApplicant?.fac_abbr}}
                    </p>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Course of Study
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.cors_abbr}}" readonly disabled>-->

                    <p>
                      {{activeApplicant?.cors_abbr}}
                    </p>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    State
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.state_origin}}" readonly disabled>-->
                    <p>{{activeApplicant?.state_origin}}</p>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    LGA
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.lga}}" readonly disabled>-->

                    <p>{{activeApplicant?.lga}}</p>

                  </div>
                </div>

                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Gender
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.gender}}" readonly disabled>-->
                    <p>
                      {{activeApplicant?.gender}}
                    </p>

                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Age
                  </label>
                  <div class="col-7">
                    <!--<input class="form-control m-input" type="text"-->
                    <!--value="{{activeApplicant?.age}} years" readonly disabled>-->
                    <p>
                      {{activeApplicant?.age}} years
                    </p>

                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="m_user_profile_tab_2">
            <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="applicantUpdateForm"
                  (ngSubmit)="updateApplicant()">
              <div class="m-portlet__body">
                <div class="form-group m-form__group m--margin-top-10 m--hide">
                  <div class="alert m-alert m-alert--default" role="alert">
                    The example form below demonstrates common HTML form elements
                    that receive updated styles from Bootstrap with additional
                    classes.
                  </div>
                </div>
                <div style="z-index: 100; margin-left: 80%;position: absolute">
                  <img src="assets/images/users/blank_male.jpg"
                       class="rounded img-thumbnail" *ngIf="!activeApplicant?.profile_image">
                  <img src="{{activeApplicant?.profile_image}}"
                       class="rounded img-thumbnail" *ngIf="activeApplicant?.profile_image"
                       width="150px"
                       height="150px">
                  <br>
                  <!--<span>{{filename}}</span>-->
                  <br>
                  <br>

                  <button *ngIf="!applicationHasBeenSubmitted && !loadPhoto"
                          class="btn m-btn m-btn--pill m-btn--custom btn-success m-btn--air btn-file btn-xs"
                          style="z-index:2;cursor:pointer !important">
                    <i class="fa fa-user"></i> Photo
                    <input type="file" (change)="getPhoto($event)" id="student_photo">
                  </button>
                  <button class="btn m-btn btn-info m-btn--air btn-xs"
                          *ngIf="loadPhoto" role="button">
                    <i class="fa fa-upload"></i>
                  </button>
                  <button class="btn m-btn btn-default m-btn--air btn-xs"
                          style="z-index:2;cursor:pointer !important" *ngIf="loadPhoto"
                          (click)="toggleSelection()" role="button">
                    <i class="fa fa-undo"></i>
                  </button>

                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Phone
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text"
                           value="" formControlName="phone" [disabled]="applicationHasBeenSubmitted">
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Email
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text"
                           value="" formControlName="email" [disabled]="applicationHasBeenSubmitted">
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Address
                  </label>
                  <div class="col-7">
                                        <textarea class="form-control m-input" formControlName="address"
                                                  [disabled]="applicationHasBeenSubmitted">

                                        </textarea>
                    <!--<input  type="text"-->
                    <!--value="L-12-20 Vertex, Cybersquare">-->
                  </div>
                </div>

                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Next of Kin Name
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text"
                           value="" formControlName="next_of_kin" [disabled]="applicationHasBeenSubmitted">
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Next of Kin Phone
                  </label>
                  <div class="col-7">
                    <input class="form-control m-input" type="text" value=""
                           formControlName="kin_phone">
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Next of Kin Address
                  </label>
                  <div class="col-7">
                                        <textarea class="form-control m-input" type="text"
                                                  formControlName="kin_address">

                                        </textarea>
                  </div>
                </div>
                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>

                <div class="m-portlet__foot m-portlet__foot--fit">
                  <div class="m-form__actions">
                    <div class="row">
                      <div class="col-2"></div>
                      <div class="col-7">
                        <button type="submit"
                                class="btn btn-accent m-btn m-btn--air m-btn--custom"
                                [disabled]="loading || applicantUpdateForm.invalid"
                                *ngIf="!applicationHasBeenSubmitted">
                          {{updateMessage}} changes
                          <div class="m-loader m-loader-brand"
                               *ngIf="loading"></div>
                        </button>
                        &nbsp;&nbsp;
                        <!--<button type="reset"-->
                        <!--class="btn btn-secondary m-btn m-btn&#45;&#45;air m-btn&#45;&#45;custom">-->
                        <!--Cancel-->
                        <!--</button>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
