<div id="myView" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Staff Details</h4>
        <button class="close" type="button" (click)="triggerModalOrOverlay('close','createStaff')">&times;
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">

          <label for="state">Assigned Department(s):</label>
          <div class="row">
            <div style="padding-right: 5% ">
              <div style="margin: 0 auto; width: 100%" class="m-accordion m-accordion--bordered" id="m_accordion_2"
                   role="tablist">
                <!--begin::Item-->
                <div class="m-accordion__item">
                  <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_2_item_1_head"
                       data-toggle="collapse" href="#m_accordion_2_item_1_body" aria-expanded="false">
													<span class="m-accordion__item-icon" style="font-size: 9px">
														<i class="fa flaticon-file"></i>
													</span>
                    <span class="m-accordion__item-title" style="font-size: 13px">
														Assign Department
													</span>
                    <span class="m-accordion__item-mode"></span>
                  </div>
                  <div class="m-accordion__item-body collapse" id="m_accordion_2_item_1_body" role="tabpanel"
                       aria-labelledby="m_accordion_2_item_1_head" data-parent="#m_accordion_2" style="">
                    <div class="m-accordion__item-content">
                      <div>
                        <form [formGroup]='assignDepartmentForm'
                              class="m-form m-form--fit m-form--label-align-right">
                          <div class="m-portlet__body">
                            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                              <label class="col-md-3 col-form-label">
                                <span class="styleStar">*</span>Faculty
                              </label>
                              <div class="col-lg-9 col-md-9 col-sm-12">

                                <select class="form-control" formControlName="faculty_id"
                                        style="width: 100%"
                                        (change)="extractId($event)">
                                  <option></option>
                                  <option *ngFor="let type of facultyList " [value]="type?.id">
                                    {{type?.name}}
                                  </option>
                                </select>
                                <div class="alert alert-danger col-12" role="alert"
                                     *ngIf="assignDepartmentForm.get('faculty_id').invalid && assignDepartmentForm.get('faculty_id').touched">
                                  <strong>
                                    Faculty is Required
                                  </strong>
                                </div>
                              </div>
                            </div>

                            <div class="text-center" *ngIf="loadDepartment">loading department(s)<i
                              class="m-loader m-loader--right m-loader--brand"></i></div>
                            <div class="text-center"
                                 *ngIf="checkEmptyDepartment && departmentList.length === 0">No
                              department(s) found
                            </div>
                            <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                                 *ngIf="departmentList.length !== 0">
                              <label class="col-3 col-form-label">
                                <span class="styleStar">*</span>Department
                              </label>
                              <div class="col-lg-9 col-md-9 col-sm-12">

                                <select class="form-control" formControlName="department_id"
                                        style="width: 100%">
                                  <option></option>
                                  <option *ngFor="let type of departmentList " [value]="type?.id">
                                    {{type?.name}}
                                  </option>
                                </select>
                                <div class="alert alert-danger col-12" role="alert"
                                     *ngIf="assignDepartmentForm.get('department_id').invalid && assignDepartmentForm.get('department_id').touched">
                                  <strong>
                                    Department is Required
                                  </strong>
                                </div>
                              </div>
                            </div>
                            <div style="float:right; margin-right: 5px">
                              <button type="button" (click)="assignDepartment()"
                                      class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                                      data-dismiss="modal"
                                      [disabled]="assignLoader || assignDepartmentForm.invalid">
                                Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="assignLoader"></i>
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end::Item-->
              </div>

              <table id="myTable" class="table table-striped table-bordered">
                <thead class="thead-color">
                <tr>
                  <th title="Field #1" class="serialnum">
                    #
                  </th>
                  <th title="Field #2">
                    Name
                  </th>
                  <th title="Field #2">
                    Code
                  </th>
                  <th title="Field #3">
                    Creation date
                  </th>
                  <th title="Field #3">
                    Action
                  </th>
                </tr>
                </thead>
                <tbody *ngIf="staffDetails">
                <tr *ngFor="let data of staffDetails?.departments; let i = index">
                  <td scope="row">{{i + 1}}</td>
                  <td>{{data?.name}}</td>
                  <td>{{data?.code || 'Null'}}</td>
                  <td>{{data?.created_at || 'Null'}}</td>
                  <td>
                    <button class="btn btn-xs btn-danger" style="padding: 3px"
                            (click)="ondeleteDepartment(data?.id)"
                            [disabled]="deleteStatus">
                      <i class="fa fa-remove"></i><i class="m-loader m-loader--right m-loader--brand"
                                                     *ngIf="deleteStatus && data?.id == id"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td colspan="5" class="text-center"
                      *ngIf="!loadStaff && staffDetails?.departments?.length === 0"> No
                    department Found
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div style="margin: 0 auto; width: 100%" class="m-accordion m-accordion--bordered" id="m_accordion_2"
               role="tablist">
            <!--begin::Item-->
            <div class="m-accordion__item">
              <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_2_item_2_head"
                   data-toggle="collapse" href="#m_accordion_2_item_2_body" aria-expanded="false">
													<span class="m-accordion__item-icon" style="font-size: 9px">
														<i class="fa flaticon-file"></i>
													</span>
                <span class="m-accordion__item-title" style="font-size: 13px">
														Assign Course
													</span>
                <span class="m-accordion__item-mode"></span>
              </div>
              <div class="m-accordion__item-body collapse" id="m_accordion_2_item_2_body" role="tabpanel"
                   aria-labelledby="m_accordion_2_item_2_head" data-parent="#m_accordion_2" style="">
                <div class="m-accordion__item-content">
                  <div>
                    <form [formGroup]='assignCourseForm'
                          class="m-form m-form--fit m-form--label-align-right">
                      <div class="m-portlet__body">
                        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                          <label class="col-3 col-form-label">
                            <span class="styleStar"></span>Semester
                          </label>
                          <div class="col-lg-9 col-md-9 col-sm-12">

                            <select class="form-control" formControlName="session_id"
                                    style="width: 100%"
                                    (change)="ongetSemester($event)">
                              <option></option>
                              <option [value]="1">First Semester</option>
                              <option [value]="2">Second Semester</option>
                              <option [value]="3">Third Semester</option>
                            </select>
                          </div>
                           </div>

                        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                          <label class="col-3 col-form-label">
                            <span class="styleStar">*</span>Department
                          </label>
                          <div class="col-lg-9 col-md-9 col-sm-12">

                            <select class="form-control" formControlName="department_id"
                                    style="width: 100%"
                                    (change)="extractCourseId($event)">
                              <option></option>
                              <option *ngFor="let type of staffDetails?.departments"
                                      [value]="type?.id">
                                {{type?.name}}
                              </option>
                            </select>
                            <div class="alert alert-danger col-12" role="alert"
                                 *ngIf="assignCourseForm.get('department_id').invalid && assignCourseForm.get('department_id').touched">
                              <strong>
                                Department is Required
                              </strong>
                            </div>
                          </div>
                        </div>
                        <div class="text-center" *ngIf="loadCourse">loading course(s)<i
                          class="m-loader m-loader--right m-loader--brand"></i>
                        </div>
                        <div class="text-center" *ngIf="checkEmptyCourse && courseList.length === 0">No
                          Course of Study found
                        </div>
                        <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                             *ngIf="courseList.length !== 0">
                          <label class="col-3 col-form-label">
                            <span class="styleStar">*</span>Course of Study
                          </label>
                          <div class="col-lg-9 col-md-9 col-sm-12">

                            <select class="form-control" formControlName="course_of_study_id"
                                    style="width: 100%"
                                    (change)="getCourseById($event)">
                              <option></option>
                              <option *ngFor="let type of courseList " [value]="type?.id">
                                {{type?.name}}
                              </option>
                            </select>
                            <div class="alert alert-danger col-12" role="alert"
                                 *ngIf="assignCourseForm.get('course_of_study_id').invalid && assignCourseForm.get('course_of_study_id').touched">
                              <strong>
                                Course is Required
                              </strong>
                            </div>
                          </div>
                        </div>

                        <div class="text-center" *ngIf="loadLevel">loading level(s) <i
                          class="m-loader m-loader--right m-loader--brand"></i></div>
                        <div class="text-center" *ngIf="checkEmptyLevel && levelList.length === 0">No
                          level(s) found
                        </div>

                        <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                             *ngIf="levelList.length !== 0 ">
                          <label class="col-3 col-form-label">
                            <span class="styleStar">*</span>Level
                          </label>
                          <div class="col-lg-9 col-md-9 col-sm-12">

                            <select class="form-control" formControlName="level_id"
                                    style="width: 100%"
                                    (change)="openSession($event)">
                              <option></option>
                              <option *ngFor="let type of levelList " [value]="type?.id">
                                {{type?.name}}
                              </option>
                            </select>
                            <div class="alert alert-danger col-12" role="alert"
                                 *ngIf="assignCourseForm.get('level_id').invalid && assignCourseForm.get('level_id').touched">
                              <strong>
                                Level is Required
                              </strong>
                            </div>
                          </div>
                        </div>

                        <div class="text-center" *ngIf="checkEmptyLevel && sessionList.length === 0">No
                          session found
                        </div>
                        <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                             *ngIf="sessionList.length !== 0 || levelList.length !== 0 || showSession">
                          <label class="col-3 col-form-label">
                            <span class="styleStar">*</span>Session
                          </label>
                          <div class="col-lg-9 col-md-9 col-sm-12">

                            <select class="form-control" formControlName="session_id"
                                    style="width: 100%"
                                    (change)="openSession()">
                              <option></option>
                              <option *ngFor="let type of sessionList " [value]="type?.id">
                                {{type?.year}}
                              </option>
                            </select>
                            <div class="alert alert-danger col-12" role="alert"
                                 *ngIf="assignCourseForm.get('session_id').invalid && assignCourseForm.get('session_id').touched">
                              <strong>
                                Session is Required
                              </strong>
                            </div>
                          </div>
                          <div class="text-center" *ngIf="showCurriculum">loading curriculum(s) <i
                            class="m-loader m-loader--right m-loader--brand"></i></div>
                          <div class="text-center"
                               *ngIf="course_curriculumList.length === 0 && !checkEmptyCurriculum">No
                            Curriculum found
                          </div>
                        </div>
                        <br>


                        <div *ngIf="course_curriculumList.length !== 0">
                          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                            <label class="col-3 col-form-label">
                              <span class="styleStar">*</span>Curriculum
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">

                              <select class="form-control" formControlName="curriculum_course_id"
                                      style="width: 100%"
                                      (change)="onSelectCourse_of_study($event)">
                                <option></option>
                                <option *ngFor="let type of course_curriculumList; let i = index "
                                        [value]="type?.id">
                                  {{type?.title}}
                                </option>
                              </select>
                              <div class="alert alert-danger col-12" role="alert"
                                   *ngIf="assignCourseForm.get('curriculum_course_id').invalid && assignCourseForm.get('curriculum_course_id').touched">
                                <strong>
                                  Curriculum is Required
                                </strong>
                              </div>
                            </div>
                          </div>
                          <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                               *ngIf="curriculumCourseList.length !== 0 ">
                            <label class="col-3 col-form-label">
                              <span class="styleStar">*</span>Curriculum Course
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">

                              <select class="form-control" formControlName="curriculum_course_id"
                                      style="width: 100%">
                                <option></option>
                                <option *ngFor="let type of curriculumCourseList; let i = index "
                                        [value]="type?.id">
                                  {{type?.title}}
                                </option>
                              </select>
                              <div class="alert alert-danger col-12" role="alert"
                                   *ngIf="assignCourseForm.get('curriculum_course_id').invalid && assignCourseForm.get('curriculum_course_id').touched">
                                <strong>
                                  Curriculum Course is Required
                                </strong>
                              </div>
                            </div>

                          </div>
                        </div>

                        <div style="float:right; margin-right: 5px">
                          <button type="button" (click)="assignCourse()"
                                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                                  data-dismiss="modal"
                                  [disabled]="assignLoader || assignCourseForm.invalid">
                            Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="assignLoader"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--end::Item-->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                (click)="triggerModalOrOverlay('close','createStaff')">
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<div id="createStaff" class="modal fade" role="dialog">
  <form [formGroup]="createStaffForm" (ngSubmit)="createStaff()">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create Staff</h4>
          <!-- <button class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-smbtn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','createStaff')">Close</button> -->
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','createStaff')">&times;
          </button>
        </div>
        <div class="modal-body">
          <div class="reduce-label">
            <div class="form-group row">
              <div class="col-md-6">
                <label>Full Name:</label>
                <input class="form-control" formControlName="fullname">
              </div>
              <div class="col-md-6">
                <label>Email: (Must be a valid email)</label>
                <input class="form-control" formControlName="email" type="email">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label>Staff Id:</label>
                <input class="form-control" formControlName="employee_id">
              </div>
              <div class="col-md-6">
                <label for="group">Group:</label>
                <select class="form-control" formControlName="group_id" id="group">
                  <option value="" disabled>Select Group</option>
                  <option *ngFor="let group of allGroups" value="{{group.id}}">{{group?.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="active_hours">Active Hours:</label>
                <select class="form-control" formControlName="active_hour_id" id="active_hours">
                  <option value="" disabled>Choose Active Hours</option>
                  <option *ngFor="let activeHour of allActiveHours" value="{{activeHour.id}}">{{activeHour?.name}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="staff_type">Staff Type:</label>
                <select class="form-control" formControlName="type" id="staff_type">
                  <option value="" disabled>Choose Staff Type</option>
                  <option *ngFor="let staffType of allStaffTypes" value="{{staffType.value}}">{{staffType?.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-accent m-btn--pill m-btn--air btn-sm"
                  [disabled]="createStaffForm.invalid || load.requesting.create">{{load.message.create}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader--light"></i>
          </button>
          <button type="button"
                  class="btn btn-accent btn-danger m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','createStaff')">
            Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="updateStaff" class="modal fade" role="dialog">
  <form [formGroup]="updateStaffForm" (ngSubmit)="updateStaff()">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update {{updatedStaff?.fullname}}</h4>
          <!-- <button class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-smbtn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateStaff')">Close</button> -->
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateStaff')">&times;
          </button>
        </div>
        <div class="modal-body">
          <div class="reduce-label">
            <div class="form-group row">
              <div class="col-md-6">
                <label>Full Name:</label>
                <input class="form-control" formControlName="fullname">
              </div>
              <div class="col-md-6">
                <label for="middle_name">Email:</label>
                <input class="form-control" id="domain" formControlName="email" type="email">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="group_update">Group:</label>
                <select class="form-control" formControlName="group_id" id="group_update">
                  <option value="" disabled>Select Group</option>
                  <option *ngFor="let group of allGroups" value="{{group.id}}">{{group?.name}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="state">Active Hours:</label>
                <select class="form-control" formControlName="active_hour_id" id="state">
                  <option value="" disabled>Choose Active Hours</option>
                  <option *ngFor="let activeHour of allActiveHours" value="{{activeHour.id}}">{{activeHour?.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="country">Staff ID:</label>
                <input class="form-control" formControlName="employee_id" id="country">
              </div>
              <div class="col-md-6">
                <label for="state">Staff Type:</label>
                <select class="form-control" formControlName="type" id="type">
                  <option value="" disabled>Choose Staff Type</option>
                  <option *ngFor="let staffType of allStaffTypes" value="{{staffType.value}}">{{staffType?.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-accent m-btn--pill m-btn--air btn-sm"
                  [disabled]="updateStaffForm.invalid || load.requesting.create">{{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader--light"></i>
          </button>
          <button type="button"
                  class="btn btn-accent btn-danger m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','updateStaff')">
            Close
          </button>
        </div>
      </div>
    </div>
  </form>
</div>


<div class="m-portlet m-portlet--mobile ">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Staff
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="triggerModalOrOverlay('open','createStaff')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Create Staff
														</span>
													</span>
          </a>
        </li>
        <!--<li class="m-portlet__nav-item">-->
        <!--<div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push"-->
        <!--data-dropdown-toggle="hover" aria-expanded="true">-->
        <!--<a-->
        <!--class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">-->
        <!--&lt;!&ndash;<i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>&ndash;&gt;-->
        <!--<i class="la la-upload la-2x"></i>-->
        <!--</a>-->
        <!--<div class="m-dropdown__wrapper">-->
        <!--<span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right m-dropdown__arrow&#45;&#45;adjust"-->
        <!--style="left: auto; right: 21.5px;"></span>-->
        <!--<div class="m-dropdown__inner">-->
        <!--<div class="m-dropdown__body">-->
        <!--<div class="m-dropdown__content">-->
        <!--<ul class="m-nav">-->
        <!--<li class="m-nav__section m-nav__section&#45;&#45;first">-->
        <!--<span class="m-nav__section-text">-->
        <!--Bulk File-->
        <!--</span>-->
        <!--</li>-->
        <!--<li class="m-nav__item">-->
        <!--<a class="m-nav__link">-->
        <!--<i class="m-nav__link-icon la la-download"></i>-->
        <!--<span class="m-nav__link-text">-->
        <!--Download Template-->
        <!--</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--&lt;!&ndash;<li class="m-nav__item">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="" class="m-nav__link">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="m-nav__link-icon la la-upload"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="m-nav__link-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Bulk Upload&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--<li class="m-nav__item">-->
        <!--<a href="" class="m-nav__link">-->
        <!--<i class="m-nav__link-icon flaticon-multimedia-2"></i>-->
        <!--<span class="m-nav__link-text">-->
        <!--Upload File-->
        <!--</span>-->
        <!--</a>-->
        <!--</li>-->

        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--</li>-->

      </ul>
    </div>
  </div>
  <div class="m-portlet__body">

    <form [formGroup]="staffFilterForm" (ngSubmit)="renderStaff()"
          class="m-form m-form--fit m-form--label-align-right">
      <div class="form-group m-form__group row" style="padding-bottom: 1px;">
        <div class="col-lg-4" style="padding-bottom: 1px;">
          <label>
            Staff Type
          </label>
          <select class="form-control m-input--solid" formControlName="type">
            <option></option>
            <option value="1">Academic</option>
            <option value="0">Non - Academic</option>
          </select>
        </div><!--Staff Type-->
        <div class="col-lg-4" style="padding-bottom: 1px;">
          <label>
            Faculty
          </label>
          <select data-live-search="true" formControlName="faculty_id" class="form-control m-input--solid"
                  (change)="getFaculty($event.target.value)">
            <option></option>
            <option *ngFor="let faculty of facultyList" [value]="faculty?.id">
              {{faculty?.name}}
            </option>
          </select>
        </div><!--Faculty-->
        <div class="col-lg-4">
          <label>

            Department &nbsp;
            <i *ngIf="loadDepartment" class="m-loader m-loader--brand"></i>&nbsp;
            <small class="m--font-danger"
                   *ngIf="staffFilterForm.get('faculty_id').touched && departmentList.length === 0">
              No Department found
            </small>
          </label>
          <select class="form-control m-input--solid" formControlName="department_id">
            <option></option>
            <option *ngFor="let department of departmentList" [value]="department?.id">
              {{department?.name}}
            </option>
          </select>
        </div><!--Department-->
      </div>
      <div class="form-group m-form__group">
        <button type="submit"
                class="btn btn-accent m-btn m-btn--pill m-btn--air float-right"
                style="font-family: 'Roboto', sans-serif; margin-top: 20px;">
          Submit &nbsp;&nbsp;
          <i *ngIf="load.requesting.list" class="m-loader m-loader--light"></i>
        </button>
      </div>
    </form>

    <div class="m_datatable m-datatable m-datatable--default m-datatable--scroll m-datatable--loaded table-responsive pt-5">
      <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand">
        <thead class="m-datatable__head">
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>Staff ID</th>
          <th>Email</th>
          <th>Group</th>
          <th>Staff Type</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <!--bindings={
"ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
        <tbody>
        <tr *ngIf="load.requesting.list || allStaff.length===0" class="text-center">
          <td colspan="8" *ngIf="load.requesting.list">
            Fetching Staff...&nbsp;&nbsp;<i class="m-loader m-loader--brand"></i>
          </td>
          <td colspan="8" *ngIf="!load.requesting.list && allStaff.length === 0">
            No Record Found
          </td>
        </tr>
        <tr class="m-datatable__row" *ngFor="let Staff of allStaff; let ind=index">
          <td>{{ind+1}}</td>
          <td><a routerLink="/staff/dashboard/staff/{{Staff?.id}}">{{Staff?.fullname}}</a></td>
          <td>{{Staff?.employee_id}}</td>
          <td>{{Staff?.email}}</td>
          <td>{{Staff?.group?.role |titlecase | removeUnderscore}}</td>
          <td *ngIf="Staff?.type==0 || !Staff?.type">Non - Academic</td>
          <td *ngIf="Staff?.type==1">Academic</td>
          <td *ngIf="Staff.enabled==='1'">
            <i class="fa fa-check" style="color: green;"></i>
          </td>
          <td *ngIf="Staff.enabled==='0'">
            <i class="fa fa-times" style="color: red"></i>
          </td>
          <td>
            <div class="dropdown ">
              <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                 data-toggle="dropdown">
                <i class="la la-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" (click)="triggerModalOrOverlay('open','updateStaff',ind)">
                  <i class="la la-edit"></i> Edit {{Staff?.fullname}}</a>
                <a class="dropdown-item" (click)="getStaff(Staff)" *ngIf="Staff?.group">
                  <i class="fa fa-spinner fa-spin"
                     *ngIf="loadStaff && Staff.id === id"></i> <i class="la la-edit"></i> Assign Course
                </a>

              </div>
            </div>
            <!--<a href="#"-->
            <!--class="m-portlet__nav-link btn m-btn m-btn&#45;&#45;hover-accent m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill"-->
            <!--title="Edit details">-->
            <!--<i class="la la-edit"></i>-->
            <!--</a>-->
            <!--<a href="#"-->
            <!--class="m-portlet__nav-link btn m-btn m-btn&#45;&#45;hover-danger m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill"-->
            <!--title="Delete">-->
            <!--<i class="la la-trash"></i>-->
            <!--</a>-->

            <!--<div class="m-dropdown m-dropdown&#45;&#45;inline m-dropdown&#45;&#45;arrow m-dropdown&#45;&#45;align-right m-dropdown&#45;&#45;align-push"-->
            <!--data-dropdown-toggle="hover" aria-expanded="true">-->
            <!--<a-->
            <!--class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill  m-dropdown__toggle">-->
            <!--<i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>-->
            <!--</a>-->
            <!--<div class="m-dropdown__wrapper">-->
            <!--<span class="m-dropdown__arrow m-dropdown__arrow&#45;&#45;right m-dropdown__arrow&#45;&#45;adjust"-->
            <!--style="left: auto; right: 21.5px;"></span>-->
            <!--<div class="m-dropdown__inner">-->
            <!--<div class="m-dropdown__body">-->
            <!--<div class="m-dropdown__content">-->
            <!--<ul class="m-nav">-->
            <!--<li class="m-nav__section m-nav__section&#45;&#45;first">-->
            <!--<span class="m-nav__section-text">-->
            <!--Manage {{Staff?.fullname}}-->
            <!--</span>-->
            <!--</li>-->
            <!--<li class="m-nav__item">-->
            <!--<a class="m-nav__link"-->
            <!--(click)="triggerModalOrOverlay('open','updateStaff',ind)">-->
            <!--<i class="m-nav__link-icon flaticon-share"></i>-->
            <!--<span class="m-nav__link-text">-->
            <!--Update-->
            <!--</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--<li class="m-nav__item">-->
            <!--<a href="" class="m-nav__link">-->
            <!--<i class="m-nav__link-icon flaticon-chat-1"></i>-->
            <!--<span class="m-nav__link-text">-->
            <!--Send Messages-->
            <!--</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="m-nav__item">-->
            <!--<a href="" class="m-nav__link">-->
            <!--<i class="m-nav__link-icon flaticon-multimedia-2"></i>-->
            <!--<span class="m-nav__link-text">-->
            <!--Upload File-->
            <!--</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->


          </td>
        </tr>

        </tbody>
      </table>

    </div>

  </div>
</div>

