<!--End:::Create Course of Study -->
<div class=" ">
    <div class="d-flex align-items-center">
        <div class="mr-auto m--padding-20">
            <h3 class="m-subheader__title m-subheader__title--separator">
                {{viewedSchool?.name}}
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item">
                    <a routerLink="../" class="m-nav__link" *ngIf="!isUser()">
            <span class="m-nav__link-text">
             Schools
            </span>
                    </a>
                    <a routerLink="../../" class="m-nav__link" *ngIf="isUser()">
            <span class="m-nav__link-text">
             Dashboard
            </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link">
            <span class="m-nav__link-text">
              <small>
                {{viewedSchool?.name}}
              </small>
            </span>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</div>


<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="tab-content">
            <div class="tab-pane active" id="courses_of_study">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <div class="m-portlet__head-text m--padding-10 text-center text-uppercase">
                                    <img alt="No Logo" src="{{viewedSchool?.logo}}" style="height: 50px;width: 90px"
                                         *ngIf="viewedSchool?.logo">
                                    <div class="m-loader m-loader--right m-loader--brand" *ngIf="loading.list"></div>

                                </div>
                            </div>
                        </div>


                        <div class="m-portlet__head-tools">
                            <br>
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.course-of-study.create')">

                                    <button style="color: white !important;"
                                            class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                                            (click)="toggleSchool('enable')"
                                            *ngIf="viewedSchool?.configuration?.status.toString() === '0'"
                                            [disabled]="loading.toggle">
                        <span>

                          <span>
                            Activate School
                          </span>
                          <i class="m-loader--brand m-loader--right m-loader" *ngIf="loading.toggle"></i>
                        </span>
                                    </button>
                                    <button style="color: white !important;"
                                            class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                                            (click)="toggleSchool('disable')"
                                            *ngIf="viewedSchool?.configuration?.status.toString() === '1'"
                                            [disabled]="loading.toggle">
                        <span>

                          <span>
                            Deactivate School
                          </span> <i class="m-loader--brand m-loader--right m-loader" *ngIf="loading.toggle"></i>
                        </span>
                                    </button>


                                </li>
                            </ul>
                        </div>
                    </div>


                    <table class="table table-bordered col-12"
                           class="table m-table m-table--head-bg-brand m-table--head-separator-primary table-hover table-striped table-bordered small-margin">
                        <thead class="thead-color">
                        <tr>
                            <th colspan="2">
                                <h4 class="text-center">School Details</h4>
                            </th>
                        </tr>
                        </thead>
                        <tr>
                            <td class="school_label">Agent Name</td>
                            <td>
                                {{viewedSchool?.agent?.name || 'None'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="school_label">User Full Name</td>
                            <td>
                                {{viewedSchool?.user?.first_name || activeUser?.first_name}}
                                {{viewedSchool?.user?.last_name || activeUser?.last_name}}
                            </td>
                        </tr>
                        <tr>
                            <td class="school_label">User Email</td>
                            <td>
                                {{viewedSchool?.user?.email || activeUser?.email}}
                            </td>

                        </tr>
                        <tr>
                            <td class="school_label">School Domain</td>
                            <td>
                                <a class="m-link" href="//{{viewedSchool?.configuration?.domain}}/staff" target="_blank">{{viewedSchool?.configuration?.domain}}</a>
                            </td>

                        </tr>
                        <tr>
                            <td class="school_label">School SubDomain</td>
                            <td>
                                {{viewedSchool?.configuration?.subdomain}}
                            </td>

                        </tr>
                        <tr>
                            <td class="school_label">Status</td>
                            <td>
                  <span class="m-badge m-badge--success m-badge--wide"
                        *ngIf="viewedSchool?.configuration?.status.toString()==='1'">
                    Active
                  </span>
                                <span class="m-badge m-badge--danger m-badge--wide"
                                      *ngIf="viewedSchool?.configuration?.status.toString()==='0'">
                    Inactive
                  </span>
                            </td>

                        </tr>
                    </table>

                </div>
            </div><!--Courses of Study-->

        </div>
    </div>


</div>

<div class="m-portlet">
    <div class="m-portlet__body  m-portlet__body--no-padding">
        <div class="row m-row--no-padding m-row--col-separator-xl">
            <div class="col-xl-4">
                <!--begin:: Widgets/Daily Sales-->
                <div class="m-widget14">
                    <div class="m-widget14__header m--margin-bottom-30">
                        <h3 class="m-widget14__title">
                            Total Students
                        </h3>
                    </div>
                    <div class="row  align-items-center">
                        <div class="col">
                            <div class="m-widget14__chart" id="students_overview">
                                <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%"
                                     class="ct-chart-donut" style="width: 100%; height: 100%;">
                                    <g class="ct-series custom">
                                        <path d="M148.187,108.314A66.5,66.5,0,0,0,88.016,13.5" class="ct-slice-donut"
                                              ct:value="32"
                                              ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#716aca&amp;quot;}}"
                                              style="stroke-width: 17px;"
                                              stroke-dasharray="133.70704650878906px 133.70704650878906px"
                                              stroke-dashoffset="-133.70704650878906px" stroke="#716aca">
                                            <animate attributeName="stroke-dashoffset" id="anim0" dur="1000ms"
                                                     from="-133.70704650878906px" to="0px" fill="freeze"
                                                     stroke="#716aca"
                                                     calcMode="spline" keySplines="0.23 1 0.32 1"
                                                     keyTimes="0;1"></animate>
                                        </path>
                                    </g>
                                    <g class="ct-series custom">
                                        <path d="M36.776,122.389A66.5,66.5,0,0,0,148.285,108.104" class="ct-slice-donut"
                                              ct:value="32"
                                              ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#00c5dc&amp;quot;}}"
                                              style="stroke-width: 17px;"
                                              stroke-dasharray="133.94058227539062px 133.94058227539062px"
                                              stroke-dashoffset="-133.94058227539062px" stroke="#00c5dc">
                                            <animate attributeName="stroke-dashoffset" id="anim1" dur="1000ms"
                                                     from="-133.94058227539062px" to="0px" fill="freeze"
                                                     stroke="#00c5dc"
                                                     begin="anim0.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                     keyTimes="0;1"></animate>
                                        </path>
                                    </g>
                                    <g class="ct-series custom">
                                        <path d="M88.016,13.5A66.5,66.5,0,0,0,36.925,122.567" class="ct-slice-donut"
                                              ct:value="36"
                                              ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#ffb822&amp;quot;}}"
                                              style="stroke-width: 17px;"
                                              stroke-dasharray="150.65411376953125px 150.65411376953125px"
                                              stroke-dashoffset="-150.65411376953125px" stroke="#ffb822">
                                            <animate attributeName="stroke-dashoffset" id="anim2" dur="1000ms"
                                                     from="-150.65411376953125px" to="0px" fill="freeze"
                                                     stroke="#ffb822"
                                                     begin="anim1.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                     keyTimes="0;1"></animate>
                                        </path>
                                    </g>

                                </svg>

                                <div class="m-widget14__stat">

                                    {{viewedSchoolDashboard?.totalStudents}}
                                </div>

                            </div>
                        </div>
                        <div class="col">
                            <div class="m-widget14__legends">
                                <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-brand"></span>
                                    <span class="m-widget14__legend-text">
															<!--{{ratios?.current}}% Current ({{dashboardData?.students?.current}})-->
                    5%
														</span>
                                </div>

                                <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-danger"></span>
                                    <span class="m-widget14__legend-text">
															<!--{{ratios.expelled}}% Expelled ({{dashboardData?.students?.expelled}})-->
                    10%
														</span>
                                </div>
                                <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-success"></span>
                                    <span class="m-widget14__legend-text">
															<!--{{ratios.graduated}}% Graduated ({{dashboardData?.students?.graduated}})-->
                    100
														</span>
                                </div>
                                <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-info"></span>
                                    <span class="m-widget14__legend-text">
															<!--{{ratios?.suspended}}% Suspended ({{dashboardData?.students?.suspended}})-->
                    50
														</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:: Widgets/Daily Sales-->
            </div>

            <div class="col-xl-4" *ngIf="!isUser()">
                <!--begin:: Widgets/Support Stats-->
                <div class="m-widget1">
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">
                                    Transactions & Payments
                                </h3>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="m-widget1">
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">
                                    All Transactions
                                </h3>

                            </div>
                            <div class="col m--align-right">
													<span class="m-widget1__number m--font-focus">
						                                                                                           {{viewedSchoolDashboard?.completedTransaction}}


													</span>
                            </div>
                        </div>
                    </div>

                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">
                                    Pending Transactions
                                </h3>
                            </div>
                            <div class="col m--align-right">
													<span class="m-widget1__number m--font-focus">
						                                               {{viewedSchoolDashboard?.pendingTransaction}}
													</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">
                                    Failed Transactions
                                </h3>

                            </div>
                            <div class="col m--align-right">
													<span class="m-widget1__number m--font-accent">
																												                                                               {{viewedSchoolDashboard?.failedTransaction}}


													</span>
                            </div>
                        </div>
                    </div>

                </div>


            </div >

            <div class="col-xl-4">
                <!--begin:: Widgets/Support Stats-->
                <div class="m-widget1">
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">
                                    All Applicants
                                </h3>
                                <span class="m-widget1__desc">
                                                   {{viewedSchoolDashboard?.applicants}}

													</span>
                            </div>
                            <div class="col m--align-right">
													<span class="m-widget1__number m--font-focus">
						                                                   {{viewedSchoolDashboard?.applicants}}

													</span>
                            </div>
                        </div>
                    </div>

                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">
                                    All Programmes
                                </h3>
                                <span class="m-widget1__desc">
                                                   {{viewedSchoolDashboard?.otherData?.programmes}}

													</span>
                            </div>
                            <div class="col m--align-right">
													<span class="m-widget1__number m--font-focus">
						                                                   {{viewedSchoolDashboard?.otherData?.programmes}}

													</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">
                                    Faculties
                                </h3>
                                <span class="m-widget1__desc">
				                                                   {{viewedSchoolDashboard?.otherData?.faculties}}

													</span>
                            </div>
                            <div class="col m--align-right">
													<span class="m-widget1__number m--font-accent">
																												                                                                                   {{viewedSchoolDashboard?.otherData?.faculties}}



													</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">
                                    Departments
                                </h3>
                                <span class="m-widget1__desc">
	                                                   {{viewedSchoolDashboard?.otherData?.dept}}

													</span>
                            </div>
                            <div class="col m--align-right">
													<span class="m-widget1__number m--font-info">
																												                                                                                    {{viewedSchoolDashboard?.otherData?.dept}}

													</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="col">
                                <h3 class="m-widget1__title">
                                    All Courses of Study
                                </h3>
                                <span class="m-widget1__desc">
									                                                   {{viewedSchoolDashboard?.otherData?.cfs}}


													</span>
                            </div>
                            <div class="col m--align-right">
													<span class="m-widget1__number m--font-info">
																												                                                                                    {{viewedSchoolDashboard?.otherData?.cfs}}

													</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:: Widgets/Support Stats-->
            </div>

        </div>
        <!--end:: Widgets/Support Stats-->
    </div>

</div>

