.margin-down{
    margin-bottom: 0;
    padding-bottom: 0;
}

.margin-down p{
    color: #9816f4;
    font-size: 155% !important;
}

.reduce-margin{
    margin: 5px 20px 30px 20px !important;
}

.m-login__account a{
    color: black;
}
.m-login__account a:hover{
    text-decoration: underline !important;
}

.like-m_form--2.m-login__form.m-form{
    margin-top: -10px;
}

.logo-img {
  max-width: 100%;
  max-height: 200px;
  display: block;
  margin: auto;
  /*vertical-align: middle;*/
}
