<div class="m-grid m-grid--hor m-grid--root m-page">
  <div
    class="full-width m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin"
    id="m_login">
    <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
      <div class="m-stack m-stack--hor m-stack--desktop">
        <div class="m-stack__item m-stack__item--fluid">
          <div class="m-login__wrapper no-padding">
            <div class="" style="width: 200px; height: 200px; margin: 0 auto;">
              <img [src]="logo" *ngIf="logo" class="logo-img">
              <img src="assets/images/logos/Fav.png" *ngIf="!logo" class="logo-img">
            </div>
            <div class="text-center">
              <h4>Log in as</h4>
              <div class="m-btn-group m-btn-group--pill btn-group m-btn-group m-btn-group--pill btn-group-lg" role="group" aria-label="Large button group">
                <button type="button" class="m-btn btn" [ngClass]="switch_login === 'student' ? 'btn-primary' : 'btn-outline-primary'" (click)="switchLogin('student')">
                  Student
                </button>
                <button type="button" class="m-btn btn" [ngClass]="switch_login === 'applicant' ? 'btn-primary' : 'btn-outline-primary'" (click)="switchLogin('applicant')">
                  Applicant
                </button>
              </div>
              <!--<button class="btn btn-focus m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom m-btn&#45;&#45;air" (click)="switchLogin('student')">Student</button>-->
              <!--<button class="btn btn-focus m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom m-btn&#45;&#45;air" (click)="switchLogin('applicant')">Applicant</button>-->
            </div>
            <div class="m-login__signin mt-5" *ngIf="switch_login === 'student'">
              <div class="m-login__head">
                <h3 class="m-login__title">
                  Sign into your Student Account
                </h3>
              </div>
              <form [formGroup]="loginForm" class="like-m_form--2 m-login__form m-form">
                <div class="form-group m-form__group">
                  <input formControlName="email" class="form-control m-input" type="text"
                         placeholder="Email / Matric Number"
                         name="email" autocomplete="off">
                </div>
                <div class="form-group m-form__group m-input-icon m-input-icon--right">
                  <input formControlName="password"
                         class="form-control m-input m-login__form-input--last"
                         [type]="(showPassword.student) ? 'text' : 'password'" placeholder="Password" name="password">
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                    <span class="cursor_pointer" (click)="showPassword.student = !showPassword.student">
                      <i class="la" [ngClass]="(showPassword.student) ? 'la-eye-slash' : 'la-eye'"></i>
                    </span>
                  </span>
                </div>
                <div class="col m--align-right">
                  <a class="m-link" routerLink="/forgot-password" (click)="setRouteParam('student')">
                    Forgot Password?
                  </a>
                </div>
                <div class="m-login__form-action">
                  <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air"
                          (click)="signin()" [disabled]="loginForm.invalid">
                    Sign In
                  </button>
                  <i class="m-loader m-loader--right m-loader--light" *ngIf="feedback.loadingStatus"></i>
                </div>
              </form>
            </div>
            <div class="m-login__signup mt-5" *ngIf="switch_login === 'applicant'">
              <div class="m-login__head">
                <div class="m-login__title">
                  Applicant Login
                  <a class="btn btn-outline-danger float-right pb-2" routerLink="/apply">Apply Here</a>
                </div>
              </div>

              <!--Applicant Credentials-->
              <div class="w-100 bg-dark my-lg-5 text-white text-center" *ngIf="applicant.password">
                <table class="table">
                  <tr>
                    <td>Username:</td>
                    <td>{{ applicant.username }}</td>
                  </tr>
                  <tr>
                    <td>Password:</td>
                    <td>{{ applicant.password }}</td>
                  </tr>
                </table>
              </div>

              <form class="m-login__form m-form like-m_form--2" [formGroup]="applicantLoginForm"
                    (ngSubmit)="logInApplicant()">
                <div class="form-group m-form__group m-input-icon m-input-icon--right">
                  <input class="form-control m-input" type="text" placeholder="Username"
                         formControlName="email" id="password">
                </div>
                <div class="form-group m-form__group">
                  <input class="form-control m-input" placeholder="Password"
                         formControlName="password"
                         autocomplete="off" [type]="(showPassword.applicant) ? 'text' : 'password'">
                  <!--<span class="m-input-icon__icon m-input-icon__icon&#45;&#45;right">
                    <span class="cursor_pointer" (click)="showPassword.applicant = !showPassword.applicant">
                      <i class="la" [ngClass]="(showPassword.applicant) ? 'la-eye-slash' : 'la-eye'"></i>
                    </span>
                  </span>-->
                </div>
                <div class="col m--align-right">
                  <a class="m-link" routerLink="/forgot-password" (click)="setRouteParam('applicant')">
                    Forgot Password?
                  </a>
                </div>
                <div class="m-login__form-action">
                  <button id="m_login_signup_submit"
                          class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air"
                          type="submit"
                          [disabled]="applicantLoginForm.invalid || feedback.loadingStatus">
                    Submit
                  </button>
                  <i class="m-loader m-loader--right m-loader--light" *ngIf="feedback.loadingStatus"></i>
                  &nbsp;&nbsp;
                  <button id="m_login_signup_cancel"
                          class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn"
                          (click)="flipRegistration('login')" role="button" type="button">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
            <div class="m-login__forget-password">
              <div class="m-login__head">
                <h3 class="m-login__title">
                  Forgotten Password ?
                </h3>
                <div class="m-login__desc">
                  Enter your email to reset your password:
                </div>
              </div>
              <form class="m-login__form m-form like-m_form--2" action="">
                <div class="form-group m-form__group">
                  <input class="form-control m-input" type="email" placeholder="Email" name="email"
                         id="m_email" autocomplete="off">
                </div>
                <div class="m-login__form-action">
                  <button id="m_login_forget_password_submit"
                          class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                    Request
                  </button>
                  &nbsp;&nbsp;
                  <button id="m_login_forget_password_cancel"
                          class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
            <div class="m-stack__item m-stack__item--center" *ngIf="false">
              <div class="m-login__account">
                <p class="m-login__account-msg margin-down" style="color: red;font-weight: bold">
                  Are you an Applicant?
                </p>

                <a class="m-link m-link--light m-login__account-link" routerLink="/apply">
                  Apply
                </a>
                |
                <a class="m-link m-link--light m-login__account-link"
                   (click)="flipRegistration('signup')">
                  Login
                </a>
                |
                <a class="m-link" routerLink="/forgot-password" (click)="setRouteParam('applicant')">
                  <small>Forgot Password</small>
                </a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div
      class="overlay m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content">
      <div class="m-grid__item m-grid__item--middle text-center">
        <h2 class="m-login__welcome" *ngIf="ping?.name">
          Welcome to {{ping?.name}}
        </h2>
        <p class="m-login__msg">
          {{ping?.settings?.subtitle || ''}}
        </p>
      </div>
    </div>
  </div>
</div>
