<!-- Modal -->
<div id="openModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.formType}} {{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="example-text-input" class="col-3 col-form-label">
                <span class="styleStar">*</span> Name
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="name" type="text" value="Artisanal kale"
                       id="example-text-input">
                <div class="alert alert-danger col-12" role="alert"
                     *ngIf="createForm.get('name').invalid && createForm.get('name').touched">
                  <strong>
                    Name is Required
                  </strong>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="example-text-input" class="col-3 col-form-label">
                <span class="styleStar">*</span> Code
              </label>
              <div class="col-9">
                <input class="form-control m-input" maxlength="3" formControlName="code" type="text"
                       value="Artisanal kale" id="example-text-input">
                <div class="alert alert-danger col-12" role="alert"
                     *ngIf="createForm.get('name').invalid && createForm.get('name').touched">
                  <strong>
                    Code is Required
                  </strong>

                </div>
                <div style="color: red; font-size: 11px">Only 3 Letter Word is Required</div>

              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label for="example-text-input" class="col-3 col-form-label">
                <span class="styleStar">*</span> Duration
              </label>
              <div class="col-9">
                <input class="form-control m-input" formControlName="duration" type="number" value="Artisanal kale"
                       id="example-text-input">
                <div class="alert alert-danger col-12" role="alert"
                     *ngIf="createForm.get('duration').invalid && createForm.get('duration').touched">
                  <strong>
                    Duration is Required
                  </strong>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span> Degree
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName="degree_id" style="width: 100%">
                  <option></option>
                  <option *ngFor="let type of feedBack?.degreeType " [value]="type?.id">
                    {{type?.name}}
                  </option>
                </select>
                <div class="alert alert-danger col-12" role="alert"
                     *ngIf="createForm.get('degree_id').invalid && createForm.get('degree_id').touched">
                  <strong>
                    Degree is Required
                  </strong>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span> Department
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName="department_id" style="width: 100%">
                  <option></option>
                  <option *ngFor="let type of feedBack?.departmentType " [value]="type?.id">
                    {{type?.name}}
                  </option>
                </select>
                <div class="alert alert-danger col-12" role="alert"
                     *ngIf="createForm.get('department_id').invalid && createForm.get('department_id').touched">
                  <strong>
                    Department is Required
                  </strong>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-3 col-form-label">
                <span class="styleStar">*</span> Programme
              </label>
              <div class="col-lg-9 col-md-9 col-sm-12">

                <select class="form-control" formControlName="programme_type_id" style="width: 100%">
                  <option></option>
                  <option *ngFor="let type of feedBack?.programmeType " [value]="type?.id">
                    {{type?.name}}
                  </option>
                </select>
                <div class="alert alert-danger col-12" role="alert"
                     *ngIf="createForm.get('programme_type_id').invalid && createForm.get('programme_type_id').touched">
                  <strong>
                    Programme is Required
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="!feedBack.showUpdateButton" (click)="createFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal" [disabled]="feedBack.submitStatus || createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" *ngIf="feedBack.showUpdateButton" (click)="updateFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal" [disabled]="feedBack.submitStatus || createForm.invalid">
          Update <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<!--<div id="viewModal" class="modal fade" role="dialog">-->
<!--<div class="modal-dialog">-->

<!--&lt;!&ndash; Modal content&ndash;&gt;-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<h4 class="modal-title">{{feedBack?.moduleName}} Details</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<form [formGroup] = "createForm" class="m-form m-form&#45;&#45;fit m-form&#45;&#45;label-align-right">-->
<!--<div class="m-portlet__body" *ngIf="feedBack?.viewDetails">-->
<!--<div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">-->
<!--<div for="example-text-input" class="col-6 col-form-label text-right">-->
<!--Name:-->
<!--</div>-->
<!--<div for="example-text-input" class="col-6 col-form-label text-left">-->
<!--{{feedBack?.viewDetails?.name}}-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">-->
<!--<div for="example-text-input" class="col-6 col-form-label text-right">-->
<!--Programme:-->
<!--</div>-->
<!--<div for="example-text-input" class="col-6 col-form-label text-left">-->
<!--{{feedBack?.viewDetails?.programme?.name}}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon btn-danger m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm" data-dismiss="modal">Close</button>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools" *ngIf="permissions['school.course-of-study.create']">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <a style="color: white !important;" class="btn btn-accent m-btn--pill m-btn--air btn-sm" (click)="openModal()">
              <span>
                <i class="la la-plus"></i>
                <span>
                  Course
                </span>
              </span>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <!--<div style="float: right; margin: 10px; margin-right: 4%">-->
  <!--<button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"  (click)="openModal()">-->
  <!--<i class="fa fa-plus"></i>-->
  <!--Create-->
  <!--</button>-->
  <!--</div>-->
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->      <!--begin: Datatable -->
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
           class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th title="Field #1" class="serialnum">#</th>
        <th title="Field #2">Name</th>
        <th title="Field #2">Code</th>
        <th title="Field #2">Department</th>
        <th title="Field #2">Programme</th>
        <th title="Field #2">Degree</th>
        <th title="Field #3">Created Date</th>
        <th title="Field #4">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feedBack?.allResponse; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.name}}</td>
        <td>{{data?.code}}</td>
        <td>{{data?.department?.name}}</td>
        <td>{{data?.degree?.programme?.name}}</td>
        <td>{{data?.degree?.name}}</td>
        <td>{{data?.created_at | date}}</td>
        <td data-field="Type" class="m-datatable__cell">
          <div class="dropdown ">
            <a href="#"
               class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
               data-toggle="dropdown">
              <i class="la la-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *ngIf="permissions['school.course-of-study.update']">
              <a class="dropdown-item" (click)="onEdit(data, 'school.course-of-study.update')">
                <i class="la la-edit"></i> Edit
              </a>
              <!--<a class="dropdown-item" (click)="onView(data)">-->
              <!--<i class="la la-eye"></i> View Course</a>-->
            </div>
          </div>
        </td>

      </tr>
      <tr *ngIf="feedBack.loader || feedBack?.allResponse.length === 0">
        <td colspan="7" *ngIf="feedBack.loader">
          <div class="text-center">Loading {{feedBack?.moduleName}} <i
            class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="7" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

