<!-- Modal -->
<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Transaction Details</h4>
      </div>
      <div class="modal-body" *ngIf="rangeReport">
        <div class="">
          <table class="table table-striped table-bordered table-sm">
            <tr>
              <td><b>Matric Number</b></td>
              <td>{{singleRangeReport?.matric_no}}</td>
            </tr>
            <tr>
              <td><b>Department</b></td>
              <td>{{singleRangeReport?.name}}</td>
            </tr>
            <tr>
              <td><b>Amount</b></td>
              <td>{{singleRangeReport?.amount | currency: '&#8358;'}}</td>
            </tr>
            <tr>
              <td><b>Payment Method</b></td>
              <td>{{singleRangeReport?.payment_method}}</td>
            </tr>
            <tr>
              <td><b>Transaction ID</b></td>
              <td>{{singleRangeReport?.transaction_no}}</td>
            </tr>
            <tr>
              <td><b>Session Year</b></td>
              <td>{{singleRangeReport?.session_name || singleRangeReport?.session_year}}</td>
            </tr>
          </table>
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div class="col-12 text-center font-weight-bold my-3">
              Fee Breakdown
            </div>
            <div class="col-12">
              <table class="table table-sm table-bordered">
                <tr>
                  <th class="text-dark text-left">#</th>
                  <th class="text-dark text-left">Name</th>
                  <th class="text-dark text-left">Amount</th>
                </tr>
                <tr *ngFor="let item of rangeReport?.student_transaction_items; let i = index">
                  <td class="text-left">{{i+1}}</td>
                  <td class="text-left">{{ item?.fee?.fee_item?.name }}</td>
                  <td class="text-left">{{item?.amount | currency: '&#8358;'}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title float-left">
        <h3 class="m-portlet__head-text">
          Report By Date
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <form [formGroup]="dateFilterForm">
        <div class="mt-3 float-right align-middle">
          <button class="btn btn-accent m-btn--pill m-btn--air btn-sm"
                  [disabled]="dateFilterForm.invalid || feedBack?.loader"
                  (click)="reRender()">Submit</button>
        </div>
        <div class="mt-3 float-right mr-3">
          <b>To</b>
          <input class="form-control" type="date" formControlName="to">
        </div>
        <div class="mt-3 float-right mr-3">
          <b>From</b>
          <input class="form-control" type="date" formControlName="from">
        </div>
        <div class="mt-3 float-right mr-3">
          <b>Level</b>
          <i class="m-loader m-loader--brand" *ngIf="feedBack.level_loader"></i>
          <select class="form-control" formControlName="level_id">
            <option value="" disabled>Select Level</option>
            <option *ngFor="let level of feedBack?.programmeLevels" [value]="level?.id">{{level?.name}}</option>
          </select>
        </div>
        <div class="mt-3 float-right mr-3">
          <b>Programme</b>
          <i class="m-loader m-loader--brand" *ngIf="feedBack.programme_loader"></i>
          <select class="form-control" formControlName="programme_id" (change)="programmeById($event.target.value)">
            <option *ngFor="let programme of feedBack?.allProgrammes" [value]="programme?.id">{{programme?.name}}</option>
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="m-portlet__body table-responsive">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <table class="table" *ngIf="stats.total_paid">
          <tr>
            <td><h3>Total Amount</h3></td>
            <td><h3><b>{{ stats.total_paid | currency : '&#8358;' }}</b></h3></td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 col-sm-12 mb-3">
        <button class="btn btn-accent m-btn--air m-btn--pill float-right mb-2"
                [disabled]="feedBack?.excelling"
                (click)="exportAsXLSX()">
          <i class="fa fa-file-excel-o"></i> Excel
          <i class="m-loader m-loader--light" *ngIf="feedBack?.excelling"></i>
        </button>
      </div>
    </div>
    <div *ngIf="rangeReport?.data.length > 0" class="row my-md-2">
      <div class="col-6">
        <select class="form-control form-control-sm mb-1 col-3" (change)="changePerPage($event.target.value)">
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>
      <div class="col-6">
        <input type="text" (keyup)="search_model.next($event.target.value)"
               class="form-control form-control-sm col-6 float-right" placeholder="Search">
      </div>
    </div>
    <table class="table table-hover table-striped table-sm m-table--head-bg-brand relative">
      <div *ngIf="feedBack.loader" class="table-loader">
        <div class="content">
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <thead class="thead-color">
      <tr>
        <th>#</th>
        <th>Matric No.</th>
        <th>Department</th>
        <!--<th>Session</th>-->
        <th>Payment Method</th>
        <th>Amount</th>
        <th>Created Date</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <!--<td colspan="8" *ngIf="feedBack.loader">-->
          <!--<div  class="text-center">Loading &nbsp;&nbsp; <i class="m-loader m-loader&#45;&#45;brand"></i></div>-->
        <!--</td>-->
        <td colspan="8" *ngIf="!feedBack.loader && rangeReport?.data.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      <tr *ngFor="let data of rangeReport?.data; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.matric_no}}</td>
        <td>{{data?.name}}</td>
        <!--<td>{{data?.session_name || data?.session_year}}</td>-->
        <td>{{data?.payment_method}}</td>
        <td>{{data?.amount | currency: '&#8358;'}}</td>
        <td>{{data?.created_at | date}}</td>
        <td><button class="btn btn-info btn-xs" (click)="onView(data)"><i class="fa fa-eye"></i></button></td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="rangeReport?.data.length > 0" class="row mx-md-1">
      <div class="col-6">
        <div class="float-left">
          <span class="align-middle">Showing {{ rangeReport?.from }} to {{ rangeReport?.to }} of {{ rangeReport?.total }} entries</span>
        </div>
      </div>
      <div class="col-6">
        <div class="float-right">
          <button class="btn btn-sm btn-outline-brand" (click)="navigate('first')">First</button>
          <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only pr-1" (click)="navigate('prev')"
                  [disabled]="rangeReport?.prev_page_url === null">
            <i class="la la-chevron-left"></i>
          </button>
          <div class="btn-group" role="group" aria-label="First group">
            <button
              [ngClass]=" (page === rangeReport?.current_page) ? 'btn btn-sm btn-outline-brand active' : 'btn btn-sm btn-outline-brand'"
              *ngFor="let page of paginator.pages" (click)="navigate(page)">{{ page }}
            </button>
          </div>
          <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only" (click)="navigate('next')"
                  [disabled]="rangeReport?.next_page_url === null">
            <i class="la la-chevron-right"></i>
          </button>
          <button class="btn btn-sm btn-outline-brand" (click)="navigate('last')">Last</button>
        </div>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>

