<div>
  <div class="m-portlet m-portlet--full-height " *ngIf="feedBack.allResponse">
    <!--<div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Click on the picture to update it
          </h3>
        </div>
      </div>
    </div>-->
    <div class="m-portlet__body">
      <div class="alert alert-info alert-dismissible small" *ngIf="feedBack.can_upload && feedBack.unread && !feedBack.passport_is_set">
        Click on the picture to change it
        <a role="button" class="float-right" (click)="feedBack.unread = false" title="Close">
          <i class="la la-times" style="font-size: 100%"></i>
        </a>
      </div>
      <div class="m-card-profile">
        <div class="m-card-profile__title m--hide">
          Your Profile
        </div>
        <div class="m-card-profile__pic">
          <div class="logo-img"
               [ngClass]="(feedBack.can_upload && !feedBack.passport_is_set) ? 'pointer' : ''"
               (click)="(feedBack.can_upload && !feedBack.passport_is_set) ? getPhoto() : ''"
               [title]="(feedBack.can_upload && !feedBack.passport_is_set) ? 'Click to change' : ''">
            <input type="file" class="visibility-hidden" id="passport" (change)="previewImage($event)">
            <!--<img src="./assets/images/users/blank_male.jpg"-->
                 <!--alt="{{feedBack.allResponse?.last_name}} {{feedBack.allResponse?.first_name}}"-->
                 <!--*ngIf="feedBack.allResponse?.gender === 'Male' && !profileImg && !feedBack.allResponse?.passport"/>-->

            <!--<img src="./assets/images/users/blank_female.jpg"-->
                 <!--alt="{{feedBack.allResponse?.last_name}} {{feedBack.allResponse?.first_name}}"-->
                 <!--*ngIf="feedBack.allResponse?.gender === 'Female' && !profileImg && !feedBack.allResponse?.passport"/>-->
            <img [src]="profileImg" [alt]="feedBack.allResponse?.last_name + ' ' + feedBack.allResponse?.first_name"/>
          </div>
        </div>
        <div class="m-card-profile__details pt-md-3">
          <button class="btn btn-accent pb-md-3" (click)="setProfilePic()"
                  *ngIf="formFile && feedBack.can_upload && !feedBack.passport_is_set">
            &nbsp;&nbsp; Save &nbsp;&nbsp;
            <i class="m-loader m-loader--light" *ngIf="feedBack.setting_passport"></i>
          </button>
          <span class="m-card-profile__name">
            {{feedBack.allResponse?.last_name}} {{feedBack.allResponse?.first_name}}
            <br>
            {{feedBack.allResponse?.matric_no}}
					</span>
          <a class="m-card-profile__email m-link">
            {{feedBack.allResponse?.email}}
          </a>
        </div>
      </div>
      <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
        <li class="m-nav__separator m-nav__separator--fit"></li>
        <li class="m-nav__section m--hide">
												<span class="m-nav__section-text">
													Section
												</span>
        </li>
      </ul>
      <div class="m-portlet__body-separator"></div>
    </div>
  </div>
</div>
