<div id="hostelReservation" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="reservation">
        <div class="modal-header">
          <h4 class="modal-title">Hostel Booking Details</h4>
        </div>
        <div class="modal-body">
          <div class="m-portlet__body relative" id="hostel_slip" *ngIf="viewDetails">
            <img class="water-mark" width="100%" height="auto" [src]="schoolSettings?.settings?.logo">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <div class="img-div my-3">
                <img [src]="schoolSettings?.settings?.logo">
              </div>
              <h3 class="col-12 text-center py-2"> {{ schoolSettings?.name }} </h3>
              <h2 class="h2 my-2">Hostel Printout</h2>
              <table class="table table-sm table-striped mx-1">
                <tr>
                  <td><b>Name:</b></td>
                  <td>{{student?.last_name | uppercase}} {{student?.first_name | titlecase}} {{student?.other_names | titlecase}}</td>
                </tr>
                <tr>
                  <td><b>Matric Number:</b></td>
                  <td>{{student?.matric_no}}</td>
                </tr>
                <!--<tr>-->
                  <!--<td><b>Department:</b></td>-->
                  <!--<td>{{student?.department}}</td>-->
                <!--</tr>-->
                <tr>
                  <td><b>Hostel Name:</b></td>
                  <td>{{viewDetails?.hostel_session?.hostel?.hostel_name | titlecase}}</td>
                </tr>
                <tr>
                  <td><b>Hostel Address:</b></td>
                  <td>{{viewDetails?.hostel_session?.hostel?.hostel_address|titlecase}}</td>
                </tr>
                <tr>
                  <td><b>Room:</b></td>
                  <td>{{viewDetails?.bed_space?.room?.room_name}}</td>
                </tr>
                <tr>
                  <td><b>Bed Space:</b></td>
                  <td>{{viewDetails?.bed_space?.label}}</td>
                </tr>
                <tr>
                  <td><b>Amount:</b></td>
                  <td>{{viewDetails?.allocation_amount | currency: '&#x20A6;'}}</td>
                </tr>
                <tr>
                  <td><b>Transaction ID::</b></td>
                  <td>{{viewDetails?.transaction_id}}</td>
                </tr>
                <tr>
                  <td><b>Status</b></td>
                  <td *ngIf="viewDetails?.status.toString() === '0'" class="text-danger">
                    Failed
                  </td>
                  <td *ngIf="viewDetails?.status.toString() === '1'" class="text-success">
                    Successful
                  </td>
                  <td *ngIf="viewDetails?.status.toString() === '2'" class="text-warning">
                    Pending
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="viewDetails?.status && viewDetails?.status.toString()=='1'" (click)="printSlip('hostel_slip', '')"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm">
          <i class="fa fa-print"></i> Print &nbsp; <i class="m-loader m-loader--light" *ngIf="feedBack.print_loader"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>


    </div>
  </div>
</div>

<div id="openHostel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Book {{ selectedHostel?.hostel_name }} </h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> Room
              </label>
              <div class="col-8">
                <select class="form-control" formControlName="room" (change)="onbedSpace($event)">
                  <option></option>
                  <option *ngFor="let room of feedBack?.roomspaces" [value]="room?.id">{{room?.room_name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row"
                 *ngIf="createForm.get('room').dirty && feedBack?.bedspaces.length === 0">
              <div class="col-4"></div>
              <div class="col-8 m--font-danger">No Bedspace found</div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                 *ngIf="feedBack?.bedspaces?.length > 0">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> Bed Space
              </label>
              <div class="col-8">
                <select class="form-control" formControlName="hostel_bed_space_id">
                  <option></option>
                  <option *ngFor="let bedspace of feedBack?.bedspaces" [value]="bedspace?.id">{{bedspace?.label}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group m-form__group row" style="padding-bottom: 1px;"
                 *ngIf="feedBack?.bedspaces.length > 0 && (schoolSettings?.settings?.hostel_with_school_fee.toString()=='0')">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span> Payment Method
              </label>
              <div class="col-8">
                <select class="form-control" formControlName="payment_method">
                  <option></option>
                  <option *ngFor="let method of allPaymentMethods" value="{{method}}">{{method}}</option>
                </select>
              </div>
            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="createFormModal()" *ngIf="feedBack?.bedspaces.length > 0"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                [disabled]="createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--light" *ngIf="feedBack?.submitStatus"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>

<div
        class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
  <!-- BEGIN: Left Aside -->
  <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
    <i class="la la-close"></i>
  </button>
  <div id="m_aside_left" class="m-grid__item m-aside-left ">
    <!-- BEGIN: Aside Menu -->
    <div
            id="m_ver_menu"
            class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
            data-menu-vertical="true"
            data-menu-scrollable="false" data-menu-dropdown-timeout="500">

      <app-aside-nav></app-aside-nav>
    </div>
    <!-- END: Aside Menu -->
  </div>
  <!-- END: Left Aside -->
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <form method='POST' action='{{ETRANSACT_URL}}' id="etransact_submit">
      <input type=hidden name='TERMINAL_ID' value='{{etransactObject.TERMINAL_ID}}'>
      <input type=hidden name='TRANSACTION_ID' value='{{etransactObject.TRANSACTION_ID}}'>
      <input type=hidden name='RESPONSE_URL' value='{{etransactObject.RESPONSE_URL}}'>
      <input type=hidden name='AMOUNT' value='{{etransactObject.AMOUNT}}'>
      <input type=hidden name='LOGO_URL' value='{{etransactObject.LOGO_URL}}'>
      <input type=hidden name='NOTIFICATION_URL' value='{{etransactObject.NOTIFICATION_URL}}'>
      <input type=hidden name='CHECKSUM' value='{{etransactObject.CHECKSUM}}'>
      <input type=hidden name='COL1' value='{{etransactObject.COL1}}'>
    </form>

    <!--<div style="display: none">-->
      <!--<button id="paystack" type="button"-->
              <!--angular4-paystack-->
              <!--[key]="'pk_test_e6bf932293213285015f62e619ea6f8a42786c7d'"-->
              <!--[email]="'mailexample@mail.com'"-->
              <!--[amount]="+transactionFee*100"-->
              <!--[ref]="paystackRef"-->
              <!--[class]="'btn btn-primary'"-->
              <!--(close)="paystackPaymentCancel()"-->
              <!--(callback)="paystackPaymentDone($event)"-->
      <!--&gt;Pay with Paystack-->
      <!--</button>-->
      <!--&lt;!&ndash;Remenber to remove the multiplication by 100 on goLive&ndash;&gt;-->
    <!--</div>-->


    <div class="mt-5 mr-5 ml-5" *ngIf="ebillsTransactionId">
      <div class="m-portlet">

        <div class="m-portlet__body row" id="ebillsSlip">
          <div class="col-md-6 offset-md-3" id="">
            <div class="img-div my-3">
              <img [src]="schoolSettings?.settings?.logo">
            </div>
            <h3 class="col-12 text-center py-2"> {{ schoolSettings?.name }} </h3>
            <table class="table">
              <tr>
                <td><b>Name:</b></td>
                <td>{{student?.first_name}} {{student?.last_name}}</td>
              </tr>
              <tr>
                <td><b>Matric Number:</b></td>
                <td>{{student?.matric_no}}</td>
              </tr>
              <tr>
                <td><b>e-BillsPay Transaction Id:</b></td>
                <td>{{ebillsTransactionId}}</td>
              </tr>
              <tr>
                <td><b>Description</b></td>
                <td>Hostel Fees</td>
              </tr>
              <tr>
                <td><b>Total Amount</b></td>
                <td>{{selectedHostel?.hostel_amount | currency : '₦'}}</td>
              </tr>

              <tr>
                <td colspan="2" class="text-center">Please Print this Slip and take to Bank.</td>
              </tr>
            </table>

          </div>
        </div>
        <div class="mt-2">
          <button class="float-right btn btn-danger m-btn m-btn--pill m-btn--air"
                  (click)="ebillsTransactionId = false"><i class="fa fa-close"></i>
            Cancel
          </button>
          <button class="float-right btn btn-accent m-btn  m-btn--pill m-btn--air mr-2"
                  (click)="printSlip('ebillsSlip','EbillsPay Transaction Slip')"><i class="fa fa-print"></i>
            Print Slip
          </button>
        </div>
      </div>
    </div>


    <div class="mt-5 mr-5 ml-5" *ngIf="etransactObject?.show">
      <div class="m-portlet">

        <div class="m-portlet__body row" id="etransactSlip">
          <!--<div class="col-md-6 offset-md-3">-->
          <!--<h4 class="text-center h2 pt-4"> {{feedBack?.schoolDetails?.name}}</h4>-->

          <!--<h6 class="text-center">EbillsPay Transaction Details</h6>-->


          <!--<p class="m-portlet__head-text">-->
          <!--<b>Name:</b> {{authStudent?.last_name}} {{authStudent?.first_name}}-->
          <!--</p>-->

          <!--<p class="m-portlet__head-text">-->
          <!--<b>EbillsPay TransactionId:</b> {{ebillsTransactionId}}-->
          <!--</p>-->

          <!--<p class="m-portlet__head-text">-->
          <!--<b>Amount:</b> {{ebillsAmount |number:'1.2-2'}}-->
          <!--</p>-->

          <!--<small class="proceed">Proceed to bank with the above transaction details</small>-->

          <!--<br>-->
          <!--<br>-->
          <!--</div>-->
          <div class="col-md-6 offset-md-3" id="">
            <div class="img-div my-3">
              <img [src]="schoolSettings?.settings?.logo">
            </div>
            <h3 class="col-12 text-center py-2"> {{ schoolSettings?.name }} </h3>
            <table class="table">
              <tr>
                <td><b>Name:</b></td>
                <td>{{student?.last_name}} {{student?.first_name}} </td>
              </tr>
              <tr>
                <td><b>Payment Ref:</b></td>
                <td>{{etransactObject.PAY_REF}}</td>
              </tr>

              <tr>
                <td><b>Session:</b></td>
                <td>{{etransactObject.SESSION_YEAR}}</td>
              </tr>

              <tr>
                <td><b>E-tranzact Transaction Id:</b></td>
                <td>{{etransactObject.TRANSACTION_ID}}</td>
              </tr>
              <tr>
                <td><b>Description</b></td>
                <td>{{etransactObject.DESCRIPTION}}</td>
              </tr>
              <tr>
                <td><b>Total Amount</b></td>
                <td>{{etransactObject.AMOUNT | currency : '₦'}}</td>
              </tr>

              <tr>
                <td><b>Other Info</b></td>
                <td>{{etransactObject.OTHER_INFO}}</td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="etr-div my-3">
                    <img src="assets/images/logos/etranzact.png" style="width: 90px;height: auto" alt="E-tranzact">
                  </div>
                  <p>  <span style="color:blue">Please Print this Slip and take to Bank</span>, <b>OR</b> &nbsp;&nbsp;<button
                          class="btn btn-success m-btn--pill m-btn  m-btn--air"
                          (click)="payEtransactNow()" [disabled]="etransactObject?.paying">
                    <i *ngIf="!etransactObject?.paying" class="fa fa-money"></i>
                    <i *ngIf="etransactObject?.paying" class="fa fa-spinner fa-spin"></i>
                    Pay Now
                  </button>
                  </p>


                </td>
              </tr>
            </table>

          </div>
        </div>
        <div class="mt-2">
          <button class="float-right btn btn-danger m-btn m-btn--pill m-btn--air"
                  (click)="etransactObject['show'] = false"><i class="fa fa-close"></i>
            Cancel
          </button>
          <button class="float-right btn btn-accent m-btn  m-btn--pill m-btn--air mr-2"
                  (click)="printSlip('etransactSlip','E-Tranzact Transaction Slip')"><i class="fa fa-print"></i>
            Print Slip
          </button>
        </div>
      </div>
    </div>


    <!-- END: Subheader -->
    <div class="m-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Hostel Reservations
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body table-responsive">
              <!--end: Ss"></ Form -->      <!--begin: Datatable -->
              <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
                <thead class="thead-color">
                <tr>
                  <th>#</th>
                  <th>Hostel Name</th>
                  <th>Room</th>
                  <th>Bed Space</th>
                  <th>Hostel Gender</th>
                  <th>Created Date</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td colspan="7" *ngIf="feedBack.loader">
                    <div class="text-center">Loading  &nbsp;&nbsp;
                      <i class="m-loader m-loader--brand"></i>
                    </div>
                  </td>
                  <td colspan="7" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
                    <div class="text-center">No Content Found</div>
                  </td>
                </tr>
                <tr *ngFor="let data of feedBack?.allResponse; let i = index">
                  <td scope="row">{{i+1}}</td>
                  <!--<td>{{data?.allocation_amount | currency : '₦'}}</td>-->
                  <!--<td>{{data?.payment_method | uppercase}}</td>-->
                  <td>{{data?.hostel_session?.hostel?.hostel_name}}</td>
                  <td>{{data?.bed_space?.room?.room_name}}</td>
                  <td>{{data?.bed_space?.label}}</td>
                  <td>{{data?.hostel_session?.hostel?.hostel_gender | titlecase}}</td>
                  <td>{{data?.created_at | date}}</td>
                  <td>
                    <button class="btn btn-accent-sm" (click)="viewReservation(data)" title="View Details">
                      <i class="fa fa-eye"></i> View
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
              <!--end: Datatable -->
            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet" *ngIf="feedBack?.payment_status_loader || !payment_status">
        <div class="m-portlet__body">
          <div class="text-center">
            <i class="m-loader m-loader--brand" *ngIf="feedBack?.payment_status_loader"></i>
            <h4 *ngIf="!feedBack?.payment_status_loader && !payment_status">
              No Accommodation Payment found for this Session. Click <a routerLink="/student/payment" class="m-link m-link--accent">here</a> to make payment
            </h4>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="payment_status && !feedBack?.hostel_reserved">
        <div class="col-lg-12">
          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Available Hostels
                  </h3>
                </div>
              </div>

            </div>
            <div class="m-portlet__body table-responsive">
              <!--end: Ss"></ Form -->      <!--begin: Datatable -->
              <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
                <thead class="thead-color">
                <tr>
                  <th>#</th>
                  <th>Hostel</th>
                  <th>Address</th>
                  <th>Amount</th>
                  <th>Capacity</th>
                  <th>Gender</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="feedBack.available_loader || feedBack?.availableHostels.length === 0">
                  <td colspan="7" *ngIf="feedBack.available_loader">
                    <div class="text-center">Loading&nbsp;&nbsp; <i
                      class="m-loader m-loader--brand"></i></div>
                  </td>
                  <td colspan="7" *ngIf="!feedBack.available_loader && feedBack?.availableHostels.length === 0">
                    <div class="text-center">No Content Found</div>
                  </td>
                </tr>
                <tr *ngFor="let data of feedBack?.availableHostels; let i = index">
                  <td scope="row">{{i+1}}</td>
                  <td>{{data?.hostel?.hostel_name}}{{data?.hostel?.hostel_session?.id}}</td>
                  <td>{{data?.hostel?.hostel_address}}</td>
                  <td>{{data?.hostel?.hostel_amount | currency : '₦'}}</td>
                  <td>{{data?.hostel?.hostel_capacity}}</td>
                  <td>{{data?.hostel?.hostel_gender | titlecase}}</td>
                  <td>
                    <button class="btn btn-accent-sm" (click)="onbookHostel(data?.id, data)">
                      <i class="la la-edit"></i> Book Hostel
                    </button>
                    <!--<div class="dropdown ">-->
                      <!--<a href="#"-->
                         <!--class="btn m-btn m-btn&#45;&#45;hover-accent m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill"-->
                         <!--data-toggle="dropdown">-->
                        <!--<i class="la la-ellipsis-h"></i>-->
                      <!--</a>-->
                      <!--<div class="dropdown-menu dropdown-menu-right">-->
                        <!--<a class="dropdown-item" (click)="onbookHostel(data?.id, data)">-->
                          <!--</a>-->
                      <!--</div>-->
                    <!--</div>-->
                  </td>
                </tr>
                </tbody>
              </table>
              <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
              <!--end: Datatable -->
            </div>
          </div>
        </div>
      </div>

      <!--<app-student-hostel></app-student-hostel>-->

    </div>
  </div>
</div>
