<div id="createFeeItem" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">All Fee Items</h4>
        <button class="close" type="button" (click)="triggerModalOrOverlay('close','createFeeItem')">&times;
        </button>

      </div>
      <div class="modal-body">
        <div class="pull-right">
          <button class="btn btn-brand m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm mb-2"
                  (click)="toggleFeeItem()" *ngIf="!showCreateFeeItem">
            <i class="la la-plus"></i>
            <!--Fee Item-->
          </button>

          <button class="btn btn-accent m-btn btn-secondary m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="toggleFeeItem()" *ngIf="showCreateFeeItem">
            <i class="fa fa-undo"></i>
          </button>
        </div>
        <div class="form-group">

          <form [formGroup]="createFeeItemsForm" (ngSubmit)="createFeeItems()" *ngIf="showCreateFeeItem">
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" formControlName="name" placeholder="Fee Item Name">
              </div>
              <div class="col-md-6">
                <button type="submit"
                        class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                        [disabled]="createFeeItemsForm.invalid || load.requesting.create"
                >
                  {{load.message.create}}
                  <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                </button>
              </div>

            </div>


          </form>
        </div>

        <table class="table table-hover table-striped table-bordered table-sm">
          <thead>
          <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center">
            <td colspan="11" *ngIf="allFeeItems.length==0">No Record Found</td>
          </tr>
          <tr *ngFor="let feeItem of allFeeItems; let ind=index">
            <td>{{ind+1}}</td>
            <td *ngIf="!feeItem.update">{{feeItem.name || feeItem}}</td>
            <td *ngIf="feeItem.update">
              <form [formGroup]="updateFeeItemsForm">
                <input class="form-control" formControlName="name" type="text">
              </form>
            </td>
            <td><i *ngIf="!feeItem.update" class="fa fa-check text-success"></i></td>
            <td>
              <button *ngIf="!feeItem.update" class="btn btn-info btn-sm" (click)="toggleUpdate(feeItem)">
                <i class="la la-edit" *ngIf="!feeItem?.loading"></i>
              </button>
              <button *ngIf="feeItem.update" class="btn btn-accent m-btn m-btn--pill m-btn--air btn-sm"
                      (click)="updateFeeItems(feeItem)">
                Submit &nbsp;&nbsp;
                <i class="m-loader m-loader--light" *ngIf="load.requesting.create"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">

        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                (click)="triggerModalOrOverlay('close','createFeeItem')">Close
        </button>

      </div>
    </div>
  </div>

</div>

<div id="createFee" class="modal fade" role="dialog">
  <form [formGroup]="createFeeForm" (ngSubmit)="createFee()">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="m-portlet__head">
            <div class="m-portlet__head-tools">
              <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                  role="tablist">
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link active" data-toggle="tab"
                     href="#m_user_profile_tab_3" role="tab">
                    <i class="flaticon-share m--hide"></i>
                    <span *ngIf="testFeePayment">Test</span> Fee Settings
                  </a>
                </li>
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link" data-toggle="tab"
                     href="#m_user_profile_tab_4" role="tab">
                    Assign Fee <span *ngIf="testFeePayment">(Test)</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="float-right">
            <button class="close" type="button"
                    (click)="triggerModalOrOverlay('close','createFee')">&times;
            </button>
          </div>
        </div>
        <div class="modal-body">
          <div class="tab-content reduce-label">
            <div class="tab-pane active" id="m_user_profile_tab_3">
              <div class="row form-group">
                <div class="col-md-12">
                  <label>Amount:</label>
                  <input class="form-control" formControlName="amount"
                         type="number"
                         placeholder="Fee Amount">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label >Fee Item:</label>
                  <select class="form-control" formControlName="fee_item_id" >
                    <option value="" disabled>Select Fee Item</option>
                    <option *ngFor="let feeItem of allFeeItems; let ind=index"
                            value="{{feeItem?.id}}">
                      {{feeItem.name}}
                    </option>
                  </select>
                </div>

              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label >Programme:</label>
                  <select class="form-control" #setProgramme
                        formControlName="programme_id"  (change)="getProgrammeById(setProgramme.value)">
                    <option value="" disabled>Select Programme</option>
                    <option *ngFor="let programme of allProgrammes; let ind=index"
                            value="{{programme?.id}}">
                      {{programme?.name}}
                    </option>
                  </select>
                  <!-- <input class="form-control" id="domain" formControlName="session_year" placeholder="Session Year" type="date"> -->

                </div>
              </div>
              <div class="row form-group">
                  <div class="col-md-12">
                    <label >Session Year: <i class="m-loader m-loader--brand"
                                                               *ngIf="load.session.loading"></i></label>
                    <!--<select class="form-control" formControlName="session_year" >-->
                    <!--<option value="" disabled>Select Session Year</option>-->
                    <!--<option *ngFor="let session of allSessions; let ind=index"-->
                    <!--value="{{session?.year}}">-->
                    <!--{{session?.year}}-->
                    <!--</option>-->
                    <!--</select>-->
                    <input class="form-control" id="domain" formControlName="session_year" placeholder="Session Year"
                           type="text">

                  </div>
                </div>
            </div>
            <div class="tab-pane" id="m_user_profile_tab_4">
              <div class="row form-group">
                <div class="col-md-12">
                  <label >Country:</label>
                  <select class="form-control" id="select_country" #country_state
                          formControlName="country_id"    (change)="getStateByCountryId(country_state.value)">
                    <option value="" disabled>Select Country</option>
                    <option value="{{country?.id}}" *ngFor="let country of allCountries">
                      {{country?.name}}
                    </option>

                  </select>

                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label >State: <i class="m-loader m-loader--brand"
                                                 *ngIf="load?.states?.loading"></i></label>
                  <select class="form-control" formControlName="state_id">
                    <option value="" disabled>Select State</option>
                    <option value="">---</option>
                    <option value="{{state?.id}}" *ngFor="let state of allStates">
                      {{state?.name}}
                    </option>

                  </select>

                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label >Faculty:</label>
                  <select class="form-control" #set_faculty
                          formControlName="faculty_id"    (change)="getDepartmentByFacultyId(set_faculty.value)">
                    <option value="" disabled>Select Faculty</option>
                    <option value="">---</option>
                    <option value="{{faculty?.id}}" *ngFor="let faculty of allFaculties">
                      {{faculty?.name}}
                    </option>

                  </select>
                  <!--<select2 class="form-control" [data]="allFaculties"></select2>-->
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label >Department: <i class="m-loader m-loader--brand"
                                                      *ngIf="load?.departments?.loading"></i></label>
                  <select class="form-control" #set_department
                          formControlName="department_id"    (change)="getCourseByDepartmentId(set_department.value)">
                    <option value="" disabled>Select Department</option>
                    <option value="">---</option>
                    <option value="{{department?.id}}"
                            *ngFor="let department of allDepartments">
                      {{department?.name}}
                    </option>

                  </select>

                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label >Course of Study: <i class="m-loader--brand m-loader"
                                                           *ngIf="load?.courses?.loading "></i></label>
                  <select class="form-control"  formControlName="course_of_study_id">
                    <option value="" disabled>Select Course of Study</option>
                    <option value="">---</option>
                    <option value="{{course?.id}}" *ngFor="let course of allCourses">
                      {{course?.name}}
                    </option>

                  </select>

                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label >Level:</label>
                  <select class="form-control" formControlName="level_id">
                    <option value="" disabled>Select Level</option>
                    <option value="">---</option>
                    <option value="{{level?.id}}" *ngFor="let level of allLevels">
                      {{level?.name}}
                    </option>

                  </select>

                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label >Gender:</label>
                  <select class="form-control" formControlName="gender">
                    <option value="" disabled>Select Gender</option>
                    <option value="">---</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>


                  </select>

                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label >Student Type:</label>
                  <select class="form-control" formControlName="student_type">
                    <option value="" disabled>Select Student Type</option>
                    <option value="">---</option>
                    <option value="new">New</option>
                    <option value="returning">Returning</option>
                    <option value="spillover">Spill Over</option>
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label >Mode of Entry:</label>
                  <select class="form-control" formControlName="mode_of_entry">
                    <option value="" disabled>Select Mode of Entry</option>
                    <option value="UTME">UTME</option>
                    <option value="DE">Direct Entry</option>


                  </select>

                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label >Semester:</label>
                  <select class="form-control" formControlName="semester">
                    <option value="" disabled>Select Semester</option>
                    <option value="1">First Semester</option>
                    <option value="2">Second Semester</option>
                    <option value="3">Third Semester</option>


                  </select>

                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6">
                  <label>Required:</label>
                  <input type="radio" class="radio-inline" formControlName="status" value="1">

                </div>
                <div class="col-md-6">
                  <label>Optional:</label>
                  <input type="radio" class="radio-inline" formControlName="status" value="0">

                </div>

              </div>
              <div class="row form-group">
                <div class="col-md-6">
                  <label class="">
                    Penalty Fee?:
                    <input type="checkbox" formControlName="is_penalty" [checked]="createFeeForm.get('is_penalty').value=='1'">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="createFeeForm.invalid || load.requesting.create">{{load.message.create}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>

          <button type="button"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','createFee')">Close
          </button>

        </div>
      </div>
    </div>
  </form>
</div>

<div id="part_payment_modal" class="modal fade" role="dialog">
  <form [formGroup]="partPaymentForm">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <!--<h4 class="modal-title">Assign an amount to a fee item</h4>-->

          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab"
                   href="#basic" role="tab">
                  <i class="flaticon-share m--hide"></i>
                  Part Payment Setting
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab"
                   href="#others" role="tab">
                  Assign Fee <span *ngIf="testFeePayment">(Test)</span>
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <button class="close" type="button"
                        (click)="triggerModalOrOverlay('close','part_payment_modal')">&times;
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="modal-body">
          <div class="tab-content">
            <div class="tab-pane active" id="basic">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <label>
                      <span class="text-danger">*</span>
                      Type:</label>

                    <select class="form-control" formControlName="type" id="part_type">
                      <option value="" disabled>Select Type</option>
                      <option value="">----</option>
                      <option value="amount">Amount</option>
                      <option value="ratio">Ratio</option>
                    </select>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label >
                      <span class="text-danger">*</span>
                      Value:</label>
                    <input class="form-control" formControlName="value" id="part_schoolname"
                           type="number"
                           placeholder="Amount">

                  </div>

                </div>

                <div class="row">
                  <div class="col-md-12">
                    <label >Programme:</label>
                    <select class="form-control" #setProgramme_part >
                      <option value="" disabled>Select Programme</option>
                      <option *ngFor="let programme of allProgrammes"
                              value="{{programme?.id}}">
                        {{programme?.name}}
                      </option>
                    </select>
                    <!-- <input class="form-control" id="domain" formControlName="session_year" placeholder="Session Year" type="date"> -->

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label >
                      <span class="text-danger">*</span>
                      Session Year: <i class="m-loader m-loader--brand"
                                       *ngIf="load.session.loading"></i></label>
                    <!--<select class="form-control" formControlName="session_year" >-->
                    <!--<option value="" disabled>Select Session Year</option>-->
                    <!--<option *ngFor="let session of allSessions; let ind=index"-->
                    <!--value="{{session?.year}}">-->
                    <!--{{session?.year}}-->
                    <!--</option>-->
                    <!--</select>-->
                    <input class="form-control" id="part_domain" formControlName="session_year"
                           placeholder="Session Year" type="text">

                  </div>
                </div>

                <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                <!--<label >Assign Fee to:</label>-->
                <!--<select class="form-control" #assingmentItem id="assingment_item"-->
                <!--(change)="setAssignmentItem(assingmentItem.value)">-->
                <!--<option value="" disabled>Select Assigment</option>-->
                <!--<option value="general">General</option>-->
                <!--<option value="country">Country</option>-->
                <!--<option value="faculty">Faculty</option>-->
                <!--<option value="department">Department</option>-->
                <!--<option value="level">Level</option>-->
                <!--<option value="course">Course of Study</option>-->
                <!--<option value="gender">Gender</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->

              </div>
            </div>
            <div class="tab-pane" id="others">


              <div class="row">
                <div class="col-md-12">
                  <label >Country:</label>
                  <select class="form-control" id="select_country_part" formControlName="country_id" #country_state_part
                          (change)="getStateByCountryId(country_state_part.value)">
                    <option value="" disabled>Select Country</option>
                    <option value="">---</option>
                    <option value="{{country?.id}}" *ngFor="let country of allCountries">
                      {{country?.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >State: <i class="m-loader m-loader--brand"
                                                 *ngIf="load?.states?.loading"></i></label>
                  <select class="form-control" formControlName="state_id" #set_state_part
                          (change)="getLgaByStateId(set_state_part.value)">
                    <option value="" disabled>Select State</option>
                    <option value="">---</option>
                    <option value="{{state?.id}}" *ngFor="let state of allStates">
                      {{state?.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Faculty:</label>
                  <select class="form-control" #set_faculty_part
                          (change)="getDepartmentByFacultyId(set_faculty_part.value)" formControlName="faculty_id">
                    <option value="" disabled>Select Faculty</option>
                    <option value="">---</option>
                    <option value="{{faculty?.id}}" *ngFor="let faculty of allFaculties">
                      {{faculty?.name}}
                    </option>
                  </select>
                  <!--<select2 class="form-control" [data]="allFaculties"></select2>-->
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Department: <i class="m-loader m-loader--brand"
                                                      *ngIf="load?.departments?.loading"></i></label>
                  <select class="form-control" #set_department_part
                          (change)="getCourseByDepartmentId(set_department_part.value)" formControlName="department_id">
                    <option value="" disabled>Select Department</option>
                    <option value="">---</option>
                    <option value="{{department?.id}}"
                            *ngFor="let department of allDepartments">
                      {{department?.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Course of Study: <i class="m-loader--brand m-loader"
                                                           *ngIf="load?.courses?.loading "></i></label>
                  <select class="form-control" id="course_part" formControlName="course_of_study_id">
                    <option value="" disabled>Select Course of Study</option>
                    <option value="">---</option>
                    <option value="{{course?.id}}" *ngFor="let course of allCourses">
                      {{course?.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Level:</label>
                  <select class="form-control" id="select_department_part" formControlName="level_id">
                    <option value="" disabled>Select Level</option>
                    <option value="">---</option>
                    <option value="{{level?.id}}" *ngFor="let level of allLevels">
                      {{level?.name}}
                    </option>

                  </select>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Gender:</label>
                  <select class="form-control" formControlName="gender">
                    <option value="" disabled>Select Gender</option>
                    <option value="">---</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Student Type:</label>
                  <select class="form-control" formControlName="student_type">
                    <option value="" disabled>Select Student Type</option>
                    <option value="">---</option>
                    <option value="new">New</option>
                    <option value="returning">Returning</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Mode of Entry:</label>
                  <select class="form-control" formControlName="mode_of_entry">
                    <option value="" disabled>Select Mode of Entry</option>
                    <option value="utme">UTME</option>
                    <option value="de">Direct Entry</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Semester:</label>
                  <select class="form-control" formControlName="semester">
                    <option value="" disabled>Select Semester</option>
                    <option value="1">First Semester</option>
                    <option value="2">Second Semester</option>
                    <option value="3">Third Semester</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="createPartPaymentFee()"
                  *ngIf="modals.action !== 'update_part_payment'"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="partPaymentForm.invalid || load.part_payment.create">
            <span *ngIf="!load.part_payment.create">{{load.message.create}}</span>
            <span *ngIf="load.part_payment.create" class="px-4">
              &nbsp;<i class="m-loader m-loader-brand"></i>&nbsp;
            </span>
          </button>

          <button (click)="updatePartPaymentFee()"
                  *ngIf="modals.action === 'update_part_payment'"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="partPaymentForm.invalid || load.part_payment.create">
            <span *ngIf="!load.part_payment.create">{{load.message.update}}</span>
            <span *ngIf="load.part_payment.create" class="px-4">
              &nbsp;<i class="m-loader m-loader-brand"></i>&nbsp;
            </span>
          </button>

          <button type="button"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','part_payment_modal')">Close
          </button>

        </div>
      </div>
    </div>
  </form>
</div>

<div id="updateFee" class="modal fade" role="dialog">
  <form [formGroup]="updateFeeForm" (ngSubmit)="updateFee()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <!--<h4 class="modal-title">Update fee of {{updatedFee?.ammount}} for {{updatedFee?.fee_item_name}}</h4>-->
          <!-- <button class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-smbtn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateFee')">Close</button> -->

          <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                role="tablist">
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab"
                   href="#m_user_profile_tab_7" role="tab">
                  <i class="flaticon-share m--hide"></i>
                   Fee Settings
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab"
                   href="#m_user_profile_tab_8" role="tab">
                  Assign Fee
                </a>
              </li>
              <li class="nav-item m-tabs__item">
                <button class="close" type="button"
                        (click)="triggerModalOrOverlay('close','updateFee')">&times;
                </button>
              </li>
            </ul>
          </div>

          <!--<button class="close" type="button" (click)="triggerModalOrOverlay('close','updateFee')">&times;-->
          <!--</button>-->

        </div>
        <div class="modal-body">
          <div class="tab-content">
            <div class="tab-pane active" id="m_user_profile_tab_7">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <label>Amount:</label>
                    <input class="form-control" formControlName="amount"
                           type="number"
                           placeholder="Fee Amount">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label >Fee Item:</label>
                    <select class="form-control" formControlName="fee_item_id" id="country_update">
                      <option value="" disabled>Select Fee Item</option>
                      <option *ngFor="let feeItem of allFeeItems; let ind=index"
                              value="{{feeItem?.id}}">
                        {{feeItem.name}}
                      </option>
                    </select>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-12">
                    <label >Programme:</label>
                    <select class="form-control" #setProgrammeUpdate id="country2"
                            (change)="getProgrammeById(setProgrammeUpdate.value)" formControlName="programme_id">
                      <option value="" disabled>Select Programme</option>
                      <option *ngFor="let programme of allProgrammes; let ind=index"
                              value="{{programme?.id}}">
                        {{programme?.name}}
                      </option>
                    </select>
                    <!-- <input class="form-control" id="domain" formControlName="session_year" placeholder="Session Year" type="date"> -->

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label >Session Year: <i class="m-loader m-loader--brand"
                                                               *ngIf="load.session.loading"></i></label>
                    <!--<select class="form-control" formControlName="session_year" >-->
                    <!--<option value="" disabled>Select Session Year</option>-->
                    <!--<option *ngFor="let session of allSessions; let ind=index"-->
                    <!--value="{{session?.year}}">-->
                    <!--{{session?.year}}-->
                    <!--</option>-->
                    <!--</select>-->
                    <input class="form-control" id="domain_update" formControlName="session_year" placeholder="Session Year"
                           type="text">

                  </div>
                </div>

                <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                <!--<label >Assign Fee to:</label>-->
                <!--<select class="form-control" #assingmentItem id="assingment_item"-->
                <!--(change)="setAssignmentItem(assingmentItem.value)">-->
                <!--<option value="" disabled>Select Assigment</option>-->
                <!--<option value="general">General</option>-->
                <!--<option value="country">Country</option>-->
                <!--<option value="faculty">Faculty</option>-->
                <!--<option value="department">Department</option>-->
                <!--<option value="level">Level</option>-->
                <!--<option value="course">Course of Study</option>-->
                <!--<option value="gender">Gender</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->

              </div>
            </div>
            <div class="tab-pane" id="m_user_profile_tab_8">


              <div class="row">
                <div class="col-md-12">
                  <label >Country:</label>
                  <select class="form-control" formControlName="country_id" id="select_country_pdate" #country_update
                          (change)="getStateByCountryId(country_update.value)">
                    <option value="" disabled>Select Country</option>
                    <option value="{{country?.id}}" *ngFor="let country of allCountries">
                      {{country?.name}}
                    </option>

                  </select>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >State: <i class="m-loader m-loader--brand"
                                                 *ngIf="load?.states?.loading"></i></label>
                  <select class="form-control" formControlName="state_id">
                    <option value="" disabled>Select State</option>
                    <option value="">---</option>
                    <option value="{{state?.id}}" *ngFor="let state of allStates">
                      {{state?.name}}
                    </option>

                  </select>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Faculty:</label>
                  <select class="form-control" #set_faculty_update
                          formControlName="faculty_id"      (change)="getDepartmentByFacultyId(set_faculty_update.value)">
                    <option value="" disabled>Select Faculty</option>
                    <option value="">---</option>
                    <option value="{{faculty?.id}}" *ngFor="let faculty of allFaculties">
                      {{faculty?.name}}
                    </option>

                  </select>
                  <!--<select2 class="form-control" [data]="allFaculties"></select2>-->
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Department: <i class="m-loader m-loader--brand"
                                                      *ngIf="load?.departments?.loading"></i></label>
                  <select class="form-control" #set_department_update
                          formControlName="department_id"   (change)="getCourseByDepartmentId(set_department_update.value)">
                    <option value="" disabled>Select Department</option>
                    <option value="">---</option>
                    <option value="{{department?.id}}"
                            *ngFor="let department of allDepartments">
                      {{department?.name}}
                    </option>

                  </select>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Course of Study: <i class="m-loader--brand m-loader"
                                                           *ngIf="load?.courses?.loading "></i></label>
                  <select class="form-control"  formControlName="course_of_study_id">
                    <option value="" disabled>Select Course of Study</option>
                    <option value="">---</option>
                    <option value="{{course?.id}}" *ngFor="let course of allCourses">
                      {{course?.name}}
                    </option>

                  </select>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Level:</label>
                  <select class="form-control" formControlName="level_id">
                    <option value="" disabled>Select Level</option>
                    <option value="">---</option>
                    <option value="{{level?.id}}" *ngFor="let level of allLevels">
                      {{level?.name}}
                    </option>

                  </select>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Gender:</label>
                  <select class="form-control" id="select_gender_update" formControlName="gender">
                    <option value="" disabled>Select Gender</option>
                    <option value="">---</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>


                  </select>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Student Type:</label>
                  <select class="form-control" id="student_type_update" formControlName="student_type">
                    <option value="" disabled>Select Student Type</option>
                    <option value="">---</option>
                    <option value="new">New</option>
                    <option value="returning">Returning</option>


                  </select>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Mode of Entry:</label>
                  <select class="form-control" id="mode_of_entry_update" formControlName="mode_of_entry">
                    <option value="" disabled>Select Mode of Entry</option>
                    <option value="utme">UTME</option>
                    <option value="de">Direct Entry</option>


                  </select>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label >Semester:</label>
                  <select class="form-control" id="semester_update" formControlName="semester">
                    <option value="" disabled>Select Semester</option>
                    <option value="1">First Semester</option>
                    <option value="2">Second Semester</option>
                    <option value="3">Third Semester</option>


                  </select>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label >Required:</label>
                  <input type="radio" class="radio-inline" formControlName="status" value="1" checked>

                </div>
                <div class="col-md-6">
                  <label >Optional:</label>
                  <input type="radio" class="radio-inline" formControlName="status" value="0">

                </div>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="">
                    Penalty Fee?:
                    <input type="checkbox" formControlName="is_penalty">
                  </label>


                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">

          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="updateFeeForm.invalid || load.requesting.create">{{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>


          <button type="button"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','updateFee')">Close
          </button>


        </div>
      </div>
    </div>
  </form>
</div>

<div id="feeCRUD" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{modals?.modal_title}}</h4>
        <button class="close" type="button" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="feesForm" class="m-form form-group">
          <div class="form-group m-form__group row">
            <label class="col-lg-4 col-form-label">
              Programme:
              <i class="m-loader m-loader--brand" *ngIf="load.programme"></i>
            </label>
            <div class="col-lg-8">
              <select formControlName="programme_id" class="form-control m-input--solid"
                      (change)="getSessionsByProgrammeId($event.target.value)">
                <option *ngFor="let programme of allProgrammes" [value]="programme?.id">
                  {{programme?.name}}
                </option>
              </select>
            </div>
          </div><!--Faculty-->
          <div class="form-group m-form__group row">
            <label class="col-lg-4 col-form-label">
              Faculty:
            </label>
            <div class="col-lg-8">
              <select formControlName="faculty_id" class="form-control m-input--solid"
                      (change)="getDepartmentByFacultyId($event.target.value)">
                <option></option>
                <option *ngFor="let faculty of allFaculties" [value]="faculty?.id">
                  {{faculty?.name}}
                </option>
              </select>
            </div>
          </div><!--Programme-->
          <div class="form-group m-form__group row">
            <label class="col-lg-4 col-form-label">
              Department:&nbsp;&nbsp;
              <i class="m-loader m-loader--brand" *ngIf="load.departments.loading"></i>
            </label>
            <div class="col-lg-8">
              <select formControlName="department_id" class="form-control m-input--solid">
                <option value="{{modals?.object?.department?.id}}" selected>{{modals?.object?.department?.name}}
                </option>
                <option *ngFor="let department of allDepartments" [value]="department?.id">
                  {{department?.name}}
                </option>
              </select>
              <!--<span class="m-form__help">-->
              <!--We'll never share your email with anyone else-->
              <!--</span>-->
            </div>
          </div><!--Department-->
          <div class="form-group m-form__group row">
            <label class="col-lg-4 col-form-label">
              Session:&nbsp;&nbsp;
              <i class="m-loader m-loader--brand" *ngIf="load.session.loading"></i>
            </label>
            <div class="col-lg-8">
              <select formControlName="session_id" class="form-control m-input--solid">
                <option value="{{modals?.object?.session?.id}}" selected>{{modals?.object?.session?.name}}</option>
                <!--<option></option>-->
                <option *ngFor="let session of allSessions" [value]="session?.id">
                  {{session?.name || session?.year}}
                </option>
              </select>
              <small class="m--font-danger"
                     *ngIf="feesForm.get('session_id').touched && feesForm.get('session_id').invalid">
                Session is required!
              </small>
              <small class="m--font-danger"
                     *ngIf="feesForm.get('course_of_study_id').touched && allSession.length < 1">
                No Session Found!
              </small>
            </div>
          </div><!--Session-->
          <div class="form-group m-form__group row">
            <label class="col-lg-4 col-form-label">
              Amount:
            </label>
            <div class="col-lg-8">
              <input formControlName="amount" type="number" class="form-control m-input--solid">
              <small class="m--font-danger"
                     *ngIf="feesForm.get('amount').touched && feesForm.get('amount').invalid">
                Amount is required!
              </small>
            </div>
          </div><!--Amount-->
          <div class="form-group m-form__group row">
            <div class="col-12">
              <button type="button" (click)="feesCreateOrUpdate()"
                      class="btn btn-accent m-btn m-btn--pill m-btn--air float-right"
                      [disabled]="feesForm.invalid || load.fee.transcript">
                Submit &nbsp;&nbsp;
                <i *ngIf="load.fee.transcript" class="m-loader m-loader--light"></i>
              </button>
            </div>
          </div><!--Button-->
        </form>
      </div>
    </div>
  </div>
</div>

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-tools">
      <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--left m-tabs-line--primary" role="tablist">
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link active"
             data-toggle="tab"
             href="#school_fee" role="tab">
            <i class="flaticon-share m--hide"></i>
            School Fees
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link" data-toggle="tab"
             href="#transfer_fee" role="tab">
            Transfer Fee
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link" data-toggle="tab"
             href="#transcript_fee" role="tab">
            Transcript Fee
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link" data-toggle="tab"
             href="#acceptance_fee" role="tab">
            Acceptance Fee
          </a>
        </li>
        <li class="nav-item m-tabs__item">
          <a class="nav-link m-tabs__link" data-toggle="tab"
             href="#part_payment" role="tab">
            Part Payment Setup
          </a>
        </li>
      </ul>
    </div>


  </div>
  <div class="m-portlet__body table-responsive">
    <div class="tab-content">
      <div class="tab-pane active" id="school_fee">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                School Fees
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">

              <li class="m-portlet__nav-item">
                <a style="color: white !important;"
                   class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                   (click)="openCreateFeeModal()">
													<span>
														<i class="la la-plus"></i>
														<span>
															Create Fee
														</span>
													</span>
                </a>
              </li>

              <li class="m-portlet__nav-item">
                <a style="color: white !important;"
                   class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                   (click)="triggerModalOrOverlay('open','createFeeItem')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Create Fee Item
														</span>
													</span>
                </a>
              </li>


            </ul>
          </div>
        </div>
        <form [formGroup]="fetchFees">
          <div class="reduce-label">
            <div class="mt-4 form-group row">
              <div class="col-md-4">
                <label >Country:</label>
                <select class="form-control" id="fetch_select_country" #fetch_country_state
                        (change)="getStateByCountryId(fetch_country_state.value)" formControlName="country_id">
                  <option value="" disabled>Select Country</option>
                  <option value="">---</option>
                  <option value="{{country?.id}}" *ngFor="let country of allCountries">
                    {{country?.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-4">
                <label >State: <i class="m-loader m-loader--brand"
                                               *ngIf="load?.states?.loading"></i></label>
                <select class="form-control" formControlName="state_id">
                  <option value="" disabled>Select State</option>
                  <option value="">---</option>
                  <option value="{{state?.id}}" *ngFor="let state of allStates">
                    {{state?.name}}
                  </option>

                </select>

              </div>

              <div class="col-md-4">
                <label >Faculty:</label>
                <select class="form-control" #fetch_set_faculty formControlName="faculty_id"
                        (change)="getDepartmentByFacultyId(fetch_set_faculty.value)">
                  <option value="" disabled>Select Faculty</option>
                  <option value="">---</option>
                  <option value="{{faculty?.id}}" *ngFor="let faculty of allFaculties">
                    {{faculty?.name}}
                  </option>

                </select>
                <!--<select2 class="form-control" [data]="allFaculties"></select2>-->
              </div>

            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <label >Department: <i class="m-loader m-loader--brand"
                                                    *ngIf="load?.departments?.loading"></i></label>
                <select class="form-control" #fetch_set_department formControlName="department_id"
                        (change)="getCourseByDepartmentId(fetch_set_department.value)">
                  <option value="" disabled>Select Department</option>
                  <option value="">---</option>
                  <option value="{{department?.id}}"
                          *ngFor="let department of allDepartments">
                    {{department?.name}}
                  </option>

                </select>

              </div>

              <div class="col-md-4">
                <label >Course of Study: <i class="m-loader--brand m-loader"
                                                         *ngIf="load?.courses?.loading "></i></label>
                <select class="form-control"  formControlName="course_of_study_id">
                  <option value="" disabled>Select Course of Study</option>

                  <option value="">---</option>
                  <option value="{{course?.id}}" *ngFor="let course of allCourses">
                    {{course?.name}}
                  </option>

                </select>

              </div>

              <div class="col-md-4">
                <label >Level:</label>
                <select class="form-control" formControlName="level_id">
                  <option value="" disabled>Select Level</option>
                  <option value="">---</option>

                  <option value="{{level?.id}}" *ngFor="let level of allLevels">
                    {{level?.name}}
                  </option>

                </select>

              </div>

            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <label >Gender:</label>
                <select class="form-control" formControlName="gender">
                  <option value="" disabled>Select Gender</option>
                  <option value="">---</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="col-md-4">
                <label >Student Type:</label>
                <select class="form-control" formControlName="student_type">
                  <option value="" disabled>Select Student Type</option>
                  <option value="">---</option>
                  <option value="new">New</option>
                  <option value="returning">Returning</option>
                </select>
              </div>
              <div class="col-md-4">
                <label >Mode of Entry:</label>
                <select class="form-control" formControlName="mode_of_entry">
                  <option value="" disabled>Select Mode of Entry</option>
                  <option value="">---</option>
                  <option value="utme">UTME</option>
                  <option value="de">Direct Entry</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <label >Semester:</label>
                <select class="form-control" formControlName="semester">
                  <option value="" disabled>Select Semester</option>
                  <option value="">---</option>
                  <option value="1">First Semester</option>
                  <option value="2">Second Semester</option>
                  <option value="3">Third Semester</option>
                </select>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <label for="fetch_session_year">Session Year:</label>
                    <input class="form-control" id="fetch_session_year" formControlName="session_year"
                           placeholder="Session Year" type="text">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <label for="country_hhf">Programme:</label>
                    <select class="form-control" #fetch_setProgramme id="country_hhf"
                            (change)="getProgrammeById(fetch_setProgramme.value)" formControlName="programme_id">
                      <option value="" disabled>Select Programme</option>
                      <option *ngFor="let programme of allProgrammes; let ind=index"
                              value="{{programme?.id}}">
                        {{programme?.name}}
                      </option>
                    </select>
                    <!-- <input class="form-control" id="domain" formControlName="session_year" placeholder="Session Year" type="date"> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <label >Required:</label>
                    <input type="radio" class="radio-inline" formControlName="status" value="1">
                  </div>
                  <div class="col-md-4">
                    <label >Optional:</label>
                    <input type="radio" class="radio-inline" formControlName="status" value="0">
                  </div>
                  <div class="col-md-4">
                    <label class="">
                      Penalty Fee?:
                      <input type="checkbox" formControlName="is_penalty">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="pull-right">


          <button style="color: white !important;"
             class="btn btn-brand m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="testFee()" [disabled]="fetchingFees">
													<span>
														<i class="la la-undo" *ngIf="!fetchingFees"></i>
														<i class="la la-spinner la-spin" *ngIf="fetchingFees"></i>
														<span>
															Fetch All Fees
														</span>
													</span>
          </button>

        </div>
        <br>
        <div class="m--margin-top-25" *ngIf="!testFeePayment">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                 class="table table-hover table-striped table-sm m-table--head-bg-brand">
            <thead class="thead-color">
            <tr>
              <th>#</th>
              <th>Fee Item</th>
              <th>Amount</th>
              <th>Session Year</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" *ngIf="allFees?.length == 0 || load.requesting.list">
              <td colspan="6" *ngIf="allFees?.length == 0">
                <span *ngIf="load.requesting.list">
                  Fetching Fees.. &nbsp;&nbsp;
                  <i class="m-loader m-loader--brand"></i>
                </span>
                <span *ngIf="allFees?.length == 0 && !load.requesting.list">No Record Found</span>
              </td>
            </tr>
            <tr *ngFor="let fee of allFees; let ind=index">
              <td>{{ind+1}}</td>
              <td>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.requesting.listItems">
                </i>
                {{fee?.fee_item_name}}
              </td>
              <td>{{fee?.amount |number:'1.2-2'}}</td>
              <td> {{fee?.session_name || fee?.session_year}}</td>
              <td>
                <span  *ngIf="fee?.status?.toString() === '1'"><span class="badge badge-dark">Compulsory</span>    <span class="badge badge-warning"
                  *ngIf="fee?.is_penalty?.toString() === '1'">(Penalty)</span></span>

                <span *ngIf="fee?.status?.toString() === '0'"><span class="badge badge-light" >Optional </span>    <span
                  *ngIf="fee?.is_penalty?.toString() === '1'" class="badge badge-warning">(Penalty)</span>

                </span>

              </td>

              <td>
                <button class="btn btn-info btn-xs" (click)="triggerModalOrOverlay('open','updateFee',ind)">
                  <i class="fa fa-pencil" *ngIf="!fee?.loading"></i>
                  <i class="m-loader m-loader--right m-loader--brand" *ngIf="fee?.loading"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="m--margin-top-25" *ngIf="testFeePayment">
          <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
            <thead class="thead-color">
            <tr>
              <th>#</th>
              <th>Fee Item</th>
              <th>Amount</th>
              <th>Session Year</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" *ngIf="allTestFees?.length == 0 || load.requesting.list">
              <td colspan="6" *ngIf="allTestFees?.length == 0">
                <span *ngIf="load.requesting.list">
                  Fetching Fees.. &nbsp;&nbsp;
                  <i class="m-loader m-loader--brand"></i>
                </span>
                <span *ngIf="allTestFees?.length == 0 && !load.requesting.list">No Record Found</span>
              </td>
            </tr>
            <tr *ngFor="let fee of allTestFees; let ind=index">
              <td>{{ind+1}}</td>
              <td>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load?.requesting?.listItems">
                </i>
                {{fee?.fee_item?.name}}
              </td>
              <td>{{fee?.amount |number}}</td>

              <td> {{fee?.session_name || fee?.session_year}} <span *ngIf="feesWhereSetBySemester"> Semester</span></td>
              <td *ngIf="fee?.status?.toString() === '1'" style="color:green">
                <span class="badge badge-dark">Compulsory</span>
              </td>
              <td *ngIf="fee?.status?.toString() === '0'" style="color:red">
                <span class="badge badge-light">Optional</span>
              </td>
              <td>
                <button class="btn btn-info btn-xs" (click)="openTestFeeModal(ind)">
                  <i class="fa fa-pencil" *ngIf="!fee?.loading"></i>
                  <i class="m-loader m-loader--right m-loader--brand" *ngIf="fee?.loading"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane" id="transfer_fee">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Transfer Fee
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item">
                <a style="color: white !important;"
                   class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                   (click)="feeModals('transfer', 'create')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Create Transfer Fee
														</span>
													</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body row">
          <div class="col-12">
            <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
              <thead class="thead-color">
              <tr>
                <th>#</th>
                <th>Department</th>
                <th>Amount</th>
                <th>Session</th>
                <th>Creation Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr class="text-center" *ngIf="allTransferFees.length == 0 || load.requesting.list">
                <td colspan="6" *ngIf="allTransferFees.length == 0">
                <span *ngIf="load.requesting.list">
                  Fetching Fees.. &nbsp;&nbsp;
                  <i class="m-loader m-loader--brand"></i>
                </span>
                  <span *ngIf="allTransferFees.length == 0 && !load.requesting.list">No Record Found</span>
                </td>
              </tr>
              <tr *ngFor="let fee of allTransferFees; let ind=index">
                <td>{{ind+1}}</td>
                <td>{{fee?.department?.name}}</td>
                <td>{{fee?.amount | currency : '&#8358;'}}</td>
                <td>{{fee?.session?.name}}</td>
                <td>{{fee?.created_at | date}}</td>
                <td>
                  <button class="btn btn-info btn-xs" (click)="feeModals('transfer','update', fee)">
                    <i class="la la-edit" *ngIf="!fee?.loading"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="transcript_fee">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Transcript Fee
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item">
                <a style="color: white !important;"
                   class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                   (click)="feeModals('transcript', 'create')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Create Transcript Fee
														</span>
													</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body row">
          <div class="col-12">
            <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
              <thead class="thead-color">
              <tr>
                <th>#</th>
                <th>Department</th>
                <th>Amount</th>
                <th>Session</th>
                <th>Creation Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr class="text-center" *ngIf="allTranscriptFees.length == 0 || load.requesting.list">
                <td colspan="6" *ngIf="allTranscriptFees.length == 0">
                <span *ngIf="load.requesting.list">
                  Fetching Fees.. &nbsp;&nbsp;
                  <i class="m-loader m-loader--brand"></i>
                </span>
                  <span *ngIf="allTranscriptFees.length == 0 && !load.requesting.list">No Record Found</span>
                </td>
              </tr>
              <tr *ngFor="let fee of allTranscriptFees; let ind=index">
                <td>{{ind+1}}</td>
                <td>{{fee?.department?.name}}</td>
                <td>{{fee?.amount | currency : '&#8358;'}}</td>
                <td>{{fee?.session?.name}}</td>
                <td>{{fee?.created_at | date}}</td>
                <td>
                  <button class="btn btn-info btn-xs" (click)="feeModals('transcript','update', fee)">
                    <i class="la la-edit" *ngIf="!fee?.loading"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="acceptance_fee">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Acceptance Fee
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item">
                <a style="color: white !important;"
                   class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                   (click)="feeModals('acceptance', 'create')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Create Acceptance Fee
														</span>
													</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body row">
          <div class="col-12">
            <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
              <thead class="thead-color">
              <tr>
                <th>#</th>
                <th>Programme</th>
                <th>Session</th>
                <th>Department</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr class="text-center" *ngIf="allAcceptanceFees.length == 0 || load.requesting.list">
                <td colspan="6" *ngIf="allAcceptanceFees.length == 0">
                <span *ngIf="load.requesting.list">
                  Fetching Fees.. &nbsp;&nbsp;
                  <i class="m-loader m-loader--brand"></i>
                </span>
                  <span *ngIf="allAcceptanceFees.length == 0 && !load.requesting.list">No Record Found</span>
                </td>
              </tr>
              <tr *ngFor="let fee of allAcceptanceFees; let ind=index">
                <td>{{ind+1}}</td>
                <td>{{fee?.programme?.name}}</td>
                <td>{{fee?.session?.name}}</td>
                <td>{{fee?.department?.name}}</td>
                <td>{{fee?.amount | currency : '&#8358;'}}</td>
                <td>
                  <button class="btn btn-info btn-xs" (click)="feeModals('acceptance','update', fee)">
                    <i class="la la-edit" *ngIf="!fee?.loading"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="part_payment">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Part Payment SetUp
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item">
                <a style="color: white !important;"
                   class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                   (click)="refreshModal()">
													<span>
														<i class="la la-gear"></i>
														<span>
															Configure Part Payment
														</span>
													</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body row">
          <div class="py-5 col-12">
            <form [formGroup]="partPaymentForm">
              <div class="reduce-label">
                <div class="form-group row">
                  <div class="col-md-4">
                    <label>Type:</label>
                    <select class="form-control" formControlName="type">
                      <option value="" disabled>Select Type</option>
                      <option value="">----</option>
                      <option value="amount">Amount</option>
                      <option disabled value="ratio">Ratio</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label>Value:</label>
                    <input class="form-control" formControlName="value" type="number" placeholder="Amount">
                  </div>
                  <div class="col-md-4">
                    <label>Programme:</label>
                    <select class="form-control" #setProgramme_part (change)="getProgrammeById(setProgramme_part.value)">
                      <option value="" disabled>Select Programme</option>
                      <option *ngFor="let programme of allProgrammes"
                              value="{{programme?.id}}">
                        {{programme?.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <label>Session Year:</label>
                    <input class="form-control" formControlName="session_year" placeholder="Session Year" type="text">
                  </div>
                  <div class="col-md-4">
                    <label >Gender:</label>
                    <select class="form-control" formControlName="gender">
                      <option value="" disabled>Select Gender</option>
                      <option value="">---</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label >Student Type:</label>
                    <select class="form-control" formControlName="student_type">
                      <option value="" disabled>Select Student Type</option>
                      <option value="">---</option>
                      <option value="new">New</option>
                      <option value="returning">Returning</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <label>Country:</label>
                    <select class="form-control" formControlName="country_id" #country_state_part_filter
                            (change)="getStateByCountryId(country_state_part_filter.value)">
                      <option value="" disabled>Select Country</option>
                      <option value="">---</option>
                      <option value="{{country?.id}}" *ngFor="let country of allCountries">
                        {{country?.name}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label>State: <i class="m-loader m-loader--brand"
                                     *ngIf="load?.states?.loading"></i></label>
                    <select class="form-control" formControlName="state_id" #set_state_part_filter
                            (change)="getLgaByStateId(set_state_part_filter.value)">
                      <option value="" disabled>Select State</option>
                      <option value="">---</option>
                      <option value="{{state?.id}}" *ngFor="let state of allStates">
                        {{state?.name}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label >Faculty:</label>
                    <select class="form-control" #set_faculty_part_filter
                            (change)="getDepartmentByFacultyId(set_faculty_part_filter.value)">
                      <option value="" disabled>Select Faculty</option>
                      <option value="">---</option>
                      <option value="{{faculty?.id}}" *ngFor="let faculty of allFaculties">
                        {{faculty?.name}}
                      </option>
                    </select>
                    <!--<select2 class="form-control" [data]="allFaculties"></select2>-->
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <label >Department: <i class="m-loader m-loader--brand"
                                                        *ngIf="load?.departments?.loading"></i></label>
                    <select class="form-control" #set_department_part_filter
                            (change)="getCourseByDepartmentId(set_department_part_filter.value)">
                      <option value="" disabled>Select Department</option>
                      <option value="">---</option>
                      <option value="{{department?.id}}"
                              *ngFor="let department of allDepartments">
                        {{department?.name}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label>Course of Study: <i class="m-loader--brand m-loader"
                                               *ngIf="load?.courses?.loading "></i></label>
                    <select class="form-control" formControlName="course_of_study_id">
                      <option value="" disabled>Select Course of Study</option>
                      <option value="">---</option>
                      <option value="{{course?.id}}" *ngFor="let course of allCourses">
                        {{course?.name}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label>Level:</label>
                    <select class="form-control" formControlName="level_id">
                      <option value="" disabled>Select Level</option>
                      <option value="">---</option>
                      <option value="{{level?.id}}" *ngFor="let level of allLevels">
                        {{level?.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <label>Mode of Entry:</label>
                    <select class="form-control" formControlName="mode_of_entry">
                      <option value="" disabled>Select Mode of Entry</option>
                      <option value="utme">UTME</option>
                      <option value="de">Direct Entry</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label>Semester:</label>
                    <select class="form-control" formControlName="semester">
                      <option value="" disabled>Select Semester</option>
                      <option value="1">First Semester</option>
                      <option value="2">Second Semester</option>
                      <option value="3">Third Semester</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row pt-3">
                  <div class="col-12">
                    <button (click)="getFilteredPartPayment()"
                            class="btn btn-accent m-btn m-btn--pill m-btn--air float-right">
                      <span *ngIf="!load.part_payment.list">Filter</span>
                      <span *ngIf="load.part_payment.list" class="px-4">
                      &nbsp;<i class="m-loader m-loader-brand"></i>&nbsp;
                    </span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12">
            <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
              <thead class="thead-color">
              <tr>
                <th>#</th>
                <th>Amount</th>
                <th>Session</th>
                <th>Type</th>
                <th>Creation Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr class="text-center" *ngIf="allPartPaymentConfig.length == 0 || load.requesting.list">
                <td colspan="6" *ngIf="allPartPaymentConfig.length == 0">
                  <p class="text-center mt-2" *ngIf="load.part_payment.list">
                    <i class="m-loader m-loader--brand"></i>
                  </p>
                  <span *ngIf="allPartPaymentConfig.length === 0 && !load.part_payment.list">No Record Found</span>
                </td>
              </tr>
              <tr *ngFor="let fee of allPartPaymentConfig; let ind = index">
                <td>{{ind+1}}</td>
                <td>{{fee?.value | number}}</td>
                <td>{{fee?.session_name || fee?.session_year}}</td>
                <td>{{fee?.type.toUpperCase()}}</td>
                <td>{{fee?.created_at | date}}</td>
                <td>
                  <button class="btn btn-info btn-xs" (click)="feeModals('part_payment','update', fee)">
                    <i class="la la-edit" *ngIf="!fee?.loading"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
