<div
  class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
  <!-- BEGIN: Left Aside -->
  <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
    <i class="la la-close"></i>
  </button>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
      <div class="row">
        <app-student-profile-image class="col-lg-3"></app-student-profile-image>
        <div class="col-lg-9" style="margin-top: -2% !important;">
                <div class="m-content">
                  <!--Begin::Section-->
                  <div class="m-portlet">
                    <div class="m-portlet__body  m-portlet__body--no-padding">
                      <div class="row m-row--no-padding m-row--col-separator-xl">
                        <div class="col-xl-6">
                          <!--begin:: Widgets/Profit Share-->
                          <div class="m-widget14">
                            <div class="m-widget14__header">
                              <h5 class="m-widget14__title">
                                CGPA
                              </h5>
                              <!--<span class="m-widget14__desc">
								Profit Share between customers
							</span>-->
                            </div>
                            <div class="row  align-items-center">
                              <div class="col">
                                <div id="m_chart_profit_share" class="m-widget14__chart" style="height: 160px">
                                  <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%"
                                       class="ct-chart-donut" style="width: 100%; height: 100%;">
                                    <g class="ct-series custom">
                                      <path d="M148.187,108.314A66.5,66.5,0,0,0,88.016,13.5" class="ct-slice-donut"
                                            ct:value="32"
                                            ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#716aca&amp;quot;}}"
                                            style="stroke-width: 17px;"
                                            stroke-dasharray="133.70704650878906px 133.70704650878906px"
                                            stroke-dashoffset="-133.70704650878906px" stroke="#716aca">
                                        <animate attributeName="stroke-dashoffset" id="anim0" dur="1000ms"
                                                 from="-133.70704650878906px" to="0px" fill="freeze" stroke="#716aca"
                                                 calcMode="spline" keySplines="0.23 1 0.32 1" keyTimes="0;1"></animate>
                                      </path>
                                    </g>
                                    <g class="ct-series custom">
                                      <path d="M36.776,122.389A66.5,66.5,0,0,0,148.285,108.104" class="ct-slice-donut"
                                            ct:value="32"
                                            ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#00c5dc&amp;quot;}}"
                                            style="stroke-width: 17px;"
                                            stroke-dasharray="133.94058227539062px 133.94058227539062px"
                                            stroke-dashoffset="-133.94058227539062px" stroke="#00c5dc">
                                        <animate attributeName="stroke-dashoffset" id="anim1" dur="1000ms"
                                                 from="-133.94058227539062px" to="0px" fill="freeze" stroke="#00c5dc"
                                                 begin="anim0.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                 keyTimes="0;1"></animate>
                                      </path>
                                    </g>
                                    <g class="ct-series custom">
                                      <path d="M88.016,13.5A66.5,66.5,0,0,0,36.925,122.567" class="ct-slice-donut"
                                            ct:value="36"
                                            ct:meta="{&amp;quot;data&amp;quot;:{&amp;quot;color&amp;quot;:&amp;quot;#ffb822&amp;quot;}}"
                                            style="stroke-width: 17px;"
                                            stroke-dasharray="150.65411376953125px 150.65411376953125px"
                                            stroke-dashoffset="-150.65411376953125px" stroke="#ffb822">
                                        <animate attributeName="stroke-dashoffset" id="anim2" dur="1000ms"
                                                 from="-150.65411376953125px" to="0px" fill="freeze" stroke="#ffb822"
                                                 begin="anim1.end" calcMode="spline" keySplines="0.23 1 0.32 1"
                                                 keyTimes="0;1"></animate>
                                      </path>
                                    </g>
                                  </svg>

                                  <div class="m-widget14__stat">
                                    {{dashboardData?.cgpa |number:'1.2-2'}}
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="m-widget14__legends">
                                  <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-success"></span>
                                    <span class="m-widget14__legend-text">
                                      Current Cgpa: {{dashboardData?.cgpa_current |number:'1.2-2'}}
                                    </span>
                                  </div>
                                  <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-danger"></span>
                                    <span class="m-widget14__legend-text">
                                      Previous Cgpa: {{dashboardData?.cgpa_prev |number:'1.2-2'}}
                                    </span>
                                  </div>
                                  <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-success"></span>
                                    <span class="m-widget14__legend-text">
Passed Courses: {{dashboardData?.passed_courses}}
                                    </span>
                                  </div>
                                  <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-danger"></span>
                                    <span class="m-widget14__legend-text">
                                                                       Failed Courses: {{dashboardData?.failed_courses}}

                                    </span>
                                  </div>
                                  <div class="m-widget14__legend">
                                    <span class="m-widget14__legend-bullet m--bg-success"></span>
                                    <span class="m-widget14__legend-text">
                                      Remark: {{dashboardData?.remark}}
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mt-5" *ngIf="school_details?.id.toString() === '4'">
                              Click
                              <button [disabled]="loader.loading" class="btn btn-sm m-btn--pill" (click)="prepareLetter()">
                                <span>
                                  here
                                <i class="m-loader m-loader--primary" *ngIf="loader.loading"></i>
                                </span>
                              </button>
                              to download admission letter
                            </div>
                          </div>
                          <!--end:: Widgets/Profit Share-->
                          <!--begin:: Admission Letter Printing-->
                          <!--end:: Admission Letter Printing-->
                        </div>

                        <div class="col-xl-6">
                          <!--begin:: Widgets/Support Stats-->
                          <div class="m-widget1" *ngIf="user_details">
                            <div class="m-widget1__item">
                              <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                  <h1 class="m-widget1__title">
                                    Programme
                                  </h1>
                                </div>
                                <div class="col m--align-right">
                                  <span class="m-widget1__number m--font-focus profileDetail">
                                    {{user_details?.course_of_study?.degree?.programme?.name}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="m-widget1__item">
                              <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                  <h1 class="m-widget1__title">
                                    Faculty
                                  </h1>
                                </div>
                                <div class="col m--align-right">
                                  <span class="m-widget1__number m--font-focus profileDetail">
                                    {{user_details?.course_of_study?.department?.faculty?.name}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="m-widget1__item">
                              <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                  <h1 class="m-widget1__title">
                                    Department
                                  </h1>
                                </div>
                                <div class="col m--align-right">
                                  <span class="m-widget1__number m--font-focus profileDetail">
                                    {{user_details?.course_of_study?.department?.name}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="m-widget1__item">
                              <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                  <h1 class="m-widget1__title">
                                    Course of Study
                                  </h1>
                                </div>
                                <div class="col m--align-right">
                                  <span class="m-widget1__number m--font-focus profileDetail">
                                    {{user_details?.course_of_study?.name}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="m-widget1__item">
                              <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                  <h1 class="m-widget1__title">
                                    Level
                                  </h1>
                                </div>
                                <div class="col m--align-right">
                                  <span class="m-widget1__number m--font-focus profileDetail">
                                    {{user_details?.level?.name}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="m-widget1__item">
                              <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                  <h1 class="m-widget1__title">
                                    Gender
                                  </h1>
                                </div>
                                <div class="col m--align-right">
                                  <span class="m-widget1__number m--font-focus profileDetail">
                                    {{user_details?.gender}}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--end:: Widgets/Support Stats-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End::Section-->
                  <!--Begin::Section-->
                  <div class="row">
                    <div class="col-xl-12 col-lg-12">
                      <!--Begin::Portlet-->
                      <!--<div class="m-portlet m-portlet&#45;&#45;full-height ">
                        <div class="m-portlet__head">
                          <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                              <h3 class="m-portlet__head-text">
                                Notifications
                              </h3>
                            </div>
                          </div>
                          </div>
                        <div class="m-portlet__body">
                          <div class="tab-content">
                            <div class="tab-pane active" id="m_widget2_tab1_content">
                              &lt;!&ndash;Begin::Timeline 3 &ndash;&gt;
                              <div class="m-timeline-3">
                                <div class="m-timeline-3__items">
                                  <div class="m-timeline-3__item m-timeline-3__item&#45;&#45;info">
                                      <div class="m-timeline-3__item-desc">
																<span class="m-timeline-3__item-text">
																	Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
																</span>
                                      <br>
                                      <span class="m-timeline-3__item-user-name">
																	<a href="#" class="m-link m-link&#45;&#45;metal m-timeline-3__item-link">
																		By Bob
																	</a>
																</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              &lt;!&ndash;End::Timeline 3 &ndash;&gt;
                            </div>
                          </div>
                        </div>
                      </div>
                      --><!--End::Portlet-->
                    </div>
                  </div>
                  <!--End::Section-->
                 </div>
          </div>
      </div>
    </div>
  </div>
</div>
