
<div class=" ">
  <div class="d-flex align-items-center">
    <div class="mr-auto m--padding-20">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Course
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/staff" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/config" class="m-nav__link">
            <span class="m-nav__link-text">
              Configuration
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/config/faculty" class="m-nav__link">
            <span class="m-nav__link-text">
              Faculties
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a *ngIf="courseOfStudyObject?.department?.faculty"
             [routerLink]="['/staff/config/faculty', courseOfStudyObject?.department?.faculty?.id]" class="nav-link">
            <span class="m-nav__link-text">
              <i *ngIf="loading.course_of_study" class="m-loader m-loader--brand"></i>
              {{ courseOfStudyObject?.department?.faculty?.name}}
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a *ngIf="courseOfStudyObject?.department"
             [routerLink]="['/staff/config/department', courseOfStudyObject?.department?.id]" class="nav-link">
            <span class="m-nav__link-text">
              <i *ngIf="loading.course_of_study" class="m-loader m-loader--brand"></i>
              {{ courseOfStudyObject?.department?.name}}
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a *ngIf="courseOfStudyObject?.name"
             [routerLink]="['/staff/config/course-of-study', courseOfStudyObject?.id]" class="nav-link">
            <span class="m-nav__link-text">
              <i *ngIf="loading.course_of_study" class="m-loader m-loader--brand"></i>
              {{ courseOfStudyObject?.name}}
            </span>
          </a>
        </li>
        <li class="m-nav__item">
          <span class="m-nav__link-text">
            <i *ngIf="loading.curriculum_course" class="m-loader m-loader--brand"></i>
            {{ curriculumCourse?.title}}
          </span>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title row">
        <table class="table table-bordered col-4">
          <tr>
            <td>Title</td>
            <td>
              <i *ngIf="loading.curriculum_course" class="m-loader m-loader--brand"></i>
              {{ curriculumCourse?.title}}
            </td>
          </tr>
          <tr>
            <td>Code</td>
            <td>
              <i *ngIf="loading.curriculum_course" class="m-loader m-loader--brand"></i>
              {{ curriculumCourse?.code}}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!--<div class="m-portlet__head-tools">-->
      <!--<ul class="m-portlet__nav">-->
        <!--<li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.course-of-study.create')">-->
          <!--<a style="color: white !important;"-->
             <!--class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air btn-sm"-->
             <!--(click)="triggerModalOrOverlay('open', 'course_modal')">-->
              <!--<span>-->
                <!--<i class="la la-plus"></i>-->
                  <!--Course-->
              <!--</span>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
  <div class="m-portlet__body table-responsive">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text m--padding-10 text-center text-uppercase">Course Lecturers </h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <ul class="m-portlet__nav">
          <li class="m-portlet__nav-item">
            <div><i class="m-loader m-loader--brand" *ngIf="loading.staff"></i></div>
            <form [formGroup]="createCourseLecturerForm">
              <ss-multiselect-dropdown #staff [texts]="myTexts" [settings]="mySettings" [options]="allDepartmentStaff" formControlName="lecturer_ids">
              </ss-multiselect-dropdown>
            </form>
          </li>
          <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.course-management.course.create')">
            <a style="color: white !important;"
               class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
               (click)="assignLecturerToCourse(staff)">
                        <span>
                            &nbsp;&nbsp; Add Lecturer &nbsp;&nbsp;
                          <i class="m-loader m-loader--light" *ngIf="loading.addLecturer"></i>
                        </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="m-portlet__body">
      <table class="table m-table--head-bg-brand m-table m-table--head-separator-primary table-hover table-striped table-bordered small-margin">
        <thead>
        <tr>
          <th title="Serial Number">#</th>
          <th title="Name">Name</th>
          <th title="Group">Group</th>
          <th title="Email">Email</th>
          <!--<th title="Type">Type</th>-->
          <th title="Created Date">Created Date</th>
          <th title="Action">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="loading?.lecturer || courseLecturers?.length == 0">
          <td colspan="6" *ngIf="loading?.lecturer" class="text-center">
            Loading data &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i>
          </td>
          <td class="text-center" colspan="6" *ngIf="!loading?.lecturer && courseLecturers?.length == 0">
            No Content Found
          </td>
        </tr>
        <tr *ngFor="let lecturer of courseLecturers; let i = index">
          <td scope="row">{{i + 1}}</td>
          <td>{{lecturer?.fullname}}</td>
          <td>{{lecturer?.group?.name}}</td>
          <td>{{lecturer?.email}}</td>
          <!--<td *ngIf="lecturer?.type == 0">Non Academic</td>-->
          <!--<td *ngIf="lecturer?.type == 1">Academic</td>-->
          <td>{{lecturer?.created_at | date}}</td>
          <td>
            <button class="btn-danger-sm" (click)="deleteLecturerCourse(lecturer, i)">
              <i class="fa fa-trash"></i>
              Delete
              <i class="fa fa-spinner fa-spin" *ngIf="lecturer?.deleting"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
