<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Course Registration Statistics
        </h3>
      </div>
    </div>
    <!-- *ngIf="paymentMethods?.length > 0"-->
  </div>

  <div class="m-portlet__body table-responsive">
    <form [formGroup]="filterForm">
      <!--<div class="m-portlet__head-tools">-->
      <div>
        <div class="form-group row">
          <div class="col-4">
            <!--<i class="text-danger">*</i>-->
            <i class="m-loader m-loader--brand" *ngIf="feedBack.session_loader"></i>
            <!--<label style="color:red"><i>Required*</i></label>-->
            <select class="form-control" formControlName="session_year" (change)="getSessionSemesters($event.target.value)"><!-- -->
              <option value="">Select Session</option>
              <option *ngFor="let session of sessions" [value]="session?.year">{{session?.name || session?.year}}</option>
            </select>
          </div>
          <div class="col-4">
            <i class="m-loader m-loader--brand" *ngIf="feedBack.faculty_loader"></i>
            <select class="form-control m-input" formControlName="faculty_id" (change)="getDepartmentByByFacultyId($event.target.value)"><!-- (change)="reRender($event, false)"-->
              <option value="">Select Faculty</option>
              <option *ngFor="let faculty of faculties" [value]="faculty?.id">{{ faculty?.name }}</option>
            </select>
          </div>
          <div class="col-4">
            <i class="m-loader m-loader--brand" *ngIf="feedBack.department_loader"></i>
            <select class="form-control m-input" formControlName="department_id" (change)="getCourseOfStudy($event.target.value)"><!-- (change)="reRender($event, false)"-->
              <option value="">Select Department</option>
              <option *ngFor="let department of departments" [value]="department?.id">{{ department?.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <i class="m-loader m-loader--brand" *ngIf="feedBack.course_loader"></i>
            <select class="form-control m-input" formControlName="course_of_study_id" (change)="getSingleCourseOfStudy($event.target.value)"><!-- -->
              <option value="">Select Course of Study</option>
              <option *ngFor="let course_of_study of coursesOfStudy" [value]="course_of_study?.id">{{ course_of_study?.name }}</option>
            </select>
          </div>
          <!--<div class="col-4">
            <i class="m-loader m-loader&#45;&#45;brand" *ngIf="feedBack.level_loader"></i>
            <select class="form-control m-input" formControlName="level_id">&lt;!&ndash; (change)="reRender($event, false)"&ndash;&gt;
              <option value="">Select Level</option>
              <option *ngFor="let level of levels" [value]="level?.id">{{ level?.name }}</option>
            </select>
          </div>-->
          <div class="col-4">
            <i class="m-loader m-loader--brand" *ngIf="feedBack.semester_loader"></i>
            <select class="form-control m-input" formControlName="semester" (change)="setSemester($event.target.value)"><!-- (change)="reRender($event, false)"-->
              <option value="">Select Semester</option>
              <option *ngFor="let semester of semesters" [value]="semester?.semester">{{ semester?.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <button class="btn btn-sm btn-accent m-btn--air m-btn--pill float-right"
                    (click)="getCourseRegStatistics()"
                    [disabled]="filterForm.invalid || feedBack?.loader">
              &nbsp;&nbsp;Submit&nbsp;&nbsp;
              <i class="m-loader m-loader--light" *ngIf="feedBack?.loader"></i>
            </button>
          </div>
        </div>
        <!--<div class="mt-3  mr-3">
          &lt;!&ndash;<i class="m-loader m-loader&#45;&#45;brand" *ngIf="feedBack.level_loader"></i>&ndash;&gt;
          <select class="form-control m-input" formControlName="type">&lt;!&ndash; (change)="reRender($event, false)"&ndash;&gt;
            <option value="new">New</option>
            <option value="spill">Spill Over</option>
          </select>
        </div>-->
      </div>
      <!--</div>-->
    </form>
    <div id="print_area" style="border: 1px solid black; padding: 5px">
      <div class="my-4" *ngIf="courseRegStats.length"><!---->
        <div class="row">
          <div class="col-12 text-center">
            <h1>{{ appSettings?.name }}</h1>
            <p style="text-decoration: underline">COURSE REGISTRATION STATISTICS</p>
          </div>
        </div>
        <div class="row">
          <div class="col-8 ml-1">
            <table style="width: 100%" class="table table-striped table-sm table-bordered">
              <tr *ngIf="statDetails?.faculty">
                <td>FACULTY</td>
                <td><b>{{ statDetails?.faculty }}</b></td>
              </tr>
              <tr *ngIf="statDetails?.department">
                <td>DEPARTMENT</td>
                <td><b>{{ statDetails?.department }}</b></td>
              </tr>
              <tr *ngIf="statDetails?.course_of_study">
                <td>COURSE OF STUDY</td>
                <td><b>{{ statDetails?.course_of_study }}</b></td>
              </tr>
              <tr *ngIf="statDetails?.session">
                <td>SESSION</td>
                <td><b>{{ statDetails?.session }}</b></td>
              </tr>
              <tr *ngIf="statDetails?.semester">
                <td>SEMESTER</td>
                <td><b>{{ statDetails?.semester }}</b></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <table class="table table-hover table-striped table-sm m-table--head-bg-brand relative">
        <thead class="thead-color">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Code</th>
          <th>Total Registered</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of courseRegStats; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>{{data?.title}}</td>
          <td>{{data?.code}}</td>
          <td>{{data?.total}}</td>
        </tr>
        <tr *ngIf="feedBack.loader || courseRegStats.length === 0">
          <td class="text-center" colspan="11">
            <div *ngIf="feedBack.loader">
              Loading &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i>
            </div>
            <div *ngIf="!feedBack.loader && courseRegStats.length === 0">
              No Content Found
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-lg-5">
      <div class="col-12" *ngIf="courseRegStats.length > 0">
        <button class="btn btn-accent m-btn--pill m-btn--air float-right" (click)="printNau('print_area', 'COURSE REGISTRATION STATISTICS')">
          &nbsp;&nbsp;Print Report&nbsp;&nbsp;
          <i class="m-loader m-loader--light" *ngIf="feedBack?.print_loader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
