<div id="updateUser" class="modal fade" role="dialog">
    <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Update {{editedAgentUser?.first_name}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input class="form-control" formControlName="first_name" id="first_name">

                        <label for="last_name">Last Name:</label>
                        <input class="form-control" formControlName="last_name" id="last_name">

                        <label for="subdomain">Email:</label>
                        <div class=" form-group row">

                            <div class="col-sm-12">
                                <input class="form-control" formControlName="email" id="schoolname">
                            </div>
                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="updateUserForm.invalid || load.requesting.create">{{load.message.update}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>
                    <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" (click)="triggerModalOrOverlay('close','updateUser')">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="createUser" class="modal fade" role="dialog">
    <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Create User</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input class="form-control" formControlName="first_name" id="first_name">

                        <label for="last_name">Last Name:</label>
                        <input class="form-control" formControlName="last_name" id="last_name">

                        <label for="subdomain">Email:</label>
                        <div class=" form-group row">

                            <div class="col-sm-12">
                                <input class="form-control" formControlName="email" id="schoolname">
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="createUserForm.invalid || load.requesting.create">{{load.message.create}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>
                    <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" (click)="triggerModalOrOverlay('close','createUser')">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--End:::Create Course of Study -->
<div class=" ">
    <div class="d-flex align-items-center">
        <div class="mr-auto m--padding-20">
            <h3 class="m-subheader__title m-subheader__title--separator">
                {{viewedAgent?.name}}
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item">
                    <a routerLink="../" class="m-nav__link">
            <span class="m-nav__link-text">
             Agents
            </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link">
            <span class="m-nav__link-text">
             {{viewedAgent?.subdomain}}
            </span>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</div>


<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="mr-auto m--padding-20">
            <div class="row">
                <table class="table table-bordered col-4">
                    <tr>
                        <td>Agent Name</td>
                        <td>
                            {{viewedAgent?.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>Agent Logo</td>
                        <td>
                            <img alt="No Logo" src="{{viewedAgent?.logo}}" height="50px !important"
                                 width="90px !important">
                        </td>
                    </tr>
                    <tr>
                        <td>Agent Email</td>
                        <td>
                            {{viewedAgent?.email}}
                        </td>

                    </tr>
                    <tr>
                        <td>Subdomain</td>
                        <td>
                            {{viewedAgent?.subdomain}}
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="m-portlet__head">
        <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active"
                       data-toggle="tab"
                       href="#users" role="tab">
                        <i class="flaticon-share m--hide"></i>
                        Users
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab"
                       href="#staff" role="tab">
                        Staff
                    </a>
                </li>

            </ul>
        </div>
    </div>


    <div class="m-portlet__body">
        <div class="tab-content">
            <div class="tab-pane active" id="users">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--padding-10 text-center text-uppercase">Users</h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <br>
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.course-of-study.create')">

                                    <button style="color: white !important;"
                                            class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                                            (click)="triggerModalOrOverlay('open', 'createUser')">
                        <span>
                          <i class="la la-plus"></i>
                          <span>
                            Create User
                          </span>
                        </span>
                                    </button>


                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <table class="table m-table m-table--head-bg-brand m-table--head-separator-primary table-hover table-striped table-bordered small-margin">
                            <thead class="thead-color">
                            <tr>
                                <th title="Serial Number">#</th>
                                <th title="Code">First Name</th>
                                <th title="Code">Last Name</th>
                                <th title="Name">Email</th>
                                <th title="Name">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="loading?.list || viewedAgent?.users.length===0">
                                <td colspan="5" class="text-center" *ngIf="loading?.list">
                                    Loading Users &nbsp;&nbsp;
                                    <i class="m-loader m-loader--primary"></i>
                                </td>

                                <td colspan="5" class="text-center"
                                    *ngIf="!loading?.list && viewedAgent?.users.length===0">No users found

                                </td>
                            </tr>

                            <tr *ngFor="let user of agentUsers; let i = index">
                                <td scope="row">{{i + 1}}</td>
                                <td>{{user?.first_name}}</td>
                                <td>{{user?.last_name}}</td>
                                <td>{{user?.email}}</td>

                                <td data-field="Type" class="m-datatable__cell">
                                <button class="btn btn-info btn-xs"  (click)="editUser(i)">
                                <i class="la la-pencil"></i>
                                </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--Courses of Study-->
            <div class="tab-pane" id="staff">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text m--padding-10 text-center text-uppercase">Staff</h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">

                            <div class="pull-right" style="margin-top:20px">
                                <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="triggerModalOrOverlay('open','createUser')">
                                    <i class="fa fa-plus"></i> Create Staff</button>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <table class="table m-table m-table--head-bg-brand m-table--head-separator-primary table-hover table-striped table-bordered small-margin">
                            <thead class="thead-color">
                            <tr>
                                <th title="Serial Number">#</th>
                                <th title="Code">Full Name</th>
                                <th title="Name">Email</th>
                                <th title="Created date">Group</th>
                                <th title="Action" class="text-center">Staff ID</th>
                                <th title="Action" class="text-center">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="loading?.semester">
                                <td colspan="5" class="text-center" *ngIf="loading?.semester">
                                    Loading semesters <i class="m-loader m-loader--primary"
                                                         *ngIf="loading?.semester"></i>


                                </td>

                                <td colspan="5" class="text-center" *ngIf="">No semesters found

                                </td>
                            </tr>

                            <tr *ngFor="let staff of viewedAgent?.staff; let i = index">
                                <td scope="row">{{i + 1}}</td>
                                <td>
                                    {{staff?.fullname}}

                                </td>
                                <td>{{staff?.email}}</td>

                                <td>
                                    {{staff?.group?.name}}

                                </td>
                                <td>
                                    {{staff?.employee_id}}
                                </td>
                                <td>
                                    <span class="m-badge m-badge--success m-badge--wide" *ngIf="staff?.enabled.toString()==='1'">Active</span>
                                    <span class="m-badge m-badge--danger m-badge--wide" *ngIf="staff?.enabled.toString()==='0'">Inactive</span>


                                </td>
                                <!--<td data-field="Type" class="m-datatable__cell">-->
                                <!--<a class="dropdown-item"  (click)="editCourseOfStudy(semester)">-->
                                <!--<i class="la la-edit"></i>-->
                                <!--Edit-->
                                <!--</a>-->
                                <!--</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--Courses of Study-->

        </div>
    </div>


</div>
