<!-- Modal -->
<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Transaction Details</h4>
      </div>
      <div class="modal-body" *ngIf="paymentMethodReportView">
        <div class="">
          <table class="table table-striped table-bordered table-advance table-hover table-sm">
            <tr>
              <td><b>Matric Number</b></td>
              <td>{{paymentMethodReportView?.matric_no}}</td>
            </tr>
            <tr>
              <td><b>Department</b></td>
              <td>{{paymentMethodReportView?.name}}</td>
            </tr>
            <tr>
              <td><b>Amount</b></td>
              <td>{{paymentMethodReportView?.amount | currency: '&#8358;'}}</td>
            </tr>
            <tr>
              <td><b>Payment Method</b></td>
              <td>{{paymentMethodReportView?.payment_method}}</td>
            </tr>
            <tr>
              <td><b>Transaction ID</b></td>
              <td>{{paymentMethodReportView?.transaction_no}}</td>
            </tr>
            <tr>
              <td><b>Session Year</b></td>
              <td>{{paymentMethodReportView?.session_name || paymentMethodReportView?.session_year}}</td>
            </tr>
          </table>
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div class="col-12 text-center font-weight-bold my-3">
              Fee Breakdown
            </div>
            <div class="col-12">
              <table class="table table-sm table-bordered">
                <tr>
                  <th class="text-dark text-left">#</th>
                  <th class="text-dark text-left">Name</th>
                  <th class="text-dark text-left">Amount</th>
                </tr>
                <tr *ngFor="let item of paymentMethodReportView?.student_transaction_items; let i = index">
                  <td class="text-left">{{i+1}}</td>
                  <td class="text-left">{{ item?.fee?.fee_item?.name }}</td>
                  <td class="text-left">{{item?.amount | currency: '&#8358;'}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          <span id="reportName" (click)="navigateToReport()">Reports</span>{{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools" *ngIf="paymentMethods?.length > 0">
      <div class="mt-3 float-right mr-3">
        <i class="m-loader m-loader--brand" *ngIf="feedBack.session_loader"></i>
        <select class="form-control" (change)="reRender($event, true)">
          <option value="" disabled>Select Session</option>
          <option *ngFor="let session of feedBack?.allSession" [value]="session?.year">{{session?.name || session?.year}}</option>
        </select>
      </div>
      <div class="mt-3 float-right mr-3">
        <select class="form-control m-input" (change)="reRender($event, false)">
          <option value="" disabled>Select Payment Method</option>
          <option *ngFor="let payment of paymentMethods">{{payment}}</option>
        </select>
      </div>
    </div>

  </div>

  <div class="m-portlet__body table-responsive">
    <div *ngIf="paymentMethodReport?.data.length > 0" class="row my-md-2">
      <div class="col-6">
        <select class="form-control form-control-sm mb-1 col-3" (change)="changePerPage($event.target.value)">
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>
      <div class="col-6">
        <input type="text" (keyup)="search_model.next($event.target.value)"
               class="form-control form-control-sm col-6 float-right" placeholder="Search">
      </div>
    </div>
    <table class="table table-hover table-striped table-sm m-table--head-bg-brand relative">
      <div *ngIf="feedBack.loader" class="table-loader">
        <div class="content">
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <thead class="thead-color">
      <tr>
        <th>#</th>
        <th>Matric No.</th>
        <th>Dept. Name</th>
        <th>Session</th>
        <th>Payment Method</th>
        <th>Amount</th>
        <th>Created Date</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of paymentMethodReport?.data; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.matric_no}}</td>
        <td>{{data?.name}}</td>
        <td>{{data?.session_name || data?.session_year}}</td>
        <td>{{data?.payment_method}}</td>
        <td>{{data?.amount | currency: '&#8358;'}}</td>
        <td>{{data?.created_at | date}}</td>
        <td>
          <button class="btn btn-accent-sm" (click)="onView(data)" title="View Details">
            <i class="fa fa-eye"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="8" *ngIf="feedBack.loader">
          <div  class="text-center">Loading &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i></div>
        </td>
        <td colspan="8" *ngIf="!feedBack.loader && paymentMethodReport?.data.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="paymentMethodReport?.data.length > 0" class="row mx-md-1">
      <div class="col-6">
        <div class="float-left">
          <span class="align-middle">Showing {{ paymentMethodReport?.from }} to {{ paymentMethodReport?.to }} of {{ paymentMethodReport?.total }} entries</span>
        </div>
      </div>
      <div class="col-6">
        <div class="float-right">
          <button class="btn btn-sm btn-outline-brand" (click)="navigate('first')">First</button>
          <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only pr-1" (click)="navigate('prev')"
                  [disabled]="paymentMethodReport?.prev_page_url === null">
            <i class="la la-chevron-left"></i>
          </button>
          <div class="btn-group" role="group" aria-label="First group">
            <button
              [ngClass]=" (page === paymentMethodReport?.current_page) ? 'btn btn-sm btn-outline-brand active' : 'btn btn-sm btn-outline-brand'"
              *ngFor="let page of paginator.pages" (click)="navigate(page)">{{ page }}
            </button>
          </div>
          <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only" (click)="navigate('next')"
                  [disabled]="paymentMethodReport?.next_page_url === null">
            <i class="la la-chevron-right"></i>
          </button>
          <button class="btn btn-sm btn-outline-brand" (click)="navigate('last')">Last</button>
        </div>
      </div>
    </div>
    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>
</div>

