<div id="updateStaff" class="modal fade" role="dialog">
  <form [formGroup]="updateStaffForm" (ngSubmit)="updateStaff()">

    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Update {{updatedStaff?.first_name}} {{updatedStaff?.last_name}}</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateStaff')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <h4 class="text-center">Basic Info</h4>
            <div class="row">
              <div class="col-md-6">

                <label for="schoolname">First Name:</label>
                <input class="form-control" formControlName="first_name" id="schoolname"
                >

              </div>
              <div class="col-md-6">

                <label for="middle_name">Middle Name:</label>
                <input class="form-control" id="domain" formControlName="other_names"
                >
                <!--  -->


                <!--  -->
              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="schooldomain">Last Name:</label>
                <input class="form-control" id="domain" formControlName="last_name"
                >

              </div>

              <div class="col-md-6">

                <label for="matric_no">Matriculation Number:</label>
                <input class="form-control" formControlName="matric_no" id="matric_no"
                >

              </div>


            </div>

            <div class="row">
              <div class="col-md-6">

                <label for="email">Email:</label>
                <input class="form-control" formControlName="email" type="email" id="email">


              </div>
              <div class="col-md-6">

                <label for="email">Gender:</label>
                <select class="form-control" formControlName="gender">
                  <option value="" disabled>
                    Select Gender
                  </option>
                  <option value="Male">
                    Male
                  </option>
                  <option value="Female">
                    Female
                  </option>
                </select>


              </div>
            </div>

            <div class="row">
              <div class="col-md-6">

                <label for="matric_no">Date of Birth:</label>
                <input class="form-control" type="date" formControlName="birth_of_date" id="matric_no"
                >

              </div>


              <div class="col-md-6">
                <label for="country">Marital Status:</label>
                <select class="form-control" #createCountry formControlName="marital_status">
                  <option value="" disabled>Marital Status</option>
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>

                </select>


              </div>


            </div>

            <div class="row">
              <div class="col-md-6">

                <label for="email">Religion:</label>
                <select class="form-control" formControlName="religion" #tgetreligion
                        (change)="getDenomination(tgetreligion.value)">
                  <option value="" disabled>
                    Select Religion
                  </option>
                  <option value="Christianity">
                    Christianity
                  </option>
                  <option value="Islam">
                    Islam
                  </option>
                  <option value="Other">
                    Other
                  </option>
                </select>


              </div>

              <div class="col-md-6">

                <label for="email">Denomination:</label>


                <select class="form-control" formControlName="denomination">
                  <option value="" disabled>
                    Select Denomination
                  </option>
                  <option value="{{denomination.value}}"
                          *ngFor="let denomination of allDenominations">
                    {{denomination.name}}
                  </option>
                </select>

              </div>


            </div>

            <br>
            <h4 class="text-center">Extra Info</h4>

            <div class="row">
              <div class="col-md-6">
                <label for="country">Country:</label>
                <select class="form-control" #createCountry formControlName="country_id" id="country"
                        (change)="getStateByCountryId(createCountry.value)">
                  <option value="" disabled>Select Country</option>
                  <option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">
                    {{country.name}}
                  </option>
                </select>


              </div>

              <div class="col-md-6">

                <label for="state">State</label>
                <select class="form-control" #getlga formControlName="state_id" id="state"
                        (change)="getLgaByStateId(getlga.value)">
                  <option value="" disabled>Select State</option>
                  <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">
                    {{state.name}}
                  </option>
                </select>


              </div>

            </div>

            <div class="row">

              <div class="col-md-6">

                <label for="state">LGA:</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.lgas.loading"></i>
                <select class="form-control" formControlName="lga_id" id="state">
                  <option value="" disabled>Select LGA</option>
                  <option *ngFor="let lga of allLgas; let ind=index" value="{{lga.id}}">
                    {{lga.name}}
                  </option>
                </select>


              </div>

              <div class="col-md-6">

                <label for="matric_no">Home Town:</label>
                <input class="form-control" formControlName="home_town" id="matric_no"
                >

              </div>


            </div>

            <div class="row">
              <div class="col-md-6">


                <label for="course">Faculty:</label>
                <select class="form-control" #faculty formControlName="faculty_id" id="faculty"
                        (change)="getDepartmentByByFacultyId(faculty.value)">
                  <option value="" disabled>Select Faculty</option>
                  <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">
                    {{faculty.name}}
                  </option>
                </select>


              </div>

              <div class="col-md-6">
                <label for="department">Department:</label>
                <i class="m-loader m-loader--right m-loader--brand"
                   *ngIf="load.departments.loading"></i>
                <select class="form-control" #deprtmnt formControlName="department_id" id="department"
                        (change)="getCourseByDepartmentId(deprtmnt.value)"
                        [disabled]="!load.departments.list || load.departments.loading">
                  <option value="" disabled>Select Department</option>
                  <option *ngFor="let department of allDepartments; let ind=index"
                          value="{{department.id}}">{{department.name}}
                  </option>
                </select>


              </div>


            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="course">Course of Study:</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.courses.loading"></i>
                <select class="form-control" #course formControlName="course_of_study_id" id="course"
                        [disabled]="!load.courses.list || load.courses.loading">
                  <option value="" disabled>Select Course</option>
                  <option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">
                    {{course.name}}
                  </option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="state">Level:</label>
                <select class="form-control" formControlName="level_id" id="level">
                  <option value="" disabled>Select Level</option>
                  <option *ngFor="let level of allLevels; let ind=index" value="{{level.id}}">
                    {{level.name}}
                  </option>
                </select>


              </div>

            </div>

          </div>
        </div>
        <div class="modal-footer">

          <button type="submit" class="btn btn-success btn-sm"
                  [disabled]="updateStaffForm.invalid || load.requesting.create">{{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>


          <button type="button" class="btn btn-danger btn-sm"
                  (click)="triggerModalOrOverlay('close','updateStaff')">Close
          </button>


        </div>

      </div>
    </div>


  </form>
</div>


<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        <div class="container">Staff Profile:
        </div>
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/staff" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a routerLink="/staff/dashboard/staff" class="m-nav__link">
            <span class="m-nav__link-text">
              Staff
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link">
            <span class="m-nav__link-text">
              {{viewedStaff?.fullname | ucwords}}&nbsp;&nbsp; <i class="m-loader m-loader--brand fa-2x"
                                                                   *ngIf="loader"></i>
            </span>
          </a>
        </li>
        <li class="m-nav__separator">

        </li>
        <li class="m-nav__item">


          <!--begin::Search Form -->
          <!--end::Search Form -->
          <!--begin::Search Results -->
          <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin- m-list-search--has-result m-dropdown--open"
               id="m_quicksearch" data-search-type="default" aria-expanded="true">
            <!--begin::Search Form -->
            <div style="margin-top: 30%!important; position: absolute;" *ngIf="!loader">
              <div class="m-header-search__wrapper">
                            <span class="m-header-search__icon-search" id="m_quicksearch_search">
                            <i class="la la-search"></i>
                            </span>
                <span class="m-header-search__input-wrapper">

                            <input type="text" class="m-header-search__input" placeholder="Search Staffs"
                                   aria-label="Number" matInput
                                   [formControl]="searchTerm" style="background-color: white;color: black">
                            </span>
                <span class="m-header-search__icon-close" id="m_quicksearch_close"
                      style="visibility: visible;">
                            <i class="la la-remove"></i>
                            </span>
                <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel"
                      style="visibility: visible;">
                            <i class="la la-remove"></i>
                            </span>
              </div>
              <div class="card" id="search_result" *ngIf="searchDiv">
                <ul>
                  <li class="m-nav__item">
                                        <span *ngIf="searchResult.length===0" style="color: red">
                                      {{noName}}
                                        </span>
                    <span *ngIf="searching">
                                       Searching  <i class="m-loader m-loader--brand"></i>
                                        </span>
                  </li>
                  <li class="m-nav__item" *ngFor="let staff of searchResult">
                    <a (click)="hideSearchDiv()" routerLink="../{{staff?.id}}">{{staff?.fullname}}</a>

                  </li>
                </ul>
              </div>

            </div>
            <!--end::Search Form -->
            <!--begin::Search Results -->

            <!--end::Search Results -->
          </div>
          <!--end::Search Results -->

        </li>
      </ul>
    </div>
    <div>
      <div id="imgDiv">
        <img src="assets/images/users/blank_male.jpg" class="img img-thumbnail" style="width: 120px"
             *ngIf="(viewedStaff?.gender==='Male' || viewedStaff?.gender==='M') && !viewedStaff?.passport">
        <img src="assets/images/users/blank_female.jpg" class="img img-thumbnail" style="width: 120px"
             *ngIf="(viewedStaff?.gender==='Female' || viewedStaff?.gender==='F')&& !viewedStaff?.passport">
        <img [src]=viewedStaff?.passport class="img img-thumbnail" style="width: 120px" *ngIf="viewedStaff?.passport">
      </div>
    </div>
  </div>
</div>


<!--<div class="m-header-search__form">-->
<!--<div class="m-header-search__wrapper">-->

<!--</div>-->


<div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{viewedStaff?.fullname}}&nbsp;-&nbsp;{{viewedStaff?.employee_id}}
        </h3>
      </div>


    </div>
  </div>
  <div class="m-portlet__body">
    <ul class="nav nav-tabs  m-tabs-line m-tabs-line--primary" role="tablist">
      <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab">
          Basic Staff Info
        </a>
      </li>
      <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab">
          Academic Info
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
        <div class="row">
          <div class="col-6 card">
            <div class="row" style="padding-top: 10px">
              <div class="col-3">
                <label>
                  Full Name:
                </label>
              </div>
              <div class="col-9">
                {{viewedStaff?.fullname || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Staff ID:
                </label>
              </div>
              <div class="col-9">
                {{viewedStaff?.employee_id || '----' |titlecase}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Phone:
                </label>
              </div>
              <div class="col-9">
                {{viewedStaff?.phone || '----'}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Mobile:
                </label>
              </div>
              <div class="col-9">
                {{viewedStaff?.telephone_mobile || '----'}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Email:
                </label>
              </div>
              <div class="col-9">
                {{viewedStaff?.email || '----'}}
              </div>
            </div>
            <hr>
            <!--<div class="row">-->
            <!--<div class="col-3">-->
            <!--<label>-->
            <!--Birth Date:-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="col-9">-->
            <!--<span *ngIf="viewedStaff?.birth_of_date">-->
            <!--{{viewedStaff?.birth_of_date|date}}-->
            <!--</span>-->
            <!--<span *ngIf="!viewedStaff?.birth_of_date">-->
            <!--&#45;&#45;&#45;&#45;-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--<hr>-->
            <!--<div class="row">-->
            <!--<div class="col-3">-->
            <!--<label>-->
            <!--Gender:-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="col-9">-->
            <!--{{viewedStaff?.gender || '&#45;&#45;&#45;&#45;'}}-->
            <!--</div>-->
            <!--</div>-->
            <!--<hr>-->

            <!--<div class="row">-->
            <!--<div class="col-3">-->
            <!--<label>-->
            <!--Blood Group:-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="col-9">-->
            <!--{{viewedStaff?.blood_group || '&#45;&#45;&#45;&#45;'}}-->
            <!--</div>-->
            <!--</div>-->
            <!--<hr>-->

            <!--<div class="row">-->
            <!--<div class="col-3">-->
            <!--<label>-->
            <!--Geno Type:-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="col-9">-->
            <!--{{viewedStaff?.geno_type || '&#45;&#45;&#45;&#45;'}}-->
            <!--</div>-->
            <!--</div>-->
            <!--<hr>-->
            <!--<div class="row">-->
            <!--<div class="col-3">-->
            <!--<label>-->
            <!--Height:-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="col-9">-->
            <!--{{viewedStaff?.height || '&#45;&#45;&#45;&#45;'}}-->
            <!--</div>-->
            <!--</div>-->
            <!--<hr>-->

            <div class="row">
              <div class="col-3">
                <label>
                  Group:
                </label>
              </div>
              <div class="col-9">
                {{viewedStaff?.group?.name || '----'}}
              </div>
            </div>
            <hr>



            <!--<div class="row">-->
            <!--<div class="col-3">-->
            <!--<label>-->
            <!--Lga:-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="col-9">-->
            <!--{{viewedStaff?.lga?.name || '&#45;&#45;&#45;&#45;'}}-->
            <!--</div>-->
            <!--</div>-->
            <!--<hr>-->


          </div>
          <div class="col-6 card">
            <div class="row">
              <div class="col-3">
                <label>
                  Role:
                </label>
              </div>
              <div class="col-9">
                {{viewedStaff?.group?.role || '----'}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  Weekend Login:
                </label>
              </div>
              <div class="col-9">
               <span class="badge badge-success" *ngIf="viewedStaff?.weekend_login?.toString()==='1'">
Enabled
               </span>
                <span class="badge badge-danger" *ngIf="viewedStaff?.weekend_login?.toString()==='0'">
Disabled
               </span>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Holiday Login:
                </label>
              </div>
              <div class="col-9">
               <span class="badge badge-success" *ngIf="viewedStaff?.holiday_login?.toString()==='1'">
Enabled
               </span>
                <span class="badge badge-danger" *ngIf="viewedStaff?.holiday_login?.toString()==='0'">
Disabled
               </span>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Active Hour:
                </label>
              </div>
              <div class="col-9">
                {{viewedStaff?.active_hour?.name || '----' |titlecase}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-3">
                <label>
                  Begin Time:
                </label>
              </div>
              <div class="col-9">
                {{viewedStaff?.active_hour?.begin_time || '----' |titlecase}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-3">
                <label>
                  End Time:
                </label>
              </div>
              <div class="col-9">
                {{viewedStaff?.active_hour?.end_time || '----' |titlecase}}
              </div>
            </div>
            <hr>

          </div>

        </div>


      </div>

      <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">

          <div class="card">
            <div  style="padding-top: 10px">

              <table class="table table-responsive table-bordered table-hover">
                <thead>
                <tr>
                <th>Faculty</th>
                <th>Department</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="viewedStaff?.departments.length ===0">
                  <td colspan="2">No Content</td>
                </tr>
                <tr *ngFor="let department of viewedStaff?.departments">
                  <td>
                    {{department?.name}}
                  </td>
                  <td>
                    {{department?.faculty?.name}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>



      </div>


    </div>
  </div>
</div>