
#imgDiv{
    margin-top: -40px;
    z-index: 100;
}

.col-3{
    font-weight: bold;
}

.m-dropdown__body li {
    list-style: none;
    cursor: pointer;
    padding-left: 20px;
}



#search_result {

    z-index: 1000;
    position: absolute;
}

#search_result ul,li{
    list-style: none;
}

#cdk-overlay-0 {
    margin-top: -1000px;
    margin-left: 1000px !important;
    width: 180px;
    pointer-events: auto;
    position: absolute;

}

.m-header-search .m-header-search__wrapper {
    display: table;
    table-layout: fixed;
    text-align: right;
    border-radius: 30px;
    background-color: white;
}

.card div.col-9{
    margin-top:2%;
}