  <!-- BEGIN: Create Modal -->
  <div id="createScreeningCenter" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <form [formGroup]="createCenter" (ngSubmit)="createScreeningCenter()" class="m-form m-form--label-align-right">
          <div class="modal-header">
            <h4 class="modal-title">Create Screening Center</h4>
            <button class="close" type="button" (click)="triggerModalOrOverlay('close','createScreeningCenter')">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                Name:
              </label>
              <div class="col-lg-7">
                <input formControlName="name" type="text" class="form-control m-input">
                <span class="m-form__help m--font-danger" *ngIf="createCenter.get('name').touched && !createCenter.get('name').valid">
                Name is required!
                </span>
              </div>
            </div><!--Name-->
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                Location:
              </label>
              <div class="col-lg-7">
                <input formControlName="location" type="text" class="form-control m-input">
                <span class="m-form__help m--font-danger" *ngIf="createCenter.get('location').touched && !createCenter.get('location').valid">
                Location is required!
                </span>
              </div>
            </div><!--Location-->
          </div>
          <div class="modal-footer">
            <button class="btn btn-accent m-btn m-btn--pill m-btn--air float-right" type="submit" [disabled]="!createCenter.valid">
              Submit
              <i class="m-loader m-loader--right m-loader--light" *ngIf="loader.creating"></i>
            </button>
            <button type="button"
                    class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                    (click)="triggerModalOrOverlay('close','createScreeningCenter')">Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- END: Create Modal -->

  <!-- START: Edit Modal -->
  <div id="updateScreeningCenter" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <form [formGroup]="updateCenter" (ngSubmit)="updateScreeningCenter()" class="m-form m-form--label-align-right">
          <div class="modal-header">
            <h4 class="modal-title">Edit Screening Center</h4>
            <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateScreeningCenter')">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                Name:
              </label>
              <div class="col-lg-7">
                <input formControlName="name" type="text" class="form-control m-input">
                <span class="m-form__help m--font-danger" *ngIf="updateCenter.get('name').touched && !updateCenter.get('name').valid">
                Name is required!
                </span>
              </div>
            </div><!--Name-->
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                Location:
              </label>
              <div class="col-lg-7">
                <input formControlName="location" type="text" class="form-control m-input">
                <span class="m-form__help m--font-danger" *ngIf="updateCenter.get('location').touched && !updateCenter.get('location').valid">
                Location is required!
                </span>
              </div>
            </div><!--Location-->
          </div>
          <div class="modal-footer">
            <button class="btn btn-accent m-btn m-btn--pill m-btn--air float-right" type="submit" [disabled]="!updateCenter.valid">
              Submit
              <i class="m-loader m-loader--right m-loader--light" *ngIf="loader.updating"></i>
            </button>
            <button type="button"
                    class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                    (click)="triggerModalOrOverlay('close','updateScreeningCenter')">Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- END: Edit Modal -->

          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Screening Center
                  </h3>
                </div>
              </div>
              <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                  <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.admission.screening-center.create_center')">
                    <a style="color: white !important;"
                       class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                       (click)="triggerModalOrOverlay('open', 'createScreeningCenter')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Screening Center
														</span>
													</span>
                    </a>
                  </li>
                </ul>
              </div>

            </div>
            <div class="m-portlet__body">
              <div class="small-margin"></div><div class="small-margin"></div><div class="small-margin"></div><div class="small-margin"></div>
              <!--<div class="" *ngIf="centerResponse?.length != 0">-->
                <table datatable [dtTrigger]="dtTrigger"
                       class="table table-hover table-striped table-sm m-table--head-bg-brand table-responsive-sm">
                  <thead>
                  <tr>
                    <th title="Serial Number">#</th>
                    <th>Name</th>
                    <th>Date Created</th>
                    <th>Location</th>
                    <th>Edit</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="centerResponse.length === 0 || loader.listing">
                    <td colspan="5" class="text-center" *ngIf="loader.listing">Loading... &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i></td>
                    <td colspan="5" class="text-center" *ngIf="!loader.listing && centerResponse.length === 0">No Content Found.</td>
                  </tr>
                  <tr *ngFor="let center of centerResponse; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{center?.name}}</td>
                    <td>{{center?.created_at | date}}</td>
                    <td>{{center?.location}}</td>
                    <td>
                      <a *ngIf="iAmPermitted('school.admission.screening-center.update_center')">
                        <i class="fa fa-edit" (click)="editModal(i)"></i>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              <!--</div>-->
            </div>
          </div>