
<div id="updateAgent" class="modal fade" role="dialog">
  <form [formGroup]="updateAgentForm" (ngSubmit)="updateAgent()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="pull-left">
            <img alt="No Logo" src="{{myEditedAgent?.logo}}" width="50px !important">

          </div>
          <h4 class="modal-title">Update {{myEditedAgent?.name}}</h4>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="Agentname">Name of Agent:</label>
            <input class="form-control" formControlName="name" id="sgentname">

            <label for="subdomain">Agent Email:</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <input class="form-control" formControlName="email" id="gentname">
              </div>
            </div>
            <label for="subdomain">Agent Subdomain:</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <input class="form-control" formControlName="subdomain" id="gentname">
              </div>
            </div>
            <label for="subdomain">Agent Logo:</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="file" id="agentupdateLogo" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="subdomain">Primary Color:</label>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <input type="color" formControlName="primary_color">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <label for="subdomain">Secondary Color:</label>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <input type="color"  formControlName="secondary_color">
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="updateAgentForm.invalid || load.requesting.create">{{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>
          <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" (click)="triggerModal('close','updateAgent')">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="createAgent" class="modal fade" role="dialog">
  <form [formGroup]="createAgentForm" (ngSubmit)="createAgent()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Create Agent</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="Agentname">Name of Agent:</label>
            <input class="form-control" formControlName="name" id="sgentname">

            <label for="subdomain">Agent Email:</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <input class="form-control" formControlName="email" id="gentname">
              </div>
            </div>
            <label for="subdomain">Agent Subdomain:</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <input class="form-control" formControlName="subdomain" id="gentname">
              </div>
            </div>
            <label for="subdomain">Agent Logo:</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="file" id="agentLogo" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="subdomain">Primary Color:</label>
                <div class="form-group row">
                  <div class="container">
                    <input type="color" formControlName="primary_color">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <label for="subdomain">Secondary Color:</label>
                <div class="form-group row">
                  <div class="container">
                    <input type="color"  formControlName="secondary_color">
                  </div>
                </div>
              </div>
            </div>

            <!--<div class="form-group row">-->
              <!--<div class="col-sm-12">-->
                <!--<input type="color"  class="form-control" formControlName="secondary_color">-->
              <!--</div>-->
            <!--</div>-->
            <label for="subdomain">Staff Full Name:</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <input class="form-control" formControlName="fullname" id="fullname">
              </div>
            </div>
            <label for="subdomain">Staff ID:</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <input class="form-control" formControlName="employee_id" id="employee_id">
              </div>
            </div>

            <label for="subdomain">Staff Email:</label>
            <div class="form-group row">
              <div class="col-sm-12">
                <input class="form-control" formControlName="staff_email" id="staff_email">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="createAgentForm.invalid || load.requesting.create">{{load.message.create}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>
          <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" (click)="triggerModal('close','createAgent')">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="m-portlet">
  <div class="m-portlet__body  m-portlet__body--no-padding">

    <div>
      <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                All Agents

              </h3>
            </div>
          </div>

          <!-- <div class="m-portlet__head-tools">
              <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                  <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
                   aria-expanded="true">
                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                      <i class="la la-ellipsis-h m--font-brand"></i>
                    </a>
                    <div class="m-dropdown__wrapper">
                      <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                      <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                          <div class="m-dropdown__content">
                            <ul class="m-nav">
                              <li class="m-nav__section m-nav__section--first">
                                <span class="m-nav__section-text">
                                  Quick Actions
                                </span>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-share"></i>
                                  <span class="m-nav__link-text" (click)="triggerModal('open','createAgent')">
                                    Create Agent
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-chat-1"></i>
                                  <span class="m-nav__link-text">
                                    Send Messages
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                                  <span class="m-nav__link-text">
                                    Upload File
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__section">
                                <span class="m-nav__section-text">
                                  Useful Links
                                </span>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-info"></i>
                                  <span class="m-nav__link-text">
                                    FAQ
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__item">
                                <a href="" class="m-nav__link">
                                  <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                  <span class="m-nav__link-text">
                                    Support
                                  </span>
                                </a>
                              </li>
                              <li class="m-nav__separator m-nav__separator--fit m--hide"></li>
                              <li class="m-nav__item m--hide">
                                <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                  Submit
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div> -->

          <div class="pull-right" style="margin-top:20px">
            <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="triggerModal('open','createAgent')">
              <i class="fa fa-plus"></i> Create  Agent</button>
          </div>

        </div>
        <div class="m-portlet__body">
          <!--begin: Datatable -->
          <div class="m_datatable">
            <!--[ngStyle]="setHeaderColor('head')"-->
            <table class="table m-table m-table--head-bg-brand m-table--head-separator-primary table-hover table-striped table-bordered small-margin" width="100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-color">
              <tr>
                <th>Agent Name</th>
                <th>Email</th>
                <th>Sub Domain</th>
                <th>Logo</th>

                <th>Action</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngIf="myAgents.length ===0">
                <td colspan="6" class="text-center">
                  <span *ngIf="!load.requesting.list">No Record Found</span>
                  <div *ngIf="load.requesting.list">Fetching Agents &nbsp;&nbsp;
                    <i class="m-loader m-loader--brand"></i>
                  </div>
                </td>
              </tr>
              <tr *ngFor="let myAgent of myAgents; let ind=index">
                <td><a class="m-link" routerLink="../agents/{{myAgent?.id}}" >{{myAgent?.name}}</a></td>
                <td>
                  {{myAgent?.email}}
                </td>
                <td>
                  {{myAgent?.subdomain}}
                </td>
                <td>
                  <div>
                    <img alt="No Logo" src="{{myAgent?.logo}}" width="100px !important">
                  </div>
                </td>

                <td>
                  <button class="btn btn-info btn-xs" type="button" style="padding:5px !important" (click)="editAgent(ind)">
                    <i class="fa fa-pencil"></i>
                  </button>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
          <!--end: Datatable -->
        </div>
      </div>
    </div>
  </div>
</div>