<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div id="createTask" class="modal fade" role="dialog">
  <form [formGroup]="createTaskForm" (ngSubmit)="createTask()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Create Task</h4>
          <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','createTask')">Close</button> -->
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','createTask')">&times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">

                <label for="schoolname">Name:</label>
                <input class="form-control" formControlName="name" id="schoolname"
                       placeholder="Task Name">

              </div>
              <div class="col-md-6">

                <label for="middle_name">Route:</label>
                <input class="form-control" id="domain" formControlName="route"
                       placeholder="Route Name">
                <!--  -->


                <!--  -->
              </div>

            </div>


            <div class="row">
              <div class="col-md-6">

                <label for="schoolname">Description:</label>
                <textarea class="form-control" formControlName="description">Description</textarea>
              </div>
              <div class="col-md-6">

                <label for="country">Order:</label>
                <select class="form-control" formControlName="order" id="country">
                  <option value="" disabled>Select Order</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>

              </div>

            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="createTaskForm.invalid || load.requesting.create">{{load.message.create}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>
          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','createTask')">Close
          </button>


        </div>
      </div>
    </div>
  </form>
</div>

<div id="updateTask" class="modal fade" role="dialog">
  <form [formGroup]="updateTaskForm" (ngSubmit)="updateTask()">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Update {{updatedTask?.fullname}}</h4>
          <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateTask')">Close</button> -->
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateTask')">&times;
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">

                <label for="schoolname">Name:</label>
                <input class="form-control" formControlName="name" id="schoolname"
                       placeholder="Task Name">

              </div>
              <div class="col-md-6">

                <label for="middle_name">Route:</label>
                <input class="form-control" id="domain" formControlName="route"
                       placeholder="Route Name">
                <!--  -->


                <!--  -->
              </div>

            </div>


            <div class="row">
              <div class="col-md-6">
                <label for="country">Order:</label>
                <select class="form-control" formControlName="order" id="country">
                  <option value="" disabled>Select Order</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
              <div class="col-md-6">

                <label for="schoolname">Description:</label>
                <textarea class="form-control" formControlName="description">Description</textarea>

              </div>

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  [disabled]="updateTaskForm.invalid || load.requesting.create">{{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>
          <button type="button"
                  class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                  (click)="triggerModalOrOverlay('close','updateTask')">Close
          </button>


        </div>
      </div>
    </div>
  </form>
</div>


<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          All Tasks
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
    <ul class="m-portlet__nav">
    <li class="m-portlet__nav-item">
    <button style="color: white !important;"
    class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
    (click)="generateTasks()">
      <!--*ngIf="allTasks.length===0 && !load.requesting.list" [disabled]="load.requesting.list && iAmPermitted('school.administration.task.generate')"-->
    <span>
    <i class="la la-cogs"></i>
    <span>
    Generate Tasks
    </span>
    </span>
    </button>
    </li>



    </ul>
    </div>

  </div>
  <div class="m-portlet__body">
    <!--begin: Search Form -->
    <!--end: Search Form -->
    <!--begin: Datatable -->
    <div class="table-responsive">
      <table id="html_table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="table table-hover table-striped table-sm m-table--head-bg-brand">
        <thead class="thead-color">
        <tr>
          <th>#</th>
          <th>Task Name</th>
          <th>Route</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="allTasks.length==0 || load.requesting.list" class="text-center">
          <td colspan="4">
            <span *ngIf="allTasks.length==0 && !load.requesting.list">No Record Found</span>
            <span *ngIf="load.requesting.list">{{loadTasksMessage}} Tasks..&nbsp;&nbsp;
                  <i class="m-loader m-loader--right m-loader--brand"></i>
                </span>
          </td>
        </tr>
        <tr *ngFor="let Task of allTasks; let ind=index">
          <td>{{ind+1}}</td>
          <td>{{Task?.name}}</td>
          <td>{{Task?.route}}</td>
          <td>{{Task?.description}}</td>
        </tr>
        </tbody>
      </table>

    </div>
    <!--end: Datatable -->
  </div>
</div>
