<div id="createTransfer" class="modal fade" role="dialog">
    <form [formGroup]="createTransferForm" (ngSubmit)="createTransfer()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Create Transfer </h4>
                    <button class="close" type="button" (click)="triggerModalOrOverlay('close','createTransfer')">
                        &times;
                    </button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="schoolname">First Name:</label>
                                <input class="form-control" formControlName="first_name" id="schoolname"
                                       placeholder="First Name">

                            </div>
                            <div class="col-md-6">

                                <label for="middle_name">Middle Name:</label>
                                <input class="form-control" id="domain" formControlName="middle_name"
                                       placeholder="Middle Name">
                                <!--  -->


                                <!--  -->
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="schooldomain">Last Name:</label>
                                <input class="form-control" id="domain" formControlName="last_name"
                                       placeholder="Last Name">

                            </div>

                            <div class="col-md-6">

                                <label for="email">Email:</label>
                                <input class="form-control" formControlName="email" id="email" placeholder="Email">


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">


                                <label for="country">Country:</label>
                                <select class="form-control" #createCountry formControlName="country_id" id="country"
                                        (change)="getStateByCountryId(createCountry.value)">
                                    <option value="" disabled>Select Country</option>
                                    <option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">
                                        {{country.name}}
                                    </option>
                                </select>


                            </div>
                            <div class="col-md-6">

                                <label for="state">State:</label>
                                <select class="form-control" formControlName="state_id" id="state">
                                    <option value="" disabled>Select State</option>
                                    <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">
                                        {{state.name}}
                                    </option>
                                </select>


                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-6">


                                <label for="course">Faculty:</label>
                                <select class="form-control" #faculty formControlName="faculty_id" id="faculty"
                                        (change)="getDepartmentByByFacultyId(faculty.value)">
                                    <option value="" disabled>Select Faculty</option>
                                    <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">
                                        {{faculty.name}}
                                    </option>
                                </select>


                            </div>
                            <div class="col-md-6">
                                <label for="department">Department:</label>
                                <i class="m-loader m-loader--right m-loader--brand"
                                   *ngIf="load.departments.loading"></i>
                                <select class="form-control" #deprtmnt formControlName="department_id" id="department"
                                        (change)="getCourseByDepartmentId(deprtmnt.value)"
                                        [disabled]="!load.departments.list || load.departments.loading">
                                    <option value="" disabled>Select Department</option>
                                    <option *ngFor="let department of allDepartments; let ind=index"
                                            value="{{department.id}}">{{department.name}}
                                    </option>
                                </select>


                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">

                                <label for="state">Level:</label>
                                <select class="form-control" formControlName="level_id" id="level">
                                    <option value="" disabled>Select Level</option>
                                    <option *ngFor="let level of allLevels; let ind=index" value="{{level.id}}">
                                        {{level.name}}
                                    </option>
                                </select>


                            </div>


                            <div class="col-md-6">
                                <label for="course">Course of Study:</label>
                                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.courses.loading"></i>
                                <select class="form-control" #course formControlName="course_of_study_id" id="course"
                                        [disabled]="!load.courses.list || load.courses.loading">
                                    <option value="" disabled>Select Course</option>
                                    <option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">
                                        {{course.name}}
                                    </option>
                                </select>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">

                                <label for="matric_no">Matriculation Number:</label>
                                <input class="form-control" formControlName="matric_no" id="matric_no"
                                       placeholder="Matric No">

                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            [disabled]="!createTransferForm.invalid">{{load.message.create}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>

                    <button type="button"
                            class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            (click)="triggerModalOrOverlay('close','createTransfer')">Close
                    </button>

                </div>
            </div>
        </div>
    </form>
</div>

<div id="updateTransfer" class="modal fade" role="dialog">
    <form [formGroup]="updateTransferForm" (ngSubmit)="updateTransfer()">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Update {{updatedTransfer?.first_name}} {{updatedTransfer?.last_name}}</h4>
                    <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateTransfer')">Close</button> -->
                    <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateTransfer')">
                        &times;
                    </button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="schoolname">First Name:</label>
                                <input class="form-control" formControlName="first_name" id="schoolname"
                                       placeholder="First Name">

                            </div>
                            <div class="col-md-6">

                                <label for="middle_name">Middle Name:</label>
                                <input class="form-control" id="domain" formControlName="middle_name"
                                       placeholder="Middle Name">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="schooldomain">Last Name:</label>
                                <input class="form-control" id="domain" formControlName="last_name"
                                       placeholder="Last Name">

                            </div>

                            <div class="col-md-6">

                                <label for="email">Email:</label>
                                <input class="form-control" formControlName="email" id="email" placeholder="Email">


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">


                                <label for="country">Country:</label>
                                <select class="form-control" #country formControlName="country_id" id="country"
                                        (change)="getStateByCountryId(country.value)">
                                    <option value="" disabled>Select Country</option>
                                    <option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">
                                        {{country.name}}
                                    </option>
                                </select>


                            </div>
                            <div class="col-md-6">

                                <label for="state">State:</label>
                                <select class="form-control" formControlName="state_id" id="state">
                                    <option value="" disabled>Select State</option>
                                    <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">
                                        {{state.name}}
                                    </option>
                                </select>


                            </div>

                        </div>


                        <!-- <div class="row">
                                    <div class="col-md-6">


                                        <label for="course">Faculty:</label>
                                        <select class="form-control" #faculty formControlName="faculty_id" id="faculty" (change)="getDepartmentByByFacultyId(faculty.value)">
                                            <option value="" disabled>Select Faculty</option>
                                            <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">{{faculty.name}}</option>
                                        </select>


                                    </div>
                                    <div class="col-md-6">
                                        <label for="department">Department:</label>
                                        <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.departments.loading"></i>
                                        <select class="form-control" #deprtmnt formControlName="department_id" id="department"
                                            (change)="getCourseByDepartmentId(deprtmnt.value)" [disabled]="!load.departments.list || load.departments.loading">
                                            <option value="" disabled>Select Department</option>
                                            <option *ngFor="let department of allDepartments; let ind=index" value="{{department.id}}">{{department.name}}</option>
                                        </select>


                                    </div>

                                </div>

            -->


                        <div class="row">

                            <div class="col-md-6">
                                <label for="course">Course of Study:</label>
                                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.courses.loading"></i>
                                <select class="form-control" #course formControlName="course_of_study_id" id="course"
                                        [disabled]="!load.courses.list || load.courses.loading">
                                    <option value="" disabled>Select Course</option>
                                    <option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">
                                        {{course.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">

                                <label for="matric_no">Matriculation Number:</label>
                                <input class="form-control" formControlName="matric_no" id="matric_no"
                                       placeholder="Matric No" readonly disabled>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit"
                            class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            [disabled]="updateTransferForm.invalid || load.requesting.create">{{load.message.update}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>


                    <button type="button"
                            class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                            (click)="triggerModalOrOverlay('close','updateTransfer')">Close
                    </button>


                </div>
            </div>
        </div>
    </form>
</div>


<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    All Transfers

                    <!--Transfer Applications-->
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
            <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--end: Search Form -->
        <!--begin: Datatable -->
        <div class="m_datatable m-datatable m-datatable--default m-datatable--scroll m-datatable--loaded"
             id="m_datatable_latest_orders">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                   class="table table-hover table-striped table-sm m-table--head-bg-brand" id="html_table">
                <thead class="thead-color">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Matric No.
                    </th>
                    <th>
                        Session Transferred
                    </th>
                    <th>
                        Level Transferred From
                    </th>
                    <th>
                        Level Transferred To
                    </th>
                    <th>
                        Previous Course of Study
                    </th>
                    <th>
                        Present Course of Study
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" *ngIf="allTransfers.length==0">
                    <td colspan="11">
                        <span *ngIf="allTransfers.length==0 && !load.requesting.list">No Record Found</span>
                        <span *ngIf="load.requesting.list">Fetching Transfer s..
                                    <i class="m-loader m-loader--right m-loader--brand"></i>
                                </span>
                    </td>
                </tr>
                <tr *ngFor="let Transfer of allTransfers; let ind=index">
                    <td>{{ind+1}}</td>
                    <td>{{Transfer?.student?.first_name}}</td>
                    <td>{{Transfer?.student?.last_name}}</td>
                    <td>{{Transfer?.student?.matric_no}}</td>
                    <td>{{Transfer?.session?.name || 'None Captured'}}</td>
                    <td>{{Transfer?.from_level?.name || 'None Captured'}}</td>
                    <td>{{Transfer?.to_level?.name || 'None Captured'}}</td>
                    <td>{{Transfer?.from_course?.name || 'None Captured'}}</td>
                    <td>{{Transfer?.to_course?.name || 'None Captured'}}</td>


                </tr>
                </tbody>
            </table>
        </div>
        <!--end: Datatable -->
    </div>
</div>
