<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Course Registration
        </h3>
      </div>
    </div>
  <!-- *ngIf="paymentMethods?.length > 0"-->
      <form [formGroup]="filterForm">
        <div class="m-portlet__head-tools">
        <div>
          <div class="mt-3 float-right mr-3">
            <button class="btn btn-sm btn-accent m-btn--air m-btn--pill"
                    (click)="reRender()"
                    [disabled]="filterForm.invalid || feedBack?.loader">
              &nbsp;&nbsp;Submit&nbsp;&nbsp;
              <i class="m-loader m-loader--light" *ngIf="feedBack?.loader"></i>
            </button>
          </div>
          <div class="mt-3 float-right mr-3">
            <!--<i class="m-loader m-loader&#45;&#45;brand" *ngIf="feedBack.level_loader"></i>-->
            <select class="form-control m-input" formControlName="type"><!-- (change)="reRender($event, false)"-->
              <option value="new">New</option>
              <option value="spill">Spill Over</option>
            </select>
          </div>
          <div class="mt-3 float-right mr-3">
            <i class="m-loader m-loader--brand" *ngIf="feedBack.level_loader"></i>
            <select class="form-control m-input" formControlName="level_id"><!-- (change)="reRender($event, false)"-->
              <option value="">Select Level</option>
              <option *ngFor="let level of levels" [value]="level?.id">{{ level?.name }}</option>
            </select>
          </div>
          <div class="mt-3 float-right mr-3">
            <i class="m-loader m-loader--brand" *ngIf="feedBack.course_loader"></i>
            <select class="form-control m-input" formControlName="course_of_study_id"><!-- (change)="reRender($event, false)"-->
              <option value="">Select Course of Study</option>
              <option *ngFor="let course_of_study of coursesOfStudy" [value]="course_of_study?.id">{{ course_of_study?.name }}</option>
            </select>
          </div>
          <div class="mt-3 float-right mr-3">
            <i class="m-loader m-loader--brand" *ngIf="feedBack.session_loader"></i>
            <label style="color:red"><i>Required*</i></label>
            <select class="form-control" formControlName="session_year"><!-- (change)="reRender($event, true)"-->
              <option value="">Select Session</option>
              <option *ngFor="let session of sessions" [value]="session?.year">{{session?.name || session?.year}}</option>
            </select>
          </div>
        </div>
        </div>

        <div class="row mt-3 mb-3">

            <div class="col-3">
              <input class="form-control" formControlName="course_code" placeholder="Course Code">

            </div>

        </div>
      </form>


  </div>

  <div class="m-portlet__body table-responsive">
    <!--<div class="row my-md-2">&lt;!&ndash; *ngIf="courseRegReport?.data.length > 0"&ndash;&gt;-->
      <!--<div class="col-6">-->
        <!--<select class="form-control form-control-sm mb-1 col-3" (change)="changePerPage($event.target.value)">-->
          <!--<option value="10">10</option>-->
          <!--<option value="15">15</option>-->
          <!--<option value="20">20</option>-->
          <!--<option value="50">50</option>-->
        <!--</select>-->
      <!--</div>-->
      <!--<div class="col-6">-->
        <!--&lt;!&ndash;<input type="text" (keyup)="search_model.next($event.target.value)"&ndash;&gt;-->
               <!--&lt;!&ndash;class="form-control form-control-sm col-6 float-right" placeholder="Search">&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
    <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand relative">
      <!--<div *ngIf="feedBack.loader" class="table-loader">-->
        <!--<div class="content">-->
          <!--<div class="lds-ellipsis">-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <thead class="thead-color">
      <tr>
        <th>#</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Other Names</th>
        <th>Matric No.</th>
        <th>Gender</th>
        <th>Course of Study</th>
        <th>Level</th>
        <th>LGA</th>
        <th>State</th>
        <th>TC <sub>S1</sub></th>
        <th>TC <sub>S2</sub></th>
        <th>TC <sub>TOTAL</sub></th>
        <th>Created Date</th>
        <!--<th>Action</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of courseRegs; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.last_name}}</td>
        <td>{{data?.first_name}}</td>
        <td>{{data?.other_names}}</td>
        <td>{{data?.matric_no}}</td>
        <td>{{data?.gender | uppercase}}</td>
        <td>{{data?.course_of_study?.name}}</td>
        <td>{{data?.level?.name}}</td>
        <td>{{data?.lga?.name}}</td>
        <td>{{data?.state?.name}}</td>
        <td>{{ data?.first_semester_total }}</td>
        <td>{{ data?.second_semester_total }}</td>
        <td>{{ data?.total_credit_registered }}</td>
        <td>{{data?.created_at | date}}</td>
        <!--<td>-->
          <!--<button class="btn btn-accent-sm" (click)="onView(data)" title="View Details">-->
            <!--<i class="fa fa-eye"></i>-->
          <!--</button>-->
        <!--</td>-->
      </tr>
      <tr *ngIf="feedBack.loader || courseRegs.length === 0">
        <td class="text-center" colspan="11">
          <div *ngIf="feedBack.loader">
            Loading &nbsp;&nbsp; <i class="m-loader m-loader--brand"></i>
          </div>
          <div *ngIf="!feedBack.loader && courseRegs.length === 0">
            No Content Found
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row mt-lg-5">
      <div class="col-12" *ngIf="courseRegs.length > 0">
        <button class="btn btn-accent m-btn--pill m-btn--air float-right" (click)="exportAsXLSX()">
          &nbsp;&nbsp;Generate Report&nbsp;&nbsp;
          <i class="m-loader m-loader--light" *ngIf="feedBack?.excelling"></i>
        </button>
      </div>
    </div>
    <!--<div *ngIf="courseRegReport?.data.length > 0" class="row mx-md-1">-->
      <!--<div class="col-6">-->
        <!--<div class="float-left">-->
          <!--<span class="align-middle">Showing {{ courseRegReport?.from }} to {{ courseRegReport?.to }} of {{ courseRegReport?.total }} entries</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-6">-->
        <!--<div class="float-right">-->
          <!--<button class="btn btn-sm btn-outline-brand" (click)="navigate('first')">First</button>-->
          <!--<button class="btn btn-brand btn-sm m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only pr-1" (click)="navigate('prev')"-->
                  <!--[disabled]="courseRegReport?.prev_page_url === null">-->
            <!--<i class="la la-chevron-left"></i>-->
          <!--</button>-->
          <!--<div class="btn-group" role="group" aria-label="First group">-->
            <!--<button-->
              <!--[ngClass]=" (page === courseRegReport?.current_page) ? 'btn btn-sm btn-outline-brand active' : 'btn btn-sm btn-outline-brand'"-->
              <!--*ngFor="let page of paginator.pages" (click)="navigate(page)">{{ page }}-->
            <!--</button>-->
          <!--</div>-->
          <!--<button class="btn btn-brand btn-sm m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only" (click)="navigate('next')"-->
                  <!--[disabled]="courseRegReport?.next_page_url === null">-->
            <!--<i class="la la-chevron-right"></i>-->
          <!--</button>-->
          <!--<button class="btn btn-sm btn-outline-brand" (click)="navigate('last')">Last</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>
</div>
