<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item m-aside-left">
	<!-- BEGIN: Aside Menu -->
	<div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__section">
				<h4 class="m-menu__section-text">
					Student Section
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/student/profile" class="m-menu__link m-menu__toggle">
					<span class="m-menu__link-text">
						Profile
					</span>
				</a>
      </li>
			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/student/payment" class="m-menu__link m-menu__toggle">
					<span class="m-menu__link-text">
						Payment
					</span>
				</a>
      </li>
			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/student/courses" class="m-menu__link m-menu__toggle">
					<span class="m-menu__link-text">
						Course Registration
					</span>
				</a>
      </li>
      <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/student/reservation" class="m-menu__link m-menu__toggle">
					<span class="m-menu__link-text">
						Hostel
					</span>
				</a>
      </li>
			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/student/exeat" class="m-menu__link m-menu__toggle">
					<span class="m-menu__link-text">
						Exeat
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/student/deferment" class="m-menu__link m-menu__toggle">
					<span class="m-menu__link-text">
						Deferment
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/student/transfer" class="m-menu__link m-menu__toggle">
					<span class="m-menu__link-text">
						Transfer
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/student/transcript" class="m-menu__link m-menu__toggle">
					<span class="m-menu__link-text">
						Transcript
					</span>
				</a>
			</li>
      <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/student/result" class="m-menu__link m-menu__toggle">
					<span class="m-menu__link-text">
						Result
					</span>
				</a>
      </li>
    </ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
