<!-- begin::Footer -->
<footer class="m-grid__item m-footer">
  <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
    <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
      &nbsp;&nbsp;&nbsp;<span class="m-footer__copyright">
			2018 © <span class="m-link">Educhoice</span> Powered by
								<a href="https://upperlink.ng" class="m-link" target="_blank">
									UpperLink
								</a>
          <br>

         &nbsp;&nbsp;&nbsp;&nbsp;
          <span class="mr-5">Address: ASSBIFI HOUSE: 4, ASSBIFI Road, Alausa CBD, Ikeja, Lagos</span>
          &nbsp;&nbsp;
          <span>Tel: 01-7929196, 08180145994;</span>&nbsp;
          <span>Email: info@upperlink.ng;</span>&nbsp;
          <span>Website: wwww.upperlink.ng</span>
							</span>


    </div>

  </div>
</footer>
<!-- end::Footer -->
