<div id="createFee" class="modal fade" role="dialog">
    <form [formGroup]="createTranscriptFeeForm" (ngSubmit)="createTranscriptFee()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Create Transcript Fee</h4>
                    <button class="close" type="button" (click)="triggerModalOrOverlay('close','createFee')">
                        &times;
                    </button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="schoolname">First Name:</label>
                                <input class="form-control" formControlName="first_name" id="schoolname"
                                >

                            </div>
                            <div class="col-md-6">

                                <label for="middle_name">Middle Name:</label>
                                <input class="form-control" id="domain" formControlName="other_names"
                                >
                                <!--  -->


                                <!--  -->
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-sm"
                            [disabled]="createTranscriptFeeForm.invalid || load.requesting.create">
                        {{load.message.create}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                        Create Fee
                    </button>

                    <button type="button" class="btn btn-danger btn-sm"
                            (click)="triggerModalOrOverlay('close','createFee')">Close
                    </button>

                </div>
            </div>
        </div>
    </form>
</div>


<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">

                    Transcript Applications
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <!--<li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.profile.student.create')">-->
                    <!--<a style="color: white !important;"-->
                       <!--class="btn btn-accent m-btn m-btn&#45;&#45;custom m-btn&#45;&#45;icon m-btn&#45;&#45;pill m-btn&#45;&#45;air"-->
                       <!--(click)="triggerModalOrOverlay('open','createFee')">-->
      <!--<span>-->
      <!--<i class="la la-plus"></i>-->
      <!--<span>-->
     <!--Create Transcript Fee-->
      <!--</span>-->
      <!--</span>-->
                    <!--</a>-->
                <!--</li>-->

            </ul>

        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
            <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--end: Search Form -->
        <!--begin: Datatable -->
        <div class="table-responsive">
            <div class="m_datatable m-datatable m-datatable--default m-datatable--scroll m-datatable--loaded"
                 id="m_datatable_latest_orders">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                       class="table table-hover table-striped table-sm m-table--head-bg-brand" id="html_table">
                    <thead class="thead-color">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Matric No.
                        </th>
                        <th>
                            Session At Transcript
                        </th>
                        <th>
                            Current Course
                        </th>
                        <th>
                            Current Level
                        </th>
                        <th>
                            Destination Course of Study
                        </th>
                        <th>
                            Destination Level
                        </th>
                        <th>
                            Payment Status
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Action
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" *ngIf="allTranscripts.length==0">
                        <td colspan="12">
                            <span *ngIf="allTranscripts.length==0 && !load.requesting.list">No Record Found</span>
                            <span *ngIf="load.requesting.list">Fetching Transcript s..
                                    <i class="m-loader m-loader--right m-loader--brand"></i>
                                </span>
                        </td>
                    </tr>
                    <tr *ngFor="let Transcript of allTranscripts; let ind=index">
                        <td>{{ind+1}}</td>
                        <td>{{Transcript?.student?.first_name}}</td>
                        <td>{{Transcript?.student?.last_name}}</td>
                        <td>{{Transcript?.student?.matric_no}}</td>
                        <td>{{Transcript?.session?.name || 'None Captured'}}</td>
                        <td>{{Transcript?.current_course?.name || 'None Captured'}}</td>
                        <td>{{Transcript?.current_level?.name || 'None Captured'}}</td>
                        <td>{{Transcript?.to_course?.name || 'None Captured'}}</td>
                        <td>{{Transcript?.to_level?.name || 'None Captured'}}</td>
                        <td>
                        <span *ngIf="Transcript?.payment_status==='0'" class="m-badge  m-badge--danger m-badge--wide">
                        Not Paid
                    </span>
                            <span *ngIf="Transcript.payment_status==='1'"
                                  class="m-badge  m-badge--success m-badge--wide">
                            Paid
                        </span>
                        </td>
                        <td>
                            <span *ngIf="Transcript.status==='1'" class="m-badge  m-badge--info m-badge--wide">{{Transcript.status_text}}</span>

                            <span *ngIf="Transcript.status==='0'"
                                  class="m-badge  m-badge--warning m-badge--wide">{{Transcript.status_text}}
                        </span>
                            <span *ngIf="Transcript.status=='-1'"
                                  class="m-badge  m-badge--danger m-badge--wide">{{Transcript.status_text}}
                        </span>
                            <span *ngIf="Transcript.status=='2'"
                                  class="m-badge  m-badge--success m-badge--wide">{{Transcript.status_text}}
                        </span>

                        </td>

                        <td>
                            <table id="button_row">
                                <tr>

                                    <td>

               <span class="m-switch m-switch--icon m-switch--danger">
                                    <label>
                                        <input type="checkbox" checked="checked" name=""
                                               (change)="completeTranscriptApplication(ind)">
                                        <span></span>
                                    </label>
                                </span>
                                    </td>

                                    <!--*ngIf="(Transcript?.status==='1')&&(Transcript?.payment_status==='1')"-->
                                </tr>
                            </table>


                            <!--</button>-->


                            <!--<div class="dropdown ">-->
                            <!--<a href="#"-->
                            <!--class="btn m-btn m-btn&#45;&#45;hover-accent m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill"-->
                            <!--data-toggle="dropdown">-->
                            <!--<i class="la la-ellipsis-h"></i>-->
                            <!--</a>-->
                            <!--<div class="dropdown-menu dropdown-menu-right">-->
                            <!--<button data-toggle="m-tooltip" data-placement="top" title="Approve Transcript" type="button"-->
                            <!--role="button"-->
                            <!--data-original-title="Approve Transcript"-->
                            <!--class="btn btn-success m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;custom m-btn&#45;&#45;pill btn-xs"-->
                            <!--(click)="toggleApplicationStatus(ind,'approve')"-->
                            <!--[disabled]="(Transcript?.status!=='0') || (Transcript?.payment_status==='0')">-->
                            <!--<i class="la la-check" *ngIf="!Transcript?.approveloading"></i>-->
                            <!--<i class="m-loader m-loader&#45;&#45;brand" *ngIf="Transcript?.approveloading"></i>-->
                            <!--</button>-->

                            <!--<button data-toggle="m-tooltip" data-placement="top" title="Decline Transcript"-->
                            <!--data-original-title="Reject Transcript"-->
                            <!--class="btn btn-danger m-btn m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only  m-btn&#45;&#45;custom m-btn&#45;&#45;pill btn-xs"-->

                            <!--(click)="toggleApplicationStatus(ind,'decline')"-->
                            <!--[disabled]="(Transcript?.status!=='0') || (Transcript?.payment_status==='0')">-->
                            <!--<i class="la la-times" *ngIf="!Transcript?.rejectloading"></i>-->
                            <!--</button>-->

                            <!--</div>-->
                            <!--</div>-->


                            <!--<span class="m-switch m-switch&#45;&#45;icon m-switch&#45;&#45;success" *ngIf="Transcript?.status==='0'">-->
                            <!--<label>-->
                            <!--<input type="checkbox" checked="checked" name=""-->
                            <!--(change)="toggleApplicationStatus(ind)">-->
                            <!--<span></span>-->
                            <!--</label>-->
                            <!--</span>-->

                        </td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--end: Datatable -->
    </div>
</div>
