<!-- Modal -->
<div id="openModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.formType}} {{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup] = "createForm" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span>Title
              </label>
              <div class="col-lg-8 col-md-9 col-sm-12">
                <input class="form-control" formControlName="title" type="text">
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span>Min
              </label>
              <div class="col-lg-8 col-md-9 col-sm-12">
                <input class="form-control" formControlName="min" type="number">
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span>Max
              </label>
              <div class="col-lg-8 col-md-9 col-sm-12">
                <input class="form-control" formControlName="max" type="number">
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span>Semester
              </label>
              <div class="col-lg-8 col-md-9 col-sm-12">
                <select class="form-control" formControlName="semester">
                  <option value="1">First Semester</option>
                  <option value="2">Second Semester</option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                Program
              </label>
              <div class="col-lg-8 col-md-9 col-sm-12">
                <select class="form-control" formControlName="programme_id">
                  <option *ngFor="let Program of allProgrammes; let i = index" value="{{i + 1}}">{{Program.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                Session
              </label>
              <div class="col-lg-8 col-md-9 col-sm-12">
                <select class="form-control" formControlName="session_id">
                  <option *ngFor="let session of allSessions; let i = index" value="{{session?.id}}">{{session.year}}</option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row" style="padding-bottom: 1px;">
              <label class="col-4 col-form-label">
                Probation Limit
              </label>
              <div class="col-lg-8 col-md-9 col-sm-12">
                <select class="form-control" formControlName="probation_limit_id">
                  <option></option>
                  <option *ngFor="let probation of allProbationLimitConfig?.data; let i = index" value="{{probation?.title}}">{{probation?.title}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled] ="feedBack.submitStatus || createForm.invalid" *ngIf="!feedBack.showUpdateButton" (click)="createFormModal()" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" data-dismiss="modal">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" *ngIf="feedBack.showUpdateButton" (click)="updateFormModal()" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" data-dismiss="modal" [disabled] ="feedBack.submitStatus || createForm.invalid">
          Update <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal-->
<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.moduleName}} Details</h4>
      </div>
      <div class="modal-body">
        <div class="m-portlet__body" *ngIf="feedBack?.viewDetails">
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Name
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails?.title}}
            </div>
          </div>
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Min
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails?.min}}
            </div>
          </div>
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Max
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails?.max}}
            </div>
          </div>
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Date Created
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails?.created_at | date}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.probation-limit.create')">
          <a style="color: white !important;" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" (click)="openModal()">
            <span>
              <i class="la la-plus"></i>
              <span>
                {{feedBack?.moduleName}}
              </span>
            </span>
          </a>
        </li>

      </ul>
    </div>

  </div>
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
    <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th title="Serial Number" class="serialnum">#</th>
        <th title="Name">Name</th>
        <th title="Minimum">Minimum</th>
        <th title="Maximum">Maximum</th>
        <th title="Date Created">Date Created</th>
        <th title="Action">Action</th>
      </tr>
      </thead>
      <tbody *ngIf="feedBack?.allCurrentSession">
      <tr *ngFor="let data of allProbationLimitConfig?.data; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.title}}</td>
        <td>{{data?.min}}</td>
        <td>{{data?.max}}</td>
        <td>{{data?.created_at | date}}</td>
        <td data-field="Type" class="m-datatable__cell">
          <div class="dropdown ">
            <a class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
              <i class="la la-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" (click)="onEdit(data)" *ngIf="iAmPermitted('school.probation-limit.update')">
                <i class="la la-edit"></i> Edit
              </a>
              <a class="dropdown-item" (click)="onView(data)" *ngIf="iAmPermitted('school.probation-limit.view')">
                <i class="la la-eye"></i> View Details
              </a>
            </div>
          </div>
        </td>

      </tr>
      <tr *ngIf="feedBack.loader || allProbationLimitConfig?.data.length === 0">
        <td colspan="7" *ngIf="feedBack.loader">
          <div  class="text-center">Loading {{feedBack?.moduleName}} &nbsp;&nbsp;<i class="m-loader m-loader--brand"></i></div>
        </td>
        <td colspan="7" *ngIf="!feedBack.loader && allProbationLimitConfig?.data.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>
</div>

