<div id="hostelReservation" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reservation Details</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <div class="m-portlet__body" *ngIf="feedBack?.viewDetails">
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Allocation Amount
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.allocation_amount}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Payment Method
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.payment_method}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Transaction Id
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.transaction_id}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Bed Space
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.bed_space?.label}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Hostel Name
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.hostel_session?.hostel?.hostel_name}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Hostel Gender
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.hostel_session?.hostel?.hostel_gender}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Status
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.status_text}}
            </label>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">Student Details</a>
                </h5>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                  <label class="col-4 col-form-label">
                    Student Name
                  </label>
                  <label class="col-8 col-form-label">
                    {{feedBack?.viewDetails?.student?.first_name}} {{feedBack?.viewDetails?.student?.last_name}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          <span id="reportName" (click)="navigateToReport()">Reports </span>{{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools" *ngIf="feedBack?.allDepartments?.length > 0">
      <div class="form-group m-form__group row" style="padding-bottom: 1px; float: right !important;">
        <div class="col-3 col-form-label">
          Department
        </div>
        <select class="form-control m-input" (change)="onSelectDept($event)">
          <option></option>
          <option *ngFor="let department of feedBack?.allDepartments" [value] = "department?.id">{{department?.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <!--Current session-->
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
    <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th title="Field #1" class="serialnum">
          #
        </th>
        <th title="Field #2">
          Name
        </th>
        <th title="Field #2">
          code
        </th>
        <th title="Field #2">
          degree
        </th>
        <th title="Field #2">
          Department
        </th>
        <th title="Field #2">
          Programme Type
        </th>
        <th title="Field #3">
          Created Date
        </th>
        <!--<th title="Field #4">
          Action
        </th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feedBack?.allResponse; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.name}}</td>
        <td>{{data?.code}}</td>
        <td>{{data?.degree?.name}}</td>
        <td>{{data?.department?.name}}</td>
        <td>{{data?.programme_type?.name}}</td>
        <td>{{data?.created_at | date}}</td>
        <!--<td data-field="Type" class="m-datatable__cell">
          <div class="dropdown ">
            <a href="#"
               class="btn m-btn m-btn&#45;&#45;hover-accent m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill"
               data-toggle="dropdown">
              <i class="la la-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item"  (click)="viewReservation(data)">
                <i class="la la-edit"></i> View Reservation</a>
            </div>
          </div>
        </td>-->
      </tr>
      <tr>
        <td colspan="8" *ngIf="feedBack.loader">
          <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="8" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>

</div>

