label{
    padding-top: 20px;
}

.border-2 {
  border: 2px dashed grey;
}

.card ul .m-nav__item {
  list-style-type: none;
  text-align: left;
}

.search-div {
  margin-top: -20px !important;
  position: absolute;
  z-index: 78;
}
