<div id="createStudent" class="modal fade" role="dialog">
  <form [formGroup]="createStudentForm" (ngSubmit)="createStudent()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create Student</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','createStudent')">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <h4 class="text-center">Basic Info</h4>
            <div class="row">
              <div class="col-md-6">
                <label for="schoolname">First Name:</label>
                <input class="form-control" formControlName="first_name" id="schoolname">
              </div>
              <div class="col-md-6">
                <label for="middle_name">Middle Name:</label>
                <input class="form-control" id="middle_name" formControlName="other_names">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="last_name">Last Name:</label>
                <input class="form-control" id="last_name" formControlName="last_name">
              </div>
              <div class="col-md-6">
                <label for="matric_no">Matriculation Number:</label>
                <input class="form-control" formControlName="matric_no" id="matric_no">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="email">Email:</label>
                <input class="form-control" formControlName="email" type="email" id="email">
              </div>
              <div class="col-md-6">
                <label for="email">Gender:</label>
                <select class="form-control" formControlName="gender">
                  <option value="" disabled>
                    Select Gender
                  </option>
                  <option value="Male">
                    Male
                  </option>
                  <option value="Female">
                    Female
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="dob">Date of Birth:</label>
                <input class="form-control" type="date" formControlName="birth_of_date" id="dob">
              </div>
              <div class="col-md-6">
                <label for="country">Marital Status:</label>
                <select class="form-control" #createCountry formControlName="marital_status">
                  <option value="" disabled>Marital Status</option>
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="email">Religion:</label>
                <select class="form-control" formControlName="religion" #getreligion
                        (change)="getDenomination(getreligion.value)">
                  <option value="" disabled>
                    Select Religion
                  </option>
                  <option value="Christianity">
                    Christianity
                  </option>
                  <option value="Islam">
                    Islam
                  </option>
                  <option value="Other">
                    Other
                  </option>
                </select>
              </div>
              <div class="col-md-6" *ngIf="createStudentForm.value['religion'] === 'Christianity'">
                <label for="email">Denomination:</label>
                <select class="form-control" formControlName="denomination">
                  <option value="" disabled>
                    Select Denomination
                  </option>
                  <option value="{{denomination.value}}"
                          *ngFor="let denomination of allDenominations">
                    {{denomination.name}}
                  </option>
                </select>
              </div>
            </div>
            <br>
            <h4 class="text-center">Extra Info</h4>
            <div class="row">
              <div class="col-md-6">
                <label for="country">Country:</label>
                <select class="form-control" #ncreateCountry formControlName="country_id" id="country"
                        (change)="getStateByCountryId(ncreateCountry.value)">
                  <option value="" disabled>Select Country</option>
                  <option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">
                    {{country.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label>State</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.loading_states"></i>
                <select class="form-control" #tgetlga formControlName="state_id"
                        (change)="getLgaByStateId(tgetlga.value)">
                  <option value="" disabled>Select State</option>
                  <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">
                    {{state.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="state">LGA:</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.lgas.loading"></i>
                <select class="form-control" formControlName="lga_id" id="state">
                  <option value="" disabled>Select LGA</option>
                  <option *ngFor="let lga of allLgas; let ind=index" value="{{lga.id}}">
                    {{lga.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="matric_no">Home Town:</label>
                <input class="form-control" formControlName="home_town" id="matric_no">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="course">Faculty:</label>
                <select class="form-control" #gfaculty formControlName="faculty_id" id="faculty"
                        (change)="getDepartmentByFacultyId(gfaculty.value)">
                  <option value="" disabled>Select Faculty</option>
                  <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">
                    {{faculty.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="department">Department:</label>
                <i class="m-loader m-loader--right m-loader--brand"
                   *ngIf="load.departments.loading"></i>
                <select class="form-control" #sdeprtmnt formControlName="department_id" id="department"
                        (change)="getCourseByDepartmentId(sdeprtmnt.value)"
                        [disabled]="!load.departments.list || load.departments.loading">
                  <option value="" disabled>Select Department</option>
                  <option *ngFor="let department of allDepartments; let ind=index"
                          value="{{department.id}}">{{department.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="course">Course of Study:</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.courses.loading"></i>
                <select class="form-control" #kcourse formControlName="course_of_study_id" id="course"
                        [disabled]="!load.courses.list || load.courses.loading"
                        (change)="getSingleCourseOfStudy($event.target.value)">
                  <option value="" disabled>Select Course</option>
                  <option *ngFor="let course of allCoursesofStudy; let ind=index" value="{{course.id}}">
                    {{course.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="state">Level:</label>
                <select class="form-control" formControlName="level_id" id="level">
                  <option value="" disabled>Select Level</option>
                  <option *ngFor="let level of allLevels; let ind=index" value="{{level.id}}">
                    {{level.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-sm"
                  [disabled]="createStudentForm.invalid || load.requesting.create">&nbsp;&nbsp;{{load.message.create}}&nbsp;&nbsp;
            <i *ngIf="load.requesting.create" class="m-loader m-loader--light"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="studentBulkTemplate" class="modal fade" role="dialog">
  <form [formGroup]="studentBulkUploadForm" (ngSubmit)="uploadStudentsInBulk('studentnBulkFile')">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Bulk Upload of Students</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','studentBulkTemplate')">
            &times;
          </button>

        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <label for="studentnBulkFile">Bulk Student File</label>
              <input type="file" id="studentnBulkFile" class="form-control"
                     formControlName="student_bulk">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-sm"
                  [disabled]="load.requesting.create">{{load.message.create}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>

          <button type="button" class="btn btn-danger btn-sm"
                  (click)="triggerModalOrOverlay('close','studentBulkTemplate')">Close
          </button>

        </div>
      </div>
    </div>
  </form>
</div>

<div id="updateStudent" class="modal fade" role="dialog">
  <form [formGroup]="updateStudentForm" (ngSubmit)="updateStudent()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update {{updatedStudent?.first_name}} {{updatedStudent?.last_name}}</h4>
          <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateStudent')">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <h4 class="text-center">Basic Info</h4>
            <div class="row">
              <div class="col-md-6">
                <label>First Name:</label>
                <input class="form-control" formControlName="first_name">
              </div>
              <div class="col-md-6">
                <label>Middle Name:</label>
                <input class="form-control" formControlName="other_names">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Last Name:</label>
                <input class="form-control" formControlName="last_name">
              </div>
              <div class="col-md-6">
                <label>Matriculation Number:</label>
                <input class="form-control" formControlName="matric_no">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email:</label>
                <input class="form-control" formControlName="email" type="email">
              </div>
              <div class="col-md-6">
                <label>Gender:</label>
                <select class="form-control" formControlName="gender">
                  <option value=""></option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Date of Birth:</label>
                <input class="form-control" type="date" formControlName="birth_of_date">
              </div>
              <div class="col-md-6">
                <label for="country">Marital Status:</label>
                <select class="form-control" #createCountry formControlName="marital_status">
                  <option value="" ></option>
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="email">Religion:</label>
                <select class="form-control" formControlName="religion" #tgetreligion
                        (change)="getDenomination(tgetreligion.value)">
                  <option value="" ></option>
                  <option value="Christianity">Christianity</option>
                  <option value="Islam">Islam</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="email">Denomination:</label>
                <select class="form-control" formControlName="denomination">
                  <option value=""></option>
                  <option value="{{den.value}}" *ngFor="let den of allDenominations">{{den.name}}</option>
                </select>
              </div>
            </div>
            <br>
            <h4 class="text-center">Extra Info</h4>
            <div class="row">
              <div class="col-md-6">
                <label for="country">Country:</label>
                <select class="form-control" #createCountry formControlName="country_id" id="country"
                        (change)="getStateByCountryId(createCountry.value)">
                  <option value=""></option>
                  <option *ngFor="let country of allCountries" value="{{country.id}}">{{country.name}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="state">State</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.loading_states"></i>
                <select class="form-control" #getlga formControlName="state_id" id="state"
                        (change)="getLgaByStateId(getlga.value)">
                  <option value=""></option>
                  <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">{{state.name}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="state">LGA:</label>
                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.lgas.loading"></i>
                <select class="form-control" formControlName="lga_id" id="state">
                  <option value=""></option>
                  <option *ngFor="let lga of allLgas" value="{{lga.id}}">{{lga.name}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label>Home Town:</label>
                <input class="form-control" formControlName="home_town">
              </div>
            </div>
            <!--<div class="row">-->
              <!--<div class="col-md-6">-->
                <!--<label>Faculty:</label>-->
                <!--<select class="form-control" #faculty formControlName="faculty_id"-->
                        <!--(change)="getDepartmentByFacultyId(faculty.value)">-->
                  <!--<option value=""></option>-->
                  <!--<option *ngFor="let faculty of allFaculties" value="{{faculty.id}}">{{faculty.name}}</option>-->
                <!--</select>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<label for="department">Department:</label>-->
                <!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand"-->
                   <!--*ngIf="load.departments.loading"></i>-->
                <!--<select class="form-control" #deprtmnt formControlName="department_id" id="department"-->
                        <!--(change)="getCourseByDepartmentId(deprtmnt.value)"-->
                        <!--[disabled]="!load.departments.list || load.departments.loading">-->
                  <!--<option value=""></option>-->
                  <!--<option *ngFor="let dept of allDepartments" value="{{dept.id}}">{{dept.name}}</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col-md-6">-->
                <!--<label for="course">Course of Study:</label>-->
                <!--<i class="m-loader m-loader&#45;&#45;right m-loader&#45;&#45;brand" *ngIf="load.courses.loading"></i>-->
                <!--<select class="form-control" #course formControlName="course_of_study_id" id="course"-->
                        <!--(change)="getSingleCourseOfStudy($event.target.value)"-->
                        <!--[disabled]="!load.courses.list || load.courses.loading">-->
                  <!--<option value=""></option>-->
                  <!--<option *ngFor="let course of allCoursesofStudy" value="{{course.id}}">{{course.name}}</option>-->
                <!--</select>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<label for="state">Level:</label>-->
                <!--<select class="form-control" formControlName="level_id" id="level">-->
                  <!--<option value="" ></option>-->
                  <!--<option *ngFor="let level of allLevels" value="{{level.id}}">{{level.name}}</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-sm"
                  [disabled]="updateStudentForm.invalid || load.requesting.create">{{load.message.update}}
            <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>


<div class="m-portlet m-portlet--mobile ">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Students
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" *ngIf="appSettings && appSettings?.settings?.matric_no_manual_upload">
          <div class="col-md-12 col-sm-12 border-2">
            <div class="m--padding-20">
              <div class="row">
                <div class="h3">Matric Number Upload</div>
              </div>
              <div class="row">
                <a class="float-left m-link m-link--accent"
                   (click)="downloadMatricUploadTemplate('matric_upload')">
                  <i class="flaticon-download"></i>&nbsp;&nbsp;
                  Click here to download Matric Number Upload template &nbsp;&nbsp;
                  <i *ngIf="load.download" class="m-loader m-loader--brand"></i>
                </a>
                <a id="matric_upload" target="_blank" download style="display: none"></a>
              </div>
              <div class="row mt-3">
                <input class="form-control col-md-8 col-sm-12" type="file" id="fileId">
                <button type="button" class="btn btn-sm btn-accent m-btn--pill m-btn--air pl-2"
                        (click)="uploadMatricTemplate('fileId')"
                        [disabled]="load.requesting.table">
                  Upload
                  <span *ngIf="load.uploading">&nbsp;&nbsp;
                <i class="m-loader m-loader--light"></i>
              </span>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="m-portlet__nav-item">
          <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin- m-list-search--has-result m-dropdown--open"
               id="m_quicksearch" data-search-type="default" aria-expanded="true">
            <div class="search-div" *ngIf="true">
              <div class="m-header-search__wrapper">
                <span class="m-header-search__icon-search" id="m_quicksearch_search">
                  <i class="la la-search"></i>
                </span>
                <span class="m-header-search__input-wrapper relative">
                  <input type="text" class="m-header-search__input" placeholder="Search Students"
                         aria-label="Number" matInput
                         [formControl]="searchTerm" style="background-color: white;color: black">
                  <i class="m-loader m-loader--brand" style="position: absolute; top: 20px; right: 50px" *ngIf="studentSearch.loading"></i>
                </span>
                <span class="m-header-search__icon-close" id="m_quicksearch_close"
                      style="visibility: visible;" (click)="studentSearch.done = false">
                  <i class="la la-remove"></i>
                </span>
                <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel"
                      style="visibility: visible;" (click)="studentSearch.done = false">
                  <i class="la la-remove"></i>
                </span>
              </div>
              <div class="card" id="search_result" *ngIf="studentSearch.done">
                <ul>
                  <li class="m-nav__item">
                    <span *ngIf="searchResult.length === 0 && studentSearch.done" style="color: red">No record found</span>
                    <span *ngIf="studentSearch.loading">Searching &nbsp;&nbsp;  <i class="m-loader m-loader--brand"></i></span>
                  </li>
                  <li class="m-nav__item" *ngFor="let student of searchResult">
                    <a (click)="studentSearch.done = false" routerLink="../student/{{student?.id}}">
                      {{student?.first_name}} {{student?.last_name}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="m-portlet__nav-item">
          <div class="col-md-12 col-sm-12 border-2" *ngIf="showStatsForm">
            <div class="m--padding-20">
              <div class="row">
                <div class="h3">Student Statistics</div>
              </div>
              <div class="row mt-3">
                <form [formGroup]="studentStatsForm">
                  <select class="form-control col-md-8 col-sm-12" formControlName="session_year">
                    <option></option>
                    <option *ngFor="let session of allSession" [value]="session?.year">
                      {{session?.name || session?.year}}
                    </option>
                  </select>
                </form>
                <button type="button" class="btn btn-sm btn-accent m-btn--pill m-btn--air pl-2"
                        (click)="getStudentStatistics()"
                        [disabled]="load.statistics">
                  Submit
                  <span *ngIf="load.statistics">&nbsp;&nbsp;
                    <i class="m-loader m-loader--light"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
          <a class="text-white btn btn-info m-btn m-btn--pill m-btn--air" *ngIf="!showStatsForm" (click)="showStatsForm = true">
            <span>
              <i class="la la-download"></i>
              <span>
                Student Statistics
              </span>
            </span>
          </a>
        </li>
        <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.profile.student.create')">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"
             (click)="triggerModalOrOverlay('open','createStudent')">
													<span>
														<i class="la la-plus"></i>
														<span>
															Create Student
														</span>
													</span>
          </a>
        </li>
        <li class="m-portlet__nav-item">
          <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
               data-dropdown-toggle="hover" aria-expanded="true">
            <a
                    class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
              <!--<i class="la la-ellipsis-h m&#45;&#45;font-brand"></i>-->
              <i class="la la-upload la-2x"></i>
            </a>
            <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
                                      style="left: auto; right: 21.5px;"></span>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__content">
                    <ul class="m-nav">
                      <li class="m-nav__section m-nav__section--first">
																			<span class="m-nav__section-text">
																				Bulk File
																			</span>
                      </li>
                      <li class="m-nav__item">
                        <a class="m-nav__link"
                           (click)="downloadTemplate(1,'templateDownload')">
                          <i class="m-nav__link-icon la la-download"></i>
                          <span class="m-nav__link-text">
																					Download Bulk Student Upload Template
																				</span>
                        </a>
                      </li>
                      <!--<li class="m-nav__item">-->
                      <!--<a href="" class="m-nav__link">-->
                      <!--<i class="m-nav__link-icon la la-upload"></i>-->
                      <!--<span class="m-nav__link-text">-->
                      <!--Bulk Upload-->
                      <!--</span>-->
                      <!--</a>-->
                      <!--</li>-->
                      <li class="m-nav__item">
                        <a class="m-nav__link"
                           (click)="triggerModalOrOverlay('open','studentBulkTemplate')">
                          <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                          <span class="m-nav__link-text">
																					Upload File
																				</span>
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </li>

      </ul>

    </div>
  </div>
  <div class="m-portlet__body ">
    <!--begin: Datatable -->
    <form [formGroup]="studentFilterForm" (ngSubmit)="renderStudents()"
          class="m-form m-form--fit m-form--label-align-right">
      <div class="form-group m-form__group row" style="padding-bottom: 1px;">
        <div class="col-lg-4" style="padding-bottom: 1px;">
          <label>
            Faculty
          </label>
          <select data-live-search="true" formControlName="faculty_id" class="form-control m-input--solid"
                  (change)="getDepartmentByFacultyId($event.target.value)">
            <option></option>
            <option *ngFor="let faculty of allFaculties" [value]="faculty?.id">
              {{faculty?.name}}
            </option>
          </select>
        </div><!--Faculty-->
        <div class="col-lg-4">
          <label>

            Department &nbsp;
            <i *ngIf="load.departments.loading" class="m-loader m-loader--brand"></i>&nbsp;
            <small class="m--font-danger"
                   *ngIf="studentFilterForm.get('faculty_id').touched && allDepartments.length === 0">
              No Department found
            </small>
          </label>
          <select class="form-control m-input--solid" formControlName="department_id" style="width: 100%"
                  (change)="getCourseByDepartmentId($event.target.value)">
            <option></option>
            <option *ngFor="let department of allDepartments" [value]="department?.id">
              {{department?.name}}
            </option>
          </select>
        </div><!--Department-->
        <div class="col-lg-4" style="padding-bottom: 1px;">
          <label>
            Course of Study &nbsp;
            <i *ngIf="load.courses.loading" class="m-loader m-loader--brand"></i>&nbsp;
            <small class="m--font-danger"
                   *ngIf="studentFilterForm.get('department_id').touched && allCoursesofStudy.length === 0">
              No Course of Study found
            </small>
          </label>

          <select class="form-control m-input--solid" formControlName="course_of_study_id" style="width: 100%"
                  (change)="getSingleCourseOfStudy($event.target.value)">
            <option></option>
            <option *ngFor="let courseOfStudy of allCoursesofStudy" [value]="courseOfStudy?.id">
              {{courseOfStudy?.name}}
            </option>
          </select>
        </div><!--Course of Study-->
      </div>
      <div class="form-group m-form__group row" style="padding-bottom: 1px;">
        <div class="col-lg-4">
          <label>
            Session &nbsp;
            <i *ngIf="load.session.loading" class="m-loader m-loader--brand"></i>&nbsp;
          </label>
          <select class="form-control m-input--solid" formControlName="year"
                  style="width: 100%">
            <option></option>
            <option *ngFor="let session of allSession" [value]="session?.year">
              {{session?.name || session?.year}}
            </option>
          </select>
        </div><!--Session-->
        <div class="col-lg-4" style="padding-bottom: 1px;">
          <label>
            Gender &nbsp;
          </label>
          <select class="form-control m-input--solid" formControlName="gender" style="width: 100%">
            <option></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div><!--Gender-->
        <div class="col-lg-4" style="padding-bottom: 1px;">
          <label>
            Level &nbsp;
            <i *ngIf="load.level.loading" class="m-loader m-loader--brand"></i>&nbsp;
            <small class="m--font-danger"
                   *ngIf="studentFilterForm.get('course_of_study_id').touched && allLevels.length === 0">
              No Level Found
            </small>
          </label>

          <select class="form-control m-input--solid" formControlName="level_id" style="width: 100%">
            <option></option>
            <option *ngFor="let level of allLevels" [value]="level?.id">
              {{level?.name}}
            </option>
          </select>
          <!--<div  class="alert alert-danger col-12" role="alert" *ngIf="studentFilterForm.get('level_id').invalid && studentFilterForm.get('level_id').touched">-->
          <!--<strong>-->
          <!--Level is Required-->
          <!--</strong>-->
          <!--</div>-->
        </div><!--Level-->
      </div>

      <div class="form-group m-form__group">
        <button type="submit"
                class="btn btn-accent m-btn m-btn--pill m-btn--air float-right"
                [disabled]="studentFilterForm.invalid || load.requesting.create"
                style="font-family: 'Roboto', sans-serif; margin-top: 20px;">
          Fetch Students &nbsp;&nbsp;
          <i *ngIf="load.requesting.create" class="m-loader m-loader--light"></i>
        </button>
      </div>
    </form>

    <div class="table-responsive m_datatable m-datatable m-datatable--default m-datatable--scroll m-datatable--loaded pt-5">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
             class="table table-hover table-striped table-sm m-table--head-bg-brand" id="html_table">
        <!--<thead class="m-datatable__head">-->

        <thead class="m-datatable__head">
        <tr class="m-datatable__row">
          <th>#</th>
          <th title="Last Name">Last Name</th>
          <th title="First Name">First Name</th>
          <th title="Other Name">Other Name</th>
          <th title="Matric No">Matric No</th>
          <th title="Email">Email</th>
          <th title="Level">Level</th>
          <th title="Course of Study">Course of Study</th>
          <th title="Action">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="load.requesting.list || allStudents.length===0" class="text-center">
          <td colspan="13" *ngIf="load.requesting.list">
            Fetching Students... &nbsp;&nbsp;
            <i class="m-loader m-loader--brand"></i>
          </td>
          <td colspan="13" *ngIf="!load.requesting.list && allStudents.length===0">
            No Record Found
          </td>
        </tr>
        <tr *ngFor="let student of allStudents; let ind=index"
            [attr.data-row]="ind">
          <td>{{ind+1}}</td>
          <td><a routerLink="../student/{{student?.id}}">{{student?.last_name}}</a></td>
          <td>{{student?.first_name}}</td>
          <td>{{student?.other_names || 'None Provided'}}</td>
          <!--<td>-->
          <!--<span *ngIf="!student?.birth_of_date">None Provided</span>-->
          <!--<span *ngIf="student?.birth_of_date">{{student?.birth_of_date| date}}</span>-->
          <!--</td>-->
          <td>{{student?.matric_no}}</td>
          <td>{{student?.email}}</td>
          <!--<td data-field="Car Model"><span>-->
          <!--{{student?.course_of_study?.degree?.programme?.name}}</span>-->
          <!--</td>-->
          <td>{{student?.level?.name}}</td>
          <!--<td data-field="Color"><span>-->
          <!--{{student?.course_of_study?.department?.faculty?.name}}-->
          <!--</span></td>-->
          <!--<td data-field="Deposit Paid"><span>-->
          <!--{{student?.course_of_study?.department?.name}}-->
          <!--</span>-->
          <!--</td>-->
          <td>{{student?.course_of_study?.name}}</td>

          <!--<td data-field="Status" *ngIf="student.status==='1'">-->
          <!--<span class="m&#45;&#45;font-bold m&#45;&#45;font-accent">Approved</span>-->
          <!--</td>-->
          <!--<td data-field="Status" *ngIf="student.status==='0'">-->
          <!--<span class="m&#45;&#45;font-bold m&#45;&#45;font-danger">Declined</span>-->
          <!--</td>-->
          <td>
            <div class="dropdown ">
              <a href="#"
                 class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                 data-toggle="dropdown">
                <i class="la la-ellipsis-h"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" (click)="editStudent(student, ind)">
                  <i class="la la-edit"></i> Edit {{student?.first_name}}</a>
                <a class="dropdown-item" routerLink="../student/{{student?.id}}">
                  <i class="la la-eye"></i> View {{student?.first_name}}</a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <!--end: Datatable -->
      <a id="templateDownload" download style="display: none"></a>
    </div>
    <div class="col-md-6 col-sm-12 my-3 offset-md-6">
      <button class="btn btn-accent m-btn--air m-btn--pill float-right mb-2"
              [disabled]="load?.excelling"
              *ngIf="allStudents.length > 0"
              (click)="exportAsXLSX()">
        <i class="fa fa-file-excel-o"></i> Generate Excel
        <i class="m-loader m-loader--light" *ngIf="load?.excelling"></i>
      </button>
    </div>
  </div>
</div>


