<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Bulk Approval / Declination
        </h3>
      </div>
    </div>

  </div>
  <div class="m-portlet__body">
    <form [formGroup]="filterForm"
          class="m-form m-form--fit m-form--label-align-right"> <!--(ngSubmit)="putResult()"-->
      <div class="form-group m-form__group row" style="padding-bottom: 1px;">
        <div class="col-lg-4">
          <label>
            <span class="styleStar">*</span>Session &nbsp;
            <i *ngIf="loader.level_session" class="m-loader m-loader--brand"></i>&nbsp;
          </label>
          <select class="form-control" formControlName="session_id" (change)="getSessionSemesters($event.target.value)">
            <option value="">--Select Session--</option>
            <option *ngFor="let session of sessions" [value]="session?.id">
              {{session?.name || session?.year}}
            </option>
          </select>
          <span class="m-form__help m--font-danger"
                *ngIf="filterForm.get('session_id').touched && !filterForm.get('session_id').valid">
                      Session is Required
                    </span>
        </div><!--Session-->
        <div class="col-lg-4">
          <label>
            <span class="styleStar">*</span>
            Semester&nbsp;
            <i *ngIf="loader.semester" class="m-loader m-loader--brand"></i>&nbsp;
          </label>
          <select class="form-control" formControlName="semester">
            <option value="">--Select Semester--</option>
            <option *ngFor="let semester of semesters" [value]="semester?.semester">{{semester?.name}}</option>
          </select>
          <span class="m-form__help m--font-danger"
                *ngIf="filterForm.get('semester').touched && !filterForm.get('semester').valid">
                      Semester is Required
                    </span>
        </div><!--Semester-->
        <div class="col-lg-4">
          <label>
            <span class="styleStar">*</span>Faculty &nbsp;
            <i *ngIf="loader.faculties" class="m-loader m-loader--brand"></i>&nbsp;
          </label>

          <select data-live-search="true" formControlName="faculty_id" class="form-control"
                  (change)="getDepartmentByByFacultyId($event.target.value)">
            <option value="">--Select Faculty--</option>
            <option *ngFor="let faculty of faculties" [value]="faculty?.id">
              {{faculty?.name}}
            </option>
          </select>
          <!--<span class="m-form__help m&#45;&#45;font-danger" *ngIf="filterForm.get('session_id').touched && !filterForm.get('session_id').valid">-->
          <!--Faculty is Required-->
          <!--</span>-->
        </div><!--Faculty-->
      </div>
      <div class="form-group m-form__group row" style="padding-bottom: 1px;">
        <div class="col-lg-4">
          <label>
            <!--<span class="styleStar">*</span>-->
            Department &nbsp;
            <i *ngIf="loader.departments" class="m-loader m-loader--brand"></i>&nbsp;
            <small class="m--font-danger" *ngIf="filterForm.get('faculty_id').touched && departments.length === 0">
              No Department found
            </small>
          </label>
          <select class="form-control" formControlName="department_id" style="width: 100%"
                  (change)="getDepartment($event.target.value)">
            <option value="">--Select Department--</option>
            <option *ngFor="let department of departments" [value]="department?.id">
              {{department?.name}}
            </option>
          </select>
        </div><!--Department-->
        <div class="col-lg-4">
          <label>
            <!--<span class="styleStar">*</span>-->
            Course of Study &nbsp;
            <i *ngIf="loader.cos" class="m-loader m-loader--brand"></i>&nbsp;
            <small class="m--font-danger"
                   *ngIf="filterForm.get('department_id').touched && courses_of_study.length === 0">
              No Course of Study found
            </small>
          </label>

          <select class="form-control" formControlName="course_of_study_id" style="width: 100%" (change)="getSingleCourseOfStudy($event.target.value)"><!---->
            <!--<option [value]="courses_of_study?.id">{{courses_of_study?.name}}</option>-->
            <option value="">--Select Course of Study--</option>
            <option *ngFor="let courseOfStudy of courses_of_study" [value]="courseOfStudy?.id">
              {{courseOfStudy?.name}}
            </option>
          </select>
        </div><!--Course of Study-->
        <div class="col-lg-4">
          <label>
            <!--<span class="styleStar">*</span>-->
            Level &nbsp;
            <i *ngIf="loader.level_session" class="m-loader m-loader--brand"></i>&nbsp;
            <small class="m--font-danger"
                   *ngIf="filterForm.get('course_of_study_id').touched && levels.length === 0">
              No Level Found
            </small>
          </label>

          <select class="form-control" formControlName="level_id" style="width: 100%">
            <option value="">--Select Level--</option>
            <option *ngFor="let level of levels" [value]="level?.id">
              {{level?.name}}
            </option>
          </select>
      </div>
      </div>
      <div class="form-group m-form__group row">
        <div class="col-sm-12">
          <div class="m-form__group form-group" *ngIf="auth_user.group_id.toString() === '1'">
            <div class="m-radio-inline">
              <label class="m-radio" id="school.course-management.result.senateApproveFilteredResults">
                <input type="radio" name="what_to_do" value="senate" (click)="setUnpublish('approve')">
                Approve for Senate
                <span></span>
              </label>

              <ng-container  id="school.course-management.result.publishFilteredResults">
                <label class="m-radio">
                  <input type="radio" name="what_to_do" value="publish" (click)="setUnpublish('publish')">
                  Publish Result
                  <span></span>
                </label>
                <label class="m-radio">
                  <input type="radio" name="what_to_do" value="unpublish" (change)="setUnpublish('unpublish')">
                  Unpublish Result
                  <span></span>
                </label>
              </ng-container>

            </div>
            <span class="m-form__help">
              What do you want to do?
            </span>
          </div>
          <button type="button" [disabled]="(!what_to_do && filterForm.invalid) || loader.loading"
                  *ngIf="what_to_do || auth_user?.isDean"
                  (click)="(what_to_do === 'publish' || what_to_do === 'unpublish') ? publish() : senateApprove()"
                  class="btn btn-accent m-btn m-btn--pill m-btn--air float-right">
            {{ what_to_do | titlecase }} &nbsp;&nbsp;
            <i *ngIf="loader.approve" class="m-loader m-loader--light"></i>
          </button>
        </div><!--Submit Button-->
      </div>
    </form>
  </div>
</div>
