

<div class="m-grid m-grid--hor m-grid--root m-page">
	<div class="full-width m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin"
			 id="m_login">
		<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
			<div class="m-stack m-stack--hor m-stack--desktop">
				<div class="m-stack__item m-stack__item--fluid">
					<div class="m-login__wrapper no-padding">
						<div class="m-login__logo" style="width: 200px; height: 200px; margin: 0 auto">
							<img src="assets/images/logos/Fav.png" *ngIf="!appSettings?.logo" class="logo-img">
							<img [src]="appSettings?.logo" *ngIf="appSettings?.logo"  class="logo-img">
						</div>
						<div class="m-login__signin">
							<div class="m-login__head">
								<h3 class="m-login__title">
									Sign into your Staff Account
								</h3>
							</div>
							<form [formGroup]="userLoginForm" class="like-m_form--2 m-login__form m-form">
								<div class="form-group m-form__group">
									<input formControlName="email" class="form-control m-input" type="text" placeholder="Email / Username"
												 name="email" autocomplete="off">
								</div>
								<div class="form-group m-form__group m-input-icon m-input-icon--right">
									<input formControlName="password" class="form-control m-input m-login__form-input--last"
                         [type]="(showPassword) ? 'text' : 'password'" placeholder="Password" name="password">
                  <span class="m-input-icon__icon m-input-icon__icon--right">
                    <span class="cursor_pointer" (click)="showPassword = !showPassword">
                      <i class="la" [ngClass]="(showPassword) ? 'la-eye-slash' : 'la-eye'"></i>
                    </span>
                  </span>
								</div>

								<div class="col m--align-right">
									<a class="m-link" routerLink="/forgot-password" (click)="setRouteParam()">
										Forgot Password?
									</a>
								</div>
								<div class="m-login__form-action">
									<button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air"
													(click)="signin()" [disabled]="userLoginForm.invalid || loading">
										Sign In
									</button>
									<i class="m-loader m-loader--right m-loader--light" *ngIf="loading"></i>
								</div>
							</form>
						</div>
						<div class="m-login__forget-password">
							<div class="m-login__head">
								<h3 class="m-login__title">
									Forgotten Password ?
								</h3>
								<div class="m-login__desc">
									Enter your email to reset your password:
								</div>
							</div>
							<form class="m-login__form m-form like-m_form--2" action="">
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="email" placeholder="Email" name="email"
												 id="m_email" autocomplete="off">
								</div>
								<div class="m-login__form-action">
									<button id="m_login_forget_password_submit"
													class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
										Request
									</button>
									&nbsp;&nbsp;
									<button id="m_login_forget_password_cancel"
													class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">
										Cancel
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="m-stack__item m-stack__item--center">

				</div>
			</div>
		</div>
		<div id="staff" class="overlay-staff m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content">
			<div class="m-grid__item m-grid__item--middle text-center">
				<h2 class="m-login__welcome" *ngIf="ping?.name">
					Welcome to {{ping?.name}}
				</h2>
				<p class="m-login__msg">
					{{ping?.settings?.subtitle || ''}}
				</p>
			</div>
		</div>
	</div>
</div>
