/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');*/
/*@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');*/

/* Poppins locally */

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(assets/fonts/poppins/poppins_regular.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(assets/fonts/poppins/poppins_regular_latin_ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(assets/fonts/poppins/poppins_regular_latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

th {
    text-align: left;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1rem;
    color: white !important;
}
a{
    cursor: pointer !important;
}
select.form-control{
    padding-left:0 !important;
}

.proceed{
    color: blue;
}

.m-nav__item{
    padding-bottom: 2px;
}

.m-brand__logo img{
    width:283px;
    height: auto;
}

label{
    /*padding:10px;*/
}

.styleStar{
  color: red !important;
}

.m-table--head-bg-brand thead th {
    background: #716aca;
    color: #ffffff;
    border-bottom: 0;
    border-top: 0;
}

#viewModal .col-5 {
  margin-left: -20% !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#reportName{
  cursor: pointer !important;
  color: #0a6aa1 !important;
}

.col-6.col-form-label.text-right{
  margin-left: -20% !important;
}



header .m-menu__link-text{

}
.m-menu__hor-arrow, .m-menu__link-icon{
    color: white !important;
}
/*
.btn.btn-xs{
  padding : 5px !important;
}
*/

.small-input input[type=number] {
  width: 8em !important;
}

body{
    font-family: 'Poppins', sans-serif !important;
}

/*.btn{*/
    /*font-family: 'Roboto', sans-serif!important;*/
/*}*/

.auto-width{
    width: auto!important;
}

.just-border img{
    max-height: 100%;
    /*max-width: 100%;*/
}

.just-border{
    width: 200px;
    height: 200px;
}

.logo-border {
    padding: 5px;
    /*border: 1px solid #cccccc;*/
}

.logo-border img{
    border: 1px solid white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2), 0 6px 20px 0 rgba(1, 1, 1, 0.19);
}

.logo-img {
  max-width: 100%;
  max-height: 200px;
  display: block;
  margin: auto;
}

.like-m_form--2 .m-form__group .form-control{
    border-radius: 40px !important;
    border: none !important;
    padding: 1.5rem 1.5rem !important;
    margin-top: 1.5rem !important;
    background-color: rgba(67, 34, 167, 0.1);
}

.full-width{
    height: 100vh;
}

.no-padding{
    padding-top: 0 !important;
}

.overlay{
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(67, 34, 167, 0.7)), rgba(0, 0, 0, 0.55) url(assets/images/bg/bhg.png) no-repeat fixed;
    background-size: cover;
}

.btn.btn-xs {
  padding: 5px !important;
  font-size: 10px !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.overlay-staff{
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(67, 34, 167, 0.7)), rgba(0, 0, 0, 0.55) url(assets/images/bg/bg-20.png) no-repeat center
}

.small-margin{
    margin: 20px 0;
}

.overhead{
    padding: 10px 5px;
    font-weight: 700;
    font-size: 3rem;
    width: 100%;
    margin: 0 auto;
}

.headered{
    padding: 10px 5px;
    background-color: #3e2785;
    color: white;
}

.headered h3{
    letter-spacing: 6px;
    font-weight: 700;
    font-size: 3rem;
}

.headered p{
    margin: 0 0;
    font-size: larger;
}


.btn .btn-sm {
  padding: 5px  !important;
  font-size: 10px !important;
}

.vertical{
    margin: auto 0 !important;
}

button[disabled]{
    cursor: not-allowed;
}

.img-container {
  width: 200px;
  height: 150px;
}

.school-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pointer {
  cursor: pointer !important;
}

.display-none {
  display: none;
}

.font-60 {
  font-size: 60% !important;
}

.font-65 {
  font-size: 65% !important;
}

.font-70 {
  font-size: 70% !important;
}

.font-80 {
  font-size: 80% !important;
}

.font-90 {
  font-size: 90% !important;
}

. relative {
  position: relative;
}

.reduce-label label{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-weight: bold !important;
}

.table-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  /*background-color: rgb(0,0,0);*/
  background-color: rgba(0, 0, 0, 0.4);
}

.table-loader .content {
  position: relative;
  /*left: 50%;*/
  top: 50%;
  transform: translateY(-50%);
}

.btn-accent-sm {
  color: #fff;
  background-color: #00c5dc;
  border-color: #00c5dc;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-accent-sm:hover {
  color: #fff;
  background-color: #00a3b6;
  border-color: #0097a9; }
.btn-accent-sm:focus, .btn-accent-sm.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 197, 220, 0.5); }
.btn-accent-sm.disabled, .btn-accent-sm:disabled {
  color: #fff;
  background-color: #00c5dc;
  border-color: #00c5dc; }
.btn-accent-sm:not(:disabled):not(.disabled):active, .btn-accent-sm:not(:disabled):not(.disabled).active,
.show > .btn-accent-sm.dropdown-toggle {
  color: #fff;
  background-color: #0097a9;
  border-color: #008c9c; }
.btn-accent-sm:not(:disabled):not(.disabled):active:focus, .btn-accent-sm:not(:disabled):not(.disabled).active:focus,
.show > .btn-accent-sm.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 197, 220, 0.5); }

.btn-success-sm {
  color: #fff;
  background-color: #34bfa3;
  border-color: #34bfa3;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-success-sm:hover {
  color: #fff;
  background-color: #2ca189;
  border-color: #299781; }
.btn-success-sm:focus, .btn-success-sm.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 191, 163, 0.5); }
.btn-success-sm.disabled, .btn-success-sm:disabled {
  color: #fff;
  background-color: #34bfa3;
  border-color: #34bfa3; }
.btn-success-sm:not(:disabled):not(.disabled):active, .btn-success-sm:not(:disabled):not(.disabled).active,
.show > .btn-success-sm.dropdown-toggle {
  color: #fff;
  background-color: #299781;
  border-color: #268d78; }
.btn-success-sm:not(:disabled):not(.disabled):active:focus, .btn-success-sm:not(:disabled):not(.disabled).active:focus,
.show > .btn-success-sm.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 191, 163, 0.5); }

.btn-danger-sm {
  color: #fff;
  background-color: #f4516c;
  border-color: #f4516c;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-danger-sm:hover {
  color: #fff;
  background-color: #f22d4e;
  border-color: #f12143; }
.btn-danger-sm:focus, .btn-danger-sm.focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 81, 108, 0.5); }
.btn-danger-sm.disabled, .btn-danger-sm:disabled {
  color: #fff;
  background-color: #f4516c;
  border-color: #f4516c; }
.btn-danger-sm:not(:disabled):not(.disabled):active, .btn-danger-sm:not(:disabled):not(.disabled).active,
.show > .btn-danger-sm.dropdown-toggle {
  color: #fff;
  background-color: #f12143;
  border-color: #f01539; }
.btn-danger-sm:not(:disabled):not(.disabled):active:focus, .btn-danger-sm:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger-sm.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 81, 108, 0.5); }

.water-mark {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: .095;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateY(-50%);
}


/* Beautiful loader from loader.io*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.loading {
    font-size: 30px;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
    color: white;
}

.loading.black:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
    color: black;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

.text-underline {
  text-decoration: underline!important;
}

.table-bordered-black, .table-bordered-black td {
  border: 1px solid black!important;
  border-collapse: collapse!important;
}
