<div class="m-page--wide m-footer--push m-aside--offcanvas-default">
  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- begin::Header -->
    <header class="m-grid__item		m-header " data-minimize="minimize" data-minimize-offset="200"
            data-minimize-mobile-offset="200">
      <div class="m-header__top">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- begin::Brand -->
            <div class="m-stack__item m-brand">
              <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                  <a routerLink="/" class="m-brand__logo-wrapper">
                    <!--<img alt="University Logo" [src]="appSettings['logo']" *ngIf="appSettings?.logo" style="width:90px"/>-->

                    <!--<img alt="University Logo" src="assets/images/logos/Fav.png"-->
                    <!--*ngIf="!appSettings?.logo" style="width:90px"/>-->
                    <img src="{{ (appSettings?.logo) ? appSettings?.logo :  'assets/images/logos/Fav.png'}}"
                         style="width: auto; height: 90px"/>
                  </a>
                </div>
                <div class="m-stack__item m-stack__item--middle m-brand__tools">

                </div>
                <div class="school-name">
                  <h2>{{schoolName}}</h2>
                </div>
              </div>
            </div>
            <!-- end::Brand -->
            <!-- begin::Topbar -->
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
              <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                <div class="m-stack__item m-topbar__nav-wrapper">
                  <ul _ class="m-topbar__nav m-nav m-nav--inline" *ngIf="applicantUpdated">
                    <li _
                        class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img   m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                        data-dropdown-toggle="click">
                      <a _ class="m-nav__link m-dropdown__toggle" routerLink="/">
                                                <span _ class="m-topbar__welcome" (click)="cacheApplicant()">
                                                    Login
                                                </span>

                      </a>

                    </li>
                    <li
                      class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img   m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light">


                    </li>


                  </ul>

                  <a routerLink='/' class="btn btn-xs btn-warning" style="margin-top:40px">


                                        <span class="m-topbar__welcome" style="color:white">
                                            <i class="la la-chevron-left"></i> Home
                                        </span>

                  </a>
                </div>
              </div>
            </div>
            <!-- end::Topbar -->
          </div>
        </div>
      </div>
      <div class="m-header__bottom" [ngStyle]="setHeaderColor()">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
          <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- begin::Horizontal Menu -->
            <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
              <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
                      id="m_aside_header_menu_mobile_close_btn">
                <i class="la la-close"></i>
              </button>
              <div id="m_header_menu"
                   class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">

                <h3 id="open_head">
                                    <span *ngIf="loadingApplications">Fetching Application Form
                                        <span class="loading"></span>
                                    </span>
                  <span *ngIf="!loadingApplications">{{activeApplication?.name |ucwords}}</span>
                </h3>
              </div>
            </div>
            <!-- end::Horizontal Menu -->
            <!--begin::Search-->
            <div
              class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-"
              id="m_quicksearch" data-search-type="default">
              <!--begin::Search Form -->
              <!--end::Search Form -->
              <!--begin::Search Results -->
              <div class="m-dropdown__wrapper">
                <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                <div class="m-dropdown__inner">
                  <div class="m-dropdown__body">
                    <div class="m-dropdown__scrollable m-scrollable" data-max-height="300"
                         data-mobile-max-height="200">
                      <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Search Results -->
            </div>
            <!--end::Search-->
          </div>
        </div>
      </div>
    </header>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div *ngIf="!loadingApplications"
         class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
      <div class="m-grid__item m-grid__item--fluid m-wrapper">

        <!-- BEGIN: Subheader -->


        <!-- END: Subheader -->
        <!--begin:: Widgets/Stats-->
        <div class="m-portlet">
          <div class="m-portlet__body">
            <div class="row m-row--col-separator-xl">
              <div class="col-lg-12">
                <!--<div class="col-6 offset-3">-->
                  <div class="m-portlet m-portlet--full-height m-portlet--tabs pb-4">
                    <div class="m-portlet__head">
                      <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                          <h1 class="m-portlet__head-text">
                            <!--{{(activeApplication?.mode_of_entry.toLowerCase() === 'other') ? 'Non-Jamb' : activeApplication?.mode_of_entry} Candidate -->

                            <!--Undergraduate-->
                            Application Form
                          </h1>
                        </div>
                      </div>
                      <!--<div class=" ">-->
                      <!--<div class="d-flex align-items-center">-->
                      <!--<div class="mr-auto">-->
                      <!--<h3 class="m-subheader__title ">-->
                      <!--{{activeApplication?.mode_of_entry}} Candidate Application Form-->
                      <!--</h3>-->
                      <!--</div>-->

                      <!--</div>-->
                      <!--</div>-->
                    </div>


                    <div class="m-portlet__body">
                      <div class="py-4 h3"><b class="d-block border-bottom">Basic Details</b></div>
                      <form [formGroup]="otherApplicantForm" class="">
                        <div class="form-group m-form__group row">
                          <div class="col-md-4 col-sm-12">
                            <label>First Name</label>
                            <input class="form-control m-input--solid" type="text" formControlName="first_name">
                          </div>
                          <div class="col-md-4 col-sm-12">
                            <label>Surname</label>
                            <input class="form-control m-input--solid" type="text" formControlName="last_name">
                          </div>
                          <div class="col-md-4 col-sm-12">
                            <label>Other Names</label>
                            <input class="form-control m-input--solid" type="text" formControlName="other_names">
                          </div>
                        </div>
                        <div class="form-group m-form__group row">
                          <div class="col-md-4 col-sm-12">
                            <label>Email</label>
                            <input class="form-control m-input--solid" type="email" required formControlName="email">
                            <small class="text-danger"
                                   *ngIf="otherApplicantForm.get('email').touched && otherApplicantForm.get('email').invalid">
                              Enter a valid email
                            </small>
                          </div>
                          <div class="col-md-4 col-sm-12">
                            <label>Password</label>
                            <input class="form-control m-input--solid" type="password" formControlName="password">
                          </div>
                          <div class="col-md-4 col-sm-12">
                            <label>Confirm Password</label>
                            <input class="form-control m-input--solid" type="password" required
                                   formControlName="confirm_password">
                            <small class="text-danger"
                                   *ngIf="otherApplicantForm.get('confirm_password').touched && (otherApplicantForm.value.password !== otherApplicantForm.value.confirm_password)">
                              Passwords do not match
                            </small>
                          </div>
                        </div>
                      </form>
                      <div class="py-4 h3"><b class="d-block border-bottom">Jamb Details</b></div>
                      <form [formGroup]="manualJambForm">
                        <div class="form-group m-form__group row">
                          <div class="col-md-4 col-sm-12">
                            <label>Jamb Score</label>
                            <input class="form-control m-input--solid" type="number" formControlName="total_ume_score">
                          </div>
                          <div class="col-md-4 col-sm-12">
                            <label>Jamb Reg. Number</label>
                            <input class="form-control m-input--solid" type="text" required
                                   formControlName="reg_no">
                          </div>
                          <div class="col-md-4 col-sm-12">
                            <label>First Choice Institution</label>
                            <input class="form-control m-input--solid" type="text" required
                                   formControlName="first_choice">
                          </div>
                        </div>
                        <div class="form-group m-form__group row">
                          <div class="col-md-4 col-sm-12">
                            <label>Second Choice Institution</label>
                            <input class="form-control m-input--solid" type="text" required
                                   formControlName="second_choice">
                          </div>
                        </div>
                      </form>
                      <!--<ul class="nav nav-tabs  m-tabs-line m-tabs-line&#45;&#45;primary" role="tablist">
                        <li class="nav-item m-tabs__item">
                          <a class="nav-link m-tabs__link active" data-toggle="tab" href="#basic_student_info" role="tab">
                            Personal Details
                          </a>
                        </li>
                        <li class="nav-item m-tabs__item" *ngIf="appSettings?.jamb_details_required || appSettings?.enable_jamb_details_utme_jamb_other">
                          <a class="nav-link m-tabs__link" data-toggle="tab" href="#academic_info" role="tab">
                            Jamb Details
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="basic_student_info" role="tabpanel">

                          <div>
                            <div class="container" *ngIf="activeApplication?.mode_of_entry?.toLowerCase() ==='other' || activeApplication?.mode_of_entry=='Jamb' || activeApplication?.mode_of_entry=='DE'">
                              <form [formGroup]="otherApplicantForm" class="m-form m-form&#45;&#45;label-align-right">

                                <div class="m-portlet__body">
                                  <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label">First Name</label>

                                    <div class="col-7">
                                      <input class="form-control m-input&#45;&#45;solid" type="text" formControlName="first_name">
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label">Surname</label>

                                    <div class="col-7">
                                      <input class="form-control m-input&#45;&#45;solid" type="text" formControlName="last_name">
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label">Other Names</label>

                                    <div class="col-7">
                                      <input class="form-control m-input&#45;&#45;solid" type="text" formControlName="other_names">
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label">Email</label>
                                    <div class="col-7">
                                      <input class="form-control m-input&#45;&#45;solid" type="email" required formControlName="email">
                                      <small class="text-danger" *ngIf="otherApplicantForm.get('email').touched && otherApplicantForm.get('email').invalid">
                                        Enter a valid email
                                      </small>
                                    </div>
                                  </div>

                                  <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label">Password</label>
                                    <div class="col-7">
                                      <input class="form-control m-input&#45;&#45;solid" type="password" required formControlName="password">
                                      &lt;!&ndash;<small class="text-danger" *ngIf="otherApplicantForm.get('email').touched && otherApplicantForm.get('email').invalid">
                                        Enter a valid email
                                      </small>&ndash;&gt;
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-5 col-form-label">Confirm Password</label>
                                    <div class="col-7">
                                      <input class="form-control m-input&#45;&#45;solid" type="password" required formControlName="confirm_password">
                                      <small class="text-danger" *ngIf="otherApplicantForm.get('confirm_password').touched && (otherApplicantForm.value.password !== otherApplicantForm.value.confirm_password)">
                                        Passwords do not match
                                      </small>
                                    </div>
                                  </div>
                                  <ng-container>

                                  </ng-container>

                                </div>

                              </form>
                            </div>

                            <div *ngIf="!applicantForms?.biodata">
                              <div class="container" style="padding-bottom: 20px; padding-top: 20px">

                              </div>
                            </div>
                            <div>
                              <form class="" [formGroup]="applicantBioDataForm"
                                    (ngSubmit)="updateApplicantBioData('studentPhoto')"
                                    *ngIf="applicantForms?.biodata">
                                <div style="z-index: 100; margin-left: 80%;position: absolute">
                                  <img src="assets/images/users/blank_male.jpg"
                                       class="rounded img-thumbnail" id="profile_photo" height="100px"
                                       width="200px">
                                  <br>
                                  &lt;!&ndash;<span>{{filename}}</span>&ndash;&gt;
                                  <br>
                                  <br>
                                  <button type="button" role="button" class=" btn m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom btn-success
                                                       m-btn&#45;&#45;air btn-file"
                                          style="z-index:2;cursor:pointer !important">
                                    <i class="fa fa-upload"></i> Photo
                                    <input type="file" (change)="getPhoto($event, 'profile_photo')"
                                           id="studentPhoto">
                                  </button>
                                </div>

                                <div class="m-portlet__body">
                                  <h3 class="text-center"> Complete your Bio Data</h3>

                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      Jamb Reg. Number
                                    </label>

                                    <div class="col-7">
                                      <input class="form-control m-input" type="text"
                                             value="{{applicantUtmeInfo['reg_no']}}" disabled
                                             readonly formControlName="reg_no">
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      Full Name
                                    </label>

                                    <div class="col-7">
                                      <input class="form-control m-input" type="text" value=""
                                             formControlName="name" disabled readonly>
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      Gender
                                    </label>
                                    <div class="col-7">
                                      <input class="form-control m-input" type="text"
                                             value="{{applicantUtmeInfo['gender']}}"
                                             formControlName="gender" disabled
                                             readonly>
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      Age
                                    </label>
                                    <div class="col-7">
                                      <input class="form-control m-input" type="text"
                                             value="{{applicantUtmeInfo['age']}}"
                                             formControlName="age" disabled readonly>
                                    </div>
                                  </div>

                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      State
                                    </label>
                                    <div class="col-7">
                                      <input class="form-control m-input"
                                             value="{{applicantUtmeInfo['state_origin']}}"
                                             formControlName="state_origin" disabled
                                             readonly>
                                    </div>
                                  </div>

                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      LGA
                                    </label>
                                    <div class="col-7">
                                      <input class="form-control m-input" disabled readonly
                                             value="{{applicantUtmeInfo['lga']}}">
                                    </div>
                                  </div>

                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      {{facultyName}}
                                    </label>
                                    <div class="col-7">
                                      <input value="{{applicantUtmeInfo['fac_abbr']}}"
                                             class="form-control m-input" type="text" readonly
                                             disabled>
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      Course of Study
                                    </label>
                                    <div class="col-7">
                                      <input class="form-control m-input" type="text"
                                             value="{{applicantUtmeInfo['cors_abbr']}}"
                                             formControlName="course_of_study"
                                             disabled readonly>
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      Phone
                                    </label>
                                    <div class="col-7">
                                      <input class="form-control m-input" type="text" value=""
                                             formControlName="phone">
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      Email
                                    </label>
                                    <div class="col-7">
                                      <input class="form-control m-input" type="text" value=""
                                             formControlName="email">
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      Address
                                    </label>
                                    <div class="col-7">
                                      <textarea class="form-control m-input" formControlName="address"></textarea>
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      Next of Kin's Full Name
                                    </label>
                                    <div class="col-7">
                                      <input class="form-control m-input" type="text" value=""
                                             formControlName="next_of_kin">
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      Next of Kin's Phone
                                    </label>
                                    <div class="col-7">
                                      <input class="form-control m-input" type="text" value=""
                                             formControlName="kin_phone">
                                    </div>
                                  </div>
                                  <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                      Next of Kin's Address
                                    </label>
                                    <div class="col-7">
                                      <textarea class="form-control m-input" formControlName="kin_address"></textarea>
                                      &lt;!&ndash;<input  type="text"&ndash;&gt;
                                      &lt;!&ndash;value="L-12-20 Vertex, Cybersquare">&ndash;&gt;
                                    </div>
                                  </div>
                                  <div class="m-form__seperator m-form__seperator&#45;&#45;dashed m-form__seperator&#45;&#45;space-2x"></div>
                                  <div class="m-portlet__foot m-portlet__foot&#45;&#45;fit">
                                    <div class="m-form__actions">
                                      <br>
                                      <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7" style="padding-bottom: 50px">
                                          <div class="container">
                                            <button type="submit"
                                                    class="btn btn-accent m-btn m-btn&#45;&#45;air m-btn&#45;&#45;custom pull-right"
                                                    [disabled]="uploading || applicantBioDataForm.invalid ">
                                              {{uploadMessage}} changes
                                              <i *ngIf="uploading"
                                                 class="m-loader m-loader-brand"></i>
                                            </button>
                                            &nbsp;&nbsp;
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>




                        </div>

                        <div class="tab-pane" id="academic_info" role="tabpanel">
                          <form [formGroup]="manualJambForm"  class="m-form m-form&#45;&#45;label-align-right">

                            <div class="m-portlet__body">
                              &lt;!&ndash;<ng-container *ngIf="activeApplication?.mode_of_entry?.toLowerCase()=='jamb' || activeApplication?.mode_of_entry?.toLowerCase()=='other'">&ndash;&gt;

                                <div class="form-group m-form__group row">
                                  <label class="col-5 col-form-label">Jamb Score</label>

                                  <div class="col-7">
                                    <input class="form-control m-input&#45;&#45;solid" type="number" formControlName="total_ume_score">
                                  </div>
                                </div>
                              &lt;!&ndash;</ng-container>&ndash;&gt;
                              <div class="form-group m-form__group row">
                                <label class="col-5 col-form-label">Jamb Reg. Number</label>

                                <div class="col-7">
                                  <input class="form-control m-input&#45;&#45;solid" type="text" formControlName="reg_no">
                                </div>
                              </div>
                              <div class="form-group m-form__group row">
                                <label class="col-5 col-form-label">First Choice Institution</label>

                                <div class="col-7">
                                  <input class="form-control m-input&#45;&#45;solid" type="text" formControlName="first_choice">
                                </div>
                              </div>
                              <div class="form-group m-form__group row">
                                <label class="col-5 col-form-label">Second Choice Institution</label>
                                <div class="col-7">
                                  <input class="form-control m-input&#45;&#45;solid" type="text" required formControlName="second_choice">
                                </div>
                              </div>
                            </div>
                          </form>



                        </div>
                      </div>-->
                      <div class="form-group pull-right mb-4">
                        <button type="button" (click)="signUpOtherProcessApplicant('studentPhotoOther')"
                                class="btn btn-accent m-btn m-btn--air pull-right"
                                [disabled]="load.other_applicants.creating
                                   || otherApplicantForm.invalid
                                   || (otherApplicantForm.value.password !== otherApplicantForm.value.confirm_password)
                                    || ((activeApplication?.mode_of_entry?.toLowerCase()=='jamb' && appSettings?.enable_jamb_details_utme_jamb_other) && manualJambForm.invalid) ">
                          Submit &nbsp;&nbsp;
                          <i *ngIf="load.other_applicants.creating" class="m-loader m-loader--light"></i>
                        </button>
                      </div>
                      <!--(ngSubmit)="signUpOtherProcessApplicant('studentPhotoOther')"-->
                    </div>


                  </div>
                <!--</div>-->
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--
    </div>
    -->
    </div>


    <div class="card" *ngIf="loadingApplications">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <div id="loader" class="container">
            <div class="item item-1"></div>
            <div class="item item-2"></div>
            <div class="item item-3"></div>
            <div class="item item-4"></div>
          </div>
        </div>
        <div class="col-4"></div>

      </div>
    </div>

    <!-- end::Body -->
    <!-- begin::Footer -->
    <footer class="m-grid__item m-footer ">
      <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
        <div class="m-footer__wrapper">
          <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                            <span class="m-footer__copyright">
                                2018 &copy; College Portal by
                                <a href="https://www.upperlink.ng" class="m-link">
                                    Upperlink
                                </a>
                            </span>
            </div>

          </div>
        </div>
      </div>
    </footer>
    <!-- end::Footer -->
  </div>
</div>
