<!-- Modal -->
<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.moduleName}} Details</h4>
      </div>
      <div class="modal-body" *ngIf="feedBack?.viewDetails">
        <div class="m-portlet__body">
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Name:
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails.name}}
            </div>
          </div>
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Code:
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails.code}}
            </div>
          </div>
          <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
            <div for="example-text-input" class="col-6 col-form-label text-right">
              Faculty:
            </div>
            <div for="example-text-input" class="col-6 col-form-label text-left">
              {{feedBack?.viewDetails?.faculty?.name}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          <a id="reportName"> Reports/ Transaction </a>{{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <button class="btn btn-sm m-btn--pill m-btn--air"
              [ngClass]="feedBack.show_filter ? 'btn-danger' : 'btn-accent'"
              (click)="feedBack.show_filter = !feedBack.show_filter">
        {{ feedBack.show_filter ? 'Close' : 'Filter'}}
      </button>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="row" *ngIf="feedBack.show_filter">
      <div class="col-12 reduce-label">
        <form [formGroup]="sessionReportFilterForm">
          <div class="form-group row">
            <div class="col">
              <label><span class="text-danger">*</span>Session</label>
              <i class="m-loader m-loader--brand" *ngIf="loader.session"></i>
              <select class="form-control" formControlName="session_year">
                <option *ngFor="let session of feedBack?.allSession" [value]="session?.year">{{session?.name || session?.year}}</option>
              </select>
            </div>
            <div class="col">
              <label>Programme</label>
              <i class="m-loader m-loader--brand" *ngIf="loader.programme"></i>
              <select class="form-control" formControlName="programme_id" (change)="programmeById($event.target.value)">
                <option value="">Select Programme</option>
                <option *ngFor="let programme of feedBack?.allProgrammes" [value]="programme?.id">{{programme?.name}}</option>
              </select>
            </div>
            <div class="col">
              <label>Level</label>
              <i class="m-loader m-loader--brand" *ngIf="loader.level"></i>
              <select class="form-control" formControlName="level_id">
                <option value="">Select Level</option>
                <option *ngFor="let level of feedBack?.programmeLevels" [value]="level?.id">{{level?.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label>
                Faculty &nbsp;&nbsp;
                <span class="m-loader m-loader--brand" *ngIf="loader.faculty"></span>
              </label>
              <select class="form-control" formControlName="faculty_id" (change)="facultyDepartments($event.target.value)">
                <option value="">Select Faculty</option>
                <option [value]="faculty?.id" *ngFor="let faculty of feedBack?.faculties">{{ faculty?.name }}</option>
              </select>
            </div>
            <div class="col">
              <label>
                Department &nbsp;&nbsp;
                <span class="m-loader m-loader--brand" *ngIf="loader.department"></span>
              </label>
              <select class="form-control" formControlName="department_id" (change)="departmentCoursesOfStudy($event.target.value)">
                <option value="">Select Department</option>
                <option [value]="department?.id" *ngFor="let department of feedBack?.departments">{{ department?.name }}</option>
              </select>
            </div>
            <div class="col">
              <label>
                Course of Study &nbsp;&nbsp;
                <span class="m-loader m-loader--brand" *ngIf="loader.courses_of_study"></span>
              </label>
              <select class="form-control" formControlName="course_of_study_id">
                <option value="">Select Course of Study</option>
                <option [value]="course_of_study?.id" *ngFor="let course_of_study of feedBack?.courses_of_study">{{ course_of_study?.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label>Status</label>
              <select class="form-control" formControlName="status">
                <option value="completed">Completed</option>
                <option value="pending">Pending</option>
                <option value="failed">Failed</option>
              </select>
            </div>
          </div>
          <div class="form-group mb-3 float-right">
            <button class="btn btn-accent m-btn--pill m-btn--air"
                    (click)="reRender()"
                    [disabled]="sessionReportFilterForm.invalid || feedBack?.loader">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <table class="table" *ngIf="stats.total_paid">
          <tr>
            <td><h3>Total Amount</h3></td>
            <td><h3><b>{{ stats.total_paid | currency : '&#8358;' }}</b></h3></td>
          </tr>
        </table>
      </div>
      <!--<div class="col-md-6 col-md-12 mb-3 h5">
        Click <a class="m-link text-primary" (click)="specialReport()">here</a> to generate Payment Statistics <br>
        Click <a class="m-link text-primary" (click)="getSpecialReport()">here</a> to get Payment Statistics <br>
        Click <a class="m-link text-primary" (click)="downloadSpecialReport()">here</a> to download Payment Statistics <br>
      </div>-->
    </div>
    <div class="row my-md-2">
      <div class="col-6">
        <select class="form-control form-control-sm mb-1 col-3"
                [disabled]="sessionReport?.data.length < 1"
                (change)="changePerPage($event.target.value)">
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>
      <div class="col-6">
        <input type="text" (keyup)="search_model.next($event.target.value)"
               class="form-control form-control-sm col-6 float-right" placeholder="Search">
      </div>
    </div>
    <div class="table-responsive">
      <!--end: Ss"></ Form -->      <!--begin: Datatable -->
      <table class="table table-hover table-striped table-sm m-table--head-bg-brand relative">
        <div *ngIf="feedBack.loader" class="table-loader">
          <div class="content">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <thead>
        <tr>
          <th>#</th>
          <th>Matric Number</th>
          <th>Transaction Number</th>
          <th>Amount</th>
          <th>Payment Method</th>
          <th>Date Generated</th>
          <th>Date Paid</th>
          <th *ngIf="reQuery.show">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of sessionReport?.data; let i = index">
          <td>{{i+1}}</td>
          <td>{{data?.matric_no}}</td>
          <td>{{data?.transaction_no}}</td>
          <td>{{data?.amount | currency : '&#8358;'}}</td>
          <td>{{data?.payment_method}}</td>
          <td>{{data?.created_at | date}}</td>
          <td>{{data?.updated_at | date}}</td>
          <td *ngIf="reQuery.show">
            <a (click)="makeReQuery(data?.transaction_no, i)" class="btn btn-accent-sm">
              <i class="fa fa-refresh" [class.fa-spin]="data?.loading"></i>&nbsp;ReQuery
            </a>
          </td>
        </tr>
        <tr *ngIf="feedBack.loader || sessionReport?.data?.length === 0">
          <td class="text-center" colspan="7" *ngIf="!feedBack.loader && sessionReport?.data.length === 0">
            No Content Found
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="sessionReport?.data.length > 0" class="row mx-md-1">
        <div class="col-6">
          <div class="float-left">
            <span class="align-middle">Showing {{ sessionReport?.from }} to {{ sessionReport?.to }} of {{ sessionReport?.total }} entries</span>
          </div>
        </div>
        <div class="col-6">
          <div class="float-right">
            <button class="btn btn-sm btn-outline-brand" (click)="navigate('first')">First</button>
            <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only pr-1" (click)="navigate('prev')"
                    [disabled]="sessionReport?.prev_page_url === null">
              <i class="la la-chevron-left"></i>
            </button>
            <div class="btn-group" role="group" aria-label="First group">
              <button
                [ngClass]=" (page === sessionReport?.current_page) ? 'btn btn-sm btn-outline-brand active' : 'btn btn-sm btn-outline-brand'"
                *ngFor="let page of paginator.pages" (click)="navigate(page)">{{ page }}
              </button>
            </div>
            <button class="btn btn-brand btn-sm m-btn--icon m-btn--icon-only" (click)="navigate('next')"
                    [disabled]="sessionReport?.next_page_url === null">
              <i class="la la-chevron-right"></i>
            </button>
            <button class="btn btn-sm btn-outline-brand" (click)="navigate('last')">Last</button>
          </div>
        </div>
      </div>
      <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
      <!--end: Datatable -->
    </div>
    <div class="col-md-6 col-sm-12 my-3 offset-md-6">
      <button class="btn btn-accent m-btn--air m-btn--pill float-right mb-2"
              [disabled]="feedBack?.excelling"
              *ngIf="sessionReport?.data.length > 0"
              (click)="exportAsXLSX()">
        <i class="fa fa-file-excel-o"></i> Generate Excel
        <i class="m-loader m-loader--light" *ngIf="feedBack?.excelling"></i>
      </button>
    </div>
  </div>
</div>

