<div id="hostelReservation" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reservation Details</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <div class="m-portlet__body" *ngIf="feedBack?.viewDetails">
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Amount
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.amount}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Name
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.name}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Profile Strength
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.profile_strenght}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Start Date
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.start_date | date}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              End Date
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.end_date | date}}
            </label>
          </div>
          <div class="form-group m-form__group row" style="padding-bottom: 1px;">
            <label class="col-4 col-form-label">
              Year
            </label>
            <label class="col-8 col-form-label">
              {{feedBack?.viewDetails?.year}}
            </label>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1">Applicants</a>
                </h5>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                  <label class="col-4 col-form-label">
                    Student Name
                  </label>
                  <label class="col-8 col-form-label">
                    {{feedBack?.viewDetails?.student?.first_name}} {{feedBack?.viewDetails?.student?.last_name}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          <span id="reportName" (click)="navigateToReport()">Reports/ Finance </span>{{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools" *ngIf="feedBack?.allProgramme?.length > 0">
      <div class="form-group m-form__group row" style="padding-bottom: 1px; float: right !important;">
        <div class="col-3 col-form-label">
          Programme
        </div>
          <select class="m-input form-control" (change)="onSelectDept($event)"  placeholder=" Programme">
            <option></option>
            <option *ngFor="let program of feedBack?.allProgramme" [value] = "program?.id">{{program?.name}}</option>
          </select>
      </div>
    </div>

  </div>
  <!--Current session-->
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
    <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th title="Field #1" class="serialnum">
          #
        </th>
        <th title="Field #2">
          Amount
        </th>
        <th title="Field #2">
          Name
        </th>
        <th title="Field #2">
          Mode of Entry
        </th>
        <th title="Field #2">
          Start Date
        </th>
        <th title="Field #2">
          End Date
        </th>
        <th title="Field #3">
          Created Date
        </th>
        <th title="Field #4">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feedBack?.allResponse; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.amount}}</td>
        <td>{{data?.name}}</td>
        <td>{{data?.mode_of_entry}}</td>
        <td>{{data?.start_date}}</td>
        <td>{{data?.end_date}}</td>
        <td>{{data?.created_at | date}}</td>
        <td data-field="Type" class="m-datatable__cell">
          <div class="dropdown ">
            <a href="#"
               class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
               data-toggle="dropdown">
              <i class="la la-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item"  (click)="viewReservation(data)">
                <i class="la la-edit"></i> View</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="8" *ngIf="feedBack.loader">
          <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="8" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>

</div>

