<!-- Modal -->
<div id="openModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{feedBack?.formType}} {{feedBack?.moduleName}}</h4>
      </div>
      <div class="modal-body">
        <!--begin::Form-->
        <!--end::Form-->
        <form [formGroup]="createForm" class="form-inline">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span>Label
              </label>
              <div class="col-lg-8 col-md-9 col-sm-12">
                <input class="form-control" formControlName="label" type="text">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span>Max Point
              </label>
              <div class="col-lg-8 col-md-9 col-sm-12">
                <input class="form-control" formControlName="max_point" type="number">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span>Pass Mark Type
              </label>
              <div class="col-lg-8 col-md-9 col-sm-12">
                <select class="form-control" formControlName="pass_mark_type">
                  <option value="total">Total</option>
                  <option value="conditional">Conditional</option>
                </select>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label class="col-4 col-form-label">
                <span class="styleStar">*</span>Pass Mark Score
              </label>
              <div class="col-lg-8 col-md-9 col-sm-12">
                <input class="form-control" formControlName="pass_mark_score" type="number">
              </div>
            </div>
            <div class="card" formArrayName="degree_class">
              <div class="card-header">
                Degree Class
                <button class="btn btn-accent m-btn m-btn--pill m-btn-btn--air m-btn--sm btn-sm float-right"
                        (click)="addNewDegreeClass()">
                  <i class="la la-plus"></i>
                  Add More
                </button>
              </div>
              <div class="form-group m-form__group row card-body"
                   *ngFor="let some of createForm.controls.degree_class['controls']; let i = index" [formGroupName]="i">

                <div class="col-sm-4">
                  <button class="btn btn-danger m-btn m-btn--pill m-btn-btn--air m-btn--sm btn-sm"
                          (click)="deleteRow(i)">
                    Remove
                  </button>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" formControlName="degree_name" type="text" placeholder="Name">
                  <input class="form-control" formControlName="degree_upper" type="number" placeholder="Upper Limit">
                  <input class="form-control" formControlName="degree_lower" type="number" placeholder="Lower Limit">

                  <!--<button class="btn btn-danger" (click)="deleteRow(i)">Delete Degree Class</button>-->
                </div>
              </div>
            </div>
            <div class="card" formArrayName="grade">
              <div class="card-header">
                Grade
                <button class="btn btn-accent m-btn m-btn--pill m-btn-btn--air m-btn--sm btn-sm float-right"
                        (click)="addGrade()">
                  <i class="la la-plus"></i>
                  Add More
                </button>
              </div>
              <div class="form-group m-form__group row card-body"
                   *ngFor="let some of createForm.controls.grade['controls']; let i = index" [formGroupName]="i">

                <div class="col-sm-4">
                  <button class="btn btn-danger m-btn m-btn--pill m-btn-btn--air m-btn--sm btn-sm"
                          (click)="deleteGrade(i)">
                    Remove
                  </button>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" formControlName="grade_name" type="text" placeholder="Name">
                  <input class="form-control" formControlName="grade_unit" type="number" placeholder="Unit">
                  <input class="form-control" formControlName="grade_upper" type="number" placeholder="Maximum Score">
                  <input class="form-control" formControlName="grade_lower" type="number" placeholder="Minimum Score">

                  <!--<button class="btn btn-danger" (click)="deleteRow(i)">Delete Degree Class</button>-->
                </div>
              </div>
            </div>
            <!---->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="!feedBack.showUpdateButton" (click)="createFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal" [disabled]="feedBack.submitStatus || createForm.invalid">
          Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button" *ngIf="feedBack.showUpdateButton" (click)="updateFormModal()"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal" [disabled]="feedBack.submitStatus || createForm.invalid">
          Update <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
        </button>
        <button type="button"
                class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div>
  <div id="viewModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{cgpaConfiguration?.label || cgpaConfiguration?.label_alt}} Details</h4>
        </div>
        <div class="modal-body">
          <div class="m-portlet__body" *ngIf="feedBack?.viewDetails">
            <div class="form-group m-form__group row text-center">
              <div class="col-6 col-form-label text-right"><b> Label</b></div>
              <div class="col-6 col-form-label text-left">{{cgpaConfiguration?.label || cgpaConfiguration?.label_alt}}
              </div>
            </div>
            <div class="form-group m-form__group row text-center">
              <div class="col-6 col-form-label text-right"><b> Maximum Point</b></div>
              <div class="col-6 col-form-label text-left">{{cgpaConfiguration?.max_point}}</div>
            </div>
            <div class="form-group m-form__group row text-center">
              <div class="col-6 col-form-label text-right"><b> Pass Mark</b></div>
              <div class="col-6 col-form-label text-left">
                {{cgpaConfiguration?.pass_mark?.score}}
                <small class="badge badge-info">{{cgpaConfiguration?.pass_mark?.type}}</small>
              </div>
            </div>
            <div class="form-group m-form__group row text-center">
              <div class="col-6 col-form-label text-right align-self-center"><b> Degree Classes</b></div>
              <div class="col-6 col-form-label text-left">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Lower</th>
                    <th>Upper</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let dc of modifiedObject.degree_classes">
                    <td>{{ dc[0][0] }}</td>
                    <td>{{ dc[0][1][0] }}</td>
                    <td>{{ dc[0][1][1] }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group m-form__group row text-center">
              <div class="col-6 col-form-label text-right align-self-center"><b> Grades </b></div>
              <div class="col-6 col-form-label text-left">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th rowspan="2"></th>
                    <th colspan="2" class="text-center">Score</th>
                    <th rowspan="2" class="align-middle text-center">Unit</th>
                  </tr>
                  <tr>
                    <th>Min</th>
                    <th>Max</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let gd of modifiedObject.grades">
                    <td>{{ gd[0][0] }}</td>
                    <td>{{ gd[0][1]?.score?.min }}</td>
                    <td>{{ gd[0][1]?.score?.max }}</td>
                    <td>{{ gd[0][1]?.unit }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm"
                  data-dismiss="modal">Close
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          {{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.cgpa.create')">
          <a style="color: white !important;"
             class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
             (click)="openModal()">
													<span>
														<i class="la la-plus"></i>
														<span>
															CGPA Configuration
														</span>
													</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="m-portlet__body table-responsive">
    <!--begin: Datatable -->
    <table datatable [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th title="Serial Number" class="serialnum">#</th>
        <th title="Label">Label</th>
        <th title="Maximum Point">Maximum Point</th>
        <th title="Pass Mark Type">Pass Mark Type</th>
        <th title="Pass Mark Score">Pass Mark Score</th>
        <!--<th title="Enabled">Enabled</th>-->
        <th title="Date Created">Date Created</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody *ngIf="allCgpaConfiguration">
      <tr *ngFor="let data of allCgpaConfiguration?.data; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.label || data?.label_alt}}</td>
        <td>{{data?.max_point}}</td>
        <td>{{data?.pass_mark.type | titlecase}}</td>
        <td>{{data?.pass_mark.score}}</td>
        <!--<td>{{data?.enabled || 'Not Available'}}</td>-->
        <td>{{data?.created_at | date}}</td>
        <td>
          <a class="dropdown-item" (click)="CgpaView(data)" *ngIf="iAmPermitted('school.cgpa.view')">
            <i class="la la-eye"></i>
            View
          </a>
        </td>

      </tr>
      <tr *ngIf="feedBack.loader || allCgpaConfiguration.length === 0">
        <td colspan="7" *ngIf="feedBack.loader">
          <div class="text-center">Loading {{feedBack?.moduleName}} <i
            class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="7" *ngIf="!feedBack.loader && allCgpaConfiguration.length === 0">
          <div class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--end: Datatable -->
  </div>
</div>

