<div id="createStudentException" class="modal fade" role="dialog">
    <form [formGroup]="createStudentExceptionForm" (ngSubmit)="createStudentException()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Create Student Exception</h4>
                    <button class="close" type="button" (click)="triggerModalOrOverlay('close','createStudentException')">&times;</button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="schoolname">Programme:</label>
                                <select class="form-control" #setProgramme id="country"
                                        (change)="getSessionsByProgrammeId(setProgramme.value)">
                                    <option value="" disabled>Select Programme</option>
                                    <option *ngFor="let programme of allProgrammes; let ind=index"
                                            value="{{programme?.id}}">
                                        {{programme?.name}}
                                    </option>
                                </select>

                            </div>
                            <div class="col-md-6">

                                <label for="schooldomain">Session Year: <i class="m-loader m-loader--brand"
                                                                           *ngIf="loadSessions"></i></label>
                                <select class="form-control" formControlName="session_year" id="country">
                                    <option value="" disabled>Select Session Year</option>
                                    <option *ngFor="let session of allSessions; let ind=index"
                                            value="{{session?.year}}">
                                        {{session?.name || session?.year}}
                                    </option>
                                </select>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="schooldomain">Status:</label>
                                <select formControlName="status" class="form-control">
                                    <option disabled value="">
                                        Select Status
                                    </option>
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                    <option value="3">Pending</option>
                                </select>


                            </div>

                            <div class="col-md-6">

                                <label for="email">Type:</label>
                                <select formControlName="type" class="form-control">
                                  <option disabled value="">
                                      Select Type
                                  </option>
                                    <option value="registration">Registration</option>
                                    <option value="fee">Fee</option>
                                    <option value=""></option>
                                </select>



                            </div>
                        </div>









                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="createStudentExceptionForm.invalid || load.requesting.create">{{load.message.create}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>

                    <button type="button" class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" (click)="triggerModalOrOverlay('close','createStudentException')">Close</button>

                </div>
            </div>
        </div>
    </form>
</div>

<div id="updateStudentException" class="modal fade" role="dialog">
    <form [formGroup]="updateStudentExceptionForm" (ngSubmit)="updateStudentException()">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Update {{updatedStudentException?.first_name}} {{updatedStudentException?.last_name}}</h4>
                    <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateStudentException')">Close</button> -->
                    <button class="close" type="button" (click)="triggerModalOrOverlay('close','updateStudentException')">&times;</button>

                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">

                                <label for="schoolname">First Name:</label>
                                <input class="form-control" formControlName="first_name" id="schoolname" placeholder="First Name">

                            </div>
                            <div class="col-md-6">

                                <label for="middle_name">Middle Name:</label>
                                <input class="form-control" id="domain" formControlName="middle_name" placeholder="Middle Name">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="schooldomain">Last Name:</label>
                                <input class="form-control" id="domain" formControlName="last_name" placeholder="Last Name">

                            </div>

                            <div class="col-md-6">

                                <label for="email">Email:</label>
                                <input class="form-control" formControlName="email" id="email" placeholder="Email">



                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">


                                <label for="country">Country:</label>
                                <select class="form-control" #country formControlName="country_id" id="country" (change)="getStateByCountryId(country.value)">
                                    <option value="" disabled>Select Country</option>
                                    <option *ngFor="let country of allCountries; let ind=index" value="{{country.id}}">{{country.name}}</option>
                                </select>




                            </div>
                            <div class="col-md-6">

                                <label for="state">State:</label>
                                <select class="form-control" formControlName="state_id" id="state">
                                    <option value="" disabled>Select State</option>
                                    <option *ngFor="let state of allStates; let ind=index" value="{{state.id}}">{{state.name}}</option>
                                </select>


                            </div>

                        </div>


                        <!-- <div class="row">
                                    <div class="col-md-6">


                                        <label for="course">Faculty:</label>
                                        <select class="form-control" #faculty formControlName="faculty_id" id="faculty" (change)="getDepartmentByByFacultyId(faculty.value)">
                                            <option value="" disabled>Select Faculty</option>
                                            <option *ngFor="let faculty of allFaculties; let ind=index" value="{{faculty.id}}">{{faculty.name}}</option>
                                        </select>


                                    </div>
                                    <div class="col-md-6">
                                        <label for="department">Department:</label>
                                        <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.departments.loading"></i>
                                        <select class="form-control" #deprtmnt formControlName="department_id" id="department"
                                            (change)="getCourseByDepartmentId(deprtmnt.value)" [disabled]="!load.departments.list || load.departments.loading">
                                            <option value="" disabled>Select Department</option>
                                            <option *ngFor="let department of allDepartments; let ind=index" value="{{department.id}}">{{department.name}}</option>
                                        </select>


                                    </div>

                                </div>

         -->



                        <div class="row">

                            <div class="col-md-6">
                                <label for="course">Course of Study:</label>
                                <i class="m-loader m-loader--right m-loader--brand" *ngIf="load.courses.loading"></i>
                                <select class="form-control" #course formControlName="course_of_study_id" id="course" [disabled]="!load.courses.list || load.courses.loading">
                                    <option value="" disabled>Select Course</option>
                                    <option *ngFor="let course of allCourses; let ind=index" value="{{course.id}}">{{course.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">

                                <label for="matric_no">Matriculation Number:</label>
                                <input class="form-control" formControlName="matric_no" id="matric_no" placeholder="Matric No" readonly disabled>

                            </div>
                        </div>





                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" [disabled]="updateStudentExceptionForm.invalid || load.requesting.create">{{load.message.update}}
                        <i *ngIf="load.requesting.create" class="m-loader m-loader-brand"></i>
                    </button>


                    <button type="button" class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" (click)="triggerModalOrOverlay('close','updateStudentException')">Close</button>


                </div>
            </div>
        </div>
    </form>
</div>



    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Student Exceptions
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm" style="padding: 4px" (click)="triggerModalOrOverlay('open','createStudentException')">
                            <i class="fa fa-plus"></i>
                            Create
                        </button>

                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="m_datatable m-datatable m-datatable--default m-datatable--scroll m-datatable--loaded"
                 id="m_datatable_latest_orders">
                <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="table table-hover table-striped table-sm m-table--head-bg-brand" id="html_table">
                    <thead class="thead-color">
                        <tr>
                            <th>
                                #
                            </th>
                            <th>Programme
                            </th>
                            <th>
                               Session
                            </th>
                            <th>
                              Type
                            </th>
                            <th>
                               Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td colspan="11" *ngIf="allStudentExceptions.length==0">
                                <span *ngIf="allStudentExceptions.length==0 && !load.requesting.list">No Record Found</span>
                                <span *ngIf="load.requesting.list">Fetching Student Exceptions..
                                    <i class="m-loader m-loader--right m-loader--brand"></i>
                                </span>
                            </td>
                        </tr>
                        <tr *ngFor="let student of allStudentExceptions; let ind=index">
                            <td>{{ind+1}}
                                <td>{{student?.programme || 'None Captured'}}</td>
                                <td>{{student?.session_name || student?.session_year || 'None Captured'}}</td>
                                <td>{{student?.type || 'None Captured'}}</td>
                                <td *ngIf="student.status==='1'" style="color:green">
                                    <i class="fa fa-check fa-2x"></i>
                                </td>
                                <td *ngIf="student.status==='0'" style="color:red">
                                    <i class="fa fa-times fa-2x"></i>
                                </td>
                                <td>
                                    <button class="btn btn-info btn-xs" (click)="triggerModalOrOverlay('open','updateStudentException',ind)">
                                        <i class="fa fa-pencil" *ngIf="!student?.loading"></i>
                                        <i class="m-loader m-loader--right m-loader--brand" *ngIf="student?.loading"></i>

                                    </button>
                                </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--end: Datatable -->
        </div>
    </div>
