<!-- Modal -->
<div id="viewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Payment Method Details</h4>
      </div>
      <div class="modal-body" *ngIf="feedBack?.viewDetails">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-advance table-hover">
            <tr>
              <td>Student Matric</td>
              <td>{{feedBack?.viewDetails?.matric_no}}</td>
            </tr>
            <tr>
              <td>Department</td>
              <td>{{feedBack?.viewDetails?.name}}</td>
            </tr>
            <tr>
              <td>Amount</td>
              <td>{{feedBack?.viewDetails?.amount}}</td>
            </tr>
            <tr>
              <td>Payment Method</td>
              <td>{{feedBack?.viewDetails?.payment_method}}</td>
            </tr>
            <tr>
              <td>Transaction Id</td>
              <td>{{feedBack?.viewDetails?.transaction_id}}</td>
            </tr>
            <tr>
              <td>Session Year</td>
              <td>{{feedBack?.viewDetails?.session_name || feedBack?.viewDetails?.session_year}}</td>
            </tr>
            <tr>
              <td>Item(s)</td>
              <td>
                <table *ngFor="let item of feedBack?.viewDetails?.student_transaction_items">
                  <tr>
                    <td>Amount</td>
                    <td>{{item?.amount}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-accent m-btn m-btn--custom m-btn--icon btn-danger m-btn--pill m-btn--air btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          <span id="reportName" (click)="navigateToReport()">Reports/ Transaction </span>{{feedBack?.moduleName}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools" *ngIf="feedBack?.allStudents?.length > 0">
      <div class="form-group m-form__group row" style="padding-bottom: 1px; float: right !important;">
        <div class="col-6 col-form-label">
          Students
        </div>
        <select class="form-control m-input" (change)="onSelectDept($event)">
          <option></option>
          <option *ngFor="let student of feedBack?.allStudents" [value] = "student?.id">{{student?.first_name}}</option>
        </select>
      </div>
    </div>

  </div>
  <div class="m-portlet__body table-responsive">
    <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
    <table class="table table-hover table-striped table-sm m-table--head-bg-brand">
      <thead class="thead-color">
      <tr>
        <th title="Field #1" class="serialnum">
          #
        </th>
        <th title="Field #2">
          Matric No.
        </th>
        <th title="Field #2">
          Dept. Name
        </th>
        <th title="Field #2">
          Session
        </th>
        <th title="Field #2">
          Payment Method
        </th>
        <th title="Field #2">
          Amount
        </th>
        <th title="Field #3">
          Created Date
        </th>
        <th title="Field #3">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of feedBack?.allResponse; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{data?.matric_no}}</td>
        <td>{{data?.name}}</td>
        <td>{{data?.session_name || data?.session_year}}</td>
        <td>{{data?.payment_method}}</td>
        <td>{{data?.amount}}</td>
        <td>{{data?.created_at | date}}</td>
        <td><button class="btn btn-info btn-xs" (click)="onView(data)"><i class="fa fa-eye"></i></button></td>
      </tr>
      <tr>
        <td colspan="8" *ngIf="feedBack.loader">
          <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
        </td>
        <td colspan="8" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
          <div  class="text-center">No Content Found</div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
    <!--end: Datatable -->
  </div>
</div>

