<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
  <!-- BEGIN: Left Aside -->
  <button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
    <i class="la la-close"></i>
  </button>
  <div id="m_aside_left" class="m-grid__item m-aside-left ">
    <!-- BEGIN: Aside Menu -->
    <div
            id="m_ver_menu"
            class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
            data-menu-vertical="true"
            data-menu-scrollable="false" data-menu-dropdown-timeout="500">

      <app-aside-nav></app-aside-nav>
    </div>
    <!-- END: Aside Menu -->
  </div>
  <!-- END: Left Aside -->

  <!-- START: Edit Modal -->
  <div id="updateExeatRequest" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <form [formGroup]="updateExeatForm" (ngSubmit)="updateExeatRequest()" class="m-form m-form--label-align-right">
          <div class="modal-header">
            <h4 class="modal-title">Edit Exeat Request</h4>
            <!-- <button class="btn btn-danger btn-xs pull-right" type="button" (click)="triggerModalOrOverlay('close','updateJambRecord')">Close</button> -->
            <button class="close" type="button" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                Destination:
              </label>
              <div class="col-lg-7">
                <input formControlName="destination" type="text" class="form-control m-input">
                <!--<span class="m-form__help">-->
                <!--We'll never share your email with anyone else-->
                <!--</span>-->
              </div>
            </div><!--Destination-->
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                Purpose of Visit:
              </label>
              <div class="col-lg-7">
                <textarea formControlName="purpose" type="text" class="form-control m-input"></textarea>
                <!--<span class="m-form__help">-->
                <!--Please enter your full name-->
                <!--</span>-->
              </div>
            </div><!--Purpose-->
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                Who to Visit:
              </label>
              <div class="col-lg-7">
                <input formControlName="who_to_visit" type="text" class="form-control m-input">
                <!--<span class="m-form__help">-->
                <!--We'll never share your email with anyone else-->
                <!--</span>-->
              </div>
            </div><!--Who to Visit-->
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                Relation with who to visit:
              </label>
              <div class="col-lg-7">
                <input formControlName="who_to_visit_relationship" type="text" class="form-control m-input">
                <!--<span class="m-form__help">-->
                <!--We'll never share your email with anyone else-->
                <!--</span>-->
              </div>
            </div><!--Relationship with Who to Visit-->
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                Contact of who you are visiting:
              </label>
              <div class="col-lg-7">
                <input formControlName="who_to_visit_contact" type="text" class="form-control m-input">
                <small class="m-form__help m--font-danger" *ngIf="updateExeatForm.get('who_to_visit_contact').touched && updateExeatForm.get('who_to_visit_contact').invalid">
                  Please enter a valid Phone Number
                </small>
              </div>
            </div><!--Contact of Who to Visit-->
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                From:
              </label>
              <div class="col-lg-7">
                <input formControlName="start_date" type="date" class="form-control m-input">
                <!--<span class="m-form__help">-->
                <!--We'll never share your email with anyone else-->
                <!--</span>-->
              </div>
            </div><!--Start Date-->
            <div class="form-group m-form__group row">
              <label class="col-lg-5 col-form-label">
                To:
              </label>
              <div class="col-lg-7">
                <input formControlName="end_date" type="date" class="form-control m-input">
                <!--<span class="m-form__help">-->
                <!--We'll never share your email with anyone else-->
                <!--</span>-->
              </div>
            </div><!--End Date-->
          </div>
          <div class="modal-footer">
            <button class="btn btn-accent m-btn m-btn--pill m-btn--air float-right" type="submit">
              Submit
              <i class="m-loader m-loader--right m-loader--light" *ngIf="loading.updating"></i>
            </button>
            <button type="button"
                    class="btn btn-accent btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                    data-dismiss="modal">Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- END: Edit Modal -->

  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- END: Subheader -->
    <div class="m-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Exeat Request
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--<div class="m&#45;&#45;margin-30">-->
              <!--<button class="btn btn-accent m-btn&#45;&#45;air m-btn&#45;&#45;pill" (click)="getAllExeats()">Previous Exeat Requests</button>-->
              <!--</div>-->
              <div class="m-accordion m-accordion--bordered">
                <div class="m-accordion__item">
                  <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_1_head"
                       data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded="false">
                        <span class="m-accordion__item-icon">
                          <i class="fa flaticon-file"></i>
                        </span>
                    <span class="m-accordion__item-title">
                                New Exeat Request
                        </span>
                    <span class="m-accordion__item-mode"></span>
                  </div>
                  <div class="m-accordion__item-body collapse" id="m_accordion_1_item_1_body" role="tabpanel"
                       aria-labelledby="m_accordion_1_item_1_head" data-parent="#m_accordion_1" style="">
                    <div class="m-accordion__item-content">
                      <form [formGroup]="exeatForm" (ngSubmit)="requestExeat()"
                            class="m-form m-form--label-align-right">
                        <div class="form-group m-form__group row">
                          <label class="col-lg-2 col-form-label">
                            Destination:
                          </label>
                          <div class="col-lg-6">
                            <input formControlName="destination" type="text" class="form-control m-input">
                            <!--<span class="m-form__help">-->
                            <!--We'll never share your email with anyone else-->
                            <!--</span>-->
                          </div>
                        </div><!--Destination-->
                        <div class="form-group m-form__group row">
                          <label class="col-lg-2 col-form-label">
                            Purpose of Visit:
                          </label>
                          <div class="col-lg-6">
                            <textarea formControlName="purpose" type="text" class="form-control m-input"></textarea>
                            <!--<span class="m-form__help">-->
                            <!--Please enter your full name-->
                            <!--</span>-->
                          </div>
                        </div><!--Purpose-->
                        <div class="form-group m-form__group row">
                          <label class="col-lg-2 col-form-label">
                            Who to Visit:
                          </label>
                          <div class="col-lg-6">
                            <input formControlName="who_to_visit" type="text" class="form-control m-input">
                            <!--<span class="m-form__help">-->
                            <!--We'll never share your email with anyone else-->
                            <!--</span>-->
                          </div>
                        </div><!--Who to Visit-->
                        <div class="form-group m-form__group row">
                          <label class="col-lg-2 col-form-label">
                            Relation with who to visit:
                          </label>
                          <div class="col-lg-6">
                            <input formControlName="who_to_visit_relationship" type="text" class="form-control m-input">
                            <!--<span class="m-form__help">-->
                            <!--We'll never share your email with anyone else-->
                            <!--</span>-->
                          </div>
                        </div><!--Relationship with Who to Visit-->
                        <div class="form-group m-form__group row">
                          <label class="col-lg-2 col-form-label">
                            Contact of who you are visiting:
                          </label>
                          <div class="col-lg-6">
                            <input formControlName="who_to_visit_contact" type="text" class="form-control m-input">
                            <small class="m-form__help m--font-danger" *ngIf="exeatForm.get('who_to_visit_contact').touched && exeatForm.get('who_to_visit_contact').invalid">
                              Please enter a valid Phone Number
                            </small>
                          </div>
                        </div><!--Contact of Who to Visit-->
                        <div class="form-group m-form__group row">
                          <label class="col-lg-2 col-form-label">
                            From:
                          </label>
                          <div class="col-lg-6">
                            <input formControlName="start_date" type="date" class="form-control m-input">
                            <!--<span class="m-form__help">-->
                            <!--We'll never share your email with anyone else-->
                            <!--</span>-->
                          </div>
                        </div><!--Start Date-->
                        <div class="form-group m-form__group row">
                          <label class="col-lg-2 col-form-label">
                            To:
                          </label>
                          <div class="col-lg-6">
                            <input formControlName="end_date" type="date" class="form-control m-input">
                            <!--<span class="m-form__help">-->
                            <!--We'll never share your email with anyone else-->
                            <!--</span>-->
                          </div>
                        </div><!--End Date-->
                        <div class="form-group m-form__group row">
                          <div class="col-8">
                            <button class="btn btn-accent m-btn m-btn--pill m-btn--air float-right" type="submit">
                              &nbsp;&nbsp;&nbsp; Submit &nbsp;&nbsp;&nbsp;
                              <i class="m-loader m-loader--right m-loader--light" *ngIf="loading.creating"></i>
                            </button>
                          </div>
                        </div><!--Button-->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="small-margin"></div><div class="small-margin"></div><div class="small-margin"></div><div class="small-margin"></div>
              <div class="" *ngIf="exeatRequest?.length != 0">
                <table datatable [dtTrigger]="dtTrigger"
                       class="table table-hover table-striped table-sm m-table--head-bg-brand table-responsive-sm">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Date Created</th>
                    <th>Destination</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Who to Visit</th>
                    <th>Contact</th>
                    <th>Relationship</th>
                    <th>Status</th>
                    <th>Edit</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="loading.listing" class="text-center">
                    <td colspan="10" *ngIf="loading.listing">
                      Fetching...&nbsp;&nbsp;&nbsp;<i class="m-loader m-loader--brand"></i>
                    </td>
                    <td colspan="10" *ngIf="!loading.listing && allExeatRequests.length === 0">
                      No Record Found
                    </td>
                  </tr>
                  <tr *ngFor="let exeat of exeatRequest; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{exeat?.created_at | date}}</td>
                    <td>{{exeat?.destination}}</td>
                    <td>{{exeat?.start_date}}</td>
                    <td>{{exeat?.end_date}}</td>
                    <td>{{exeat?.who_to_visit}}</td>
                    <td>{{exeat?.who_to_visit_contact}}</td>
                    <td>{{exeat?.who_to_visit_relationship}}</td>
                    <td *ngIf="exeat?.status == 2"><span class="m--font-warning">Pending</span></td>
                    <td *ngIf="exeat?.status == 1"><span class="m--font-success">Successful</span></td>
                    <td *ngIf="exeat?.status == 0"><span class="m--font-danger">Declined</span></td>
                    <td>
                      <button class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" [disabled]="exeat?.status != 2">
                        <i class="fa fa-edit" (click)="openSesame(i)"></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
