<!-- Modal -->
<div id="openModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{feedBack?.formType}} {{feedBack?.moduleName}}</h4>
            </div>
            <div class="modal-body">
                <form [formGroup] = "createForm" class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row" style="padding-bottom: 1px;">
                            <label for="example-text-input" class="col-2 col-form-label">
                              <span class="styleStar">*</span>Name
                            </label>
                            <div class="col-10">
                                <input class="form-control m-input" formControlName="name" type="text" value="Artisanal kale" id="example-text-input">
                                <div  class="alert alert-danger col-12" role="alert" *ngIf="createForm.get('name').invalid && createForm.get('name').touched">
                                    <strong>
                                        Name is Required
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" *ngIf="!feedBack.showUpdateButton" (click)="createFormModal()" class="btn btn-success btn-xm" data-dismiss="modal" [disabled] ="feedBack.submitStatus || createForm.invalid">
                    Submit <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
                </button>
                <button type="button" *ngIf="feedBack.showUpdateButton" (click)="updateFormModal()" class="btn btn-success btn-xm" data-dismiss="modal" [disabled] ="feedBack.submitStatus || createForm.invalid">
                    Update <i class="m-loader m-loader--right m-loader--brand" *ngIf="feedBack.submitStatus"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="viewModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{feedBack?.moduleName}} Details</h4>
            </div>
            <div class="modal-body">
                <form [formGroup] = "createForm" class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body" *ngIf="feedBack?.viewDetails">
                        <div class="form-group m-form__group row text-center" style="padding-bottom: 1px;">
                            <div for="example-text-input" class="col-6 col-form-label text-right">
                                Name:
                            </div>
                            <div for="example-text-input" class="col-6 col-form-label text-left">
                                {{feedBack?.viewDetails.name}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-xm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- BEGIN: Subheader -->
<!-- END: Subheader -->

    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{feedBack?.moduleName}}
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item" *ngIf="iAmPermitted('school.school-type.create')">
                        <a style="color: white !important;"
                           class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-sm"
                           (click)="openModal()">
													<span>
														<i class="la la-plus"></i>
														<span>
															School Type
														</span>
													</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!--<div style="float: right; margin: 10px; margin-right: 4%">-->
            <!--<button class="btn btn-success btn-xm"  (click)="openModal()">-->
                <!--<i class="fa fa-plus"></i>-->
                <!--Create-->
            <!--</button>-->
        <!--</div>-->
        <div class="m-portlet__body table-responsive">
            <!--end: Ss"></ Form -->  		<!--begin: Datatable -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped table-sm m-table--head-bg-brand">
                <thead class="thead-color">
                <tr>
                    <th class="serialnum">#</th>
                    <th>Name</th>
                    <th>Created Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of feedBack?.allResponse; let i = index">
                    <td scope="row">{{i+1}}</td>
                    <td>{{data?.name}}</td>
                    <td>{{data?.created_at | date}}</td>
                    <td>
                        <div class="dropdown ">
                            <a href="#"
                               class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                               data-toggle="dropdown">
                                <i class="la la-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"  (click)="onEdit(data)" *ngIf="iAmPermitted('school.school-type.update')">
                                    <i class="la la-edit"></i> Edit School Type
                                </a>
                                <a class="dropdown-item" (click)="onView(data)" *ngIf="iAmPermitted('school.school-type.view')">
                                    <i class="la la-eye"></i> View School Type
                                </a>
                            </div>
                        </div>

                        <!--<button (click)="onEdit(data)" class="btn btn-primary btn-xm" >-->
                            <!--<i class="fa fa-pencil"></i>-->
                        <!--</button>-->
                        <!--<button (click)="onView(data)" class="btn btn-primary btn-xm" >-->
                            <!--<i class="fa fa-eye"></i>-->
                        <!--</button>-->
                    </td>
                </tr>
                <tr *ngIf="feedBack.loader || feedBack?.allResponse.length === 0">
                    <td colspan="4" *ngIf="feedBack.loader">
                        <div  class="text-center">Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>
                    </td>
                    <td colspan="4" *ngIf="!feedBack.loader && feedBack?.allResponse.length === 0">
                        <div  class="text-center">No Content Found</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--<div class="text-center" *ngIf="feedBack.loader"> Loading {{feedBack?.moduleName}} <i class="m-loader m-loader--right m-loader--brand"></i></div>-->
            <!--end: Datatable -->
        </div>
    </div>

